[2019-12-11 10:52] brianv0 commented on #322
ah I see. I suppose you could have a third proxy which didn't use a group enforcement/admin email - but you'd want to make sure that proxy's `/oauth2/start` (and possibly `/oauth2/sign_in`) endpoints were protected/blocked in some way so it could not be used for a login.

I think that it's maybe possible for `ValidateGroup` to be removed. Only the google provider implements it. If people are using

[2019-12-11 19:14] alexellis commented on #327
First of all congratulations on what you've been able to achieve. I'm not a user of this project but I can see the value of it being in the ecosystem.

This all sounds like a solid case for what you're proposing.

This actually does seem like it would cause a lot of confusion though. Do you remember Logrus/logrus and the fallout? Have you considered a completely new name or adopting the name of th

[2019-12-11 22:33] syscll commented on #327
My thoughts behind swapping the underscore for a hyphen was the ease of getting a domain name/GitHub username. I do remember the fallout from the Logrus name change, but I don't _think_ that would be a problem here as this isn't a library. But maybe I'm missing something?

I feel like keeping the name the same/similar might cause less confusion compared to creating a completely new name. For examp

[2019-12-12 07:29] Crevil commented on #327
To me this is a natural move for many OSS projects especialy when preparing adoption in a foundation.
Flux recently moved from Weaveworks to fluxcd for many of the same reasons.

Regarding the name change I think the change proposed is subtle enough that search engines will follow along. But I’m a bit unsure on what the benefits of the change is?

[2019-12-12 09:29] jheidbrink commented on #322
We actually found that with v4.0.0 we don't even need this dual proxy setup anymore. Since commit 7d910c0ae8eef5620fd6524a38521e953d1adb8e we can have one group in domain1 that contains members of domain1 and domain2 and let oauth2_proxy check for membership in that group.

I'm leaving this issue open anyway, so the idea of caching the group member lookup or removing `ValidateGroup` from `getAuthe

[2019-12-12 12:59] jheidbrink opened #328 "Callback URI redirects to signin URI"
We have an nginx-ingress that uses oauth2_proxy's `/oauth2/auth` endpoint to authenticate requests. If that endpoint replies with 401, it redirects the user to the `/oauth2/sign_in?rd=<original_url>` endpoint, where `<original_url>` is the URL that the user originally requested.

## Expected Behavior

After signing in, the `/oauth2/callback` endpoint should redirect the user to the URL that was or

[2019-12-12 15:04] JoelSpeed commented on #318
Hey @howzat, thanks for bringing this bug to our attention! I agree with your analysis of our code and your proposed solution, would you be able to create a PR with the fix?

Out of interest, which IDP are you using? Do they not update the ID Token on a refresh? I'm a little confused about why you wouldn't want to update the token, surely in refreshing it this modifies the `exp` claim of the ID to

[2019-12-12 15:12] JoelSpeed commented on #315
You should be able to use the functionality added in #65 to achieve what you are trying.

Unfortunately, I don't think this is documented anywhere, if anyone has opportunity to add it to the docs, that would be greatly appreciated 😄

[2019-12-12 15:19] JoelSpeed commented on #320
It looks like the authentication is failing during the key exchange with Azure. The key message here is the `invalid audience` part. `audience` should match the client ID so try to ensure that the client ID is being set correctly in the OAuth2 Proxy, not sure what else to recommend from the information given apart from potentially adding some more debug logging to the code and running a more verbo

[2019-12-12 15:22] JoelSpeed commented on #230
Hey @omeryesil, could you provide a few extra details to help us work this out with you?

Which provider are you using?
Have you managed to get an ID Token for your backend code?
Have you seen the work done in #65? (Apologies it isn't really documented)

I believe the work from #65 may solve your issue, it was originally discussed in #18

[2019-12-12 15:22] JoelSpeed commented on #18
This has been implemented and released, closing the issue now 😄

[2019-12-12 15:22] #18 closed

[2019-12-12 15:26] JoelSpeed commented on #321
@martin-css I believe you are correct and this is a real issue. As far as I'm aware there is no way to protect against this. We should try and come up with a guard to prevent malicious users from abusing this logging as they currently can

[2019-12-12 15:30] martin-css commented on #321
It's useful to support headers like `X-Real-IP` (or the more common `X-Forwarded-For`) but these are normally disabled by default & have to be explicitly enabled due to the security implications.

I'd suggest some sort of configuration value to control whether usage of these headers is allowed?

[2019-12-13 10:08] syscll commented on #324
This sounds good to me. The `./configure` file never seems to work as expected for me, so I'd agree that it would be nice to remove an additional bash script.

[2019-12-13 12:02] howzat commented on #318
Thanks @JoelSpeed - I'll see what I can do. The IDP is Ping. What you say makes sense. I'm afraid I can't offer any insight as to whether this is the default behaviour for Ping or whether it is the result of some intentional (or otherwise) customisation.

[2019-12-13 13:47] bulzipke opened #329 "I can no longer run linux-amd64 prebuild binary on Alpine."
## Expected Behavior
./oauth2_proxy --help

## Current Behavior
./oauth2_proxy --help

## Possible Solution
Binary in the docker(quay.io/pusher/oauth2_proxy) work well
-> oauth2_proxy v4.1.0-1-gef8b7b5 (built with go1.13.5)
Previous binary (https://github.com/pusher/oauth2_proxy/releases/download/v4.0.0/oauth2_proxy-v4.0.0.linux-amd64.go1.12.1.tar.gz) work well
-> oauth2_proxy v4.0.0 (built with g

[2019-12-13 16:42] steakunderscore commented on #329
Just confirmed this issue. Using v4.0.0 works as expected, but v4.1.0 does not.

[2019-12-13 20:05] steakunderscore commented on #321
Would it be a good idea to validate that what we are logging is actually an IP address. The intent is to at least mitigate an attacker being able to log any arbitrary string.

[2019-12-13 23:50] hesstobi opened #330 "Support for docker secrets"
## Expected Behavior

The docker container should set the docker secrets  as environment variables.

## Current Behavior

The docker container does not support to set secrets as environment variables. Thus secrets has to  exposed in the compose-file.

## Possible Solution

Office docker container using a `docker-entrypoint.sh` to achieve this. In this case in can be look like.

[code]

The `docker

[2019-12-16 17:05] JoelSpeed commented on #330
Hey @hesstobi, Could you please explain a little more about your use case here? I'm a little confused by what you're trying to achieve here so I'm not following the suggested solution. I guess my main questions are "How are you running the proxy?", "How are you storing your secret values at present?" if that helps you formulate a reply :)

[2019-12-16 17:23] JoelSpeed commented on #329
Have we changed anything about the build process? This sounds like it's going to be some kind of linking issue due to CGO I suspect

We built the binaries using a `make release` target on a macbook, but a different macbook to the previous release, I wonder if there's something strange going on with the dependencies for this

Perhaps we should get all the builds to run inside docker so we can pin d

[2019-12-16 20:14] martin-css commented on #321
I don't see the value is this. It might restrict the format of what an attacker can set but I can still set `-H 'X-Real-Ip: 8.8.8.8` to any malicious requests and an unsuspecting sysadmin might wonder what Google's public DNS server is doing to his proxy :smile:

I've added a pull request with my suggestion for discussion.

[2019-12-17 10:10] dmasbb commented on #320
Hi @JoelSpeed

First, thank you for your help and the correction on the project name. :-)
I set the client id and secret with the env variable OAUTH2_PROXY_CLIENT_ID.
But as you suggested, I'll try a more verbose mode.

What I'm trying to do, is enabling Oauth2 for Bitbucket (web and git clones) without using Crowd.
Do you have any experience with that? Does this constellation even work:

nginx (:

[2019-12-17 10:46] JoelSpeed commented on #219
Is this issue resolved by #265 ?

[2019-12-17 17:31] jceresini commented on #305
I ran into this same issue using the oidc provider. For me, the issue was caused by my `oidc_jwks_url` being broken (it was returning a 404). I saw the same 404 error in the output before it crashed.

I'm not sure what URLs are fetched for the gitlab provider, but that html above indicates the 404 is from gitlab

[2019-12-17 21:24] tsraza commented on #219
Yes it is.  it works great

[2019-12-17 21:24] #219 closed

[2019-12-18 09:21] fiammaz commented on #315
I recently implemented a solution similar to the one you need using Google as provider.
You have to start oauth2_proxy with:
[code]

extra-jwt-issuers MUST be specified even if you have already configured the same in oauth2_proxy.cfg

[2019-12-18 10:06] dennisbrouwer91 opened #333 "Not working with Rundeck?"
Hi,

I'm trying to setup oauth2_proxy in front of Rundeck, as described on their documentation you can use the preauthentication https://docs.rundeck.com/docs/administration/security/authentication.html#preauthenticated-mode-using-headers

Login through Okta is working as expected and in the oauth2_proxy logs i can see i'm logged in. But for some reason Rundeck is redirecting me to the /user/login

[2019-12-18 10:44] JoelSpeed commented on #315
I think the intention was that specifying extra's shouldn't have been necessary, but perhaps that only works with the OIDC provider, perhaps that's something we should fix?

[2019-12-18 11:51] fiammaz commented on #315
I think so.
file: oauthproxy.go, line: 991

`	for _, verifier := range p.jwtBearerVerifiers {
		bearerToken, err := verifier.Verify(ctx, rawBearerToken)`

if extra-jwt-issuers is not set, p.jwtBearerVerifiers is null and the token isn't verified (returning a misleading error)

[2019-12-18 13:45] markuzzi opened #334 "Option skip-provider-button provides white page with "Found." link"
When I use the parameter -skip-provider-button, the login button is not shown anymore, but a white page with a single link named "Found" instead.

## Expected Behavior
I would have expected to be redirected to the login site of the provider directly. In addition, the Found link does not work, as it contains a redirect URI with 0.0.0.0 as host name.

## Current Behavior
Show white page with "Found"

[2019-12-18 20:18] tsraza opened #336 "Self signed certificates for auth provider"
## Expected Behavior

It would be nice to be able to pass a path to the root certificate of the auth provider.  This would be useful for self-hosted gitlab instances, for example.

## Current Behavior

You have to build a custom docker image (no big deal) to make it work.

## Possible Solution

There is currently a flag for the redis root certificate (`redis-ca-path`).  Implement a similar flag (`

[2019-12-18 22:30] sneko opened #337 "What is the best way to get provider user token?"
Hi,

Is there any way to get the "provider user access token" so I can reuse it elsewhere in my services?

I'm interested in my backend retrieving more information about the logged user, but while taking a look at `oauth2_proxy` code it seems the cookie is an encrypted value. So from the backend side even by reading the cookie I'm unable to determine the provider access token.

Thank you,

EDIT: I

[2019-12-21 02:57] sneko commented on #337
I clearly don't know what I'm doing wrong 😞... Using oauth2_proxy for a while but first time trying to do this.

To sum up, I have those settings:
[code]
(as you can see I try to set/pass everything since I seeing nothing)

1) So if my browser is clear, if I go to `mydomain.com/home` I will go through Google login and then access successfully to my content... But the microservice I'm reaching neve

[2019-12-21 02:58] sneko commented on #184
Hi @ploxiln , I'm trying to set those values but I don't see any result. Could you please take a look at my case https://github.com/pusher/oauth2_proxy/issues/337#issuecomment-568146049 ? Thank you

[2019-12-21 03:26] sneko commented on #199
Hi @PaulCharlton,

In my case I use both the frontend and API behind the OAuth2proxy process, but even with all settings set my API never receives any header.

That's so strange... the login flow is working normally. You can find more detrails here https://github.com/pusher/oauth2_proxy/issues/337#issuecomment-568146049

[2019-12-21 03:31] sneko commented on #337
Just thinking about something, I'm using the same base domain for both my microservice and the OAuth2Proxy.

Ingress for microservice catches: `domain.com/*`
Ingress for OAuth2Proxy catches: `domain.com/oauth2/*`

I'm wondering if it can be the origin of the issue hmmmm (need to make some tests)

[2019-12-23 23:04] sneko commented on #337
I made this working:

1) Use OAuth2Proxy just to check authentication (not to proxyfy all requests with the `upstream` parameter)
2) Need to set the access token in Oauth2Proxy responses with `set-authorization-header=true`, like that when Nginx checks the authentication this latter is able to access the access token value
3) Tell Nginx Ingress to forward a specific authentication response header

[2019-12-23 23:04] #337 closed

[2019-12-28 00:56] teralype commented on #254
What error was this?

[2019-12-28 16:49] JoelSpeed commented on #336
Happy to have this supported, seems like a reasonable feature to have! I'm sure I was talking to someone about this recently though 🤔 I can't find the issue at the moment though and there doesn't seem to be a PR open that's relevant

[2019-12-29 08:33] yan-dblinf opened #340 "Support for Redis Cluster"
## Expected Behavior
As Redis Cluster is widely used in my company, we'd adopt it as the session store.

## Current Behavior
Only Redis and Redis Sentinel are supported as #155.

## Possible Solution
I made a workable [quick-patch](https://github.com/yan-dblinf/oauth2_proxy/commit/3c367af4d60b2ed0a3b1abf4fefff2cd1e54b87f) verified by our current use cases.  However, there are many duplications fro

[2019-12-29 12:30] dcarrion87 commented on #333
I'm currently working through this at the moment too. Samples out there just do not work. Will drop notes back here as I figure it out.

[2019-12-29 19:03] JoelSpeed commented on #340
When this was implemented, I didn't really expect people to need redis cluster. My understanding is that cluster is used when you need to shard data, and I didn't imagine the OAuth2 Proxy session storage to be that big?

That said, this seems like a reasonable thing to support in addition to sentinel, though I'd ask if you could remain with one provider within the code base, maybe `--redis-use-clu

[2019-12-30 16:24] pasha-r opened #341 "Support for client secret file."
## Expected Behavior

Some OAuth2 identity management systems rotate client secrets and upload such secrets to running applications as a file in a mounted volume. I would like to be able to read client secret from an in-memory file every time I need to issue a redeem or redeem refresh request.

## Current Behavior

Currently the value of ClientSecret is set for the lifetime of the application. Rot

[2019-12-30 19:27] JoelSpeed commented on #341
I've not seen any OAuth2 systems that do this before, have you got a link to where I could learn more about this and how it works within one of these providers?

Your solution seems very reasonable, I'm sure we'd happily accept a PR that implements the suggestion 😄

[2020-01-02 22:00] tg44 opened #342 "Support username list"
Some of the providers (github/gitlab) have a [GetUserName](https://github.com/pusher/oauth2_proxy/blob/7663565cd3ebdfffa2002e8b0664cff41a2faa51/providers/provider_default.go#L114) implementation. It would be straightforward to use a username list as access control. (Something like: `AUTHENTICATED_USERNAMES=you,me,others`) Also for shorter lists, it would be nice to feed the allowed emails as a com

[2020-01-03 10:34] Jude188 commented on #257
I would at least be very useful to be able to restrict by 'group claim'

[2020-01-03 10:44] Jude188 opened #343 "Keycloak provider documentation"
## Expected Behavior

At the moment the documentation around the Keycloak Provider does not mention the `-keycloak-group` argument.
https://github.com/pusher/oauth2_proxy/blob/master/options.go#L45

## Current Behavior

It probably should as this is a very very useful feature for Keycloak users which the current OIDC provider does not support.

## Possible Solution

Add some more docs

[2020-01-03 11:58] blang opened #344 "PassAuthorizationHeader invalid in combination with SkipJwtBearerTokens"
## Expected Behavior

If we set `-skip-jwt-bearer-tokens=true` and `-pass-authorization-header=false` and authenticate against the proxy with a valid bearer token (client credentials flow),
we expect the bearer token not to be presented to upstream.

This is important for upstreams handling its authorization by itself if presented with an Authorization header. Current example is the AWS managed se

[2020-01-04 03:29] JoelSpeed commented on #342
Hey @tg44, what is the benefit/use case for this that differs from having groups authenticated? I've tried managing individuals on systems like this in the past and it's often cumbersome. Managing the authenticated users via a group is the way I've tended to go in the past (updating a GitHub group vs deploying an update to the config of an application)

If there's a good use case, I don't think th

[2020-01-04 03:31] JoelSpeed commented on #343
Probably should be mentioned I agree! Has anyone got time to rustle up a PR?

[2020-01-04 11:52] pasha-r commented on #341
Thanks!
I'll create a PR. Hopefully next week 😄

About the secrets' management system. It's an internal system. But apparently it was open-sourced!
This: https://kubernetes-on-aws.readthedocs.io/en/latest/user-guide/example-credentials.html
And this: https://kubernetes-on-aws.readthedocs.io/en/latest/user-guide/zalando-iam.html

And it's also possible to rotate google IAM credentials for service a

[2020-01-05 02:47] tchellomello commented on #46
@fnkr  Thanks for your example on Traefik 2.0. It helped me to get it configured. It is working now, however, with one issue. After authorizing the user via Github, the URL gets redirected to the oauth2 internal site instead of the original requested site. Any ideas?

[2020-01-05 03:21] tchellomello commented on #46
Thanks for sharing your config. I got it working, however, I'm facing some issues to get the redirect to work. I can authenticate but the URL is not being redirected to the original URL requested. Any ideas?

[2020-01-05 03:23] tchellomello commented on #46
@fnkr  I think it is related with https://github.com/pusher/oauth2_proxy/issues/328

[2020-01-05 15:19] grimmy commented on #56
I'm trying to use [jetbrains hub](https://www.jetbrains.com/hub/) and I'm getting the `Error redeeming code during OAuth2 callback: unable to update session: id_token did not contain an email` error.

I'm willing to do the work to get this fixed, I'm just not sure exactly what you all would be looking for here so some pointers would be cool.

[2020-01-05 16:18] grimmy commented on #56
Actuallly I found a work around by providing the `--profile-url` command line argument.  For some reason I was assuming that there would be some auto configuration magic with `.well-known/openid-configuration` but whatever, I've got it working now ;)

[2020-01-06 09:37] epasham commented on #310
yes, use oauth-proxy_cookie_secret

[2020-01-06 15:13] sushiMix commented on #343
I would add :

Replace in documentation
-redeem-url="http(s)://<keycloak host>/realms/master/<your realm>/openid-connect/auth/token"
-validate-url="http(s)://<keycloak host>/realms/master/<your realm>/openid-connect/userinfo"
by
-redeem-url="http(s)://<keycloak host>/realms/<your realm>/protocol/openid-connect/token"
-validate-url="http(s)://<keycloak host>/realms/<your realm>/protocol/openid-conn

[2020-01-06 22:10] tg44 commented on #342
My use-case is that we are not an organization, just random devs. I don't want to make a orgs/groups just to share some site, or pieces of my dev infra. I think this could be really useful for not closely related freelancers. (Yes as a freelancer I have a dev infra :) )

[2020-01-08 19:52] cfra opened #348 "Redirection target for Force HTTPS not always useful"
Checking the 4.1.0 update for https://github.com/cfra/heroku-buildpack-oauth2-proxy I ran into an issue again with cookies not being set on HTTPS as described in #259.

Happily I saw that this feature request has been implemented in #285 and enabled it. However, this caused me to be stuck in a redirect loop.

## Expected Behavior

oauth2 proxy should redirect to the same URL but with HTTPS as sche

[2020-01-10 09:35] dmasbb commented on #320
I was able to make it run.
The app registration wasn't configured correctly and also the nginx reverse proxy running on the same host as the oauth2_proxy had some misconfigurations.

[2020-01-10 09:35] #320 closed

[2020-01-12 09:22] milijander88 opened #349 "404 after successful logging to okta Traefik ingress"
I got 404 after successful logging to okta I am using Treafik ingres.

This is from logs of oauth proxy :

[code]

Traefik doesn't have a redirection option as nginx so If I use :
oauth2/sign_in and then oauth2/auth I will able to open my page,

## Expected Behavior

I expected to access to this page:
https://alertmanager-monitoring.mongodb.test.20test

## Current Behavior

oauth proxy trying to o

[2020-01-12 19:57] Just-Insane commented on #216
When trying to get this working, I am being redirected to https://oauth.domain.com, instead of https://myapp.domain.com.

I have the following Oauth2_Proxy config:

[code]

I am using Istio-IngressGateway as my ingress gateway, and have an envoy filter with the following code (this is the only way to get oauth working in Istio, as it only validates JWTs):

[code]
The envoy filter above was copied

[2020-01-12 23:38] Just-Insane opened #350 "Redirect issues with Envoy"
When setting up Oauth2_Proxy with Envoy via Istio, the direction to the IDP works (keycloak), and I can get authenticated (as shown in the Oauth2_Proxy logs), however, I am redirected to the base domain of the OAuth proxy, not the URL of the service that originally entered the flow.

## Expected Behavior

After authenticating with Keycloak and being redirected, the user should be sent to the servi

[2020-01-13 02:32] Just-Insane commented on #350
This log `127.0.0.1 - - [2020/01/13 02:27:32] oauth.corp.domain.com GET - "/oauth2/start?rd=https://rancher-demo.corp.domain.com/" HTTP/1.1 "Mozilla/5.0 (Macintosh; Intel Mac OS X 10.15; rv:72.0) Gecko/20100101 Firefox/72.0" 302 317 0.000` at the start of the oauth flow shows the proxy getting a request with the correct redirect location, however by the time this request gets to Keycloak, the redi

[2020-01-15 14:29] stovla commented on #320
Hi @dmasbb,

Can you please be more specific on the issue, what was incorrectly configured on Azure AD?

[2020-01-15 14:44] #279 closed

[2020-01-17 08:38] ffdybuster opened #352 "Login page: if reloaded in Firefox, hash will be added again"
I've noticed that when (soft-)reloading the login page in Firefox, i.e. simply pressing Ctrl+R (instead of Ctrl+Shift+R for a full reload), there's an annoying behavior on pages which use hashes (fragments) in the URL (i.e. https://example.com/#something). Since Firefox preserves form contents during soft reload (https://bugzilla.mozilla.org/show_bug.cgi?id=46845), the JavaScript embedded in the l

[2020-01-17 08:58] ffdybuster commented on #352
After a bit of testing, I added
[code]
before `inputs[i].value += window.location.hash;`, and that works fine. I'll create a PR for this later.

[2020-01-17 14:26] nicoschuck opened #354 "Get User Details from Azure AD"
I have an AKS cluster that runs with nginx-ingress in front. For authentification, I use Azure AD as IP.
Is it possible to forward the user details which Azure provides to the application? Or is there any other way to get the user details? I'm not able to send an http request directly to https://graph.windows.net/me?api-version=x.y because of my app stores only the oauth2_cookie and no auth token.

[2020-01-17 16:02] pasha-r commented on #341
https://github.com/pusher/oauth2_proxy/pull/355

[2020-01-17 20:48] manning-ncsa opened #356 "Protected target URL returns HTTP 500 code instead of redirecting to sign in page"
## Expected Behavior

I am following [this tutorial](https://github.com/kubernetes/ingress-nginx/tree/master/docs/examples/auth/oauth-external-auth) to use oauth2_proxy to enable basic authentication to a generic web app using GitHub as the third-party authenticator as in the tutorial. I expect to request the web app URL `example.com/app` and be redirected to `example.com/oauth2/sign_in` (when not

[2020-01-20 14:46] foot commented on #328
We also ran into this while trying to show the sign in page rather than immediately redirecting to github in combination w/ nginx-ingress. We replaced the [recommended annotations from nginx-ingress](https://github.com/kubernetes/ingress-nginx/tree/master/docs/examples/auth/oauth-external-auth)

[code]

But we also end up in the loop you describe. Your suggested changes make sense to me! 👍

As a w

[2020-01-21 10:18] olegblecher opened #359 "Is there a way to only allow users with 2FA-activated to log in?"
Hi there.

I have a web-based application with sensitive data, and for this reason I only want users that have 2FA activated to be able to log on.

Is there a way to force some kind of a check that does not let a user log on unless they've activated 2FA?

## Your Environment

Debian 9, Nginx.

- Version used: oauth2_proxy v2.2.0

[2020-01-21 17:08] mike-sirs opened #360 "oauth2_proxy - unable too obtain CSRF cookie"
Unable too obtain CSRF cookie

Hi
i'm trying to use **oauth2_proxy** with Gloo as a [сustom Auth server ](https://docs.solo.io/gloo/latest/security/auth/custom_auth/)

## Current Behavior

[code]

## oauth2_proxy config
[code]
In chrome cookies I have _oauth2_proxy_csrf

I've tried solutions from existing issue reports like `"_oauth2_proxy" not present` but no luck. I'm missing something.

i'm sur

[2020-01-21 22:33] tsraza commented on #350
@Just-Insane There are a couple things you should try.  First upgrade to the latest version of oauth2_proxy if you can (v4.1.0)

1. set the `-upstream` flag in the oauth2_proxy.  If using `envoy.ext_authz`, then it should be `-upstream=static://200`.  Otherwise set it to the service url.
2. add the `ext_authz` filter to your envoy config.  I don't know offhand how to do it via Istio, but the raw c

[2020-01-22 00:20] Just-Insane commented on #350
I have actually gotten this working, I plan on writing up a blog post/PR for docs at some point.

One thing I can't get working is passing a JWT to Istio from a cookie, but that may be because the cookie containing the JWT is encrypted using the client secret.

This is my current envoy filter:

[code]

Here is the (not working) filter to pass the JWT to Istio.

[code]
and the policy:

[code]

and

[2020-01-22 15:11] gogovan-vincentngai commented on #158
Do Github or Oauth2 will give me the github team in header after i success login?
so i can do something like
if (header find team a)
   then USER A
if (header find team b)
   then USER B

[2020-01-22 22:10] mike-sirs commented on #360
So it works fine if i use it as a proxy)) and not just a auth server which suppose to respond 200OK if request is authorized to pass it further.
so config like below works fine
[code]

[2020-01-22 22:10] #360 closed

[2020-01-23 10:08] amiya-elear opened #362 "unable to run self compile oauth2_proxy exc file in linux"
Hi Team,

I am trying to cteate an new binary of oauth2_proxy  using latets code by adding a new provider to it.
I am able to craete new binary using golang 1.13 but after creating binary from golang container I
ran  oauth2_proxy with below config file
./oauth2_proxy \
 --email-domain="*" \
 --upstream="http://127.0.0.1:xxxx/" \
 --approval-prompt="auto" \
 --redirect-url="http://localhost:4180/oa

[2020-01-23 23:48] ploxiln commented on #362
just guessing, this is probably due to some missed detail in https://github.com/pusher/oauth2_proxy/pull/339

[2020-01-24 11:37] dmasbb commented on #320
Hi @stovla
It looks like you have to use the same Azure AD App credentials for both (MiniOrange Plugin and oauth2_proxy).

[2020-01-24 17:32] JoelSpeed commented on #349
Hey @milijander88, Once you've attempted to log in, if you manually visit the `/oauth2/auth` URL, do you get an authorized or unauthorized response?

I suspect what is happening here is that the path in your `rd` is not being accepted as a valid redirect.
Have you set a `whitelist-domain` option when configuring the OAuth2 Proxy?

[2020-01-24 17:36] JoelSpeed commented on #216
@Just-Insane please open a new issue if you are having problems, please try not to post on closed issues

[2020-01-26 12:42] JoelSpeed commented on #354
Have you tried using the `set-authorization-header` option? This would return the Azure ID Token to your application which may contain the information you require?

There isn't presently a way to expose the auth token itself that you would require to access the profile URL (unless it would also accept the ID Token? I'm not familiar with Azure)

[2020-01-26 13:52] JoelSpeed commented on #356
Hey @manning-ncsa, Could you possibly try `example.com/oauth2/sign_in?rd=/app` in your browser to verify if the authentication and redirect flow redirects properly?

I am suspecting this is a configuration issue with how nginx is expecting the response from the proxy before it event initiates the redirect to the sign in page, but if we can verify that the rest of the process is working, this will

[2020-01-26 16:52] JoelSpeed commented on #328
I'm aware there is some discrepancy between the different routes for authentication at the moment, eg, as @foot says, you can use a header rather than the query value with `sign_in`.

@jheidbrink Your proposed solution sounds good, if it's possible to align the redirect logic for both endpoints, that would be awesome, does anyone have time to put a PR together for this?

[2020-01-26 16:56] JoelSpeed commented on #359
Unfortunately, as far as I am aware, this is not something that we can identify when performing an authentication flow. Normally this kind of information is not accessible with the profile information provided.

That said, some Identity Providers, hypothetically may offer this information as part of the Profile URL data, but this would be on a per provider basis and I'm not aware of any that actua

[2020-01-26 17:05] JoelSpeed commented on #350
@Just-Insane The Keycloak provider at present, won't store the ID Token. If you wish to pass the ID Token to your upstream, perhaps you could try using the OIDC provider instead with your Keycloak instance and the `set-authorization-header` option.

If that works, envoy should be able to copy the `Authorization: Bearer <JWT>` header from it's ext auth request (I'm making some assumptions about env

[2020-01-26 17:05] JoelSpeed commented on #350
Also, a PR with docs for envoy ext_authz would be amazing if you have the time 😍

[2020-01-26 17:19] JoelSpeed commented on #362
Well this is a tricky one! I can see the flag is defined [here](https://github.com/pusher/oauth2_proxy/blob/master/main.go#L90), and referenced [here](https://github.com/pusher/oauth2_proxy/blob/master/pkg/apis/options/cookie.go#L15), which should allow the options to be resolved assuming the cookie name and flag tag match,

I think I'm going to have to do some deeper investigation and debugging i

[2020-01-26 19:54] Just-Insane commented on #350
@JoelSpeed Trying to implement the provider as basic OIDC, and I am getting (what appears to be a known issue), where the cookie is not found because it is getting appended with a "_1".

For example, here is the cookie that is being set:
![Screen Shot 2020-01-26 at 2 47 48 PM](https://user-images.githubusercontent.com/15903884/73140793-dbf14080-404a-11ea-81dd-aab58e25ea3a.png)

However in the oaut

[2020-01-26 20:48] Just-Insane commented on #350
From what I can tell (but cannot verify), is that Istio internally only supports a single set-cookie header as seen in https://github.com/istio/istio/issues/14240 which was closed with a PR for Mixer.

This is causing it to only return the _oauth2_proxy_1 cookie, and as such, Oauth2_Proxy is failing to see the correct cookie.

It is interesting that the OIDC provider would split the cookies, howev

[2020-01-26 22:51] Just-Insane commented on #350
I was able to resolve this by using a redis session store, which prevents the cookie from being split. Works with or without the istio policy. Verified by changing the url in the policy and it started failing.

Thanks for the help on this, I will start working on a PR for docs.

[2020-01-27 07:19] deekshith-elear opened #364 "Logout from kibana is not removing cookies from local browser"
Hi,
I'm using oauth2_proxy with kibana to use our oauth. I'm facing a problem while logout from kibana that oauth2 proxy not able to clear cookies from browser due to this kibana is re-logging.
can anyone help me out to resolve this issue?

[2020-01-27 12:26] olegblecher commented on #359
@JoelSpeed this does answer my question - whether this is possible or not.

A good work-around was to create a user group called "2FA users" (on Google), force 2FA on its members, and only allow members of that group to log in to my application. The oauth2_proxy documentation covers how to do that, and I'm very grateful for that :)

So I am closing this issue.

More info can be found here: https:/

[2020-01-27 12:26] #359 closed

[2020-01-27 16:58] manning-ncsa commented on #356
When I request that URL I get the following message in my nginx-ingress-controller deployment log, with no activity on either the oauth2_proxy or my app deployment logs:
[code]

[2020-01-27 17:37] tomelliff commented on #329
Yep, just ran into this and looks like a CGO issue:
[code]

[2020-01-27 23:36] infinitydon commented on #74
Has anyone been able to fix this? Constantly getting 401 Unauthorized error.

I have tried all kinds of combinations for the cookie-domain and whitelisting, oauth2_proxy keeps throwing the `Cookie "_oauth2_proxy" not present`

[2020-01-28 12:19] infinitydon commented on #26
@JoelSpeed - No matter the combination of settings that I do, I keep on getting " Error loading cookied session: Cookie "_oauth2_proxy" not present" persistently with 401 in Nginx ingress logs.

Configuration currently been used:

[code]

[code]

[code]

[2020-01-28 13:20] idntfy commented on #362
jfyi, `-cookie-samesite=none` param works for me very well on v4.1.0-37-gd9362d3 version which was `latest` docker image on https://quay.io/repository/pusher/oauth2_proxy?tag=latest&tab=tags several days ago

[2020-01-28 13:38] JoelSpeed commented on #356
@manning-ncsa if I've read that correctly, that was a 503 response which suggestions that when you tried that, there was some communication issue between nginx and the oauth2 proxy, could you try again once you have verified you can access the oauth2 proxy via your nginx set up

[2020-01-28 14:55] morarucostel commented on #364
Hi @deekshith-elear ,
If my understanding is correct, the flow in your use-case is:
1. Login in kibana UI, which is using the oauth-proxy (since you are not authenticated) and then redirects the call to the IDP,
2. Successful login, oauth-proxy creates and stores a browser cookie (specific to oauth-proxy), which then your browser redirects you to the initial url, Kibana UI (which also has its own

[2020-01-28 15:09] starkers commented on #362
I have had not been able to reproduce the error with the github provider on `master`

![image](https://user-images.githubusercontent.com/462087/73275638-581c8d00-41df-11ea-8cb3-e5bfda3124de.png)

I've tried with and without `-cookie-samesite`for example:

[code]

@amiya-elear  is this possibly an issue with your new provider?  also.. I noticed  `----cookie-samesite="none",` in your report.. maybe

[2020-01-28 15:42] manning-ncsa commented on #356
Sorry about that. I redeployed the same resources using Kubernetes Tools and in the process forgot to create the oauth2-proxy service. After correcting that mistake I am back to my original problem. Here is what I see in more detail now:

1. Request `example.com/app`:

	nginx-ingress-controller:
[code]

	app:
[code]
	oauth2-proxy:
[code]

2. Request `https://example.com/oauth2/sign_in?rd=/app`:

[2020-01-28 20:25] JoelSpeed commented on #350
No worries, glad you got it working in the end!

Not presently, though it could be implemented if someone wanted to do so

[2020-01-28 20:36] JoelSpeed commented on #362
@amiya-elear Just had a quick look at your repo, not sure how you created it, but it isn't actually a fork of ours, looks like you've just copy and pasted the contents and created a new commit?

I had a quick look at the code and you are indeed missing the flag on your version of the project
https://github.com/amiya-elear/oauth2_proxy/blob/3412c73892cdacc6ea20d1f3b9426188ddc2c4b2/main.go#L81-L88

[2020-01-28 20:36] #362 closed

[2020-01-29 10:18] Bonko opened #366 "Timestamp format does not match documentation"
## Expected Behavior

When logging a timestamp the format should be `19/Mar/2015:17:20:19 -0400` as documented

## Current Behavior

The logged timestamp has the format `2020/01/29 09:54:08`

## Possible Solution

Change the documentation or even better, change the format.
Looks like it is configured here: https://github.com/pusher/oauth2_proxy/blob/d9362d3bb92e610ace7edff59db686783f379a54/pkg/log

[2020-01-29 11:47] #329 closed

[2020-01-29 15:47] entersb commented on #135
HI all.

Did anyone solve this issue with trailing `/%2F`? I use gocd and same issue is problem, and my rewrite rules are not managing to solve this issue.

[2020-01-30 00:25] Alives opened #369 "Auth-Digest X-Forwarded-User is int, not str for Google provider"
I'm passing basic auth to upstream, but upstream is seeing what seems to be the Google user ID, not the username.  I'm getting a 21 digit int instead of $user@$domain as expected.

## Expected Behavior

I'd assume I should be able to get $user@$domain for X-Forwarded-User or the user portion of auth-digest instead, or at least have a flag to override this behavior.

## Current Behavior

In the pas

[2020-01-30 17:30] dmnemec opened #371 "GitHub Provider - Fallback to another verified email if primary is not verified?"
## Expected Behavior

We noticed after upgrading that some of our users could no longer login. We found that if the primary email is not verified, it would reject the request. Since many of our users either don't use their work email as their primary, a lot of them have a verified email, but not as their primary.

## Difference Current Behavior

Allow auth to continue with any verified email.

##

[2020-01-30 18:22] nicoschuck commented on #354
Thank you for your answer. It looks like that set-authorization-header is what I'm looking for.
But is there any way to decode the information from the cookie?
I tried it by simple base64 -d (and it looks like that the auth and id token is passed) but most of the information are still encoded.

[2020-01-30 22:45] JoelSpeed commented on #74
If you are using azure, I would recommend trying the redid session storage mechanism. The cookie storage does not work very well with Azure due to the size of the ID Tokens they generate

[2020-01-30 23:06] JoelSpeed commented on #356
Sorry @manning-ncsa, I made a mistake in my previous comment. When I said to try `example.com/oauth2/sign_in?rd=/app` I meant to ask you to try `example.com/oauth2/start?rd=/app`

Also, looking at the logs you've posted, there seems to be something wrong with your upstream, could you verify that the `app` works when you remove the auth annotations to make sure that we aren't trying to solve multip

[2020-01-30 23:19] JoelSpeed commented on #366
The bump from v3.2.0 to v4.0.0 changes the format, the documentation is therefore incorrect as of v4.0.0

This is obviously in need of a fix though I'm not sure how best to approach this. On the one hand, it would be good to keep the current format so we don't have another breaking change, so perhaps the format could become an option? On the other hand, we have way too many options already so I'm

[2020-01-31 06:08] gogovan-vincentngai opened #373 "[Question]Github Team in Header?"
Sorry may be a simple question, but i did not find this in Doc

May i know is there a way i can capture user belongs to which team or teams from github ?
so that i can give them with correct user

e.g
if team A , belongs to admin
if team B , belongs to normal user

[2020-01-31 11:11] #352 closed

[2020-01-31 11:41] deiga opened #374 "Bug: User with unverfied primary email in GitHub is an "Invalid Account", no sensible logs"
## Expected Behavior

A user with an unverified email logs in gets an error message about email verification failed. Logs have a mention about the user having an unverified email.

## Current Behavior

A user of ours was trying to log in but got 403 every time. Logs didn't have anything close to mentioning a problem with their email.

## Possible Solution

Add clearer logging stating that verifica

[2020-01-31 17:02] JoelSpeed commented on #369
@Alives Could you confirm whether or not this was working in a previous version of the proxy, have we broken something?

[2020-01-31 19:37] brianv0 opened #375 "Allow tickets for JWT Bearer passthrough when using Redis session store"
After the work on the Redis session store and JWT Bearer token passthrough features, I've implemented a feature in oauth2_proxy that, when using the Redis Session Store, oauth2_proxy will accept the ticket to the session, extract the ID token from that session, and continue on the same was as if it had received a JWT in the first place.

## Expected Behavior
When using Redis session store and JWT

[2020-01-31 21:09] Alives commented on #369
I feel like I ran into this a few years ago but cannot find any mention of it in pusher/oauth2_proxy issues or the bitly/oauth2_proxy archive.  IIRC it's an issue on Google's side, where an int (the userID from their end) is returned as X-Forwarded-User instead of the username, which breaks a lot of the upstream stuff I have set to map to specific usernames.  I now have to add the 21 digit integer

[2020-02-01 05:48] dmahisingh commented on #254
I am facing couple of Issues when I accessing my application which is deployed on Azure Kubernetes from iPhone browser, it is working fine with Android phone-  I am using Azure as provider.
1) In few devices, I am getting below error - 403 Permission Denied http: named cookie not present
The oauth2 proxy pod logs shows this error - [AuthFailure] Invalid authentication via OAuth2: unable too obtain

[2020-02-01 19:49] zarkoc opened #376 "Is implicit flow supported?"
Hi All,

I think the title says it.
Im testing oauth2_proxy why our custom Identity Provider, and I see that the grant type that the proxy is sending to the idP is **authorization_code**. Is the **implicit** flow supported?

Thanks.

[2020-02-01 22:25] dmahisingh opened #377 "Issue accessing app from iphone browser - using oauth2 proxy"
Hello,
I am facing couple of Issues when I am trying to access the application in iphone - It is browser based app and deployed in Azure Kubernetes. It is working fine with Android phone - I am using Azure as provider.

In few devices, I am getting below error - **403 Permission Denied http: named cookie not present**
The oauth2 proxy pod logs shows this error - **[AuthFailure] Invalid authenticat

[2020-02-02 16:59] JoelSpeed commented on #354
The cookie is encrypted by the proxy so it should only be readable with the proxy itself. If you wish to decrypt it within your app, you could potentially do so but it would require some work on your part to implement the decryption algorigthm

[2020-02-02 17:01] JoelSpeed commented on #374
This has come up before though I haven't managed to find where from my quick scan of issues. We definitely need to take a look at this and make this more obvious

[2020-02-02 17:32] JoelSpeed commented on #376
Hi @zarkoc, could you elaborate on what you are trying to achieve with the implicit flow? This is the flow in which only the access token is returned IIRC. At the moment we normally specify the response type `code` with `openid` within the scope which should return the access token and the ID token, so you should be able to get the access token as required?

[2020-02-03 04:24] dmahisingh commented on #377
Joel, any suggestions on these issues?

[2020-02-03 14:46] ahoeing opened #378 "Redirect to '/' instead of rd URL"
I have issues with the redirect location when using OAuth Proxy with Kubernetes and nginx Ingress.

My Configuration:
[code]

The proxy has an ingress at `proxy.intern.my.domain.cloud`.

The ingress of the service (https://myservice.intern.my.domain.cloud) I want to protect:
[code]

After login, the redirect from `https://proxy.intern.my.domain.cloud/oauth2/callback` points to `/` instead to the U

[2020-02-03 15:40] tlawrie commented on #378
Hey @ahoeing not sure if this is the right direction, however we hit similar issues and what helped us was the declaration in the ingress definition that points to this...

We added `rd=$request_uri` rather than `rd=$uri` to the `ingress.kubernetes.io/auth-signin` annotation.

Also in the above, it seems that there might be two `rd=` in `https://proxy.intern.my.domain.cloud/oauth2/start?rd=rd=http

[2020-02-03 16:15] ahoeing commented on #378
@tlawrie Thanks, I found my issue. I messed up the re-deployment of the Ingress.

[2020-02-03 16:15] #378 closed

[2020-02-04 00:03] dmahisingh commented on #132
Hello, I am also facing this issue - I saw your comments, you said it got fixed by writing above one in nginx.conf.
Which nginx.conf you are referring here? I just created pod, service and ingress for oauth2 proxy, so not sure which nginx you are referring to.
Can you please guide me on the same?

[2020-02-04 12:57] holyjak opened #380 "Support prompt in addition to auth-prompt"
Support to send [OAuth v2 `prompt`](https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-oauth2-implicit-grant-flow#send-the-sign-in-request) instead the v1 `auth_prompt`.

## Expected Behavior

Being able to include e.g. `&prompt=login` in the login-url and no `auth_prompt` (or neither of the two).

## Current Behavior

No way to set the `prompt` query parameter in the login URL.

#

[2020-02-04 13:08] holyjak opened #381 "`acr_values` should be available for all providers"
We use an OIDC provider that also accepts the `acr_values` parameter in the login URL but it is currently only enabled for the login.gov provider. It should be made available for all providers or at least for `oidc` (which we use) in addition to login.gov.

NOTE: It seems that [acr_values is a general OIDC thing](https://openid.net/specs/openid-connect-eap-acr-values-1_0.html).

## Expected Behavi

[2020-02-04 18:46] filipecifali opened #382 "GitHub OAuth2 App Deprecation"
I've received an e-mail regarding some oauth2_proxies that we have installed here pointing me to this link: https://developer.github.com/changes/2019-11-05-deprecated-passwords-and-authorizations-api/

Upon checking the docs, I think we are not supporting yet the "new github way"? I don't have much experience with Go, but as far as a I've read from the github.go code it's still using the access_to

[2020-02-04 22:18] silverjam commented on #382
Upgrading should resolve this issue.  In the v2.2 code, `access_token` is provided as a query parameter to GitHub, example:
- https://github.com/pusher/oauth2_proxy/blob/v2.2/providers/github.go#L64

In version 5.0.0, they set the `Authorization` header which is the preferred (non-deprecated) method:
- https://github.com/pusher/oauth2_proxy/blob/v5.0.0/providers/github.go#L91

[2020-02-05 13:00] dmahisingh commented on #377
Any suggestions please????

[2020-02-05 21:25] holyjak opened #384 "Docs do not include the session.md information"
The doc site at https://pusher.github.io/oauth2_proxy/ should also include page with the content of [docs/configuration/session.md](https://github.com/pusher/oauth2_proxy/blob/master/docs/configuration/sessions.md) so that people can learn about the cookie vs Redis storage. Thank you!

[2020-02-06 16:27] messiahUA commented on #109
I'm banging my head on this and I can't make redirect work. I have:

Service: svc.sub.domain.com

auth-signin: https://oauth2-proxy.services.sub.domain.com/oauth2/start?rd=https://$host$request_uri
auth-url: https://oauth2-proxy.services.sub.domain.com/oauth2/auth

cookie_domain = ".domain.com"

I've also tried different combinations for whitelist_domain:
".domain.com"
".sub.domain.com"
"svc.sub.d

[2020-02-06 18:18] JoelSpeed commented on #381
This should be added. I wonder if there is a good way in which we can make additional properties like this available generically so that we don't keep adding specific code for little optional things like this

[2020-02-06 18:19] JoelSpeed commented on #382
@filipecifali Have you tried upgrading? Can we close this issue?

[2020-02-06 18:21] JoelSpeed commented on #377
Hey @dmahisingh, I don't feel like I have enough context to add anything useful to this conversation, apologies.

Perhaps if you provided more detail about your setup I might be able to add something?

[2020-02-06 18:26] JoelSpeed commented on #384
This page is already accessible, it just hides until you click on configuration https://pusher.github.io/oauth2_proxy/configuration/sessions

[2020-02-06 18:43] filipecifali commented on #382
@JoelSpeed I think so, the proxies are working fine, I was just waiting the 3 days period to see if this happens again, but I think we can close for now and if it happens again I can open a new issue, thanks!

[2020-02-06 18:55] holyjak commented on #384
I see. It hides really, really well. Perhaps put the link at least at the
beginning of the page and not the very end?

On Thu, 6 Feb 2020, 19:26 Joel Speed, <notifications@github.com> wrote:

[2020-02-06 19:07] JoelSpeed commented on #384
It is also listed in the sidebar with the rest of the pages once you've clicked on configuration.

I had thought it was also linked when you read the option for session store type but it is not. Would be good to add a link in the table so that people read more if they see the `--session-store-type` description

[2020-02-06 19:18] brianv0 commented on #375
@JoelSpeed, do you think this might be an acceptable feature? I can create a PR soon to show a PoC.

[2020-02-06 19:27] JoelSpeed commented on #375
@brianv0 How does it recognise the tickets? I think this could be a useful feature to add, please raise a PR and we can discuss further there

[2020-02-06 22:25] brianv0 commented on #375
Will do. It recognizes them based on the ticket prefix, which is effectively the cookie prefix.

On Feb 6, 2020, at 11:27 AM, Joel Speed <notifications@github.com<mailto:notifications@github.com>> wrote:

@brianv0<https://github.com/brianv0> How does it recognise the tickets? I think this could be a useful feature to add, please raise a PR and we can discuss further there

—
You are receiving this

[2020-02-07 05:06] dmahisingh commented on #377
Thanks Joel for the response.
We are developing one angular 7 application which is deployed in Azure Kubernetes envrionment. To have azure based authentication, we are using oauth2 proxy. please see below for the files which are deployed to kubernetes cluster
oauth2_proxy file - [oauth2_proxy.txt](https://github.com/pusher/oauth2_proxy/files/4169027/oauth2_proxy.txt)

ingress yaml file - [ingress.

[2020-02-07 05:08] dmahisingh commented on #377
I am trying to alter the oauth2_proxy container args alot, but not working out any thing - Request your help for solving this issue

[2020-02-07 06:35] holyjak commented on #384
Thank you!

On Thu, 6 Feb 2020, 20:07 Joel Speed, <notifications@github.com> wrote:

[2020-02-07 08:55] iain-buclaw-sociomantic commented on #382
Problem still exists in v5.0.0

[2020-02-07 09:02] iain-buclaw-sociomantic commented on #382
Abbreviated logs that appear to be the root cause (timestamp matches that sent by Github)
[code]

[2020-02-07 09:14] JoelSpeed commented on #382
@iain-buclaw-sociomantic looks as though you are correct, this is fixed for the initial login, but not for refreshing.

Though we should be able to fix that by adding a `valdiateToken` to the GitHub provider which sets the appropriate header right?

[2020-02-07 09:54] iain-buclaw-sociomantic commented on #382
I imagine so, I won't profess myself as knowledgable in either Github's API nor this project's codebase. :-)

[2020-02-07 09:59] messiahUA commented on #109
Figured out that the problem is the wrong parameter name.
It is an inconsistency in:
https://github.com/pusher/oauth2_proxy/blob/10adb5c516b5a15756a7baa50aa2d8551a6655b8/options.go#L51

"whitelist_domains" in config and "whitelist-domain" as a flag. The documentation states only about cli options.

[2020-02-07 09:59] nzoueidi commented on #380
cc'ing myself as I am having the same behaviour.

[2020-02-07 10:50] nzoueidi commented on #191
Having the same issue.

And just for the records @victornoel yes you can set `prompt` to `select_account` and `consent` together - But this would happen only manually by setting them in the headers and re-send them again.

the `approval-prompt` can only set to `force`, so as mentioned by @mariusmarais is it possible to add and set the `prompt` value instead of / as well as the `approval_prompt` va

[2020-02-07 13:14] filipecifali commented on #382
@iain-buclaw-sociomantic @JoelSpeed this behaviour only happens if cookie-refresh is set isn't it? The default setting for cookie-expire = 168h + cookie-refresh = 0 should make the user re-login in the instance without causing the refresh code to be triggered. Thanks anyway :)

[2020-02-07 15:30] iain-buclaw-sociomantic commented on #382
@filipecifali Unless something else has happened which would force a revalidation, then yes I think you're right.

[2020-02-07 16:37] filipecifali commented on #382
@iain-buclaw-sociomantic then double thanks for noticing it! I wouldn't see that in the code until this happens :)

[2020-02-07 19:49] JoelSpeed commented on #377
Honestly, I'm a bit stumped by this one. If it's working fine in some browsers but not iOS, that's very very strange. I don't really have any suggestions, I've never seen anything like this before

[2020-02-07 19:56] mdgreenwald commented on #129
I'm impacted by this as well.

[2020-02-08 01:25] dmahisingh commented on #377
But do you see the configuration looks good?
In general, when do you get the 403 error, I think it is coming with old browsers...when we get the Invalid auth via OAuth2, the user is getting authenticated properly...I can see the user full profile displayed in the oauth2 proxy log
What causes these kind of issues?

[2020-02-08 01:37] dmahisingh commented on #377
FYI - If I remove the oauth2 proxy (authentication part), the app is working from ios along with other browsers.

[2020-02-09 16:51] mikebryant commented on #350
I've spent some time trying to get this working myself - I ended up needing to do a hack to fix the redirect URI, as the ext_authz module didn't handle rewriting headers. Passing the jwt through is working and so on.

My config is here if it helps anyone:
- https://gitlab.com/mikebryant/house/-/blob/278bd8ce93a053f66e9ad58249bc7ea9027f78ac/kubernetes-dashboard/istio.yaml#L33
- https://gitlab.com/m

[2020-02-09 16:55] Just-Insane commented on #350
I’ve created a blog post detailing how I managed to get this working. https://homelab.blog/blog/devops/Istio-OIDC-Config/

Still planning on creating a PR with doc updates at some point.

[2020-02-10 11:06] strboul opened #386 "Failed to load config file with the Docker image"
I keep receiving such an error when attaching a configuration file to the Docker image. The configuration file is mounted with the Docker volumes.

[code]
`[main.go:152] ERROR: failed to load config file /etc/oauth2_proxy.cfg - read /etc/oauth2_proxy.cfg: is a directory`

Thanks in advance!

[2020-02-10 12:49] strboul commented on #386
Sorry, it seems that I wrote the path in the host wrong. Closing the issue.

[2020-02-10 12:49] #386 closed

[2020-02-10 14:03] luketainton opened #387 "[DOCKER] extra_hosts ignored"
When specifying extra_hosts (to modify the container's hosts file), these are ignored.

## Expected Behavior
When getting the openid-configuration from the Keycloak URL, it should be using the specified IP address to get to the login server, not the publicly resolvable IP.

## Current Behavior
It is still using the public IP, and due to firewall configuration this isn't working.

## Steps to Repro

[2020-02-10 21:28] dmahisingh commented on #377
Joel, any comments on this please? We are stuck here and not able to go ahead with project.

[2020-02-11 10:00] nonylene commented on #109
This behavior is documented...

PS. I've also set with the wrong variable name and reached this issue :)

[2020-02-11 10:30] guyspr commented on #46
@tchellomello I'm having the same issue. I think we want to use the `https://oauth/oauth2/start?rd=ORIGINAL_DOMAIN` url for the forwardAuth.address. But the problem is, how do we get the redirect (`?rd=...`) to insert the current URL.

If oauth2_proxy could automatically use the Forward header to determine the redirect from start, it should work just fine using a single auth endpoint for all your

[2020-02-11 19:22] dmahisingh commented on #377
Joel, I see below code in https://github.com/pusher/oauth2_proxy/blob/master/oauthproxy.go

	nonce := s[0]
	redirect := s[1]
	c, err := req.Cookie(p.CSRFCookieName)
	if err != nil {
		logger.PrintAuthf(session.Email, req, logger.AuthFailure, "Invalid authentication via OAuth2: unable too obtain CSRF cookie")
		p.ErrorPage(rw, 403, "Permission Denied", err.Error())
		return
	}

this is the same err

[2020-02-12 00:15] dmahisingh commented on #360
Hi Mike,
I am using Azure provider and deployed in kubernetes.
When I am using safari or any old browser, I am getting the same error ' **Invalid authentication via OAuth2: unable too obtain CSRF cookie** in the log and my browser shows - **403 Permission Denied http: named cookie not present**.
Please find my config files
https://github.com/pusher/oauth2_proxy/files/4169075/oauth2_proxy.txt
https

[2020-02-12 02:18] nonylene commented on #109
Oops, you were talking about config file, not environment variables.

[2020-02-12 03:01] ploxiln commented on #387
see https://github.com/golang/go/issues/35305

[2020-02-12 03:11] sokbunthean commented on #306
invalid request aouth/token laravel passport please tell about problem like that...

[2020-02-12 11:13] holyjak opened #388 "Do not propagate the _oauth2_proxy cookie to the upstream"
Currently the `_oauth2_proxy` (or whatever it is named via `-cookie-name` is included in the request sent to the upstream. This can be a problem if used with the `-session-store-type=cookie` because those cookies can be quite large and exceed the 8k limit that many web servers (e.g. Tomcat, Jetty) set on the max header size. And the cookie is of no interest to the upstream.

## Expected Behavior

[2020-02-12 12:26] luketainton commented on #387
Thanks @ploxiln! I mounted /etc/nsswitch.conf and this fixed my issue.

[2020-02-12 16:48] kfox1111 commented on #387
This is a known issue with nonglibc systems and golang statically linked builds. In this case, the resolver follows glibc's arguably broken behavior of dns first, then /etc/hosts second in the absence of nsswitch.conf. This also shows up with weirdness's such as 'localhost' resolving to your own domain's version if you have one.

For something security sensitive like oauth2_proxy, I'd recommend pu

[2020-02-12 22:49] luketainton commented on #387
I've reopened this as @kfox1111 has asked. I've worked around this by mounting my nsswitch.conf as a volume, but it would be best to add it into the Dockerfile directly.

[2020-02-13 11:37] philpep opened #390 "Support for direct access (aka resource owner) grant ?"
Hi,

I'm quite new to oauth2 and oauth2_proxy. I use oauth2_proxy with keycloak and nginx and I'm very happy with it as long as we stay in a browser.

I have some http APIs I would like to authenticate through a proxy with basic authentication or opaque tokens using existing keycloak IDP. Typically users use CLI tools (curl / others) to request APIs, some of them doesn't supports other authenticat

[2020-02-13 14:38] smarshal-Quest opened #392 "Feature request: azure US GOV Provider"
Hi Looking to see if additional provider can be put in place for Azure US GOV
![image](https://user-images.githubusercontent.com/4686731/74445542-7b496c80-4e6e-11ea-85f6-73f8674e8207.png)

[2020-02-13 17:39] syscll commented on #327
Closing this as we are having discussions with other open-source projects about a plan going forward. Will share more updates when things become more solid.

[2020-02-13 17:39] #327 closed

[2020-02-14 09:26] nicoschuck commented on #354
I'm still struggling with that topic. I believe to encrypt the cookie is not the right way. What else I can do with the cookie?

[2020-02-14 16:37] manning-ncsa commented on #356
Apologies for the delay in continuing this investigation, and thank you for your assistance. It is still something I need to solve but it may be a while before I can continue the work.

[2020-02-14 16:58] morarucostel opened #394 "Authorization:[Basic xxxxx] Header is not passed to upstream"
In our scenario, we are using the basic-auth of `oauth2_proxy` to authenticate users against the htpasswd file.
It is deployed as an Docker image in a kubernetes cluster and the secured application is accessed through ingress and the controller is done through NGINX.

Once the authentication is done successfully and the flow reaches `addHeadersForProxying`, the oauth-proxy is setting-up correctly

[2020-02-15 02:09] #350 closed

[2020-02-15 13:36] #371 closed

[2020-02-15 13:53] JoelSpeed commented on #46
@guyspr Would it be possible for traefik to set a `X-Auth-Request-Redirect` header? OAuth2 Proxy can use this in place of the `rd` parameter already

[2020-02-15 13:56] JoelSpeed commented on #377
There are no known issues with this area of the codebase, but I agree, I suspect this is the source of your problem. I wonder if there is a problem with the cookie name possible?

Which session storage are you using also? Can I ask you to try the Redis based session storage if you aren't already

[2020-02-15 14:02] JoelSpeed commented on #388
The cookies are capped at 4kb deliberately to fit within the spec. If you are seeing cookies bigger than this then that is a bug, could you please verify this?

We are also strongly encouraging people to use the redis store where possible, especially if using a provider (eg Azure) that provides very large ID Tokens

[2020-02-15 14:17] JoelSpeed commented on #387
This seems like a reasonable solution, can someone raise a PR?

[2020-02-15 14:40] JoelSpeed commented on #392
You should be able to use the existing providers and override the URLs to use the gov tennant, is there any reason that this doesn't work already?

[2020-02-15 14:41] #384 closed

[2020-02-15 14:52] smarshal-Quest commented on #392
Hi Joe

I wasn't aware this was possible,  Can you advise on the command flag i need to use to do this ?

regards

[2020-02-15 14:53] JoelSpeed commented on #354
The information in the cookie is meant to be used only by the proxy itself, we have alternative mechanisms for retrieving user info via headers.

The cookie is encrypted for security reasons, if it were not encrypted, the values within it could possibly be modified by users and this would break the security model of the proxy

[2020-02-15 14:56] JoelSpeed commented on #392
Assuming you are using the Azure provider, you will need to set the `--redeem-url` and `--login-url` options

[2020-02-15 15:15] JoelSpeed commented on #394
Hey @morarucostel could you please confirm which headers it is that you are expecting your upstream application to receive?

[2020-02-15 15:24] nicoschuck commented on #354
OK. If there are alternative mechanisms to retrieve user Infos, is there an option to provide user details to the app?

[2020-02-15 16:19] MisterWil opened #396 "Fails to start with error flag "client-secret-file" does not exist"
After upgrading the docker image this morning my otherwise working instance fails to start with the error: flag "client-secret-file" does not exist

Seems this is related to #341 and #355

[code]

## Expected Behavior

The lack of this config option shouldn't cause a complete failure to start.

## Steps to Reproduce (for bugs)

1. Don't configure  the 'client-secret-file' flag.
2. Start oauth2
3.

[2020-02-15 17:28] tlawrie commented on #394
Hey @JoelSpeed it is the Authorization header with the "Basic <username:password>" that we are looking for. But it doesn't seem to make it to the backend systems.

[2020-02-16 08:44] unfor19 commented on #214
How do you set up AWS Cognito as an OIDC? I tried, but I always keep getting: `auth request unexpected status: 302 while sending to client, client`

In case you're skimming here - **THIS DOESN'T WORK**

### My Specs
- **Load Balancer**: AWS Network Load Balancer (NLB) routes traffic to [nginx-igress-controller](https://github.com/kubernetes/ingress-nginx/tree/master/docs/examples/auth/oauth-extern

[2020-02-16 11:42] holyjak commented on #388
The size of individual cookies is OK but the total size of the cookies
(plus the Auth. header) exceeds the default limit on total header size.

On Sat, 15 Feb 2020, 15:03 Joel Speed, <notifications@github.com> wrote:

[2020-02-16 13:08] unfor19 commented on #26
Same here

[2020-02-16 18:00] luketainton commented on #387
I’ll work on this at some point during the next fortnight hopefully

[2020-02-16 18:38] JoelSpeed commented on #396
This is a programming error, when #355 was implemented, it should have included a flag in the main file like this https://github.com/pusher/oauth2_proxy/blob/2033ce81c3a96e75eb73e92af648ea6ed5c02a6f/main.go#L72

@pasha-r or anyone else, do you have time to create a PR to fix this missing flag registration?

[2020-02-16 18:43] JoelSpeed commented on #394
Have you tried using the `nginx.ingress.kubernetes.io/auth-response-headers` annotation that nginx-ingress provides?

[2020-02-16 18:53] JoelSpeed commented on #214
I believe these options should be pointing at AWS, currently it looks like they point at the proxy itself
[code]
I would suggest removing these options and using the OIDC discovery mechanism which is supported by cognito

[2020-02-16 18:54] JoelSpeed commented on #388
@holyjak do you get the same problem if you use the redis storage mechanism for cookies?

[2020-02-16 21:47] holyjak commented on #388
I assume not, haven't set it up yet though that is the plan.

On Sun, 16 Feb 2020, 19:54 Joel Speed, <notifications@github.com> wrote:

[2020-02-17 03:45] dmahisingh commented on #396
My Oauth2 proxy is not working now with the same error - Please help on this, what should we do now?

[2020-02-17 04:34] dmahisingh commented on #396
I was trying something else and restarted my oauth proxy and it stopped working with the same error - My application is stopped working now - Please suggest on this.
Can I use the prev image to deploy my oauth2 proxy?

[2020-02-17 06:32] Freebios commented on #396
@dmahisingh

Just use the previous release:
quay.io/pusher/oauth2_proxy:v4.1.0 instead of latest

[2020-02-17 08:31] JoelSpeed commented on #396
Please use the latest release `v5.0.0` until this is resolved. There is an important security fix that was released with this version and using anything older will leave that vulnerability exposed

[2020-02-17 10:03] brucke opened #397 "redirect to '/' instead of requested URL after successful login in docker-compose with traefik"
Hi,

i like this project it solves a lot of my problems! :) But i have one big issue and i'm not able to fix it. I guess, there is a simple configuration bug in my docker-compose file or similar. The user is redirected to '/' after succesful login instead of requested page.

Does somebody have a tipp or a solution for me? I read all issues related to this problem but i'm not able to adapt their pr

[2020-02-17 11:24] tunkandroll opened #398 "Newly created id_token is expired on creation"
I have and nginx docker container running with pusher/oauth2_proxy side-by-side on a dedicated docker network on same host. Nginx does ssl termination.
I am redirected to the login page, I am redirected back to the nginx, but at the end I get an error inside oauth2_proxy container:

[2020/02/17 12:08:54] [oauthproxy.go:736] Error redeeming code during OAuth2 callback: could not verify id_token: oi

[2020-02-17 12:35] matiasgarciaisaia commented on #382
This has been fixed by #385

[2020-02-17 13:21] morarucostel commented on #394
Hey @JoelSpeed nope, not even with the `nginx.ingress.kubernetes.io/auth-response-headers` annotation.

[2020-02-17 14:21] #396 closed

[2020-02-17 15:14] #398 closed

[2020-02-17 15:16] tunkandroll commented on #398
HOST time sync was broken because of corporate rules. UTC had +2h and the token was invalidated by the container.

[2020-02-18 02:21] ploxiln commented on #394
You're trying to get an `Authorization` header from the auth-request response, but it is not a response header, it is a request header for upstream requests in proxy mode. If you enable `--set-xauthrequest` then you will get the `X-Auth-Request-User` response header which you can access as `$upstream_http_x_auth_request_user`.

... but do you actually want the basic auth that was passed to oauth2_

[2020-02-18 09:43] brucke commented on #397
i found a solution:
[code]
if anybody has a better solution i'm looking foward to see other solutions.

[2020-02-18 12:23] johejo commented on #377
Hi, it might be helpful occurs in ios12.
https://www.chromium.org/updates/same-site/incompatible-clients

Set cookie-samesite=lax might solve.
https://pusher.github.io/oauth2_proxy/configuration

[2020-02-18 13:17] nicoschuck commented on #354
Is there maybe any way to pass the JWT to the service, by which I can request the details by myself?

[2020-02-18 19:20] tlawrie commented on #394
hey @ploxiln it worked to get the user using that method but we are wanting the whole Authorization header.

We can see the auth proxy is setting it (we added extra logging to see all the headers) however using the same sort of logic for the Authorization header
`proxy_set_header Authorization $http_authorization;`

We also used the annotation mentioned by @JoelSpeed and documented on nginx ingres

[2020-02-18 19:36] ploxiln commented on #394
It looks like there is one place where Authorization is set as a *response* header for the auth request if you enable `--set-authorization-header`, but it only works for oauth tokens, not for basic auth:

[code]

Contrast it to where the basic auth is set on the proxied request (which is not used in auth-response mode) (notice `req` vs `rw`)

[code]

[2020-02-18 20:05] jbreiding commented on #388
If using K8s, you can "solve" this by stripping the cookie from the upstream ingress configurations, not the oauth2_proxy ingress.

    nginx.ingress.kubernetes.io/configuration-snippet: |
      proxy_set_header cookie "";

We are experiencing an issue right now with an updated chrome blocking the cookie as its just passed the 4096. I believe the calculation for size is not matching up with what c

[2020-02-18 23:56] domenzain commented on #377
Hi,

I've recently noticed this too with older iPhones using the google provider:
`Mozilla/5.0 (iPhone; CPU iPhone OS 12_3_1 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/12.1.1 Mobile/15E148 Safari/604.1`

Users that can log in through a computer somehow get rejected when doing so through an iPhone with the same account.

I have tried out @johejo's suggestion above without succe

[2020-02-19 04:42] johejo commented on #354
Hi, `pass-access-token` option might be helpful.

And setup ingress.
[code]
You can use Azure AD Graph API using the access token.
(Caution: not Microsoft Graph API)
https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-graph-api

[2020-02-19 12:37] holyjak opened #404 "How to prevent "csrf failed" error from the proxy"
Sometimes, after log in with my OIDC provider, the redirect URL shows this page:

I have to manually delete the ..._csrf cookie to be able to proceed.

## Expected Behavior

I should never see the "csrf failed" page.

## Current Behavior

See above. I don't know why it sometimes happens and sometimes not so not sure what details to provide. I'd gladly supply more data, if you tell me what to colle

[2020-02-19 13:25] nicoschuck commented on #354
Hi. Actually I hoped there is an option to pass the groups of the user, too. But it doesn't looks like. Anyway. Unfortunately, I don't receive the access token.
My Ingress annotation:
`nginx.ingress.kubernetes.io/auth-response-headers: "Authorization, X-Auth-Request-Email, X-Auth-Request-User, X-Forwarded-Access-Token"`

And I added following to the env of the ouath_proxy:
[code]

But I only recei

[2020-02-19 14:12] ti-mo commented on #328
@JoelSpeed I also ran into this, and it looked like a fairly straightforward change. #405
Let me know what you think!

[2020-02-20 17:56] morarucostel commented on #394
@ploxiln Yes, that is the problem.
There is now way in setting the Basic Authorization header to the _response_ headers.

Keeping consistent with `set` vs `pass` shouldn't we have also a `-set-basic-auth` option that would set the Basic Authorization header on the response?

Something like
[code]

that would be here.
https://github.com/pusher/oauth2_proxy/blob/bd79b976daddb753c18f86e6bf6764b60ecc8

[2020-02-22 06:35] conet opened #411 "The user email is lost after the id token is refreshed by the gitlab provider"
## Expected Behavior

I expect the user email to be available in `X-Forwarded-Email` for the entire user session.

## Current Behavior

The user email is lost after the id token is refreshed.

## Steps to Reproduce (for bugs)

1. authenticate using gitlab
[code]
2. wait for the id token refresh
[code]
3. notice that the email is lost, that is because it is update [here](https://github.com/pusher/o

[2020-02-22 06:37] conet commented on #411
Seems like it was introduced in PR #231

[2020-02-22 20:55] #382 closed

[2020-02-22 21:15] JoelSpeed commented on #397
Hey @brucke, your solution is pretty much spot on for what you need, but what you really want to have is a variable in the header.

In NGINX, you would set this to `$request_uri` to get the original path of the original request for the redirection, is there an equivalent for Traefik?

[2020-02-23 18:16] #387 closed

[2020-02-24 08:06] romil-punetha commented on #350
@mikebryant I think your config works for all requests coming in through a gateway. Is there a way to restrict this only to the kubernetes-dashboard namespace, leaving all other services that are exposed by the same gateway unaffected?

[2020-02-24 11:22] romil-punetha commented on #350
Also, I'm getting 404 not found on redirection.

[2020-02-24 12:00] oliver006 commented on #217
fwiw, not a sure a new provider implementation is needed, I managed to use Gitea by pretending to be Github, using these settings:
[code]

[2020-02-24 12:36] romil-punetha commented on #350
I got it working by adding the following to the config of oauth2:
[code]
However, the dashboard says unauthorised and I'm unable to view any namespace.

[2020-02-24 14:29] romil-punetha commented on #350
The above methods worked for me. However, I'm getting unauthorised at the dashboard.  Any ideas?
<img width="1678" alt="Screenshot 2020-02-24 at 7 59 03 PM" src="https://user-images.githubusercontent.com/47735999/75160502-1cbea100-5740-11ea-8b88-357ca3418d06.png">

[2020-02-24 16:30] stephenc opened #415 "Google: Add spoort for hosted domain"
## Expected Behavior

If I am using the proxy to ensure that only users from a specific google suite domain are allowed to connect, it is really annoying that users are prompted to select the account (giving the option to select the wrong account and get access blocked)

## Current Behavior

You get prompted to login but no information that the login will fail if you select the wrong account.

##

[2020-02-24 17:26] stephenc commented on #415
So I discovered that there is a workaround:

[code]

[2020-02-24 18:49] Adminiuga opened #417 "Golangci-lint v1.17.1 docker build failure on OdroidHC2"
Trying to build a docker image (current master) on Odroid HC2 (XU4) running Armbian Linux (Debian Buster) on 4.14.150-odroidxu4 kernel with `Docker version 19.03.5, build 633a0ea` docker.

Building fails with:
[code]

Bumping up golangci-lint version to 1.18.0 or 1.23.6 makes this problem go away

## Expected Behavior
Build to finish.

## Current Behavior
Building fails with
[code]

## Possible So

[2020-02-27 14:18] zanghao2 commented on #26
@infinitydon Do you solve this problem? I get the same.

[2020-02-28 07:47] yyoshiki41 commented on #342
I create a pr (https://github.com/pusher/oauth2_proxy/pull/421) that fixes this issue.
Currently, my dev environment works well.

[2020-02-28 09:56] JoelSpeed commented on #354
If you remove the cookie this will cause issues. Try setting the `proxy_buffer_size` to `8k` and this may help your issue with the cookie header being too large

[2020-02-28 10:00] JoelSpeed commented on #328
#405 should fix this, closing for now, we can reopen if the issue persists

[2020-02-28 10:00] #328 closed

[2020-02-28 15:10] rogerscuall opened #423 "AWS cognito as OIDC provider cookie not present"
Using AWS Cognito as OIDC provider, I'm able to login in Cognito login page and then I get redirected to the application but I'm seeing in the log the error:
[code]
## Expected Behavior
It is the first time I use AWS Cognito as OIDC provider, but I have used Github and Google and after the initial login, I can see a cookie named `_oauth2_proxy` in my browser that is what oauth2_proxy needs to let

[2020-02-28 16:10] Izzette opened #424 "X-Real-IP only meaningful to mostly CloudFlare users"
## Expected Behavior

* Address displayed by logging should by default not include any non-standard semantics like treating `X-Real-IP` as the original forwarded IP.
* Most users with a reverse proxy will be using the `X-Forwarded-IP` as the defacto-standard for reflecting the original client IP.
* Using `X-Real-IP` is mostly done by CloudFlare, and gives a private organisation an unfair advantage

[2020-02-28 18:22] JoelSpeed commented on #411
@conet Do you have time to raise a fix for this? I think getting the email from the updated ID Token makes sense, assuming it's set, so maybe we can make sure it's set and set it to the old value if not/use the userinfo endpoint?

[2020-02-28 22:52] ploxiln commented on #424
Adding support for `X-Forwarded-For` is a good idea.

But, just by the way, `X-Real-IP` is not Cloudflare specific in the slightest, and long predates CloudFlare. Most people configure Apache or Nginx to set it. One example from 2008 (before Cloudflare was started in 2009): https://andytson.com/blog/2008/04/page-level-caching-with-nginx-0-6/ and here's a mention from 2005: https://aprelium.com/dat

[2020-02-29 05:44] Izzette commented on #424
Yes of course, but `X-Forwarded-For` is really the defacto-standard.  `X-Real-IP` comes in when you start having a couple of layers of reverse proxy.

[2020-02-29 16:09] JoelSpeed commented on #217
If there is a working provider implementation using the GitHub provider, perhaps we could just add docs for doing that instead of adding a new provider?

[2020-02-29 16:54] JoelSpeed commented on #417
Looks like we can just bump the version being installed across all of our dokcerfiles and this should be fixed? Anyone got time to raise a PR for this?

[2020-02-29 17:01] JoelSpeed commented on #417
Looks like this will be fixed by #419

[2020-02-29 17:34] JoelSpeed commented on #423
If you already had the proxy working correctly with another provider, switching provider shouldn't break any of the whitelist/cookie settings.

Can you provide some more snapshots of your logs? The named cookie not present message is pretty common and generated any time a request is made by an unauthed user, it doesn't necessarily mean your auth has failed. If the auth were to fail, you would not

[2020-02-29 18:29] Adminiuga commented on #417
Thank you. Closing this one for now and waiting for #419 to go through.

[2020-02-29 18:29] #417 closed

[2020-02-29 18:34] oliver006 commented on #217
I think that makes sense. Let me see if I can find some time in the next few days and I'll open a PR to add this to the docs.

[2020-03-01 02:41] zanghao2 opened #428 "Error loading cookied session: Cookie "_oauth2_proxy" not present"
I use dex and oauth_proxy to authenticate and authorize k8s applications. When I login my username and password page jumped and get the information server can not be reached.
The log infor of oath2_proxy is Error loading cookied session: Cookie "_oauth2_proxy" not present.
## Expected Behavior
I can access the service normally after logging in.

## Current Behavior
The server can not be reached.

[2020-03-01 15:37] JoelSpeed commented on #428
Hi, can you provide some more details and logs about what's happening on the Dex side and OAuth2 Proxy side during login, which URL is trying to be accessed when the server error occurs would also be useful to help debug this

[2020-03-01 15:42] conet commented on #411
I’m pretty busy these days and worked around this by replacing gitlab auth with keycloak auth, I’ll try to come up with a patch if I find some time.

[2020-03-01 15:47] JoelSpeed opened #429 "Provider proliferation needs to stop!"
Over the last year or so, many new providers have been added to the project. Each has had minor differences that mean they do not work well with existing providers.

Ultimately, all of the providers rely on the same protocols underneath, therefore we should be able to create a generic enough provider that has enough flexibility in its configuration to provide a working implementation for most if n

[2020-03-02 03:29] zanghao2 commented on #428
Hi,@JoelSpeed
There are some logs.
The dex log:
[code]
The Oauth2 Porxy log:
[code]
The chrome browser get the info:
[code]
and the console is:
[code]
dex: I have config the allowedOrigins: ['*']

[2020-03-02 11:22] nicoschuck commented on #354
I added:
[code]
and passed the configmap to my ingress-controller. Unfortunately, I still get an Error 431. Is there any other adjustment that I need to do?

[2020-03-02 11:47] v7lin commented on #217
how to work with traefik docker swarm?

[code]

[code]

[2020-03-02 15:20] holyjak opened #431 "Make it configurable which claim is user id (currently = email)"
According to https://github.com/pusher/oauth2_proxy/blob/master/providers/oidc.go#L208 an id token must contain an email. But some of our tokens don't have (the users use their phone number instead), which makes the proxy unusable for us. Is email a hard requirement? Why? Thank you!

## Expected Behavior

Email should not be required (or there should be an option to make it optional).

## Current

[2020-03-02 15:27] nicoschuck commented on #354
OK, I did it. But actually not much has changed. This is my header:

`{
   "authorization":"Bearer eyJ0eXAiO....1B6DYs5bgtVV4dZr5lNQ",
   "x-auth-request-email":"nico.schuck@example.com",
   "x-auth-request-user":"nico.schuck@example.com",
   "host":"example.com",
   "x-request-id":"ffb13b244a29xxxxx3e92b",
   "x-real-ip":"165.xxx.xx.239",
   "x-forwarded-for":"165.xxx.xx.239",
   "x-forwarded-hos

[2020-03-02 20:39] rogerscuall commented on #423
The backend service endpoint (appliation/FlogCall) protected by oauth2_proxy is just displaying the header of the request, when Google or Github is used we get this:
[code]
And the redirect looks like this:

`https://knoblab-backend.dev.mydomain.org/oauth2/callback?code=9af11818a79d37ede7bb&state=df79bf7c7e13c745a17c52fa6046c8a9%3A%2Fapplication%2FlogCall`

When we try Cognito using OIDC provider,

[2020-03-03 00:06] ploxiln commented on #321
I think this was addressed by #331 and can be closed

[2020-03-03 00:15] ploxiln commented on #340
looks like this was addressed in #363 and can be closed

[2020-03-03 08:48] martin-css commented on #321
Yes, all done now

[2020-03-03 08:48] #321 closed

[2020-03-03 09:30] #340 closed

[2020-03-03 18:59] JoelSpeed commented on #303
I believe this can be achieved already by just providing the URLs by flag, though I admit this does defeat the point of OIDC discovery
[code]

[2020-03-03 20:45] ericofusco opened #433 "Google group membership verified on every request"
I use Gsuite and added the google_group setting with 2 groups and after I pushed this update it started making a ton of google API calls and hit my daily quota pretty quickly (300k calls) only on directory.members.hasMember method.

It seems it's because the check is done on every page view, not only during login.

## Expected Behavior

Only call google directory API during login.

I noticed this

[2020-03-03 20:46] jordancrawfordnz commented on #369
I suspect the `-prefer-email-to-user` configuration option will resolve this, looking at https://github.com/pusher/oauth2_proxy/blob/master/oauthproxy.go#L941

However, if (like in my case) you're using the `-pass-user-headers` option rather than the `-pass-basic-auth` option, this will option will have no impact. I'm considering adding `-pass-user-headers` support to the `-pass-user-headers` opti

[2020-03-03 21:50] Alives commented on #369
Yeah, it's strange.  Now that I'm testing to see if that flag works, the Google provider isn't returning the int, but the email instead (as it should).  Next time this comes up I'll see if this flag helps.  Thanks

[2020-03-04 01:34] #428 closed

[2020-03-04 01:36] zanghao2 commented on #428
There is some wrong with my back-end services.

[2020-03-04 02:13] ericofusco commented on #433
Found the issue, google admin SDK is getting called on every request because of this: https://github.com/pusher/oauth2_proxy/blob/666d4c3db15770de957a5ed23d240c4c0928a6eb/oauthproxy.go#L784

This was done to validate groups when JWT is used at #65.

[2020-03-04 02:34] ericofusco commented on #433
@brianv0 @JoelSpeed Can you give your thoughts on this please? I'm not sure why ValidateGroup() was added at #65, from what I can see ValidateGroup is only overridden for google provider.

[2020-03-04 09:01] slashbeast commented on #260
This issue is still relevant.

[2020-03-04 11:33] jmickey commented on #294
BAD BOT, NO CLOSEY

[2020-03-04 18:12] haf commented on #237
.

[2020-03-05 10:20] rnsc commented on #71
Hello @JoelSpeed ,

Is this still on the radar?
Looking at the original PR, I don't see any breaking change on the Google provider (the requester kept the Google groups flags but mentioned them as deprecated).
Or is there something else preventing this fork to integrate this change?

[2020-03-05 10:42] JoelSpeed commented on #260
Could this possibly be fixed by #308 ?

[2020-03-05 10:50] slashbeast commented on #260
I think the https://github.com/pusher/oauth2_proxy/pull/278 is the fix

[2020-03-05 10:58] rnsc commented on #333
hello @dcarrion87 , had any luck with your integration?

[2020-03-05 18:58] paulpuvi06 opened #437 "[oauthproxy.go:850] Error loading cookied session: Cookie "_oauth2_proxy" not present"
I have implemented Oauth (Provider Azure AD) +  Nginx ingress for my application hosted in AKS.

mapping path "/"
Authentication and authorization works fine for the root domain url , but when i try to browse child page (/api/build/graphql) i am getting Error loading cookied session: Cookie "_oauth2_proxy".

## Expected Behavior

Status Code: 200

## Current Behavior

Status Code: 302

 [oauthprox

[2020-03-06 12:10] radical-edo opened #439 "Using OAuth2 Proxy to protect an entire domain"
Hi,
I've run into a bit of a problem and can't seem to get over this hump. Trying to configure OAuth2 Proxy to provide basic authentication for my entire app. Goes without saying that it's all running on K8s. The app is composed of multiple microservices that together build the whole app. As an added difficulty I want to run this under a single domain. Don't want to obtain and register sub-domains

[2020-03-06 15:05] JoelSpeed commented on #139
We decided against this

[2020-03-06 15:05] #139 closed

[2020-03-06 15:08] JoelSpeed commented on #97
I think this is still relevant, though I'm not sure how many people are using the provider. @timothy-spencer do you have any time to implement a fix for this?

[2020-03-06 18:10] rogerscuall commented on #423
Hi @JoelSpeed , please when time permit let me know if you have any idea about this issue.

[2020-03-06 18:17] timothy-spencer commented on #97
There might be a couple of folks using it, but truthfully, it's probably mostly me.  :-)

I am currently engaged in other work, but may have some time coming up in a month or so to dig into this.  I remember when I created this issue that it looked like it would require a lot of restructuring to do, so I think i was hoping for somebody with a bit more authority to change the architecture to build

[2020-03-08 14:22] JoelSpeed commented on #31
We still need to work out how security reports should be handled. As a note, if anyone finds this, please do *not* email my pusher address, I no longer work for Pusher and I will not receive it

[2020-03-08 14:30] JoelSpeed commented on #431
A flag like `--user-id-claim` which would select which claim from the token to use would be preferable I think. Something that allows people to specify this generically would be more useful in the long run

[2020-03-08 14:31] JoelSpeed commented on #354
PR welcome to do that upgrade 🙂

[2020-03-08 15:34] JoelSpeed commented on #71
There are some outstanding comments on the PR, if the PR author can fix these then I'll re-review and hopefully it will be ready for merge

[2020-03-08 15:40] JoelSpeed commented on #437
Not sure what's wrong from the information provided, very odd to have one page work and others not. Can you provide any more details or logs?

[2020-03-08 15:48] JoelSpeed commented on #439
Try adding the whitelist domain option with your domain as the value, this should allow you to redirect to any URI under the whitelisted domain

[2020-03-08 18:27] syscll commented on #51
Closing as this is quite stale. Feel free to reopen if you have any other thoughts.

[2020-03-08 18:27] #51 closed

[2020-03-08 19:49] holyjak commented on #431
Thank you! I will look into that.

In our case I would still need to `--user-id-claim sub` (which is always present) because some of our users only have `phone_number`, some only have `email` (some have both). Alternatively we could make `--user-id-claim` a list where the first present gets used. But I guess the complexity cost of that is not worth this likely rare use case.

[2020-03-09 00:32] jdequatrebarbeszenvalue commented on #88
That would be very useful!

Options: configuration must allow prodiver-related keys mutliple values(`provider`, `client_id`, `client_secret`...)

OAuthProxy:
- the single `provider` by must be replacer by an array,
- the sign-in template must offer multiple providers,
- `OAuthStartPath`, `OAuthCallbackPath` and `redirectURL` must become provider specific.

[2020-03-09 07:22] radical-edo commented on #439
I'm assuming I should add this `whitelist-domain` as a container args? As it turns out I already have it specified: Here are my args:

[code]
I've added a bit more info in case it might come in handy.

But, the thing is, I've thought that the `whitelist-domain` is needed after the sign-in, not beforehand. And it's only needed if I have `OAuth2` flow under a different domain then the actual app, wh

[2020-03-09 10:42] 5331k commented on #161
Hi @pedreen , Are you able to achieve, what you are trying to do, i am also looking for solution

[2020-03-09 11:11] cfra commented on #348
I am still facing this issue.
I still feel that redirecting to the HTTPS address is not useful in many cases.

[2020-03-10 08:06] holyjak opened #441 "Document how to sign out"
https://pusher.github.io/oauth2_proxy/endpoints mentions `/oauth2/sign_out` but does not explain how to use it. Neither does it mention whether it integrates somehow with the `end_session_endpoint` from https://my-oidc-provider.example.com/realms/mine/.well-known/openid-configuration

## Expected Behavior

I am trying to log out via https://my-app.example.com/oauth2/sign_out?rd=https%3A%2F%my-oidc

[2020-03-10 20:33] genert commented on #46
@JoelSpeed That would be an excellent way with Traefik, unfortunately there is no way to do that with Traefik at the moment.

Opened issue to track the discussion and plans with this - https://github.com/containous/traefik/issues/6463

[2020-03-11 00:05] #336 closed

[2020-03-11 00:05] #344 closed

[2020-03-11 00:05] #330 closed

[2020-03-11 00:05] #322 closed

[2020-03-11 00:05] #324 closed

[2020-03-11 00:05] #318 closed

[2020-03-11 00:05] #305 closed

[2020-03-11 00:05] #315 closed

[2020-03-11 00:05] #303 closed

[2020-03-11 00:05] #298 closed

[2020-03-11 00:05] #283 closed

[2020-03-11 00:05] #284 closed

[2020-03-11 00:05] #268 closed

[2020-03-11 00:05] #261 closed

[2020-03-11 00:05] #266 closed

[2020-03-11 00:05] #257 closed

[2020-03-11 00:05] #246 closed

[2020-03-11 00:05] #245 closed

[2020-03-11 13:51] JoelSpeed commented on #348
I'd consider this to be a bug, I think we need to come up with some resolution for this

[2020-03-12 00:05] #230 closed

[2020-03-12 00:05] #207 closed

[2020-03-12 00:05] #218 closed

[2020-03-12 00:05] #199 closed

[2020-03-12 00:05] #197 closed

[2020-03-12 00:05] #184 closed

[2020-03-12 00:05] #192 closed

[2020-03-12 00:05] #177 closed

[2020-03-12 00:05] #181 closed

[2020-03-12 00:05] #165 closed

[2020-03-12 05:38] holyjak commented on #439
Maybe this is a Kubernetes rather then oauth proxy question, better asked in a K8s forum? Because, if I understand correctly, the problem is that your K8s setup does not force you to log in when accessing `/`. Perhaps the configuration of your nginx service would be of value.

[2020-03-13 00:05] #143 closed

[2020-03-13 00:05] #134 closed

[2020-03-13 00:05] #136 closed

[2020-03-13 00:05] #127 closed

[2020-03-13 00:05] #133 closed

[2020-03-13 00:05] #125 closed

[2020-03-13 00:05] #116 closed

[2020-03-13 00:05] #118 closed

[2020-03-13 00:05] #105 closed

[2020-03-13 00:05] #106 closed

[2020-03-13 00:05] #95 closed

[2020-03-13 01:00] cagiti commented on #191
I've found that setting `approval-prompt=` seems to do the trick... unless I've got the wrong end of the stick here

[2020-03-13 07:27] mariusmarais commented on #191
Just tried with `--approval-prompt=`, but I see no change, I still cannot force a Select Account dialog.

[2020-03-13 07:31] mariusmarais commented on #191
On that note, is anyone interested in fixing this?  Clearly the Google Provider is not working as intended.

[2020-03-13 15:09] radical-edo commented on #439
Thanks, you've pointed me in a new direction. Still haven't figured this one out, though. I will get back to you if I'll manage to solve this one.

[2020-03-13 17:29] holyjak commented on #431
FYI I am going to work on a fix soon.

[2020-03-13 18:49] holyjak commented on #439
BTW have a look at https://github.com/pusher/oauth2_proxy/pull/443

On Fri, 13 Mar 2020, 16:09 Mateusz Barczak, <notifications@github.com>
wrote:

[2020-03-13 20:10] #433 closed

[2020-03-14 00:05] #310 closed

[2020-03-14 00:05] #80 closed

[2020-03-14 00:05] #86 closed

[2020-03-14 00:05] #79 closed

[2020-03-14 00:05] #73 closed

[2020-03-14 00:05] #77 closed

[2020-03-14 00:05] #64 closed

[2020-03-14 00:05] #72 closed

[2020-03-14 00:05] #56 closed

[2020-03-14 00:05] #58 closed

[2020-03-14 00:05] #45 closed

[2020-03-14 00:05] #53 closed

[2020-03-14 09:53] #380 closed

[2020-03-14 10:07] #441 closed

[2020-03-14 20:06] holyjak commented on #431
BTW I think about making `--user-id-claim` a list where you can specify multiple claims, the first present will be used - this is best for our use case where people have either email or phonenumber. And you can always use just a single value (default = email).

@JoelSpeed I am not sure what you meant by

Could you please elaborate?

[2020-03-14 20:08] holyjak commented on #437
And it could also help to post info about the cookie (its domain, path perhaps?).

[2020-03-15 00:05] #343 closed

[2020-03-15 00:05] #30 closed

[2020-03-15 00:05] #36 closed

[2020-03-15 00:05] #19 closed

[2020-03-17 02:54] western24 opened #449 "Issuer Name Mismatch"
Hi,
I'm trying to use oauth2_proxy with Oracle Identity Cloud Service.  The following parameters are added in the configuration file as Open ID Connect. But  I'm faced with an error that the issuer didn't match. Probably, issuer value returned by Oracle IDCS is different from your expectations.  Can I avoid this error?

client_id = "xxxxxx"
client_secret = "xxxxxxx"
provider = "oidc"
oidc_issuer_u

[2020-03-17 17:13] JoelSpeed commented on #431
I like the idea of a `--user-id-claim` flag but I don't believe it should be a list. I think we should keep this as a single option and if it's not present, the user should not be logged in. I don't know if it's safe to have failbacks in this situation. I haven't seen any other projects having failbacks for the user claims and this makes me think we should probably follow suit

I want a flag that

[2020-03-17 17:57] #381 closed

[2020-03-17 18:26] JoelSpeed commented on #449
This issue is actually in a dependency of this project
https://github.com/coreos/go-oidc/blob/8d771559cf6e5111c9b9159810d0e4538e7cdc82/oidc.go#L140-L142
Would you open an issue there as well and link it back here? I'd be intrigued to see what they say

Normally the `oidc_issuer_url` would match the `issuer` field at the [discovery endpoint](https://idcs-fd65079a19ab43ab808d264c927d3401.identity.or

[2020-03-17 21:38] zuc opened #452 "Customizable scope(s) as query params"
Hi all,
I have an hypothesis about a specific behavior not being currently covered by `oauth2_proxy`, so this issue is meant to:
1. make sure there's no actual solution as of `v5.0.0`
2. make sure my use case is not faulty somewhere
3. ask if you might accept a PR for this proposal

**Context:**
* Multiple Kubernetes clusters hosted on AWS EKS
* [`kube-oidc-proxy`](https://github.com/jetstack/kube

[2020-03-18 18:54] JoelSpeed commented on #341
This is merged

[2020-03-18 18:54] #341 closed

[2020-03-18 21:05] isouzasoares commented on #135
Hi all,
I'm with same problem. When I try to add a new queues /rabbitmq/api/queues/%2F/aa.

[2020-03-19 07:09] holyjak commented on #431
It was not intended as a fallback but rather as alternatives. My context is a big org that migrates users of different origins to a single system. For historical reason, some use email while others user phone number as their login (and frequently do not have the other registered). So being able to specify both would be optimal for us. If `--user-id-claim` only supported a single value, we would ne

[2020-03-20 12:29] entersb commented on #135
It is issue with some rewrite. Check your rewrite rules and it should be all OK. We had some hidden undocumented rule to add trailing slash to path where ingress was adding it by itself

[2020-03-23 16:36] #449 closed

[2020-03-23 20:31] JoelSpeed commented on #452
This sounds reasonable as a proposal. Normally the client (oauth2_proxy) would configure the scope based on the requirements of the application, so having this externally configurable does seem to make sense.

I'm just wondering whether this might open the proxy up to attack however. Can adding additional claims cause problems in terms of security? It allows potential attackers to maybe request ad

[2020-03-23 20:47] zuc commented on #452
@JoelSpeed I don’t think there’s chance for this to result in introducing an attack vector, as dex would still check whether the current client is trusted by the audience expressed in the additional_scopes query param, but this is what I can say about my current implementation scenario (therefore, no idea whether not having dex in the middle could make the thing behave differently).

Happy to get

[2020-03-24 14:59] brianv0 commented on #375
Any comments on #393? I'd like to make sure the feature is kosher before I do more work fixing potential merge conflicts

[2020-03-24 23:21] GuyPaddock commented on #374
I'm also seeing this issue with Azure and guest accounts.

[2020-03-25 09:56] deiga commented on #374
We have email domain as `"*"`

[2020-03-25 23:31] chkohner opened #455 "Cannot use query string as part of an upstream URL"
It's currently impossible to forward requests to an upstream host that requires an access token in the query string (or to provide any query string values at all). For example, in instances where you want to access a private upstream origin server using an access token.

## Expected Behavior

An upstream URL should be used as-is, appending whatever path (and additional query args) are provided in

[2020-03-25 23:42] chkohner opened #456 "Cannot change the path used in an upstream server."
Current behavior when mapping an upstream source with a path is to map only that path. For example:

`http://private.me.com/site/`

Will result in binding the path `/site/...` in the proxy server, but in this case, the upstream's `/site/` is the "root" of the website in question.

## Expected Behavior

The current implementation uses the fragment portion of a `file:///` URL to "remap" the path tha

[2020-03-26 15:47] edemen opened #458 "Using some extra args with Azure results in error 400 and 500"
Edit: When using the following `extraArgs` with `provider: azure`, successful authentication will lead to error 400 returned from login.live.com and result in error 500 shown to the user:
- `cookie-refresh`
- `pass-authorization-header: true`
- `set-authorization-header: true`
- `pass-access-token: true`

Original text:

## Expected Behavior

Expected to see the application

## Current Behavior
Se

[2020-03-26 16:54] chkohner opened #459 "Cannot use an upstream URL with an escaped path (%2F)"
If you try to add an upstream URL with an escaped path such as `http://127.0.0.1:8000/a%2Fb/` it will instead bind to the unescaped path `/a/b/` (and the unescaped upstream version as well: `http://127.0.0.1:8000/a/b/`).

## Expected Behavior

Using any valid upstream URL with a path should be retained exactly in the proxy's mapping table and not changed during the process.

## Current Behavior

I

[2020-03-26 20:50] ScottGuymer opened #461 "Support for proxying API and returning 401 on not authentiacted"
## Expected Behavior

Im looking to use the proxy to secure an API. When an invalid token is passed in the Auth header I would like the proxy to return a 401 and not redirect to the provider.

Is this possible with config?

## Current Behavior

The current behaviour is to validate the token and if invalid returns a 302 to the provider login which is not valid as this is just an API

## Possible So

[2020-03-27 11:52] UpperM commented on #439
Did you find a solution ?

[2020-03-28 09:15] josephcf commented on #428
I got the issue, its due to SameSite policy change by chrome. check the chrome console

[2020-03-28 10:14] josephcf commented on #437
Its due to samesite policy change in chrome, check the chrome console

[2020-03-28 12:42] JoelSpeed commented on #431
Honestly, my opinion is that your case is probably quite a niche case and I'd rather not be creating lots of additional niche cases within the project to support single users. Are you aware of others who have similar problems? Are there other projects with similar features to this?

[2020-03-28 13:59] JoelSpeed commented on #348
Does anyone have time to look into this?

[2020-03-29 14:57] sepich opened #465 "Docs does not work"
## Expected Behavior
Project link on top of page https://oauth2-proxy.github.io/oauth2-proxy should show the page correctly.
The same with link in Readme:
Read the docs on our Docs site (https://pusher.github.io/oauth2_proxy).

## Current Behavior
First link - site is broken (js, css - 404)
Second link - 404

## Possible Solution

## Steps to Reproduce (for bugs)

1.  https://oauth2-proxy.github.i

[2020-03-29 15:08] JoelSpeed commented on #465
Hi, we are currently migrating the project from one location/name to the other (see #464)

The docs will be fixed once the migration is complete.

Apologies for any inconvenience in the mean time.

If you have ruby on your machine I would encourage you to check out the code locally and run `make -C docs serve` to show the docs site locally

[2020-03-29 15:34] JoelSpeed commented on #465
Docs are back, please reopen if you find issues with them now that they have been migrated

[2020-03-29 15:34] #465 closed

[2020-03-30 00:03] #158 closed

[2020-03-30 08:57] radical-edo commented on #439
Nope, unfortunately, haven't been able to figure this one out... at the moment I have to pause this for a bit and focus some other stuff 😞 When I'll have the time I'll go back to it.

My newest idea is to fiddle a bit with an External LoadBalancer and see if I can set it up to do the authentication before passing it to an Internal LoadBalancer - in this case, that would be my Nginx Ingress Control

[2020-03-30 09:02] holyjak commented on #431
I understand. Basing the work on #466 instead and being able to use JMESPath instead of just a claim name would satisfy my need and, I guess, be acceptable for you as well.

[2020-03-30 11:06] peter-c-larsson commented on #306
Any update on this issue?

Facing the same problem with self hosted gitlab and this time Kubernetes and nginx ingress.

Also used the previous version v3.2.0 and updated for security reasons.

[2020-03-30 11:41] bootc commented on #306
I think the fix for this is to include `openid` in the scopes. For example my `oauth2_proxy.cfg` looks like:
[code]

[2020-03-30 12:36] cmanzi commented on #423
@rogerscuall I am using Cognito as an idP as well (though in conjunction with nginx, using auth_requests to oauth2-proxy), and it is working fine for me. These are my configs for reference:
[code]

[2020-03-30 15:31] kumekay commented on #306
I have `openid` in the scopes and still experiencing the issue, so probably it's something elst

[2020-03-30 19:43] paulpuvi06 commented on #437
@josephcf - i have updated same site option , still it fails..

@JoelSpeed and @holyjak  : here is the latest log

As i mentioned before, root domain works as expected. when i try to browse /api/build/graphql it fails with authorization

[code]
can we whitelist list of domains as cookie domains ?

[2020-03-31 08:27] holyjak commented on #429
I see some providers have quite specific calls to get information about the user's access etc, which I suspect will never be available via the standard OIDC. Perhaps it would make sense to make it possible to extend oauth2 proxy with e.g. Lua scripts, so that users of these providers could do whatever extra validation they wanted, without bloating the proxy itself? As long as the providers are com

[2020-03-31 13:16] diyfr commented on #334
Same issue with prebuilt v5.1.0

[2020-03-31 17:18] bruegth opened #470 "Merge of Keycloak Gatekeeper into this Project?"
@JoelSpeed @abstractj @stianst
Are there any plans to move the Keycloak's Gatekeeper Project (https://github.com/keycloak/keycloak-gatekeeper) into this oauth2-proxy Project (Both are written in Go)?

[2020-03-31 17:24] kfox1111 commented on #470
Different goals I think. oauth2-proxy seems to be gaining a lot of features and becomes sort of like a lightweight Keycloak in addition to Gatekeeper. oauth2-proxy provides a way to let the user multiplex between a lot of different auth mechanisms and do auth termination of multiple backend services. In Keycloak there is clear delineation of those two tasks. The first is handled by Keycloak. The s

[2020-03-31 17:28] bruegth commented on #470
From Readme of Gatekeeper:

[2020-03-31 18:26] stianst commented on #470
We are actually working on moving Gatekeeper out of the Keycloak project to make it a standalone project. It already does support other providers than Keycloak, but the aim is to make this more obvious when it is moved to a new repository.

[2020-03-31 18:27] stianst commented on #470
@kfox1111 if your statement that oauth2-proxy seems to become a sort of a lightweight Keycloak then I think it may be providing features or capabilities that it shouldn't be doing. It's a proxy right? Not an IdP or Authorization Server. Can you elaborate on what you mean by this statement?

[2020-04-01 00:04] #349 closed

[2020-04-01 13:33] bruegth commented on #135
relates/duplicate of https://github.com/oauth2-proxy/oauth2-proxy/issues/459

[2020-04-01 13:37] bruegth commented on #459
Maybe related to this one:

(https://golang.org/pkg/net/url/#URL)

[2020-04-01 13:55] robinMcA commented on #458
I've had this same problem, looking at the nginx  and oauth2-proxy logs, when i het the `app.private.example.com` path the nginx throws a 5** and there is no logging in the proxy.
When i go go /oauth2/start i can go through the oauth dance, the nginx throws an error.

[2020-04-01 17:07] chkohner commented on #459
Yeah, it is. The built-in serveMux doesn't use RawPath, I'm guessing because that came in afterward and they are loathe to break existing functionality (even when that functionality is technically a bug in many cases).

[2020-04-01 18:05] edemen commented on #458
@robinMcA

Do you also get errors 400+ in the general ingress nginx controller pod logs?
What I guess is happening is:

the request first goes to `app.private.example.com` ingress
redirected to `auth.private.example.com/oauth2/auth`
redirected to `auth.private.example.com/oauth2/start`
redirected to `login.live.com`, where we are already logged in
redirected back to `app.private.example.com`
redir

[2020-04-01 19:10] JoelSpeed commented on #458
@edemen In your example, did you omit some steps between `login.live.com` and redirect back to `app.private.example.com`, as you should go to `auth.private.example.com/oauth2/callback` in between those two steps and if you aren't, this could indicate a misconfiguration of you identity provider

[2020-04-01 19:17] JoelSpeed commented on #366
This still needs updating

[2020-04-01 21:53] edemen commented on #458
Hi @JoelSpeed
Thanks for your comment.
I was just guessing at what's happening really. I don't actually know for sure. Just trying to reason about where the error 400 may be coming from.
You are right though, the redirect should be going to `auth.private.example.com/oauth2/callback` from the external provider.

Checking the Azure app, it is configured as follows:
Allow Redirect URIs:
[code]
My und

[2020-04-01 23:26] edemen commented on #458
I have been able to get this to work with Github as external provider, so there must be more Azure-related config that I am missing... Interesting.

[2020-04-02 13:14] livius100 opened #472 "Login URL ignored"
Hello everyone,

I'm trying to run a oauth2-proxy v.5.0.0 in docker using a custom build with gitlab (local build) as provider, but no mater what I put under "login_url" is being ignored and it redirects to "https://gitlab.com/users/sign_in"
## Expected Behavior
Being redirected the my gitlab local build URL
## Your Environment
Dockerfile:
`FROM alpine

ENV OAUTH2_PROXY_URL="https://github.com/oau

[2020-04-02 15:46] desaintmartin opened #473 "Anchor in original URL when redirecting to login page then original page is lost"
Currently, if one wants to visit an URL https://something.com/path?param=value#my-anchor and oauth2-proxy redirects to to the login page, everything after the anchor is lost since it is a purely browser based concept.

## Expected Behavior

1/ User visits https://something.com/path?param=value#my-anchor
2/ User gets redirected to login page, and successfully logins
3/ User gets redirected to https

[2020-04-02 15:50] JoelSpeed commented on #473
I've looked into this before. Anchors aren't sent as part of an HTTP request and as such exist only in the browser. There is no way to fix this unfortunately (without a rewrite of the HTTP spec 😅).

[2020-04-02 15:54] desaintmartin commented on #473
Thanks! This was my first analysis before seeing some code tied to hash in the HTML template.
Maybe we should clarify this somewhere in the documentation, as it is possibly an anti-pattern.

[2020-04-02 15:55] JoelSpeed commented on #473
@desaintmartin Can you link me to the code you mean?

[2020-04-02 15:57] desaintmartin commented on #473
https://github.com/oauth2-proxy/oauth2-proxy/pull/353/files but it seems related to a potential anchor in the login page itself, not the original URL page.

[2020-04-02 16:13] JoelSpeed commented on #473
Yeah you're correct, that's to do with the login page itself and not to do with the original page

[2020-04-03 02:52] rhuddleston opened #475 "All logs going to stderr"
All logs should log to stdout by default

Currently all logging is going to stderr

## Steps to Reproduce (for bugs)
- Download oauth2_proxy binary from github
- Write to oauth2_proxy.cfg
`http_address = "http://127.0.0.1:5180"
request_logging = true
cookie_secret = "foo"
client_id = "foo"
client_secret = "foo"
email_domains = [ "foo.com" ]`
- ./oauth2_proxy -config=oauth2_proxy.cfg > /dev/null
`[

[2020-04-03 03:48] GuyPaddock commented on #458
The 5xx error is caused by specifying `cookie-refresh`; refresh is apparently not implemented fully/properly for Azure. Just ran into this myself.

See:
- https://github.com/oauth2-proxy/oauth2-proxy/issues/260
- https://github.com/oauth2-proxy/oauth2-proxy/pull/278 (stale)

[2020-04-03 08:13] joker32 opened #476 "provider-display-name does not change the display name"
Hello.

I have added the option "provider-display-name" to my config file. Provider is defined as "azure". Unfortunately the display name does not change, it still says "Azure".

provider = "azure"
provider-display-name = "Custom Name"

![image](https://user-images.githubusercontent.com/2000896/78348333-24c0fa80-75a2-11ea-9e15-dc4681483b69.png)

Thanks!
Max

[2020-04-03 09:19] roman-vynar commented on #475
Most likely just a single line change here https://github.com/oauth2-proxy/oauth2-proxy/blob/master/pkg/logger/logger.go#L101 to `os.Stdout`,

[2020-04-03 10:45] Bonko commented on #366
Hi Joel,

sorry for my late reply.
I already started writing a comment some time ago, but then stopped and forgot about it.

You are right that there are already many configuration options, but this does not have to be a bad thing and others could benefit from it as well.

Regarding changing the "default" back: Another breaking change might be bad, that's right.
I wonder why the format was changed

[2020-04-03 11:18] RaoulDijksman opened #477 "Match skip-auth-regexs option against X-ORIGINAL-URI header"
The `/oauth2/auth` endpoint is used with the NGINX auth_request directive. In such a setup, the OAuth2Proxy is not a reverse proxy and the `skip-auth-regexs` doesn’t work as the URI is always `/oauth2/auth`. It would be nice if this endpoint used the `X-ORIGINAL-URI` header to match against the list of regexes.

## Expected Behavior

`/oauth2/auth` returns a 202 when the URI in the `X-ORIGINAL-URI

[2020-04-03 12:00] edemen commented on #458
Wow. I would not have thought to try to remove that. As soon as I commented out cookie-refresh it started working.
You are a saviour, thanks!

[2020-04-03 16:37] edemen commented on #458
I have just discovered that the same thing (error 400 -> error 500) happens if I use `set-authorization-header: true`
This is rather unfortunate as I am trying to get auth header working.
Any ideas why this setting would cause an error 400?

[2020-04-04 12:01] JoelSpeed commented on #429
I have been considering this myself, and you are correct, there is definitely some stuff that is quite provider specific (eg fetching groups for some providers) that we will likely never be able to make generic.

I like the idea of an extension point, though I think it should be more generic than enforcing a particular scripting language on users

Alternate ideas for extensions could be:
- Webhook

[2020-04-04 12:24] JoelSpeed commented on #458
@edemen The azure provider doesn't implement a lot of the features and unfortunately a lot of our flags are not compatible with the provider. This is something I'd like to address but I doubt I'll have any time to look at that in the near future.

I would suggest you look into using the OIDC provider with Azure (it should be compatible, I know other have had success in the past with it), then the

[2020-04-04 13:21] JoelSpeed commented on #476
@joker32 Options in config files need to use underscores instead of hyphens, double check your config as it should be `provider_display_name` not `provider-display-name`

[2020-04-04 13:24] JoelSpeed commented on #475
Ideally the project would still write errors to `stderr`, though I don't think our logging currently has the ability to distinguish errors from info logs, might need more than just a one line change, but I'm open to a PR to fix this

[2020-04-04 13:25] JoelSpeed commented on #366
I think for this one, I'm tempted to just update the documentation and call it there.

Is the current format parsable at all by your log parser?

[2020-04-04 13:27] JoelSpeed commented on #477
Can this not be configured inside Nginx? It would make more sense to skip the authentication within Nginx and not even attempt an auth request to the proxy for the paths you don't want validated

[2020-04-04 14:54] JoelSpeed commented on #470
@kfox1111 I'd also be intrigued to hear your thoughts about why oauth2-proxy is like a mix of keycloak and gatekeeper, if you have time to elaborate on that, please do!

[2020-04-04 15:02] joker32 commented on #476
Damn, rookie mistake. ;)
Thanks!

[2020-04-04 15:02] #476 closed

[2020-04-05 15:39] lmm-git opened #479 "Keycloak auth provider should be using OIDC provider underneath"
The documented and implemented Keycloak auth provider is using the Keycloak API but not featuring all the functionality of OIDC.

## Expected Behavior
When authenticating via Keycloak a Bearer Auth token should get sent to upstream if switch enabled.

## Current Behavior
Not sent due to the fact the Keycloak auth provider is using the keycloak API and not OIDC.

## Possible Solution
Use OIDC. Even

[2020-04-06 08:28] JorenZ commented on #461
Setting `- --upstream=static://200` (https://oauth2-proxy.github.io/oauth2-proxy/configuration) might yield the desired behavior. Would that work?

[2020-04-06 12:47] Bonko commented on #366
I don't know if it is worth the effort. We are using (enhanced) grok patterns and the timestamp from `COMBINEDAPACHELOG` does not match, so every entry  is reported at 1.1.1970. However there is still the timestamp when the log arrives at logstash, on which we rely now

[2020-04-06 13:13] RaoulDijksman commented on #477
It is possible to do that in Nginx. That is exactly the work around that I went for. However, we are using Kubernetes and this solution involves creating a second Ingress definition. Which is more work than just adding a config value. I agree with you that configuring it in Nginx is the better solution, if you feel like that is the recommended solution, feel free to close this issue.

[2020-04-06 14:33] ajcollett commented on #26
Same as @infinitydon above, there is NO cookie when redirected back to the OAuth2_proxy.
I checked in the logs and "inspected" in the browser.

I am working with a self hosted GitLab instance, which seems like that might be the case with @infinitydon too.

I see the below in the logs:
[code]
What does that mean?

[2020-04-06 17:35] trevorbox opened #480 "Improve Okta Docs"
The redirect_url configuration within the documentation section [CONFIGURING THE OIDC PROVIDER WITH OKTA](https://oauth2-proxy.github.io/oauth2-proxy/auth-configuration#configuring-the-oidc-provider-with-okta) did not work as expected. It should match the Endpoint as documented.

Additionally, it would be nice to have a localhost example for Okta.

## Expected Behavior

The documentation correctly

[2020-04-06 18:10] JoelSpeed commented on #366
Ok, I'm going to suggest not changing the format again and just updating the docs as a solution here

[2020-04-06 18:12] JoelSpeed commented on #477
I'm trying to keep this project lightweight and not have too many features of the bulkier proxies, I don't want this to become a full fledged reverse proxy

I believe handling in Nginx is better in the long run, and that having two ingress files isn't that much extra effort so I'm going to close this with the Nginx route as the recommendation.

[2020-04-06 18:12] #477 closed

[2020-04-06 18:21] JoelSpeed commented on #479
Given keycloak supports OIDC, do you think the keycloak provider could be written to reuse the OIDC provider and just override the group membership?

[2020-04-07 00:04] #364 closed

[2020-04-07 00:04] #74 closed

[2020-04-07 00:25] edemen commented on #458
I have tried to use OIDC with Azure just now.
[code]
Funny how the trailing slash is obligatory else I get the error about issuer mismatch.
Discovery seems to work fine and I can log in, as with `provider: azure`
Side note: If I use URL `https://login.microsoftonline.com`, the actual issuer returned from the server is the `sts.windows.net`.

However, as soon as I add `set-authorization-header: tru

[2020-04-07 08:51] RaoulDijksman commented on #477
I understand, agreed!

[2020-04-07 15:07] fliphess commented on #437
Having the same issue on one of many services that we run with oauth-proxy. Love to provide some addtional information if required :)

[2020-04-07 19:47] JoelSpeed commented on #437
This might be an odd/wiildcard suggestion, but try ensuring there's a trailing slash on the upstream argument? A PR I was reviewing recently suggests that Go's mux handler cares about trailing slash vs no trailing slash

[2020-04-07 20:11] lmm-git commented on #479
Yes, I think this would be more or less easily possible.

[2020-04-08 00:04] #373 closed

[2020-04-08 01:46] mdgreenwald commented on #129
Is there still interest in resolving this?

[2020-04-08 09:00] fliphess commented on #437
I'm very sorry! My issue was unrelated and caused by some experiments by a colleague:

[code]

[2020-04-08 19:34] JoelSpeed commented on #461
I would suggest using something like Nginx with the auth request mode to achieve this

[2020-04-08 19:41] JoelSpeed commented on #479
I think we should try to do this at some point then, would hopefully reduce the amount of code we have to maintain and ideally, we can do it in a non-breaking way

[2020-04-08 20:18] JoelSpeed commented on #458
@edemen There's nowhere in the code that an error can be caused, that I can see, by adding this option, can you please provide the config file or args as they appear once deployed rather than through the helm template as you've provided, this might help to understand what settings are actually causing this issue

Could you clarify for me, are you clearing your sessions between testing?

I suspect

[2020-04-09 15:16] zuc commented on #452
Any update here?
CC @syscll @steakunderscore

[2020-04-09 16:48] edemen commented on #458
@JoelSpeed

Thanks

Yes, I am clearing all browser cookies between testing attempts.

[code]

Just to confirm, this ends up with an error after a successful login. However, if I remove `- --set-authorization-header=true` editing the deployment in place, clear cookies and retry, I can access protected domain fine.

I think I had some problem with that, which was mitigated by adding an annotation to

[2020-04-09 19:23] steakunderscore commented on #456
Hi @chkohner :wave: To make sure that I have understood your issue correctly. You would like oauth2-proxy to support path remapping in an http upstream just like we support it for static files. Is that correct?

[2020-04-09 19:28] chkohner commented on #456
Correct. #460 implements this functionality.

[2020-04-09 19:34] steakunderscore commented on #455
How would you propose a conflict in parameters is handled? For example with an upstream of `http://private.me.com/file.html?t=123abc`, would this happen:
[code]
or:
[code]

[2020-04-09 19:41] chkohner commented on #455
I believe the proper response is to simply concatenate them into:

[code]

and leave it to the upstream HTTP implementation to make sense of it.

[2020-04-10 00:04] #376 closed

[2020-04-10 00:04] #254 closed

[2020-04-10 13:13] JoelSpeed opened #482 "Proposal: Deprecation of cookie splitting"
Currently (v5.1.0), when a session is encrypted and the size of the session exceeds 4kb, there is logic within the proxy to [split the cookie](https://github.com/oauth2-proxy/oauth2-proxy/blob/7efc162aaa1a8cbd540fe1d2dab2106ddd8278d4/pkg/sessions/cookie/session_store.go#L128-L153). This is required so that we do not exceed the maximum size of a cookie. As far as I'm aware this is guaranteed to hap

[2020-04-10 13:46] steakunderscore commented on #482
I'm all for this change. I agree this is something that should for a few months/releases be a deprecation warning.

[2020-04-12 10:39] JoelSpeed commented on #455
I agree with @chkohner, I don't believe there is a standard way of handling this but I have seen many different projects approach this in different ways, including some expecting multiple entries and using the values as a list

[2020-04-12 11:40] steakunderscore commented on #455
Agreed, that makes sense :smile:

[2020-04-13 06:22] sribee commented on #390
dex now has support for password grant - https://github.com/dexidp/dex/pull/1621
Is that going to be useful for supporting this feature in oauth2_proxy?

[2020-04-14 00:07] YenTheFirst opened #490 "CookieRefresh option does not refresh session age, spams logs"
When a session is old enough to be "refreshed", its age is never reset, causing subsequent authenticated requests to continually spam "Refreshing old session cookie" in the logs.

## Expected Behavior

When:
* `--cookie-refresh=1m` is set
* multiple calls to `/oauth2/auth` are made over the course of several minutes

I expect that:
* in the logs, at most 1 request per minute has a "Refreshing old

[2020-04-14 10:44] johejo commented on #482
Agree.
Large cookies are not a good choice as they may be limited by the L7 load balancer (PaaS).
Recently I faced the HTTP/2 enabled Azure Application Gateway blocks large header (it means large cookie).
https://docs.microsoft.com/en-us/azure/azure-resource-manager/management/azure-subscription-service-limits#application-gateway-limits

It may be possible to support full local boot modes other th

[2020-04-14 14:01] shamil commented on #490
I'm experiencing exactly same issue. The cookie doesn't get refreshed as it seems and this causing many unwanted calls (in our case to google: https://www.googleapis.com/oauth2/v1/tokeninfo)

[2020-04-14 16:21] nickwilliams-codynamic commented on #431
I also have this requirement. I've worked on a fair few IDAM solutions in the past and not having an email included in an id_token or from a userinfo endpoint I think is reasonably common to be honest. As phone number sign up and passwordless are being used more and more, I think it will become more common too.

[2020-04-14 19:07] alexec opened #492 "Full RBAC proxy"
I'd like to understand if we can use oauth2-proxy for both authn and RABC authz.

Currently I have a service which has REST level 2 API (not POX or level 1) that could therefore be access controlled based just on the HTTP method and path.

I'm wondering if this is something you'd support?

[2020-04-15 15:33] ploxiln commented on #490
If cookie-refresh does not work, it can be disabled, to avoid the spam. (In fact it is disabled by default.)

[2020-04-15 16:08] shamil commented on #490
@ploxiln so whats the point of this param if the only ting it does is spamming logs, without even refreshing the cookie?

[2020-04-15 16:15] ploxiln commented on #490
for correctly configured supported providers, it works. for others, you can still use oauth2-proxy without it spamming your logs.

the bug isn't the spamming of logs, the bug is that for your particular config, refresh does not work. (just having it reset the age to add a long delay to the refresh retry would be a silly fix)

[2020-04-15 16:21] shamil commented on #490
@ploxiln can you elaborate `correctly configured supported providers`.
I use Google provider, what should I look for in configuration to see what I did wrong?

[2020-04-15 16:45] ploxiln commented on #490
If the oauth2-proxy logs seem to indicate that refresh succeeded, then the likely problem is that updating the cookie in the browser is not working. Check your browser's debug console network tab to get more details. Are you using nginx `auth_request` mode? Configuring SetCookie header through this can be tricky. Are most of the requests from the browser "ajax" requests rather than direct page loa

[2020-04-15 16:49] YenTheFirst commented on #490
To clarify, with my test/reproduction of the issue, I'm not going through nginx, and the issue is reproducing.

With the test, I'm talking directly talking to oauth2_proxy, and I'm getting and setting a new cookie (the `User` changes) - but the cookie has an identical `CreatedAt`

[2020-04-15 17:13] ploxiln commented on #490
The demo in your report uses htpasswd file for initial login, which can't really be "refreshed" like other token-based auth. So my fork of the old `bitly/oauth2_proxy` it still has this logic:

[code]

(htpasswd-auth does not provide an AccessToken)

whereas in this new-upstream it has been updated to:

[code]

so when I run your test with the fork I use, I don't see it trying to refresh at all. (

[2020-04-15 17:20] YenTheFirst commented on #490
For my actual use case, using an OIDC provider that supports refresh, with redis session storage, I'm pretty sure "refresh" is well-defined. But the refresh logic doesn't actually attempt to refresh anything, it just re-saves the session.

[2020-04-15 17:35] shamil commented on #490
I'm not using `auth_request` with `nginx`. In fact I'm not using `nginx` at all.
Yes most of the request are `XHR`

And `oauth2-proxy` get 200 from the provider when refreshing

[code]

[2020-04-15 18:24] ScottGuymer commented on #461
In the end I used Envoy proxy to proxy our API and validate the tokens.

[2020-04-15 18:24] #461 closed

[2020-04-17 11:41] yaroslavros opened #493 "Websockets always require valid upstream cert"
Websockets should follow the same certificate checking behaviour as regular HTTPS transport.
Currently, websockets always require valid TLS certificate even when ssl-upstream-insecure-skip-verify option set.

I'll submit a trivial PR that fixes this issue.

[2020-04-17 19:35] jsclayton commented on #129
I'm working on a PR now to add this. 🤚

[2020-04-18 14:53] JoelSpeed commented on #490
I'm not sure what the exact issue here is, but I have definitely seen this refresh behaviour working before, so I'm not sure what has changed to break this.

If anyone can provide a small, easily reproducible configuration/environment, then maybe we can narrow down the problem?

[2020-04-18 15:07] JoelSpeed commented on #490
I've just spent a little time looking into this, I think you are facing completely separate issues

@YenTheFirst Could you share some logs, particularly the `Refreshing x old session` would be useful and any other log lines around that that look relevant. My suspicion here is that you haven't got refresh tokens in your session and so the refreshing isn't actually doing anything

@shamil You are us

[2020-04-18 17:20] JoelSpeed commented on #492
Personally, I'd prefer to keep OAuth2 Proxy as focused on AuthN as possible and try to avoid adding too many AuthZ features, that said, we do already have some support for certain checks (Does a user meet certain restrictions), I'm not sure if we support that path based or not

[2020-04-18 17:24] alexec commented on #492
Could you pass the claims through in a header for the downstream service to interpret?

[2020-04-18 17:25] JoelSpeed commented on #492
Yeah this sort of thing could be done, you can already pass the ID Token using `set/pass-authorization-header` which could then be interpreted by the downstream, would that work?

[2020-04-18 17:27] alexec commented on #492
So downstream unpacks the JWT header ?

[2020-04-18 17:32] JoelSpeed commented on #492
Yeah, that's how the integration with things like Kubernetes works with this project

[2020-04-18 17:34] alexec commented on #492
Excellent. My thinking has changed on this. Only the downstream service really understands the various resources and action, so it must do the RBAC, and passing the JWT would work for us.

Thank you!

[2020-04-18 17:34] #492 closed

[2020-04-18 17:46] JoelSpeed commented on #482
Thanks for your thoughts @johejo :)

I think we should come up with a deprecation plan for this, we currently have a warning in the proxy from the next release that warns that the cookies are being split, should we mark this as deprecated in the same release or wait for a patch release to do that?

https://github.com/mattn/go-sqlite3

I wonder if there are other ways to achieve this that wouldn't

[2020-04-18 17:48] shamil commented on #490
@JoelSpeed that's might be it

[2020-04-19 09:38] JoelSpeed commented on #388
I have had another think about this and concouded this is probably a sensible improvement to make, not sure I really understood it the first time round 😅

[2020-04-19 16:41] #493 closed

[2020-04-20 17:37] PacketShepard opened #496 "Github Deprecating API authentication through query parameters - November 13, 2020 at 4:00 PM UT"
Has anyone looked into updating the built-in Github profile's authentication to Authorization header statements rather than query parameters? I'm getting constant emails when I auth that query parameters are deprecated.

https://developer.github.com/changes/2020-02-10-deprecating-auth-through-query-param/

**The deadline for this change is November 13, 2020 at 4:00 PM UTC.**

There will be brown o

[2020-04-20 17:58] ploxiln commented on #496
should be fixed by https://github.com/oauth2-proxy/oauth2-proxy/pull/385

[2020-04-21 00:03] #109 closed

[2020-04-21 10:20] morarucostel commented on #394
Issue closed based on the #413 PR.

[2020-04-21 10:20] #394 closed

[2020-04-21 16:41] #496 closed

[2020-04-21 20:29] piscue commented on #46
I'm following this, not sure if it solve the issue: https://alex.thom.ae/2020/01/12/deploy-traefik-prometheus-grafana-oauth2_proxy-docker-compose/

[2020-04-22 20:25] arianvp commented on #479
Why doesn't the `oidc` provider support matching arbitrary claims?

Keycloak has an `oauth2_proxy` competitor called GateKeeper that works for any oidc provider. https://www.keycloak.org/docs/latest/securing_apps/index.html#claim-matching

and it can do things like this:

[code]

matching a token like

[code]

Reason I'm still using `oauth2_proxy` is because of its nginx `auth_request` support.

I

[2020-04-22 20:26] arianvp commented on #429
My comment here seems related: https://github.com/oauth2-proxy/oauth2-proxy/issues/479#issuecomment-618020509

[2020-04-22 20:46] ploxiln commented on #479
@arianvp see #466 which allows using arbitrary expressions on claims

[2020-04-22 21:13] arianvp commented on #479
Amazing. that's exactly what I was looking for!

[2020-04-23 15:31] domenzain commented on #377
The bug is still in oauth2_proxy v5.1.0
@johejo, I had put the `cookie-samesite="lax"` in the configuration file, forgetting to replace the dash with an underscore.
Your suggestion does work.

CC @dmahisingh @JoelSpeed

[2020-04-23 16:54] stedaniels opened #498 "redirectURL isn't the callback path and no way to set it"
It seems that this has flipflopped.  It was initially set so that redirectURL didn't affect the callback path.  It was then _fixed_ so that callback path was _correctly_ set to be the redirectURL.  Then it was reverted.  #9

## Expected Behavior

When working with oidc and ADFS setting the redirect_uri/redirectURL is the same as setting the callback path.  If I use e.g. /sso/redirect as my redirec

[2020-04-24 00:03] #356 closed

[2020-04-24 02:28] ghostsquad commented on #26
@infinitydon why do some of the args you are passing to `oauth2_proxy` start with 2 hyphens, and others 1 hyphen?

[code]

According to the `oauth2_proxy --help`, all arguments use a single hyphen (`-`)

[2020-04-24 03:06] andrewdbate opened #500 "Add warning for incorrect options in config file"
This is a suggestion for improvement. Please print a warning message if an option is given in the configuration file that does not correspond to a valid option.

## Expected Behavior

If an option is given in the configuration file that does not exist (for example, a misspelling of a valid option), then when the program starts up with the config file specified, issue an error and exit.

## Current

[2020-04-24 11:36] Morriz commented on #377
`cookie-samesite="lax"` is not working for us unfortunately...the configuration is correctly loaded, but we see this:
[code]
Regular browser passes it correctly. Could it be that mobile browsers don't support coookie splitting? We have 8k+ cookies

[2020-04-24 15:04] prologic commented on #217
Why not just add a wrapper implemtnation that reuses the same logic?

[2020-04-24 15:19] devopsix opened #501 "With the “keycloak” provider cookie-refresh does not work"
With the “keycloak” provider the cookie-refresh feature does not work. Instead of using the refresh token for acquiring a new access token in the background, the user is redirected to Keycloak.

## Expected Behavior

Given a web page which is protected by OAuth2 Proxy configured to use Keycloak as the identity provider
and given a user has authenticated and has loaded the page
when the user reload

[2020-04-25 00:04] #214 closed

[2020-04-25 01:54] Fez29 opened #502 "Request for guidance to setup Bearer Token capability with Azure AD"
I am attempting to deploy Oauth2_proxy using Azure AD and require usage of Authorization: Bearer ... JWT tokens to communicate with API's, I would prefer to use Nginx-ingress but am open to possibilities. I have this working with cookies via a browser but the Bearer token use case is much bigger and more useful in real terms.

## Expected Behavior

I would like to have some clear documentation out

[2020-04-25 10:02] JoelSpeed commented on #502
It's unclear to me from your description, are you trying to login to Azure separately, then provide the JWT as a header to the OAuth2 Proxy to skip authentication, or are you trying to get OAuth2 Proxy to provide you a JWT once you've used OAuth2 Proxy to sign in to Azure?

We don't have that much documentation at the moment for ingress controllers as you describe, mainly due to the fact this proj

[2020-04-25 10:11] JoelSpeed commented on #46
This is great, would be great if we could reach out to the author and ask if he would mind us having a copy of this in our documentation

[2020-04-25 10:56] JoelSpeed commented on #498
For context, the change was reverted in #101 based off of the discussion in #9 after it was reopened.

@stedaniels It is common for a OAuth2 provider to have a static and non-configurable callback path. With the redirect_url option you can, as you've suggested set an alternative for the proxy to tell the IDP as the redirect URL. This is intended as an option for users behind a reverse proxy to be

[2020-04-25 11:20] JoelSpeed commented on #500
As you've suggested, I don't think this is currently possible due to the fact we use this third party library for parsing our options.

That said, I have a PR open already to replace this with Viper (#484) so maybe it would be possible with Viper, I'm not sure.

Another thing I was considering, is adding a `--print-config` option which loads the proxy up, and then prints the config it has read in,

[2020-04-25 11:49] JoelSpeed commented on #377
Cookie splitting is being deprecated. Please switch to using redis for session storage. See #482 for further details. We have also noted there that we want to support server side sessions other than redis, please add your thoughts if you have anything to add

[2020-04-25 11:50] JoelSpeed commented on #217
What value would adding the wrapper provide?

[2020-04-25 11:54] JoelSpeed commented on #501
The keycloak provider does not currently store refresh tokens in the session state and therefore cannot be used with session refreshing.

However, you should be able to use the OIDC provider with Keycloak instead, there have been several discussions related to this (eg #479) already, please let me know if you have any reason you cannot use the OIDC provider as is

[2020-04-25 13:54] Fez29 commented on #502
Hi @JoelSpeed

I have been attempting to call the Azure token endpoint to get a bearer token and and then attempting to call my API to skip the Authentication, (Is this the correct way?) but I just keep getting redirected to the login page and as mentioned previously, Oauth2_proxy complains about no cookie being present.

I do understand that Oauth2_proxy is not just exclusive to Kubernetes.

I wi

[2020-04-25 15:46] tlex commented on #46
I'm the author of that article and, in the meanwhile, I've switched to [thomseddon/traefik-forward-auth](https://github.com/thomseddon/traefik-forward-auth/). Less headache after updates. Back in February, when I've last revised the article, it worked.

[2020-04-25 16:52] ploxiln commented on #502
Yes, that feature was added by https://github.com/oauth2-proxy/oauth2-proxy/pull/65 - and it looks like you found the option `--skip-jwt-bearer-tokens`

The problem is that oauth2-proxy does not like your jwt for some reason:

I have no idea why, sorry. The referenced pull request also adds the ability to configure additional permitted issuers ...

[2020-04-25 17:43] Fez29 commented on #502
Ok, Is it possible to get the bearer toekn from Oauth2 proxy instead of directly from Azure?

[2020-04-26 09:50] Fez29 commented on #354
Hey @nicoschuck I am attempting to use Azure AD for Authorizing using Nginx, I am struggling getting it to work using the Bearer token, any chance you can provide some guidance?

[2020-04-26 10:14] gargath commented on #500
+1 for `--print-config` if we can't throw errors on invalid options being provided.

[2020-04-26 10:50] JoelSpeed commented on #46
@tlex I'm sorry to hear you've moved away from the project

Would you mind if we included excerpts from your article within our documentation? It would be good to attribute you somehow if we did, perhaps you could co-author the commit somehow

[2020-04-26 15:12] tlex commented on #46
No problem, you can use the entire blog post, assuming you're linking back to it.

[2020-04-26 18:24] nicoschuck commented on #354
Hi @Fez29 . It looks like you are not the only one. I will write an article about all steps which I did. When done, I will share the link.

[2020-04-26 19:09] JoelSpeed commented on #502
@Fez29 If you use the OIDC provider and configure it for Azure, you should be able to get the token using the `--set-authorization-header` flag

[2020-04-26 19:52] Fez29 commented on #105
@JoelSpeed @ploxiln I suspect the issues I am having with Azure AD are related to the issues mentioned in this post.  #502 I am seeing very similar behavior with issues with the issuer, audience etc.

[2020-04-27 04:05] prologic commented on #217
Re-looking at how the configuration of "fake Github" works proably none. Maybe we should just document it ? :)

[2020-04-27 07:52] devopsix commented on #501
Thanks a lot for your prompt response! I can use the OIDC provider as an alternative.

Until #479 has been resolved, users might appreciate finding this limitation mentioned in the documentation.

[2020-04-27 13:25] Fez29 commented on #354
@nicoschuck thanks alot, in the meantime I have managed to get this right using the provider=azure method. My issues were due to multiple items, one of them being using the incorrect scope when getting the bearer token.

I will also document and possibly include as a PR for this repo. Also I will add the feedback to the ticket I logged and close. #502

@JoelSpeed @ploxiln

[2020-04-28 01:07] andrewdbate commented on #500
I think that `--print-config` is a good idea. However, the downside is that you need to know to use it, and that means that you would have to already suspect that there is a problem with your config.

Viper does not validate the config file. This [Stack Overflow question](https://stackoverflow.com/questions/58625464/validating-configurations-files-with-viper) suggests that you can even write junk

[2020-04-28 06:46] #431 closed

[2020-04-28 09:21] stedaniels commented on #498
You are right, thank you for the reply.  It is helpful that I now have a firm direction to go in.  With the use for it previously, I thought there might have been some demand there for it.  I'll temporarily workaround it with nginx redirects and then get the ADFS IDP configuration updated to match oauth2-proxy callback URL.

Thanks again for the reply.

Steve

[2020-04-28 09:21] #498 closed

[2020-04-28 14:28] pacoja84 commented on #423
Hello,

I was suffering the same issue than you and finally got resolved.

My system:
OIDC provider: Azure
oauth2-proxy and backend service deployed on kubernetes and exposed via ingress controller.

In my case, I suffer 2 big issues. The key of the solution was the ingress controller logs, not the oauth2-proxy logs.
**1. Token from azure was too big**
Ingress controller throw an error saying that

[2020-04-29 08:24] a-roberts opened #506 "Questions around OpenShift and auto-logout (looking to use this instead)"
Hi all, we've been using https://github.com/openshift/oauth-proxy to secure the Tekton Dashboard https://github.com/tektoncd/dashboard for many months now and it appears to be too inactive for our requirements.

One suggestion to get around a couple security concerns we have, is to use this project as a solution instead.

I have two questions before I dig in and start kicking the tires, hoping I c

[2020-04-29 08:26] leshik commented on #333
I posted my solution here: https://github.com/rundeck/rundeck/issues/5656#issuecomment-621059856

[2020-04-29 09:02] danifr commented on #333
I think OP config might be wrong. Hard to know from the original message.
Anyway, what I am experiencing is, authentication works fine BUT roles are not passed correctly.

Therefore Rundeck gives you this error:
![image](https://user-images.githubusercontent.com/7135482/80578154-5c3b8f00-8a08-11ea-9b06-02dadb723452.png)

I believe this is a Rundeck bug and not a oauth2_proxy one.

[2020-04-29 09:16] leshik commented on #333
Rundeck works fine if you pass correct headers. I'd suggest putting `httpbin` behind the `oauth2-proxy` instead of rundeck, then examining headers.

[2020-04-29 10:15] tambetliiv commented on #472
try `oidc_issuer_url = "https://on.premise.gitlab.company.com"`
instead of
[code]
source https://oauth2-proxy.github.io/oauth2-proxy/auth-configuration#gitlab-auth-provider

[2020-04-29 17:34] JoelSpeed commented on #217
+100 for just adding documentation if possible :)

[2020-04-29 17:46] JoelSpeed commented on #354
@Fez29 @nicoschuck Since you both worked this out, would be great to update our docs to help future users who may see similar issues as well, if you have the time of course

[2020-04-29 17:52] JoelSpeed commented on #500
I don't think that viper issue linked actually solves the problem as you have it. I think we need to iterate through the config options and mark them as "used" if they are existing and if they aren't, then we would need to flag them to the user. I'll try and look into this as I'm working on our Viper migration

My thought with the `--print-config` idea was that you may be able to use it after you

[2020-04-29 17:58] JoelSpeed commented on #500
I just started looking at this, and Viper actually looks like it might be able to help, they have an `UnmarshalExact` option (https://godoc.org/github.com/spf13/viper#UnmarshalExact) which looks like it errors if there's any options that didn't exist, I'll look into updating my PR to use this

[2020-04-29 18:34] Fez29 commented on #354
@JoelSpeed no problem I would be happy to contribute, I have forked the repository and will work on adding my input as soon as I can.

[2020-04-29 18:54] JoelSpeed commented on #500
@andrewdbate The Viper `UnmarshalExact` will return an error, so I've updated my config loading PR to include that which should resolve this issue

[2020-04-29 18:57] andrewdbate commented on #500
@JoelSpeed Thanks! I will be sure to try this (but maybe I should hold off until the CI build passes?)

[2020-04-29 18:58] Izzette opened #508 "🎉🍾🎉 Woot Woot 1000 Commits 🎉🍾🎉"
<img width="1002" alt="Screenshot 2020-04-29 at 20 57 20" src="https://user-images.githubusercontent.com/7987724/80635457-3049f900-8a5c-11ea-8ade-45d397ae6b47.png">

[2020-04-29 19:02] JoelSpeed commented on #508
We've come a long way since taking over from Bitly! Though I hadn't realised quite how far! 🎉

[2020-04-29 20:05] ploxiln commented on #506
`cookie-expire` and `cookie-refresh` are the most relevant config options (there is no other kind of auto-logout). oauth2-proxy signs a timestamp along with the rest of the cookie so it can be sure the cookie is no longer trusted after intended expiry.

[2020-04-29 20:09] ploxiln commented on #506
(and there's also a manual logout endpoint, `/auth2/sign_out`, and the user could theoretically be redirected there by an upstream application/service)

[2020-04-29 23:38] prologic commented on #217
@oliver006 Since you successfully got this working with a custom config that faked being Github -- Can you put up a PR that documents how you did this?

[2020-04-29 23:50] oliver006 commented on #217
Yeah, my apologies, I meant to do that but then life got in the way. I'll see that I can cobble together a PR for an update to the docs by the end of the week. In the meantime, see my [comment here](https://github.com/oauth2-proxy/oauth2-proxy/issues/217#issuecomment-590287554) for what config settings I used to get it to work.

[2020-04-30 11:20] stigok opened #509 "Invalid user specified in Dockerfile"
Why is the user and group set to `2000`? I can't see it being defined anywhere, so to me it is magic, and the user is non-existent within the container. Could it be set to `65534` (nobody) instead? Either way, it would be helpful with a comment as to why a specific user is chosen.

https://github.com/oauth2-proxy/oauth2-proxy/blob/842d764a5f4f56c9f021c8d32421ae3fb68d1c97/Dockerfile#L31

[2020-05-01 00:04] #397 closed

[2020-05-01 00:38] oliver006 commented on #217
Opened #510 for adding Gitea to the docs - let me know what you think.

[2020-05-01 09:36] Izzette commented on #424
Will be closed by #503

[2020-05-01 15:03] zuc commented on #452
Ping @JoelSpeed @syscll @steakunderscore

[2020-05-01 18:25] Mik317 opened #511 "OAuth Security Report"
Hi Team,
I'm a security researcher from HackerOne (Mik317).
Recently I came across a piece of code that I believe contains a possible attack that would allow malicious actors to break the behaviour of the proxy.

Let me know if I can share here all the infos or if I have to send you infos through mail :)

Regards,
Mik

[2020-05-01 18:32] JoelSpeed commented on #511
Please reach out to me on the Gophers slack or email me from the email listed on my GitHub profile

Please do not post any further details publicly

[2020-05-01 18:39] Mik317 commented on #511
Hi @JoelSpeed :),
I'm sending you the email with all the information at Joel.speed@hotmail.co.uk ;)

Best, Mik

[2020-05-01 18:52] Mik317 commented on #511
Hi @JoelSpeed :),
I've sent the issue info to your mailbox right now :)

Regards, Mik

[2020-05-02 08:02] JoelSpeed commented on #511
I've received the details for this and am looking into a fix.

I've removed all the details I can from this issue as the particulars of the report should not be public until a fix is found.

If anyone finds a security issue in the future and see's this issue, please follow my advice from above and email me on the public email from my GitHub profile.

Locking this issue now

[2020-05-02 08:02] #511 closed

[2020-05-02 13:06] pedrohjordao opened #512 "403 - named cookie not present with keycloak provider"
First off, I'm totally new to the project and I am not an expert on the oauth workflow as a whole.

I have a sample project on kubernetes I've been playing around, the set up should be something like:

- Keycloak to handle user authentication
- Linkerd2 as a mesh
- kubernetes nginx ingress as an ingress controller
- A simple frontend application protected via login in all endpoints

(To reduce the

[2020-05-03 00:04] #415 closed

[2020-05-03 10:20] steakunderscore commented on #509
The UID & GID simply need to be any non-existant or non-privileged user. `65534` would be more obvious as to the intent. Did you want to open a PR for this?

[2020-05-03 10:57] steakunderscore commented on #480
With #481 now merged, closing as done.

[2020-05-03 10:57] #480 closed

[2020-05-03 10:58] steakunderscore commented on #501
@devopsix are you able to open a PR to help us with our docs?

[2020-05-03 11:14] #500 closed

[2020-05-03 11:16] JoelSpeed commented on #509
As I see it, it's fine as it is. As @steakunderscore has said, the user doesn't need to actually exist for the container to run as a particular UID & GID.

If we do make this change, then it would have to be noted as a breaking change

[2020-05-03 13:44] JoelSpeed commented on #512
Thanks for the update, glad you managed to find the solution!

[2020-05-03 13:44] #512 closed

[2020-05-03 13:53] #473 closed

[2020-05-03 19:29] stigok commented on #509
I think it's misleading to use `2000`. A different way to go about it is to define the user, but that will add an additional image layer.

@JoelSpeed in what way do you think its breaking?

[2020-05-03 19:55] steakunderscore commented on #509
We should avoid adding the user: https://github.com/oauth2-proxy/oauth2-proxy/pull/142

[2020-05-03 20:17] JoelSpeed commented on #509
Why does this come across as misleading? Could you elaborate on that point a bit?

I would expect normally that it shouldn't really matter which user is in the file as people shouldn't be doing anything in the containers that we are producing? It's common for applications running in containers to run as non-existent users and this is even settable at runtime by the container runtime.

Did having i

[2020-05-03 20:55] stigok commented on #509
We came across it when we were setting up a `securityContext` for this image in Kubernetes and wanted to specify a UID to whitelist. I looked up what user this image was using by default to make it consistent.

@JoelSpeed I find `2000` to be misleading because the number hints to this being a special user. When I look around the repo for `2000`, I find nothing special, hence I found it odd. I am o

[2020-05-04 07:54] steakunderscore commented on #509
Thanks for the reference about nobody. Given this I think we should not change anything.

oauth2-proxy is fine with running with no extra privileges. So using an unprivileged user is appropriate. I don't see any benefit to adding a `RUN` command in the Dockerfile, but I know it's had [issues before](#142). So setting the user like we are is correct. As Joel points out, it's also a common practice.

[2020-05-04 07:54] #509 closed

[2020-05-04 08:56] Izzette commented on #508
Closing as there is now more than 1000 commits on master.

[2020-05-04 08:56] #508 closed

[2020-05-04 09:06] stigok commented on #509
Ok. Thanks for a healthy discussion :) How about mentioning the choice of UID/GID in the documentation somewhere?

[2020-05-04 20:57] JoelSpeed commented on #509
We should definitely aim to improve the docs around this and have it explained somewhere

[2020-05-04 22:17] marcosnils opened #516 "Release?"
Seems like there's been several commits since the last release and we're specifically waiting for https://github.com/oauth2-proxy/oauth2-proxy/commit/a659b9558eaa65ed5792b064bc7b3a35f0e80fbe to use the official images internally. Are there any plans to craft a new release soon? Is there something we can help with to make this happen?

[2020-05-04 23:25] scyto opened #517 "Documentation: Azure AD Logout URL path when using multiple redirect URIs?"
I have configured my nginx and Azure AD as described in the documentation.
I use the same azure app registration for multiple apps as per the docs.
I am specifying in AAD multiple host URIs for each service I have internally:

- https://service1.mydomain.tld/oauth2/callback
- https://service2.mydomain.tld/oauth2/callback
- https://serviceN.mydomain.tld/oauth2/callback

This is because wildcards ar

[2020-05-04 23:38] scyto commented on #437
For more info, i got this error when i was getting a 502 bad gateway error (for some reason the upstream server had stopped responding).  Fixing the upstream server solved the cookie error)

[2020-05-05 00:24] jmickey commented on #294
![I will destroy you gif](https://media.giphy.com/media/pBk8lbm68n23S/giphy.gif)

[2020-05-05 06:58] slashbeast commented on #260
This issue is still relevant.

[2020-05-05 07:16] haf commented on #237
.

[2020-05-05 07:22] ghostsquad opened #518 "Invalid instructions for okta?"
## Expected Behavior

The documentation accurately describes how to setup Okta and the Oauth2proxy configuration.

## Current Behavior

https://oauth2-proxy.github.io/oauth2-proxy/auth-configuration#configuring-the-oidc-provider-with-okta

When the Okta "Redirect URI" is set such as "https://example.corp.com"

But the Oauth2PRoxy Redirect URI is set such as "https://example.corp.com/oauth2/callbac

[2020-05-05 07:24] ghostsquad commented on #518
Other information, unlike the many articles out there, I'm trying to get this to work without using the nginx ingress.

So my ingress simply sends all traffic through the oauth2proxy. No special annotations.

[2020-05-05 20:12] bakhshb commented on #428
I know this thread is closed but I would like to propose a sloution.

I had the same problem and I found out that ufw was blocking port 443 between containers but accessible for the world.
I just opened port 443 and it worked again.

So check if your redirect url can be accessed from another container.

[2020-05-05 21:13] JoelSpeed commented on #516
We had a discussion between maintainers earlier this year and decided we would like to try a quarterly release schedule (End of March, June, September, December) if we are doing breaking changes, to give us time to get as many breaking changes in as possible and hopefully reduce the frequency of major version bumps.

Currently, we have a number of breaking changes merged into master so I would lik

[2020-05-05 21:19] JoelSpeed opened #520 "Cookie Domain option is inconsistent"
## Expected Behavior

All options that can be specified multiple times, should be singular as a flag, pluralised as config and env options.

## Current Behavior

#412 changed the behaviour of the `cookie-domain` option but did not change the cfg and env tags as it should have done

## Possible Solution

Fixup the cfg and env tags for the cookie domains option

[2020-05-05 21:44] chkohner opened #521 "Code scanning workflow breaks forks due to codeql"
It looks like once this change 842d764a5f4f56c9f021c8d32421ae3fb68d1c97, is pulled into a fork (for example to sync with upstream changes), it causes that repo to start failing because of:

[code]

I can't locate any documentation as to how to enable this or what else must be done, so effectively I get failure messages any time I push to my fork. 😢

## Expected Behavior

Pushes to forks do not fai

[2020-05-05 21:46] chkohner commented on #521
@greysteil Any thoughts here?

[2020-05-05 22:03] greysteil commented on #521
Sorry about that. @jhutchings - can we disable that check for forks tomorrow?

[2020-05-06 00:04] #342 closed

[2020-05-06 00:04] #404 closed

[2020-05-06 00:15] NickMeves opened #522 "Support Compressed Session Cookies"
Current session cookies are sometimes bloated (hence the cookie splitting issue). With the current implementation, there's the potential for access/id/refresh tokens to have 3 levels of base64 encoding bloat (adding 33% (my math right?) size increase each time) when 1 is potentially needed for the final cookie.

## Possible Solution

I have a branch where I've implemented a `--session-store-compre

[2020-05-06 12:40] JoelSpeed commented on #517
@scyto Could you please clarify, are you attempting to use one single instance of OAuth2 Proxy or do you have one set up for each subdomain?

[2020-05-06 12:43] JoelSpeed commented on #518
I think the docs are wrong, the redirect URI that you configure in OKTA should match that set in OAuth2 Proxy, it should be `"https://example.corp.com/oauth2/callback"` I believe.

Can you give that a try and let me know if that fixes it?

[2020-05-06 13:31] quintesse opened #527 "Update Google Auth instructions"
The current instructions for setting up authentication using Google accounts is out-of-date. Many of the pages or options that it refers to have either changed names/locations or are missing altogether.

## Expected Behavior

Easy to follow step-by-step instructions using the current version of the Google console.

## Current Behavior

Instructions are using some older version so instructions are

[2020-05-06 14:18] Nojinverse commented on #502
I'm currently facing the same issue as Fez29. any updates on the matter? Thanks in advance.

[2020-05-06 14:55] Nojinverse commented on #502
Hey @Fez29, I'm using a enterprize subscription and have a very similar setup as you. I'm trying to authorize an event grid subscription validation to an azure function endpoint using the --skip-jwt-bearer-tokens with out luck. I getting the same error as you, cookie missing and unable verify jwt token.  I'm able to validate the azure function using cookies either with a browser or postman using o

[2020-05-06 15:01] jhutchings1 commented on #521
This will require a code change, but I'm supportive. I'll backlog it and see how quickly we can address. Thanks!

[2020-05-06 15:17] scyto commented on #517
One instance of oauth2 docker container.
In nginx there is a server section per service that points to the oauth container.
In Azure it looks like this the following picture.
As I say everything it working ok and my apps are not designed to responds to any form of logoff.
So maybe it doesn't matter?

![image](https://user-images.githubusercontent.com/11369180/81194816-f2743580-8f71-11ea-905e-d601d

[2020-05-06 16:01] Fez29 commented on #502
@Nojinverse Ok cool, so I would add the following to the oauth2_proxy config, to allow you to see more info in the logs.

request-logging=true
auth-logging=true
standard-logging=true

Try with those settings and check if any more errors are shown?

What scope are you using to get your token?

Basically in short the changes I made to get mine to work are as follows:

Inside Azure AD:

In the manife

[2020-05-06 16:04] Fez29 commented on #502
I plan at some stage to upgrade the default URLS for the Azure Provider to the V2 URL's and test to see if it works to remove the need to have the entry:
[code]

[2020-05-06 16:27] ghostsquad commented on #518
Yes, when the URLs match it works

I don't understand how this relates to the domain-whitelist flag

[2020-05-06 17:03] JoelSpeed commented on #518
The whitelist domain is not relevant for your setup I don't think. It's just a list of allowed redirect targets in case you are protecting multiple domains with a single proxy

[2020-05-06 17:05] ghostsquad commented on #518
Well, I would like to protect multiple domains with a single proxy, but the documentation doesn't explain how to do that well.

[2020-05-06 17:05] ghostsquad commented on #518
I suppose that's a separate issue, do you want me to open a new issue?

[2020-05-06 17:06] JoelSpeed commented on #518
Preferably we would keep this issue focused on the broken Okta docs

[2020-05-06 17:15] JoelSpeed commented on #517
You should be able to host a single oauth2 proxy on say `oauth2-proxy.example.com` behind your nginx, then set up your Azure to point to just that one instance.

You'll need to whitelist domain the service names you wish to redirect to unless they are all under the same domain, in which case you can whitelist all subdomains of a certain domain

[2020-05-06 18:43] ghostsquad opened #528 "How to use `-whitelist-domains` flag?"
This is a request for more documentation now how to use the `-whitelist-domains` flag in order to protect multiple domains. Specifically, the problem being that the value provided in `-redirect-url` must also be set in Okta, and if the subdomain is dynamic, you can't do wildcards or anything like that in Okta.

[2020-05-06 19:09] ploxiln commented on #516
The moved project and slight renaming seems like a good excuse to do the next major release earlier than planned. With flag and config changes, and some other refactorings, it seems like backporting fixes may not be trivial.

I suggest making a beta release first, and telling people who want a release ASAP to use that, and then a few weeks later making the "stable" release.

[2020-05-06 19:19] ploxiln commented on #528
Just some bits that may help:

There are two different ideas of "redirect-url".
  * The oauth2-proxy setting "redirect-url" is the oauth callback url
  * the "whitelist-domains" applies to the redirect after that, to the upstream application url that was initially requested

You can have it so that the oauth-callback redirect-url is always to the same subdomain (a "primary" or "oauth" subdomain) a

[2020-05-06 19:23] marcosnils commented on #516
Looks like a good plan. We're happy to be beta testers here :)

[2020-05-06 19:28] ghostsquad commented on #528
How do you configure the second redirect?

[2020-05-06 19:36] ploxiln commented on #528
oauth2-proxy gets upstream-app-redirect value when you start the oauth process. It depends on whether you use direct-proxy mode, or nginx `auth_request` mode. In direct-proxy mode it's mostly automatic, in nginx-auth-request mode you can set the `X-Auth-Request-Redirect` header, see https://oauth2-proxy.github.io/oauth2-proxy/configuration#configuring-for-use-with-the-nginx-auth_request-directive

[2020-05-06 20:27] ghostsquad commented on #528
Is there a known/vetted docker image of nginx that has the relevant LUA module?

[2020-05-06 20:45] ploxiln commented on #528
You don't necessarily need lua to use nginx auth_request, I think lua is only needed if you get split cookies (due to huge provider auth tokens being included in cookies). That example has lots of possible stuff, your actual usage should be simpler.

[2020-05-07 08:23] Nojinverse commented on #502
@Fez29 It WORKS! Thank you. I was able to successfully validate Azure event subscription, using parts of the example you provided:```

    spec:
      containers:
      - args:
           - --provider=azure
          - --email-domain=*
          - --upstream=url.example.com
          - --http-address=0.0.0.0:4180
          - --cookie-domain=.example.com
          - --whitelist-domain=.example.com

[2020-05-07 08:33] xellsys commented on #431
We have also the same need.
Background: Azure B2C does not enrich the token with the "email" claim, see [here](https://social.msdn.microsoft.com/Forums/en-US/fa2599b3-38df-40db-b2ff-78fcae0fb6b5/azure-b2c-how-can-i-get-email-address-from-claim?forum=WindowsAzureAD), which makes the oauth2-proxy essentially unusable for Azure B2C.
Is this on the roadmap of the upcoming release? Can you give a timef

[2020-05-07 09:03] Fez29 commented on #502
@Nojinverse glad you are sorted 👍

[2020-05-07 09:22] JoelSpeed commented on #431
@xellsys Please follow the #516 for release conversation

[2020-05-07 09:47] xellsys commented on #516
Hi, from our side an earlier release (also with a limited feature set) would be beneficial. We are especially looking forward to configuring the user id claim.
Thanks for all your hard work on this repository. We are looking to contribute if we can.

[2020-05-07 20:22] drewwells commented on #74
I am able to reproduce this. We are using the 3.0.0 helm chart

[code]

[2020-05-08 08:48] onixie commented on #458
Hi @JoelSpeed

I'm also encountering the same issue but everything was fine until I was forcibly changed to use multi-factor authentication(using an SNS message with a verificaton code everytime I login).

The weired thing is my colleagues can still login (without need to input verification code) without any errors. We compared the cookie and there is no big difference in sizes.

[2020-05-08 10:56] JoelSpeed opened #531 "Clarification of Redirect URLs"
## Expected Behavior

Options should be easy to understand and not confusing for users

## Current Behavior

The `--redirect-url` and `--whitelist-domain` options are completely separate yet are often confused. Similarly, within the codebase we have `GetRedirect` and `GetRedirectURI` which are used in completely separate parts of the flows.

## Possible Solution

I would propose that we rename the

[2020-05-08 11:13] JoelSpeed opened #532 "RFC Introduce structural configuration (Deprecate flags and env?)"
## Expected Behavior

Configuration should be simple and easy for users of the project to understand.

## Current Behavior

We have lots of weird hacks that allow people to overload strings to force many different options within a single option.

For example, `--whitelist-domains` allows a URL such as `example.com` to match only that domain, but `.example.com` to match subdomains as well. Instead,

[2020-05-08 12:11] JoelSpeed opened #534 "Refactor to improve maintainability (CodeClimate)"
## Expected Behavior

The codebase should be clean and easy to maintain.

## Current Behavior

Codeclimate reports a lot of issues. We should try to reduce these and refactor a bit to make the code easier to maintain in the long term

Current issues: https://codeclimate.com/github/oauth2-proxy/oauth2-proxy/issues

[2020-05-08 13:46] onixie commented on #458
I found the failure in my case was actually caused by Azure AD with security defaults enabled. After turning it off, the MFA stops asking me for verification code during logging-in and the nginx ingress controller in my k8s stops yield 400 errors even the login succeeds. I'm now able to login to kubernetes dashboard again.

https://docs.microsoft.com/en-us/azure/active-directory/fundamentals/conce

[2020-05-08 13:51] JoelSpeed commented on #74
@drewwells Your redirect-url is invalid, it should point to the OAuth2 Proxy callback eg `https://oauth.test.example.com/oauth2/callback`

[2020-05-08 13:55] JoelSpeed commented on #516
I had a chat with @steakunderscore yesterday and we concluded that we would be happy to create a new release once we have a few issues/PRs sorted. So we are going to try and prioritise those
In particular I know we mentioned:
- #520
- #530
- #414
- #515
Bonus points, would be nice to get #524 in too

As for helping to get this out, it's always helpful if you can review other PRs that have been rai

[2020-05-08 16:25] xellsys commented on #516
Any chance #431 could make the cut? We (my team) might be able to support as well. Be it PR or otherwise.

[2020-05-08 16:34] JoelSpeed commented on #516
#431 is already fixed in master so it will be in the next release

I've also opened #535 which is a breaking change so I'd like to get that into the next release as well

[2020-05-09 08:43] JoelSpeed commented on #516
I'd also like to get #537 in as it's a breaking change that is blocking some other work

[2020-05-09 11:32] rustyx commented on #532
Good idea. YAML can be developed as an alternative way to populate the internal config, thus minimizing impact, and eventually replace the custom `.cfg` format.

Just make sure to define an extensible YAML schema, e.g. avoid lists of strings when possible. For schema definition [Cue](https://cuelang.org/docs/usecases/datadef/) is also a possibility as an alternative to OpenAPI.

[2020-05-09 11:51] gargath commented on #532
I like the idea. FWIW, I would prefer a single-cycle breaking change that leaves me with the new config on the other end and removes all the old string parsing code at the same time.

As for format, I'd probably favour toml over yaml. Viper supports both, so it would be more about what's easiest for humans to read/write.

How do you propose to handle secrets going forward? Retain flags / env or re

[2020-05-09 15:34] JoelSpeed commented on #532
@rustyx This is a good point about lists of strings. I think there are some cases where it might be ok (cookie domains springs to mind) but for the most part you're definitely right, by making lists of objects we can add new fields easily later

@gargath when you say single cycle, do you mean as in cutting over with a major change or one release sharing both configuration formats?

For format, we

[2020-05-09 17:56] ploxiln commented on #531
I think the word "client" may be a bit overloaded in the context of oauth2, would be nice to avoid. Maybe just renaming `--redirect-url` to `--provider-redirect-url` would help. Another idea is `--callback-url`. If it is still desired to rename `--whitelist-domain`, an idea is `--app-redirect-domain`.

[2020-05-09 21:07] gargath commented on #532
@JoelSpeed I meant changing over in a single release. Maybe a 6.x? Supporting both variants simultaneously might be quite painful to implement and is of limited benefit once the switchover is complete.
To me, the biggest benefit of the change is increasing security and reducing potentials for mistakes in the config. People will have to change at some point anyways...
Maybe instead of supporting bo

[2020-05-10 00:04] #369 closed

[2020-05-10 09:41] JoelSpeed commented on #531
Ack, you're right, client is very overly used so probably best to avoid. What do you think to `--provider-callback-url`? My thinking is that it's explicitly to do with the provider, and including callback URL I believe matches what the providers expect it to be called, they normally ask you to enter a list of callback URLs right?

I was thinking about this one earlier and wondered if we should kee

[2020-05-10 09:47] JoelSpeed commented on #532
To me, the biggest benefit of the change is increasing security and reducing potentials for mistakes in the config. People will have to change at some point anyways...
Maybe instead of supporting both, how about committing to backporting security fixes to 5.x for a while so that people who don't want to change their config can stick with that?

This makes sense. My only concern is that in not havi

[2020-05-10 09:59] gargath commented on #532
The yaml spec is notoriously complex and can yield unexpected results. There have been quite frequently bugs in yaml parsers.
Given the choice and assuming it's expressive enough for what we need, I would prefer toml on those grounds.
That said, it is only my tuppence.
Maybe people (probably?) being more familiar with yaml might be a counter argument.

[2020-05-10 10:26] JoelSpeed commented on #532
The popularity of YAML and prevalence within the devops space was my main reason for choosing it, it will be easier for people to be familiar with. Though I hear your concerns about the spec and bugs

[2020-05-10 15:46] CaptInsano opened #541 ""unknown shorthand flag: 'c' in -config" on latest docker build"
## Expected Behavior
oauth2-proxy should load

## Current Behavior
oauth2-proxy loads perfectly on version 5.1.1,

I am using docker images from: https://quay.io/repository/pusher/oauth2_proxy

but the most recent update to :latest (current manifest number fb8603ab6234) causes the container to fail to load with the following error.

`"unknown shorthand flag: 'c' in -config=/etc/oauth2/oauth2_proxy

[2020-05-10 15:52] JoelSpeed commented on #541
Hey @CaptInsano, we do not support users running the latest master builds in production. These are for testing purposes only. If you are testing this, then you will need to check the changelog to see if any breaking changes have been introduced that may have caused this issue.

In this case, I know that we have introduced a change that requires all flags to use double dashes, so you will need to c

[2020-05-10 15:52] #541 closed

[2020-05-10 16:09] CaptInsano commented on #541
Changing the docker repo from https://quay.io/repository/pusher/oauth2_proxy to https://quay.io/repository/oauth2-proxy/oauth2-proxy fixed the problem of master builds rather than release builds being pushed to my system.

Thanks for you help

[2020-05-10 16:48] ploxiln commented on #531
`--provider-callback-url` and `--allowed-redirect` are good

[2020-05-11 09:05] devopsix commented on #501
PR #543 created.

[2020-05-11 09:11] devopsix commented on #501
It turned out that the OIDC provider does not work as an alternative for me. As far as I understand, the OIDC provider does not have a configuration option equivalent to `--keycloak-group`. But I do have to check group membership (or some claim, spoken more generically) for authorization.

[2020-05-11 11:14] JoelSpeed commented on #501
We should aim, long term, to unify these codebases and have a single `--group` flag of some description that checks claims within tokens assuming they are provided

[2020-05-11 21:28] NickMeves opened #544 "Websocket HTTP Logs missing Authenticated User portion"
For the HTTP logging, some of my users are reporting websocket requests logs are missing the authenticated user (in cases where one is present and auth isn't skipped)

It also appears the upstream address usually passed via the `GAP-Upstream-Address` temp header also isn't logged.

## Expected Behavior

The username that is passed along via the GAPMetadata would be extracted and logged in `wsHandl

[2020-05-12 11:20] JoelSpeed opened #545 "OAuth2 Proxy should return it's own error page when upstream connections fail"
## Expected Behavior

If OAuth2 Proxy has an error of some description, it should return a rendered ErrorPage with details of why the error occurred

## Current Behavior

If the OAuth2 Proxy cannot connect to the upstream to serve the request, an empty response with a 502 is returned. This implies that the connection to OAuth2 Proxy failed instead of OAuth2 Proxy's connection to the upstream

[cod

[2020-05-12 17:41] #424 closed

[2020-05-12 18:04] JoelSpeed opened #546 "Migrate CI to GitHub actions"
I would like to see code coverage, linting and testing status checks for all PRs to the project. Currently with Travis, we just get the one build check. Also, because we put the code coverage ID in a travis secret, this doesn't work on PRs from forks of the repos

I think if we move to GitHub actions, we get more information from the events that trigger builds that might allow us to create conditi

[2020-05-12 18:23] JoelSpeed opened #547 "ClientSecrets may be unintentionally interpreted as Base64"
## Expected Behavior

A secret that is valid base64 but not 16, 24 or 32 characters in length should not be allowed by the proxy.

## Current Behavior

Some secrets are allowed because they appear to be base64 even though they aren't intended to be
So we end up with 13 character secrets instead of 16 for example because the base64 decoding is padding the value

## Possible Solution

Stop padding B

[2020-05-12 18:37] kskewes commented on #532
Thanks very much for this.

Like the idea of envsubst mechanism for secrets (or anything) in the config file.
We would continue to hydrate via Sealed Secrets controller. Not having this ability is a pain in the Prometheus AlertManager world.

Prefer toml or ini because yaml indentation is annoying. Especially when yaml is indented already like when embedded in a ConfigMap.
See Ansible inventory fi

[2020-05-12 19:59] NickMeves commented on #547
Draft of this fix ontop of the sessions-utils PR here: https://github.com/grnhse/oauth2-proxy/pull/4

NOTE: Implementation slightly different than above, if a secret Base64s to 16,24,32 length []byte -- cool keep it.

Otherwise, return []byte(secret) that the user passed in. Don't want to confuse uses by telling them the 16 character secret string they put in a configuration isn't 16 characters (b

[2020-05-12 22:18] gps035 commented on #516
Am I correct in thinking that #431 has not yet been released? I was just trying to add `--user-id-claim` after seeing it in the docs and arrived here after debugging. Unfortunately I need that flexibility as my IDP is returning the email claim with a different key, so would it be best to build a docker image myself for now?

[2020-05-13 00:04] #97 closed

[2020-05-13 04:01] jbreiding opened #549 "If id_token lifespan is shorter than access_token, while using cookie-refresh set to the id_token lifespan, refresh fails because access_token and session are not expired."
Given Okta for IDP, the id_token lifespan is hard coded to 1 hour. Using acces_token lifespan of 6 hours and refresh_token lifespan of 7 days. Login sessions get an expiration window matching the access_token. Setting the cookie-refresh to the shortest lifespan here results in refresh failing validation.

Once the interval for cookie refresh has lapsed, the refresh flow starts. However because thi

[2020-05-13 07:38] JoelSpeed commented on #88
This might become possible once we introduce structured configuration (#532)

[2020-05-13 13:22] JoelSpeed commented on #547
Ack, that sounds right I think, thanks!

[2020-05-13 13:23] JoelSpeed commented on #547
@NickMeves Would it be possible to get a PR for this based on current master or does it depend on the existing open PRs? We are trying to get release 6.0.0 out soon and this one is required for that, where the others aren't necessarily as far as I can tell

[2020-05-13 13:24] JoelSpeed commented on #516
@gps035 That's correct, it will be part of the v6.0.0 release. Apologies that the docs are not in sync with the current release, we should fix that

[2020-05-13 13:32] JoelSpeed opened #550 "Hosted Docs should reflect the current release"
## Expected Behavior

Docs (https://oauth2-proxy.github.io/oauth2-proxy) should be up to date with the current latest release.

## Current Behavior

The docs reflect the state of the master branch and as such, when new features are added, these are documented, but not available

## Possible Solution

- Create a separate docs branch to pin the docs to the latest release and make part of the release

[2020-05-13 15:48] segfault16 opened #551 "Different handling of UI paths and API paths on unauthorized requests"
I've seen https://github.com/oauth2-proxy/oauth2-proxy/issues/461 but I think this is worth discussing further.

If a SPA is open in the browser and the user manages to idle out or logs out of the auth provider (so access and/or refresh token are not valid anymore), a HTTP request to backend API of the application should result in a 403, so the SPA can handle (e.g. with a page refresh).

## Expect

[2020-05-13 18:07] NickMeves commented on #547
@JoelSpeed Its closely related to this minor organization refactor PR: https://github.com/oauth2-proxy/oauth2-proxy/pull/538

One of the main parts of #538 was eliminating the double identical implementation of `SecretBytes` -- were I to skip #538 - I think fixing that issue is still needed here, thoughts?

[2020-05-13 20:07] JoelSpeed commented on #547
Ok, that makes sense, let's keep it as is and I'll add that to the project too

[2020-05-13 20:59] mallow111 opened #553 "Can we use our own auth provider?"
## Expected Behavior

I expect that we can use oath2_proxy with our own auth provider rather than the default ones(google,facbook,azure, linkedin, github and etc)
## Current Behavior

Maybe I did not understand the product well enough, it look like that users who need to use oath2-proxy can only use the default auth provider. I am thinking of using oath2_proxy for our team's authN, but we have our

[2020-05-13 21:07] JoelSpeed commented on #553
We have a generic OIDC provider that can be used with any OIDC compatible authentication provider. This depends on the authentication protocol of your own authN server

[2020-05-13 21:09] JoelSpeed commented on #551
We already have some fix in for this kind of problem, are your requests to the backend AJAX?
https://github.com/oauth2-proxy/oauth2-proxy/blob/111d17efdecd4f716bc49b3ba8755ff2096d8c2c/oauthproxy.go#L851-L856

[2020-05-13 21:53] mallow111 commented on #553
Great, our underlying architecture use keycloak, it should work, right?

[2020-05-13 22:08] JoelSpeed commented on #553
We have a dedicated Keycloak provider, but you can also use the OIDC provider with Keycloak, they have different features available unfortunately, they need aligning

[2020-05-14 00:42] blt opened #554 "Too Many Colons error when using Redis session store"
## Expected Behavior

I am trying to enable redis session storage when using oauth2-proxy v5.1.1. I have the following flags in place:

[code]

I'm running kubernetes and the `redis-0` resolves properly. I expect to be able to go through the normal auth flow with these flags set.

This

## Current Behavior

When I auth against oauth2-proxy with these flags in place I see the following in the logs:

[2020-05-14 03:29] segfault16 commented on #551
Hi @JoelSpeed,
in my case backend requests are grpc.

[2020-05-14 11:53] JoelSpeed commented on #554
Could you just confirm for me which of these you've tried/could you try ones you haven't?
[code]
Do they all result in this same issue? I know this has been working in the past and I don't think anything has changed so it may just be there are only certain formats working at the moment (though we should fix it if this is the case)

[2020-05-14 16:33] blt commented on #554
@JoelSpeed good question. Some of these variants I have not tried and I'll work through the lot of them and report back.

[2020-05-14 16:56] blt commented on #554
| variant | result |
|--------|-------|
| `redis://redis-0:6379` | too many colons |
| `redis://redis-0:6379/` | too many colons |
| `http://redis-0:6379` | too many colons |
| `http://redis-0:6379/` | too many colons |
| `redis-0:6379` | functional |
| `redis-0:6379/` | functional |

The functional result only kind of works. I do get an error message stating "This instance has cluster support dis

[2020-05-15 00:04] #71 closed

[2020-05-15 10:15] JoelSpeed commented on #554
I did not notice you were using cluster originally, this may have something to do with it. Are you intending to use redis cluster?

[2020-05-15 16:28] DimitrijeManic opened #557 "Issues with authentication when the ELB is behind a firewall"
Hi there, we have an internal ingress controller which is simply a classic AWS ELB with a security group that restricts all traffic unless it's coming from a specific IP.

With this setup the OAuth2 proxy times out and fails to authenticate.

Changing the security group on the ELB to allow traffic from ALL IPs resolves the issue and the OAuth2 proxy functions as normal.

It seems the issue comes f

[2020-05-15 16:49] blt commented on #554
We are and using the `redis-0:6379` form we're in good shape now. I didn't confirm if the use redis, use sentinel flags had the same issue.

[2020-05-15 20:10] rveve opened #558 "Fetching User ID claim fails if claim not present in ID Token"
I have built the latest master branch, a configuration that used to work perfectly with the stable version v5.1.1.

is not working anymore with the current master branch code, now it is checking for email field, and failing my previous working configuration, any idea on how to workaround this ?.

[2020/05/15 20:02:10] [oauthproxy.go:890] Error retrieving session from token in Authorization header:

[2020-05-17 10:11] JoelSpeed commented on #558
@rveve we do not normally support users that are running master. We are making breaking changes on master and so it is expected that you may encounter problems when running this branch.

If you could share with us your configuration then we may be able to help identify what is wrong. It looks like #499 has broken your config so might be worth looking through this to try and identify what has chang

[2020-05-17 10:18] JoelSpeed commented on #558
I've just had a look and I believe there may have been a breaking change introduced in #499 that we might have missed.

https://github.com/oauth2-proxy/oauth2-proxy/blob/d228d5a928176575364e9e1fb4bb4e417c91de3f/providers/oidc.go#L244-L276

Before, if the claim didn't exist, it would have been empty and we would have fallen back to checking the ProfileURL. Now if it doesn't exist, we return an erro

[2020-05-17 10:20] JoelSpeed commented on #516
I believe #558 has highlighted a bug that should be considered a release blocked.

I also created a project to track all of the outstanding work before the next release which you may be interested in following https://github.com/oauth2-proxy/oauth2-proxy/projects/2

[2020-05-17 10:32] JoelSpeed commented on #554
Ok, I've not tested with redis cluster but perhaps this is a bug specific to that implementation. It will need some further investigation

[2020-05-17 10:35] JoelSpeed commented on #551
I wonder if there is a better way that we can autodetect this rather than having explicit overrides as suggested. Eg, what if we detected XHR requests by the looking at the `X-Requested-With` header? Do you know if your SPA sets this when making the requests over GRPC?

[2020-05-17 10:46] JoelSpeed commented on #557
Hi @DimitrijeManic, can you provide any logs from the OAuth2 Proxy, is it even receiving the requests that you are attempting to make to it? Do you allow outbound egress from the OAuth2 Proxy pod, as it will need to communicate with Googles API directly, but otherwise, shouldn't be communicating with anything other than your upstreams if you have those set

[2020-05-17 11:16] JoelSpeed commented on #549
This behaviour was changed in #335 by @howzat so I'd appreciate his input on this please

To me it looks as though Okta is a bit of a special case. Their Access Tokens look like ID Tokens which I don't think is the norm for OIDC. I normally would have expected the access token to expire before the ID Token as well. Additionally, the field we are taking the expiry from, I would have expected to mat

[2020-05-17 12:53] holyjak commented on #558
Yes! My bad, sorry!

On Sun, 17 May 2020, 12:18 Joel Speed, <notifications@github.com> wrote:

[2020-05-17 18:20] jbreiding commented on #549
If I'm misunderstanding the question, I apologize, but this seems to me like it misses the point of the bug. The refresh isn't happening or being attempted because the sessions isn't expired and instead validation is happening on the set of tokens in the previous session. Which fails because the id_token is in fact expired.

The validation step is called explicitly on the id_token and sessions exp

[2020-05-17 18:32] jbreiding commented on #549
@JoelSpeed you asked me to try this in v5.0.0, sorry for not addressing that. This issue started for us with that version. But it's also the first time we started using cookie refresh, we undertook the task of solving this and upgrading to the latest version at the same time.

[2020-05-18 11:22] howzat commented on #549
Hi @JoelSpeed and @jbreiding

I encountered a bug in the previous implementation where the refresh token exchange failed when an id_token was not present in the response. I learned a lot in that exercise, but I'm certainly no expert. However...

According to the spec, ID Tokens are _optional_ in the refresh response (i.e. you have to read your OIDC providers docs to know if you are going to get on

[2020-05-19 00:02] idntfy opened #563 "Cookie Refresh logging exposes too much information"
## Background

* We are updating oauth2-proxy from 2.2.0 (!) to 5.1.1 and one of the behavioral changes bothers us much more than others.
* Together with the update we're migrating to OIDC provider instead of google + we're using extra issuers. The configuration works well in our development environments for about 4 months already, but due to this issue we're resistant to promote it to prod.

## I

[2020-05-19 15:52] JoelSpeed commented on #563
I think there's several issues at play here

1) A lack of levelled logging: I would like to have this, we need to only log certain log lines if users request detailed logs

2) Logs all go to stderr: We should only be logging errors to stderr, everything else should log to stdout by default

3) I think your config may be slightly incorrect: I was a bit confused when you said you were seeing this be

[2020-05-19 16:29] DimitrijeManic commented on #557
@JoelSpeed Thanks for helping out, Adding an additional inbound rule to allow the clusters network interface IP resolved my issue.

I believe the I ran into this issue due to the K8s pattern with the following annotations.
[code]

My assumption is that it is the ingress controller that makes a request to the OAuth2 pod and this request came from the clusters network interface IP which was not whit

[2020-05-19 16:29] #557 closed

[2020-05-19 16:50] strboul opened #564 "Filter logs based on UserAgent"
I have my application deployed at AWS ElasticBeanstalk and I'm getting such logs from EB health checker like every 5 seconds:
[code]

I've read the documentation but couldn't find a flag/option for the `oauth2_proxy.cfg` file that can allow filtering some certain requests based on a auth logging variable e.g. UserAgent. It'd be great if there's a way to have oauth2_proxy ignore these rather than f

[2020-05-19 23:58] idntfy commented on #563
Re 3 - nice catch! Yes, adding `-provider=oidc` removed the excessive request/response logging, seemingly everything works the same way from UX perspective. Thank you very much!

* However, when testing further I ran into #490 - I'll follow up on that separately there.
* Re 1 and 2 - they are being discussed in some other issues too such as #475.

Soo @JoelSpeed I would say you solved my immediate

[2020-05-20 00:04] #191 closed

[2020-05-20 00:16] idntfy commented on #490
I reproduced this issue with just oauth2-proxy official docker image (no nginxs etc) with the configuration which I provided in #563. In fact, right now I have two versions deployed - the old 2.2.0 on production which is good, and the new 5.0.0 on dev (didn't deploy 5.1.1 yet on live env, but locally I see the same behavior).

Inspecting logs I see that:
* the cookie refresh is made on every user

[2020-05-20 01:01] ploxiln commented on #564
You can have the health check request hit the "ping path" (by default `/ping`, configurable with the `--ping-path` option) and then use `--exclude-logging-paths` option to avoid logging those requests.

[2020-05-20 01:02] ploxiln commented on #564
(equivalent and maybe easier, there's also a `--silence-ping-logging` option)

[2020-05-20 05:03] yaakov-berkovitch opened #565 "Got ERR_TOO_MANY_REDIRECTS in the browser"
I configured an EnvoyFilter with the external authorization extension (envoy.ext_authz) to redirect traffic that is not authenticated to the oauth2-proxy, and then to the login age. The ID provider I use is Keycloak that is deployed locally on the same cluster where oauth2-poxy is deployed.
It looks that the problem raised because my ID provider is not external.

I followed the following paper htt

[2020-05-20 07:19] anannaya opened #566 "Origin authentication failed using OIDC"
I followed the steps without redis cache https://homelab.blog/blog/devops/Istio-OIDC-Config/.
I can see authSuccess from outh2-proxy container logs
Can anyone help me what could wrong.

[2020-05-20 07:40] anannaya commented on #350
@Just-Insane  I followed your blog without redis , Getting below error "Origin authentication failed."

[2020-05-20 10:29] Just-Insane commented on #350
@anannaya Have you tried with Redis? I find the cookie issues are usually resolved by using the redis session store.

[2020-05-20 13:36] anannaya commented on #350
@Just-Insane  I tried using redis as well .  Just to give more background  I am trying to enable SSO for 3rd party services example grafana .    I have enabled the auth-policy for istio ingress gateway .. I Can see from oauth2-proxy container auth success .
[code]

[2020-05-20 21:45] chkohner commented on #564
I had a similar issue that was not solvable by `--exclude-logging-paths`, so I wrote https://github.com/oauth2-proxy/oauth2-proxy/pull/567 just recently.

[2020-05-21 00:04] #161 closed

[2020-05-21 09:40] Eslamanwar commented on #350
@Just-Insane thank you for the great contribution , i just follow your blog and i use Istio Gatway and EnvoyFilter and redirect traffic to Oauth2-proxy and to OIDC (DEX)
but i got this error
[code]

i use redis but i think may be oauth2_proxy not connecting to redis as i see no keys in redis
Thank you

[2020-05-21 14:12] anannaya commented on #566
Origin authentication failed.

[2020-05-21 17:13] JoelSpeed commented on #566
@anannaya You haven't provided very much detail in your post. Can you expand so that we have something to work on for what may or may not be the issue? (eg, configuration, logs, what your setup looks like)

[2020-05-21 18:29] #547 closed

[2020-05-21 18:32] JoelSpeed commented on #563
Great! I'll take a look at your new issue soon

[2020-05-21 18:32] #563 closed

[2020-05-21 18:37] JoelSpeed commented on #490
@idntfy Are your cookies being split? It's suggesting to me that the set-cookie header isn't actually being reflected into your browser (the session description looks identical, you'd expect the expires value to be updated after a refresh right?)

[2020-05-21 18:40] JoelSpeed commented on #565
Your OIDC issuer should be publicly accessible, when running this test, are you on the same local network? It would be helpful if you could user the browser developer console to see where the redirects are coming from

[2020-05-21 18:46] JoelSpeed commented on #564
I'd like to know why @ploxiln's suggestions don't work and what other cases we need to consider before making any code changes

[2020-05-21 21:38] blt opened #571 "How are domains to be delimited?"
I'm trying to set multiple cookie domains, ultimately with an eye toward serving different domains from the same oauth2-proxy install, not unlike in #216. The [documentation](https://oauth2-proxy.github.io/oauth2-proxy/configuration) for `--cookie-domain` notes the type is `string | list` and I'm setting the domain like so:

[code]

The documentation is silent on how delimiting works here so I'm s