[2021-02-25 13:47] JoelSpeed commented on #1068
This isn't possible right now, but I don't see why we couldn't make it possible as part of the templates work we did recently.

We moved all of the static page content into the `pkg/app/pagewriter` directory, this is used at the moment for rendering the error and sign in pages, but could (perhaps even should) be used to render the robots page as well. This would allow users to override it by putti

[2021-02-25 14:06] DaBonse commented on #1068
Thank you very much JoelSpeed.
This solution would help me, and you answered also my next (unasked) questions about customizing login page.

Do you know when the new template solution will be stable released?

[2021-02-25 14:08] JoelSpeed commented on #1068
We are looking to release 7.1.0 by the end of march which will include these changes, however, I want to be clear, we haven't implemented this change for the robots page yet, so this may or may not be in that release depending on whether we find time to do this and/or some community member comes up with a PR.

[2021-02-25 14:17] DaBonse commented on #1068
Thank you very much, I understand.

[2021-02-25 14:54] cabrinoob commented on #283
I have the same error. Any updates ?

[2021-02-25 15:03] xxxbobrxxx commented on #828
You can do that using docker buildx
https://www.docker.com/blog/multi-arch-build-and-images-the-simple-way/
This article also contains github pipeline example.

[2021-02-25 18:26] sribee commented on #1032
@JoelSpeed  - we saw similar issue, I guess the key is the issuer url. if the oauth2-proxy is also using the same issuer (but different client-id), it seems to override the other client ids that belong to same issuer url. Here is the error,

**_[jwt_session.go:51] Error retrieving session from token in Authorization header: [unable to verify bearer token, oidc: expected audience  "oauth2-proxy-cli

[2021-02-25 21:01] sribee opened #1069 "session cookie for bearer authentication"
Support session cookie creation for bearer token(jwt) authentication
## Expected Behavior

In the normal SSO flow, session cookie is created upon successful authentication flow with identity provider and client uses it in subsequent requests. In the case of bearer token based pass thru, every call needs to carry the bearer token. It will be useful specify bearer token once and get session cookie i

[2021-02-26 10:31] zxcvb0987 commented on #847
thank you , email scop works

[2021-02-26 17:40] nirupbbnk opened #1071 "502 bad gateway on Azure AD login success, Error loading cookied session: cookie "_oauth2_proxy" not present, removing session"
After  Azure AD successful login , when page is redirected it is giving 502 bad gateway.

## Expected Behavior
It should have redirected to upstream after success login

## Current Behavior
Throws 502 bad gateway error page instead of going to upstream

##Errors logs found on oauth2 pod

**`Error loading cookied session: cookie "_oauth2_proxy" not present, removing session`
`WARNING: Multiple cook

[2021-02-26 18:11] nirupbbnk commented on #1071
@NickMeves @JoelSpeed @steakunderscore could you please help with this

[2021-02-26 18:46] fabbarix commented on #1034
@jonkerj I currenlty have OAUth2 Proxy in front of Kubernetes Dashboard - my OAuth2 Proxy configuration, for ingress-nginx - looks like this:

[code]
*Note the `--set-authorization-header=true`*

The `oauth2-proxy-info` points to a secret that looks like this:

[code]

The service I created for it:

[code]

My dashboard ingress looks a bit like this:

[code]
Make sure `cert-manager.io/cluster-issu

[2021-02-26 23:32] NickMeves commented on #1071
Azure is notorious for having super large OIDC tokens. Even after we refactored our cookie session encoding scheme to use lz4 compression & message pack binary encoding to trim the size by 50%, some azure environments still have session cookies that are too large.

There is a 8KB header max, if you session cookie + other headers are too big, you will hit that.

We recommend Azure users use the Red

[2021-02-26 23:35] NickMeves commented on #1069
Out of curiosity so I understand the use case:

For machine to machine communications, why do you prefer have a session cookie instead of just using your machine ID Token in every request?

I only see complexities and downsides:
- Your HTTP client code now needs to be stateful and maintain the session cookie
-  The session is less performant than the direct bearer token (It is compressed, encoded

[2021-02-26 23:36] NickMeves commented on #1051
This merged - Thanks!

[2021-02-26 23:36] #1051 closed

[2021-02-26 23:58] sribee commented on #1069
thanks @NickMeves - our http client is already stateful and uses the session coolkie when invoked from a browser.
We are now trying to embed it in an iframe of another client which already has a id_token that is valid. (both clients use same Identity Provider). So if a session cookie can be created on first call with id_token, then the client can maintain that session without the id_token to be pr

[2021-02-27 00:15] #924 closed

[2021-02-27 00:15] #941 closed

[2021-02-27 00:15] #954 closed

[2021-02-27 00:20] stefansedich commented on #1051
Thanks :tada:! when can we expect a point release to go out?

[2021-02-27 00:29] NickMeves commented on #1051
We are feeling like we have a good critical mass of features to release a minor version (v7.1.0) when we next meet up in a couple of weeks.

[2021-02-27 00:45] NickMeves commented on #1069
This feels weird to me to support both for convention & security reasons:

(1) Convention: Bearer Token APIs are designed to get that header (`Authorization: Bearer TOKEN`) in every request. CLI to API or Machine to Machine. It's a pretty common design and they don't expect to get a session cookie back bloating up the response size.

(2) Security: If this returns a session, our `SessionState` in c

[2021-02-27 01:55] nirupbbnk commented on #1071
@NickMeves my requirement is peculiar , I need Azure AD integration just to check user is from my organization , after successful login from azure AD , user will be redirected to a one more custom login page of application.
I was following this article
https://msazure.club/protect-kubernetes-webapps-with-azure-active-directory-aad-authentication/

Here they are using machinedata/oauth2_proxy:lates

[2021-02-27 10:23] sepich opened #1072 "Cookie replay issue when used for multiple domains"
## Current Behavior

We have multi-tenant environment where single oauth2-proxy is used for multiple customer managed domains like this:

domain1.com/ -> service1
domain1.com/oauth2/ -> oauth2-proxy

domain2.com/ -> service2
domain2.com/oauth2/ -> oauth2-proxy

And oauth2-proxy has only `--email-domain` configured (with google auth). This works fine as oauth2-proxy reads domain from `Host` header

[2021-02-27 21:27] MNF opened #1073 "Compare Azure Auth Provider vs Microsoft Azure AD Provider"
In the documentation page https://oauth2-proxy.github.io/oauth2-proxy/docs/configuration/oauth_provider there are sections
 Azure Auth Provider and Microsoft Azure AD Provider.
Are they describe two different implementations fro the same Azure AAD providers?
It will be good to keep them next to each other in the document , explain the differences and add the recommendation when one or another shou

[2021-02-28 00:16] #793 closed

[2021-02-28 16:26] lenalebt commented on #1048
Sorry for taking so long to add this info. This is what I needed to configure to get everything working (all UUIDs and paths replaced with something random):

[code]

Hope it will help someone else in the future.

[2021-02-28 16:26] #1048 closed

[2021-02-28 21:21] farcaller opened #1074 "Can a single instance of oauth proxy be used at a login domain so there's only one redirect url for several apps?"
I got a k8s + istio setup with several internal resources that I protect with oauth2-proxy. The latter is used in the static:// mode, paired with istio's ExtAuthn (so oauth2-proxy only validates the cookie and does redirects, otherwise passing the JWT back to istio to handle).

## Expected Behavior

1. User visits myapp.example.com
2. Istio calls oauth2-proxy to verify the cookie
3. Oauth2-proxy c

[2021-03-01 02:13] sribee commented on #1069
Yes, agree in the machine to machine case. But in our case, we are invoking the another app, which is already integrated with oauth2-proxy, so can make use of session cookie.

Can't the session cookie lifespan match the bearer token presented?

[2021-03-01 03:36] NickMeves commented on #1069
Current functionality creates a session that lasts the configured length setup in the OAuth2 Proxy options, it doesn't look at the `exp` claims in a potential Access or ID Token (since all the providers are different and some might not have a claim structure in an Access Token).

[2021-03-01 09:26] r-kotagudem opened #1075 "Is there an option to fetch client-secret stored in Hashicorp valut from oauth2-proxy deployment file."
@JoelSpeed  @NickMeves

Could someone please let me know if this is possible ?

Current state:  hard coding client-secret in oauth2-proxy deployment file.

required state: able to pull client-secret from Hashicorp valut(secrets manager) and refer it in deployment file.

[2021-03-01 10:27] jonkerj commented on #1034
Hi there,

I implemented all of your suggestions:
- External authentication through ingress (instead of proxy-ing everything)
- `set-authorization-header` (instead of `pass-`)
- increase proxy buffer size for large cookies

And it all works. I do not fully get which of these three modifications made it working, but after having spent many hours debugging this issue I'm glad to have a working setup

[2021-03-01 10:27] #1034 closed

[2021-03-01 11:16] idntfy commented on #490
Up

[2021-03-01 12:29] JoelSpeed commented on #1037
How OAuth2 Proxy uses the userinfo depends on which provider you are using. Some use it to get information such as user name, email and group information if they aren't provided in an ID Token as part of the authentication flow.

What kind of information are you looking to retrieve from the authorization server to provide to your application?

For now, as a workaround, you could pass the access to

[2021-03-01 16:21] fabian-ifflaender-triveme commented on #1037
I wanted to avoid the userinfo usage in every resource server. At the moment we solved that by adding the needed user attributes to the access_token. So now we do not need the userinfo endpoint at all.

As an alternative solution caching the userinfo (let's say per instance of access_token) would be perfect within oauth2-proxy. That means we would not have to call userinfo endpoint that often or w

[2021-03-01 17:35] NickMeves commented on #1075
This is on our backlog once structured configs go out in v8: https://github.com/oauth2-proxy/oauth2-proxy/issues/864

We would need help from the community adding support for Vault to that `SecretSource` paradigm.

[2021-03-01 21:50] rassie opened #1077 "--cookie-refresh does not actually refresh with OIDC"
## Expected Behavior

Judging by the docs, `--cookie-refresh` should refresh the access tokens after indicated time interval (and the token cookie, if sessions are not used). While we are waiting on https://github.com/oauth2-proxy/oauth2-proxy/issues/856, this should allow transparent refreshing of the access token via the refresh token.

## Current Behavior

Currently, with OIDC provider the toke

[2021-03-01 21:57] rassie commented on #1077
In https://github.com/oauth2-proxy/oauth2-proxy/issues/856 the introduction says:

Which is basically the description of this issue. Even though I would very much like #856 to be implemented, it's probably some time away and I think actually using `RefreshPeriod` at all the right places would do some good in the meantime.

[2021-03-01 21:59] rassie commented on #1077
It seems this is actually a duplicate of #793, with an attemped fix in https://github.com/oauth2-proxy/oauth2-proxy/pull/1041, folded back into #856. Closing and waiting for #856 :)

[2021-03-01 22:00] #1077 closed

[2021-03-02 03:58] sribee commented on #1032
#1011 seems to resolve this issue.

[2021-03-02 08:17] pavanparthasarathy commented on #109
@JoelSpeed I'm facing one error. I have configured the domain abc.test.com and when I authenticate I get the error "AADSTS500111: The reply uri specified in the request has an invalid scheme."
My redirect url is also abc.test.com

[2021-03-02 16:38] LordEvron opened #1078 "--allowed-group docs.. Role/Group Based Access with keycloack"
Hi,
I have configured keycloak with two roles:  "admin" and "user". I have also two upstreams "/admin" and "/user". I would like to setup oauth2 to allow "admin" role to access both the upstreams, while user role should only access "/user"
I notice that there is an already PR  https://github.com/oauth2-proxy/oauth2-proxy/pull/767  asking this. Is there any timeline, when this feature will be avail

[2021-03-02 17:23] Spindel opened #1079 "oauth2-proxy 7.0.1 fails when mixing Oauth2 users and htaccess users"
## Expected Behavior

For various reasons we have authentication using oauth2-proxy that mixes htaccess logins and oauth2 logins.

In 6.1.1  and before the proxy would generate an Authorization Basic header with either the htaccess username, or the oauth2 username (or email claim), both with the same defaulted password from the setting.

This means that no matter which access method was used to ge

[2021-03-02 17:36] JoelSpeed commented on #1079
This was not an intentional break, but I suspect the problem is around `PREFER_EMAIL_TO_USER`, IIRC we don't set emails for the basic auth and now, because we check the field is not empty, we need to somehow copy the basic auth username to the email field in the session when the prefer email to user option is being used.

To test this theory, do you have a chance to disable this option and see if

[2021-03-02 17:50] Mohitp98 commented on #847
Thank You! @NickMeves

**--scope=email** worked for me

[2021-03-03 06:39] Bibob7 commented on #963
Up

[2021-03-03 10:45] Spindel commented on #1079
It seems to work that way, although that's a mode of operating that we cannot use to authenticate with, as google user id's are very large integers. :/

[2021-03-03 11:41] JoelSpeed commented on #1079
Ok, I appreciate that, but it confirms to me what the bug actually is here, so now we can go ahead and create a fix

[2021-03-03 11:52] Spindel commented on #1079
Is there a way to replicate this kind of configuration in the new config
format?   I've read the documentation,  but so far I couldn't actually
grasp how to use it for this setup.

On Wed, Mar 3, 2021 at 12:41 PM Joel Speed <notifications@github.com> wrote:

[2021-03-03 12:02] JoelSpeed commented on #1079
We wanted to remove the idea of indeterminate fallbacks such as those implemented in the prefer email option, so, not 100% no. You can however do two things that may or may not work with your particular use case

Either create a header with two values, so to the upstream it would look like `Authorization: Basic blah, Basic blah` for a normal user and `Authorization: Basic blah`, your application m

[2021-03-03 12:10] Spindel commented on #1079
Sadly,  Mapping "if this is set then foo, else bar" is a bit tricky to do here, and while the application completely ignores the Password part, so there's no issue with that, it also doesn't care about any other header than the Authorization: Basic..   in order to get the username part and match it against it's internal db.  Previous tests with multiple headers shows that the application simply re

[2021-03-03 12:41] gdubya commented on #888
👍 for this feature

[2021-03-03 12:41] gdubya commented on #888
I'm not an expect but i can work with someone to set up a test environment if that would help

[2021-03-03 13:23] mark-nexplore opened #1080 "Possibility to support RPT token in Keycloak"
When connecting OAuth2 Proxy with Keycloak, currently the mechanism to is request PAT token. With the latest release of keycloak, there is now a possibility to request a RPT token which also provide the granular authorized permission within the JWT thus saving the service effort in further requesting the permissions allowed.

This ticket is to see if this is something to look into (and implement)

[2021-03-03 18:50] JoelSpeed commented on #1074
You'll need to set the final redirect when you start the authentication flow using the `rd` query string parameter or `X-Auth-Request-Redirect` header, and you'll also need to use the whitelist-domain option to allow the redirect domains you need (this can be any subdomain under a domain).

I know this works with nginx, so it should work with istio but I've not done this myself so can't help you s

[2021-03-03 21:11] MNF opened #1081 "Add ability to search on the Docs site."
It will be good if on https://oauth2-proxy.github.io/oauth2-proxy/docs/  ability to search the Docs site will be available

[2021-03-04 13:11] realindiahotel opened #1082 "Doesn't build from source"
## Expected Behavior

Using command `go get github.com/oauth2-proxy/oauth2-proxy/v7`

## Current Behavior

Errors with message: `
GO111MODULE=on CGO_ENABLED=0 go build -a -installsuffix cgo -ldflags="-X main.VERSION=v7.0.1-31-g220b370-dirty" -o oauth2-proxy github.com/oauth2-proxy/oauth2-proxy/v7
pkg/app/pagewriter/sign_in_page.go:5:2: package embed is not in GOROOT (/usr/local/go/src/embed)
`

##

[2021-03-04 13:15] #1082 closed

[2021-03-04 13:16] realindiahotel commented on #1082
I fixed it by setting my goroot and gohome env variables, make oauth2-proxy still doesn't work but the go get seems to work

[2021-03-04 13:50] JoelSpeed commented on #1082
You will need to be on Go 1.16 to use the latest code in master, that's why the embed warning is coming up when you try to go get

[2021-03-04 14:02] realindiahotel commented on #1082
Setting `go env -w GO111MODULE=on` seems to fix it I didn't update my go but it works after doing that

[2021-03-04 14:18] realindiahotel commented on #1082
@JoelSpeed so it's really strange, setting `go env -w GO111MODULE=on` allows me to get it to build using go get with go 1.15 installed, but `make oauth2-proxy` still failed. Updating to go 1.16 fixes `make oauth2-proxy` for me and now both work go get and make.

Thanks

[2021-03-04 18:55] dhananjay-bahal opened #1083 "alpha configs not getting values from claims"
Here is my alphaConfig.yaml file
[code]

and I use it in my oauth2_proxy.yaml file as below:
[code]

When I try to verify the header values in my access_by_lua_block in my nginx ingress, they are not getting set.  In the alpha config file, if I change the values from claim to a fixed value (base64 encoded as mentioned in the docs) the headers work. Is there something I am missing out here in my co

[2021-03-05 08:14] opteemister opened #1085 "X-Forwarded-Groups not passed to upstream headers"
We need to get group names assigned to the Google user logged via Oauth proxy.

## Expected Behavior

Upstream will have headers set:
`X-Forwarded-User`
`X-Forwarded-Email`
`X-Forwarded-Group`

## Current Behavior

Upstream have only headers:
`X-Forwarded-User`
`X-Forwarded-Email`

## Steps to Reproduce (for bugs)

We use Google as an OAuth provider and set parameters:
"--pass-user-headers=true"
"

[2021-03-05 10:41] JoelSpeed commented on #1081
Looks like we can do this (https://v2.docusaurus.io/docs/search) but will need myself or @NickMeves to set up an algolia index. Will try and get this set up over the next week or so

[2021-03-05 12:49] JoelSpeed commented on #1083
We don't currently support arbitrary claim mapping from the upstream provider just yet (though this is planned for the future), currently, the only information you can put into headers is anything from the session, accessed by the strings in this switch case: https://github.com/oauth2-proxy/oauth2-proxy/blob/220b3708fc4e1de5e30135b48c8d8a2ef7efd518/pkg/apis/sessions/session_state.go#L78-L97

Long

[2021-03-05 13:52] JoelSpeed commented on #1079
Are you already using nginx in front of OAuth2 Proxy? If so, I would suggest using auth request mode which will allow you to do the header mapping you need without any additional nginxs being added.

But yes, unless you have the ability to modify the behaviour of the upstream, we don't currently have an option to support your requirements.

Long term, the way I see this working is by replacing the

[2021-03-05 13:55] JoelSpeed commented on #109
Please ensure you set the `--redirect-url` option and put the correct scheme on the start of that URL. This looks like an issue from your Identity Provider because this URL has been inferred (wrongly) rather than set explicitly

[2021-03-05 13:57] JoelSpeed commented on #1075
In the mean time you can provide the client secret via a file, if that might help? I think there are solutions out there that allow you to sync vault secrets to a file on the system 🤔

[2021-03-05 14:05] Spindel commented on #1079
Auth request mode might be a solution, but even that doesn't seem useful when I can't get either username from htaccess or email from oauth2 claim as a single result header with the new configuration options?

[2021-03-05 15:24] JoelSpeed commented on #1079
You could use your suggested mapping idea to map the result headers if multiple headers were returned, eg use the map feature to check Authorization, if not exist, return AuthorizationUser from my second example above

[2021-03-05 16:12] Spindel commented on #1079
I'll take a look at getting that to work sometime next week with the alpha config features, it would still be nice to be able to use the current configuration succesfully though.

[2021-03-05 17:53] arnoldfranz commented on #585
I experience the same issue. Is this issue solved ?

[2021-03-05 17:57] arnoldfranz commented on #1085
I have the same issue. I can't get the Tokens from Azure in the headers. There are several bug reports related to similar problems, but I have not managed to make it working (yet :-))

[2021-03-06 01:29] MNF commented on #1081
Alternatively you can utilise google search, e.g. similar to https://nsubstitute.github.io/help/search/

[2021-03-06 04:33] r-kotagudem commented on #1075
Thanks for help!

our organization enforces teams to use central vault location to store the passwords/secrets. Also fortify scanner would not allow build to be succesful with plain text passwords in the deployment file(source code).

The approach we followed.

added a script in the build/deployment pipeline, where it pulls client-secret from vault and creates a kubernetes secret which is referred

[2021-03-06 05:02] NickMeves commented on #1072
I think I am in a similar boat as you design wise but slightly different (distinct central auth domain from nginx ingress auth annotations, share's a top level `.example.com` corporate domain with all the consuming apps, so a central cookie set to `.example.com` can be used across all of them).

Both are scenarios are weak to this shared session storage when using a persistent store.

The challeng

[2021-03-06 05:05] NickMeves commented on #1085
`X-Forwarded-Groups` is new and will only be sent for Providers that have implemented the functionality.

Azure might happen in this PR: https://github.com/oauth2-proxy/oauth2-proxy/pull/1061

Google is special with groups: we don't get groups automatically, it only queries for them to do an authorization check (and then include in X-Forwarded-Group) if you use the `--google-group` flow (or the ne

[2021-03-06 05:18] NickMeves commented on #1075
This is the best practice in the current style configs. 👍

If we don't have this pattern documented, maybe we should. Even with everything else from config or flags, at least `client-secret` (& likely `cookie-secret`) should be set with an `OAUTH2_PROXY_*` style envvar and set on the container from a Secret from Kubernetes (or mounting the secret to a volume if you want to go the secret file route

[2021-03-06 08:58] theGOTOguy commented on #1048
@lenalebt As someone else from the future, I wanted to thank you for documenting this.  You saved me a bunch of time.

[2021-03-06 10:09] JoelSpeed commented on #1079
I'll look into restoring the old fallback behaviour until we have a longer term solution

[2021-03-06 16:39] JoelSpeed commented on #1036
Kubernetes doesn't do this, once a secret has been mounted it won't be refreshed if it changes, so the multiple certs idea sounds reasonable to me

[2021-03-06 16:59] NickMeves commented on #1036
I haven't tried, but I thought it might refresh is done with a projected volume? (since other projected volume types get the content dyncamically refreshed from the kubelet where applicable)

https://kubernetes.io/docs/concepts/storage/volumes/#secret (not sure if that `subPath` note means refreshing isn't possible in all cases with secrets or just that case).

[2021-03-06 17:08] JoelSpeed commented on #1036
I was under the impression there was some security reason that meant they didn't ever refresh, but I haven't tried with projected volumes, it may be different. Maybe I'm just wrong altogether, going to have to go and check now 🤔

[2021-03-06 17:27] #544 closed

[2021-03-06 19:50] JoelSpeed commented on #1067
It was always intended that if you wanted to set a static value (which is essentially what you're asking for here), then you would generate that value and set it yourself in the `fromValue`. It should just be a case of `echo -n $name:$password | base64` to get the string you need.

This is currently undocumented though as it is an alpha feature and may change.

Did you have issues generating the s

[2021-03-07 09:10] opteemister commented on #1085
That makes sense. Thank you for clarification

[2021-03-07 09:10] #1085 closed

[2021-03-08 07:44] chandu412 opened #1088 "Does Oauth2-Proxy pass group filed in the headers with X-Forwarded-Groups or X-Auth-Forwarded-Groups ?"
Does Oauth2-Proxy pass group filed in the headers with X-Forwarded-Groups or X-Auth-Forwaded-Groups ?

## Expected Behavior

Oauth-2 Should sent the group values as a header
Ex:  X-auth-Forwarded-Groups: [/group1,/group2,/group3...]

## Current Behavior

X-Auth- Forwarded-group is not begin set

Can anyone please is there any possible way to get the values in headers to pass it to nginx ingress ?

[2021-03-08 15:20] TamasNeumer commented on #805
Hi!

@lyndon160 what was the solution to your problem in the end? I'm seeing a similar issue when using Istio and VirtualServices to re-route traffic...

[2021-03-08 18:51] JoelSpeed commented on #1072
Does having secure cookies not prevent this from happening?

If you're able to, you could set a list of cookie domains that are allowed and the cookie will be created for the best that matches, this may also help a little bit

[2021-03-08 18:52] JoelSpeed commented on #1073
AFAIK, we only have the one provider, hadn't noticed it's in the docs twice though, we should clean that up and consolidate the two blocks

[2021-03-08 18:56] JoelSpeed commented on #1078
We were talking about integration OPA into the proxy to allow complex Authz rules such as this, but for the moment, we don't really have anything that would support this. We also don't have a timeline for integrating this as we haven't had much chance to look into new features like this. For now you can only have one set of authz rules for all users.

[2021-03-08 18:58] JoelSpeed commented on #1080
I think this sounds reasonable, have you tried the existing code to see whether it works already? Do you have any idea what kind of changes are needed to support this new token type?

[2021-03-08 19:00] JoelSpeed commented on #1088
You should be able to get an `X-Forwarded-Groups` header back when using the `--pass-user-headers` option, however, you'll need to be using a provider that supports groups. Which provider are you using currently?

[2021-03-08 22:32] NickMeves commented on #1072
I think the concern in this shared tenancy architecture is the level of trust in all applications that share these session cookies.

If on the backend side, `AppA` is compromised with server-side code that can steal session cookies, now shared tenancy `AppB` & `AppC` are compromised. So everything is as weak as the weakest shared app.

[2021-03-08 23:10] kfox1111 commented on #1078
OPA would be really flexible for this use case, yeah.

[2021-03-09 10:23] TamasNeumer commented on #1008
Hi @JoelSpeed

I'm havng the same issue - but I'm using Istio for routing.
I managed to get the flow working, but I also have the redirect flag "hard-coded" in the container:
- `--redirect-url=https://our-tld.com/team-app/oauth2/callback`.
- Then Istio adds the `X-auth-request-redirect` header with the value of `https://our-tld.com/team-app`

Question is if it is possible to remove the `--redirect

[2021-03-09 11:12] chandu412 commented on #1088
@JoelSpeed, Thanks for your response Joel.

We are using keycloak provider.

please find our configuration that we are using..
-----------------------------------------------------------
  - --http-address=0.0.0.0:4180
    - --config=/etc/oauth2_proxy/oauth2_proxy.cfg
    - --client-id=test
    - --client-secret=<secret>
    - --login-url=https://xxx/auth/realms/realm-name/protocol/openid-connect/

[2021-03-09 13:46] mark-nexplore commented on #1080
Hi @JoelSpeed,

I tried on current release of OAuth2 Proxy and its works ok at the PAT level, and since there aren't any additional logic to further request the RPT after running the `oauth2.Exchange()` and thus it is not achieving the goal set out above at the moment.

From my limited understand of how the OAuth2 proxy operating right now, I believe one approach to this is to extend the current `

[2021-03-09 15:33] hkiang01 commented on #1034
@jonkerj

Can you paste what your final config ended up looking like?

[2021-03-09 15:37] ChrisHubinger opened #1089 "Token/Session refresh in server side upstream call with cookies fails"
Hi,

Using Keycloak configured as `oidc` provider, we deploy the proxy as a sidecar container in our frontend web server and as sidecar in the backend API. We use a `redis` server as session store. Both proxies are configured to use the same `client` in keycloak and share the same session secret.

After login everything works as expected. The Browser sends the request to the frontend application,

[2021-03-09 16:10] sepich commented on #1072
We are already doing this, but that would not help if "notebook is stolen and cookie taken from browser" for example.

We do not use `--cookie-domain`, so cookie set for **domain1.com** is not sent to **domain2.com** and even to **sub.domain1.com** by browser.

Correct, we trust oauth2-proxy more that our customer's apps ;) So, in case cooke for domain1.com would be leaked, we want to reduce blast

[2021-03-09 17:49] ArtruneTranspara opened #1090 "Are azure b2c user flows planned?"
Upon reading the documentation and playing with the project a bit it seems to be availability to authenticate against azure.
I've set it up successfully but i was wondering if it was possible or if it was on the roadmap to use Azure B2C user flows for login.

[2021-03-10 04:53] #913 closed

[2021-03-10 15:00] ch3rub1 commented on #739
I was searching a solution to handle multi realm auth easily and I just found this issue.
Does the multi-tenacy implementation within oauth2-proxy is still a thing or the idea was abandoned with the closure of this issue ?

[2021-03-10 22:54] acobaugh opened #1092 "Feature: Azure provider should set x-auth-request-user to the value of userPrincipalName"
Azure provider should set x-auth-request-user to value of userPrincipalName

## Expected Behavior

Currently the azure provider only sets the session Email to the value of `mail`. It will fall back to the UPN if mail is not set. It would be very useful in our environment to have both x-auth-request-email and x-auth-request-user set, as we have some users whose email and UPN differ, and we prefer t

[2021-03-11 07:36] anthonyvk opened #1093 "Issues with Keycloak integration"
Integrating oauth2-proxy with Keycloak is not worknig. When I inspected the logs, it says Invalid parameter value for: scope

## Expected Behavior

Must be able to login to the respective service using keycloak credential.

## Current Behavior

After running keycloak container with following arguments.
[code]
When accessing the protected services, keycloak login page is displayed.
After login succ

[2021-03-11 11:29] fibbers opened #1095 "Configuring trusted proxy IP's"
I see that the security implications of setting up trust based on request headers have been discussed before (https://github.com/oauth2-proxy/oauth2-proxy/issues/871#issuecomment-717368395, https://github.com/oauth2-proxy/oauth2-proxy/pull/451#issuecomment-772931631).

I think that when you use both `--reverse-proxy` and `--trusted-ip` the security implications might be addressed if it's possible

[2021-03-11 11:46] MNF opened #1096 "Support configuration parameter names with dash/underscore aliases."
## Current Behavior
From https://github.com/oauth2-proxy/oauth2-proxy/issues/702#issuecomment-665945115

From the [docs](https://oauth2-proxy.github.io/oauth2-proxy/docs/configuration/overview#config-file):

I am using .CFG file for local testing and pass parameters in kubernetes deployment, I have to copy and paste from one file to another  and keep changing hyphens (-) with underscores (_) and b

[2021-03-11 14:20] anthonyvk commented on #866
Setting OAUTH2_PROXY_COOKIE_SECURE=false environment variable or --cookie-secure=false argument worked for me.

See : https://github.com/oauth2-proxy/oauth2-proxy/issues/26#issuecomment-609832263

[2021-03-11 14:23] anthonyvk commented on #127
Setting OAUTH2_PROXY_COOKIE_SECURE=false environment variable or --cookie-secure=false argument worked for me.

See :
https://github.com/oauth2-proxy/oauth2-proxy/issues/866#issuecomment-796770732
https://github.com/oauth2-proxy/oauth2-proxy/issues/26#issuecomment-609832263

[2021-03-11 14:24] anthonyvk commented on #428
Setting OAUTH2_PROXY_COOKIE_SECURE=false environment variable or --cookie-secure=false argument worked for me.

See :
https://github.com/oauth2-proxy/oauth2-proxy/issues/866#issuecomment-796770732
https://github.com/oauth2-proxy/oauth2-proxy/issues/26#issuecomment-609832263

[2021-03-11 15:03] cabrinoob opened #1098 "No CSRF token and no error"
## Expected Behavior

Have a session cookie AND a csrf cookie

## Current Behavior

I only obtain the session cookie (_oauth2_proxy)

## My config

I'am using Auth0 as OIDC provider and I'am running oauth2-proxy under K8S 1.16.15. There is its config :

[code]

I'am also using Nginx Ingress Controller and my application (auth-poc) have an Ingress with these annotations :

[code]

Unlike what is ex

[2021-03-11 16:08] foosinn opened #1099 "skip-auth-route with nginx auth_request"
Hey, we are using skip-auth-route with nginx auth_request.

## Expected Behavior

Allow allow-listed urls in `skip-auth-route` when using nginx's auth_request mode.

## Current Behavior

Traffic is still blocked

## Possible Solution

I assume that currently only the URL is matched for auth_request, not `X-Auth-Request-Redirect`.

## Steps to Reproduce (for bugs)

1. Setup oauth2-proxy and Nginx w

[2021-03-11 16:39] pommelinho commented on #670
@salmanisd  I also want to use my ory hydra implementation as oauth2/oidc provider.  Just want to check out if you were  able to integrated it with oauth2-prox?

[2021-03-11 17:18] salmanisd commented on #670
@pommelinho yes hydra worked perfectly as an OIDC provider with oauth2-proxy.

[2021-03-11 19:57] MNF commented on #532
Do it slowly.
 Making major backward incompatible change, that required essential  work for your clients will just stop many clients to upgrade to a new version.
Run in parallel existing and new way of configuration, but new flags/configurations add only to the new structural config. It will force  clients that need new features to start use new format, but allow others to continue use existing fo

[2021-03-12 00:15] #975 closed

[2021-03-12 01:06] iveshenry18 opened #1100 "OIDC: Support for additional id_token signing algorithms (RS512, etc.)"
I am attempting to authenticate against an internal enterprise Identity Provider that currently only includes RS512 in their id_token_signing_alg_values_supported. I understand that this fails to comply with the [OIDC specification](https://openid.net/specs/openid-connect-discovery-1_0.html#ProviderMetadata) ("The algorithm RS256 MUST be included"), but it would be nice if this case could be handl

[2021-03-12 14:03] #1074 closed

[2021-03-12 16:38] nolyoi commented on #521
i just got it
![image](https://user-images.githubusercontent.com/59351042/110970130-0bcad880-831f-11eb-8353-9a5d1a6b8edf.png)

How can I fix or bypass this?

[2021-03-12 23:19] NickMeves commented on #1100
I just did some quick research -- it looks like we'd need to use the `oidc.Config.SupportedSigningAlgs` when we setup an `oidc.IDTokenVerifier` in our OIDC Provider explicitly maybe?

It defaults to `RS256` if nothing is set -- but I've definitely used this with `ES256` OIDC configurations that have no `RS256` before, so I'm pretty sure the library constructs that list from the OIDC discovery docu

[2021-03-12 23:20] NickMeves commented on #1100
FYI - I'm pretty sure you are erroring here: https://github.com/oauth2-proxy/oauth2-proxy/blob/f3209a40e16defdab442ef87765e837d90ec4f9a/providers/provider_data.go#L137

Which is why I'm honing in on the `go-oidc` external library that does this.

[2021-03-12 23:23] NickMeves commented on #1100
Oh - just looked more closely at your error... So the library did see you want to use `RS512` as the allowed algorithm, but the IDToken it gave back was signed with `RS256`?

`id token signed with unsupported algorithm, expected ["RS512"] got "RS256"`

You might want to take a closer look at the IDTokens you are getting back from your IdP - something seems amiss there.

[2021-03-12 23:26] NickMeves commented on #1099
I think you'll need to manage this at the nginx layer.

When you use the  seubrequest architecture -- OAuth2 Proxy gets requests to `/oauth2/auth` -- we don't see your original request path.

[2021-03-12 23:27] NickMeves commented on #1099
I believe  subrequests reuse/copy over the original request headers (so Authorization, cookie etc would factor into an auth decision).

But the `GET /oauth2/auth HTTP/1.1` first line will be the OAuth2 Auth endpoint and the original path will be lost from our view.

[2021-03-12 23:28] NickMeves commented on #1099
Not marking as an enhancement request since I don't think this is feasible -- please correct me if I'm understanding incorrectly and I'll re-classify the issue.

[2021-03-12 23:31] NickMeves commented on #1098
CSRF cookie is only used between the authorization endpoint & token redemption stages of the initial authorization.

Authentication actually wouldn't work without it (part of the `state` parameter in the OAuth flow has the CSRF nonce and we check it against the cookie to finish the authentication).

I think after that we clear it? I'm actually refactoring this functionality here at the moment: htt

[2021-03-12 23:34] NickMeves commented on #1096
All of this will be going away very soon in our next major release (v8): https://github.com/oauth2-proxy/oauth2-proxy/issues/532

Everything will be moving to structured configs and we will be moving away from the bazillion flat config flags.

You can start experimenting with this using the alpha config option I believe to start getting new features only available in v8 structured configs.

[2021-03-12 23:35] NickMeves commented on #1090
None of the maintainers are Azure users -- so we have no plans to add any Azure functionality ourselves.

Community contributions welcomed 😄

[2021-03-12 23:38] NickMeves commented on #1089
We have some issues around refreshing we hope to address that are covered in this issue: https://github.com/oauth2-proxy/oauth2-proxy/issues/856

At the moment, the best recommendation we have is to set your `--cookie-refresh` timer to the exact same duration as your Access or ID Token TTL.

[2021-03-12 23:40] NickMeves commented on #1093
To be blunt - the `keycloak` provider sucks and needs some love: https://github.com/oauth2-proxy/oauth2-proxy/issues/956

I recommend you hook into your Keycloak instance using the `oidc` provider. The `Keycloak` provider is barebones Oauth2, and there's been recent issues popping up maybe finding that the `api` default scope it uses isn't even correct anymore.

[2021-03-12 23:45] NickMeves commented on #1092
This question came up on the ADFS PR: https://github.com/oauth2-proxy/oauth2-proxy/pull/1021/files (it uses UPN for email in the end it looks like)

In related Azure PRs, I raised the question of if UPN is appropriate for User instead of the IDToken subject.

This would be a substantial breaking change to azure unless it is toggle-able with a configuration.

I'm not an Azure user, so I'll need to

[2021-03-12 23:55] NickMeves commented on #1095
I'm not sure if this provides good enough protection from the attack scenario around this?

(Please correct me if I'm wrong, I'm fuzzy on the details 😅 ) `X-Forwarded-For` is spoofable, and each intermediate proxy adds the client IP it sees on the right side of the list -- while the originating client (used in the trusted-ip allowlist logic) is pulled from the leftmost entry.

So I can send an ori

[2021-03-12 23:59] NickMeves commented on #1095
We also support htpasswd defined static user/pass pairs for basic auth. That might be a better way for Grafana to get authenticated if it can do basic auth.

If you can somehow get it a bearer token, I recommend that the most. Here's a writeup I did on how to do that: https://medium.com/in-the-weeds/service-to-service-authentication-on-kubernetes-94dcb8216cdc

As you saw in those previous issues -

[2021-03-12 23:59] acobaugh commented on #1092
I'm new to Azure as well. In our environment (large university), email
seems to be set inconsistently (which is really a problem on our end, but
there doesn't seem to be much traction in fixing it), whereas UPN seems to
always match the username university users are assigned at creation time.
All of our authZ is based around the value stored in UPN.

I actually have a branch that I worked up yeste

[2021-03-13 00:06] NickMeves commented on #1092
Go ahead and toss up a PR. At the very least the idiomatic changes you have made in those commits look good. I had it on my TODO list to jump back into the Azure provider and clean it up, it needed some standardization if I recall to streamline the style & syntax with our other providers after a few different contributors last touched it.

Keep in mind if you aren't already - we don't want to dire

[2021-03-13 00:11] weinong commented on #1092
@acobaugh you can configure which claim to use for email by `--oidc-email-claim=upn`

[2021-03-13 00:31] NickMeves commented on #1092
Oh Nice - is that new for Azure from your latest PR @weinong -- Or have we had that for a while when we added it for the OIDC provider?

If its from your latest PR that I just approved, my memory is getting bad fast 😅

[2021-03-13 00:34] weinong commented on #1092
well, extracting email claim from id_token was new from my PR. At the same time, thanks for all your refactoring to make oidc verifier and options available to azure provider. So I just take advantage of that :)

[2021-03-13 01:21] acobaugh commented on #1092
@weinong Ah, I'll have to try that. Not sure how I missed that. Would it still be desirable to set both `user` and `email` headers? In any event, once consensus is reached, I wouldn't mind putting together a PR to make this provider more idiomatic.

[2021-03-13 01:34] michael-freidgeim-webjet commented on #1096
@NickMeves  I know that you are planning to create new structural config, but I strongly discourage https://github.com/oauth2-proxy/oauth2-proxy/issues/532#issuecomment-797008459 to disable an existing configuration in the nearest future even after structural config will be implemented.
This suggestion is an improvement (relatively simple) of the current functionality and can be done before the ne

[2021-03-13 01:53] NickMeves commented on #1092
In general we've standardized on `User` matching the ID Token subject, and this is pretty constant across the providers (that have claims).

So let's not touch that field.

Someday in the future, for any OIDC based providers, we plan to support adhoc Claim -> Session -> Header support (this will be after v8 with structured configs is released). That probably unlocks the customizability you want fo

[2021-03-13 02:01] NickMeves commented on #1096
PRs welcome 😄

Since it will soon be deprecated, @JoelSpeed & I won't be volunteering to do it ourselves though. We have enough on our plate we have planned out to get us to the next milestones we want to hit in the next few minor versions & v8 major itself.

We are aware structured configs are a major change, that's why they won't fully go into place until a major release. As we unlock them in mi

[2021-03-13 02:57] #1037 closed

[2021-03-13 08:39] JoelSpeed commented on #532
We are currently working on the migration and cleaning up a lot of the code along the way. To enable this, we have created a number of internal conversion options.

This has allowed us to start introducing the new config as an `--alpha-config` option for users who want to try this ahead of time. I think we will continue with this method and eventually get to a point where the whole configuration i

[2021-03-13 18:42] opteemister commented on #490
I also have that issue on my local env. Docker compose with 2 containers: quay.io/oauth2-proxy/oauth2-proxy:v7.0.1 (with oidc provider configuration - Google) + simple service (rundeck/rundeck:3.3.6)
Have same logs as provided above. On each request I have log messages about that `Refreshing 2m49.459163439s old session cookie for Session`

@JoelSpeed please let me know if you need some additional

[2021-03-13 23:51] MNF commented on #532
Is alpha in flag and in documentation refers to the stage of development rather than feature name?
It will be better to name the flag as --structured-config and in documentation keep warning that structured-config  is on alpha stage.
Later you will change or remove stage related warning, but do not change the feature name.

Also  conversion flag  is useful, but it would not help in all cases. E.g.

[2021-03-14 05:39] jhutchings1 commented on #521
@nolyoi The error you called out happens on private repositories if you don't have GitHub Advanced Security enabled for the repository. If you're seeing it on a public repository, suggest you contact support so we can have a look. https://github.blog/changelog/2021-01-07-github-advanced-security-can-now-be-enabled-disabled-at-the-repository-or-organization-level/

[2021-03-14 08:51] bohrasd opened #1105 "--gitlab-group flag not working as expected"
<Redacted>

[2021-03-14 11:44] JoelSpeed commented on #532
It will be better to name the flag as --structured-config and in documentation keep warning that structured-config is on alpha stage.
Later you will change or remove stage related warning, but do not change the feature name.

I wanted it to be abundantly clear that when configuring this, it is in alpha stage and may change at any point. I guess it could have been `--alpha-structured-config` but th

[2021-03-14 15:25] tpohl commented on #976
Hey @NickMeves , have you heard anything about #767?
We are still interested in this and willing to contribute ;-).

[2021-03-14 16:00] NickMeves commented on #976
Nope haven't heard anything. Feel free to give it a go!

First step is to get a new keycloak provider based on OIDC that will become the default in the future. We've talked about naming it `keycloak-oidc` for now with the intention of moving it to the main `keycloak` provider in a major release.

It would emulate what this ADFS PR is doing: https://github.com/oauth2-proxy/oauth2-proxy/pull/1021

U

[2021-03-14 16:06] #1044 closed

[2021-03-14 16:06] tpohl commented on #976
Alright, I will take a look at that in the coming week.
I agree that we might want a keycloak-flavored OIDC Adapter with as much standard OIDC as possible.

[2021-03-14 16:09] JoelSpeed commented on #490
What refresh period do you have configured? And just to confirm, `--provider=oidc`? Could you maybe sanitize and share some logs? Is there anything obviously erroring?

[2021-03-14 17:28] NickMeves commented on #976
Here you go - I whipped this up: Use this as a baseline to added Access Token claims to Role extraction logic: https://github.com/oauth2-proxy/oauth2-proxy/pull/1107

CC: @khawaga

[2021-03-14 18:29] #1105 closed

[2021-03-14 20:03] JoelSpeed commented on #1088
This should work with the keycloak provider, however, I might suggest you try the OIDC provider instead. Keycloak is OIDC compatible and our OIDC provider works a lot better than the keycloak provider. I'd be interested to see if it works if you just switch provider?

Otherwise, if you have some time to check, we get group information from the userinfo endpoint, could you check what the structure

[2021-03-14 21:42] kaktus42 commented on #676
For others who end up here: The comment from @c-x-berger didn't work for me.

What worked was to add `nginx.ingress.kubernetes.io/proxy-buffer-size: "8k"`; but on both Ingresses - the actual app (e.g. kubernetes-dashboard) **and** the oauth2-proxy ingress.

Pass-through is not an option for me because I have multiple upstreams via subdomains.

[2021-03-15 00:16] #968 closed

[2021-03-15 06:24] AlexSins commented on #90
maybe the problem is the lack of space between the quotes #

[2021-03-15 08:19] cabrinoob commented on #1098
Ok I see. As I understand what you say, the CSRF cookie is used once at a certain moment in the OAuth flow between oauth2-proxy and the authorization server.

But, in my case, once my Angular application has received its "_oauth2_proxy" cookie, isn't this one vulnerable to a csrf attack ?

Isn't there something missing to inject into every subsequent requests besides the cookie ? (a csrf ?).

[2021-03-15 08:50] thekoma commented on #978
This is still a bug @NickMeves ?

[2021-03-15 12:57] JoelSpeed commented on #1099
You are much better off using Nginx to perform the decisions here rather than relying on OAuth2 Proxy. If you have particular routes that can have auth skipped, Nginxs config is much richer and allows you to set this up to be much more efficient than relying on OAuth2 Proxy

[2021-03-15 15:16] alice-sawatzky commented on #1067
i don't, it's just a pain when the app has the ability to generate the string itself, and leads to a less transparent config file. i suppose the issue title should've been "inconvenient", not "impossible"

[2021-03-15 15:33] NickMeves commented on #1098
For your backend application, if you need CSRF protection for some of its endpoints, you'd need to implement that yourself with your framework.

OAuth2 Proxy isn't positioned in the architectural network flow to accomplish that successfully for you (e.g. hidden fields on POST forms matching a CSRF cookie value, custom HTTP headers added by your frontend framework, etc).

Any static crypto cookie w

[2021-03-15 16:00] acobaugh commented on #1092
`oidc-email-claim` is a noop for the azure provider in v7.0.1 based on testing I just did.

My understanding of `User` was that value would be exposed via `x-auth-request-user`, and it isn't currently getting set to anything. The Azure provider doesn't seem to do anything with `sub`. When I looked at `sub` in Azure, it wasn't set to anything I can decipher, unless I just don't understand the encod

[2021-03-15 16:13] Ghazgkull commented on #90
@AlexSins Unfortunately, it's not an input problem. The code itself isn't written to support JSON logging because there's no way to tell it to do the required escaping (e.g. double quotes). The problem is tracked here: https://github.com/oauth2-proxy/oauth2-proxy/issues/1057

[2021-03-15 17:26] terala commented on #1057
Proper structured logging is the way to go for JSON logging. Formatting tricks can only go far.

[2021-03-15 18:39] acobaugh commented on #1092
So I guess my next question is: is `oidc-email-claim` intended to only be used by the generic `oidc` provider, or do we want a specific option just for azure, eg. `azure-email-claim`? The `oidc` provider is the only one that consumes that option from what I can tell.

[2021-03-15 18:40] JoelSpeed commented on #1057
I still think it's good to have the ability for users to format the output even with structured isn't it?

[2021-03-15 18:44] JoelSpeed commented on #1092
I think allowing Azure to use the same option `oidc-email-claim` is preferable over adding a new option

[2021-03-15 18:58] terala commented on #1057
Absolutely... if the users want to format to suit their needs, they should be given that option. However, when it comes to json, being structured is the best way to achieve it. The `zap` framework that I've used allows manual formatting too.

[2021-03-15 19:12] JoelSpeed commented on #1057
IMO, the issue with introducing Zap here would be that we would have to ensure our logging and their logging follow a common interface, which I don't think we presently do. If we do, this could be easier to implement than I had thought, otherwise my suggestion is that we add an option to encode the messages in JSON before passing to the template

[2021-03-15 19:31] terala commented on #1057
I've already implemented zap support earlier. It would be like switching over to zap and then add support for user formatting for non-json. Regardless, having a structured logging is very very helpful for splunk and other logging tools. Text parsing is prone for errors and is a major headache trying to get fields out of the log lines.

[2021-03-15 20:48] weinong commented on #1092
@acobaugh would you mind sharing the list of arguments you used?

[2021-03-15 20:52] acobaugh commented on #1092
This is what I had set up in our dev instance. But, unless I'm reading something wrong, there's nothing in the Azure provider today that uses the `EmailClaim` option.

[code]

[2021-03-15 20:56] J3m5 commented on #822
How did you solved this issue @POD666 ?

[2021-03-15 21:15] weinong commented on #1092
@acobaugh in my PR, oidc verifier won't be set unless oidc issuer is set. try `--oidc-issuer-url=https://sts.windows.net/{tenant-id}/'

[2021-03-15 23:16] mlazowik commented on #390
Ok, so one way this could work is that if you enable a config option, the proxy will send [`WWW-Authenticate`](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/WWW-Authenticate) header (maybe with configurable `realm` too?) in response to unauthorized requests, and for requests that do have an `Authorization: Basic` header it'll read the creds and send the [Resource Owner Password Credent

[2021-03-16 07:00] cabrinoob commented on #1098
Ok, I understand. Thank you for your help

[2021-03-16 20:47] MNF opened #1109 "Describe Local development at the top level of documentation (or readme.md)"
## Expected Behavior

It will be good to have separate section ## Local Development/Testing in documentation (or readme.md)

## Current Behavior
The current link in https://github.com/oauth2-proxy/oauth2-proxy/blob/7def4bf3600ee29a843cf3375998aa5fd0428b0f/docs/versioned_docs/version-7.0.x/configuration/auth.md is hard to find.

`See also [our local testing environment](https://github.com/oauth2-pr

[2021-03-17 00:15] #971 closed

[2021-03-17 07:23] Jc2k commented on #549
Will https://github.com/oauth2-proxy/oauth2-proxy/pull/1086 help with this?

[2021-03-17 11:04] JoelSpeed commented on #549
Yeah I think it should resolve this, @NickMeves can confirm

[2021-03-17 11:35] jonkerj commented on #1034
Sure. I'm using oauth2 in auth forward mode: the ingress resources carry the annotations per my previous comment. The oauth2-proxy has these arguments/env:
[code]

I'm using a docker image which is based on a fairly recent post v7.0.1 master checkout. 7.0.1 contains a bug regarding the order of argument overrides.

[2021-03-17 21:16] jdthorpe commented on #1040
Related question / suggestion: It seems like using the `roles` attributes instead of the `groups` attribute should be trivial.  For example, I have a user with a JWT like this:

[code]

and would like to validate against the user's assigned roles.  However, these options result in a 403:

[code]

[2021-03-18 00:43] michael-freidgeim-webjet opened #1110 "How can I create valid user/password for local Dex?"
## Expected Behavior

https://github.com/oauth2-proxy/oauth2-proxy/blob/master/contrib/local-environment/docker-compose.yaml has good instructions (BTW should they be in docs, rather than in the comments?) how to build an example instance
I can run http://localhost:4180/ and see a form

However I couldn't find how I can create local account to  test Sign in button.
Could you please provide instruc

[2021-03-18 08:04] piersharding opened #1111 "Panic with GitLab project auth when user has no access"
When using GitLab as a provide and setting the option `--gitlab-project=ska-telescope/ska-tango-images=30` there is a panic caused at https://github.com/oauth2-proxy/oauth2-proxy/blob/master/providers/gitlab.go#L334 when the user has no access as `perms` is a `nil` value at this point.

## Expected Behavior

No panic cause - user gets the expected 403 screen as they have no access.

## Current Beh

[2021-03-18 08:05] rassie commented on #979
@NickMeves I think this is still valid, could you reopen please?

[2021-03-18 09:34] stoetti commented on #1032
How does that PR resolve this issue?

@holyjak @JoelSpeed Is this feature planned for the near future, if not we have to find our own solution.

[2021-03-18 11:56] gaveezy opened #1112 "Upstream path error when path end with ? character"
The proxy send request to upstream server with wrong path when path end withs `?`
For example, the original request `https://proxy-domain.url/file/count?`
The request sent to upstream by oauth2-proxy is `http://upstream-server/file/count??`

## Expected Behavior

The path should be `file/count?` instead of `file/count??`

## Current Behavior

The path is `file/count??`

- Version used: `7.0.1`

[2021-03-18 20:16] foosinn commented on #1099
Hey,

thanks for letting me know. I'm aware of that, but we use oauth2-proxy as a drop-in for our staging environments.

I'll sick with configuring that via nginx or using it as a sidecar.

Thanks for your replies!

[2021-03-18 20:16] #1099 closed

[2021-03-18 21:58] NickMeves commented on #1111
Thanks for the report! Can you coordinate with @papey - they added this project authorization logic to the GitLab provider.

Neither @JoelSpeed nor myself use the GitLab provider, so we'll need someone from the community to make a PR that we can review.

[2021-03-18 22:02] NickMeves commented on #1098
No problem! Happy to help

[2021-03-18 22:02] #1098 closed

[2021-03-19 06:19] piersharding commented on #1111
Thanks @NickMeves . Hi @papey , does the `perms != nil` (above) check make sense?

[2021-03-19 08:58] papey commented on #1111
Hi @piersharding, just to get more context, his the user member of the project with no access ?

Last time I checked Gitlab project description returns something like this in the response

[code]

Dans there is a fallback mechanism at https://github.com/oauth2-proxy/oauth2-proxy/blob/4d9de06b1dbad8d27965afa2586df29667eeb50c/providers/gitlab.go#L329-L332

[2021-03-19 11:15] piersharding commented on #1111
Thanks for getting back to me.  The user has no specific access to the project https://gitlab.com/ska-telescope/ska-tango-images , but the project is publicly readable.
It appears that the fallback (described at https://github.com/oauth2-proxy/oauth2-proxy/issues/1111#L331) is also returns  `nil` which then causes the panic as described.

[2021-03-19 12:52] papey commented on #1111
Thanks for the feedback, after querying Gitlab, I confirm that group_access is set to `null` in the API response when querying a public project.

I think you're fix is the way to go, if you want to make the PR go for it, otherwise @ me and i will do it.

Thanks !

[2021-03-19 13:03] POD666 commented on #822
@J3m5 just forked this repo with all the fixes I mentioned before. But after all, we decided not to use oauth2-proxy for now.

[2021-03-19 14:41] piersharding commented on #1111
Thanks @papey - I created https://github.com/oauth2-proxy/oauth2-proxy/pull/1113 .
Cheers.

[2021-03-19 16:55] GregoireW commented on #1032
I have a similar issue, except I got a lot of access token without audience.

I'd like a simple check like "if the access token is signed by a provider and is not expired then allow".

note: the oidc RFCs do not define where to store public key from access token signature.  (only the id-token one are recommended to be in the JWKS_uri defined in the .well-known endpoint) (oidc promoter argue jwt ac

[2021-03-19 21:44] MNF opened #1114 "Document oauth2/sign_in vs /oauth2/start"
In https://oauth2-proxy.github.io/oauth2-proxy/docs/features/endpoints the endpoints described as
- /oauth2/sign_in - the login page, which also doubles as a sign out page (it clears cookies)
/oauth2/start - a URL that will redirect to start the OAuth cycle

It is not very clear what is the difference between them, it will be good to elaborate.

Could you please also  document parameter rd ?
Will

[2021-03-20 13:41] fibbers commented on #1095
Ok, I've given it a bit more thought and after drawing the different scenarios, I think most responsibility lies at the first reverse proxy (the one in front of oauth2-proxy), which might've been stated in the docs already, so that's where I currently configured things now. And authn is on the todo list, so thanks for the ideas, I'll look into those 👍

There might still be some security benefits f

[2021-03-20 13:41] #1095 closed

[2021-03-20 15:34] JoelSpeed commented on #1114
The difference between them is that `start` starts the flow without user interaction (same as if `skip-provider-button` is provided) and `sign_in` will show the button and prompt users to click before they actually get logged in.

callback will retrieve from the state the original (protected by the proxy) url and redirects browser to it?
Is parameter rd supported in both endpoints or only on sign-

[2021-03-20 15:45] JoelSpeed commented on #1109
Totally agreed! We really should document this better and explain that they can be used. If anyone has time to pick this up, then please feel free

[2021-03-20 15:49] JoelSpeed commented on #1110
Users are defined in the dex configuration here
https://github.com/oauth2-proxy/oauth2-proxy/blob/4d9de06b1dbad8d27965afa2586df29667eeb50c/contrib/local-environment/dex.yaml#L27-L32

We should add this to the documentation that exists in the docker-compose files and yes, it would be good to also copy this information into the docs at some point, haven't had a chance to do that just yet though. If

[2021-03-20 20:27] hwaastad commented on #1093
Hi,
The integration bd use client scope «api» so either add a api client scope to your keycloak instance (and client) or use a scope that usually exists, ex email.

[2021-03-20 23:51] JoelSpeed commented on #1032
So we have extra issuer support already, the problem is, there isn't configuration to identify which provider the extra issuers are, so they default to a very basic implementation (which doesn't always work). We are planning to implement support long term for multiple providers, this will allow users to configure the multiple issuers and client-ids in separate provider configs. This should resolve

[2021-03-20 23:53] JoelSpeed commented on #1112
Not sure where this has come from, will see if I can find some time to look into it over the next week or so. Do you know does this only happen with HTTP upstreams or does this affect file based upstreams as well?

[2021-03-21 07:01] opteemister commented on #490
Hi, @JoelSpeed . Sorry for the delayed response.
Just to clarify. Here is my docker-compose file with all parameters set:

And here are logs when I just try to load one page (there are 3 requests) after 1 min after login:

First attempt:

Second attempt:

Seems no errors, but Refreshing attempt on each requests.

[2021-03-21 18:01] NickMeves commented on #1080
@mark-nexplore This is interesting - thanks for the thorough explanation of the spec. I'm intrigued!

Do you have samples of what sort of additional identity information this provides that isn't available when doing a Userinfo request? If I understand correctly, this would also be an additional `token_endpoint` request with the access token after the initial code request to `token_endpoint` (so we

[2021-03-21 18:04] NickMeves commented on #580
I think we should close this out and track new metrics use cases in new issues (so they can bubble to the top of our list).

[2021-03-21 18:18] #580 closed

[2021-03-21 18:20] #965 closed

[2021-03-21 19:23] Bibob7 commented on #856
This issue is still relevant for me!

[2021-03-21 19:40] JoelSpeed commented on #490
Looks like some issue with the created at being reset when the session is refreshed. Not sure what the state of this is now but @NickMeves is refactoring this in #1086 at the moment and I'm pretty sure he has this covered, so, would you be able to test this with a build of his PR?

[2021-03-21 20:02] #1068 closed

[2021-03-21 20:13] #614 closed

[2021-03-21 20:18] a0s commented on #969
@atmosx adding the annotation to nginx-controller service (instead of ingress) in result disable authentification.

[2021-03-21 20:36] arcivanov commented on #856
@Bibob7 Try #915 as it works for most people.

[2021-03-22 01:55] mark-nexplore commented on #1080
@NickMeves Welcome your comments. I think the best way to describe the difference is using some example in this case.

When using the current implementation of OAuth2 Proxy connecting via OIDC, the OAuth2 server(Keycloak in my case) responded with a standard PAT token which looks like this in the payload (after decoding) using `grant_type` as `password`:
[code]
Which is ok, but it only restrict de

[2021-03-22 08:29] stoetti commented on #1032
Is there a timeline for that implementation?

[2021-03-22 09:04] lusoalex commented on #1032
Hello,

Regarding JWT, there's two cases :
 - [id_token](https://openid.net/specs/openid-connect-core-1_0.html#IDToken) is a JWT, issued to a client, that may contain personal information, intended to share user information to the client, and not to be used to **access** a resource server. _In this case the jwt **must contains** both **aud** and **iss** claims that refers to the issuer_.
 - access

[2021-03-22 09:38] FStelzer commented on #844
still work in progress

[2021-03-22 09:41] gaveezy commented on #1112
I'm not sure about the file based upstreams part. Didn't try it before. Any idea how to use it, so I can check if the problem existed with file based upstreams (can't find how to use file based upstreams on config file https://github.com/bitly/oauth2_proxy/blob/master/contrib/oauth2_proxy.cfg.example)?

[2021-03-22 11:26] JoelSpeed commented on #1112
Don't worry about the file upstream part, I found the part that was broken and have raised a PR to fix this in #1115. It doesn't affect the file based updstreams

[2021-03-22 13:12] #1112 closed

[2021-03-22 13:22] #1079 closed

[2021-03-22 17:15] bobykus31 opened #1118 "Auth with "Authorization: Bearer" and curl unclearness"
Can not get auth to work with curl and   ' -H "Authorization: Bearer ${TOKEN}"

`curl -L -v  --cookie "_myauth=secret"  -H 'Accept: application/json' -H "Authorization: Bearer ${TOKEN}" https://auth1.my.site:443/
`

The error is

`Mar 22 16:54:48 auth1 oauth2-proxy[11621]: [2021/03/22 16:54:48] [stored_session.go:76] Error loading cookied session: cookie signature not valid, removing session`

The

[2021-03-22 18:36] JoelSpeed commented on #1118
I think you are missing the `--skip-jwt-bearer-tokens` option, this tells the proxy to accept JWT tokens as valid sessions, otherwise it will ignore the Authorization headers that you are passing

[2021-03-23 00:31] toxuin commented on #608
Hello

[2021-03-23 01:05] shivknight opened #1120 "Creating JWT session with unverified email"
## Expected Behavior
Able to create a new JWT session when `email_verified: false`

## Current Behavior
Creating a session from JWT when `email_verified: false` still checks for valid email, resulting in
[code]

## Possible Solution
If I understand correctly, https://github.com/oauth2-proxy/oauth2-proxy/blob/5788bebfeebaa1155536eee634fa15c7d4c7e5de/pkg/apis/middleware/session.go#L42 needs a check

[2021-03-23 02:21] NickMeves commented on #1120
What options are you using?

You are correct - for any supplemental bearer token verifiers, the options are barebones via `--extra-jwt-issuers` (we are looking to resolve this in v8 with structured configs allowing a rich list of bearer providers with all the options).

But for Bearer tokens, the first verifier in the chain is your main provider. For instance, if you use OIDC - it will use this fu

[2021-03-23 10:19] PengtaoNing commented on #1080
In the microservice environment, tokens need to be passed to specific microservices in the form of token relay. The permissions required for each microservice are different. Can the RPT token be obtained through the keycloak client query oauth2 proxy?

[2021-03-23 14:34] cabrinoob opened #1121 "Customization of error page"
Hi,
I see it was possible to override the error and sign_in templates. So, I checkout those from the v7.0.1 (those with bulma CSS).
I'am running OAuth2-proxy under K8S so I mounted those templates into the pod through a configMap and correctly setup the `--custom-templates-dir`.

This step worked: Template are correctly mounted into the pod.

But, when I log in using my Auth0 IDP and intentionaly

[2021-03-23 14:44] JoelSpeed commented on #1121
The updated templates are actually only available from v7.1.0. So you will either need to use the master branch for now or wait until the v7.1.0 release is created, hopefully that should be some time this week

[2021-03-23 15:01] bobykus31 commented on #1118
Added --skip-jwt-bearer-tokens, but  now new error appears

Error retrieving session from token in Authorization header: [unable to verify bearer token, oidc: expected audience "my" got ["account"]

I might get token wrong or what...

[2021-03-23 20:05] futik opened #1122 ".well-known/openid-configuration with --extra-jwt-issuers documented, not implemented"
The documentation for --extra-jwt-issuers mentions two options of the oauth2-proxy to retrieve the public keys to verify passed JTW tokens:

```if --skip-jwt-bearer-tokens is set, a list of extra JWT issuer=audience (see a token's iss, aud fields) pairs (where the issuer URL has a .well-known/openid-configuration or a .well-known/jwks.json)```

However, in the code, it seems to only look for the .

[2021-03-23 23:23] #1122 closed

[2021-03-23 23:24] futik commented on #1122
Sorry, interpreted the results wrong.

[2021-03-24 00:40] mark-nexplore commented on #1080
@PengtaoNing the RPT token can specify the permission based on resources (i.e. your microservice) to a granular level - that is why our development is looking into using it. So in my example above, the resource is 'project-a' which you can consider as a service, then the scopes is the ACL you provided to that particular resource - so in essence it can be a complete effective ACL for your applicati

[2021-03-24 02:26] PengtaoNing commented on #1080
@mark-nexplore I didn't make it clear that I was a requirement before. When I was learning keycloak, I used the keycloak public client (browser environment) to request the uma ticket for permission, but this method is not safe. Later, I used oauth2-proxy to successfully authenticate and pass Bearer token relay authentication but there is no corresponding authority information. I hope to use the ba

[2021-03-24 05:52] cabrinoob commented on #1121
Oh yes, I forgot to say that I also deployed the v7.1.0 of the docker image.

[2021-03-24 07:41] opteemister commented on #490
I think it is the same issue in #1086. Here are logs:

rundeck_1  | [2021-03-24T07:37:08,199] INFO  web.requests "GET /user/login" 10.0.2.2 http  form 15 ? [] (Mozilla/5.0 (Macintosh; Intel Mac OS X 11_2_1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/89.0.4389.90 Safari/537.36)
oauth_1    | 10.0.2.2:54322 - sanitized@domain.com [2021/03/24 07:37:08] localhost:8080 GET / "/user/login" HTTP/1.1 "M

[2021-03-24 07:53] thapabishwa opened #1123 "documentation/help regarding working with protected/password protected pages"
Currently I have setup oauth2-proxy with internal tools and I have to enter the password(for the page separately) after login with google. Can you point me to any documentation regarding how I could automate the password entering step.

[2021-03-24 08:23] VictorBersy commented on #728
Thanks for opening this issue! I'm interested too, because indeed, it's quite painful to configure currently.
I'm commenting to reopen the issue 👍

[2021-03-24 08:35] desaintmartin commented on #608
Hey again,
First thing, should we add more maintainers in https://github.com/oauth2-proxy/manifests/blob/main/helm/oauth2-proxy/Chart.yaml ? I'd like to add this into the Artifact Hub but it seems I'm the only one with email/address.

[2021-03-24 10:43] pierluigilenoci commented on #930
Any news?

[2021-03-24 11:32] JoelSpeed commented on #930
The helm chart is now available and being hosted in https://github.com/oauth2-proxy/manifests, please raise any issues on that repo going forward

[2021-03-24 11:32] #930 closed

[2021-03-24 13:27] susana-garcia opened #1124 "Keycloak as provider - Got error: Error redeeming code during OAuth2 callback: no access token found <!doctype html><meta charset="utf-8"><meta name=viewport content="width=device-width, initial-scale=1"><title>403</title>403 Forbidden"
Deploy on Kubernetes cluster:
- keycloak
- oauth2-proxy (with setup to work with Keycloak)

Our Kubernetes cluster uses istio.

## Expected Behavior

Expect to be redirected to upstream.

## Current Behavior

When trying to access the app, I got to the keycloak login, then add the credentials (username/password), but after being authenticated I got this in the browser (500 Internal Server Error):

[2021-03-24 15:12] Steffi14 opened #1125 "Server Sent Events"
I use two applications. One is a single page application and one is kind of a backend. Both are written in scala and use http to communicate. They also use SSE to send events to the single page application. But the events do not reach the browser.

## Expected Behavior

![image](https://user-images.githubusercontent.com/43598211/112331323-1a1eda00-8cb9-11eb-81b0-389c91aec3a4.png)

In the applicati

[2021-03-24 17:26] shivknight commented on #1120
Thanks, you got me on the right track. I was falling through to the default verifier due to a mismatched `aud` claim in the JWT verifier. I'm still trying to resolve that issue btw, do you know if `oauth2-proxy` would set the `aud` to a value of `account` for any reason? Or is that from my OIDC provider? Closing the issue at any rate.

[2021-03-24 17:26] #1120 closed

[2021-03-24 18:01] JoelSpeed commented on #1125
Does this work if you take OAuth2 Proxy out of the equation? I wouldn't have thought OAuth2 proxy would stop events being sent if there is already a connection establised.

That said, if it does work without OAuth2 Proxy, could it be to do with websocket proxying and how that differs from normal HTTP requests? We do have a special `proxy-websockets` option though I can't remember right now if it d

[2021-03-24 19:20] NickMeves commented on #1120
We don't mess with the token `aud` in any way (or any other claim). Probably something to check on with your OIDC provider.

[2021-03-24 22:31] shivknight opened #1126 "Recommended usage with CLI client?"
Not an issue as much as a usage recommendation. How is `oauth2-proxy` meant to be used with a CLI client? My architecture is identical to the one described in https://github.com/oauth2-proxy/oauth2-proxy/issues/809, but it's not clear what options I need to set and what URLs I should use.

## Expected Behavior
CLI app attempts to auth against OIDC provider via `oauth2-proxy`. `oauth2-proxy` return

[2021-03-24 23:06] JoelSpeed commented on #1126
Typically, this kind of thing would be achieved by implementing OIDC in your command line tool. OAuth proxy wasn't really meant for this use case to be honest.

If you can get the cookie into your application, you can call `<Oauth2-proxy>/oauth2/auth`, and provided you've set the correct config for the headers, it will populate the response with information about the authenticated user. Does that

[2021-03-25 08:49] Steffi14 commented on #1125
Yes without the OAuth2 Proxy everything works fine.
I read that the proxy-websockets flag should be on true by default. But I also tried with setting it explicitly on true and it was not working either.

I also tried to set the skip-auth-regex on the particular path where the backend application will send the notifications but this also was not helpful. I thought it maybe will solve the problem be

[2021-03-25 09:56] Steffi14 commented on #1125
I made it work. In Openshift I made an additional service for the port of the single page application. The backend app will then communicate through this port directly and will not go through the proxy with the Push Notification for the Server Sent Event.

So it is maybe not a problem with the Proxy.....

[2021-03-25 15:48] #1111 closed

[2021-03-25 18:04] JoelSpeed commented on #1121
New release is out, you should be able to get this to work now, if you have any further issues, feel free to reopen

[2021-03-25 18:04] #1121 closed

[2021-03-25 18:49] acobaugh commented on #1092
@weinong yes, setting oidc-issuer-url works. It wasn't at all apparent that oidc-email-claim would be effectively ignored unless the provider is able to verify the tokens.

On another note, I'm now running our dev instance of oauth2-proxy with a bunch of changes that add a `--pass-extra-claims` flag, which allows the azure provider to extract arbitrary single-valued claims from the token after ver

[2021-03-25 18:53] JoelSpeed commented on #1123
Does your upstream service support basic auth? Or could it observe some sort of header that would allow it to trust the identity passed to it by OAuth2 Proxy. The answer to your question very much depends on how the authentication works for these internal tools

[2021-03-25 19:01] JoelSpeed commented on #1124
YAML can do weird things to command line flags and we see quite often that things don't end up being passed to the container quite as they are expected when they come through Kubernetes like this. Do you have access to be able to check what command is actually being sent to the OAuth2 Proxy binary? This would involve access to the pod, maybe a simple `ps` would work to show you the command (I just

[2021-03-25 20:11] shivknight commented on #1126
It did work for me, thanks for the tip.

[2021-03-25 20:11] #1126 closed

[2021-03-26 00:31] #993 closed

[2021-03-26 00:33] rassie commented on #985
Oops. This is of course still valid. @NickMeves please re-open, thanks!

[2021-03-26 06:04] andyli opened #1131 "allow logins by gitlab username"
Feature request: a `--gitlab-user` option that is similar to [`--github-user`](https://oauth2-proxy.github.io/oauth2-proxy/docs/configuration/oauth_provider#github-auth-provider)

[2021-03-26 09:05] susana-garcia commented on #1124
thank you for your answer @JoelSpeed, I'll try what you said and see what I can find.

[2021-03-26 09:52] Fox32 opened #1132 "Metrics Server Requires TLS?"
The metrics server claims that it requires a TLS configuration.

## Expected Behavior

Metrics server is listening on port 9100.

## Current Behavior

Startup fails with:

[code]

## Possible Solution

Make TLS optional.

## Steps to Reproduce (for bugs)

1.  Use version 7.1.0
2.  Start the server with `--metrics-address=:9100` and without TLS configuration.

## Context

As I don't publish that po

[2021-03-26 09:57] cabrinoob commented on #1121
Yes, I got it, and it works!
It would be nice to populate a new variable in the error template with the content of the "error_descrition" sent by the IDP (in addition of the error).

But thank you

[2021-03-26 09:57] JoelSpeed commented on #1132
Damn, a typo is breaking this right now, would you be able to build an image from #1133 and check that it resolves the issue?

[2021-03-26 10:01] JoelSpeed commented on #1121
I think if you try the `--show-debug-on-error` option, it will give a more detailed error message, though I would suggest only using this while setting up the proxy and not continually as it may contain sensitive information

[2021-03-26 10:07] Fox32 commented on #1132
@JoelSpeed I can't get it to build (but not because it is wrong, but because my device isn't setup properly). But thanks for the quick fix!

[2021-03-26 14:36] #1132 closed

[2021-03-26 20:11] timothydlister commented on #1083
Hi @JoelSpeed, thanks for the detailed response and your work on the Alpha configs. I am also trying to use arbitrary claims but with that being a future feature, I'm trying to better understand your example above. It appears to me that some of the built in OIDC claims (preferred_username, email, etc) are currently supported? Am I understanding correctly that I can provide arbitrary data into thos

[2021-03-26 20:14] JoelSpeed commented on #1083
Yes, if you can put data into the claims on the provider side, you can get them into headers. I think we capture some stuff like email, user etc, but they can be configured. For example we have an `oidc-email-claim` option that allows you to choose the claim we consider to be the email (I think we do at least, on my phone so can't double check right now). But if you check the docs for flags with c

[2021-03-26 21:19] MNF opened #1134 "Support ability to log debug details"
It will be good to add some flag debug-logging or trace-logging, that will log much more details for debugging.
E.g. for the error “Error redeeming code during OAuth2 callback: token exchange: oauth2: server response missing access_token”
I wanted to see full requests and responses between the proxy and oidc provider.
Currently I have to debug the code, which is time consuming.

It should be highl

[2021-03-26 23:25] weinong commented on #1092
regarding `oidc-issuer-url` documentation, I opened #1135

[2021-03-27 00:07] gustabart commented on #769
Hi,
I have the same problem. I think it is not okay for the proxy to fail if the email claim is empty.
The openid specification says nothing about this restriction.
I think the --allow-empty-emails flag proposed by @urbanpawel90 is a good option.

I would like you to reconsider this issue.
Thanks!

[2021-03-27 00:21] NickMeves commented on #769
@gustabart If you are using Keycloak I recommend you connect to it via the OIDC Provider instead of the Keycloak provider until this PR is merged: https://github.com/oauth2-proxy/oauth2-proxy/pull/1107

The `keycloak` provider is horribly out of date and missing functionality. We are looking to deprecate it once the OIDC-based Keycloak provider is setup instead.

[2021-03-27 00:22] NickMeves commented on #769
Otherwise set `--email-domains` or whatever the flag is to `*`. That allows `SessionStates` that are missing the `Email` field by the email domain authorization check.

[2021-03-27 00:34] #807 closed

[2021-03-27 00:34] #862 closed

[2021-03-27 11:05] JoelSpeed commented on #1134
We've discussed a few times about increasing the logging information throughout the codebase. I was considering trying to use something like https://github.com/go-logr/logr under the hood to allowed different levelled logging, that way we can set various different levels of logging and add more verbose logs as we need.

I had a look into doing this in the past in a way such that we could use our e

[2021-03-28 03:03] ericmeadows opened #1137 "When rewriting the URI in an Istio VirtualService, all endpoints are blocked"
## Expected Behavior

Whether an Istio `VirtualService` has a rewrite or not, it should be authenticated if authentication has been validated, and the authentication cookie is set.

## Current Behavior

When the request is made, using `Google` as the OAuth2 provider, the following networking requests are made:
* 302 - (No Auth Headers) - `https://my.dns/eat/hello`
* 302 - (No Auth Headers) - `http

[2021-03-28 03:27] ericmeadows commented on #1137
I believe that this follows #1008 , but I am not sure how to solve it.  I'm about 6 hours in.

[2021-03-28 03:36] ericmeadows commented on #805
Hey, @TamasNeumer - I created #1137 - have you figured it out?

[2021-03-28 05:28] MNF commented on #1134
I’ve looked at  https://github.com/go-logr/logr (and corresponding https://dave.cheney.net/2015/11/05/lets-talk-about-logging) blog and disagree with the restriction of only 2 types of logs: info and error.
I strongly believe that each of the following types has distinct meaning and are convenient for the use:
Trace
Debug
Info
Warning
Error
Critical
However it’s better to use an existing library,

[2021-03-28 08:52] JoelSpeed commented on #1134
I think the nuance here is that with this library (and the others that integrate with it), you do get different levelled logging, but only with numeric distinction rather than being divided into categories

So for example, I could start adding logs like ```
klog.V(4).Infof("This is quite detailed and probably wouldn't want to be logged normally")
[code]

[2021-03-28 09:17] MNF commented on #1134
One of the basic code recommendations- do not use magic numbers.
If I will read a code with log.Warning, I will understand the meaning( I know that someone can argue, that it should be error, and someone, that it should be info, but it is clear that warning is less serious message than Error and more serious issue than Info).
If someone will read klog.V(4), they would not understand what it means

[2021-03-28 09:32] JoelSpeed commented on #1134
That's a very fair point and I do agree, magic numbers generally can be considered bad.

However, this kind of v level logging is used heavily in the go community (eg see anything related to Kubernetes) so I think a lot of go developers will be familiar with it anyway.

For those who are less familiar, we will extend our developer documentation and, we can guide them in code reviews. No code gets

[2021-03-28 09:59] JoelSpeed commented on #1137
Is it possible you can try the authentication flow while avoiding istio/other applications? I think it would be useful to see if OAuth2 Proxy is sending the headers correctly or not without muddying the water with the Istio stuff. Once we observe OAuth2 Proxies behvaiour, we can work out where Istio is not behaving.

If you have the ability, I might suggest switching to redis for session storage.

[2021-03-28 10:01] JoelSpeed commented on #1057
Ack! Definitely think we want to support structured logging, but I'm also keen to be flexible and not break existing users who are using the existing formatting options

[2021-03-28 11:37] JoelSpeed commented on #1118
I think this is a known issue, at the moment if you have multiple audiences from the same issuer, we can't validate them I don't think. @NickMeves were you aware of this? I think you were involved in some conversations around this but I can't recall if we had a workaround or not yet

[2021-03-28 11:41] JoelSpeed commented on #1080
In the past, we have leaned towards keeping the AuthZ within OAuth2 Proxy pretty lean, and by allowing access/ID tokens to be passed to upstream services, allowing them to perform the AuthZ parts they need such as cases like this. I feel like this could easily be created as a separate component.

What are the benefits of having this built into OAuth2 Proxy? Is it just that we already have a way of

[2021-03-28 11:42] JoelSpeed commented on #1080
I suppose this could be seen in a similar way to the enrich session work @NickMeves was working on, we do allow calls to userinfo or profile URLs to extend our session information, so perhaps this can be integrated into that mechanism for the keycloak provider

[2021-03-28 12:22] ianroberts commented on #992
This will become the default behaviour once #1128 is merged.

[2021-03-28 12:30] MNF commented on #1134
I have to admit that I am .Net developer deploying microservices to Kubernetes and my go experience is near to zero.
Readable code  is better than documentation, and if I were you, I would  introduce some enum like  constants like
const Warning=4
(But it will defeat the intention to use any numbers).

I actually thought not about the developers who are giving feedback/PRs to you, but for those who

[2021-03-28 12:38] JoelSpeed commented on #1134
I'm gonna see if I can find some time soon to investigate different approaches here.

We need to evaluate the different kinds of logs that we have now and the logs that we would want and see if we can come up with some scheme for them.

I had considered whether some sort of enum may be helpful, but would be more inclined to divide into categories, eg, `provider`, `providerDebug`, `session`, `sessi

[2021-03-28 13:34] gustabart commented on #769
Thanks for the reply Nick.
I am using the 'oidc' provider. I also tried --email-domains = * but unfortunately it doesn't work for empty email claims. Inspecting the validator.go (v7.1.0) code I can see:

[code]
The first if is the problem, when email == "", the function returns regardless of whether **allowAll** is true.

[2021-03-28 15:05] ericmeadows commented on #1137
@JoelSpeed  Here are the config changes, and logs when I am writing the Session cookie to Redis (configured from [Kubernetes - Configuring Redis using a ConfigMap](https://kubernetes.io/docs/tutorials/configuration/configure-redis-using-configmap/), making it a `Deployment`, and putting a `Service` in front; no password used):

_Config changes_
[code]

_Logs_
[code]

I'm not sure how to avoid Isti

[2021-03-28 15:20] JoelSpeed commented on #1137
Looking at the last couple of log lines there, it looks as though the authentication worked now? So switching from regular sessions to redis sessions seems to have resolved the issue right?

If that's the case, then I suspect the problem is that the sessions are large and maybe being split into multiple cookies. That or the cookie plus other headers is overflowing the istio buffer (this is a commo

[2021-03-28 15:26] ericmeadows commented on #1137
Below are the logs, before Redis - I believe there is no real change.  I still get `RBAC: access denied`...how can I do the following suggestion?

_Logs_
[code]

My apologies - I am still waking up since I was working on this until very late.

[2021-03-28 15:58] NickMeves commented on #769
If you are using this for Bearer auth, this is the fallback code for no `email` claim:

https://github.com/oauth2-proxy/oauth2-proxy/blob/5497310673a4527487cf8850fbfda53b442bace9/providers/oidc.go#L192

If you are interactive, and you still get nothing from the userinfo endpoint during the EnrichSession stage, I recommend you have in `--oidc-email-claim` and set it to `sub`. Then `--email-domains=

[2021-03-28 16:02] JoelSpeed commented on #1137
However you authenticated on both of those attempts, you have successfully logged into OAuth2 Proxy, otherwise it wouldn't have the email address in the log lines, so that worked.

You'll want `--set-authorization-header=false` instead of what you have now, also, you don't need the `--pass-blah` options as you aren't using any upstream servers, they only affect those upstream servers.

[2021-03-28 16:04] NickMeves commented on #1080
This might be ahead of what we are ready for. We don't have any support for per-route authorization rules in our framework. We've been focused on collecting general identity principle nouns for either global AuthZ at the proxy layer, or to pass to the backend for them to do their own per-route AuthZ logic (or use something like ORY Keto, Oso or OPA as a policy microservice).

I think the best way

[2021-03-28 16:06] NickMeves commented on #1118
`go-oidc` should handle array `aud` claims just fine. All the Kubernetes projected tokens are the format `aud: [ "example" ]` and they've worked no problem for me.

Or does this token actually have multiple audiences in the array claim? If you have a sample that would be great to see!

[2021-03-28 16:19] ericmeadows commented on #1137
Yeah - so it's starting to feel like an Istio issue - which 9 times out of 10, it is.  Thoughts after looking at the following log lines?

_Changes made_
[code]

_Log lines_
[code]

[2021-03-28 16:41] JoelSpeed commented on #1137
Does it start working with istio at this point? Still looks like you're getting authenticated so everything looks ok on our side.

Do you have any logs in istio about headers being too large or anything?

[2021-03-28 16:48] ericmeadows commented on #1137
It's gotta be something with Istio on the AuthorizationPolicy - I can't say I know how to fix it right now.  I can either get infinite redirects, or RBAC: access denied... But it feels like I'm circling around the right fix.

Real quick check - static:// always works, right?

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Joel Speed ***@***.***>
Sent: Sunday, Mar

[2021-03-28 17:29] JoelSpeed commented on #1137
As far as I can tell the static check is working well for you, no known bugs I'm aware of

[2021-03-28 20:13] JoelSpeed commented on #1134
I started looking into using klog to output to our custom logger, this should allow us to start replacing existing logging with the klog interface which allows us to do the v level logging

https://github.com/oauth2-proxy/oauth2-proxy/tree/klog

[2021-03-28 21:46] gustabart commented on #769
Ok, with --oidc-email-Claim set to sub, it works!
Anyway, this is a workaround.
I think a real solution is necessary. Thanks.

[2021-03-29 00:36] #1003 closed

[2021-03-29 17:16] JoelSpeed commented on #1125
I'd be interested to try and have a play with an application that uses the same protocol to try and work out how to get it to work with OAuth2 Proxy but I don't know what I could use to reproduce the issue

[2021-03-29 20:36] MNF opened #1140 "Support hybrid flows by oidc provider"
## Expected Behavior

The different combinations of supported by OIDC response_type values are described in
https://darutk.medium.com/diagrams-of-all-the-openid-connect-flows-6968e3990660

Normally only 3 different types of response_type are used:
	1. code id_token
	2. code token
	3. code id_token token
	https://stackoverflow.com/questions/57302426/when-would-i-use-a-hybrid-flow-with-response-type

[2021-03-30 07:24] Fox32 commented on #1132
@JoelSpeed still running into the issue with 7.1.1. But looks like there is already a PR #1141

[2021-03-30 21:47] unfor19 commented on #926
Thank you for this amazing tool.
Any plans on scheduling this feature to the next release?

[2021-03-30 22:08] NickMeves commented on #926
Yup! We are looking to merge https://github.com/oauth2-proxy/oauth2-proxy/pull/947 soon and have it available in v7.2.

I can't recall if that PR had the full functionality, or set the stage for structured configs which will be fully released in v8 (available now using alpha config flags)

[2021-03-31 00:31] #981 closed

[2021-03-31 06:50] gboor commented on #834
Any status update on this? Can we add custom claims to the endpoint now? If so; how?

[2021-03-31 09:52] hanleirx opened #1143 "When I add the path in my route like this: http://a.s.com/path, I login with Keycloak and it will show the page 503 - not available."
When I add the path in my route like this: http://a.s.com/path, I login with Keycloak and it will show the page 503 - not available.
But I remove the path - http://a.s.com/, it can show page normally.
But I need the path.
I don't know how to config the path.
I tried upstreams/ redirect-url/proxy-prefix/cookie-path, but they are faled. And I don't know how to config it.

my configmap is like this:

[2021-03-31 10:45] ludydoo opened #1144 "Azure provider does not work when "resource" is used - fails to retrieve email"
on AKS 1.20.2, I'm using oauth2-proxy as a `ext-authz` extension for istio. I want to protect `Kiali`. Kiali has multiple authorization strategies, one of them being the `header` strategy, which would work perfectly with `oauth2-proxy`. My goal is to forward the kubernetes user token, retrieved using oauth2-proxy from Azure Kubernetes AAD, to kiali, which would then use it to query the kubernetes

[2021-03-31 15:58] NickMeves commented on #834
Nope, we still haven't added core support to extract adhoc IDToken claims to user sessions yet. That is a prerequisite for this.

[2021-04-01 00:36] #728 closed

[2021-04-01 12:14] JoelSpeed commented on #1140
Did anyone ever start a proof of concept on this? We are undergoing some major changes to the provider packages at the moment and I'd rather we stabilise that before adding extra features if they are complex. If someone has a POC and the changes are actually not too bad, then I think it would be ok to proceed. Seems like a reasonable feature request though

[2021-04-01 12:17] JoelSpeed commented on #1143
Can you share any logs from OAuth2 Proxy during the requests to show the difference between making a request with the path and without the path?

Please sanitize the logs before posting

[2021-04-03 11:43] MNF commented on #1134
I expected to have configuration with both categories and levels for logging, that most of .Net logging libraries support, e.g.
          "MinimumLevel": {
            "Default": "Information",
            "Override": {
              "System": "Warning", // reduce logging for system libraries
              "oauth2-proxy/pkg/apis/sessions": "Debug" // increase logging for particular package

[2021-04-03 11:50] evilfer opened #1146 "Missing cookie _oauth2_proxy (oidc provider)"
I'm trying to configure oauth2-proxy with Keycloak, using the oidc provider, in order to have support for token refresh. However, redirects back from keycloak to oauth2-proxy fail with 500 Internal Server Error.

## Expected Behavior

After being redirected to keycloak, and a successful login on keycloak, the system should proxy requests to the final backend system. The cookie with default name `_

[2021-04-03 21:27] MNF commented on #143
Even It is mentioned in the current documentation, but it’s not such clear. Please consider  to add to the new structural config documentation as a separate section.

[2021-04-03 22:38] MNF commented on #1146
The message “Error loading cookied session: cookie "_oauth2_proxy" not present, removing session” is misleading. It is a normal behavior for the first time, when cookie has not been created yet. The message should be changed to be Info.

You should concentrate on investigation of the second message
 “Error redeeming code during OAuth2 callback: token response did not contain an id_token”
Verify yo

[2021-04-03 22:57] MNF opened #1148 "Specify extra claims to fields stored in session-cookie-minimal"
## Current Behavior
You recently introduced session-cookie-minimal ( in
[Add option to remove tokens from cookie sessions #673](https://github.com/oauth2-proxy/oauth2-proxy/pull/673) )

Btw, It **should be mentioned in the documentation**, especially if you consider to make it as a default.

When this flag is specified, currently  it’s not possible to include in the session any claims normally ava

[2021-04-04 16:01] evilfer commented on #1146
Thank you Michael.

You're right. Turns out I was missing the "openid" scope, and the keycloak log warned about this. All working now :).

[2021-04-04 16:01] #1146 closed

[2021-04-04 16:42] LouisStAmour commented on #1144
Not sure if it helps for your use case, but in mine, with the app registration I was using for testing at least, I was able to use Azure AAD OAuth with both v1 and v2 tokens using absolutely no special logic whatsoever from the azure provider:

For v1 tokens I used the following (in addition to cookie secrets and other config):
[code]

For v2 tokens I used the following (in addition to cookie secr

[2021-04-04 21:46] michael-freidgeim-webjet opened #1149 "Change “Error loading cookied session:” to be Warning."
## Current Behavior
The message “Error loading cookied session: cookie "_oauth2_proxy" not present, removing session” is misleading.
 It is a normal behavior for the first time, when cookie has not been created yet or if cookies were cleared from browser(developers & testers often do it).
 Also errors are usually reported before operation stops, here it has recovering action -session is removed.

[2021-04-05 07:10] chandu412 commented on #1088
Hi Joel @JoelSpeed Thanks for the response and info, we are testing few scenarios, will come back to you soon with the updates

[2021-04-05 16:40] nodranael commented on #1144
Hello,

@ludydoo, I'm currently running into similar issues as I'm trying to set up oauth2-proxy to grab an access token to use with the Kubernetes dashboard. @weinong wrote [a guide related to this](https://github.com/weinong/k8s-dashboard-with-aks-aad), and implemented the PR (thanks to him, by the way). However, I can't get it to work either.

I'm not familiar with go but by inspecting the code

[2021-04-05 23:00] unfor19 commented on #378
@ahoeing any chance that you remember what was messed up? I have the **exact** same issue

[2021-04-06 00:37] #786 closed

[2021-04-06 19:49] weinong commented on #1144
@ludydoo check out my instruction at https://github.com/weinong/k8s-dashboard-with-aks-aad, I verified that it works with my AKS AAD cluster
@LouisStAmour are you using AKD AAD cluster? I believe generic oidc provider will not work with AKS AAD as oidc only establishes who you are, but it doesn't provide the authorization model to access AAD resource (in this case, AKS AAD app)

[2021-04-06 20:03] nodranael commented on #1144
@weinong , from which token are you able to extract the email claim with your setup ?

[2021-04-06 20:10] weinong commented on #1144
@nodranael id_token, I understand your scenario, that basically renders the fallback to access token useless in AKS AAD scenario. I'm still trying to think how it can be worked around

[2021-04-06 21:36] nodranael commented on #1144
well, after removing some token customizations I had made while trying to make this work, I changed `--scope=user.read` back into `--scope=openid` and it eventually worked... Not sure why my id_tokens weren't signed before, and now they are signed. Go figure...

[2021-04-07 12:43] smerschjohann commented on #926
As far as I can see, the commit of #947 does not enable multiple providers by itself, instead it only enables the configuration of such setups. Are there any other issues where the next steps are handled or is this issue closed mistakenly?

[2021-04-07 12:50] JoelSpeed commented on #926
Yep this was closed by mistake, we have the first part implemented now (the configuration changes), next up will be the actually implementation that allows multiple providers IIUC

[2021-04-07 18:17] jpugliesi commented on #1074
@farcaller did you ever successfully configure this redirect with istio?

[2021-04-07 20:29] ovidiubuligan opened #1150 "Can oauth2-proxy be used to just validate oauth jwt tokens ?"
I have searched through all the documentation,  and it is given that there will be a session cookie . For my use case I don't think I need the session cookie  and it is a lot simpler. It is a basic kubernetes ingress setup and I just want to protect some paths/subdomains.

To test what I want to do :
1. I login via the browser in an angular app that follows `Authorization Code with PKCE` for an op

[2021-04-08 16:04] uipo78 opened #1151 "Validating bearer JWTs fails non-deterministically"
Validating bearer JWTs fails non-deterministically.

## Expected Behavior

If I send a request with the exact same, valid JWT in the Authorization header, I should expect the proxy to consistently accept the token as valid. It does not.

## Current Behavior

The proxy fails to validate a fixed, valid JWT consistently, throwing this error in its logs when it fails:
[code]

## Steps to Reproduce (fo

[2021-04-08 16:08] uipo78 commented on #1151
Part of me suspected network failures to be the root cause of this problem, given this bug's random behavior, but I wouldn't've expected seeing a 404 if that were the case.

[2021-04-10 16:34] NickMeves commented on #1151
This looks like an issue with your Keycloak OIDC issuer here:

[code]

Under the hood, this uses `go-oidc` as the OIDC token verifier.  It will make a request to the OIDC discovery document (at `/.well-known/openidc-configuration`.  Then it will look up the `jwks_uri` field in that JSON and request the JWKS public keys to validate the token.

I'm guessing there's something not stable at the `jwks_

[2021-04-10 16:39] NickMeves commented on #1148
It isn't the default setting right?

This was only intended as a shim for Azure uses who couldn't/wouldn't use the Redis session store to fix the 8K session size problem until we refactored session encoding & compression here: https://github.com/oauth2-proxy/oauth2-proxy/pull/632

I think that fixed the issue for most Azure users, but some might still have large sessions.

[2021-04-10 16:40] NickMeves commented on #1148
We have our eye on dynamic claims -> sessions in the near future. This would be a good spot to support that as well 👍

[2021-04-10 16:44] NickMeves commented on #1151
FYI The existing Keycloak provider is dated and has a lot of issues. I recommend you use the OIDC provider until this PR is ready: https://github.com/oauth2-proxy/oauth2-proxy/pull/1107

[2021-04-10 19:38] NickMeves commented on #1150
Yup!

Check out the end of this article I wrote: https://medium.com/in-the-weeds/service-to-service-authentication-on-kubernetes-94dcb8216cdc

It goes into how to do it for service-to-service auth.  I've used the exact same architecture with CLI tools that use PKSE to get an OIDC ID Token to authenticate via Bearer headers with APIs.

[2021-04-12 00:38] #1006 closed

[2021-04-12 08:21] eXeDK commented on #844
Any news on this @FStelzer ? We are also running into this when trying to but rabbitmq behind oauth2-proxy

[2021-04-12 11:41] maxbischoff opened #1152 "--insecure-oidc-allow-unverified-email does not apply to JWT Bearer token auth"
When configuring JWT bearer token authentication with the `--skip-jwt-bearer-tokens` and turning off email-Validation with `--insecure-oidc-allow-unverified-email`, tokens with unverified emails cause an `email in id_token <email> isn't verified` error.

## Expected Behavior

The documentation text for `--insecure-oidc-allow-unverified-email` causes me to expect the unverified email to be ignored

[2021-04-12 11:54] tbabik commented on #843
Hi,

perhaps I missed it, but since 7.x is out - is it possible to configure the access token to be used as authorization bearer token?
From what I've seen in the configuration documentation of 7.1 it does not seem to be the case .. yet?

Currently I'm still on 6.x and I'm switching my Javascript Frontend to use MSAL v.2which sends the access token in the authorization bearer to my API calls, whic

[2021-04-12 11:56] FStelzer commented on #844
just updated my pull request with the new config changes. if these are ok i can add at least the global setting of passing the raw path easily. setting it per upstream requires a larger change of changing the mux and also upstream mux changes.

[2021-04-12 14:43] truong-hua opened #1153 "Allow to set custom public port to form the redirectURL"
The auto generated redirectURL here does not work in case that the public port is not a default one (80 or 443)

## Expected Behavior

Public port should be configurable via an parameter or env, ex: --public-port=1443

- Version used: oauth2-proxy  (built with go1.15.5)

[2021-04-12 19:50] uipo78 commented on #1151
Sounds good

[2021-04-12 19:50] #1151 closed

[2021-04-13 09:56] mark-nexplore opened #1154 "Proper syntax of using --skip-auth-route"
Hi,

I am trying to get `--skip-auth-route` working but hitting some bumps so hoping can get some advice.

The issue I am facing is there I have a routes:
- ^\/test\/?(.*)  in my ingress that needs to be authenticated ; but
- I do not want request going ^/test/no_auth\/?(.*) pass through authentication

So I tried to use `--skip-auth-route` with `^/test/no_auth\/.*` but it is different direct to t

[2021-04-13 10:56] eXeDK commented on #844
@FStelzer do you see any synergy with https://github.com/oauth2-proxy/oauth2-proxy/pull/1128 ?

[2021-04-13 12:16] lathspell opened #1155 "Provide darwin-amd64 docker images"
Please provide docker images for "darwin-amd64" as used on Apple MacBooks.

Currently https://quay.io/repository/oauth2-proxy/oauth2-proxy?tag=latest&tab=tags ony lists "linux-amd64" and some ARM variants.

It would be handy for testing the image locally using "docker-compose".

[2021-04-13 12:24] JoelSpeed commented on #1155
AFAIK docker for mac uses a linux VM under the hood (I do most of my dev on mac), so it should be fine to use the linux-amd64 images on mac

[2021-04-13 13:22] lathspell commented on #1155
Oh, indeed. I didn't even try because it seemed to impossible :-)

[2021-04-13 13:22] #1155 closed

[2021-04-13 17:03] JindrichD opened #1156 "Session idle timeout when used together with keycloak"
I am using oauth2-proxy together with keycloak for authenticating users. everything is hidden behind nginx. I would like to achieve a behavior when user that is logged in, gets logged out when there is no activity.
The typical usecase is that user get logged in, receive _oauth2_proxy cookie from oauth2-proxy, then he works with web applications that are protected by the nginx. and then he stops wo

[2021-04-13 19:15] johanfleury opened #1157 "Setting `--htpasswd-user-group=<groupname>` doesn’t work when using GitLab as provider"
## Current Behavior

In version 7, I found myself unable to use htpasswd authentication when also using GitLab and restricting access to members of specific groups (with the `--gitlab-group` flags). oauth2-proxy raises the following errors:

[code]

The `--htpasswd-user-group` flag seemed to be what I was looking for, but setting it as `--htpasswd-user-group=<groupname>` didn’t work and I had to p

[2021-04-14 07:02] mvalenzisi commented on #1144
I had the same issue and I solved it using `--oidc-email-claim=sub`.

However, it fails to refresh the cookie with the following error:
[code]

[2021-04-14 09:54] #1156 closed

[2021-04-14 12:38] geekhckr commented on #490
From the logs it looks like for each request that are sent by the browser oauth2-proxy is trying to refresh the token. Because each request sends same cookie and oauth2-proxy simply check expiry of the token and cookie refresh period and starts refreshing the cookie, it doesn't know that another request (go routine) is already in progress of doing refresh for the same cookie.

This issue is more e

[2021-04-14 16:06] NickMeves commented on #1157
Good catch!

I intend to migrate the GitLab provider to be based on OIDC and remove its custom behavior where groups is prefixed by `groups:` and standardize that any role-like structure actually called groups doesn't get the prefix (e.g. project, role, etc)

[2021-04-14 16:10] NickMeves commented on #1157
CC: @JoelSpeed Any objections to changing this convention where things with multiple group-like structures only prefix with their specialized name? While `group` actually just goes in `session.Groups` without a prefix?

Makes inheriting from the OIDC provider much more standard and clean in the future (and rides its functionality that doesn't prefix group claims).

Gitlab was the only provider we

[2021-04-14 16:15] NickMeves commented on #1154
Implementation wise, it's just an array of regexes where if any match the path in the request, auth is skipped.  Here's the implementation if that helps you debug:

https://github.com/oauth2-proxy/oauth2-proxy/blob/42475c28f7f235c08777a24027fe8ec170763482/oauthproxy.go#L386

[2021-04-14 16:29] NickMeves commented on #1153
Which redirect URL -- the redirect in the OAuth flow to the callback endpoint or the final redirect to the original URL?

If its the OAuth callback URL -- that can be set explicitly with `--redirect-url`

[2021-04-14 21:15] breedjaram opened #1158 "One Oauth2 proxy for multiple site"
I have a working oauth2-proxy connected to keycloak. Authentication works without a problem but does not behave as expected.

## Current Behavior

Is it possible using one Oauth2-proxy for two separate website (two nginx ingress)?
Currently if I log in to site1.example.com so  I have pass access to site2.example.com too!

## Expected Behavior

Is it possible to split access to site1.example.com an

[2021-04-14 23:42] NickMeves commented on #1158
You can give this a shot: https://oauth2-proxy.github.io/oauth2-proxy/docs/configuration/overview/#upstreams-configuration

Another architecture is using the subrequest auth pattern in nginx. Here's an tutorial on doing that in kubernetes: https://kubernetes.github.io/ingress-nginx/examples/auth/oauth-external-auth/

I use this in my company to protect all our internal applications with a single c

[2021-04-14 23:46] NickMeves commented on #1152
Our documentation admittedly needs some love 😅

You are correct, any provider based settings only apply to the main provider.

Any extra OIDC bearer verifiers added with `extra-jwt-issuers` don't use those and use a generic implementation. Long term, when we roll out structured configs, we want to make the bearer verifier list a list of full providers that can take in full options.

Which provider

[2021-04-15 04:59] geekhckr commented on #490
I think this PR https://github.com/oauth2-proxy/oauth2-proxy/pull/1063 can fix this issue

[2021-04-15 06:45] maxbischoff commented on #1152
We are currently using the keycloak provider. I can try to exchange it for the OIDC Provider and see if that fixes the issue.

[2021-04-15 10:38] lathspell opened #1159 "Typo in cli argument: "--exclude-logging-path" vs "exclude_logging_paths""
According to https://oauth2-proxy.github.io/oauth2-proxy/docs/configuration/overview the setting is called "exclude_logging_paths" (plural) but the CLI only accepts "--exclude-logging-path" (singular). The former seems right as more than one path can be specified.

Tested with Docker Image v7.1.2.

[2021-04-15 10:41] JoelSpeed commented on #1159
There is a note at the top of our docs that explains the precedence here:

When arguments can be specified multiple times, the command line is deliberately singular as per convention in this project.

[2021-04-15 12:35] lathspell commented on #1159
That would make sense if I had to specifiy "--exclude-logging-path=/foo --exlclude-logging-path=/bar" on the CLI but it currently accepts multiple paths on one cli argument so shouldn't it be named with plural-s?
Anyway, just wanted to point out that it's irritating. Close if you want.

[2021-04-15 12:39] JoelSpeed commented on #1159
That's an artifact of a change to the flag parsing library. Originally you had to specify individual values multiple times, now you can do either comma separated or multiple times. We chose not to make the breaking change to all the flag names as we are trying to move away from flag based config and move instead towards structured configuration files.

We aren't going to make any changes to these

[2021-04-15 12:39] #1159 closed

[2021-04-15 15:51] NickMeves commented on #1152
We are looking to deprecate the Keycloak provider in favor of this in the future: https://github.com/oauth2-proxy/oauth2-proxy/pull/1107

In the meantime, since Keycloak is fully OIDC compliant -- the OIDC provider has much more features than the barebones Keycloak OAuth provider.

[2021-04-15 20:29] breedjaram commented on #1158
Restrict via nginx ingress works fine but how to define correctly allowed_groups parameter for nginx ingress?
Allowed groups should be defined in ingress?

When I define the ,,--allowed-group=group1,, parameter in central Oauth2-proxy so this configuration is valid for all nginx ingress. (which I don't want)

The solution of this problem is to define allowed_groups in ingress? For site1 site2 site

[2021-04-16 00:34] #932 closed

[2021-04-16 01:12] NickMeves commented on #1158
For the `auth-url` annotation, its an optional querystring parameter:

[code]

[2021-04-16 07:32] lathspell commented on #237
Can this be reopened? As "first in the request chain", oauth2-proxy would be the best place to initially generate a tracing id.
It would even be ok to just generate it, if it is not present and do no further handling like creating spans etc.

It seems to me that there is even a (transitive) dependency to opentracing already present (I'm no go expert but that's how I interpret this:
[code]

[2021-04-16 10:28] ovidiubuligan commented on #1150
@NickMeves  I have forked an existing jwt validator project for now .I added JWKS endpoint support (it used hardcoded certs in config) and regex validation for claims . I can then set different claim rules on the k8s ingresses .For now it might be enough .

I have read the whole article . Thank you , it was very insightful. I have a small question about the article . Isn't everything from your art

[2021-04-16 12:09] breedjaram commented on #1158
Great this parameter in ingress works. That's exactly what I need.

Many thanks @NickMeves

[2021-04-16 12:09] #1158 closed

[2021-04-16 15:35] NickMeves commented on #1150
Istio can potentially do it all if you only care about machine-to-machine I think (I need to dig into Istio more)

The big advantage of OAuth2 Proxy for us was it could be the 1 sidecar to handle human SSO flows, machines & human CLI apps all in 1 -- while providing a common subject (either actual JWT or `X-Forwarded-User` header) to backend applications to perform universal authorization logic ac

[2021-04-17 19:28] craftbyte commented on #1033
Should we close this issue in favor of #956 or keep it open?

[2021-04-19 00:36] #962 closed

[2021-04-19 10:03] lathspell opened #1160 "Feature request: Support for OpenTracing"
## Expected Behavior

Please add support for OpenTracing.

Also see previously closed tickets #1076 and #237

## Current Behavior

No support.

## Possible Solution

Please note that supporting the creation and forwarding of the uber-trace-id alone would be beneficial.
That should be very simple to implement. The export of the trace or generating own spans would be nice to have but not necessary.

[2021-04-20 00:37] #1030 closed

[2021-04-20 03:44] thapabishwa commented on #1123
Hi @JoelSpeed , in my case I have to send a payload to a specific api endpoint.

[2021-04-20 06:26] Rahul1804 opened #1161 "Can't find data in Redis, Even after providing config, Browser Cookie is used for session store"
I'm using "quay.io/oauth2-proxy/oauth2-proxy:latest" image in kubernetes 1.8.6 along with Istio-1.9.2. Keycloak is OIDC provider. I've used redis session store type , still I see session is getting stored in browser cookie, in redis I can't see any data. Please help me to fix this. Below is my Oauth2-Proxy setup.

apiVersion: v1
kind: Namespace
metadata:
  name: oauth2-proxy
---
apiVersion: v1
kin

[2021-04-20 06:45] codablock commented on #1144
I started re-exploring the current Azure AD support through the generic oidc provider yesterday and I can confirm what @LouisStAmour said, as it seems to offer everything that is needed (and more, e.g. groups verification). I only managed to make it work with v2 tokens however.

I gave up on v1 pretty early, so can't say much about chance of success, the only thing I know for sure is that v1 would

[2021-04-20 06:48] Rahul1804 commented on #1161
@NickMeves : Hey Nick, could you please help me out or redirect me somewhere, I could not find much why this is not working.

[2021-04-20 09:09] lathspell opened #1162 "Feature Request: authorization by checking realm or client specific roles"
## Expected Behavior

It should be possible to restrict access to certain resources with access control lists that are based on OAuth2 roles.
The roles should be extracted from both, "realm_access.roles" as well as "resource_access.$client.roles".

## Current Behavior

Access restrictions are only possible using groups but a common design is that groups are only used inside the OAuth2 server (e.g.

[2021-04-20 12:32] lathspell commented on #1160
I got something working that does the trick for me. It's not meant as a merge request as I'm no real Go programmer but just hacked something together but it creates an OpenTracing Id for Request-Id, inserts it into the upstream header and even reports it to the Jaeger Server.

It's a diff and not a Github clone, sorry for that but it's only 135 lines long:

[code]

[2021-04-20 17:56] JoelSpeed commented on #1161
Hey @Rahul1804, when you see the sessions still being created as cookies, could you confirm their approximate size?
Even with Redis storage, we still use a cookie to track the session, but instead of storing the session data, we just store the id of the session ticket. So if you were to switch from cookies to redis for the storage, you will still see cookies, but the size would drop from ~1000-400

[2021-04-20 17:58] JoelSpeed commented on #1153
I just wanted to add that this _should_ be set explicitly. In a future version we may require that it be set and remove the defaulting that we do today (it is a convenience after all)

[2021-04-20 17:59] Rahul1804 commented on #1161
Hey @JoelSpeed, thank you for reply. It's same data in cookie even after using redis, the cookie data has not changed. If I do SCAN 0 or KEYS * in redis-cli I can't see any data.

[2021-04-20 18:01] Rahul1804 commented on #1161
And I verified the cookie remains same. My redis service is reachable to oauth2-proxy pod.

[2021-04-20 18:03] JoelSpeed commented on #1161
I haven't tried out the redis storage or any of this logic recently, and we don't have a local testing environment for redis either (that's going on my TODO list), so I can't easily check.

Is there anything in the logging of OAuth2 Proxy that my suggest whether it is even attempting to connect to redis?

[2021-04-20 18:05] Rahul1804 commented on #1161
Only thing which I tested if I pass wrong redis url, the pod doesn't start and gives me error. If the url is fine below is the log

# kubectl logs oauth2-proxy-565cf8dff-w9k57 -n oauth2-proxy
[2021/04/20 16:54:06] [proxy.go:58] mapping path "/" => static response 200
[2021/04/20 16:54:06] [oauthproxy.go:149] OAuthProxy configured for Keycloak Client ID: testclient
[2021/04/20 16:54:06] [oauthproxy

[2021-04-20 18:13] NickMeves commented on #1161
He means bytes, not KB 😄

4,000 KB would be one crazy cookie. If you are truly getting cookie session stores, they are larger, about 1-4KB like @JoelSpeed mentioned.

If you have a Redis session, the cookie is set to `<16 byte ID>.<32? byte Base64 secret>|timestamp|<sha256 of this cookie payload>`

[2021-04-20 18:16] NickMeves commented on #1161
Oh - you might want to try adding the redis DB number explicitly to your URL? Maybe that's what's missing:

`- --redis-connection-url=redis://redis-master.redis.svc.cluster.local:6379/0`

I don't know if that is mandatory of it that already defaults to DB 0.

[2021-04-20 18:16] Rahul1804 commented on #1161
@NickMeves And redis will store the actual session data and browser cookie will have {CookieName}-{ticketID}.{secret} this thing only.

[2021-04-20 18:17] NickMeves commented on #1161
Yeah - Redis will store the `SessionState` - encrypted in Redis with the `{secret}` part of the cookie. It will be stored in `{ticketID}` (likely with some prefix I can't recall) as the KEY in Redis.

[2021-04-20 18:17] Rahul1804 commented on #1161
I tried DB number as well. By default it will be consider 0.

[2021-04-20 18:19] NickMeves commented on #1161
And no errors emitted from Oauth2-Proxy but you get a valid Redis type session cookie? But I take it sessions aren't working, or they are?

And no auth on Redis?

[2021-04-20 18:22] Rahul1804 commented on #1161
Yes, while testing [stored_session.go:76] Error loading cookied session: http: named cookie not present, removing session I saw this but there is a thread where you have mention that it's default behavior?
Yes, no auth on redis.

[2021-04-20 18:24] Rahul1804 commented on #1161
This one https://github.com/oauth2-proxy/oauth2-proxy/issues/998

[2021-04-20 18:30] Rahul1804 commented on #1161
I can see actual session data in browser only, even if I use redis storage. Is there any limit on size of session if it's greater than x byte otherwise store in browser client. I could not find this in code though.

[2021-04-20 18:32] NickMeves commented on #1161
No - if you say type: Redis (and it seems like you do if you get errors if you try an invalid URL). We use Redis, we don't fallback to cookie sessions (cookie sessions have more limitations because web servers cap out at 8KB request headers).

It seems like you need to `tcpdump` that proxy:redis interaction to see what is going wrong if nothing is emitted from the logs.

[2021-04-20 18:36] Rahul1804 commented on #1161
Yes, from logs, I could not find anything.

This is only error in oauth2-proxy pod - Is it removing the data from redis.?
[stored_session.go:76] Error loading cookied session: http: named cookie not present, removing session

[2021-04-20 21:10] truong-hua commented on #1153
I think it would be better for both. The --redirect-url is my current solution but it's likely a long way to reach the end result with a lot of risks and efforts.

In order to make a static --redirect-url to work with multiple domains we have to understand nginx config and adjust X-Auth-Request-Redirect. Then, we have to config a static final redirect url without using ENV or dynamic config elsewh

[2021-04-20 23:29] NickMeves commented on #1161
It looks like in your configuration you are doing HTTP and not HTTPS from the details you sent above?

You have `secure` cookies set:
[code]

Hence no session cookies sent with your requests (`http: named cookie not preset` part of the error) if that is the case.

This would also likely make the CSRF cookies during the initial signon flow fail (so you never get to the point where a session would b

[2021-04-20 23:38] NickMeves commented on #1162
I think I'm working this here: https://github.com/oauth2-proxy/oauth2-proxy/pull/1107

Let me know if it covers what you need.

[2021-04-20 23:42] NickMeves commented on #1160
Yes! +1

@JoelSpeed and I definitely want support for tracing in the project at some point.

Neither of us has subject matter expertise in the space though, so we were looking for someone in the community with expertise on OpenTelemetry to guide the way as far as implementation & instrumentation best practices.

OpenTracing has merged into OpenTelemetry now, right?

[2021-04-21 00:12] edijsdrezovs commented on #926
Looking forward to try it out

[2021-04-21 04:03] paddy-hack commented on #336
Looks like issue #635 and PR #645 address this.

[2021-04-21 04:54] puneetbabbar26 opened #1163 "Metric server startup just on HTTP complains about lack of TLS Config"
I have tried this on release 7.1.2, using docker, bypassing in the configuration as environment variables.

## Expected Behavior

Going by the configuration, the Metrics server should start as configured just by specifying the following configuration-
OAUTH2_PROXY_METRICS_ADDRESS=":4280"

## Current Behavior

**The start of the OAUTH2_PROXY fails with the following error -**
[2021/04/21 04:18:44]

[2021-04-21 09:33] #966 closed

[2021-04-21 12:31] rassie commented on #979
@NickMeves I assume this will probably be fixed with #1128 too?

[2021-04-21 14:52] scarolac opened #1164 "auth_request settings confusion"
Our company is testing oauth2-proxy and we are trying to set it up to work with keycloak and pass the jwt along to the upstreams. Currently we have a frontend and backend running separately. When using oauth2-proxy in proxy mode, we can log in, get redirected correctly, and the backend has access to the bearer token to pull user data from, and log out with the keycloak signout address.

We wanted

[2021-04-21 17:22] JoelSpeed commented on #1134
The library that I suggested supports the categories idea you've suggested. You can specify a particular module (sub package) and set its log level higher explicitly if you want to.

[2021-04-21 17:48] JoelSpeed commented on #843
If you are willing to use the alpha configuration that is largely undocumented, and potentially going to change in the future. Then yes you can do this, you'll need to do something like
[code]

[2021-04-22 02:00] NickMeves commented on #1164
The Keycloak provider is rather old and we are working on replacing it: https://github.com/oauth2-proxy/oauth2-proxy/issues/956

It only supports OAuth2 (not OIDC). So there's no IDToken to return in your `Authorization` header. That is my guess why you aren't getting a token back.

Until I find time to wrap up this PR (https://github.com/oauth2-proxy/oauth2-proxy/pull/1107), you should connect to

[2021-04-22 02:10] NickMeves commented on #1163
Interesting - you are failing here: https://github.com/oauth2-proxy/oauth2-proxy/blob/7eeaea0b3f563c7e14f213e47dfda82b40f3fca1/pkg/http/server.go#L88

I thought those settings where set to `""` by default, equivalent to the `"-"` you are manually settings. @JoelSpeed & I will dig in.

[2021-04-22 02:18] puneetbabbar26 commented on #1163
I looked at the code too, and thought it shouldn't happen, but I guess something else is happening while the configuration is mapped

[2021-04-22 02:56] scarolac commented on #1164
We didn't use the keycloak provider. We have it on oidc. This isn't a provider issue, this is a JWT passes in proxy mode, but not in nginx auth_request mode issue. We're trying to prevent "/" from being intercepted by the auth but still have something like "/admin" get picked up. If you skip "/" in proxy mode, it skips everything, so we did it in auth_request mode. It works, but now there is no JW

[2021-04-22 07:34] gregmuellegger opened #1165 "OIDC provider does not recognize array of "emails" in token"
## Expected Behavior

I try to integrate oauth2-proxy with Azure AD B2C. [This Stackoverflow Question](https://stackoverflow.com/questions/61148502/how-can-i-debug-oauth2-proxy-when-connecting-to-azure-b2c) was super helpful in that regard.

However I reached the point where I get back the following contents from the token:

[code]
(decoded with https://jwt.ms/)

But oauth2-proxy logs:

[code]

So

[2021-04-22 08:20] Rahul1804 commented on #1161
Hey @NickMeves @JoelSpeed do you guys have any oauth2-proxy design document or any document which can help me to understand it more.

[2021-04-22 14:58] scarolac commented on #1164
Here are the configs we were trying. In the nginx.conf and oauth2-proxy.cfg you can see the commented out items that were turned on and off trying to get the token to come through in this way. When Oauth2-proxy is on top feeding into nginx it works with the JWT, when reversed with nginx on top feeding into oauth2-proxy as auth_request, no JWT :(

docker-compose.yml
[code]
nginx.conf
[code]
oauth2-

[2021-04-22 16:20] Rahul1804 commented on #1161
Thank you Nick and Joel, I was able to solve the issue. But I want understand one more thing. If I want to get Authorization header(JWT Token) to application container. How should I do that.
Keycloak -> Oauth2-Proxy(JWT Token) -> Envoy(JWT Token) -> Application(It has JWT token in request header).

PS: I'm using OIDC provider(- --provider=oidc) now instead of Keycloak.

I'm sorry for too many ques

[2021-04-22 18:11] NickMeves commented on #1163
@JoelSpeed spotted this issue -- we have a typo in the `cfg` variant of the flag.

https://github.com/oauth2-proxy/oauth2-proxy/blob/7eeaea0b3f563c7e14f213e47dfda82b40f3fca1/pkg/apis/options/legacy_options.go#L445

Environment variable configs are generated from the `cfg` name.

[2021-04-22 18:17] NickMeves commented on #1161
https://oauth2-proxy.github.io/oauth2-proxy/docs/configuration/overview/

`--pass-authorization-header` is likely what you want.

[2021-04-22 22:38] scarolac commented on #1164
After logging in, hitting /oauth2/auth shows the full bearer token with the correct data inside. I figured it was an nginx setting anyway since I have no idea what it would be, you can see all my commented out items. That was me turning things on and off in various places to see what happened.

[2021-04-23 07:31] lathspell commented on #856
A quick and dirty but at least minimal invasive hack that also refreshes the OIDC Token 30s before expiration. Forked from 2021-04-03 master:

[code]

[2021-04-23 10:48] MNF commented on #595
@scaamanho , can you share some code snippet or ,if possible, repository fork that illustrates, how you implemented redirect?

[2021-04-23 13:25] knightian opened #1166 "Sending Basic Auth to Upstream"
Hello,

From the documentation it is not obvious how to send the basic http auth credentials to upstream.

I can see the `--basic-auth-password` that says it takes a string, but what sort of string? Base64 encoded string?

Also I can't seem to find anywhere to put the username. So for e.g. if I would normally access by https://user:password@mydomain.com then how do I do this in oauth2-proxy?

[2021-04-23 13:43] jmarginier opened #1167 "Add possibility to configure the browser redirect auth URL"
When I use Kubernetes, I want to do that :

- INGRESS (example.com) -> oauth2proxy-svc -> webapp-svc (the upstream)
- INGRESS (auth.example.com)-> keycloak-svc

*-svc => ClusterIp service
All components are inside the same Kubernetes cluster (same namespace too in fact).

My config map  (with alpha for inject headers) for the oauth2proxy :
[code]
[code]

The "oidc_issuer_url" cause a problem becau

[2021-04-24 00:08] braunsonm commented on #961
Can the bot ignore issues?

[2021-04-24 17:35] JoelSpeed commented on #842
This is now implemented with our alpha configuration

[2021-04-24 17:35] #842 closed

[2021-04-24 17:57] JoelSpeed commented on #1157
What is the intention here? So that a project would prefix but a group wouldn't? I think that possibly makes it confusing when you are using that particular provider does it not?

[2021-04-24 18:02] JoelSpeed commented on #1033
I think we may want to add a short term fix of mentioning within the documentation that users need to set the scope, if that's already done, then we can go ahead and close this

[2021-04-24 18:04] JoelSpeed commented on #1123
We don't have any way to send a request to a backend like this. If your application also supports some sort of authentication headers, we can help you set those up, but otherwise this isn't something we support and in this particular case, I'd lean towards we probably don't want to support it either. Trusting headers from a previous authentication system is pretty standard in my experience at leas

[2021-04-24 21:01] #1167 closed

[2021-04-26 00:07] #1000 closed

[2021-04-26 08:54] pierluigilenoci commented on #856
@NickMeves any news about this?

[2021-04-26 14:57] NickMeves commented on #856
I have a draft PR started, but I will be slow. Job commitments at the moment are drastically limiting the time I have to work on OAuth2 Proxy.

[2021-04-26 15:04] pierluigilenoci commented on #856
@NickMeves thanks anyway! ❤️

[2021-04-27 12:46] janosi opened #1169 "Second, third, etc. query parameters are dropped"
## Expected Behavior

If a client sends the original request as `/path?key=value&key2=value2`the same request should arrive to the backend service.

## Current Behavior

If the client sends the original request as `/path?key=value&key2=value2`only the first `key=value` query parameter arrives to the backend service after the authentication.

The problem is, that OAuth2-Proxy constructs the `state`

[2021-04-27 17:18] NickMeves commented on #1169
What Provider + IdP are you using? We've had this bug reported once before and it ended up being an issue with the IdP.

If I recall, the state/nonce formatting our codebase is the same format Google/Okta etc have in their sample OAuth2 implementation code guides.

[2021-04-27 17:24] qkflies commented on #1169
I've noticed a similar issue, too, using the OIDC provider and Keycloak.

Some request URLs contain a hash (e.g. `/#here`), and they get stripped only when going through the authentication flow. This occurred with v6.1.1, and also the latest v7.1.2, if I recall correctly.

[2021-04-27 17:32] JoelSpeed commented on #1169
If a request contains a hash, then anything following it is referred to as the "fragment". As part of the HTTP spec, fragments are not sent as part of the request. Therefore, anything after the hash is never sent to OAuth2 Proxy.

Given it does not know what's in the hash, it can't restore it after the redirection flow.

With that said, I'm not sure that this issue is being broken by it being a fr

[2021-04-27 18:44] janosi commented on #1169
@NickMeves I use IBM Cloud App ID as OIDC provider, and the Kubernetes Ingress controller that uses the OAuth2-Proxy via nginx sub-requests.

The request that comes has literally the query `?key=value&key2=value2` I tested it with that query in the URI. There is no hash in the URI.

The reason is really here https://github.com/oauth2-proxy/oauth2-proxy/blob/7eeaea0b3f563c7e14f213e47dfda82b40f3fca1

[2021-04-27 19:07] ThomasLohmann opened #1170 "OAuth2 Proxy vs Pomerium"
Hi everyone,

we have a Kubernetes cluster + Istio Gateway and we want to secure some routes via GitLab Auth/Login e.g. subdomain.example.com (it should only be accessible to specific users via GitLab credentials). We are currently comparing OAuth2 Proxy vs Pomerium and try to understand what are the benefits of OAuth2 Proxy compared to Pomerium. Please, can you tell us some benefits? Also as far

[2021-04-27 21:46] NickMeves commented on #1169
That code snippet is new in master, it isn't in v6.1.1.

But your IdP is supposed to be encoding embedded `?`, `&` if they are a value field in a querystring parameter. If I recall, IdPs that don't do that correctly on sending back the `state` parameter per the OAuth2 spec have this bug.

Other OIDC/OAuth providers don't have this bug. I just tested myself with OneLogin OIDC and it encodes the URL

[2021-04-27 21:50] NickMeves commented on #1169
If you are in the slack, this question came up with ADFS, it has the same implementation bug: https://gophers.slack.com/archives/CM2RSS25N/p1613672290052200

Which I think for ADFS, that contributor is forcing this in their PR to account for that implementation bug by ADFS for OIDC: https://github.com/oauth2-proxy/oauth2-proxy/pull/1021/files#diff-a803b5cc86a6da0f825513c80b501431ae2d42b5bbb06775a1

[2021-04-27 21:54] NickMeves commented on #1169
@JoelSpeed If this implementation bug on IdP side is a non-trivial amount:

Should we encode the redirect URL portion of the `state` (currently `nonce:url`) to better account for IdPs that suck and don't properly encoded querystring value contents?

[2021-04-27 22:15] NickMeves commented on #1169
More accurately... should we double encoded, because we are already encoding these values appropriately when we send the original `state` querystring parameter on the original authorization endpoint request that kicks off the OAuth2 flow by nature of using `params.Encode()` in our `makeLoginURL` implementation.

Per spec, we are supposed to get EXACTLY that back from the IdPs (which would avoid th

[2021-04-27 22:25] NickMeves commented on #1169
Using `base64` in our `encodeState` and `decodeState` is the best guaranteed reversible encoding I can think of without having to deal with whether the underlying IdP supports url-encoding properly or not (and it will have no collisions with risky &? characters).

Downside is using that will expand the size by 33%. That would create problems for URL paths that are already close to the maximum leng

[2021-04-28 06:25] janosi commented on #1169
Indeed, my fault. This is how it looks like in v6.1.1
https://github.com/oauth2-proxy/oauth2-proxy/blob/e4e5580852dcc8a45cc5c552243416f7a6ae0368/oauthproxy.go#L781

[2021-04-28 06:30] janosi commented on #1169
I am in slack, but unfortunately I am not a member of that workspace.

[2021-04-28 15:55] NickMeves commented on #1165
As a temporary workaround, you might need to point at another claim for the email with `--oidc-email-claim` to get a singleton claim to act as your makeshift `session.Email`.

I've had to do this and point at `sub` for machine tokens that don't have an `email` claim.

We'll need to see what the ecosystem is for this claim and how widespread the potential is for array email claims -- hadn't heard o

[2021-04-28 15:56] NickMeves commented on #1165
Oh! Its `emails` - OK, not breaking the spec, just missing `email`.

I think you'll just need to point at another claim as a shim.

[2021-04-28 15:59] NickMeves commented on #1169
@janosi You should also report this bug to IBM Cloud since this is a bug on their end I think. (They aren't URL encoding the `state` parameter when they reflect it back after they URL decode it).

Not sure what good avenues we have to fix this without causing bugs for other use cases. I prefer to leave the identity provider that isn't following the spec correctly broken rather than fixing it here

[2021-04-28 17:26] janosi commented on #1169
@NickMeves Yep, I see your point.

[2021-04-28 18:38] Rahul1804 opened #1173 "JWT Token is not coming to Backend app only Encrypted Cookie I can see"
Hi @JoelSpeed ,

I trying to use Oauth2-Proxy and KEYCLOAK OIDC with Istio+Kubernetes to provide AuthN/AuthZ to backend app. Now backend app expect Authorization header(JWT Token) , and backend app is not getting that.

Below is my config for Oauth2-Proxy deployment

apiVersion: apps/v1
kind: Deployment
metadata:
  name: oauth2-proxy
  namespace: oauth2-proxy
spec:
  selector:
    matchLabels:

[2021-04-29 00:06] #1046 closed

[2021-04-29 00:06] #1012 closed

[2021-04-29 06:09] Rahul1804 commented on #1173
If I just test Oauth2-Proxy and Keycloak, I'm getting authorization header in response header. Not sure why it's not reaching to backend application pod(app container + envoy sidecar container). Could you please help me to point me somewhere to debug it. Thank you !!

CC : @JoelSpeed @NickMeves

[2021-04-29 06:40] iTaybb opened #1174 "Add ability to connect to oidc provider with mTLS"
Currently, when trying to use an oidc provider which is enforcing mTLS, oauth2-proxy crashes.

## Expected Behavior

oauth2-proxy should authenticate with the provider with TLS certificates, if provided.

## Current Behavior

oauth2-proxy does not authenticate with the provider with TLS certificates.

## Possible Solution

add --provider-tls-cert and --provider-tls-key flags

## Your Environment

[2021-04-29 07:09] holyjak commented on #1173
Ok, so it seems the problem is not in oauth2-proxy but in your environment, right? I would suspect that something that sits between the proxy and your pod drops the headers and needs to be configured to pass them along. What, I have no idea.

[2021-04-29 07:17] Rahul1804 commented on #1173
Yes, EnvoyFilter and we can configure which headers it should pass to backend app (app container in my case).  I've mentioned authorization header in the config to be passed to the backend app. I've invested couple of days now, still it's not working :(

[2021-04-29 10:06] Rahul1804 commented on #1173
Hey @holyjak  How can I make sure that Oauth2-Proxy is send authorization header to envoy proxy before it reaches to actual  backend app.??

[2021-04-29 13:15] gboor commented on #834
Is there an issue I can track for adhoc claims? I'm running into this limitation now with injectRequestHeaders as well, which seems limited to the handful of things in the session instead of all claims.

[2021-04-29 20:19] NickMeves commented on #1174
Can you provide more details on which OIDC vendor you are using and link to their documentation for this feature?

[2021-04-29 20:43] NickMeves commented on #1173
Last time I did this with a K8s Ingress via Nginx subrequests to `/oauth2/auth` I had no issues getting response headers and forwarding them to the backend as X-Auth-Request-* headers. It's admittedly been a while though (I think 6.1.1) since I last tried.

I recommend you play with local environments using the `contrib` part of the project to stand up some toy infrastructure. Remove `Envoy` from

[2021-04-30 00:03] #909 closed

[2021-04-30 00:55] azgaviperr opened #1175 "[bug] Unable to write log using docker"
I am setting up the logs option in 7.1.3 but oauth2-proxy fail to write in the file.

## Expected Behavior

Should be possible to write log files using docker environment

## Current Behavior

oauth2-proxy exited with code 1
oauth2-proxy    | [2021/04/30 00:53:40] [main.go:54] invalid configuration:
oauth2-proxy    |   unable to write to log file: logs.txt
## Possible Solution

## Steps to Reprodu

[2021-04-30 11:48] ianroberts commented on #1166
A plain string with the password that will be used for every user in the faked BASIC `Authorization` header.  I just use the word "password".

The way the "fake basic auth" mechanism works is to send a basic auth header with the username returned by the identity provider (i.e. the same value as in the `X-Forwarded-User` header), but with the same (fixed) password for all users.

[2021-04-30 11:57] azgaviperr commented on #1175
Yeah, found it 5 minutes ago that the process run under uid 2000.

Thanks anyway

My use case was to be able to send the data to a log pit.

[2021-04-30 11:57] #1175 closed

[2021-04-30 14:28] iTaybb commented on #1174
It is basically Keycloak with an NGINX in front of him that is enforcing mTLS.
I just figured this might not be a very common case. We're doing it since we're bound to some regulations of our clients.
If you believe this is not common, please feel free to close the issue.

10x

[2021-04-30 16:00] matthew-a-dunlap opened #1176 "Specify Upstream when using /oauth2/sign_in"
## Expected Behavior

Some way to choose the upstream after forcing sign in with `/oauth2/sign_in`.

## Current Behavior

Currently, `/oauth2/sign_in` sends the user to root upstream path, even if there is none.

## Possible Solution

Take any additional paths after `/oauth2/sign_in` and send the user there? For example `/oauth2/sign_in/tree` would send the users to whatever upstream is defined fo

[2021-04-30 16:24] matthew-a-dunlap commented on #1176
Never mind, I realized I can just use sign_out to do this. Sorry for the noise.

[2021-04-30 16:24] #1176 closed

[2021-04-30 20:30] iTaybb opened #1177 "Add support for subpath/subfolder in RedirectUrl"
oauth2-proxy should support cases where a website that is secured by oauth2-proxy is being served from a subpath (e.g. domain.com/subpath/).

## Expected Behavior

oauth2-proxy should be able to authenticate.

## Current Behavior

The endpoint "/oauth2/callback" will not work with subpaths, as path "/subpath/oauth2/callback" is not recognized by oauth2-proxy, causing an authentication failure.

##

[2021-05-01 10:33] JoelSpeed commented on #1177
Have you tried configuring the `proxy-prefix` option? You should be able to leverage this option to adjust which paths OAuth2 Proxy listens to

[2021-05-01 10:36] JoelSpeed commented on #1174
I think this is definitely a legitimate use case, though I'm not sure how common of a request it would be.

In the Kubernetes world for example, people often implement mTLS using service meshes which tend to handle the mTLS without the application needing to be aware.

Do we know how easy it is for the Go client to add certificates for authentication?

[2021-05-01 10:41] JoelSpeed commented on #1166
If you want to send a fixed header value for every authenticated user, you can do this using our alpha config which allows you to inject headers in a more flexible manner.

My advice would be to generate your static value:

[code]

And then use the alpha config:

[code]
This will then inject the header into every authenticated request

[2021-05-01 10:58] JoelSpeed commented on #1144
In general, where a provider is OIDC compatible, we are looking to deprecate the existing providers and either encourage people to use the OIDC provider directly or convert the existing providers to be extensions of the existing OIDC providers.

So I think documenting using Azure on the OIDC provider would be great

[2021-05-01 11:07] JoelSpeed commented on #1153
Perhaps I'm not following quite how you're trying to use OAuth2 Proxy, but we should be compatible with everything you are trying to achieve already.

When you configure your identity provider, you have to give them a URL or URLs which are allowed for the redirection when you've finished authentication with them. This is what we call the OAuth callback URL or `redirect-url`. This typically has to

[2021-05-01 11:11] JoelSpeed commented on #979
@rassie I think you're correct, #1128 will fix this issue

[2021-05-01 11:15] JoelSpeed commented on #1164
Have you got other headers working, eg the `X-Email` and `X-User` ones that you've set?

I wonder if there's a problem here with the Authorization token being too big to fit in a header, and therefore being dropped by nginx? (It is quite strict with the 4kb limit)

[2021-05-01 15:37] scarolac commented on #1164
I'm not sure, we only check for the bearer token, I just copied over the settings listed in the docs. We don't usually use nginx so we couldn't figure out how to grab a header from one endpoint and bring it to the others. I tried proxy_pass in different places but I'm not sure if I used it correctly. If I wanted that header in the /admin and /api paths, how do I get it there from the /oauth/auth p

[2021-05-02 00:51] macakmujo commented on #926
will this have cli support as well or only config files ?

[2021-05-02 08:57] iTaybb commented on #1177
Sorry. I missed this option. Thank you very much.

[2021-05-02 08:57] #1177 closed

[2021-05-02 09:19] iTaybb opened #1178 "ENV OAUTH2_PROXY_SHOW_DEBUG_ON_ERROR is not working"
The environment variable `OAUTH2_PROXY_SHOW_DEBUG_ON_ERROR` is not working.

## Expected Behavior

The environment variable `OAUTH2_PROXY_SHOW_DEBUG_ON_ERROR` should affect whether a detailed error is showed on the error page or not.

## Current Behavior

The environment variable `OAUTH2_PROXY_SHOW_DEBUG_ON_ERROR` has no effect, while the `--show-debug-on-error` command-line argument works as expe

[2021-05-03 00:05] #958 closed

[2021-05-03 00:05] #945 closed

[2021-05-03 09:58] lenalebt opened #1179 "OAuth2-Proxy does not properly use Upstreams configuration in k8s/istio"
I'm currently running OAuth2-Proxy inside a kubernetes cluster as a [knative](https://knative.dev/) service, which is in turn using [istio](https://istio.io/) underneath. Using the very same configuration locally in a docker container works; but I also get problems when I deploy this as a regular k8s deployment with istio injection disabled, which really bothers me as I had this running perfectly

[2021-05-03 13:18] lenalebt commented on #1179
This seems to have something to do with OAuth2-Proxy interpreting the Host-header of the request coming in. I did not expect it at all to use that one. This is what I can see (from within the pod, istio activated):

[code]

[2021-05-03 16:30] NickMeves commented on #1178
Yup! That's definitely the error -- good catch. Do you want to open a PR with a fix?

[2021-05-03 16:40] frittentheke commented on #1160
@NickMeves Thanks for considering to add tracing. With oauth2-proxy being a vital part a of request flow for one's own application, being able to facilitate tracing would great!

Yes, OpenTelemetry (https://github.com/open-telemetry/opentelemetry-go) is the way forward, since, as you have mentioned yourself, the projects OpenCensus and OpenTracing have merged or are actually still in the very acti

[2021-05-03 18:30] mjiderhamn commented on #888
Re-activate

[2021-05-04 08:22] 5w0ng opened #1180 "Oauth2-Proxy Helm and Okta config setup"
Whilst I have followed the guidance in the docs it somewhat feels incorrect but I can't say where for sure.  For context, I have installed oauth2-proxy via helm/terraform on aws eks.  I would like to leverage Okta's authentication in the first instance and leverage both okta and oauth2-proxy for authorization.

## Expected Behavior

I would like to configure the helm values to redirect an internal

[2021-05-04 08:32] gregmuellegger commented on #1165
Hi and thanks for the response. I agree that the use of `emails` is not super common, and using `--oidc-email-claim=oid` makes it work. However these feeled like a workaround and let me think that an addition for support of using `--oidc-email-claim=emails.0` might be worth adding, to support nested structures.

[2021-05-04 08:33] iTaybb commented on #1178
I did. Thanks

[2021-05-04 09:50] 5w0ng commented on #1180
Resolved issue by adding oidc issuer
 provider = "oidc"
    redirect_url = "xxxx"
    oidc_issuer_url = "xxxx"

[2021-05-04 09:50] #1180 closed

[2021-05-04 13:57] LordEvron opened #1182 "Use Oauth2-proxy with mobile apps"
Hi,

I Protected some upstream routes using:
  oauth2-proxy --> Keycloak --> Google

Everything works fine in the browser and I am able to login and access the upstream routes.
Now i want to do the same with Ionic App.
What is the suggested way to do that? There is any API in Oauth2-proxy that allows me to fetch the Access token that i can then pass along? In which Header should put it?  In the is

[2021-05-04 18:18] 5w0ng opened #1183 "How to configure correctly with helm/nginx?"
I've manage to install and configure Oauth2-Proxy on Kubernetes using Helm/Terraform, Nginx and trying to get authentication using Okta for Kubernetes-Dashboard.  Pretty bog standard deployment but for some reason I can't seem to rack my brains around the config!

## Expected Behavior

Navigate to kubernetes-dashboard url and for it to re-direct to our Okta login window, once authenticated be redi

[2021-05-05 05:49] htdat148 commented on #941
I followed this tutorial https://alex.thom.ae/2019/10/20/protect-website-oauth2_proxy-traefik/ and got the same issue. I am using the latest version, I tried your suggestion but It did not work for me. Here is the log from the container

[2021/05/05 05:45:15] [oauthproxy.go:142] OAuthProxy configured for Google Client ID: 309936706134-6mre34kidh10hncvohiu8mvre77171g5.apps.googleusercontent.com
[20

[2021-05-05 09:18] #1178 closed

[2021-05-05 10:13] lathspell opened #1185 "--skip-jwt-bearer-tokens should be called --pass-jwt-bearer-tokens"
I found the name of this option rather confusing. It sounds like if OAuth2-Proxy should skip i.e. drop incoming requests with an "Authorization: Bearer ..." header while it actually means that OAuth2-Proxy validates this token, creates a new Session for it and then gladly passes it on to the backend. It's exactly the one option one must enable if applications, that somehow got an e.g. client crede

[2021-05-05 16:23] Rahul1804 commented on #1173
Hey @NickMeves - Yes in my browser, if I hit http://base-rul/oauth2/auth. I can see authorization header with JWT token. But not sure why it's not coming for just http://base-url.

[2021-05-06 01:03] michael-freidgeim-webjet commented on #1081
re-activate the issue.

[2021-05-06 05:37] Rahul1804 commented on #1173
Hey @NickMeves I did try local setup

`curl -X GET "http://localhost:4180/get" -H "accept: application/json"`

response has not jwt token

[code]

[2021-05-06 09:23] bechhansen opened #1186 "Feature request - Path rewrite"
Hi

Has it ever been discussed to make it possible to to do path rewrite as part of the alpha configuration?
To be able to do routing only one place I would like to be able to do something like this:

[code]
So the idea is that I would like to access a service on the path /external, but then route the request to the endpoint /internal of service 2. Then path external should not be part of the requ

[2021-05-06 12:07] JoelSpeed commented on #1186
It has been discussed! In fact, I have a PR up to add this functionality, if you have a chance, a review and maybe even testing/some feedback of #1060 would be great

[2021-05-06 14:26] #1182 closed

[2021-05-06 14:33] carabj opened #1187 "New refresh token is not used when refreshing session"
According to OAuth2 specification RFC6749,  the Authorization Server can (optionally) return a new refresh token when a refresh token is used to request a new access token. If done, the old refresh token will no longer be valid.

https://tools.ietf.org/html/rfc6749#section-1.5

## Expected Behavior

If the Authorization Server (OIDC Provider) returns a new refresh token when using a refresh token

[2021-05-06 14:40] carabj commented on #1187
I can add that I'm using the OIDC provider in oauth2-proxy.

[2021-05-06 15:13] carabj commented on #1187
Hmm, while checking the code of oauth2-proxy and the "oidc.go" provider, it looks like it should use the newly returned refresh token...

[2021-05-06 15:21] 5w0ng commented on #941
Same as above;
[code]

Any help would be greatly appreciated!

[2021-05-06 19:08] JoelSpeed commented on #1187
This definitely was working in the past, though I haven't tried it recently, so it's possible we could have broken it. Though I would have expected the tests to start failing at that point which I don't think they have

Have you definitely got a refresh token being created in the session? (You should be able to tell from the logs when it creates a session)

[2021-05-06 20:23] carabj commented on #1187
Hi Joel,

In the logs I see there is a refresh token when session is created (refresh=true).

It also states refresh = true after first refresh (which is successful).

But as stated, the second time it refresh our authorization server states that the used refresh token is invalid. That’s why I suspected oauth2-proxy used the first refresh token. But I have proof of that..

I could mention that we

[2021-05-07 00:01] #1071 closed

[2021-05-07 17:06] lenalebt commented on #1179
I added a debug log for the proxy that includes headers going in & out, which shows what is happening:

[proxy-debug.log](https://github.com/oauth2-proxy/oauth2-proxy/files/6443180/proxy-debug.log)

They are not the easiest to read - up to line 102 is the incoming request, and from there it's the outgoing request from the oauth2-proxy; later on (182) the thing coming in again.

[2021-05-08 09:08] htdat148 opened #1188 "Encoutering the issue: cookie "oauth2_proxy" not present in the latest version"
I am configuring the OAuth-Proxy for use with Trafik to route requests from web browser to Google login. I am struggling with the oauth2_proxy service. I use the latest image.

The Traefik service routed the web requests to the Goole sign-in panel in Oauth2_proxy. But when I clicked the panel, it kept staying there, not routing me to sign-in option. The oauth2_proxy service always shows the cookie

[2021-05-09 00:01] #1069 closed

[2021-05-09 08:45] michael-freidgeim-webjet commented on #1073
re-activate the issue

[2021-05-10 00:25] insanemal commented on #686
Still an issue.

[2021-05-10 02:08] NickMeves commented on #1183
You might need to take a look at `whitelist_domains` and `cookie_domains` (or some setting similarly named to that, I'm going off memory).

In subrequest mode using nginx ingresses in kubernetes hitting `oauth2/auth`, OAuth2 Proxy needs to be hosted on a domain that is somewhat shared at a top level with the referring application. If not, the session cookie wouldn't traverse to your protected appl

[2021-05-10 02:13] NickMeves commented on #1185
It doesn't actually pass the JWT to the backend (that is done with `pass-authorization-header`).

What this one does is set secondary OIDC issuer/audience pairs that are also valid to verify a bearer token (primary use case is primary provider is human facing SSO while machine accounts/PCKE CLI apps use bearer headers with this flag).

Admittedly, a lot of our flag names sucks 😅 -- But we won't ch

[2021-05-10 02:14] NickMeves commented on #1185
Here's an article I wrote on where this flag comes in handy: https://medium.com/in-the-weeds/service-to-service-authentication-on-kubernetes-94dcb8216cdc

[2021-05-10 06:16] t7tran commented on #595
For future visitors, for redirect to work, the redirected URL domain has to be whitelisted. See `--whitelist-domain` option in the [docs](https://oauth2-proxy.github.io/oauth2-proxy/docs/configuration/overview).

[2021-05-11 00:01] #848 closed

[2021-05-11 00:01] #963 closed

[2021-05-11 08:23] #1152 closed

[2021-05-11 09:10] rassie opened #1190 "Wrong logic for setting secure cookies"
The option `--cookie-secure` breaks redirect URLs for HTTP sites with a HTTPS IDP. The problem is in https://github.com/oauth2-proxy/oauth2-proxy/blob/06808704a3762de73bed1cc92b077420eb93d735/oauthproxy.go#L932-L936

`--cookie-secure` is the default setting and it is used verbatim in the cookie creating routine. This will fail on HTTP sites and will also produce wrong redirection URL.

## Expected

[2021-05-11 09:32] rassie opened #1191 "Relative redirect_url without secure cookies is broken"
(somewhat connected to https://github.com/oauth2-proxy/oauth2-proxy/issues/1190)

When using relative `--redirect-url` (e.g. `/oauth2/callback`) with `--cookie-secure=false`, the scheme in the redirect URL is not set, so that it's evaluated as relative. With secure cookies, it's set to HTTPS unconditionally.

## Expected Behavior

1. Set relative redirect URL and disable secure cookies
2. Open `oa

[2021-05-11 10:33] carabj opened #1192 "Configuration problems with v7.1.3"
Trying out latest version v7.1.3 to enable OIDC nonce but cannot get configuration to work.
When we add option `insecure_oidc_skip_nonce="true"` into our cfg file oauth2-proxy does not start, complaining over invalid key. Also tried applying it as command line option without success.

Also, it complains over an already present option being invalid: `provider_display_name="Our company name"`

After

[2021-05-11 11:53] rassie commented on #1191
A workaround proposal: after https://github.com/oauth2-proxy/oauth2-proxy/blob/06808704a3762de73bed1cc92b077420eb93d735/oauthproxy.go#L932-L936

add the following snippet:

[code]

[2021-05-11 12:47] Steffi14 commented on #1125
Sorry for my really late answer. I am sorry.

So I don't know with what application you can reproduce the issue because I was using an application from my company.

But the issue was that we sent the notifications through the proxy from front instead sending it directly to the backend of the application.
![image](https://user-images.githubusercontent.com/43598211/117817165-9d938b00-b267-11eb-9fe4-

[2021-05-11 17:02] lenalebt commented on #1179
I managed to work around this by not using KNative for the OAuth2-proxy. I might open an issue/question on KNative side for this. It was not very easy seeing this, as it only is an issue when multiple things come together here:

* KNative only routing corrently when the Host header is set - so a request would only end up in OAuth2-Proxy when I routed with explicitly setting the Host header to the

[2021-05-11 17:07] rassie commented on #1191
OK, this workaround is void -- we are not guaranteed to have a referrer. Back to the drawing board...

[2021-05-11 18:13] Peperud opened #1193 "Provider button not working with OIDC"
When set with **_--skip-provider-button=false_** a screen with "Sign in with "OpenID connect" button is displayed, however clicking on the button has no effect.

## Expected Behavior
To properly continue the authentication flow after clicking the button

## Current Behavior
Authentication flow does not continue after pressing the button. Page bounces back to itself.

## Steps to Reproduce (for bug

[2021-05-11 18:59] Peperud opened #1194 "Nginx ingress and oauth2_proxy set for OIDC (IdentityServer4)"
Is there a a complete example?

I'm trying to secure an app with IdentityServer4.
Nginx Ingress controller in front.

Here's my setup:

oauth2_proxy
[code]

Ingress
[code]

## Expected Behavior
Non authenticated requests to be redirected to oauth2_proxy and upon successful authentication to continue into the application.

## Current Behavior
With the setup above:
1. Non authenticated request are s

[2021-05-11 19:17] Rahul1804 commented on #1173
Hi @NickMeves , I wrote a LUA filter in envoy to check if authorization header is coming to envoy proxy. But it seems it is not send by oauth2-proxy. Output in headers- "no authorization found"
[code]

[2021-05-12 03:10] NickMeves commented on #1192
Huh... well that seems super weird 🤔

@JoelSpeed was walking me through making a release myself for the first time. I wonder if I botched something and my machine state leaked in (I'm assuming that is from a released binary or docker image, not compiled yourself from source)?

I left the company where I did that work 2 weeks ago, so I can't easily debug at the moment. Here was the PR with that fun

[2021-05-12 03:19] NickMeves commented on #1192
So actually this is likely related to the multiple providers refactor that was also in that release in this PR: https://github.com/oauth2-proxy/oauth2-proxy/pull/947

The code supports multiple providers for the future, but not the config yet. Hence a lot of `Providers[0]` explicit calls.  So something isn't quite right since your error signifies your config results in an `o.Providers` of length 0

[2021-05-12 03:22] NickMeves commented on #1188
That's actually a version old version, here's our latest releases: https://github.com/oauth2-proxy/oauth2-proxy/releases

Check the official docs, we've rehosted under our own organization (oauth2-proxy) and aren't under pusher anymore.

[2021-05-12 03:34] NickMeves commented on #1190
If you are hosting via HTTP, you should have `cookie-secure` set to false.  Otherwise, the session cookie will have the `secure` flag and browsers won't send that cookie to HTTP sites.

The history behind using the `CookieSecure` flag as a last fallback detection for redirect URL schemes is here: https://github.com/oauth2-proxy/oauth2-proxy/pull/1045

There's a thorough discussion of the security

[2021-05-12 03:36] NickMeves commented on #1190
Just to confirm because the term is overloaded:

Are you having issues on the OAuth redirect to the callback URL (which it calls `redirect_uri` in its querystring, usually to `oauth2/callback`)? This logic is in `getOAuthRedirectURI`

Or having issues on the final app redirect after the full SSO flow is done? This logic is in `getAppRedirect`.

[2021-05-12 03:46] NickMeves commented on #1191
Can you elaborate on how a relative URL would work in your environment?

This is the redirect from the IdP (99.9% of the time a 3rd party domain) that gets passed as a querystring parameter in the `authorization_endpoint` request to the IdP during the first part of OAuth2.

The IdP uses this for the client redirect to the callback URL that does the token request portion of the OAuth2 flow.

So wit

[2021-05-12 03:56] NickMeves commented on #1191
If you don't explicitly set a host, there's a lot of logic to try to figure out hosts & schemes based on request details & headers.

If you are in a proxied environment, where these might come from X-Forwarded-* headers, you need set the `--reverse-proxy` for those to be trusted.

If you look at your traffic, on the initial redirect to your IdP - what is being set in the `redirect_uri` (or somethi

[2021-05-12 07:11] htdat148 commented on #1188
Hi @NickMeves,

I still got the cookie error but I think things look better. And I encountered a new error.

[code]
Here is my traefik labels:

[code]

[2021-05-12 07:22] kschu91 commented on #891
@lyndon160 I just came across the same issue, which is currently impeding me :(. Did you found any workaround to get client credentials access tokens from Cognito verified by oauth2-proxy?

Has there been any changes in oauth2-proxy supporting this use case? @NickMeves

I am also willing to support with a PR if we can agree on how oauth2-proxy could support it.

[2021-05-12 07:30] carabj commented on #1192
Yes, this is a pre-built binary we download and add to our Docker base image.

We add a .cfg file and an alpha config file in our Docker image for the default config (not environment dependant). Then we set environment specific things with env variables.

cfg file:
[code]

Env variables (in this case running locally with docker compose)
[code]

Alpha config:
[code]

[2021-05-12 07:45] carabj commented on #1192
I noticed in your PR that there is a new Alpha configuration for Provider, but I didn't see that on the doc web page: https://oauth2-proxy.github.io/oauth2-proxy/docs/configuration/alpha-config

A related question, how does Alpha work with env variables? Up to now all options that we need to override per environment are for the regular flags.. So possible to set via env variables.

Does Alpha conf

[2021-05-12 07:57] rassie commented on #1191
That is more or less my problem: if we assume my protected site to be `http://my.site.example.com`, I'm getting either `https://my.site.example.com` with `--cookie-secure` enabled (which is probably expected) or `//my.site.example.com` without secure cookies as `redirect_uri` in the IDP. The latter should probably never happen, no matter what settings you are using.

[2021-05-12 08:00] rassie commented on #1191
Oh, and I see there is also https://github.com/oauth2-proxy/oauth2-proxy/commit/9dbd5f5afd87c8ffc60c9bb997ad0038c76d39d4, which is probably a fix. I haven't upgraded to the latest version yet :see_no_evil:. Let me check this out, thanks!

[2021-05-12 08:06] rassie commented on #1190
I was having problems with the `redirect_uri`, which is probably fixed by #1045, sorry, my fault for not checking the newest version (which I haven't done since the alpha config now expects to contain providers' info, while I'm only using header injection).

However, I would still argue that secure cookies should be dynamic depending on the site: if I use a relative `--redirect-url`, I would expec

[2021-05-12 08:18] rassie commented on #1191
From my testing, this has indeed been fixed by #1045. Sorry for the trouble!

[2021-05-12 08:18] #1191 closed

[2021-05-12 09:07] htdat148 commented on #941
@5w0ng and @rtrive , Have you looked the URL in your browser. Here is the URL in my case: `https://prometheus.ubuntu.precisionag.org/oauth2/start?rd=%2F` The ?rd=%2F, I think it should point to the oauth service

[2021-05-12 15:04] truong-hua opened #1195 "Oauth2-proxy response /sign_in page when the upstream response 401 Unauthorized"
I'm not sure it's a bug or an expected behavior but in my case, the upstream will response 401 error if the client session is invalid or haven't been logged in. And it causes oauth2-proxy to response /sign_in page which will do set _oauth2_proxy cookie back to empty.

## Expected Behavior

Oauth2-proxy should respect the upstream response

## Current Behavior

Oauth2-proxy replace upstream respons

[2021-05-12 15:57] NickMeves commented on #1190
Proxies throw a big wrench into things. We can't 100% know whether they are in the chain or not, terminating TLS or not. Then we can't know whether to trust X-Forwared-For, X-Forwarded-Host, X-Forwarded-Proto or not or default to Golang http request details (which will be wrong if fronted by a proxy).

And then trying to be smart and auto-detect any of this puts the system at a huge risk for malic

[2021-05-12 17:08] JoelSpeed commented on #926
Due to the complexity of the structure, this will be config file only

[2021-05-12 17:21] JoelSpeed commented on #1165
We have discussed in the past about a more generic and powerful extraction for claims, I'm in favour of supporting a json like way of extracting claims, though for a list index I would expect `oidc-email-claim=emails[0]` rather than `.` separated, I think that's more standard notation right?

[2021-05-12 17:26] JoelSpeed commented on #1187
Because of the differences between providers, this feels like this is something that will be pretty hard to reproduce. We have a Dex example environment which we have used for testing this kind of problem in the past, have you had a play with that environment at all? If you can try that and come up with a config that makes that environment break then it's easier for someone like me to help diagnos

[2021-05-12 17:37] JoelSpeed commented on #1193
I have just tried this on our local testing environment and have been unable to reproduce the issue, can you try the environment too and see if it works for you as expected?

You'll need docker and docker-compose, then from the root of this repo `make local-env-up`, once it's started, in a browser, `http://localhost:4180` should get you to a login page, try there and see if it works? If it does, y

[2021-05-12 18:36] eliavem opened #1196 "Cannot Connect to HTTPS Upstream"
I have a set up with Istio, oauth2-proxy and an external Authentication Server. This is an OpenID Connect Provider. The set up is a simple scenario. I have an app for which access is required. This app does not include log in or logout, I just want to be able to access the content ( not static ), and I'm using redis session store. I have expose the app and auth2-proxy on different domains, lets sa

[2021-05-12 18:52] Peperud commented on #1193
Apologies. I should have stated my full environment. It the one here https://github.com/oauth2-proxy/oauth2-proxy/issues/1194

[2021-05-12 19:47] Peperud commented on #1194
Slight progress.
After adding a **Redis** node and setting **oauth2-proxy** to use it, I see a **_oauth2_proxy** cookie in the browser albeit with no value (?!).
**oauth2-proxy** error changed slightly
[code]
Auth code is being sent via (the browser).  The cycle of steps 3 & 4 from above remains.

In my experience with oidc clients, this often indicates a missing claim (or wrongly mapped) etc. tha

[2021-05-13 00:03] #1036 closed

[2021-05-13 00:03] #1075 closed

[2021-05-13 01:28] NickMeves commented on #1165
Yeah, I think so -- we should use JSONPath to be the most standard (which uses [0] for arrays).

[2021-05-13 03:17] Rahul1804 commented on #1173
@NickMeves @JoelSpeed  : Thank you guys, it worked for. I'm thinking to write a blog now Oauth2-Proxy with Istio or Envoy.

[2021-05-13 03:17] #1173 closed

[2021-05-13 11:50] MNF commented on #1096
re-activate the issue

[2021-05-14 00:07] #1193 closed

[2021-05-14 00:26] Peperud commented on #1194
After two days of experimentation, turned out ```oauth2-proxy``` errors were (more or less) a red herring.
Bottom line - wrong ingress configuration -  ```pathType: Prefix``` above should be ```pathType: ImplementationSpecific```.
Here's the working setup in case it might help someone else:
[code]

[2021-05-14 00:26] #1194 closed

[2021-05-14 03:48] NeoTechni commented on #1044
I am having the same problem, even using the URIs from the JSON credentials file

"urn:ietf:wg:oauth:2.0:oob" and "http://localhost"

I am making a desktop app! I shouldn't even need a redirect URI, since it won't be redirecting to it

[2021-05-14 06:19] frittentheke commented on #1140
I believe this idea is quite valid to allow for more OAuth backends / providers to be used and adapted to.
I was talking to @samirachoadi who is working on a [PR to support ADFS](https://github.com/oauth2-proxy/oauth2-proxy/pull/1021).

To support authentication against ADFS 3.0 it would be required to use the token directly and not go via the id_token, see my comment: https://github.com/oauth2-pr

[2021-05-14 19:32] etfeet opened #1197 "Kubernetes: per ingress group requirements"
is it possible to use Kubernetes ingress annotations to enforce different group requirements on different ingresses?

ie ingress1:
  annotations: oauth2.groups.require: group1

  ie ingress2:
  annotations: oauth2.groups.require: some_other_group2

  looking at the current docs it looks like its a global flag for the oauth ingress instance itself.

[2021-05-15 00:04] #1078 closed

[2021-05-15 17:49] sosiskin2000 opened #1198 "Oauth Proxy allowed_group dont work with Oracle IDP"
## Expected Behavior

Provided oidc, can parse groups returned from Oracle IDP

## Current Behavior
When i'm using run options --allowed-group=cheftest, its starts but say errors forbidden - but group exist:
[code]

When i'm using config file.
[code]
However group list have this name:

groups:[{"$ref":"http://admin:9246/admin/v1/Groups/93c2024166a04f73853f47d8373ed4e9","id":"93c2024166a04f73853f47

[2021-05-16 00:04] #1072 closed

[2021-05-16 01:12] NickMeves commented on #1197
Yup! https://github.com/oauth2-proxy/oauth2-proxy/pull/849

You can add the `allowed_groups` querystring parameter on the `/oauth2/auth` endpoint you set in the `nginx.ingress.kubernetes.io/auth-url` annotation in your ingress.

The CHANGELOG has detailed examples of using this new querystring field.

I used this pattern to hook in a bunch of internal applications with different ingresses with dif

[2021-05-16 01:34] NickMeves commented on #1198
So we expect the groups claim in the OIDC IDToken to have this form:

`"groups": ["group0", "group1, "group2"]`

This PR added support for complex data structures in the claim: https://github.com/oauth2-proxy/oauth2-proxy/pull/839

So they would get parsed and passed to the backend in the `X-Forwarded-Groups` header.

But as far as the native `allowed_groups` authorization, you might have challeng

[2021-05-16 07:57] nonylene commented on #1149
+1.

It would also be nice if oauth-proxy would output this message to STDOUT (currently STDERR), because this is not an error, but an expected behavior.

[2021-05-16 08:43] sosiskin2000 commented on #1198
Line in Configuration not working, for the same reasons?
If format will be updated from Oracle side, how i can provide list with group in configuration?
allowed_group = "group1, group2"  ??

or
allowed_group= ["group1, group2"]

in configuration it always says
* '' has invalid keys: allowed_group

[2021-05-16 11:29] JoelSpeed commented on #1198
The configuration option is called `allowed_groups`, with an `s` on the end, which you've missed in your example

[2021-05-16 12:02] sosiskin2000 commented on #1198
Do you have information how to configure this used mentioned setting, there is no example and description in documentation.

I have groups like this:

`groups:[{"$ref":"http://admin:9246/admin/v1/Groups/aa52135cea994c03a2fce26ee4637f12","id":"aa52135cea994c03a2fce26ee4637f12","name":"OFSC-DEV-ASHOCI_SYSOps"} {"$ref":"http://admin:9246/admin/v1/Groups/df6b89b65cbd45728521700b18b19a02","id":"df6b89b

[2021-05-16 12:05] JoelSpeed commented on #1192
The documentation for the alpha providers is only on the next release for the moment https://oauth2-proxy.github.io/oauth2-proxy/docs/next/configuration/alpha-config, we should copy that to the v7.1.x docs as well.

Currently this is only supported for secret values, not for generic values. We may support env variables in the future but haven't decided on this yet nor come up with a design.

It lo

[2021-05-16 12:09] JoelSpeed commented on #1198
Looking at the PR, it looks like you would need to set your `allowed_groups` to contain the full json structure of the group as it comes from your IDP. So in this case something like:

[code]

@Bibob7 Do you have any extra context you could add here as to how this feature is meant to be used?

[2021-05-16 12:12] JoelSpeed commented on #941
The `rd` parameter should point to where you want OAuth2 Proxy to redirect you to _after_ the authentication has completed. Eg this could be the root of your application. If you set it to the OAuth2 Proxy service, then you will, as you've seen, post login, be sent to the start of the login process again.

If you are getting infinity loops without this, then I suggest you check the responses from t

[2021-05-16 12:14] JoelSpeed commented on #1195
Initially this seems like a valid behaviour. A 401 from the upstream implies that the user currently isn't valid, but if they were logged in as a different user, would be valid. It seems reasonable in this case for OAuth2 Proxy to attempt to get the user to sign in as a different user.

In the case that a user is logged in, but not allowed to access a resource, I would expect a 403 response from t

[2021-05-16 12:17] JoelSpeed commented on #1196
Does your application support the ability to set the URL it expects to be served on? For example applications like wordpress allow this so that you can host them behind proxies in this way.

[2021-05-16 12:21] truong-hua commented on #1195
@JoelSpeed is there any way to disable that behavior? Our upstream has it's owned authorization but is not safe enough and we would like to place the OAuth2 Proxy in front of it :)

[2021-05-16 12:28] JoelSpeed commented on #1195
If you are trying to replace the authorization of your existing service, can you not turn it off?

As to whether this can be turned off, I'm not actually sure right now where this logic is coming from, so until we can work out why (where in the code) this is happening, I couldn't say whether there is a workaround or not

[2021-05-16 13:00] sosiskin2000 commented on #1198
@JoelSpeed Thanks you are the best, its working.
Final question from my side.  My Oauth2 working well, but i need possibility to have couple of API users with internal auth via basic authorization. Is that possible?

[2021-05-16 13:18] JoelSpeed commented on #1198
Yes, we have some options for this, look for htpasswd in the docs and you should find this. You can also assign groups to users that are basic auth'd through a separate option should you wish to do so as well

[2021-05-16 16:46] truong-hua commented on #1195
Actually, I just would like to keep both authorization (so a user have to authorize 2 times) and totally separated. You have any suggestion for me, @JoelSpeed ?

[2021-05-16 17:48] truong-hua commented on #1195
I found out the issue, it's not about Oauth2-proxy but Nginx

[2021-05-16 17:48] #1195 closed

[2021-05-16 17:49] sosiskin2000 commented on #1198
Working, thank you

[2021-05-16 17:49] #1198 closed

[2021-05-16 18:49] TheAnachronism commented on #1167
Why did you close this?
I'm currently facing the same issue, that it calls the IP directly but I have my identity provider running behind a reverse proxy.

[2021-05-16 18:58] TheAnachronism commented on #812
What solution did you come to (if you did)?
I'm trying to do the same thing but running into some problems while using keycloak as the provider.

[2021-05-16 19:19] TheAnachronism opened #1199 "Keycloak and upstream running behind nginx reverse proxy but oauth2 ignores subdomains."
I have a keycloak server running behind a nginx reverse proxy and my upstreams are also behind one. The problem is, that OAuth2-proxy just uses the ip directly with port 80 or 443. But nginx distinguishes the different services with the server_name part so the subdomain. Now this obviously doesn't work if someone just calls it with the ip directly.

## Expected Behavior
The proxy uses the actual d

[2021-05-16 21:35] TheAnachronism commented on #1199
Alright nevermind I resolved the issue.
The problem wasn't the proxy but docker.
Once I set the container for the proxy to network mode host it worked great.

[2021-05-16 21:35] #1199 closed

[2021-05-17 03:51] htdat148 commented on #941
I changed a minor configuration then I was able to be routed to **Choose an Account** but after that, it returned a 500 Server Internal Error. Here is my log in oauth service

[code]

[2021-05-17 05:31] Jc2k commented on #549
I believe this is still a problem.

[2021-05-17 06:43] htdat148 commented on #1188
[UPDATE] I was able to access `Choose an account` but after I logged in, it shows me a `500 Internal Server  Error`. Then I tried to enable the Google Scopes for userinfo.profile, userinfo.email and opened, but it still did not work for me. Could you have a look at the logs:

[code]

[2021-05-17 08:49] lathspell commented on #1162
#1107 ("Keycloak OIDC Provider") has a title that is a bit unspecific. Somewhere in the comments extracting roles and turning them into oauth2-proxy groups is mentioned, though.

Still, extracting JWT roles into OAuth2-Proxy "Groups" only solves half the problem. The other half is that the Gatekeeper example above lets you set different ACLs for different wildcard-paths.

Having this feature would

[2021-05-17 09:26] xelita opened #1200 "Unable to use upstream server with keycloak provider"
## Expected Behavior
Being able to authenticate with keycloak using oauth2-proxy keycloak provider and (once authenticated) being able to access the backend server though the proxy.

## Current Behavior
My upstream server configuration does not work.
I am able to authenticate but not able to reach the backend server where the application is actually running.

## Steps to Reproduce (for bugs)
See m

[2021-05-17 09:40] kschu91 commented on #891
FYI: we are currently working on a PR to support this.

[2021-05-17 09:42] Christoph-Raab opened #1201 "AzureAD: jwt not passed upstream after refresh"
When using the new refresh mechanism for azure I observe the following behavior:
- After initial login by user his jwt is passed upstream to the application pod
- After the refresh the jwt is not passed upstream anymore

I have a keep alive mechanism that calls the app every 60 seconds. I have logged the requests on the app side and compared them to the logs of oauth2-proxy. I see the log message

[2021-05-17 09:58] xelita commented on #1200
issue has been fixed by using the appropriate env variable for the upstream:
`OAUTH2_PROXY_UPSTREAMS: http://localhost:8080/`

[2021-05-17 09:58] #1200 closed

[2021-05-17 11:03] 5w0ng commented on #941
Hi @JoelSpeed,

I could really use some expert guidance if you have capacity to assist?

Here is my config;
[code]

My ingress for kubernetes-dashboard is as follows;
[code]

The error is still the same as above;
[code]

I've tried many different combinations but clutching straws now due to my lack of understanding and the challenge of sieving through the documentation for Okta/Helm/K8s.  Any help

[2021-05-17 11:47] danielhstahl opened #1202 "Use ingress routing for upstreams"
I'm using an nginx ingress with oauth2-proxy.  I'm approaching this in two ways:
* A single oauth2-proxy deployment with 2 ingresses.  One ingress routes to my various services, while the other ingress routes only to the oauth2-proxy deployment for authentication.
* oauth2-proxy as a sidecar per service.  Only one ingress, but each oauth2-proxy has a different redirect url.  Significantly more boi

[2021-05-17 12:06] idntfy commented on #490
@geekhckr  does it mean that redis would be required for oauth2-proxy as a sidecar?

[2021-05-17 16:59] eliavem commented on #1196
It is a test app ( bookinfo ) provided by Istio. I cannot modify the application itself but create the necessary istio CRDs to expose the application (Gateway and Virtual Services). The application can then be accessed at APP_DOMAIN/productpage where APP_DOMAIN is just mapping to istio ingress url. There are other endpoints but not interested in those for now. The integration with Authentications

[2021-05-17 18:41] JoelSpeed commented on #1196
When using something like Istio, I would suggest looking into using the ext_authz functionality (there are many issues around users who've done this) so that OAuth2 Proxy doesn't actually act as a proxy, but more of an authentication side car

[2021-05-17 18:48] JoelSpeed commented on #1202
If you are using nginx ingress, you can set the `auth-signin` and `auth-url` annotations to point to OAuth2 Proxy, and then it will just use the proxy for authentication checks, it doesn't actually proxy the requests via the OAuth2 Proxy instance.

We have this documented to some degree in our docs https://oauth2-proxy.github.io/oauth2-proxy/docs/configuration/overview#configuring-for-use-with-the

[2021-05-17 18:58] JoelSpeed commented on #1201
Looking at the code, we don't check whether the tokens returned are non-empty before storing them. I was under the impression that Azure should return a token always but that said, I think this will depend on exactly which type of azure you are using.

We certainly used to only update if they'd actually been refreshed, but that may be other providers that have similar implementations. I know @Nick

[2021-05-17 19:01] JoelSpeed commented on #941
If you login and directly access `https://oauth2.my-platform-dev.com/oauth2/auth`, what kind of result do you get? I suspect you may need to set the auth-url to the public URL rather than using the internal URL as shown in your example

[2021-05-17 19:08] JoelSpeed commented on #1188
It looks like you've got invalid redirects being generated, have you set your `whitelist-domain` option to include the URL that is being generated from the redirect?

Looking at your example, you have a number of options that are incorrect. For example `OAUTH2_PROXY_WHITELIST_DOMAIN`, because this option as a flag can be set multiple times, it has an `S` at the end when set as an env var.

Please

[2021-05-17 19:17] pravargauba commented on #1188
Hi @htdat148  @NickMeves
I am facing the exact issue of  Error loading cookied session: cookie "_oauth2_proxy" not present, removing session.

Oauth2 is undoubtedly performing the google-auth, but **it is then redirecting to the login page of my application :(** (in my case, im running Rundeck behind nginx reverse proxy), where as it should perform the login and make the user enter/bypass the logi

[2021-05-17 22:21] eumel8 opened #1203 "upstream timeout on ingress-controller nginx-0.43.0"
I had a running configuration with Keycloak, based on [External OAuth Example of Nginx-Ingress-Controller](https://kubernetes.github.io/ingress-nginx/examples/auth/oauth-external-auth/)

## Expected Behavior

**ingress-controller: nginx-0.35.0/Kubernetes 1.19**

There are two Ingress rules, the first rule had this annotations:

[code]
The second rule provides the oauth-proxy services behind `/oaut

[2021-05-18 03:09] htdat148 commented on #1188
@JoelSpeed finally it worked for me :). I really appreciate your help.

[2021-05-18 08:55] spielkind commented on #1203
I think the changes from nginx-controller 0.40.2 to 0.41.0/2 cause this problem.

[2021-05-18 08:59] tarvip opened #1205 "Fragment is lost after redirects"
After upgrading oauth2-proxy from version 7.0.1 to 7.1.3 URI fragments are lost after redirects.

## Expected Behavior

oauth2-proxy will keep the fragment after redirects.

## Current Behavior

Fragment is lost after successful authentication.

## Possible Solution

I played `sign_in.html` template, it seems to be affected by `<script>` location, in `v7.0.1` it was in `head`, when I moved script

[2021-05-18 09:47] rishi1111 opened #1206 "Jwt token passed to upstream does not contain aud in claims"
Cannot use the access token passed to upstream application, to authenticate as it does not contain aud in claims.
## Expected Behavior

aud should be present in claims
## Current Behavior

aud is missing from jwt token, and i get this error

Error retrieving session from token in Authorization header: [unable to verify bearer token, oidc: expected audience "custom-gatekeeper" got []]

## Steps to

[2021-05-18 10:25] #1206 closed

[2021-05-18 13:48] danielhstahl commented on #1202
This worked! thanks!

[2021-05-18 13:48] #1202 closed

[2021-05-18 19:17] JoelSpeed commented on #1205
Seems like a regression, would you be able to create a PR with the fix you've mentioned here?

[2021-05-18 23:55] #1188 closed

[2021-05-19 00:04] #1090 closed

[2021-05-19 00:04] #1100 closed

[2021-05-19 00:04] #1089 closed

[2021-05-19 02:51] jeffersonbabuyo commented on #349
@JoelSpeed - I am experiencing the same issue. accessing `/oauth2/auth` manually will only show white space. I tried accessing it without logging in and it gives me `unathorized` message

[2021-05-19 08:31] 5w0ng commented on #941
Hi @JoelSpeed,

I reverted to add the oauth2-proxy dns back into the kubernetes-dashboard ingress as follows;
[code]

If I access this path directly, I get the message '**Unauthorized**'

If I look at the nginx-ingress controller logs I see this;
[code]

The oauth2-proxy pod logs still show this;
[code]

What are your thoughts, is it looking like the upstream?

[2021-05-19 13:52] Christoph-Raab commented on #1201
So I have revisited docs and the changelog.

I had the ``- --cookie-refresh=55min`` configured, because a token is only 1h min active. The changelog states:

So I have removed the ``--cookie-refresh``, but now the token is not refreshed at all. Even after 1 h 15 min, I still receive the expired token. Changed it to ``- --cookie-refresh=0`` just to be sure, still same effect.

Furthermore I simulat

[2021-05-19 17:26] sharmavijay86 opened #1208 "SSO feature of oauth2proxy returning on same url or oauthproxy"
## Configuration
oauth2-proxy helm chart values.yaml
[code]
Ingress.yaml for k8s-dashboard

[code]
## Expected Behavior

oauth2-proxy url is   : login.devk8s.mylab.local
app dashboard url is : dashboard.devk8s.mylab.local

I want when a user access dashboard url, it should get authentication from auth url (i.e. oauth2proxy ingress url+github user), and should be back on my dashboard url after auth

[2021-05-20 05:38] prince-melvin opened #1209 "Refresh-session not working for multiple session cookies"
Multiple session-cookies not getting refreshed properly since the headers are getting flattened before adding it to response

## Expected Behavior

Session Cookies if span to more than one, it should get refreshed/set-newly
Allow multiple Set-Cookie headers in the response
[code]
## Current Behavior
If my session-state spans to two cookies and while refreshing session the Set-Cookie headers are ge

[2021-05-20 10:15] michael-freidgeim-webjet commented on #1109
Reactivate

[2021-05-20 10:16] michael-freidgeim-webjet commented on #1114
re-activate

[2021-05-20 12:47] lathspell opened #1211 "No "Set-Cookie" response for XHR / AJAX requests that trigger token refresh"
## Expected Behavior

When an incoming XHR request contains a session cookie whose lifetime exceeds `--cookie-refresh`, the outgoing HTTP response should contain a `Set-Cookie` header that refreshes the `_oauth2_proxy` cookie in the browser.

## Current Behavior

Everything works well for "normal" GET requests that return full HTML pages. But there are single page apps that make such a full page r

[2021-05-20 15:03] parth30 opened #1212 "expires_in value provided by oidc provider is not respected ."
## Expected Behavior

The expires_in value should be respected from the oidc provider and after the expiry the token should not be considered valid .

## Current Behavior

The oauth2-proxy does not take in account the expires_in value provided by the oidc provider (in this case IBM APP ID) .

## Steps to Reproduce (for bugs)
 1. set the token expiry in provider for 5 mins
 2. login with valid cred

[2021-05-20 15:30] Christoph-Raab commented on #1201
So after a day of debugging the oauth2-proxy on my local machine I can say that:

1) With ``--cookie-refresh=0`` the refresh wont be triggered at all. Changelog is definitive false here

2) With ``--cookie-refresh=60m`` (my token lifetime) the refresh works as expected Bug.
But after the refresh, the ``Authorization`` header is not passed to upstream anymore. I havn't figured out, by whom the head

[2021-05-20 19:13] Christoph-Raab commented on #1201
After some thinking I figured the empty idToken might be the problem. And indeed!

Changing the lines in the [azure.go](https://github.com/oauth2-proxy/oauth2-proxy/blob/06808704a3762de73bed1cc92b077420eb93d735/providers/azure.go#L286) from

[code]

to

[code]

seams to be solving the problem. The session is refreshed and the token is passed upstream afterwards.

I have build my locally modified v

[2021-05-21 06:53] carabj commented on #1192
Is it documented how to use env variable for secrets values in the alpha config? I will at least need it for the clientSecret value if I should be able to configure our provider in alpha. I actually need for the issuer as well, since we have one issuer per environment....

One "simple" approach to support env variables in a config file (regardless of format) is to just support env variable substit

[2021-05-21 10:19] JoelSpeed commented on #1096
I'm hesitant to support this for a couple of reasons.

Firstly we are trying to remove this configuration style.

Secondly I see having two separate formats within the config just leading to more confusion. My suggestion would be that we come up with a way to improve the docs so that the env and config values are more obvious

[2021-05-21 10:48] lathspell commented on #1211
Please ignore, our patch from https://github.com/oauth2-proxy/oauth2-proxy/issues/856 caused this if used with the wrong --cookie-expire and --cookie-refresh values.

[2021-05-21 10:48] #1211 closed

[2021-05-21 11:45] Christoph-Raab commented on #1201
Ok, that's not working. Some help would be appreciated, because, as I said, Azure Provider is broken, if upstream depends on the Authorization header.

[2021-05-21 12:11] kmcrawford commented on #1073
Thanks I had the same question.

[2021-05-21 23:12] michael-freidgeim-webjet commented on #1096
@JoelSpeed ,
My suggestion was to implement support of the same config and parameter keys as a quick win before new structural config will be implemented.
 If structural config replacement will be ready soon, there is no point to spend time for this.

However I do not understand your concern “having two separate formats within the config just leading to more confusion.”
If the proposal would be im

[2021-05-22 00:04] #976 closed

[2021-05-22 11:22] aberhallo commented on #756
@NickMeves
I'm struggling with the status/result of this suggestion since I use oauth2-proxy as a secure and simple solution to secure my apps (thanks for all the good work!).

But according to https://oauth.net/2.1/ "_PKCE is required for all OAuth clients using the authorization code flow_". That means also for confidential clients and not only for mobile and SPA clients as @etca2z stated before

[2021-05-23 00:05] #390 closed

[2021-05-23 00:05] #1067 closed

[2021-05-23 10:05] JoelSpeed commented on #349
If you see white space, then you are successfully logged in on that domain. You can use the developer tools in your browser to inspect the session cookie and check that it meets your expectations/requirements for your environment

[2021-05-23 12:21] jeffersonbabuyo commented on #349
@JoelSpeed - Yes, thank you it working fine.

[2021-05-23 12:32] JoelSpeed commented on #1208
[code]

This annotation on your ingress is incorrect. You need to tell the proxy the host to redirect to as well. Try something like `rd=$scheme://$host$request_uri$is_args$args` instead.

Note you'll need to ensure your whitelist domain option is set correctly to allow your redirect to your dashboard as well