[2018-12-06 07:58] dt-rush opened #8 "`dep ensure` fails"
`dep ensure` gives:

[code]

This is with `dep version`:

[code]

I'm not sure if this is a dep issue or whether it's somehow caused by the `Gopkg.toml` / `Gopkg.lock` files having been modified as part of the fork (I noticed we changed `18F/hmacauth` to `mbland/hmacauth` but only in `.lock`, not in `.toml`).

[2018-12-06 15:58] dt-rush commented on #8
@JoelSpeed Ah, interesting. It builds without a hitch on `migration` branch. I see we have changed:

[code]

This avoids the error.

[2018-12-06 15:58] #8 closed

[2018-12-06 16:44] dt-rush opened #9 "user-configured redirect URL clobbered in oauthproxy.go"
see line 155 of oauthproxy.go ([link](https://github.com/pusher/oauth2_proxy/blob/master/oauthproxy.go#L155))

We literally overwrite whatever the value is with `fmt.Sprintf("%s/callback", opts.ProxyPrefix)` even if the user provided a redirect URL they want to use.

I have a PR for this which I tested and confirmed to resolve the issue. Will link.

[2019-01-05 11:02] Svarto opened #12 "Possible to use "Dynamic" callback URL?"
Thanks so much for taking over the maintenance of the oauth2_proxy repository.

I am a beginner and have a (perhaps) stupid question - is it possible to have the one oauth2_proxy instance authenticate a domain with several web services (e.g. app1.example.com, app2.example.com)? Or would I need one oauth2_proxy per webservice?

I would prefer to use a self hosted Gitlab instance as oauth2 provider,

[2019-01-15 14:10] shbatm opened #16 "[Request] Include Release & Docker build for Raspberry Pi (ARMv6/7 Architecture)"
Not a bug. This is a general feature request to include an Arm version of the Docker build (via Travis-CI).

I was able to build the image myself successfully using the steps in [this Gist](https://gist.github.com/shbatm/e0f138da7418ab5970b3f89475195c49) (leaving here for anyone else who might want to reference), but it would be nice to have a pre-built Docker image for running on a Raspberry Pi.

[2019-01-18 16:16] brianv0 opened #18 "Allow pass-through of valid JWT Bearer tokens with OpenID Connect/JWKS issuers"
In order to enable API access where outside parties may have received a valid JWT token and would like to authenticate, it would be nice if there was a way to configure oauth2_proxy to verify those tokens, use them to construct a session, and pass through the request.

## Expected Behavior

This is similar in effect to the CheckBasicAuth, but instead of `Authorization: Basic [...]`, it's `Authoriz

[2019-01-18 19:14] lbvffvbl opened #19 "unauthorized on kubernetes dashboard with google provider (invalid bearer token, Token has been invalidated)"
hi. we trying to use oauth2_proxy instead lua-resty-openidc (there are problem with refresh token)
kube-apiserver was configured with oidc

    - --oidc-groups-claim=hd
    - --oidc-username-claim=email
    - --oidc-issuer-url=https://accounts.google.com

we build image from oidc branch as lbvffvbl/oauth2_proxy:v0.0.2
(to Dockerfile was added
RUN apt-get update
RUN apt-get install -y ca-certificat

[2019-01-19 20:54] cheesemarathon opened #20 "error redeeming code Post, certificate signed by unknown authority"
Moving from bitly/oauth2proxy and I'm having the above issue. I'm using the docker image with nginx providing SSL and the Nginx auth_request directive

Following error, after I have signed into google:
[code]

## Steps to Reproduce (for bugs)
I'm running docker with the following command:
[code]

Here is my config:
[code]

An example site-conf:
[code]

[2019-01-21 10:49] JoelSpeed commented on #19
Could you add the `--set-authorization-header=true` flag to your deployment and then visit `https://$HOST/oauth2/auth` and read the `Authorization` header from the response? In the response should be the ID token that the OAuth2 Proxy is receiving from Google.

You can use jwt.io to decode this and take a look at the payload, double check your OIDC flags match the values in the payload.

[2019-01-21 11:07] JoelSpeed commented on #18
Hey @brianv0, thanks for raising this PR.

In general I'm in favour of adding this feature but have a quick question about the use case.

In your implementation, you can provide a number of upstream issuers to allow tokens from, in the oauth2_proxy you can only normally have one upstream issuer, do you have a use case in mind in which you would want to have multiple upstream issuers for tokens?

M

[2019-01-21 11:11] JoelSpeed commented on #12
Hi @Svarto, your scenario is very similar to ours and can be done once #15 has been merged.

If you set up Nginx (in front of each of your services) in `auth-request` mode to verify to your single OAuth2 Proxy and set the `rd` query parameter in your sign-in url (something like `https://auth.example.com/oauth2/start?rd=https://app2.example.com`), you should then be able to protect multiple sites w

[2019-01-21 13:22] brianv0 commented on #18
I realized reading this that maybe my flag should be something like `additional-jwt-issuers` or something, and if you add the `skip-jwt-bearer-tokens` it should automatically try to configure first with the internal token verifier we already have.

[2019-01-21 16:47] cheesemarathon commented on #20
I'll wait for #21 to be merged then! Thanks

[2019-01-21 16:47] #20 closed

[2019-01-22 21:55] zmichael commented on #19
Looks like kube-apiserver can`t verify "web application" type token from Google, which is only can be used with oauth_proxy.
kubectl auth works fine with "Other" type, but with this type proxy can`t specify callback URL.

We will try your Dex branch as a Google IDP proxy.

[2019-01-23 16:35] agentgonzo commented on #18
I did a similar implementation to this a while ago for our own proof-of-concept purposes. See https://github.com/agentgonzo/oauth2_proxy/tree/bearer-tokens

[2019-01-23 16:51] agentgonzo opened #25 "Question: Do you have a public docker image for this new fork?"
## Expected Behavior

A public docker image that I can use

## Current Behavior

?

## Possible Solution

A public docker image

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

## Your Environment

- Version used:

[2019-01-23 16:51] agentgonzo commented on #25
D'oh. Found it

[2019-01-23 16:51] #25 closed

[2019-01-24 08:13] loispostula opened #26 "Cookie "_oauth2_proxy" not present"
When setting `--pass-authorization-header=true`, The proxy returns an error 502 with the following message in the logs:
`oauthproxy.go:764 redacted_ip:port ("redacted_ip")  Cookie "_oauth2_proxy" not present`

Here are the parameter pass to the proxy:
[code]

I am trying to pass the authorization header to the kubernetes dashboard

[2019-01-28 07:55] tlawrie opened #27 "Current OIDC implementation requires provider to implement the /.well-known/openid-configuration endpoint"
## Expected Behavior

## Current Behavior

The current implementation expects the OIDC provider to implement the discovery endpoint, however this is optional in the spec and unfortunately some enterprises do not implement this, such as IBM.

## Possible Solution

On my fork of the bitly version, I implemented an additional provider with a fork of the go-oidc package that had an implementation for

[2019-01-28 10:23] JoelSpeed commented on #27
Hi @tlawrie,

I definitely think this is something we should add support for! I would say keep it within the main OIDC provider though since all the rest of the logic would be duplicated and we would end up (probably) having some drift between the two implementations.

I would suggest we add a `--skip-oidc-discovery` flag plus the manual configuration required and make that part of the main OIDC p

[2019-01-29 11:13] jtnord opened #28 "Break the fork relationship to bitly/oauth2_proxy"
The repo is a fork of bitly repo which is bad for a few reasons.

1) you end up in an incorrect tree (if you follow the forks you end up at an outdate repo - the root of the tree should be this repo
2) forked repos are not searchable in github

2 is the most annoying as you can not use github search cabapility to quickly scan the repos.

## Expected Behavior

pusher/oauth2_proxy is the root repo a

[2019-01-29 11:18] marratj commented on #27
Hi there,

to chime in, we would also like to support this one, as we use Azure AD B2C as our OIDC provider, however this expects an additional policy parameter in the URL.

So we also currently have our own fork of go-oidc adding this URL parameter to the discovery endpoint, but a manual one would also drop the need for this fork :)

[2019-01-29 11:25] marratj opened #29 "OIDC Cookie refresh not working with nginx auth_request when cookies are split."
## Expected Behavior

When a session with split cookies is refreshed, all cookie parts should be returned to the user.

## Current Behavior

When using cookie refresh with the nginx auth_request directive, nginx only returns the first chunk of the split cookie, but not the other ones.

Initial authentication is fine, after POSTing the auth code to the callback endpoint, both cookies are returned,

[2019-01-29 11:41] JoelSpeed commented on #18
Let's go with this, do you have time to raise a PR @brianv0? The `additional-jwt-issuers` flag should only be used if the `skip-jwt-bearer-tokens` flag is `true` right?

[2019-01-29 11:43] JoelSpeed commented on #27
@marratj Do you have any more information on this policy parameter? We might be able to include it in a PR to fix this issue or follow up with a separate PR after that is merged

[2019-01-29 11:49] JoelSpeed commented on #28
I think this is probably the right thing to do but didn't want to do it initially as I wasn't quite sure of the implications. I've done a bit of research and spoken to some people @pusher and we are generally in favour of this (no one's said don't do it). Do you agree this is the right way to go @syscll? I'll look into getting it done if you agree

[2019-01-29 11:56] marratj commented on #27
It's a simple URL paramater called `p`.

So the auth & token endpoints would be

`https://login.microsoftonline.com/{tenant_id}/oauth2/v2.0/authorize?p=policyname`

instead of simply

`https://login.microsoftonline.com/{tenant_id}/oauth2/v2.0/authorize`

That's all that is different. However, in go-oidc the `/.well-known/openid-configuration` is hardcoded without any option to put a URL parameter

[2019-01-29 12:06] syscll commented on #28
I absolutely agree that this is the correct way to go. I see that [bitly/oauth2_proxy](https://github.com/bitly/oauth2_proxy) has now been archived, too.

Not sure if we'll still need to give credit to the original creators in order to comply with the MIT license.

[2019-01-29 12:12] JoelSpeed commented on #28
We have this note in the Readme

I think that's probably sufficient but I'm not 100% certain

[2019-01-29 13:39] JoelSpeed commented on #28
I have submitted a request to break the link between the two repositories

[2019-01-29 13:52] JoelSpeed commented on #28
That was quick! All done!

[2019-01-29 13:52] #28 closed

[2019-01-29 14:19] christidis opened #30 "Redirect URL missing when the skip-provider-button option is used"
When I use `-skip-provider-button=true` it always gets redirected after login to `/`
When I don't ( `-skip-provider-button=false`) it gets redirected after login to the url beforehand.

## Expected Behavior
preserve URL after the login regardless of the value of `-skip-provider-button` option.

## Steps to Reproduce (for bugs)
e.g. I point my browser at https://my-site/some/sub/path
when I have -s

[2019-01-29 14:25] JoelSpeed commented on #30
I believe this may have been fixed in #24 which was merged earlier today, would you be able to test the current master build with the flag set to true?

[2019-01-29 14:49] christidis commented on #30
Hm, I have just given `quay.io/pusher/oauth2_proxy` `latest` and `master` tags a try but noticed the same thing. URL is not preserved when `-skip-provider-button=true` is set.

[2019-01-29 18:11] jtnord opened #31 "security reports?"
I think I found a security issue (could be in our fork but doesn't yet seem like it).

I could not find anywhere mentioning reporting security issues privately, can you please add some details?

## Expected Behavior

If I find a security issue in the project I can go to the repo and find some info on how to report it.

## Current Behavior

I am left guessing.

## Possible Solution

create a file s

[2019-01-29 18:23] brianv0 commented on #18
Yes and yes, I think I will be able to get to it sometime this week.

[2019-01-29 19:21] brianv0 commented on #29
I was just about to open this issue.

I've been trying to debug it for quite a while in the context of Kubernetes.

The core issue is that nginx seems to drop the additional `Set-Cookie` header, so the cookie actually ends up getting corrupted, because `_oauth_proxy-0` is properly set, but `_oauth_proxy-1` is omitted. The ends up corrupting the cookie when it's joined, as it contains the last (396

[2019-01-30 07:33] marratj commented on #29
I thought about just raising the proxy_buffer_size, but this is not helping in this case, as browsers themselves usually have a [hard limit](http://browsercookielimits.squawky.net/) on Cookie size of 4KiB.

In my case I specifically need to extract an additional claim from our id_token for the backend, but as our tokens are too large to fit into a single cookie, I most probably still need to chang

[2019-01-30 08:01] ploxiln commented on #29
I see, you're right, browsers limit to ~ 4KiB per cookie.

[2019-01-30 10:19] JoelSpeed commented on #30
In which case this will need further investigation

[2019-01-30 12:01] JoelSpeed commented on #31
This needs fixing and I am currently trying to work out how I want to handle this, I need to speak to our internal support team who currently handle most security issues for Pusher owned projects.

For now, could you please email me directly joel[at]pusher.com and I will look into the issue you have found.

[2019-01-30 17:03] jtnord commented on #31
email sent :)

[2019-01-30 21:01] brianv0 commented on #29
in rootfs/etc/nginx/template/nginx.tmpl:

[code]

So I think this may have something to do with it, however, this ONLY happens on refresh. Which means the first time you `Set-Cookie`, you get both for some reason. It's when you refresh that you only get one. I really don't know why, but maybe it has something to do with the fact that your cookies should have been cleared (and thus, not sent in the

[2019-01-30 21:09] ploxiln commented on #29
When you get redirected to `/oauth2/sign_in` or `/oauth2/start` and eventually to `/oauth2/callback`, you get responses directly from oauth2_proxy, so it can set two separate cookies with two separate response headers, and the browser gets that response and those headers directly.

In the refresh case, nginx is getting some response headers from the `auth_request`, and then making the request to t

[2019-01-30 21:13] brianv0 commented on #29
Ah! got it, that's exactly the issue.

Now.. if there's a fix, it's probably going to need to go in nginx or maybe it can be handled with an `access_by_lua` script.

[2019-01-31 07:34] kskewes commented on #16
I've added the armv6 and arm64 build lines to the `Makefile` and the resulting binaries work on the different platforms (I have RPi and Rock64 SBC's) (at least `oauth2_proxy --version`).

Building arm or arm64 images on an amd64 host is slightly more complicated as the build machine needs to have [qemu-user-static](https://hub.docker.com/r/multiarch/qemu-user-static/) to cross compile if we follow

[2019-01-31 10:14] JoelSpeed commented on #16
I'd personally be tempted to go for the Flannel approach and have separate Dockerfiles for the arm builds.

I'd be tempted to leave the amd64 Dockerfile just as `Dockerfile` as this is likely to be the most frequently used Dockerfile, do we think that would confuse people?

What was the reason for choosing `armv6`? I understand arm versions have some backwards compatibility but I'm not an arm user

[2019-01-31 16:52] marratj commented on #29
After two days worth of swearing at nginx, I finally figured out a config that works, albeit with two caveats:

1. The cookie split separator must not be `-`, but instead `_` (underscore), as nginx cannot address cookie variables where the cookie has a non-alphanumeric (save for _) name. So this means a slight change in oauth2_proxy's code, but I think this is a very tiny PR worth considering.
2.

[2019-01-31 17:08] JoelSpeed commented on #29
Since this feature hasn't been released yet I think we should fix this, are you willing to raise a PR?

I think for most people this will be predictable to an extent

This is a real shame and I'm rather intrigued as to why this is, hopefully it get's fixed and then maybe we can add your workaround to our docs somewhere?

[2019-01-31 18:41] kskewes commented on #16
I couldn't comment whether it's better to build for v7 or v6.
Golang download has armv6 but not armv7 - https://golang.org/dl/

Sounds good to leave amd64 Dockerfile as is.
If we end up being able to do multi-arch docker images then we can duplicate the Dockerfile with extension at that point.
I can PR the binary `Makefile` changes as that is straight forward?
Docker as stage 2?

Docker image buil

[2019-01-31 18:46] kfox1111 commented on #16
As far as I know, only the rpi zero and origional rpi are armv6 and pretty much everything else is v7 these days.

[2019-01-31 18:59] marratj commented on #29
@JoelSpeed I will raise a PR, since I'm directly benefitting from it and it's really small.

Also, I found a way around the ingress-nginx 'bug' with access_by_lua_block as suggested by @brianv0

This actually works with ingress-nginx, so this should also work with any other nginx with the Lua module.
[code]

[2019-01-31 20:34] kskewes commented on #16
Thanks for merging binaries!

Do we want to keep this issue open for tracking the second part; arm docker images?
I'm tempted to wait and see what happens with the `dep` PR linked above before doing any more work with Dockerfiles though.

[2019-01-31 20:45] JoelSpeed commented on #16
So I don't think the dep thing is a problem.

The Dockerfiles we want in the repo are for building releases and pushing to Quay right? People won't be building Dockerfiles on their arm machines

So given we use multi stage builds, we can make our first stage of that amd64 (as it is now) and then just copy the arm binary into an arm based base image for distribution

Have I missed something?

[2019-01-31 21:02] kskewes commented on #16
Okay.
Yeah I agree it's probably a bit of an oddball case to build docker images on arm platform. Most people will have access to amd64 to build if they want/need.
Building on arm is only blocked by my dep PR which is a minor patch that a motivated person could apply in any case.
Leaving this out of scope for now might be an option?
Anyone else in this thread wish to comment?

Regarding your sugge

[2019-01-31 21:48] kfox1111 commented on #16
Have a look at this pr that the helm folks are working on. I think its based on how k8s cross compiles and builds the images:
https://github.com/helm/helm/pull/5039

It might be helpful.

[2019-01-31 22:22] kskewes commented on #16
Thanks for the link, matches my recent learnings. Similar approach to flannel. Will have a go at it soon.

[2019-02-01 06:33] brianv0 opened #36 "Refreshing Behavior is under-defined for OIDC provider"
The refresh behavior isn't clear with respect to how `cookie_refresh` affects tokens. Maybe the problem is the overloading of the word "refresh" in this case, but I'm not sure.

The documentation says:

This sounds like there's some sort of forced interaction with an identity provider to verify authorization. In the OAuth2 case, this sounds a lot like access tokens are supposed to be used to verif

[2019-02-02 18:55] #12 closed

[2019-02-03 13:55] JoelSpeed opened #38 "Project README is too large!"
## Expected Behavior

ReadMe should provide information about the project but not necessarily contain *all* documentation for the entire project.

## Current Behavior

ReadMe has all documentation in it and is hard to navigate

## Possible Solution

Set up GitHub pages with Jekyll [just-the-docs](https://pmarsceill.github.io/just-the-docs/) theme and break the documentation into smaller, more mana

[2019-02-03 21:49] JoelSpeed commented on #38
I've started working on this on a branch [jekyll-docs](https://github.com/pusher/oauth2_proxy/tree/jekyll-docs).

You can get this running locally by checking out the branch and running:

[code]

For the first pass of this I think we should basically just copy and paste the existing documentation into different files and not touch the individual page content

[2019-02-03 23:42] tlawrie commented on #27
Apologies for the delay in getting back to this.

Happy to merge in my previous code as a flag via PR.

@JoelSpeed with regards to the NewManualProvider method, what do you suggest is the best approach. Currently it is stored in a fork of the go-oidc library. https://github.com/tlawrie/go-oidc/blob/v2/oidc.go

Should I submit a PR to go-oidc as well for that to be merged in? Or is there a better w

[2019-02-04 08:09] marratj commented on #29
Fixed with #34

[2019-02-04 08:09] #29 closed

[2019-02-04 10:16] marratj commented on #27
Just had a quick look, the `Provider` struct from go-oidc has its types not exported, so we cannot simply create a Provider from the outside without hooking into go-oidc.

So the two quick options I see for now are either opening a PR with go-oidc to include manual setting of the endpoints or forking go-oidc completely into oauth2_proxy (which also isn't ideal).

[2019-02-04 14:07] JoelSpeed commented on #16
I think this can be closed by #39, can those interested double check?

[2019-02-04 16:16] shouptech opened #40 "BitBucket support"
I work for an org that uses BitBucket Cloud for all of our repos. It'd be nice if oauth2_proxy could be used w/ BitBucket.

## Expected Behavior

It'd be nice if oauth2_proxy has a BitBucket provider.

## Current Behavior

oauth2_proxy can't be used with BitBucket right now. BitBucket supports Oauth2, but not OpenID connect, so a new provider would be needed.

## Possible Solution

Add bitbucket a

[2019-02-04 16:19] JoelSpeed commented on #40
I don't see any reason why we couldn't support this. I don't personally have any way to test that a Bitbucket provider would work however so it would require someone to volunteer to keep it maintained and tested.

it may interest you to know that [Dex connects up to Bitbucket](https://github.com/dexidp/dex/blob/master/connector/bitbucketcloud/bitbucketcloud.go) so you could use Dex to translate Bi

[2019-02-05 02:17] ploxiln commented on #40
https://github.com/bitly/oauth2_proxy/pull/385 may give a useful reference or starting point for a PR adding a bitbucket provider

[2019-02-06 02:53] tlawrie commented on #27
I have submitted the issue to go-oidc (https://github.com/coreos/go-oidc/issues/192)

If that gets resolved / PR submitted then we can fall back on that.

For now, your solution seems to be a good work around. I can try testing it from my end either end of this week or start of next week.

@JoelSpeed what are your thoughts?

[2019-02-06 10:13] JoelSpeed commented on #27
I think it would be cleaner to implement this as [suggested](https://github.com/coreos/go-oidc/issues/192#issuecomment-460894716) using a manually created `oidc.Verifier`.

To me constructing a manual transport seems kinda hacky and as all we need from the `oidc.Provider` is to construct us a `oidc.Verifier`, it serves little purpose to use this route.

Instead, @marratj,  can we make the `if o.Sk

[2019-02-06 10:15] JoelSpeed commented on #27
Each block would need to set `o.AuthURL` and `o.TokenURL` too

[2019-02-06 20:50] rafaelmagu opened #42 "Release links include .gz extension but files are not GZipped"
Links to the binaries in the 3.0.0 release include `.gz` extensions, when in fact the links are just TAR files.

## Expected Behavior

[code]

## Current Behavior

[code]

## Possible Solution

Remove `.gz` from the links, or GZip the TAR files.

## Steps to Reproduce (for bugs)

1. Download one of the binaries.
2. Attempt to `gunzip` it.

## Context

[code]

## Your Environment

Ubuntu Linux 18.0

[2019-02-06 20:56] JoelSpeed commented on #42
Apologies, they were meant to be zipped. The problem will be in the `Makefile` `release` target, I'll double check it and fix. Thanks for bring this to our attention!

[2019-02-06 21:31] #42 closed

[2019-02-07 00:56] MisterWil opened #45 "Auth logging"
## Expected Behavior

I would like to see the ability to configure auth logging separately from request logs. This should specifically include the ability to log directly to a configured file path.

## Current Behavior

All log output is sent to stdout, both requests and error logging. It appears that the error logs flow through a separate logging interface than the request logs. The only way to c

[2019-02-07 10:01] mazzy89 opened #46 "Support for Traefik"
I'd like to ask if any of you has the experience to configure oauth2-proxy with Traefik? Is it supported out of the box?

[2019-02-07 21:32] hblanks opened #48 "Release tar.gz files are actually just tar files"
The v3.0.0 release archives have `.gz` extensions, but aren't, in fact, gzipped.

## Expected Behavior

[code]

## Current Behavior

[code]

## Possible Solution

`tar -czf` would probably do it.

## Steps to Reproduce (for bugs)

[code]

## Context

When running things like `tar -xzf ${ARCHIVE_NAME}` in an install / build script, tar fails.

## Your Environment

[code]

[2019-02-07 21:35] ploxiln commented on #48
just recently fixed in #43

[2019-02-07 22:46] hblanks commented on #48
SGTM. Thank you for your work!

[2019-02-07 22:46] #48 closed

[2019-02-08 11:07] #16 closed

[2019-02-08 11:45] swade1987 opened #49 "Inconsistent config file structure"
## Expected Behavior

I would expect the following:

[code]

## Current Behavior

All other config options are `x_y` apart from proxy prefix, see https://github.com/pusher/oauth2_proxy/blob/402ce6f0cb3501486b959a0e629ba3ad810d390a/options.go#L24

## Your Environment

- Version used:

Master image

[2019-02-08 13:51] JoelSpeed commented on #46
I had a quick check through the docs and it looks like you might be able to use [Forward Authentication](https://docs.traefik.io/configuration/entrypoints/#forward-authentication)

You could check against `/oauth2/auth` the same way the Nginx `auth_request` module does, but Traefik doesn't have a redirection option if that request fails. There are two options here, see if Traefik can capture the 4

[2019-02-08 14:02] marratj commented on #27
I will most probably take a deeper look into the Verifier instead of "smuggling in" the fake HTTP client next week. I will update this issue and the PR #41 accordingly as I go along.

[2019-02-09 14:51] lubo opened #51 "Better Docker image tags"
It'd be great to tag images by major version (e.g. `3`), major + minor version (e.g. `3.1`) and major + minor + patch version (e.g. `3.1.0`). Currently, only major + minor + patch version tags are present on Quay.

[2019-02-09 20:14] JoelSpeed commented on #49
We should fix this as it is an easy fix, it would be good to find a way to do it in a backwards compatible way though, else we should bump to version 4.

Shall have to have a think on that.

[2019-02-09 20:19] JoelSpeed commented on #45
This seems like a sensible enhancement to add. If we can do it in a way that the default values maintain existing behaviour than that would be even better.

We will likely want to use some sort of logging library for this, does anyone have any suggestions?

[2019-02-10 15:01] swade1987 commented on #49
I would propose a walkthrough of `flag` vs `cfg` as some are inconsistent such as:

https://github.com/pusher/oauth2_proxy/blob/402ce6f0cb3501486b959a0e629ba3ad810d390a/options.go#L36

[2019-02-11 09:48] tlawrie commented on #27
@JoelSpeed agreed. I think the suggestion from go-oidc is good. And agree with the approach of `SkipOIDCDiscovery`

@marratj I can test out start of this week as soon as the change is made.

[2019-02-11 13:58] tlawrie opened #53 "-skip-auth-regex flag does not work when using a redirect"
The -skip-auth-regex flag values are only validated against the request path and not the rd= path

## Expected Behavior

If using with redirects, the path to be validated should be the redirect path

## Current Behavior

When integrated with nginx-controller as part of kubernetes, the path will also be the value of the auth path such as `/dev/oauth/auth` which never matches the redirect path of th

[2019-02-11 14:58] agusl88 opened #54 "--whitelist-domain doesn't respect protocol on redirect"
I'm using oauth2_proxy with AWS Cognito. Previously i was using bitly/OAuth2_Proxy and multiple oauth2_proxy pods in k8s to protect all the internal services, now i'm trying to replace those multiples pods with the `--whitelist-domain` setting available in v3.1.0 of this fork.

The problem i'm having is that oauth_proxy is setting HTTP as protocol on the redirect URL, ignoring the callbacks define

[2019-02-11 15:11] ploxiln commented on #54
http vs https is selected for automatic redirect-url based on the cookie-secure option, so if you enable cookie-secure you should get https
https://github.com/pusher/oauth2_proxy/blob/v3.1.0/oauthproxy.go#L256-L257

[2019-02-11 15:30] agusl88 commented on #54
Enabling the flag `--cookie-secure ` worked, but it requires users to have 3th-party cookies enabled in the browser, otherwise they get an error. There is no way to enable HTTPS without having to set cookie-secure set to true?

[2019-02-11 16:11] ploxiln commented on #54
I find this to be a surprising requirement.

Besides a single hard-coded redirect url, no, sorry ... fastest way at this point would be to edit the code and re-build. Or maybe some nginx rules could rewrite the location header.

[2019-02-11 17:30] agusl88 commented on #54
I may have jumped into conclusions too quickly. There was something on my firefox installation causing problems, but seems like it's not related to 3th party cookies, i couldn't reproduce the problem with chrome and 3th party cookies disabled.

After clearing cache and cookies in firefox it started to work just fine. Thanks for the help @ploxiln ! i'm closing the issue.

[2019-02-11 17:31] #54 closed

[2019-02-11 18:43] ploxiln commented on #53
I think more explanation is needed.

It sounds like you're using the `auth_request` mode, possibly with kubernetes nginx ingress?

If the user tries to access (or follows a link to) example.com/actual/app and it is _not_ whitelisted, then oauth2_proxy returns a 40x for the auth_request, and nginx redirects to /oauth2/sign_in or /oauth2/start?rd=... and they have to sign in before being redirected

[2019-02-12 06:45] tlawrie commented on #53
So what we are seeing in the logs is that whilst we set the pattern to be, for example, `/health` the path being compared to is always the `/oauth/auth` path that is coming from the NGINX Controller.

When using this parameter with the Kubernetes Ingress Controller it would mean that it needs to check the `rd=` path and not the `req.URL.Path`

[2019-02-12 06:57] ploxiln commented on #53
Ah, right, if doing `auth_request` then the actual request path normally not included anywhere in the auth request. (The "rd" parameter has never been used for the `/oauth2/auth` endpoint.) If you're doing `auth_request` from an nginx config, then you can have some location blocks with no auth pretty easily. For Kubernetes ingress, I don't know.

[2019-02-13 15:05] aigarius opened #56 "Try to get email from UserInfo before giving up"
Some OIDC providers do not include email in the default IDToken information. In such cases email would need to be requested separately, either via UserInfo interface or via Remote Claims.

## Expected Behavior

To get email in providers/oidc.go:createSessionState check ID token first, if email is not there, request UserInfo and check there, if not there then try resolving a claim for "email"

## C

[2019-02-13 15:08] aigarius commented on #56
There might be situations where email is not provided at all (it is not mandatory), in that case it would be useful to default to the value of "sub" in the ID Token.

[2019-02-13 15:27] newcron opened #58 "Proxy "Fixing" URLs containing double slashes"
I noticed that oauth2_proxy will attempt to "fix" urls that contain two consecutive slashes by issuing a 301 redirect to the fixed URL. In the request log this looks as follows:

[code]

(notice the dash between POST and the path is the upstream - which is empty in this case, indicating that oauth2_proxy takes action itself)

I believe that this is not the ideal behaviour in all cases (see in cont

[2019-02-13 16:02] costelmoraru opened #60 "Session state's email stored in clear in the cookie"
## Expected Behavior
Some enterprises requests that no information should be exposed through the cookie value if **cookie-secret** is provided.

## Current Behavior
However, the current implementation is just base64 encoding the email value, thus exposing the information. In the same cookie, the Session State encrypts the accessToken, IDToken, ExpiresOn and RefreshToken.

## Possible Solution

Dur

[2019-02-13 16:23] ploxiln commented on #60
With the `-cookie-httponly` and `-cookie-secure` options, both of which are enabled by default, the browser will only send the cookie over https to the server running oauth2_proxy. For what it's worth.

[2019-02-13 16:31] ploxiln commented on #58
This is a long-standing problem due to using the go standard-library http.ServeMux unfortunately:
https://github.com/bitly/oauth2_proxy/issues/179 https://github.com/bitly/oauth2_proxy/issues/506

[2019-02-13 16:34] costelmoraru commented on #60
In the session_state in the `EncryptedString` and `DecodeSessionState` functions, we can include the `accountInfo()` as encrypted instead of heaving them in clear.

If you agree I can do a PR with this fix.

@tlawrie, @JoelSpeed

[2019-02-14 07:21] tlawrie commented on #27
@marratj let us know if you want us to push a PR for the change.

[2019-02-14 07:38] marratj commented on #27
@tlawrie I will most probably not be able to work on it myself until beginning of next week, so if you want to go ahead before that, feel free :)

[2019-02-14 08:11] jauco opened #61 "oauth proxy does not call my Userinfo endpoint to determine the user's email"
## Expected Behavior

I am using the openid provider satosa which does not return the email as a claim inside the "identity token" (not sure what the correct name is) but expects the RP to call the userinfo endpoint to recieve that.

This seems to be ok according to the spec? And I see a configuration option where I'm able to provide the userinfo endpoint to oauth2_proxy.

So I expect the endpoint

[2019-02-14 08:13] jauco commented on #61
though. It seems my issue is a duplicate of #56 I searched the issue tracker but probably on the wrong keywords.

Oh, it seems when I searched yesterday afternoon that issue was not yet reported :)

[2019-02-14 08:13] #61 closed

[2019-02-14 13:48] rmoriz commented on #30
there is a PR at https://github.com/bitly/oauth2_proxy/pull/395

[2019-02-14 17:09] andresmgot opened #62 "Support for WebSockets"
I am using oauth2_proxy and one of the connections open a WebSocket but I am not sure if that's supported. So far I have tried to disable the proxy for the specific URL that opens the websocket (`-skip-auth-regex=/api/kube/.*`) but with that I receive an error 403.

## Expected Behavior

The server should receive the header `Sec-WebSocket-Protocol` with the bearer token and returns a `101` `Connec

[2019-02-14 17:59] framillien commented on #30
Hello, migrating from 3.0 to 3.1 fix this issue for me. I have removed option "-skip-provider-button", since original URL was not respected.

But this is now fixed in last version. Looking at code, it's the expected fix : take redirect from URL instead of unpopulated "rd" parameter (since "rd" is populated by skipped page)

Thanks,

[2019-02-14 20:02] ploxiln commented on #62
I noticed that go-1.12 will add WebSocket support to httputil.ReverseProxy (which oauth2_proxy uses)
https://tip.golang.org/doc/go1.12#net/http/httputil

[2019-02-14 22:52] Ghazgkull opened #64 "oauth2_proxy configured with oidc provider quietly does not sign in"
## Context
I am trying to use oauth2_proxy to add Okta authentication to a browser-based application (Kibana).

Following all the information I could gather from the README, Issues, and PRs, I've done my best to configure oauth2_proxy for this purpose. I've gotten to the point that attempts to access my application are properly intercepted by oauth2_proxy and I see the sign-in page. But at this po

[2019-02-15 10:45] andresmgot commented on #62
Thanks for the response @ploxiln. I have built the oauth2_proxy image using `golang:1.12-rc-stretch` as base image but the result is the same. Is there something else that I can try?

[2019-02-15 20:36] lubo commented on #51
@JoelSpeed Ping.

[2019-02-15 22:46] devster31 commented on #46
This should be possible. I'm using the following to test the authorization on `traefik`'s dashboard page:
[code]
the request goes to the Sign In page, it authorizes with GitHub as expected, however the final callback returns an HTML with:
[code]
Logs for requests
[code]

[2019-02-18 11:23] JoelSpeed commented on #56
This would be a sensible improvement to make but is probably a fairly substantial change, gonna leave this as `help-wanted` for now and see if anyone picks it up. If not I might have some time in the not too distant future

[2019-02-18 11:42] JoelSpeed commented on #58
I'm not sure what we can do about this, I saw suggestion in one of the links I clicked about replacing `NewSingleHostReverseProxy` with a slightly different implementation which wouldn't normalize the URLs but I don't know if that would fix the problem.

Does anyone have any time to try something like this?

[2019-02-18 11:50] JoelSpeed commented on #60
@costelmoraru What is the problem with this approach? In this case the cookies are only available by the browser to be sent over HTTPS (so no man in the middle reading the cookie) and can't be read by client-side scripts (so no malicious scripts finding anything out), the only real way to see the content would be on the user's machine using something like developer tools? But I would expect the us

[2019-02-18 15:06] JoelSpeed commented on #64
Hey @Ghazgkull,

I appreciate our Documentation currently sucks, I have a personal project on-going in which I hope to improve the situation of our documentation but it may take some time before that is done. Please bear with us!

It looks to me like the problem you are having is that the `proxy-prefix` isn't being honoured when redirecting to start by the start button, `GET - "/oauth2/start?rd=%2

[2019-02-18 15:42] JoelSpeed commented on #62
@andresmgot Do you have time to try merging the changes from https://github.com/bitly/oauth2_proxy/pull/554 into a branch and testing this with your setup?

[2019-02-18 16:03] JoelSpeed commented on #51
Hey @lubo,

I'm not sure how I feel about these kinds of tags and have been trying to work out what I'd like to do about this going forward.

This style of tag can be great for large and firmly rooted software projects that have lots of maintainers and thorough release processes and very strict semver coherence. For a small project like this, where we have just taken over the ownership and are not

[2019-02-18 16:11] JoelSpeed commented on #46
@devster31 This would be good to have in the documentation if you have time to create a PR

[2019-02-18 16:40] lubo commented on #51
Hi, @JoelSpeed. Yes, it makes perfect sense. If the project doesn't strictly follow semantic versioning, then it's not very useful. But if it did, using minor tags in production shouldn't be a problem if the project publisher is trusted and the app is tested thoroughly, and it'd allow the operators to have more self-maintained infrastructure. Other tags, i.e. major and `latest`, are pretty much ju

[2019-02-18 17:35] devster31 commented on #46
Well it's not working yet, not sure it's relevant to include.

[2019-02-20 09:43] marratj commented on #27
I have updated #41 to use the recommended solution by go-oidc.

[2019-02-20 20:12] Ghazgkull commented on #64
@JoelSpeed Yes, the `proxy-prefix` setting was the issue. Or rather, my interpretation of how it should behave.

I expected that `proxy-prefix` is a way for me to configure the proxy path that `oauth2_proxy` is *behind*. I expected that `oauth2_proxy` would prepend `proxy-prefix` to any paths it gives out. But I didn't expect `proxy-prefix` to affect the route handling within `oauth2_proxy` itself

[2019-02-21 15:36] einfachchr opened #69 "ClearSessionCookie doesn't work for splitted cookies"
Session cookies will be splitted if they're too large. On logout ClearSessionCookies should remove
all cookies. That does not work if cookies are splitted due to naming

## Expected Behavior

ClearSessionCookies should remove all cookies set on login.

## Current Behavior

When a user logs in SetSessionCookie() is responsible for setting an cookie with user information. The cookie is
created by Ma

[2019-02-22 12:31] jeremych1000 opened #71 "Adding support for groups in Azure Active Directory"
Hi :)

Currently I'm using oauth2-proxy in putting tools and applications behind Azure AD integration. It works very well, thanks.

However, there is currently no option to get groups from AD, and pass this in a header back onto the tools and applications to do RBAC.

There is an open pull request on the old fork - any chance we can get this reviewed and merged?

https://github.com/bitly/oauth2_pr

[2019-02-22 17:55] Ghazgkull opened #72 "oauth2_proxy stripping out content-length header?"
## Expected Behavior

When a request is proxied by oauth2_proxy, all headers are proxied to the upstream.

## Current Behavior

If I make an authenticated GET request with a `content-length: 0` header, the header is not sent to the upstream.

Interestingly, if I set tell oauth2_proxy to skip auth for the affected route (e.g. `skip-auth-regex: /api`), then the proxy *does* pass the headers through.

[2019-02-23 01:06] ploxiln commented on #72
Most arbitrary headers are passed through. Content-Length is handled specially by the Go http client which is used by the Go reverse proxy. Here's the relevant bit:
https://golang.org/src/net/http/transfer.go#L260

For a `GET` request, `Content-Length: 0` is implied, and it considers it not needed.

[2019-02-23 13:58] dannyyy opened #73 "--authenticated-emails-file fully ignored"
I set up `oauth2-proxy` through the stable Helm chart `helm install stable/oauth2-proxy`.
Through the `answer.yaml` I did the following overrides from the default:
[code]
The pod is spinned up with the following params:
[code]

## Expected Behavior

After calling a protected domain I should be forwarded to the identity provider and after a successful authentication process redirected to my applica

[2019-02-23 16:34] ploxiln commented on #73
Remove the option `--email-domain=*` - it is an OR operation between that and `--authenticated-emails-file`

[2019-02-23 20:07] dannyyy commented on #73
@ploxiln Thank you. But I had to remove the `--email.domain=*` line after installing the Helm chart within the `deployment`. Is there any solution to remove a property from a `values.yaml`? With my `answer.yaml` I can only override and Helm will deep-merge these two. I have read that `~` or `null` should help. But in my case the pod/deployment turned into `unavailable` status.

[2019-02-25 02:42] jurgenweber opened #74 "login loop using ingress nginx, auth_request always returning 401"
## Expected Behavior

Go to the ingress hostname for the first time, be greeted with google login.
Select google account, redirect to application setup to be behind hostname.

## Current Behavior

Go to the ingress hostname for the first time, be greeted with google login.
Select google account..... Select google account.... Select Google account.

I can see in ingress nginx that the auth_request

[2019-02-25 08:37] lentzi90 opened #75 "Skip validation of upstream certificate"
Even with `-ssl-insecure-skip-verify` it is not possible to use a self-signed certificate for the upstream.

## Expected Behavior

Upstream with self-signed certificate (such as default kubernetes dashboard deployment) should work if oauth2-proxy is configured with `-ssl-insecure-skip-verify`.

## Current Behavior

Oauth2-proxy still tries to verify the certificate and fails with the following err

[2019-02-25 09:53] JoelSpeed commented on #74
We really need to improve the documentation here, apologies!

Can you check which domain the `set-cookie` header is being set for when you complete your authentication on the proxy?

 I think you might need to set `cookie-domain` to match your `whitelist-domain` flag, can you try that and see if that helps?

[2019-02-25 10:13] jurgenweber commented on #74
ok, I had a wildcard in for the whitelist but for testing sake to see it work, I just hard coded both cookie-domain and whitelist-domain to the same value... This seems to have made things worse. :)

[code]

[2019-02-25 10:18] jurgenweber commented on #74
aaah, so with your clue and a little bit of experimentation...
URL/Domain I am logging into:
[code]

[code]

Yeah, some more documentation would help... It took me all morning to work out that the whitelist-domain was mandatory and that is why everything I was logging into was going to "/". :)

[2019-02-25 11:29] JoelSpeed commented on #74
Yes I believe you're findings match our configuration here, I'm out of office right now so can't check unfortunately

If you have some time to update the docs I would appreciate it. The whitelist domain flag is, as you say, mandatory if (and only if) you wish to host the oauth2 proxy on a separate domain to the ones you are protecting. A short guide for using this with the nginx Auth request mode

[2019-02-25 16:07] ploxiln commented on #75
You don't really want to use this to connect to an upstream with a self-signed cert in a normal/production situation, because it applies to requests to the provider (google, github, etc) as well. So it would be better to use plain http to connect to the upstream, which should be fine if it is on the same network segment (VPC, lan, cluster, etc), so that requests to the remote provider are secure.

[2019-02-25 16:10] ploxiln commented on #75
(By the way, in my own fork, I did the insecure transport a bit differently: https://github.com/ploxiln/oauth2_proxy/commit/84305f7485bf53b2125a8e97a3246fdf1f9878eb)

[2019-02-25 16:23] JoelSpeed commented on #75
Perhaps a separate insecure upstream flag is required so that the two can be separated, this is kind of what I would expect of a proxy like this

[2019-02-26 08:39] aamberliu opened #77 "store group email address in header"
I've set up Google groups to authenticate users. But currently the x-forwarded-user is the user email address instead of group email address that the user belongs to. I need the group email address to intercept calls in a reverse proxy server. Is there a way to get the group email address/user?

## Expected Behavior
Want to access group username, such as X-Forwarded-Group-Name

## Current Behavior

[2019-02-26 11:02] jeremych1000 opened #78 "Running the container as non-root"
## Expected Behavior
The container only contains a single binary, and therefore should be able to run without the need for root.

## Current Behavior
The container runs as root, as there is no USER defined in the Dockerfile. This is not best practice, and opens unnecessary conversations with people who utter the word 'security' every few words ;)

## Possible Solution
Add a USER line in the docker

[2019-02-26 22:23] artyomtkachenko commented on #72
I am facing exactly the same issue with Kibana. @Ghazgkull  have you found any workaround for it?
--skip-auth-regex trick works fine for me, but I am looking for something more secure.

[2019-02-27 01:07] Ghazgkull commented on #72
@artyomtkachenko Yeah, since it sounds like oauth2_proxy isn't usable as an actual proxy, I've gone the route of setting up a simple nginx deployment/service/configmap which I use as the actual proxy. oauth2_proxy is then configured only to perform authentication for the nginx service using the auth-request module as explained in the README.md of this repo.

It's working fine and now I'm just goin

[2019-02-27 01:11] Ghazgkull commented on #72
@artyomtkachenko In case it helps, here's where I'm at with my nginx.yaml. Notice that a couple parts are hard-coded to my setup currently. I'm running Kibana behind an istio gateway under the `/logs` route, which is why you'll see that path segment in the URLs. And the hostnames are specific to my k8s service names:

[code]

[2019-02-27 01:24] artyomtkachenko commented on #72
Thank you very much for sharing your thoughts @Ghazgkull .
I am planning to go the same way. I also found [this blog post ](https://blog.n1analytics.com/oauth2-lets-encrypt-and-k8s/) where it was solved with an ingress object, but it is a bit different to the Istio approach.

[2019-02-27 04:28] KSchmeeds opened #79 "proxy_pass http upstream causes 414 Request-URI Too Long: Buffer overflow detected"
## Expected Behavior

Using the Nginx auth request with a 401 redirect to oauth2_proxy with an http upstream service, I should be redirected to the site after login.

## Current Behavior

After going through the oauth2 sign-in flow, I receive 414 Request-URI Too Long: Buffer overflow detected

## Steps to Reproduce (for bugs)

Nginx config file for affected site

[code]

## Context

I started runn

[2019-02-27 04:32] jurgenweber commented on #74
ok, another question.

The power of having the oauth-proxy on its own domain is that you can have many things use it to login. Is there a way to have per domain ACL on it?

domain1.k8s.example.com
--> allow email domain example2.com
domain2.k8s.example.com
--> Allow email user bob@example2.com, rob@example2.com

does that make sense? Or so I need to have a separate proxy for each one?

[2019-02-27 05:09] ndevireddy opened #80 "oauth2 does not honour http_proxy environment variable"
Oauth2 command line should detect the environment variables such as http_proxy and https_proxy and use them while accessing the redirection urls.

We are running oauth2 behind a corporate proxy and it is having trouble reaching our corporate github server. I do not see any option to provide http_proxy info in the oauth2.conf file

oauth2 command line should honour the environment variables ( syste

[2019-02-27 08:32] ploxiln commented on #80
Did you happen to use the flag `-ssl-insecure-skip-verify`? The go default http transport _should_ honor the `http_proxy` environment variable, but if you use that flag, it is replaced by a transport which incidentally does not.

[2019-02-27 09:18] elsesiy commented on #12
Hi @JoelSpeed,

I'm facing the same issue and have been trying to get the described setup working but the redirect to the downstream ingress doesn't work. Do you have some more documentation on how this exactly should look like?

Here's what I did:

1. Install the chart
[code]

2. Create the ingress for oauth2_proxy:
[code]

By now browsing `https://login.mydomain.com/oauth2/sign_in` works as expe

[2019-02-27 09:43] omerlh commented on #71
I want something similar - having similar ability to `-google-group`: specifying a group that the user must be a member of in order to be able to login.

[2019-02-28 03:12] pappavic opened #81 "How to run as a docker container"
I am trying to run this as a docker container, here is my command:

[code]

The output tells me it's listening to 127.0.0.1:4180, but when I curl that address. I'm getting
`Failed to connect to 127.0.0.1 port 4180: Connection refused`

How do I get to the home page shown at the top of the README?

[2019-02-28 03:25] ploxiln commented on #81
`-P` won't work, for a couple reasons:
  * there are no EXPOSE directives in the dockerfile
  * `-P` uses random ports, not matching ports

so replace `-P` with `-p 4180:4180` or alternatively with `--net=host`

[2019-02-28 04:04] pappavic commented on #81
Ah that makes sense. After adding that port mapping I'm now getting:
`curl: (52) Empty reply from server`

[2019-02-28 04:54] jurgenweber commented on #74
yeah, so I am trying a another proxy install for the site I want to have email users:

[code]

[2019-02-28 05:07] ploxiln commented on #81
look at container logs. it's not running because you're missing the `--email-domain=...` option

[2019-02-28 05:33] pappavic commented on #81
I have used --email-domain option and logs don't show anything after `2019/02/28 05:29:33 http.go:52: HTTP: listening on 127.0.0.1:4180`

Is there a debug option for more verbose logging?

[2019-02-28 06:12] ploxiln commented on #81
If curl is still getting "empty reply from server" then you're just dealing with docker and OS complications now. It may be easier to get started with the stand-alone binary you can download from the releases page.

[2019-03-02 03:37] kskewes commented on #81
I think it's due to specifying `--http-address="127.0.0.1:4180".

This works for me:
[code]

[2019-03-04 13:54] #27 closed

[2019-03-05 10:55] benfdking opened #86 "Running On GKE"
Ideally, I would like oauth2_proxy to work, with it exposed to the internet on GKE with an GCP ingress and then pointing on to a different service upstream.

## Expected Behavior

Setup as sidecar for the deployment of interest and point a to the container of interest as an upstream.

## Current Behavior

The service is marked as unhealthy by the ingress.

## Possible Solution

Somehow make root p

[2019-03-05 14:58] JoelSpeed commented on #9
This is now fixed since #10 has been merged

[2019-03-05 15:56] benfdking commented on #86
The way I have currently got it working is by putting the following in between the GKE ingress and the reverse proxy.

[code]

[2019-03-05 16:04] benfdking commented on #86
The proxy outputs
```127.0.0.1 - - [05/Mar/2019:15:59:09 +0000] masked GET - "/" HTTP/1.1 "GoogleHC/1.0" 403 2511 0.000```. I presume the `GoogleHC/1.0` is an http header and could easily be handled?

[2019-03-05 16:37] Ghazgkull commented on #9
Awesome, thanks. For planning/adoption purposes, might I ask how soon we could expect to see a new Release available with this fix?

[2019-03-05 16:52] JoelSpeed commented on #86
`GoogleHC/1.0` is the user agent string, so yes, could be handled as an exception.

I'm not a GCP user so don't know how their ingress works, is there no way to configure the health check for the service to be on a non-root URL? That should be a pretty standard ingress feature I would have thought

[2019-03-05 16:54] JoelSpeed commented on #9
There are a couple of PRs open for optimizations and bug fixes that I would like to get merged before we make a new release, hopefully this should be within the next couple of weeks

[2019-03-05 20:32] #78 closed

[2019-03-06 08:17] benfdking commented on #86
Nope, it isn't possible to set the URL. It is very very annoying! I will build a wrapper and test it. I will also try and do the `healthz` endpoint. Is there anything we could actually be health checking? Possibly pinging the oauth provider?

[2019-03-06 09:48] JoelSpeed commented on #86
This is quite frankly shocking... I would have thought that would be a standard feature 😞

Sure. The alternative is to try and set the root path to return a 200 response if the user agent is `GoogleHC/1.0`, I don't know how complicated that would be to implement though

I'm not particularly sure, I think the health endpoint just needs to respond OK to allow LBs to check the process is routable and

[2019-03-06 10:00] JoelSpeed commented on #74
--> allow email domain example2.com
domain2.k8s.example.com
--> Allow email user bob@example2.com, rob@example2.com

At present you will need a separate proxy for each one

Can you inspect the responses when setting the cookie and check that the browser is storing the cookie you expect?

[2019-03-06 17:44] Aerion opened #88 "Plan to handle multiple providers at once?"
Is there any plan to support **multiple providers**?

It would be useful if the service wants to authenticate two users X and Y where:
* X has a Google account but **doesn't have** a Github account
* Y **doesn't have** a Google account but has a Github account

This could be presented as follows.
![multiple_providers_idea](https://user-images.githubusercontent.com/9089317/53901189-a6142980-403e-11

[2019-03-06 22:09] jurgenweber commented on #74
Yeah, I had to create another proxy on another domain and match all the settings for the two authentication scopes I was after.

[2019-03-07 00:05] terala opened #90 "Structured logging"
Structured logging to a json line format will greatly help log collection and processing in tools like elastic, splunk, etc.

## Expected Behavior

Log lines should be done in json, so the fields end up as first class citizens within the log and allows easy log ingestion into splunk, elastic, etc. The log levels and location should be configurable so other agents can pick them up and manage them a

[2019-03-07 03:57] Ghazgkull commented on #9
@JoelSpeed I went ahead and tested this change today and the behavior isn't what I expected.

I thought this change would update oauth2_proxy so that it would simply hand out whatever redirect-url was configured. I expected this would allow me to configure oauth2_proxy with a redirect url independent of the proxyPrefix used for internal routing.

For example, I am running oauth2_proxy with the def

[2019-03-07 04:04] Ghazgkull commented on #9
Looking at the PR (https://github.com/pusher/oauth2_proxy/pull/10/files), I feel like the change to oauthproxy.go lines 186-188 are good because they fix the proxy to hand out whatever redirect-url was configured. But the change to oauthproxy.go line 223 is incorrect; that line should have been kept the same to keep oauth2_proxy's internal routing consistent based on the proxy path.

[2019-03-07 04:05] Ghazgkull commented on #9
@dt-rush Please see my comments above. What do you think?

[2019-03-07 11:24] benfdking commented on #86
Just http middleware that returns 200 in the case that the request is `/` and that the User Agent is `GoogleHC/1.0`

[2019-03-08 20:39] Ghazgkull commented on #9
@JoelSpeed Can we re-open this issue? I really think that the PR which was merged is badly flawed.

[2019-03-08 20:47] ploxiln commented on #9
I suggest opening a PR with your suggested adjustment, and having further discussion there.
(I think you're right, btw.)

[2019-03-09 10:05] JoelSpeed commented on #9
@Ghazgkull Please open a PR with your suggested change as @ploxiln has suggested and I will take a look

[2019-03-09 20:05] cemo opened #94 "Using Google Group Mailing List"
Thanks for maintaining this project first of all.

OAuth based proxy solutions started to appealing. I have a scenario in which I have a regular google group (not a gsuit based custom domain group).

Is it possible to use google oauth with a regular google group?

[2019-03-09 21:50] ploxiln commented on #94
If you mean "Google Groups" mailing-lists, then no, sorry.

[2019-03-10 10:23] cemo commented on #94
Let me first of all describe my use case. Google Data Studio has ability to authenticate by Google Groups. I have created and assigned an email list to each report. However managing these reports alone is not easy. Instead of giving people report pages, I would like create a dashboard to list all reports to our users. This page a simple dummy page and However I want to authenticate users to see it

[2019-03-10 19:22] devster31 commented on #46
I'm still facing an `http: named cookie not present` unfortunately.
I also noticed there seems to be no way to debug internal requests and headers unfortunately (no `--verbose` or `--debug` options).
I can't do much more, I'm leaving the last config I have for posterity:
[code]

[2019-03-11 04:42] KSchmeeds opened #95 "G-Suite Groups with users outside domain unable to be authorized"
## Expected Behavior

All members inside the specified G-Suite group should be able to authenticate.

## Current Behavior

Users in the group belonging to the same G-Suite organization are able to authenticate, but users outside the domain or regular gmail users can not.

## Steps to Reproduce (for bugs)

1.  Setup Oauth2_Proxy with Google group authorization as described in the readme.
2.  Add a

[2019-03-11 09:26] JoelSpeed commented on #46
I can't see any mention there of forwarding of the `Set-Cookie` header, do you know if Traefik does this internally as Nginx does?

You may also want to try explicitly setting the `cookie-domain` to the domain (or a parent domain) of the website you are trying to protect here

[2019-03-11 09:35] JoelSpeed commented on #95
I believe this is a limitation on the Google API.

The way this works is by using a Google service account within your GSuite. You give this service account two permissions, one to read the group's within your organisation and one to read the users within your org.

The problem here is that the service account doesn't have permission to read users outside of your org and throws this error.

If I r

[2019-03-11 09:37] JoelSpeed commented on #94
I think this is the same as #95, @cemo could you confirm if you are wanting the same behaviour?

[2019-03-11 10:35] cemo commented on #94
@JoelSpeed same issue. I will close this one and follow yours since it is better described.

[2019-03-11 10:35] #94 closed

[2019-03-11 10:41] devster31 commented on #46
Regarding the `Set-Cookie` I don't know if Traefik does it. I tried including it in `authResponseHeaders` but it didn't seem to work.
I'll do another round with `cookie-domain` and see if it changes anything.

[2019-03-11 20:10] timothy-spencer opened #97 "Nonce in login.gov should be per-session"
## Expected Behavior

The login.gov provider in https://github.com/pusher/oauth2_proxy/pull/55 creates a nonce that is used for the lifetime of the proxy, rather than doing it per-session, which is the proper behavior.

## Current Behavior

The login.gov provider creates the nonce during the LoginGovProvider initialization and then uses it for the life of the proxy.

## Possible Solution

The code

[2019-03-11 21:32] KSchmeeds commented on #95
Hi Joel,

I tried out the the idea of the API being the limiting factor, so I checked the group membership using [GAM with the print group-members](https://github.com/jay0lee/GAM/wiki/GAM3DirectoryCommands#print-group-members).  It did return all users in the group, even those with an @gmail.com address.

My knowledge with using the API is rather limited, but I think we just need oauth2_proxy to u

[2019-03-11 22:52] JoelSpeed commented on #95
Ok that sounds like good news to me, we may be able to fix this!

Do you happen to have an example of the API request you made and a maybe even a sample response? Might help us to find the right implementation from the SDK

[2019-03-11 23:10] Berjou opened #98 "Panic at startup on the latest docker image"
## Current Behavior

Updating to the latest docker image (6c9a468325f2), all my oauth2_proxy containers panic at startup.

[code]

## Steps to Reproduce (for bugs)

1.  Update to the latest docker image
2.  Reup your docker-compose without changing anything
3.  `docker-compose logs -f` shows me the previous panic stack

## Context

It seems that this bug appears on the build generated by the merge

[2019-03-11 23:37] ploxiln commented on #98
the issue is that #92 updated the version of github.com/mreiferson/go-options being used

[2019-03-12 01:08] KSchmeeds commented on #95
I can't find exactly which API call GAM uses when doing the "gam print group-members" command, but I think it might be using [this one](https://developers.google.com/admin-sdk/directory/v1/reference/members/list).

[It looks like they also have this one](https://developers.google.com/admin-sdk/directory/v1/reference/members/hasMember), that returns a true/false if the user is a member of the group

[2019-03-12 03:44] Ghazgkull commented on #9
@ploxiln @JoelSpeed Oh. Derp. I just opened PR 99, but I see you guys already made the change. Cheers.

[2019-03-12 04:17] ploxiln commented on #9
nope, sorry to cause confusion, that was related to my fork, which has diverged, the fix is not in this repo

[2019-03-12 16:49] JoelSpeed commented on #9
@ploxiln @Ghazgkull could you take a look at https://github.com/pusher/oauth2_proxy/pull/101 and verify that this is the change we need to make here?

[2019-03-12 17:33] #9 closed

[2019-03-13 00:23] Berjou commented on #98
Indeed. This is the exact commit that cause the issue: https://github.com/mreiferson/go-options/commit/0c63f026bcd6dea4266dc61d845d8db1043f75e5.
`* use Get() rather than String() for flag values`

[2019-03-13 01:17] Berjou commented on #98
The panic is raised line 86 of https://github.com/mreiferson/go-options/blob/master/options.go:

`v = flagInst.Value.String()` -> `v = flagInst.Value.(flag.Getter).Get()`

However, `flagInst.Value` does not implement the `Getter` interface. I'm completely inexperimented in Go, but for my understanding, the problem here is that in https://github.com/pusher/oauth2_proxy/blob/master/main.go, we have

[2019-03-13 01:24] ploxiln commented on #98
That is correct, a `Get()` method needs to be added for the `StringArray` type

[2019-03-13 18:34] devster31 commented on #46
`-cookie-domain` seems to fix it
To recap, here the options which would make it work (apparently)
**labels in whichever service needs authentication**
[code]
and the following is the config I used for GitHub
[code]
I separated `auth-domain` and `traefik-domain` even though one is a subdomain of the other, not sure about the implications of this.
Two things to note:
* the `;` is particularly import

[2019-03-13 18:42] flowstate commented on #98
I added a `Get()` to `StringArray` and it still failed exactly the same way:

`
// StringArray is a type alias for a slice of strings
type StringArray []string

// Set appends a string to the StringArray
func (a *StringArray) Set(s string) error {
	*a = append(*a, s)
	return nil
}

// String joins elements of the StringArray into a single comma separated string
func (a *StringArray) String() strin

[2019-03-13 18:53] ploxiln commented on #98
`Get()` needs to return `interface{}` explicitly.

There is actually another project with the same type and usage which adapted for this first:
https://github.com/nsqio/nsq/blob/master/internal/app/string_array.go

[2019-03-14 22:28] cbbba18 commented on #62
Hi, I tried using bitly/oauth2_proxy#554 and got oauth2-proxy websockets working with a basic nodejs websocket connection successfully.   Works great.   But when I try with Jupyterlab (Tornado Server) I get "Error during WebSocket handshake: Unexpected response code: 500".   Any ideas why tornado server in jupyter would have issue?

[2019-03-14 22:34] ploxiln commented on #62
this feature was completed (a bit differently I think) and merged in https://github.com/pusher/oauth2_proxy/pull/92

[2019-03-15 07:19] JoelSpeed commented on #69
Fixed in #70 🎉

[2019-03-15 07:19] #69 closed

[2019-03-17 15:06] michaelajr commented on #75
Hit this issue today as I was setting up a proxy for the Dashboard.

[2019-03-17 22:41] betabandido opened #105 "Azure provider: Unexpected audience causes invalid bearer token"
I am using oauth2_proxy behind Kubernetes ingress nginx to allow users of the cluster to access its dashboard.

Pretty much everything seems to work well (e.g., the authentication bearer token is correctly forwarded to the dashboard from nginx). But the token obtained from Azure contains the wrong audience (at least from the point of view of what Kubernetes expect). I can see the following error m

[2019-03-18 09:47] JoelSpeed commented on #105
I'm wondering if you could attempt to set up the OIDC provider to point to azure? You could try the OIDC issuer as `https://login.microsoftonline.com/<tennant>` and see what happens?

[2019-03-18 15:48] kfox1111 commented on #75
I struggled getting this working over the weekend too. I ended up with launching the kube-dashboard and oauth2_proxy charts, with this annotation for the dashboard:
[code]

Some of the annotation only works on nginx-ingress 0.22 but not 0.20. fyi.

and for oauth2_proxy:
[code]

I'm sure some of the things are not required so might be able to simplify it a bit. I got stuck for many hours and the se

[2019-03-18 16:57] maxh8086 opened #106 "Kubernetes Dashboard login using ADFS oAuth2"
Need Provider details to be included in request URL  in order to get ADFS authentication along with custom claim.

Present URL Generated by oAuth2 Proxy:

https://adfssrv.domain.com/adfs/oauth2/authorize/?approval_prompt=force&client_id=4a3f41ff-2fc7-41c0-b0x0-b5ab2bf23fc9&redirect_uri=https://dashboard.domain.com/oauth2/callback&response_type=code&scope=openid+email+group&state=3f48de9a1bd5104361

[2019-03-18 19:52] cemo commented on #95
@KSchmeeds hasMember seems not working for outside of the domain but `get` is working. See:

https://developers.google.com/admin-sdk/directory/v1/reference/members/get?apix=true

[2019-03-19 03:10] r0fls opened #107 "Clarify OIDC connection instructions"
I cannot determine the difference between steps 2 and 3 of the OIDC dex connection example. I'm trying to follow: https://thenewstack.io/single-sign-on-for-kubernetes-dashboard-experience/

Though use a second OIDC provider instead of gsuite as the authorization mechanism.

Step 2:

I would assume by the end of this step oauth2_proxy is already running.

Step 3:

Though here it seems to say to sta

[2019-03-19 03:45] r0fls commented on #107
It also references a "fixture use" (I assume that should say user?) from the [dex getting started guide](https://github.com/dexidp/dex/blob/master/Documentation/getting-started.md) that is not referenced there at all (searching "fixture" yields nothing on that page).

[2019-03-19 04:42] r0fls commented on #107
Whoops I think I'm actually supposed to be setting up the second provider in dex, so things are starting to make sense. I'll keep working on this. I'm still confused about needing to login to dex to start the oauth2_proxy though.

[2019-03-19 04:42] #107 closed

[2019-03-20 08:09] maxh8086 commented on #106
Hello Team,

as per below KB MS ADFS do not provide Custom claim without specifying resource in request URL.

https://docs.microsoft.com/en-us/windows-server/identity/ad-fs/development/custom-id-tokens-in-ad-fs

on other side without specifying API Details with request URL Token will be issued without email, group (Custom claim). while using same token to get user info URL ADFS will return only Su

[2019-03-20 09:15] maxh8086 commented on #105
Pointing to Similar resolution of ADFS :

https://docs.microsoft.com/en-us/azure/active-directory/develop/v1-protocols-oauth-code

[2019-03-20 14:24] maxh8086 commented on #106
Another update : similar issue has been handled by golang-

https://github.com/golang/oauth2/issues/112

config := &oauth2.Config{
	ClientID:     "my-client-id",
	ClientSecret: "my-client-secret",
	RedirectURL:  "https://localhost",
	Endpoint: oauth2.Endpoint{
		AuthURL:  "https://login.microsoftonline.com/common/oauth2/authorize",
		TokenURL: "https://login.microsoftonline.com/common/oauth2/token

[2019-03-20 16:56] elsesiy opened #109 "Describe ingress setup for dynamic callback urls"
Hi @JoelSpeed,

I'm facing the same issue described in #12 and have been trying to get the described setup working but the redirect to the downstream ingress doesn't work. Do you have some more documentation on how this exactly should look like?

Here's what I did:

1. Install the chart
[code]

2. Create the ingress for oauth2_proxy:
[code]

By now browsing `https://login.mydomain.com/oauth2/sign_

[2019-03-20 17:54] Berjou commented on #98
I have just tested the latest docker image, this issue seems to be solved.

[2019-03-20 17:54] #98 closed

[2019-03-20 17:55] JoelSpeed commented on #98
Thanks 😀

[2019-03-22 20:27] betabandido commented on #105
@JoelSpeed I have tried using the OIDC provider, but I have run into a few issues.

First, the issuer returned by Azure is not the same as the one sent. So, I get the following error from https://github.com/coreos/go-oidc/blob/v2/oidc.go#L123

[code]

I manually disabled the check in the `go-oidc` library and the different provider parameters (authURL, tokenURL, etc.) seem to be actually obtained

[2019-03-22 20:33] ploxiln commented on #105
It seems like OpenID-Connect is just as inconsistently implemented as Oauth2, and separate "provider" code tends to be needed for each ... it's just especially unfortunate that there seems to be 2 or 3 different Microsoft products with "Azure" in the name that all need different "provider" code to handle their quirks.

[2019-03-22 21:43] gyson commented on #62
@cbbba18  I got similar issue. I made some investigation and made a fix at #112.

[2019-03-24 09:18] gripenk commented on #81
I also meet this problem. I can use pre-release binary to run the proxy. But I meet issue#53, thus, I try to use docker image

env: CentOs 6.10, Docker version 1.7.1

docker run --name oauth -p 4180:4180 -d quay.io/pusher/oauth2_proxy -provider oidc -client-id changeit -client-secret changeit -redirect-url https://myhost.example.com/oauth2/callback  -oidc-issuer-url https://GITLAB  -cookie-secret

[2019-03-25 17:38] maxh8086 commented on #106
Ad per Microsoft KB for ADFS, resource URL must be included in every request Sent to ADFS Server, While retrieving token from ADFS, ADFS will return additional claims as defined in ADFS Settings. on getting user profile info using same token along with resource URL, it will return all user profile properties as per custom claim configuration. these are the property like, first name, last name, ema

[2019-03-26 12:50] jeremych1000 commented on #78
Will this change be included in the next release?
Right now I can't version lock the docker image as this is only in latest/master.

[2019-03-26 15:04] JoelSpeed commented on #78
Yes, I will be creating a release soon, ideally within a week

[2019-03-26 21:18] r0fls commented on #109
I'm encountering the same problem, after successful oauth2 workflow the final URL is the oauth2-proxy URL, not the kubernetes dashboard ingress (trying to follow: https://thenewstack.io/single-sign-on-for-kubernetes-dashboard-experience/)

[2019-03-26 21:36] r0fls commented on #109
For me, the issue turned out to be that I was missing the following oauth2 proxy flags:

[code]

[2019-03-27 03:19] r0fls opened #115 "cookie-domain should be a list if it needs to cover all whitelist-domains"
I am trying to follow: https://thenewstack.io/single-sign-on-for-kubernetes-dashboard-experience/

And I'm encountering a redirect loop from:
k8s dashboard -> oauth2-proxy -> dex -> upstream OIDC provider -> dex -> upstream OIDC provider ...

I searched some old issues and it seems it could be the cookie-domain arguement needs to be set. However the `whitelist-domain` argument is currently set to

[2019-03-27 09:43] JoelSpeed commented on #115
Hey @r0fls, I'm just trying to think about how having multiple possible cookie domains would work. As far as I'm aware you can only set one domain for a cookie to be valid for as per limitations of the general web protocols. Perhaps we could have something that guesses the right cookie domain to set? The problem here would be that the two cookies would not be synchronised and you therefore would n

[2019-03-27 11:14] maxh8086 commented on #105
Microsoft expect resource (Actual consumer of Token ) to be included in every request sent by oauth2 proxy to respond right audience.. same happens in ADFS.. sample output has been shared for adfs request.

[2019-03-27 11:42] spprod35 opened #116 "Cross Origin Credential SSO"
hello the community

I am setting up an ELK + Grafana server
In order to add an authentication layer on Elasticsearch, I configured OAUTH2_Proxy.

For this service (ELK), in direct access, it works correctly.

On grafana, I configured the OAUTH, directly in the grafana.ini
http://docs.grafana.org/auth/generic-oauth/
User authentication on grafana works.
However, I want to pass Grafana's cookie cre

[2019-03-27 13:05] benfdking commented on #86
Addressed so can be closed. #110

[2019-03-27 18:43] r0fls commented on #115
Thanks @JoelSpeed for thinking about this. The main reason I didn't think to run separate oauth2-proxy's per cluster is that we only have one instance of dex deployed, and I was coupling oauth2-proxy with the dex deployment.

The second reason though, is I'm not sure that will work. We have dex and oauth2-proxy on one domain, let's say *.foo.com, and the k8s cluster on another, let's say k8s.bar.c

[2019-03-27 19:05] ploxiln commented on #115
a browser will not allow you to set a cookie for both `*.foo.com` and `k8s.bar.com` from the same page/service - if the auth page is from `auth.foo.com` your only options are 1) domain unspecified, cookie only applies to auth.foo.com 2) domain=.foo.com, cookie applies to *.foo.com 3) domain=foo.com, cookie applies to foo.com and *.foo.com

this is why a list of cookie domains does not make sense.

[2019-03-27 20:02] r0fls commented on #115
OK, so just so I understand my options, would this work if oauth2-proxy were hosted on the same TLD as the kubernetes clusters, e.g. `oauth2.bar.com` in my example? Or would dex also need to be hosted from that domain?

[2019-03-27 20:10] ploxiln commented on #115
yes, you can have oauth2-proxy on the same TLD as the application it is protecting, and the provider (dex) on some other domain - that works

[2019-03-28 11:43] JoelSpeed commented on #116
The easiest way I can think of to achieve this would be to let the OAuth2_Proxy handle authentication for both ELK and Grafana. Have you considered using the OAuth2_Proxy with Grafana using the [Auth Proxy](http://docs.grafana.org/auth/auth-proxy/) configuration?

[2019-03-28 13:28] spprod35 commented on #116
I do not understand where to configure the oauth2_proxy server.
I rather feel that grafana includes a proxy of the same kind as oauth2_proxy.

In addition, once authenticated on grafana with my Azure token AD, on elk.tvwonder.fr, I just have to click on "sign with azure" to be connected, no identifier is requested.

How to make oauth2_proxy check that a connection is already active on Azure so as

[2019-03-28 19:16] maxh8086 commented on #109
you need to publish dashboard service on http not on https, this is how it worked for me.. after going through lot of blogs and forum, what i understood is.. oauth2 proxy do not understand how to pass token via header when dashboard is using selfsign certificate... your upstream will be dashboard service url http://kubernetes-dashboard.kube-system.svc.cluster.local.. if you still wish to ssl your

[2019-03-31 12:19] okgolove commented on #109
Hello everyone! Have the same idea. I want to have domain like oauth.example.com, not specified path (/oauth2) for every Ingress I want to auth using oauth.
A scheme is: Kibana (for example) ingress -> Oauth-proxy -> keycloak, successful auth -> oauth-proxy /oauth2/callback and in the end it redirects me to oauth.example.com with 404.

Tried to explore something about X-Auth-Request-Redirect, but

[2019-03-31 12:32] okgolove opened #117 "Ability to ignore unverified email"
Keycloak doesn't verify email for users imported from LDAP
https://stackoverflow.com/questions/38307029/ldap-federated-users-automatic-set-email-verified-to-true
So, I have to change default mappers and disable the **email_verified** field.

## Expected Behavior
Add an option to be able to disable this check.

## Current Behavior
You get an error
https://github.com/pusher/oauth2_proxy/blob/21c9d38

[2019-04-01 09:24] JoelSpeed commented on #116
The OAuth2_proxy cannot read the session from Azure. If you want to have the same authentication for these two endpoints you will need to configure the OAuth2_Proxy to authenticate against Azure and then have it sitting in front of both Grafana and your ELK stack. This was the authentication can be shared between them

[2019-04-01 09:36] JoelSpeed commented on #109
Hi @elsesiy, I've had a look through your config and have two suggestions that might help,

First off, make sure to set your cookie domain, it should be the parent domain off all subdomains you are protecting and I think it needs to include the OAuth2_Proxy as well, are your Authentication and protected service on the same parent domain? (eg `foo.bar.example.com` and `baz.example.com` share `examp

[2019-04-01 11:41] jeremych1000 commented on #71
Hello - I'm guessing this is still being discussed behind-the-scenes? Will it be considered?

[2019-04-01 21:53] elsesiy commented on #109
@JoelSpeed Works flawlessly now, thanks. The missing piece was the `cookie-domain` 👍 Do you think it makes sense to create a dedicated section in the docs on how to set this up?

[2019-04-02 08:46] JoelSpeed commented on #109
It *really really* does, but sadly no one has had time to do so yet

[2019-04-02 09:52] okgolove commented on #109
@elsesiy it would be great, if you were able to describe it!

[2019-04-02 12:32] maxh8086 commented on #109
i am also facing same challange, please let me know if there is any way available to add if(condition to ensure authentication is done) { rewrite URL}  with below example to solve this

https://kubernetes.github.io/ingress-nginx/examples/rewrite/#examples

rather than nginx sidecar -

https://www.callumpember.com/Kubernetes-A-Single-OAuth2-Proxy-For-Multiple-Ingresses/

[2019-04-02 17:40] r0fls commented on #115
Thanks for the help!

[2019-04-02 17:40] #115 closed

[2019-04-02 19:50] egezonberisha opened #118 "Basic auth not working on v3.1.0"
## Current Behavior

When using the basic auth does not move passed the login page, even though it does authenticate (see log below)
log file:
[code]
## Steps to Reproduce (for bugs)

Using a config file
[code]
Note that it successfully authenticates, but doesn't advance passed the login page.

Everything was working on version v2.0.0 and the only thing that changed was the upgrade to v3.1.0

- Ve

[2019-04-02 19:59] ploxiln commented on #118
session state format has changed in this fork ... but for some explanation of the problem and type of fix see https://github.com/ploxiln/oauth2_proxy/pull/1

[2019-04-02 20:11] elsesiy commented on #109
@JoelSpeed @okgolove OK, I can create a PR. Shall I just add to the README or create a dedicated directory for guides & how-tos?

[2019-04-03 16:08] Blasterdick commented on #86
It sure does have the way to change the healthcheck path. It would read it from the `readinessProbe` section on your deployment behind the service. So just:

[code]

[2019-04-03 17:09] JoelSpeed commented on #86
@benfdking could you test @Blasterdick's theory and let us know the result, if it's correct I'd be tempted to remove the wrapper that was recently added as it would be unnecessary code complexity

[2019-04-03 20:01] benfdking commented on #86
I may be wrong but I think this is still a problem though: https://github.com/kubernetes/ingress-gce/issues/674.

The above referenced issue is still not resolved. The ingress only works if you create the deployments and services before you create the ingress. This makes the ingress rather fragile and inflexible. No service/deployment can be changed without having to recreate the ingress if you wa

[2019-04-04 13:03] mikhailadvani commented on #73
@dannyyy setting the following in the helm chart values solves the issue:
[code]

[2019-04-04 13:11] sylr commented on #71
I would really like this too!

[2019-04-04 18:11] okgolove commented on #73
@dannyyy could you post your grafana.ini?

[2019-04-07 14:27] betabandido commented on #105
@maxh8086 I suppose that is only the case for the oauth2 code grant, but not for the openid protocol (documentation does not list any `resource` field in the request for the latter).

I can confirm that using the oauth2 code grant (where an extra request is needed to get the token) returns a token with the audience containing the `spn:` prefix. For this to work I believe it is needed to specify `s

[2019-04-07 21:35] elsesiy commented on #109
Until @JoelSpeed decides where to contribute, I published a [blog post](https://elsesiy.com/blog/oauth2-proxy-dynamic-callback-urls) for now.

[2019-04-08 06:11] maxh8086 commented on #105
For Microsoft resource is web api who is intent to consume the token. Yes you are true openid do not have it documented in a way that tells resource in grant type code / authorization code.. but this is how Microsoft has implemented its ADFS / Azure AD.. although i believe it clears the intention of token requesting application that code will be consumed by third party (kubernetes API) not by requ

[2019-04-09 13:55] costelmoraru opened #121 "Cookie path is hardcoded to `/` limiting to only use the `-cookie-domain` field."
When installed multiple instances of `oauth-proxy` in the same k8s cluster, for example one instance for `dev` and a second one for `qa` purposes, the cookies generated for the two instances will have the same Domain `yourcompany.com`. The browser will submit both cookies with different names, given by the `-cookie-name` parameter.
Scale this with multiple instances used for various purposes, the

[2019-04-09 14:05] costelmoraru commented on #121
I will create a PR with the solution proposed in the description, creating a new config optional parameter called `-cookie-path` , defaulted value being set to `/` , allowing the Path attribute of the Cookie to be configured.

[2019-04-10 12:58] JoelSpeed commented on #121
This was fixed in #122

[2019-04-10 12:58] #121 closed

[2019-04-11 11:44] costelmoraru commented on #60
Issue closed by the PR #120 .

[2019-04-11 11:44] #60 closed

[2019-04-12 21:18] Ghazgkull opened #125 "Question: Is it possible to specify the post-authorization URL with /oauth2/start?"
I'm using oauth2_proxy with the nginx auth_request module and OIDC. When the proxy reports that a request is not authorized and nginx redirects to /oauth2/start, I would like to pass along a final "post-authorization" URL that the browser should end up at after the OIDC dance completes.

Is this possible? Is there some header I can set when nginx forwards the request to /oauth2/start? (If so, I'd

[2019-04-12 23:14] Ghazgkull opened #126 "Issue with cookie_secret when upgrading from v3.1.0 to v3.2.0"
I just tried upgrading an existing oauth2_proxy deployment from version v3.1.0 to v3.2.0 and the application now fails to start with the following log output:

2019/04/12 23:08:12 main.go:120: Invalid configuration:
  cookie_secret must be 16, 24, or 32 bytes to create an AES cipher when pass_access_token == true or cookie_refresh != 0, but is 236 bytes.

## Expected Behavior

A minor version incr

[2019-04-12 23:15] ploxiln commented on #125
If you redirect to `/oauth2/sign_in` instead of `/oauth2/start`, then you can set the header `X-Auth-Request-Redirect`, in the example nginx config this is done with:

[code]

If you really want to use `/oauth2/start` then you can add an rd parameter, sort of like `/oauth2/start?rd=$request_uri`, but you may need to url-encode that request_uri, and I think there's no way to do that without a non-c

[2019-04-13 01:01] vikas027 opened #127 "Feature Request - Add keycloak as a provider"
It would be awesome to add support for [Keycloak](https://www.keycloak.org/) provider.

[2019-04-15 02:16] Just-Insane commented on #127
Keycloak should be supported as an OIDC provider, however the docs are lacking, in that half the arguments you are supposed to pass appear to be unavailable, such as --oidc-issuer-url.

[2019-04-15 09:38] JoelSpeed commented on #126
Hey @Ghazgkull, I've had a look at this issue this morning and have been unable to reproduce your error.

As far as I'm aware there should not have been any changes to the code that handles parsing in the secrets in this way. The code that processes it is: https://github.com/pusher/oauth2_proxy/blob/ee4ebe53bf1234265b838076760dc72b5d92d32e/options.go#L239-L262

What has changed to do with options

[2019-04-15 10:10] samvdb commented on #109
@JoelSpeed comment should work for most people. setting cookie-domain does the trick.
One other thing that might be needed (like in my use-case) is the whitelist-domain setting.

eg : whitelist-domain: .example.com

This fixes the invalid redirects after the first login.
example without whitelist-domain:

scenario 1: go to app.example.com without cookies => you will need to login

[2019-04-15 14:18] beebird commented on #109
I added ```whitelist-domain``` parameter and everything works as expected!!!  I'm so happy:)

[2019-04-15 18:03] gamanyuk opened #128 "tificates"
## Expected Behavior

## Current Behavior

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

## Your Environment

- Version used:

[2019-04-16 01:36] michaelbayles opened #129 "Ability to check if user is a collaborator on GitHub repo(s)"
The GitHub provider allows us to check if an authenticating user is part of the Organization or a particular team within the Organization. However, I need to authenticate users that are not part of the Organization, but are given read-only access to a single private repository. As the owner of the repo, I can give the user collaboration access to repo, and so I'd like a way to cascade that to my d

[2019-04-16 01:56] agolomoodysaada commented on #109
The suggested solution `https://oauth.mywebsite.com/oauth2/start?rd=$scheme://$host$request_uri` almost worked for me. The `$host` resolved to my oauth host instead of the original target host. To make nginx-ingress redirect correctly, I had to use the forwarded host using the `$best_http_host` variable. For example: `rd=$scheme://$best_http_host$request_uri`.
The `$scheme` worked like a charm!

[2019-04-16 05:15] okgolove commented on #109
Did someone try this scheme with Keycloak?

[2019-04-16 10:06] JoelSpeed commented on #128
As this issue has no content, I'm going to close it. Please open a new issue if you had intended to do so

[2019-04-16 10:06] #128 closed

[2019-04-16 12:37] josemore opened #131 "Receive auth token to call other Azure APIs"
## Expected Behavior
Our understanding from documentation is that it's feasible to get the OAuth / OIDC token after authentication is performed. We are currently unable to see X-Forwarded-Access-Token / Authorization headers.

Our use case:
We have web apps requiring Azure AD authentication and we want to personalize some content based on user profile (e.g. AD groups, etc).

## Current Behaviour
A

[2019-04-16 12:39] spprod35 commented on #116
I'm surprised that oauth_proxy can not automate the click on "Sign In With Azure".
When I arrive on the page, I just have to click and I'm connected (Active session at Azure), can you tell me the technical brake that prevents this?

[2019-04-16 12:53] JoelSpeed commented on #131
Your use case is viable and the authentication token should be set inside the `Authorization` header. Have you tried visiting the `https://$host/oauth2/auth` URL aside from within this flow to check the headers returned?

[2019-04-16 13:43] JoelSpeed commented on #131
Ahh, I did not notice that you are using the `azure` provider when I first responded. The Azure provider does not currently set the `IDToken` field in the session state and so `set_authorization_header` has nothing to set. Out of interest, have you tried configuring the OIDC provider to talk to your Azure tenant? I believe they support OIDC?

[2019-04-16 14:08] josemore commented on #131
Good to know about Azure limitations.
They do support OIDC flows and it seems the claims inside the Web Token should contain the info we need in our apps.
What do you mean with configuring the provider to talk to the Azure tenant?

[2019-04-16 20:10] mikeeh24 opened #132 "ErrorPage 403 Permission Denied http: named cookie not present"
This is likely more of a usage question but I've scoured the internet around this issue and tried everything I can think of to no avail.

After successfully authenticating with Azure AD oauth2 I get:

`2019/04/16 14:39:48 oauthproxy.go:532: ErrorPage 403 Permission Denied http: named cookie not present`

I'm running my main application, oauth2_proxy, and nginx all on the same server.

**My main ap

[2019-04-16 20:14] timothy-spencer commented on #132
I notice that you have one instance of "dasboard.mycompany.com" up there, but I suspect that's a typo.  What I bet is happening is that your cookie_domain needs to be set to "dashboard.mycompany.com" instead of ".domain.com".

[2019-04-16 20:21] mikeeh24 commented on #132
Yes, sorry, in my attempt to hide some of the exact values I'm using I typoed that.  My cookie_domain value should show as ".mycompany.com" but I also tried "dashboard.mycompany.com".  Same error either way.

[2019-04-17 00:38] ploxiln commented on #132
another typo which is possibly just in your example and not in your actual config:

[code]

After successful auth on the provider's page, you're supposed to be redirected back to this redirect url, with a url param "code=..." and your browser should also have a CSRF cookie (default "_oauth2_proxy_csrf"). If you hit that redirect url with those two elements, it should finally give you a "_oauth2_pr

[2019-04-18 20:08] mikeeh24 commented on #132
Thanks ploxiln, yes, that was a typo (fixed now).  Pouring over this a little more the app is successfully calling `https://login.microsoftonline.com/{tenant}/oauth2/authorize?` and is getting back a `code`.  What I'm not seeing is a clear call to `https://login.microsoftonline.com/{tenant}/oauth2/token`.  It seems it is failing before making the call to `/oauth/token`.  It's unclear to me as to w

[2019-04-18 20:24] ploxiln commented on #132
I think you may be hitting this case:

[code]

[2019-04-19 17:26] mikeeh24 commented on #132
Thanks ploxiln, that got me going in the write direction.  I was able to figure out the issue.  Turns out my redirect URL was the FQDN of the host but when I was testing this in the browser I was simply using the shortname.  Once I tried the FQDN in the URL it worked.  So I added the following in my nginx.conf server block:

[code]
Thank you!

[2019-04-19 17:26] #132 closed

[2019-04-20 10:39] libussa opened #133 "/ping endoint not working when using a non-standard port"
## Expected Behavior

I want to pick a different port when running the proxy with docker. When using 4180 everything works ok.

## Current Behavior

proxy runs on 4180 internally. When the external port is different, I get a connection refused on /ping (but the auth works)

## Steps to Reproduce (for bugs)

1. Set `ports` to `4181:4180` in compose (for example)
2. Set `OAUTH2_PROXY_HTTP_ADDRESS` t

[2019-04-24 12:50] jeremych1000 opened #134 "Question: Is it possible to put GitLab behind oauth2-proxy?"
Quick question - what kind of applications do not work behind oauth2-proxy?

I'm looking to deploy GitLab (open source version) behind oauth2-proxy, but oauth2-proxy would break HTTPS git clone/pushes - it tries to redirect to the oauth2 endpoint, as my terminal is not authenticated (is that correct?)?

I'm aware that GitLab supports direct oauth2 authentication, but a client requirement is all ap

[2019-04-24 20:57] rstrazza opened #135 "Question: rabbitmq ui behind oauth2_proxy"
We have rabbitmq deployed on Kubernetes and the management ui exposed via nginx-ingress controller using basic-auth. Everything works well! The user enters the url, say: `https://myrabbitmq.domain.com`, receives the popup screen for basic-auth, enters credentials and is presented with the RabbitMQ UI Login page `https://myrabbitmq.domain.com/#/`

Then, we introduced oauth by using `oauth2_proxy` s

[2019-04-25 06:34] BuddhaSource opened #136 "Give Google Sheet access to an API inside oauth2_proxy"
I have a service inside oauth2_proxy which has an API output in CSV.

I wanted to get that data to Google Sheets securely by giving access to Google.
Can someone guide me on how to allow a certain URL to be accessed from outside?
And how can I better control this access?

[2019-04-28 03:56] tamsky commented on #74
A bit more logging here would be super helpful.   I hit this required setting today as well.

A `log.Printf` near the end of `IsValidRedirect` [1] would be super useful after none of the `whitelistDomains` have returned `true`.

https://github.com/pusher/oauth2_proxy/blob/bd64aeb7ee859aab0d85b9a95e517c6e20787b94/oauthproxy.go#L626-L630

[2019-04-30 23:50] brianv0 opened #138 "A Server Cookies Store for long cookies"
One great feature about oauth2_proxy is that it doesn't need local storage, as tokens and additional information is stored in cookies. From a security perspective, this is also ideal, as there's no store to worry about compromising a session store and accessing tokens.

This can lead to large cookies, especially for OpenID Connect providers that include a lot of claims in a token. It's known that

[2019-05-01 05:56] brianv0 commented on #134
No experience but if you use an OpenID Connect provider you can probably use the JWT OmniAuth provider.

[2019-05-01 09:03] JoelSpeed commented on #138
@brianv0 I've been considering something like this for a while! Thanks for the thorough description 😄

Could you open a PR for the changes or does #65 need merging first?

Does this implementation mean that the client-side cookie is only updated when the server side stored cookie has gone away? IE provided refreshing is available, you should only get a `set-cookie` header very very rarely when you

[2019-05-01 14:28] brianv0 commented on #138
Could you open a PR for the changes or does #65<https://github.com/pusher/oauth2_proxy/pull/65> need merging first?

I can open a PR, the commits are basically split by feature.

Does this implementation mean that the client-side cookie is only updated when the server side stored cookie has gone away? IE provided refreshing is available, you should only get a set-cookie header very very rarely whe

[2019-05-01 14:52] JoelSpeed commented on #138
This sounds like a great improvement! I do also like the idea of `FileSystemCookieStore` for those who don't want to set up a redis but alas, you are correct, reaping sessions would be difficult. I'm sure it could be done but perhaps not easily.

Taking the request object in the interface might be the simplest way to do this 🤔

I appreciate that :+1:

If you have the time to take a look at doing t

[2019-05-01 15:13] JoelSpeed commented on #131
You may be able to follow [these instructions](https://docs.microsoft.com/en-us/azure/active-directory/develop/v1-protocols-openid-connect-code) using the OAuth2_Proxy's OIDC provider to get the tokens out, basically using raw OIDC as opposed to the specific Azure provider

[2019-05-01 15:13] JoelSpeed commented on #127
@vikas027 Did you get this working?

[2019-05-01 15:14] JoelSpeed commented on #126
@Ghazgkull Did you manage to solve your issue?

[2019-05-01 15:17] JoelSpeed commented on #62
Is this issue now resolved? #92 and #112 should have fixed this and have been released?

[2019-05-01 15:28] JoelSpeed opened #139 "Migrate CI to Prow from Travis"
## Expected Behavior

CI should help us to triage, test and release the project.

## Current Behavior

We are currently making little use of Travis and it also has some problems (eg users can't rerun tests)

## Possible Solution

Pusher now have an instance of [Prow](https://prow.pusher.com) which is used for our Open Source projects. We could make use of this Prow instance to run builds and tests

[2019-05-01 15:46] andresmgot commented on #62
Thank you all. Yes, this should be fixed now. I will reopen the issue if I find any other problem with that.

[2019-05-01 15:46] #62 closed

[2019-05-01 23:57] ploxiln commented on #138
I think an in-process cookie store - a `sync.Map` or something like that - may be good enough for the simplest single-instance use case. If the service restarts, people have to re-sign-in, but maybe that's less often than once a week anyway. Just iterating over the whole map looking for expired keys every 60 seconds may be good enough for small scale usage.

[2019-05-02 06:56] brianv0 commented on #138
I pushed the code around a bit: ae14df4.

It's passing all the tests, but it's not as clean as I'd like.

[2019-05-02 09:24] ap1969 commented on #26
Hi,

I know this issue is old, but I'm seeing the same thing, so thought I'd:

A) Check if @loispostula  got the issue resolved? And if so, can you share any details?

B) Provide some details for my own set up, where I'm trying pass the JWT from my OIDC provider to my upstream system.

I'm running oauth2_proxy on kubernetes, proxying requests to an Angular single-page app running in a different co

[2019-05-02 10:42] JoelSpeed commented on #26
Hi @ap1969, one thing I would recommend trying is to use the browser debug console to inspect the requests/responses from a login flow. One of the responses from the OAuth2 Proxy should have in it a `set-cookie` header. Check the domain that this is being set on, I suspect it is not the one you want!

You can set the cookie domain explicitly using the `--cookie-domain` flag 😀

[2019-05-02 11:29] vikas027 commented on #127
Hey @JoelSpeed ,

Nope, I want to try this out but was too busy in other stuff and AWS Summit :). It would be great if someone can add a little doco for keycloak. Thanks.

[2019-05-02 11:55] ap1969 commented on #26
Hi Joel,
Thanks for getting back so quick.

I can see the set-cookie in the initial load when rendering the login page:

`Set-Cookie: _oauth2_proxy_cp=; Path=/; Domain=cp.domain.com; Expires=Thu, 02 May 2019 10:37:16 GMT; Secure`

Then on return to callback, there's an initial hit to /oauth2/callback, with a 308 redirect to what seems to the same URL, and that redirect has no set-cookie header.

T

[2019-05-02 15:21] bhvr-fmarceau commented on #71
I'd really like that as well!

+1 for the feature request!

[2019-05-02 16:28] kfox1111 commented on #127
I haven't had time to polish up anything, but got something working a month or two ago with something like this:
[code]

[2019-05-02 22:27] brianv0 commented on #138
Another commit:  lsst-dm/oauth2_proxy@5096db0

You end up with an interface like this:

[code]

* `Store` stores a cookie in a backend (if needed) and returns the appropriate cookies to the client. It's able to encapsulate the cookie splitting.
* `Load` takes in the HTTP request and gives the cookie value back, which can be verified and turned into a session.
* `Clear` clears the cookie from the b

[2019-05-03 08:47] ap1969 opened #143 "Set vs Pass Authorization Header"
Hi all,
Sorry, this might be me being dumb (it almost certainly is), but what's the difference between the -set-authorization-header and -pass-authorization-header options?

Many thanks in advance,
Andy

[2019-05-03 14:12] ap1969 commented on #26
Hi Joel,
I've compiled a version of oauth2_proxy with some extra debugging lines in it, but I'm still stuck.

SaveSession() calls SetSessionCookie(), which is trying to write two cookies:

[code]

However, neither of those actually seem to be set in the browser, which is odd as the next line in SetSessionCookie is http.SetCookie(rw, c), which should work just fine as it's the core http module, if

[2019-05-03 15:05] ap1969 commented on #26
OK, I'm making some progress. I see from the nginx conf example, when using --set-authorization-header flag, some provider's cookies can exceed the 4kb, so that explains the output in the code above.

However, I'm still not setting the cookie headers.

[2019-05-03 21:40] syscll commented on #139
Sounds like a good idea! Would be interested to learn a little more about Prow first, though. Fancy giving a demo some time? :upside_down_face:

[2019-05-04 13:31] JoelSpeed commented on #26
Just to double check you mean the response here rather than the request? Do you have the `--cookie-domain` flag set? If not could you try it with this set?

Could you please also supply your complete configuration including the config file and flags? (redacting any sensitive information of course)

Could you also supply a snippet of the logs you get when you are trying this?

[2019-05-04 13:37] JoelSpeed commented on #26
Could you also try running a build from the latest master please?

[2019-05-04 13:40] JoelSpeed commented on #71
Hi all, I've had a pass over the original PR to bitly and think this is definitely something we should be supporting. I'm a bit concerned about the breaking changes it introduces though, we still need to work out how to handle those since taking over the project!

Does anyone have time to try and get a PR opened here based on the changes from the original PR? Perhaps @pasoroki?

[2019-05-04 18:09] JoelSpeed commented on #139
Want to come over to the Pusher office some time next week? Happy to demo what we have already set up

[2019-05-04 18:13] JoelSpeed commented on #143
Hey @ap1969, for clarification, see below:

`set-authorization-header` means that the `Authorization` header is set on the response to the user. This is useful for using in the Nginx Auth Request mode.

`pass-authorization-header` means the the `Authorization` header is set on requests proxied to the upstream service.

This difference between `set` and `pass` is common to the other flags around se

[2019-05-04 18:47] JoelSpeed commented on #138
I've been having a think about this over the last couple of days and I'm leaning towards an abstraction at the session level, so the interface would be `SessionStore` and look something like below:

[code]

At this point it is up to each implementation of the SessionStore to handle setting their own cookies and removes all the extra cookie based logic from the main loop.

To me this seems like the

[2019-05-05 20:38] ploxiln commented on #138
The session-oriented interface you propose makes sense to me - so that if one implementation needs to set multiple cookies, that is fully handled behind the interface.

[2019-05-06 15:09] frco9 commented on #26
@ap1969 I had almost the same issue.
I'm using the oauth_proxy in a Kubernetes cluster, the issue was with the nginx-ingress-controller:
[code]

I just had to increase the buffer size : https://andrewlock.net/fixing-nginx-upstream-sent-too-big-header-error-when-running-an-ingress-controller-in-kubernetes/

[2019-05-06 17:30] brianv0 commented on #138
I did some work on this, I will try to work on it some more today and show some changes.

I don't understand what the `time.Duration` is for though, Cookie Validation? I think the cookie validation has to be pushed into the SessionStore with that interface.

It may also be related to #65, since that's effectively loading a mock session based on an incoming JWT. I thought about this over the weeken

[2019-05-06 18:15] timothy-spencer commented on #138
Hey, dunno if this is the right place, but if you are restructuring session state, it would be cool to find some way to start that in the auth step rather than the code redemption step, because then you can create and use a [nonce](https://openid.net/specs/openid-connect-core-1_0.html#NonceNotes) properly.

That said, maybe there's an alternate way to store this (like a cookie?) that would be bett

[2019-05-06 19:38] brianv0 commented on #138
On the `time.Duration`, returned by `LoadSession `, it's the `sessionAge`, but it's not actually part of the `SessionState` object. I think I convinced myself that made sense at one point, but I'm not so confident about that anymore.

[2019-05-06 21:53] JoelSpeed commented on #138
I think this would be a great idea. Happy to set up a zoom meeting, I work 10-6pm London time normally though can do an evening call normally, where is everyone else? I'll set up an email thread for this i think 🤔

I've also spent a little time today and over the weekend working on some ideas of how we should structure this and some tests I'd like to see. The changes I'm thinking of are fairly sub

[2019-05-07 00:39] brianv0 commented on #138
I think a feature branch is fine.

I moved around the code today too, and I think this shouldn't be too much more work, I'll take a look at your branch a bit later.

I'm in California, but I could easily make 4-6PM London time.

[2019-05-07 10:32] syscll commented on #138
Also happy to jump on a call if needed. I'm available 10-6pm London time.

[2019-05-07 16:15] JoelSpeed commented on #138
I've implemented #147 and #148 towards this project effort. Comments and feedback welcome!

[2019-05-08 17:51] dekimsey commented on #71
While trying to develop support for azure's app roles, I did notice it was very easy to trip the cookie size limit on the browser when Groups started being populated. I know AWS auto-splits the cookie, and that may be required (max 11k) to reasonably support this.

Background: I wanted access to Azure Application Roles, which forced having to create an Azure v2.0 provider, the current implementati

[2019-05-08 23:37] benley commented on #30
It appears that this is still not fixed in 3.2.0 or master.  Has someone opened a new PR to replace bitly/oauth2_proxy#395 and fix this, or is there another fix pending, or something else?

[2019-05-09 09:34] JoelSpeed commented on #90
Logging has recently been improved with logging formats that will allow users to define their own structure, closing this

[2019-05-09 09:34] #90 closed

[2019-05-09 10:13] icelynjennings opened #151 "ReadMe needs instructions on how to build, run locally, update docs"
## Expected Behavior

The Documentation should explain:
- How to build the Jekyll docs
- How to run Jekyll locally
- How to update the docs

## Current Behavior

Instructions are missing.

## Context

https://github.com/pusher/oauth2_proxy/pull/114#pullrequestreview-234426212

[2019-05-09 10:33] #38 closed

[2019-05-09 10:33] JoelSpeed commented on #71
Just as an FYI, we have session cookie splitting built into the proxy so if you do start overflowing the 4k limit, we can handle that already 😄
https://github.com/pusher/oauth2_proxy/blob/908ac24257840b197163c6e0bec8954b56ca3656/oauthproxy.go#L325-L327

Also, we are making an effort to introduce sever-side sessions which will mitigate this problem (see #147 & #148)

[2019-05-10 14:26] #151 closed

[2019-05-13 07:30] m-wcislo commented on #143
Hi @JoelSpeed,
I'm trying to use oauth2_proxy with kubernetes ingress as described in https://github.com/kubernetes/ingress-nginx/tree/master/docs/examples/auth/oauth-external-auth which from what I understand is Nginx Auth Request mode. In general everything works fine, but I cannot make auth-user/email headers to be passed to upstream - even when setting set-authorization-header or set-xauthrequ

[2019-05-13 16:24] JoelSpeed commented on #143
Hey @m-wcislo, could you try authenticating to the proxy and then visiting `http(s)://yourdomain.com/oauth2/auth` and inspecting the response headers? This is the request that Nginx will make so if the headers are set on that response, we can narrow the issue to Nginx's side.

You should, with `-set-xauthrequest` see `X-Auth-Request-User` and `X-Auth-Request-Email` headers in the response. You sho

[2019-05-14 01:14] Ghazgkull commented on #126
Hi, @JoelSpeed. My apologies for the delayed response. It took a while for this issue to get resolved and it turned out to completely be a configuration issue on our end, where our Kubernetes secret started being deployed incorrectly such that the secret value was stored as "null".

It was not a problem with oauth2_proxy.

[2019-05-14 01:14] #126 closed

[2019-05-14 07:44] m-wcislo commented on #143
Long story short:
Works as expected. I was changing ingress with `kubectl apply` but only after I did delete then apply the annotations were applied.

Some hints for configuring this functionality:
Annotations that supports **set-xauthrequest** and **set-authorization-header**:
[code]

In nginx.conf on your ingress you should see following:
[code]

Also just after enabling **set-xauthrequest** and

[2019-05-15 10:45] dguendisch opened #158 "Question: restrict multiple sites by different github teams with one oauth_proxy"
I have successfully setup a central oauth_proxy (with github provider) protecting some other sites on the same parent domain using the nginx ingress controller (thanks to the hints from @JoelSpeed in https://github.com/bitly/oauth2_proxy/issues/550).
I wanted to have one central oauth_proxy instead of a dedicated one for every site because I only want to maintain one github oauth application (and

[2019-05-15 23:27] ploxiln commented on #158
That is not currently possible. You currently need multiple instances of oauth2_proxy to apply different team restrictions to different upstreams.

[2019-05-16 06:57] dguendisch commented on #158
I see, thanks.
Actually multiple oauth2_proxy instances is ok as long as I could still go with having only one "master" oauth2_proxy registered on github.
But I guess it's not possible to kind of "cascade" the oauth2_proxies?

Another idea (to allow having only one oauth app registered at github) would be to use e.g. dex as the one github oauth app and then use multiple oauth2_proxy instances with

[2019-05-16 15:35] frco9 commented on #143
@m-wcislo I have a similar issue, can you explain a bit more the following

I don't have a `nginx.conf` file just a configmap and I can't set the `auth_request_set`. I've tried to use the `nginx.ingress.kubernetes.io/configuration-snippet` annotation but it does not seem to work.

Any idea ?

[2019-05-16 15:50] JoelSpeed commented on #143
@frco9 Try these annotations the @m-wcislo suggested:

[code]

That will generate for you the snippet in `nginx.conf`, you don't need to add it manually

[2019-05-16 17:44] m-wcislo commented on #143
Correct, by checking nginx.conf on ingress controller I found out that my annotations are not actually reflected until I did kubectl delete and kubectl apply for my ingress resource.

[2019-05-16 17:46] frco9 commented on #143
Ah ok thanks ! I’ll check that it is, because the annotation seems to not
work for now

Le jeu. 16 mai 2019 à 19:44, Michał Wcisło <notifications@github.com> a
écrit :

[2019-05-23 18:17] camerondavison commented on #46
@devster31 I have been trying to get this to work, but I cannot seem to get it to work. If I use

`HostRegexp:{subdomain:[a-z0-9-]+}.corp.example.com;PathPrefix:/oauth2` I can get the flow to set the cookie correctly, but then I end up on my auth domain with a 404 after it sets the cookie and tries to put me back to where I came from.

in your example you say `one is a subset of the other` which i

[2019-05-23 19:13] devster31 commented on #46
My `traefik` domain is `domain.com` while my auth domain was `login.domain.com` so it's possible that it only works if the `oauth2_proxy` domain is a subdomain of the one which is requesting the authorization.
If you wanted to authorize any `{subdomain:[a-z0-9-]+}.corp.example.com` you might need to host `oauth2_proxy` on `login.{subdomain:[a-z0-9-]+}.corp.example.com`. Your setup seems much more

[2019-05-23 19:57] pedreen opened #161 "How to create and use tokens with oauth2_proxy"
Hello guys!
I configured my endpoint with oauth2_proxy using google as provider on kubernetes in GCP. For use via browser it worked normally however to make a request by code I need a token to validate the request. I would like to know if with the pusher / oauth2_proxy container it is possible to generate this token for my request. I will pass the configuration I made of my oauth2_proxy.yml and pa

[2019-05-27 12:39] iso70x commented on #127
Thanks for posting this, it helped me get my own test k8s / oidc / keycloak lab working, and I had spent hours on it also.  :(  It would be really nice if oauth2-proxy did support keycloak directly rather than having to tweak a load of stuff, as it seems a lot easier to use and more flexible than keycloak-gatekeeper/proxy.

For what it's worth, I isolated the settings that were definitely needed f

[2019-05-27 14:01] zeha opened #162 "Prebuilt binary tarball format has changed from bitly"
The tarballs used to have this format:

`./<tarball-base-name>/oauth2_proxy`

Now they contain:

`./release/oauth2_proxy-<platform>`

## Expected Behavior

A tarball named `oauth2_proxy-v3.2.0.linux-amd64.go1.11.tar.gz` should have a single file named `oauth2_proxy-v3.2.0.linux-amd64.go1.11/oauth2_proxy`.

## Current Behavior

The tarball has `release/oauth2_proxy-linux-amd64`

## Possible Solutio

[2019-05-27 22:28] benbro opened #163 "Broken link in the docs"
The oauth2_proxy.cfg link is broken:
https://pusher.github.io/oauth2_proxy/docs/contrib/oauth2_proxy.cfg.example

https://pusher.github.io/oauth2_proxy/docs/configuration
https://github.com/pusher/oauth2_proxy/blob/master/docs/configuration/configuration.md#config-file

Another broken link:
https://pusher.github.io/oauth2_proxy/
https://pusher.github.io/oauth2_proxy/CHANGELOG.md

[2019-05-28 00:52] pablopla opened #164 "Docs wording"
This sentence in the [configuration docs](https://pusher.github.io/oauth2_proxy/docs/configuration) need to be rephrased:
[code]

[2019-05-28 00:57] pablopla opened #165 "TLS Configuration docs"
The two configurations in the [TLS Configuration](https://pusher.github.io/oauth2_proxy/tls-configuration) docs are both numbered 1:
[code]

This paragraph is related to the first configuration but appears in the nginx configuration:

[2019-05-29 07:02] fmotrifork opened #167 "Feature request - Option to silence all requests to /ping endpoint"
I use multiple instances of the oauth_proxy to handle ingress to my Kubernetes cluster.
But the readiness and liveness probes creates a lot of log entries.

## Expected Behavior

Setting `-logging-silent-ping` disables all logging of requests to the ping endpoints.

Eg:

[code]

## Current Behavior

Currently we get one log line pr oauth2_proxy pr 5 seconds.

## Possible Solution

Add a command li

[2019-05-30 09:43] JoelSpeed commented on #162
This is a very good point, thanks for raising the issue! I'll see if anyone at @pusher has any time to sort this, unless anyone else has a spare half hour to fix the `make release` target that builds these tarballs?

[2019-05-30 14:48] JoelSpeed commented on #164
Yeah that makes no sense! In fact, I'm not sure what the whole paragraph is trying to get across 🤔

Perhaps it should just be:
[code]

[2019-05-30 14:50] JoelSpeed commented on #165
You're correct, do you have time to send a PR to fix the ordering of the docs for this?

[2019-05-30 15:13] JoelSpeed commented on #167
I'm happy for a flag to be added with the behaviour you have described, does anyone have any time to work on it? Should be fairly simple to do I would have thought.

This is where the request logs are generated:
https://github.com/pusher/oauth2_proxy/blob/f26ed5f3d1cd810984f430cc4b0436e7b3b7477a/logging_handler.go#L106
I guess you could add an if statement to this that skips logging for the `/ping

[2019-05-30 21:27] kskewes commented on #158
Multiple `oauth2_proxy`'s with different group configuration works fine for us using nginx-ingress providing each proxy is protecting different subdomains or you run ~<3 different `oauth2_proxy` configs per subdomain.

For example:
- app1.sub1.example.com protected by oauth2-proxy.sub1.faceme.com allowing group1
- app2.sub1.example.com protected by oauth2-proxy.sub1.faceme.com allowing group2
- ap

[2019-05-31 08:21] dguendisch commented on #158
How do you achieve this example?

It looks like **one** oauth2-proxy at `oauth2-proxy.sub1.example.com` protecting 3 different apps (that's clear) with 3 **different** group permissions (that's what I don't understand).
Or are you just allowing all 3 groups with this one oauth2-proxy?

[2019-05-31 08:35] kskewes commented on #158
Sorry, that would have been confusing. It was a typo. :)

[2019-05-31 08:42] dguendisch commented on #158
Then it matches what I'm currently doing: having one oauth2-proxy instance per team/group configuration.
Btw. thanks for that pointer regarding the cookie size, will keep that in mind.

[2019-05-31 09:01] kskewes commented on #158
Indeed. I missed your comment about Github supporting only a single call back URL per app.
Good luck. We'll be circling back around to this again soon. Maybe per Redis PR #140...

[2019-05-31 09:53] zeha commented on #162
I've typed in the `Makefile` changes :)

[2019-06-01 04:12] benbro opened #172 "Google auth docs need update"
The google console UI changed since the [docs](https://pusher.github.io/oauth2_proxy/auth-configuration#google-auth-provider
) were written.

The pomerium and sso instructions are much better:
https://www.pomerium.io/docs/identity-providers.html#google
https://github.com/buzzfeed/sso/blob/master/docs/google_provider_setup.md

[2019-06-01 13:33] benbro commented on #163
https://github.com/pusher/oauth2_proxy/pull/173

[2019-06-01 13:57] pablopla commented on #164
When using <code>http://127.0.0.1:8080/some/path/</code> will the path be stripped when forwarded to the upstream?
Do we need a trailing / for a single upstream? <code>http://127.0.0.1:8080/</code>

[2019-06-01 19:53] kskewes commented on #167
We're seeing this to and have started on a PR. Cheers.

[2019-06-03 15:23] #162 closed

[2019-06-03 22:17] rhuddleston opened #177 "Sign In with Apple?"
Curious everyone's thoughts on supporting https://developer.apple.com/sign-in-with-apple/get-started/

Something Apple just released today.

[2019-06-04 07:00] vkadiwala commented on #71
This is the really needed feature. When it will get merged?

[2019-06-04 11:14] morganchristiansson commented on #71
It can already be done via the Accesss-Token header which contains JWT token JSON

However this requires custom support to read this header in the application which only works in some scenarios.

[2019-06-05 10:40] JoelSpeed commented on #138
@brianv0 Happy to close this now #155 is merged?

[2019-06-05 14:45] #138 closed

[2019-06-05 17:32] tbrandsma-rw commented on #161
I am interested in this too!

[2019-06-05 19:11] mazzy89 commented on #46
@devster31 I'm trying to port that configuration in the case that Traefik runs on k8s. I'll post here some updates about it

[2019-06-06 00:15] mazzy89 commented on #46
I've tried to port the docker configuration of traefik to k8s I haven't had any luck at the moment.

Here below the configuration.

Helm chart **values.yaml**

[code]

Annotations applied to my service

[code]

when I get into my the service the oauth2 proxy login page is displayed but then when I click on the button to sign in I get 401 at the url:

[code]

and I can't continue.

[2019-06-06 04:25] runningman84 commented on #46
I would recommend to check out this project:
https://github.com/travisghansen/external-auth-server/

[2019-06-07 13:09] asharabu opened #181 "LinkedIn authentication is not working"
Hi,
The LinkedIn authentication is not working and getting the below error. It was working earlier.

2019/06/07 12:58:06 api.go:22: 410 GET https://www.linkedin.com/v1/people/~/email-address?format=json {
  "errorCode": 0,
  "message": "This resource is no longer available under v1 APIs",
  "requestId": "JHCEXE8DN3",
  "status": 410,
  "timestamp": 1559912286270
}

[2019-06-07 13:13] yob opened #182 "What's the recommend way for upstream systems to fetch the user identifier?"
We're experimenting with oauth2_proxy v3.2.0 in front of some ruby web applications to ensure all access is by authenticated users. We're using the OIDC provider, linked to auth0.

The proxy is started like this:

[code]

It works perfectly. Users loading the site over HTTP are redirected to auth0 to login, and then back to site where they gain access.

However, our ruby services are also interest

[2019-06-08 00:07] ploxiln commented on #182
Yes, you can use use and trust the `X-Forwarded-Email` (and `X-Forwarded-User`) headers.

[2019-06-10 12:25] yob commented on #182
Thanks.

auth0 provide a [unique user identifier in the IDToken](https://auth0.com/docs/users/normalized/auth0/identify-users) that we might prefer to use over email address. Is Option (2) in my list safe as well, and do we need to validate the IDToken signature ourselves?

[2019-06-11 10:18] yrock commented on #181
I'm experiencing the same thing, with same error message. Using Oauth2_proxy 2.2.

[2019-06-11 10:47] yrock commented on #181
Seems like LinkedIn terminated support for their v1 API:
https://engineering.linkedin.com/blog/2018/12/developer-program-updates
Can anyone update Oauth2_proxy to use their v2 API? Greatly appreciated.

[2019-06-12 14:07] #163 closed

[2019-06-12 14:07] #172 closed

[2019-06-13 02:09] omeryesil opened #184 "Getting encrypted access token from Azure AD"
First of all, I am sorry if this is a wrong place to post my issue..

I deployed oauth2_proxy on Kubernetes for our microservices. it uses Azure as provider.

I am able to authenticate and get _oauth2_proxy cookie with token information, however, I see the access token and email values are encrypted, not sure if I am doing something wrong.

## Expected Behavior
When I split oauth2_proxy cookie con

[2019-06-13 16:21] alexandrst88 commented on #46
Seems like it's not possible to do with traefik, because error-pages annotation returns html rendered page, with Found link which has rd query inside.

[2019-06-13 16:25] mazzy89 commented on #46
Yeah. Indeed I gave up. It is not possible with the current implementation running oauth2-proxy and Traefik on Kubernetes

[2019-06-13 16:37] maxlaverse commented on #46
@mazzy89 @alexandrst88
I have oauth_proxy2 running on many different installations but since it doesn't work with Traefik I wrote my own in 200 lines of Go and based on `https://github.com/golang/oauth2`.
In theory it supports Gitlab since the library is generic (not sure about kube-dash). I'm not sure if I will open-source it but I can push it in a repo if you want to have a look

[2019-06-13 16:40] JoelSpeed commented on #46
Out of interest (I'm not a traefik user), has anyone worked out what would need to be changed about the proxy in order to support traefik? Could we return a no body error for the traefik user agent to get this to work? (Assuming they set a user agent unique to traefik) We already do this for AJAX requests

[2019-06-13 18:22] maxlaverse commented on #46
I had not because I quickly stumbled upon issues trying to build the `oauth2_proxy` locally and I knew it would be really fast to write my own small application rather than learning about this code base and the configuration options.

I just implemented a change that "works on my machine":
https://github.com/pusher/oauth2_proxy/compare/master...maxlaverse:support_traefik?expand=1

As you said init

[2019-06-14 08:32] alexandrst88 commented on #46
Seems like it would work with traefik, if traefik has logic as nginx with `nginx.ingress.kubernetes.io/auth-signin`

[2019-06-14 15:04] alexandrst88 commented on #46
ok, finally, we made it work.

1. I've checkout the code that @maxlaverse provided
2. Ouath2 Config(I'm using helm chart.)
[code]
2.

apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  annotations:
    external-dns.alpha.kubernetes.io/target: some-ingress.example.org
    kubernetes.io/ingress.class: traefik
  labels:
    app: oauth2-proxy
    chart: oauth2-proxy-0.12.3
    heritage: Tiller

[2019-06-14 21:03] omeryesil commented on #184
Ok, I changed the docker version from latest to v3.2.0, and I can get the token in the header (Access-Token) now.

[2019-06-16 16:00] BeyondEvil opened #188 "Fails to add email file to watcher"
Trying to run using a docker container via docker-compose.

But when running the container I get:

[code]

File is present and readable:
[code]

docker-compose.yml:
[code]

Macos: 10.13.4

What am I doing wrong?

[2019-06-16 16:35] BeyondEvil commented on #188
I'm an idiot. Forgot to actually pass the file to the container.

[code]

[2019-06-16 16:35] #188 closed

[2019-06-17 09:09] Miouge1 opened #189 "Set Authorization Header not adding in response"
## Expected Behavior

I've set `--set-authorization-header=true` therefore I am expecting to the an `Authorization` header on the oauth2_proxy responses.

## Current Behavior

The following headers are part of the response:
[code]

## Context

I'm trying to follow @JoelSpeed 's article on [Kube Dashboard SSO with oauth2_proxy](https://thenewstack.io/single-sign-on-for-kubernetes-dashboard-experien

[2019-06-17 14:29] ploxiln commented on #189
`--set-authorization-header` adds the Authorization header to the _request_ to the upstream service, when oauth2_proxy is used in "proxy" mode instead of "auth_request" mode.

[2019-06-17 14:36] ploxiln commented on #189
ah, right, sorry

[2019-06-17 14:57] Miouge1 commented on #189
I'm using oauth2_proxy in the "auth_request" mode with the `ingress.kubernetes.io/auth-url`

Here is the config file, nothing fancy:
[code]

[2019-06-18 08:08] MedoDome commented on #184
Try to add "--set-xauthrequest"

Pass Access Token wasn't populating X Auth Req Acess Token, I had to activate xauthreq

[2019-06-18 15:27] mariusmarais opened #191 "Google `approval_prompt` vs `prompt`"
I'm trying to force the Google provider to present an account dialog instead of silently redirecting.

Setting `approval_prompt` to `force` (default) does not in fact force an approval prompt with the Google provider, at least not anymore.

Skimming the parameters in the [Google docs](https://developers.google.com/identity/protocols/OAuth2WebServer#redirecting) shows values `none`, `consent` & `se

[2019-06-18 15:54] omeryesil commented on #184
Yes, I tried "--set-xauthrequest" which returns the jwt in X-Auth-Request-Access-Token header, cookie's vlaue is encrypted.

[code]

I went through the code, having the cookie value opaque is more secure for SPAs.. However, in my case, I have both SPA and APIs , and I want to pass the token to the APIs for authorization while keeping the token encrypted in the browser.. Not sure how to do that (wi

[2019-06-18 19:20] ploxiln commented on #184
There are options to pass the token upstream as well (assuming you use oauth2_proxy in proxy mode instead of in auth_request mode): `--pass-access-token` and `--pass-authorization-header`

[2019-06-19 08:32] astorath opened #192 "Pass predefined Bearer token to upstream"
## Expected Behavior

I want to be able to use kubernetes token (passed to container as mounted file) as a **Bearer** token for upstream.

## Current Behavior

For the time being I can only pass OIDC token to the upstream AFAIK.

## Possible Solution

1. More general solution:
- add a list of header overrides for upstream requests
- add an option to use file as custom header source
2. More specifi

[2019-06-19 11:29] steakunderscore opened #193 "Hide domains for google auth"
## Expected Behaviour

When exposing oauth2_proxy to the internet we need to not list the domains that are valid to auth with. This is to stop leaking data about which external domains (customers) we are interacting with.

## Current Behaviour

Currently the following is printed, leaking details about which accounts are valid:

[code]

## Possible Solution

I would propose we add a `-banner` flag

[2019-06-19 13:00] steakunderscore opened #194 "Replace gometalinter which is deprecated"
The linter [gometalinter](https://github.com/alecthomas/gometalinter) is deprecated and the project was archived on 2019-04-07. gometalinter recommends switching to [golangci-lint](https://github.com/golangci/golangci-lint).

[2019-06-20 09:24] Miouge1 commented on #189
@JoelSpeed I did some digging into this and found that the "gitlab" provider doesn't set the `session.IDToken`, so instead I'm switching to the `oidc` provider (need to set the `oidc_issuer_url`) and it looks better.

[2019-06-20 09:30] #189 closed

[2019-06-20 22:52] etho201 commented on #46
I heavily followed devster31's example and was finally able to get it working with a more complex setup which includes subdomains. The key changes I needed to make were added "-whitelist-domain" and the Hostregexp to the Traefik frontend rule. This has greatly simplified my workflow, where before I had to login separately to every micro-service, now I have SSO capabilities for several apps. I'm ve

[2019-06-21 14:29] toonvd commented on #86
@benfdking you can manaually alter the statuscheck without redeploying the Ingress and update the deployment.
So applying this to an existing installation is not a problem.

I have done this on several existing projects. As for @Blasterdick his solution, I just point to Ping.

[code]

[2019-06-22 21:26] BondAnthony opened #197 "Oauth2_proxy or Nginx-ingress something misconfigured"
I'm using oauth2_proxy in Kubernetes to handle auth in front of Graylog. I'm using the Graylog SSO plugin that relies on trusted headers. I have oauth2_proxy configured to use OIDC and Auth0 as the provider. The connections between oauth2_proxy and Auth0 are working without any issues. The response sent back to Graylog from oauth2_proxy is working also and the required headers are being sent to th

[2019-06-24 06:38] dmeenhuis opened #199 "How to use tokens as bearer tokens for API calls from a SPA?"
I have a similar use-case as #184  where I also have a SPA (React application, which is served from a Docker image running nginx and just serves static files) and a separate API. Both are deployed as individual services in Kubernetes with nginx as an ingress controller in front of them. The site has oauth2_proxy deployed as a sidecar container and handles authentication against Azure AD.

This set

[2019-06-26 19:39] jakajancar opened #200 "Feature request: Add support for starting a child process"
It would make things slightly simpler (e.g. in Heroku Procfile, Docker `CMD`, or just while developing) if oauth2_proxy could start a subprocess, similar to `sudo`, `authbind`, etc...

Bonus points if it sets `PORT` to a random port and automatically sets `--upstream` to `http://localhost:$PORT`.

Instead of:

[code]

You could do:

[code]

eliminating an extra bash process on the way.

[2019-06-27 16:58] steakunderscore commented on #200
Would it make more sense to solve this problem by running two different containers? Making use of something like [docker compose](https://docs.docker.com/compose/overview/) or two containers in a single pod in Kubernetes? To me having oauth2_proxy be able to fork processes seems a little dangerous, both stability and security wise.

[2019-06-27 17:58] jakajancar commented on #200
Let's not assume that everyone is using containers or even k8s :) I also don't think you can do that on e.g. Heroku, and if you can, it's more expensive.

Don't understand where the danger comes from?

To me the biggest downside is feature creep (having to handle the signals for the child etc.)

[2019-06-29 23:44] starkers commented on #182
You may have a service that can provide (via a auth0 management API) additional features like password resets/bla bla.. for Auth0 for example the `user_id` is what u want (to start with) for sure.

I'm no expert but I think yes. Passing the JWT is quite a common.. its not uncommon to want that for several reasons..

- auth0 can have external connections (EG: azure AD).. you might want to embed met

[2019-07-01 03:09] yob commented on #182
Thanks! I'll close this issue for now, I think we have enough context to continue integrating auth0 and oauth2 proxy

[2019-07-01 03:09] #182 closed

[2019-07-01 15:37] #194 closed

[2019-07-01 19:46] alexandrst88 commented on #46
 @JoelSpeed what's your thoughts?

[2019-07-02 09:29] JoelSpeed commented on #46
WRT to the redirecting to the FQDN, you can an a query string to the `/oauth2/sign_in` URI, I don't know if traefik has it available but maybe something like `/oauth2/sign_in?rd=https://${FQDN}/${URI}` might work?

[2019-07-02 09:32] alexandrst88 commented on #46
No, it's not available, so, I'm think I will try to contribute to traefik, to support this endpoint as nginx does.

[2019-07-03 20:25] djsly commented on #64
@Ghazgkull do you remember how you got it to work in the end  We are also using a proxy (ambassador) in front of the oauth2 proxy.

when we go through Ambassador to reach /dashboard, we redirect to oauth2_proxy but the /dashboard is always kept...

[2019-07-03 23:53] davidholsgrove opened #202 "ETA on cutting a New Release?"
Hi @joelspeed,

Do you happen to have an ETA on when a new tagged release might be expected?
Theres been some big changes since v3.7.0 in April, would be great to get a new cut :)

[2019-07-04 08:00] JoelSpeed commented on #202
Hey @davidholsgrove, the next release is going to be a major one and as such, I've been trying to get all the breaking changes in aware of done and merged.

Unfortunately I've been quite busy on other urgent projects recently, but I should have some time next week to fix up #186, get that merged, and then cut a release from that point

[2019-07-05 06:55] nniikkoollaaii commented on #29
@marratj could you share your nginx Setup / Version pls?
Or could someone explain why "name_1" in "$upstream_cookie_name_1" should match "_oauth2_proxy_1"?

I'm having problems setting up above provided solution.

I tried both

    nginx.ingress.kubernetes.io/rewrite-target: /$2
    nginx.ingress.kubernetes.io/ssl-redirect: "true"
    nginx.ingress.kubernetes.io/force-ssl-redirect: "true"
    ngin

[2019-07-05 19:47] caarlos0 commented on #46
@maxlaverse any plans on opening that PR?

[2019-07-05 20:57] maxlaverse commented on #46
Before opening a PR I would need to add tests and documentation.

First I'd like to know if this small change I propose in a branch would be a way to go @caarlos0. Because to have Traefik and the oauth2_proxy working together we could also add a query string to the existing auth endpoint, or modify Traefik.

[2019-07-05 21:10] mazzy89 commented on #46
I remember that i’ve added the query string but it did not work in my case. Have anyone tried this query string?

[2019-07-06 20:31] caarlos0 commented on #46
allright, I'll try to deploy your branch to test :)

[2019-07-06 21:08] caarlos0 commented on #46
ok, you branch definitely work @maxlaverse !

My config:

[code]

and the basic ones on oauth2_proxy:

[code]

One thing I was not able to make work is redirection after logging in, e.g., going not logged to `app.foo.bar/blah`, logging in and then going back to the same url. I tried to use `?rd=$$escaped_request_uri` but that cause the redirect to go to `login.foo.bar/blah` instead 🤔  Any tips?

[2019-07-08 14:48] marratj commented on #29
Hi @nniikkoollaaii

`name` always needs to be substituted with the actual cookie name (which can only contain letters, numbers and underscores due to how nginx adresses cookie names as variables).

So if you don't set a custom cookie name in oauth2_proxy (thus keeping the default `_oauth2_proxy`), the configuration should look like this:

[code]

This puts the content of the upstream cookie named

[2019-07-09 15:59] toote opened #205 "Authorization header sent to upstream unconditionally"
Currently have oauth2_proxy running off the `latest` tag with an nginx as an upstream that is configured as a proxy to ab AWS-managed ElasticSearch that authenticates via IP.

When trying to access Kibana through this setup, we get an error stating: `not a valid key=value pair (missing equal-sign) in Authorization header: 'Basic REDACTED'. `.

## Current Behavior

After some debugging, it would ap

[2019-07-09 16:33] ploxiln commented on #205
`--pass-basic-auth` defaults to True, you'll want to use `--pass-basic-auth=false`

[2019-07-09 16:35] ploxiln commented on #205
(This `--pass-basic-auth` option sends just username, but no password, or a static password you configure separately, just as a way to pass username to some applications which may expect it this way. The `--pass-authorization-header` option sends Bearer with real token.)

[2019-07-09 16:48] toote commented on #205
@ploxiln I will try that and let you know

[2019-07-09 18:16] toote commented on #205
you were right... my bad for not reading the header correctly

[2019-07-09 18:16] #205 closed

[2019-07-10 02:05] xynova commented on #131
In order to get an id_token with azure we seem to have to specify the `response_type=code id_token` in the request. Currently the provider_default implementation only does `code`

[code]

Maybe the solution is to implement a custom  `GetLoginURL(redirectURI, state string) string` method for the Azure provider or to allow passing `response_type` into config?

[2019-07-10 02:08] xynova commented on #161
It would be nice to generate tokens that could be used by CLIs for sure and not have to rely on a different tool for the job. +1

[2019-07-10 02:33] xynova commented on #18
I'm currently testing the `skip-jwt-bearer-tokens` in conjunction with `additional-jwt-issuers` to validate jwt tokens requested externally from AzureAd. However, AzureAd has some limitations on the claims it sets in the tokens meaning that:

- `email` claim might not be set unless you are using office365 or you are syncing an on prem AD
- `sub` is some specific identifier that cant be used to map

[2019-07-11 15:38] #117 closed

[2019-07-11 18:33] Alives opened #207 "Update email_domain documentation to show that it is a list/array."
Documentation for Google provider does not list `email-domain` as a valid option.  I have a service that I want a Google account verified prior to accessing, but I do not care who the user is or what domain they are on.  Is this possible?

Setting `email_domain = "*" `in my conf resulted in:
[code]

[2019-07-11 19:01] ploxiln commented on #207
try:
[code]

[2019-07-11 19:08] Alives commented on #207
Woohoo!  Can you update documentation to state the obvious, that this is a list?

[2019-07-11 19:11] ploxiln commented on #207
There are a few different configuration options which are repeated-singular in the command-line flags, and a plural-list in the options file. So on the command line, this is still:

[code]

[2019-07-11 19:15] ploxiln commented on #207
(but if you find a good place to clarify, do open a pull request :)

[2019-07-11 19:16] Alives commented on #207
I noticed that when using the config file, the only valid option is `email_domains`.  `email-domain`, `email-domains` are both invalid and result the error `use email-domain=* to authorize all email addresses` which is also inaccurate.  I think the singular/plural is misleading.  Is there a way to standardize config file / command args to all be the same?

Happy to open a PR, just need to figure o

[2019-07-14 03:12] davidholsgrove commented on #202
No worries, thanks @JoelSpeed. Maybe a RC tagged release (and docker image) would be help?

[2019-07-14 03:12] #202 closed

[2019-07-14 03:18] davidholsgrove commented on #161
Hi @JoelSpeed, I too would like to know if this is possible and if it is, we can have an example in curl / postman to show the steps in the Readme perhaps?

[2019-07-15 14:35] #49 closed

[2019-07-15 14:47] JoelSpeed commented on #193
@steakunderscore Is this now ok to be closed?

[2019-07-15 15:08] #193 closed

[2019-07-15 23:06] toote opened #212 "Fails to start if `tls-cert-file` or `tls-key-file` not specified"
I am testing OAuth2_Proxy using `latest` tag, a deployment that was running correctly with image `3426ecb` fails to start when using image `d1e37d3` with the error:

[code]

## Expected Behavior

Service should still start when not passing `tls-cert-file` options

## Current Behavior

Service doesn't start :(

## Possible Solution

Apparently, PR #186 forgot to update the [name of the options in `

[2019-07-15 23:16] JoelSpeed commented on #212
The highlighted solution is indeed the issue, apologies for missing this in #186. I'll raise a PR to fix tomorrow when I'm back at work

[2019-07-16 09:30] sharif9876 commented on #199
Does your API have the capability to use JWT tokens that you get from Azure AD?

[2019-07-16 11:41] andrevdh commented on #212
Hi @JoelSpeed we're also affected by this bug now ... and v3.2.0-arm64 is too old to roll back to (I think) for us

[2019-07-16 12:50] JoelSpeed commented on #212
Please see #213 for the fix, will get merged shortly

[2019-07-16 20:55] omeryesil opened #214 "Adding Aws Cognito Provider"
Can we add Aws Cognito provider, something like: https://github.com/mbartsch/oauth2_cognito_proxy/blob/cognito/providers/cognito.go

If it is ok I will be happy to create a PR for it.

[2019-07-17 09:05] JoelSpeed commented on #214
I'm not against this, but before we go ahead, is there any reason Cognito can't be used with the generic OIDC provider?

[2019-07-17 09:10] #212 closed

[2019-07-17 15:41] victornoel commented on #191
For the record, one can set both `consent` and `select_account` with the following: `prompt=select_account+consent`.

Using consent is useful to force the retrieval of a `refresh_token`, see https://github.com/pomerium/pomerium/pull/81 for a similar situation with pomerium.

Note also that enabling `select_account` would be required to avoid the current identity of an already logged in user to be

[2019-07-18 13:01] omeryesil commented on #214
I haven't tested it with OIDC provider, will give it a try. If it works, to be honest it doesnt provide that much value to have a separate provider for Cognito. On the other hand, I also think it would be nice to have a dedicated one, as oauth2_proxy has providers for Facebook, Azure AD, Gitlabl, etc..

[2019-07-18 22:32] Queuecumber opened #216 "Redirect to Another Domain"
Not sure if I'm missing something here, this is maybe related to #10 or #24

We have a lot of subdomains that need authentication, so instead of having an auth endpoint for each we we have a single https://auth.example.com endpoint which is oauth2-proxy and sets the cookie for domain example.com

When we do that using the example code, the user is redirected to https://auth.example.com/whatever in

[2019-07-19 01:48] v7lin opened #217 "Add Gitea as a provider"
[Gitea](https://gitea.io/) supports acting as an [OAuth2 provider](https://docs.gitea.io/en-us/oauth2-provider/) to allow third party applications to access its resources with the user’s consent. This feature is available since Gitea release 1.8.0.

- [ ] Check, can gitea used with the generic OIDC provider, if this is the case then please submit docs for this.

If the generic OIDC provider can't

[2019-07-19 08:22] JoelSpeed commented on #216
Hi @Queuecumber, there is indeed, since you have OAuth2 Proxy centrally, I'm assuming you have nginx set up in front of each of your service endpoints, redirecting to oauth2 when you need to authenticate?

In that case, you can set the `rd=https://$host$uri` query string parameter in nginx config for the `signin-url` (this is the annotation name for nginx-ingress at least) or the `error_page 401`

[2019-07-19 21:24] fnaeem78 opened #218 "getting code back but not access token, _oauth2_proxy cookie is also not set"
I am running oauth_proxy release 3.2.0, darwin on my Macbook.  Here is my configuration
The provider is azure.

[code]

## Expected Behavior

I was hoping to see both access_token and id_token but I am only seeing the code.

## Current Behavior

Here is what I am getting
[code]
Why is the cookie not set, I looked through #26, but the suggestion there was to set the cookie domain.  Mine is already

[2019-07-20 05:09] tsraza opened #219 "Feature Request: Add support for envoy:ext_authz"
Envoy proxy has authorization filter that expects a 200 response (plus useful headers), instead of a redirect to an upstream.

## Expected Behavior

Let envoy handle the redirect

## Current Behavior

The request gets forwarded to the upstream.

The only way to use with envoy is to pass the request directly to oauth2_proxy, rather than using the *ext_authz* filter.

## Possible Solution

Add a con

[2019-07-22 10:08] JoelSpeed commented on #219
Hey @tsraza,

We already have an endpoint that returns `202` and `401` responses depending on whether the user is authenticated or not, would that suffice? Could you try the `ext_authz` filter pointing at the `/oauth2/auth`  endpoint on your instance of the proxy?

[2019-07-22 12:36] Queuecumber commented on #216
Confirmed this works perfectly, thanks a lot

[2019-07-22 12:36] #216 closed

[2019-07-22 20:31] tsraza commented on #219
Thanks @JoelSpeed .  It gives a 404 either way if an upstream is not configured.

Even with an upstream configured, I think the only way to configure the `ext_authz` filter to hit `/oauth2/auth` is to prefix it to every request.  So the callback urls become `/oauth2/auth/oauth2/callback`.

Using ext_authz and setting the upstream to a backend service yields a timeout, even though I can see the bac

[2019-07-22 21:29] tsraza commented on #219
@JoelSpeed I got it work with the `ext_authz` filter by hacking the handler and status codes in `oauthproxy.go`:

#### do not proxy (could not switch on upstream config given only `p`)

[code]

#### return 200 instead of 202

[code]

[2019-07-22 22:52] toote opened #222 "Long requests fail after 30 seconds with context canceled"
When the service being proxied takes too long to reply, the request is cancelled and the client receives a 502

## Expected Behavior

You should be able to configure a timeout for the proxied service.

## Current Behavior

A request that takes over 30 seconds for a reply fails with 502 and you see the following in the logs:

[code]

## Possible Solution

I am not well-versed in Go so, despite tryi

[2019-07-24 07:33] sitsofe commented on #161
@pedreen do you mean cookie rather than token?

[2019-07-25 07:55] 8snit commented on #214
for us the OIDC provider of oauth2_proxy works out of the box with AWS Cognito - but the provider above includes a group membership check as additional functionality, something we would also need

this could be implemented in a generic way for OIDC as well by not just making group name (e.g. "admin") but also the claim name containing groups (here "cognito:groups") in id_token configurable

"cogni

[2019-07-25 15:42] Ofinka commented on #127
Hi I found this pull request back in original repository: https://github.com/bitly/oauth2_proxy/pull/366
Today I merged it locally into latest version of pusher/oauth2_proxy and built a docker image from it.

I then tried to setup proxy with keycloak and it looked cool (I got authenticated but sadly the /oauth2/callback returns 500 - this is probably just my bad understanding of keycloak's oauth p

[2019-07-25 17:16] mannp commented on #127
@Ofinka sounds cool, thanks for the info and motivation, as i am trying to get his to work without much success yet.

I have the proxy configured as above but must be missing something trivial, as its not even redirecting to my keycloak instance.

I am trying to link it behind my letsencrypt reverse proxy.

I will see if I can do a similar thing as you have done.

[2019-07-26 13:14] Ofinka commented on #127
Hi finally I've made it working with bitly/oauth2_proxy#366 PR.

Basically I just needed to specify correctly `--redeem-url` `--validate-url` and `--login-url`.

I put my configuration in case someone else wants to use keycloak provider.
In my example I tried to secure management UI of rabbitmq which is internally accessible at ch-rabbitmq:15672. Note that I host my Rabbit at **infrastructure** na

[2019-07-27 20:02] mannp commented on #127
Getting some errors building the previous PR, maybe missed something.

Hopeful someone with fresher skills can recreate the PR :)

[2019-07-29 19:15] sc250024 commented on #109
Also curious if anyone got this working for GitLab? In my case, the redirect to GitLab works fine, but GitLab redirects to the bsae oauth2 proxy (https://oauth2.mycompany.com/) instead of following the `rd=https://$host$request_uri` part.

Any ideas?

[2019-07-30 09:24] sc250024 commented on #109
Nevermind, solved it. It was the `whitelist-domain` feature :D

[2019-07-30 10:35] sc250024 opened #228 "Support for GitLab groups"
Opening issue for supporting GitLab groups, so that if using the `gitlab` provider, it's possible to limit authentication to only members of your group / organization.

## Expected Behavior

The GitLab provider should have something similar to the GitHub provider like so:

[code]

## Current Behavior

Currently, the GitLab provider only supports a very basic OAuth2 integration, which is that every

[2019-07-31 08:54] JoelSpeed commented on #228
There was some work done around this but it never got merged, perhaps someone could pick it up again? https://github.com/pusher/oauth2_proxy/pull/137

[2019-08-01 07:44] Overv commented on #228
I've been working on a similar PR, but I'd like to implement it differently than #137 so that it only requires the `openid` scope and not the whole `api`.

[2019-08-01 08:27] sc250024 commented on #228
@JoelSpeed thanks for the suggestion.

@Overv I was going to take the code JoelSpeed had suggested, and modify it to get it merged. If you don't have time I can work on it, but I don't know how much progress you've made.

[2019-08-01 08:48] Overv commented on #228
@sc250024 I'm pretty far along and will be submitting a PR early next week.

[2019-08-01 12:10] sc250024 commented on #228
@Overv Oh cool! Honestly, I spun up this issue to remind myself to do it soon, but if you've already done it, that's awesome. Thank you so much!

[2019-08-01 15:02] omeryesil opened #230 "Is there a way to authenticate from server side apps"
Is there a way to provide credentials and get the auth cookie without seeing the provider's login page which requires user interaction.

We do have some backend code (desktop app, postman test scripts, etc..) which need to get authorized in order to call our apis running behind K8s Ingres with oauth2_proxy. It would be nice to have an option to send credentials from a backend code to get authoriza

[2019-08-03 15:23] steakunderscore commented on #218
At a glance, `_oauth2_proxy` cookie is not set because the secure flag is set on cookies by default. If you are testing with http, you'll need to add `--cookie-secure=false`. Let me know if this solves your issue?

[2019-08-03 15:25] steakunderscore commented on #214
If it does work it'd be great to see some docs on how to set it up. Even if it's straight forward, it'll help the next person.

[2019-08-07 11:44] haf opened #237 "Feature request: opentracing"
It would be nice if oauth2_proxy tied into tracing one has configured for the other deployments, e.g. by specifying a jaeger/zipkin agent/collector hostname/port. Example: https://www.ory.sh/docs/hydra/debugging#distributed-tracing

[2019-08-07 12:15] agolomoodysaada commented on #237
FYI... OpenTracing has now been merged with https://github.com/open-telemetry

[2019-08-07 12:19] haf commented on #237
@agolomoodysaada I didn't know. Thanks! Good to know. Strange they haven't also updated their readme's for the client libs...

[2019-08-07 16:48] #75 closed

[2019-08-08 18:02] wallcrosstype commented on #218
If you're using provider=azure then you'll have to refer to 'authentication code' flow

- https://docs.microsoft.com/en-us/azure/active-directory/develop/v1-protocols-oauth-code
- https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-oauth2-auth-code-flow

Alternatively you can set provider=oidc, issuer-oidc-url=https://login.microsoftonline.com/`tenant-id`/v2.0

---

    127.0.0.1 -

[2019-08-09 08:06] sc250024 commented on #228
Closing since https://github.com/pusher/oauth2_proxy/pull/231 was merged! Thanks to @Overv !

[2019-08-09 08:06] #228 closed

[2019-08-13 10:34] ferhatelmas opened #243 "docs(contributing): remove dep references"
## Expected Behavior

No mention of dep in contributing since modules are in use now.

Related, `GOPATH` requirement isn't valid either.

## Current Behavior

Install dependencies via dep.

## Possible Solution

Remove references to dep.

## Steps to Reproduce (for bugs)

N/A

## Context

https://github.com/pusher/oauth2_proxy/blob/master/CONTRIBUTING.md

## Your Environment

N/A

[2019-08-13 10:57] ferhatelmas commented on #167
It seems this should be closed.

[2019-08-13 12:21] #167 closed

[2019-08-14 12:23] kivagant-ba opened #245 "Support request: is this possible to configure oauth2_proxy only with http basic auth?"
I'm looking for a working configuration which can protect an endpoint with http basic only. Since I already have oauth2_proxy installed for, obviously, oAuth2 authentication, it would be convenient to use the same proxy to protect other endpoints with HTTP basic where oAuth is not applicable.

Is this possible not to enable any providers in `oauth2_proxy` configuration? How command arguments must

[2019-08-14 18:40] midnightconman opened #246 "Github Provider Team / Org Pagination Doesn't Work"
## Expected Behavior
I expected oauth2_proxy to gather all teams I belong to, but it only pulled the first 19.

## Current Behavior
oauth2_proxy only gathered the first 19 teams I belong to in my org. I looked and I don't see any pagination logic in the github provider code.

## Possible Solution
- One possible solution would be to import a github provider that support pagination and utilize their

[2019-08-16 13:53] #40 closed

[2019-08-22 07:48] kaspernissen commented on #135
I think we are experiencing a similar issue. When we put `pusher/oauth2_proxy` in front of rabbitmq, we experience issues with the management ui.

The issue we are seeing, is that we get 404s from rabbitmq when requesting specific queues with a vhost named `/`.

It seems that rabbitmq is responding with a 301, and it seems that the `%2F` (`/`) is stripped from the path. Resulting in a 404.

The fo

[2019-08-22 13:21] sbocinec opened #251 "Incorrect sha256sum checksum file"
Current oauth2_proxy [sha256sum checksum file](https://github.com/pusher/oauth2_proxy/releases/download/v4.0.0/oauth2_proxy-v4.0.0.linux-amd64-sha256sum.txt) contains path that differs from the structure of the [release tarball](https://github.com/pusher/oauth2_proxy/releases/download/v4.0.0/oauth2_proxy-v4.0.0.linux-amd64.go1.12.1.tar.gz). This results in the checksum verification failure.

## Ex

[2019-08-22 20:04] sbocinec opened #253 "Wrong environment variables handling"
The app incorrectly handles specified environment variables. For example setting OAUTH2_PROXY_EMAIL_DOMAIN is completely ignored and the app fails to start with error:
[code]

According to [documentation](https://pusher.github.io/oauth2_proxy/docs/configuration#environment-variables) "Every command line argument can be specified as an environment variable by prefixing it with `OAUTH2_PROXY_`, capi

[2019-08-25 19:25] Just-Insane commented on #127
@Ofinka I followed your steps and built my own container with the added/modified files from your PR, and was able to get Keycloak working.

In terms of use, since each proxy can only support one client in Keycloak, it would be better to have a proxy for each service you want to protect, correct? Then you could set proper redirect URIs and whatnot within Keycloak.

[2019-08-25 19:55] dsb3 opened #254 "Bug: CSRF failure when logging in with the same account from multiple devices"
In a previous version of oauth2_proxy I was able to log in with the same gmail account on multiple devices (desktop + mobile).

In the most recent, when I try to do so the first device can log in, and subsequent devices get "Invalid authentication via OAuth2: csrf token mismatch, potential attack"

Some variation of changing the cookie name; OAuth secret and restarting allows me to invert which de

[2019-08-26 09:38] sbocinec commented on #253
OK, i found that according to the code using plural version of the env variable(s) is expected behaviour:
[code]

There are few others, like `OAUTH2_PROXY_EMAIL_UPSTREAMS`, `OAUTH2_PROXY_WHITELIST_DOMAINS`, etc.

So either the documentation is incorrect and should be updated to contain mapping of the command line arguments to the ENV vars variant or the code should be updated to follow the documen

[2019-08-26 16:12] daroga0002 opened #255 "oauth2-proxy with our Dex IDP"
We are integrating oauth2-proxy with our Dex IDP fro Kubernetes Dashboard.
Configuration is basing on:
- nginx ingress
- oauth2-proxy
- DeX IDP
- Kubernetes Dashboard

In general Kubernetes dashboard allows login using [Authorization (Baerer token)](https://github.com/kubernetes/dashboard/wiki/Access-control#authorization-header) so we want to use nginx ingress with auth annotations.

We setup eve

[2019-08-26 20:00] daroga0002 commented on #255
This seems be related to https://github.com/dexidp/dex/blob/0db538a4bbf4fc059d5bd29f0c84eee6b50a40c4/Documentation/custom-scopes-claims-clients.md question does oauth2-proxy supports such scopes?

[2019-08-27 08:24] pixelblender commented on #88
bump. +1

[2019-08-27 08:55] daroga0002 commented on #255
we solved this using following configuration in oauth chart:
[code]

[2019-08-27 08:55] #255 closed

[2019-08-27 09:55] JoelSpeed commented on #56
Can you tell me which provider you use?

I don't think we should be implementing case insensitivity when reading from IDTokens. OIDC tokens and userinfo endpoints encode data in JSON which *is* case sensitive. The OIDC Spec also lists the fields and their standard names that any provider should be using. I'd prefer not to have special logic for individual providers who are mis-implementing OIDC in

[2019-08-27 10:07] JoelSpeed commented on #253
This is being clarified slightly in #252 though I appreciate the docs around configuration need an overhaul. I'd like to do some research on how over projects handle this but I don't have any time on my hands at present

[2019-08-27 10:12] JoelSpeed commented on #254
This is a curious bug and certainly isn't present within our setup. I can log into our sites protected by the proxy from both my phone and laptop, though we are using the OIDC provider rather than the gmail provider. I would suggested therefore to start the bug hunt in the gmail provider itself 🤔

That said I'm not aware of any changes that have been made to the provider since we have taken over t

[2019-08-27 15:10] martinssipenko opened #257 "Support for custom claims"
It would be great to be able to check not only against email but also custom claims and their values. This way if custom claim is included in `id_token` then only users with specific values in that custom claim would be allowed in, right now only the email is checked, which allows all users that have a `id_token` for specific email domain.

[2019-09-02 06:12] etho201 commented on #46
Here's a link to my docker-compose file for anyone interested in seeing how I implemented this oauth2 proxy with Traefik. It's working great!

https://github.com/etho201/docker-compose/blob/master/pi4-stack/docker-compose.yml

The only minor annoyance is what I listed earlier...

...but I can certainly live with that.

[2019-09-02 16:31] cfra opened #259 "Feature request: Redirect to HTTPS"
## Current Behavior

We are running this excellent of oauth2_proxy on Heroku using this build-pack: https://github.com/cfra/heroku-buildpack-oauth2-proxy

oauth2_proxy runs as reverse proxy in front of an nginx which serves static files.

When I access the heroku application using plain HTTP, the "login with github" button will be shown and the cookie will be set, all without encryption.

After au

[2019-09-02 18:56] dsb3 commented on #254
Thanks for the detailed reply, Joel.  Perhaps it's something else amiss at my end.  I'll try to re-duplicate the problem, and see if I can also recreate using OIDC.

If nothing changed in the app that would cause this, I wonder if Chrome itself changed in the way it synchs cookies between devices and is causing the issue.  I'll take a look into that when I have time and report any findings.

To th

[2019-09-03 12:35] hanikesn commented on #127
Keycloack worked perfectly fine for me when using the oidc discovery url no need for manual configuration at all.

[2019-09-03 14:30] slashbeast opened #260 "providers: azure: no support for cookie refresh in the code"
## Expected Behavior
The cookie gets refreshed

## Current Behavior

No cookie gets refreshed, as provider lacks code for refresh and just defaults to returing false in bool context, oauth2_proxy terminate session and require user to re-login.

## Possible Solution

Implementing RefreshSessionIfNeeded function into azure provider.

## Steps to Reproduce (for bugs)

1.  Configure Azure/Office365 pr

[2019-09-05 13:31] transient1 commented on #109
I think I've done what was suggested here but am still having issues with the redirect. I have an oauth proxy with this config:

`spec:
      containers:
      - args:
        - --provider=google
        - --email-domain=mycompany.com
        - --upstream=file:///dev/null
        - --http-address=0.0.0.0:4180
        - --cookie-domain=mycompany.engineering
        - --whitelist-domain=".mycompany.

[2019-09-07 16:12] YusukeIwaki opened #261 "scope: repository + team is unexpectedly required with Bitbucket provider."
## Expected Behavior

My configuration doesn't have `bitbucket-repository` or `bitbucket-team`
So I believe scope 'repository' or 'team' is not required.

* https://github.com/pusher/oauth2_proxy/pull/201/files#diff-4cb78aad604e1103b8cf3291d7f30ecbR54
* https://github.com/pusher/oauth2_proxy/pull/201/files#diff-4cb78aad604e1103b8cf3291d7f30ecbR62

It seems these logic also expect so. #201

## Curr

[2019-09-08 14:57] dsb3 commented on #254
I've done some more testing on this.  It looking like unexpected behaviour in google's synching of (presumably cookies) between devices logged in to the same account.

I just logged in once from my mobile, and once from an incognito window using the same gmail account to authenticate with zero issues.

**This is not a bug in oauth2**, but there might be a feature request hiding in here to handle t

[2019-09-16 13:47] lukaszbandi opened #264 "access denied if trying to log in after cookie has expired and currently logged in with different account"
## Expected Behavior

After cookie expires user is asked to log in again. If user has logged out from Microsoft account and logged in with a different one before the cookie expired user is asked to select and account to log in with.

## Current Behavior

After cookie expires user is asked to log in again. If user has logged out from Microsoft account and logged in with a different one before the c

[2019-09-16 16:20] #264 closed

[2019-09-17 10:23] fnkr commented on #46
Traefik v2 makes this very easy with the ForwardAuth middleware. This is from my `docker-compose.yaml`:

[code]

There is just one problem: if the request is not authenticated, the oauth2 proxy returns just [.

The only problem is that the sign in page is not working properly: if the request is unauthenticated the user just gets a

The only problem is that the 401 page does not work properly. If t

[2019-09-26 11:18] m-wcislo opened #266 "Grafana auth proxy scenario not working for dashboard calls"
I'm using oauth2_proxy to protect Grafana. Basic flows are working, I'm redirected to IdP (Keycloak) and then logged in as my user. I have a problem with dashboards which are triggering requests towards /api/ and those are failing after token/cookie is expired. After refresh it starts working again for the time of token expiration.

## Expected Behavior

All the browser side requests should follow

[2019-09-28 04:59] etho201 commented on #46
Has anyone had any luck configuring this with Traefik v2.0?

[2019-09-28 10:06] fnkr commented on #46
@etho201 Here is my config for Traefik v2.0: https://gist.github.com/fnkr/a58b0cc741ffe4fb074b146476db4399
It is working, but there is a bug (see `README.md`).

[2019-10-01 09:05] JoelSpeed commented on #254
@dsb3 Are you happy to close this issue?

[2019-10-01 09:05] JoelSpeed commented on #253
@sbocinec Are you happy to close this issue?

[2019-10-01 09:35] mkauzlar opened #268 "Google settings ignored"
## Expected Behavior

Configured oauth2_proxy to run on nginx server with google as provider as per documentation.
following the docs part "RESTRICT AUTH TO SPECIFIC GOOGLE GROUPS ON YOUR DOMAIN. (OPTIONAL)" should allow further Gsuite group membership verification

## Current Behavior

Configured oauth2_proxy to run on nginx server with google as provider as per documentation.
Starting oauth2_pro

[2019-10-02 20:10] RO-29 commented on #222
I would like to work on a fix for this

Usually, when we do the http client request, The easiest way is to bind the http client with a configurable time-out

Something like

[code]

I will try to find a way if it's achievable in `NewSingleHostReverseProxy`

[2019-10-02 20:23] RO-29 commented on #222
Turns out there is `Transport` field exposed in `ReverseProxy`, by default it uses `http.DefaultTransport` which by default uses `30*time.Second` timeout. We could easily exploit this to pass our custom default timeout ...

[code]

[code]

[2019-10-02 20:56] RO-29 commented on #222
@toote @steakunderscore

Pls go through my PR once and let me know the suggested changes, this is my first ever intro to this repo via this issue only so not sure of proper guidelines of the PR's

https://github.com/pusher/oauth2_proxy/pull/270

[2019-10-02 21:13] RO-29 commented on #259
I would love to fix this issue

[2019-10-06 19:02] dsb3 commented on #254
I would prefer to re-categorize as an enhancement, so as to help anyone in the future who also runs into the same issue.

[2019-10-07 10:38] bpatters commented on #18
I've successfully used this with AWS Cognito (oidc provider)  using the `skip-jwt-bearer-tokens` and the `additional-jwt-issuers` and wanted to give a big thumbs up to brianv0 for doing this work. This saved me a lot of pain and work because I can now use the proxy for both API calls and Web authentication.

[2019-10-07 11:13] JoelSpeed commented on #139
If anyone is familiar with Prow's configuration syntax (or wants to learn it) then we have our Prow config at https://github.com/pusher/testing and a PR to that could add OAuth2 Proxy to our Prow instance

[2019-10-08 06:39] mkauzlar commented on #268
I figured it out

On the CLI works. This is because using the arguments with dashes such  as "google-admin-email" is used on the CLI.

All the arguments must be converted to underscores when using the config, like google_admin_email

I had the google stuff in the config file with dashes because I copied it from the website docs https://pusher.github.io/oauth2_proxy/configuration

The thing is that

[2019-10-09 03:47] scottnuma commented on #216
A note for others who reference this, the [documentation on configuration](https://pusher.github.io/oauth2_proxy/configuration) has `whitelist-domain` instead of `whitelist-domains`

[2019-10-09 19:41] ivelichkovich commented on #197
Use -set-xauthrequest

this will pass through
X-Auth-Request-Email
X-Auth-Request-User

had to dig through the code and do some tcpdumping to figure this out but hopefully it helps someone else

[2019-10-09 20:56] Swetad90 commented on #109
Does anyone know how to redirect it to a host:port?
For me the redirect is happening only to the host (ie metrics.staging.com) and I want to redirect to metrics.staging.com:9099 ?

My prometheus ingress:
`  nginx.ingress.kubernetes.io/auth-signin: https://oauth2-qa.staging.com:9043/oauth2/start?rd=https://$host$request_uri$is_args$args

nginx.ingress.kubernetes.io/auth-url: https://oauth2-qa.stagi

[2019-10-09 21:58] Swetad90 opened #279 "Whitelist domain not working for Host:Port on redirects"
I have a prometheus instance running under `metrics-qa.staging.com:9043`. I have to give the port number as haproxy on that host uses 9043 and cannot run on any default port of 443.

I have oauth2-proxy v3.2.0 deployed in K8s and exposed under `oauth2-qa.staging.arm.com:9043`. It has below configs set:

      --http-address=0.0.0.0:4180
      --cookie-domain=.staging.com
      --oidc-issuer-url=ht

[2019-10-10 09:46] JoelSpeed commented on #109
@Swetad90 As far as I'm aware, the code that deals with the whitelists doesn't account for ports, maybe you could submit a PR to add it?

https://github.com/pusher/oauth2_proxy/blob/62bf233682372266e515fa477031c2aba5ff1512/oauthproxy.go#L497-L516

[2019-10-11 15:13] dekimsey commented on #257
To extend this issue a bit, I'd really like to have support for _exporting_ arbitrary claims akin to how user and email are exported (either in x-auth-request-* or x-forwarded-*). Claims could come from either the id_token or the userinfo endpoint, both are valid.

For what it's worth, I don't feel oauth2_proxy is the best place to be doing access control decisions past answering, "is this id_toke

[2019-10-16 09:18] sbocinec commented on #253
@JoelSpeed, yeah, it's now more clear as the doc has been updated! Closing this issue

[2019-10-16 09:18] #253 closed

[2019-10-16 13:47] richtera opened #283 "Proxy works locally on my machine but not in kubernetes with seemingly the same config."
For some reason I can run the proxy locally on my machine, but in kubernetes when deployed I get an error saying that there is no id_token in the response. It seems to happen in the code callback, but since the error is not written to the log I am at a loss of figuring out how to fix it.

## Expected Behavior

Oauth proxy with same settings should work locally and deployed in kubernetes.

## Curre

[2019-10-16 18:32] tlex commented on #266
I can confirm this happening with 4.0.0, but not with 3.2.0 - using GitLab (self hosted), not Keycloak. It seems that the token refresh doesn't work.

[2019-10-16 23:41] colinjfw opened #284 "Documentation inconsistent for -skip-auth-regex environment configuration"
## Expected Behavior

The environment variable `OAUTH2_PROXY_SKIP_AUTH_REGEXS` should configure the `skip-auth-regex` command line option.

This is documented here: https://github.com/pusher/oauth2_proxy/blob/master/docs/configuration/configuration.md#environment-variables.

## Current Behavior

The environment variable `OAUTH2_PROXY_SKIP_AUTH_REGEX` actually configures the `skip-auth-regex` comma

[2019-10-16 23:42] colinjfw commented on #284
I'm very happy that pusher is actively maintaining this fork by the way 🎉 happy to work on any improvements here.

[2019-10-16 23:55] m-wcislo commented on #266
I'm using here cookie store, which turned out to have problems with sending back _oauth2_proxy_x cookies in my setup (NGINX in auth request mode). From another thread, the issue goes:

So with working cookies the auth flow should never happen, because oauth2_proxy is replacing token silently. I just tested it with redis store and it works. So the original issue exists but with redis you should not

[2019-10-17 04:39] tlex commented on #266
I'm using docker swarm with [containous/traefik](https://github.com/containous/traefik) in front of oauth2_proxy. No credential store. This is the relevant part of the compose file:
[code]
I've already tried with different OAUTH2_PROXY_COOKIE_REFRESH times. The commented out parts are what I use (successfully) with oauth2_proxy v3.2.0

[2019-10-17 08:40] etho201 commented on #46
@fnkr Thank you for providing that gist. It's the best example I've seen of a Traefik 2.0 configuration (especially with the traefik.yaml file.

[2019-10-17 14:51] JoelSpeed commented on #284
Any help clarifying these would be appreciated!

I wonder if we could divide the option box into three rows within the configuration table, one for the flag, one for the config file option, and one for the regex?

I'm a little wary of adding an extra column as the table is already too wide and has to scroll.

Would you have time to play a bit and see what might look best for adding the information

[2019-10-17 19:27] junkiebev commented on #135
Same issue with a kubernetes instance, deployed with the helm chart, with an NGINX load balancer

[2019-10-17 19:40] tlex commented on #266
From the log:
[code]
Now, this was tested with:
[code]
The above error appeared exactly 2 minutes in.

[2019-10-17 22:55] syscll opened #287 "Investigate flakey validator tests"
## Expected Behavior

Unit tests should pass on every run regardless of environment.

## Current Behavior

Have recently noticed some of the validator tests failing in CI, specifically `TestValidatorOverwriteEmailListDirectly`

## Possible Solution

Investigate test implementation for potential flaws.

[2019-10-18 14:34] JoelSpeed commented on #283
Out of interest, have you reconfigured Auth0 to have the updated endpoint for you hosting on Kubernetes? Perhaps there is some difference between a `localhost` callback and a public url callback when running on Kubernetes?

If you feel comfortable in Go and building the binary, you could try adding some debug logging around the token redemption, sounds like you've already identified where in the c

[2019-10-18 14:55] WakeupTsai opened #289 "How to get the userinfo"
Hi,

I'm wondering is it possible to expose the user profile endpoint? So I can pass the information to my app.

This PR(https://github.com/bitly/oauth2_proxy/pull/388) seems do the trick!?

thanks

[2019-10-18 15:50] #287 closed

[2019-10-18 22:15] richtera commented on #283
I tried both. There is no error but in fact no id_token in the result. The accessatoken is fine. No idea why yet.

[2019-10-21 13:24] Richie765 opened #290 "Not working for self-hosted gitlab"
I've been using the proxy with GitHub a while and now wanted to move to a self-hosted GitLab. I'm using docker with the following env vars:
[code]

When logging on it redirects to "gitlab.com" instead of "gitlab.company.com". So it's not picking up the login-url.

When I comment out the provider line, it does go to the correct gitlab to login, but afterwards it will give an "internal error" and ac

[2019-10-21 13:40] jmfrank63 opened #291 "Configure script broken for bash versions < 4"
When following the contributing instructions ./configure fails with invalid option
## Expected Behavior
Configure to run without failures other than missing dependencies

No typos or invalid options expected

Let people know they have to upgrade their bash version

## Current Behavior
Configure script is broken:
[code]

## Possible Solution
Make bash version > 4 a necessity.

## Steps to Reproduce

[2019-10-22 06:41] Bluston opened #293 "Oauth2_proxy configure multiple client ids"
One application has one client id and client secret.if i have some apps,can a oauth2_proxy configure multiple applications?

[2019-10-22 13:46] jmickey opened #294 "Additional Tests for X-Forwarded-Proto"
PR #285 introduces additional logic that checks if the `X-Forwarded-Proto` header is set before redirecting to HTTPS if the `force-https` option is set to `true`.

This code will need some additional tests to cover the likely failure scenarios. E.g.

- Upstream proxy connects over TLS, but `X-Forwarded-Proto` is `http`. This should not redirect.
- Upstream proxy terminates HTTPS and sets `X-Forwar

[2019-10-22 13:46] #259 closed

[2019-10-22 15:37] icelynjennings commented on #109
@JoelSpeed thank you king

[2019-10-23 03:13] colinjfw commented on #284
@JoelSpeed do you have a method of autogenerating that table or is it just built by hand? I couldn't find any scripts for it.

Once I get that worked out I can probably just fiddle with hopefully the max-width on that page and maybe adjust some of the column widths to get it looking right.

Does this make sense?

[2019-10-23 06:35] ffdybuster opened #295 "Feature request: allow to change provider's name"
## Expected Behavior

It would be nice to be able to adjust the provider's name. This is mostly relevant for the OpenID Connect provider: the sign-in page could then be changed from `Sign in with OpenID Connect` to `Sign in with ACME Inc. Login`.

## Current Behavior

The provider name is hardcoded in the provider's implementation. For the OpenID Connect provider, the sign-in page always says `Sig

[2019-10-23 12:51] JoelSpeed commented on #284
@colinjfw Unfortunately no, no scripts to build it (though if you fancy building one that would be awesome!)

Everything you've said makes sense :)

[2019-10-23 12:57] JoelSpeed commented on #293
You could configure the OAuth2 Proxy using a whitelist domain to protect multiple apps (this is usually used in the nginx auth request mode), though the upstream identity provider would see only one client id and client secret

There is currently no support for multiple client ids and client secrets

[2019-10-23 16:21] JoelSpeed commented on #290
Looks like you need to set the OIDC issuer URL to your gitlab address and then it might work, basing this off of the code here:
https://github.com/pusher/oauth2_proxy/blob/6b8d2bdcc3b5abd61e73001a682d28b1193d1e21/options.go#L425-L447

`oidcVerifier` is constructed
https://github.com/pusher/oauth2_proxy/blob/6b8d2bdcc3b5abd61e73001a682d28b1193d1e21/options.go#L231-L269

Please let me know if that w

[2019-10-23 16:26] JoelSpeed commented on #289
Perhaps the code from that old PR could be ported across to this repo?

[2019-10-24 08:21] #293 closed

[2019-10-24 09:40] Richie765 commented on #290
Great! Got it working now. I see it in the docu now as well, I don't know how I missed it before. Tnx!

[2019-10-24 09:40] #290 closed

[2019-10-24 19:08] jaredvacanti commented on #284
The documentation is clear that environment variables and command line arguments can be used interchangeably and gives the method for switching between them -- does the same rule work for the configuration file?

Also, the scroll is a little wonky with the table being so long. You have to scroll to the bottom to scroll horizontally. Maybe just a button to expand the table would be helpful, too.

[2019-10-24 21:32] shauder commented on #177
+1

[2019-10-25 09:07] JoelSpeed commented on #284
Config file options are lower case and with underscores instead of hyphens, you can see the tags on this struct which show the `cfg` tag as what should be represented in the config file
https://github.com/pusher/oauth2_proxy/blob/35f2ae9a36bc979feb2377b40611fe4dd3d0c75a/options.go#L31-L133

[2019-10-25 20:40] syscll commented on #243
Fixed by #277

[2019-10-25 20:40] #243 closed

[2019-10-25 20:53] syscll commented on #81
Closing as it looks like this was a docker/config misconfiguration and has now been resolved.

[2019-10-25 20:53] #81 closed

[2019-10-26 14:05] #164 closed

[2019-10-26 22:40] m-wcislo opened #298 "Unify/refactor providers"
Currently providers use different code to do similar things Redeem/Refresh/Verification etc. It would be nice to unify the code by having default provider, which accepts custom parts that can be defined per provider if needed.

This change has many benefits:
* less code, code reuse
* easier and centralized testing
* easy adding new providers
* possibly adding missing parts, e.g. ID token verificat

[2019-10-28 16:39] #291 closed

[2019-10-28 18:09] syscll commented on #251
Thanks for bringing this to our attention!

After looking through some of the dist scripts, it looks like they haven't been migrated since we took over from [bitly/oauth2_proxy](https://github.com/bitly/oauth2_proxy).

I'll look into getting this fixed asap.

[2019-10-28 18:10] syscll commented on #251
@JoelSpeed we should discuss this on Slack.

[2019-10-29 00:10] syscll commented on #200
While I understand why you might want this functionality, I feel like it is outside the scope of `oauth2_proxy` as it's more of an environment configuration problem.

[2019-10-29 00:10] #200 closed

[2019-10-29 17:27] #251 closed

[2019-10-29 17:28] syscll commented on #251
@sbocinec I have rewrote the dist scripts to fix this issue. Hope it helps :+1:

[2019-10-30 02:49] PaulCharlton opened #303 "feature request - KeyWord args for provider endpoints"
I will be providing a PR for this.

some OAuth2 providers support a number of keywords not currently supported by oauth2_proxy.

See for example: https://docs.microsoft.com/en-us/azure/active-directory/develop/v1-protocols-oauth-code#request-an-authorization-code and https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-oauth2-auth-code-flow#request-an-authorization-code for Azure Act

[2019-10-30 03:06] PaulCharlton commented on #199
@dmeenhuis been there and done that - re: `I would like to use the tokens from oauth2_proxy in my SPA and pass them as a bearer token in the authorization header to the API`. If you put the API behind the oauth2 proxy also, you can configure the oauth2 proxy to provide the unencrypted JWT auth token to the API upstream container.  Likewise, your upstream api container can put the JWT token back in

[2019-10-30 08:20] sbocinec commented on #251
@syscll perfect, thank you for fixing this :+1:

[2019-10-30 13:26] ccauet opened #305 "oauth2_proxy not starting, instead raw HTML code to log"
## Expected Behavior

The command should start the proxy:

[code]

I expect the same when starting the oauth2_proxy systemd service.

## Current Behavior

When starting the oauth2_proxy instead of just starting and doing its proxy job as before the change, I now get the following output

[code]

I doesn't matter if I use systemd or a manual call.

## Possible Solution

To be honest, I don't know r

[2019-10-30 16:19] tlex opened #306 "`invalid_request` refreshing the token with self hosted GitLab"
After logging in with self-hosted GitLab, the existing access token cannot be refreshed and fails with:
[code]
Note that with v3.2.0 it worked flawlessly. Also, if I remove `OAUTH2_PROXY_OIDC_ISSUER_URL` and replace `OAUTH2_PROXY_PROVIDER: 'gitlab'` with `OAUTH2_PROXY_PROVIDER: 'google'`, it also works perfectly.

Using oauth2_proxy to authenticate for traefik - in docker swarm.

Here is the oauth

[2019-10-31 20:36] syscll commented on #305
Hi @ccauet! Thanks for filing this issue.

I tried to run both v4.0.0 (latest) and v3.2.0 (the version before #231 was merged) of `oauth2_proxy` with your provided config and they both encounter the same issue, so I don't think this is related to #231.

While I don't know why this is happening, I will look into it.

[2019-10-31 21:57] ccauet commented on #305
Ok. Thank you for ruling this out. It was more of a suspicion.

Thanks a lot. I'm happy to help if I can test something in my setup.

[2019-11-04 22:41] thangbn commented on #230
looking for this as well

[2019-11-07 22:38] #289 closed

[2019-11-08 07:58] aseemmishra25 commented on #109
@JoelSpeed I need a help please.. my oauth2 proxy config looks good, I get the login page , when I try to login it lets me in to the landing page as that is  the flow for it but with access request module. My issue is the username I used it comes back appended like this "{Email:username@abc.com}" so my username looks like as if it has "email:" added to it.

[2019-11-08 11:04] JoelSpeed commented on #109
How are you retrieving this email from the proxy? There are various ways you can get the information like this out. Also, could you please open a new issue so we don't pollute this one, this seems like a separate problem

[2019-11-08 14:56] aseemmishra25 commented on #109
@JoelSpeed  I will do the needful, in the mean time is there any best practices I can follow please let me know. We are on a critical path so was asking.. can you please point out what you meant "There are various ways you can get the information like this out".
Please help.

[2019-11-11 13:40] JoelSpeed commented on #109
@aseemmishra25 I was referring more to this comment from yourself

How did you read that value? Was it set in a header? If so which header? Also, does your OAuth2 Proxy directly proxy requests to upstream services or do you use it in the Nginx auth request style deployment?

[2019-11-11 19:22] aksrocks2015 opened #310 "Azure provider: Unexpected "Email" text comes up after authentication in Cookie value"
I am using oauth2_proxy behind Kubernetes ingress nginx to allow users of the cluster to access resources behind it.
Pretty much everything seems to work well (e.g., the authentication bearer token is correctly forwarded). But when the user comes back with {"Email":"xyz@abc.com"}, the program reads it from cookie the user id as "Email":"xyz@abc.com" obviously that is not correct.
-----------------

[2019-11-12 14:37] morarucostel opened #311 "Redirected path after signout is hardcoded to `/`"
After invoking the `sign_out` endpoint, the oauth2_proxy is redirecting to `/` which is hardcoded into the oauthproxy.go , you can see it [here](https://github.com/pusher/oauth2_proxy/blob/master/oauthproxy.go#L608).

When installed multiple instances of oauth-proxy in the same k8s cluster, for example one instance for app1 and a second one for app2, after the `sign_out`, the request will get redi

[2019-11-13 12:38] morarucostel commented on #311
@JoelSpeed
If you are OK with the proposed solution I can for sure create a PR with the changes.

[2019-11-13 17:27] JoelSpeed commented on #311
Hey @morarucostel, the `sign_in` path uses either a query parameter `rd` or header `X-Auth-Request-Redirect` for this purpose, I think we should try and maintain similar behaviour if possible, would that work for your use case?

This method extracts it from the request so could be reused
https://github.com/pusher/oauth2_proxy/blob/9f920b0fc151ffdc057540c7dfdc87c612a2f8e7/oauthproxy.go#L478-L498

[2019-11-14 14:40] dhess commented on #254
FYI, I'm getting this error with the latest `oauth2_proxy` from `master` and Okta.

[2019-11-15 14:09] s1apped commented on #74
Hi,

I have the similar issue

Proxy oauth logs:

[code]
Ingress controller:

[code]
I'm using Azure. This is the setup:

Application:

[code]

Proxy:

[code]

I tried multiple combination and can't figure it out. Any ideas?

[2019-11-15 14:19] JoelSpeed commented on #74
@s1apped Try you cookie domain with a `.` at the beginning, I believe it has to have this to be applicable to subdomains
[code]

[2019-11-15 15:47] s1apped commented on #74
@JoelSpeed unfortunatelly it didn't help.

[2019-11-16 16:06] ccauet commented on #305
@syscll Do you have any idea how to approach this problem? I'm willing to invest some time, but have no clue how to proceed.

[2019-11-18 18:23] morarucostel commented on #311
Hey @JoelSpeed , yes, your proposed solution will work in our case.
I will push a PR with the modified `sign_out` method that maintain the similar behaviour like in `sign_in`.

[2019-11-18 21:07] StupidScience commented on #131
Hello, guys.
Since #258 has been merged this issue should be resolved but there are still no releases that include this fix. When it will be released? @JoelSpeed @syscll

[2019-11-19 17:02] syscll commented on #131
Hi @StupidScience, I think we are well overdue a release so I'll get this scheduled asap! Please keep an eye on #oauth2_proxy channel on Gophers Slack for further discussions.

[2019-11-19 17:02] #131 closed

[2019-11-19 18:27] morarucostel commented on #311
Closed by the #314 .
@JoelSpeed thanks for the quick reply and merge.

[2019-11-19 18:27] #311 closed

[2019-11-20 15:59] deiga commented on #88
What would this require in the current implementation to be achievable?

[2019-11-21 14:37] syscll commented on #305
Hi @ccauet, sorry for the delay! I've been on vacation.

My initial thoughts are maybe an error is getting suppressed or not handled correctly. Therefore allowing the application to continue when it shouldn't. I think the best approach would be to add some debug logs to the provider code in order to figure out what is being reported at a few specific points.

[2019-11-21 22:37] zarkoc opened #315 "Authenticate to oauth2_proxy Non-interactive"
## Expected Behavior
Hi All, Im trying to use a service principal to authenticate to Azure Non-interactively with presenting the Bearer token to the oauth2_proxy to login. Oauth2_proxy is deployed on kubernetes on Azure with nginx_ingress.

When I do an interactive login, I open the app url from the browser, the app redirect me to the https://login.microsoftonline.com/ page where I enter my creden

[2019-11-22 19:59] martinbalint commented on #80
I just needed to debug traffic with Fiddler and this bug blocked me.

[2019-11-25 17:20] #295 closed

[2019-11-26 14:09] howzat opened #318 "Redeeming a refresh token fails when the optional id_token is not in the response"
Expected Behaviour
--
When the Access Token expires, a Client can obtain a new Token by using their Refresh Token in conjunction with the Token Endpoint.

According to the [relevant section of the OIDC specification](https://openid.net/specs/openid-connect-core-1_0.html#RefreshTokenResponse) the **id_token** is optional within the response.

Given the attempt to refresh the Access Token is success

[2019-11-26 15:06] urbaniak commented on #315
Looking forward for similar functionality, wanted to secure api access with oauth2proxy with gitlab authentication and use `Authorization: Bearer <gitlab-user-token>`, but looks like it's not supported.

Is it at possible to get it working like that? What needs to be developed in oauth2proxy? I'm happy to dig into, but wanted to make sure it's even possible.

[2019-11-27 13:09] danielc103 opened #319 "Not able to unmarshal jwk from mitreid-connect"
## Expected Behavior

proxy able to use jwk to verify id_token signature on callback to `/oauth2/callback` endpoint

## Current Behavior

Receives jwk from oidc issuer, then fails to unmarshal.

[code]

[mitreid-connect jwk](https://github.com/mitreid-connect/OpenID-Connect-Java-Spring-Server/wiki/Key-generation)

## Possible Solution

Not an expert at Go but it seems the package jose struct for j

[2019-11-27 15:41] danielc103 commented on #319
Was a formatting issue with the generated keys coming from mitreid.

[2019-11-27 15:41] #319 closed

[2019-11-28 12:56] ccauet commented on #305
Hi @syscll, I hope you had a great offline vacation ;)

I will start looking into it as soon as possible

[2019-12-06 06:29] dmasbb opened #320 "InvalidAuthenticationToken - Access token validation failure. Invalid audience."
Hi, I'm trying to enable SSO for our Bitbucket Server with Azure AD.
Pusher runs in docker (:4180) on the same docker engine as Bitbucket (:7990/:7999; with MiniOrange as SSO Plugin).
Before getting to pusher there is an Ngxinx reverse proxy (:443) in front.

I used the configured Client ID, Client Secret etc. in Postman successfully to get a Bearer Token, The Azure AD login appeared, I logged in

[2019-12-06 15:57] martin-css opened #321 "X-Real-IP - Security Issue?"
Is there a configuration option to control whether the `X-Real-IP` address is accepted? This is obviously useful when another server / load balancer is sending traffic to the proxy.

However, if the proxy is exposed on the Internet then a malicious user can set the `X-Real-IP` header and cause the logs output to contain a faked IP address.

I searched the configuration page and didn't see any obvi

[2019-12-06 17:52] ploxiln commented on #321
The `tornado.httpserver.HTTPServer` options `xheaders` is what you are looking for, and it defaults to False / disabled. http://www.tornadoweb.org/en/stable/httpserver.html#http-server

[2019-12-07 03:02] tatroc commented on #230
I am looking for this as well

[2019-12-09 13:06] martin-css commented on #321
Sorry, a bit poorly worded on my part. I wasn't referring to a generic proxy but this application (`oauth2_proxy`).

I can see the following in the logging package:

[code]

Which will always allow the `X-Real-IP` header to override the address logged. AFAIK, this header isn't blanked elsewhere and the application is using the standard `net/http` package so this is still an issue.

So if `oauth2_p

[2019-12-09 18:25] ploxiln commented on #321
My bad, I had a few issues open, and somehow mixed up which repo this one was related to!

[2019-12-10 09:31] jheidbrink opened #322 "Additional email validation in v4.0.0 breaks our setup"
## Context

We use oauth2_proxy to restrict service access to members of two Google groups. Those groups belong to different domains. There is no Google account that can list the members of both groups, so we deploy two oauth proxies with different values for the `-google-admin-email` parameter. Both oauth proxies share one cookie secret.

## Expected Behavior

All users are authenticated by Proxy

[2019-12-10 09:32] jheidbrink commented on #322
@brianv0

[2019-12-10 11:27] brianv0 commented on #322
In refreshing my memory with the PR - I believe this was an attempt to normalize logic that exists below in the same file as well as more completely address #141, so I think it's closer to "working as intended", especially with more providers having group validators. I'd like @JoelSpeed to weigh in.

[2019-12-10 17:18] JoelSpeed opened #324 "Does `configure` add value?"
Currently, to use the `Makefile` in the root of the project, you first have to run `./configure` which looks for certain applications and checks they are present on your machine. It then dumps a `.env` with the correct paths to these applications.

I'm not convinced this adds much value to the Makefile and would rather substitute a Makefile with some preflight checks instead, ie, bail from the mak

[2019-12-10 17:50] InspektorWarnebring commented on #322
BTW, I deployed a helloworld app behind an oauth proxy v3.2 and behind an oauth proxy v4.0 to measure the impact of querying the Google API on request duration, and found that the service behind oauth proxy v4.0 takes approximately 80ms more to answer requests than the one behind oauth proxy v3.2.

I was also able to hit Google's rate limiting by making 400 requests to the helloworld app using `cu

[2019-12-10 17:52] jheidbrink commented on #322
BTW, I deployed a helloworld app behind an oauth proxy v3.2 and behind an oauth proxy v4.0 to measure the impact of querying the Google API on request duration, and found that the service behind oauth proxy v4.0 takes approximately 80ms longer to answer than the one behind oauth proxy v3.2.

I was also able to hit Google's rate limiting by making 400 requests to the helloworld app using `curl` in

[2019-12-10 18:40] brianv0 commented on #322
I'm slightly confused that this actually worked before. It was always checking the group:

https://github.com/pusher/oauth2_proxy/blob/v3.2.0/oauthproxy.go#L779

But it was only doing so on initialization on the callback, instead of every request.

The code I added has to do it every request because the session may be derived from a token (so callback never called), however I agree that in the Goo

[2019-12-10 20:50] syscll opened #327 "Detaching oauth2_proxy from a single commercial organisation"
Since adopting from [bitly/oauth2_proxy](https://github.com/bitly/oauth2_proxy), we (the maintainers) and all of the contributors (old and new) have worked solidly to revive this project, and we wouldn't have been able to do that without the help of Pusher.

Now, 12 months later, we think it is time to detach the project from a single commercial organisation and create a new, open-source home for

[2019-12-11 09:08] jheidbrink commented on #322
It worked before because we have two separate oauth proxy instances, one for each domain. Users of domain1 would use Proxy1 to sign in (they are members of a group of domain1) and users of domain2 would use Proxy2 to sign in (they are members of a group of domain2). So the `OAuthCallback` function that already included the check before would be called in the right oauth proxy.

Our services all us