[2021-10-04 14:42] JoelSpeed commented on #1297
So looks to me like, whatever is injecting `"/oauth2/start?rd=https%3A%2F%2Fexample.com%2F"` is not injecting the path. Looking at the `rd` value here, you are only setting the redirect to the root of the domain (`%2F` being `/`). So you need to remove that rd parameter to allow the traefik headers to take precedence in the redirect fetching logic.

Otherwise, you need to update whatever is inject

[2021-10-04 15:39] rcampbell-LI commented on #1390
I had an issue with my secret, pulling the secret id and not the actual secret "value" , from vault. I will mark the issue resolved.

[2021-10-05 00:03] #1272 closed

[2021-10-05 03:54] NickMeves commented on #1231
FYI - Someone in the community will need to pick this up.

Neither @JoelSpeed nor I are Azure users and our free time to support the project lately is drastically reduced.

[2021-10-05 07:10] lanmarti commented on #1297
I replaced `/oauth2/sign_in` with `/oauth2/start` in the `oauth-errors` middleware. From the user's point of view, nothing has changed, except that instead of a graphic and a login button, there now is a 'Found' url that redirects to our Keycloak when clicked, like the button used to do.

The logs are slightly different now, there is no `rd` parameter present anymore, but redirecting after login s

[2021-10-05 16:25] JoelSpeed commented on #1297
There was another issue reporting the same from traefik recently, might be worth a search as I don't have it handy right now.

The fact that traefik is showing the found page is wrong, it should instead honour the redirect and send your user onto the login page.

Where are you being redirected to after login with this configuration?

[2021-10-05 23:33] braunsonm commented on #1361
It partially could be integrated in a non-provider specific way. The first step where the challenge is initially presented in the authorization code flow can be handled in all providers here: https://github.com/oauth2-proxy/oauth2-proxy/blob/fd5e23e1c55ec99f552321a317770015a4b788e1/providers/util.go#L38

The token exchange would have to be provider specific in the current codebase it seems. If you

[2021-10-06 00:03] #1213 closed

[2021-10-06 05:21] woodie opened #1392 "Basic Nginx Configuration"
We need to authenticate our GSuite users to access [Gollum Wiki](https://github.com/gollum/gollum) on a Google Compute Instance running Debian. Setting up `let's encrypt` with Nginx to get certs and support HTTPS was a piece of cake. Unfortunately, we tried following [this guide](https://dev.to/ahmedmusaad/add-google-authentication-to-any-website-using-nginx-and-oauth-proxy-259l) to configure oaut

[2021-10-06 07:20] lanmarti commented on #1297
I was still being redirected to the root, i.e. subdomain.example.com.

Are you referring to https://github.com/oauth2-proxy/oauth2-proxy/issues/1322 ? That issue mentions the skip-provider-button configuration option, so I tried: setting it to false, setting it to true and not setting it at all, restarting the pod after every configuration change. In all three cases I got the `Found.` text when us

[2021-10-06 21:36] l-lafin opened #1393 "Oauth2-proxy is returning status 302 instead of 401 for AJAX requests when the cookie is expired"
I'm not sure if this is a bug or misconfiguration, but the oauth2-proxy is returning the status code 302 instead of 401 for AJAX requests when the cookie is expired, which triggers an unwanted redirect in the browser. This question/bug is based on these discussions #551 and #461.

## Expected Behavior

- Given the oauth2-proxy received incoming AJAX requests
- And the cookie/access token is expire

[2021-10-07 00:06] #1281 closed

[2021-10-09 10:13] droslean commented on #941
Also, this problem appears only in Chrome. My app works fine when accessed with firefox, and no errors are being generated.

[2021-10-11 06:36] truong-hua opened #1395 "Feat: allow to disable the behavior to log user out when receiving HTTP 401 from upstream"
I believe that many people is deploying OAuth2 Proxy as a convenience layer to secure other services like how the Basic Auth is working. In that scenario, people like me won't expect that OAuth2 Proxy will act anything while receiving 401 from the upstream (like the upstream service may have their owned Basic Auth). So, Oauth2 Proxy will look like a firewall in my scenario.

## Expected Behavior

[2021-10-11 06:41] Jc2k commented on #549
As above https://github.com/oauth2-proxy/oauth2-proxy/pull/1086 should help with this, this isn't released yet though so right now I believe this is still an issue.

[2021-10-11 09:41] RichardTheHouse commented on #1231
I have been playing around locally and using the OIDC not azure provider seems to work for my needs with azure v2.0 endpoint: A backend API and secure it passing on jwt access token which contains the users roles/groups.

I think the key part is having a 2nd app registration in azure so that you can get access tokens for your backend instead of for graph. So I use the first app registration for au

[2021-10-11 15:29] stippi2 opened #1396 "Result of provider.ValidateSession() is ignored during session creation"
## Expected Behavior

Authentication fails if the JWT validation fails.

## Current Behavior

The result of the JWT validation does not have any effect, as the return value of the function [is ignored](https://github.com/oauth2-proxy/oauth2-proxy/blob/master/oauthproxy.go#L756).

## Possible Solution

Look at the return value and fail authentication if necessary.

## Steps to Reproduce (for bugs)

[2021-10-11 17:48] nielsn opened #1398 "Redirect loop in JWT based authentication"
I run a setup with oauth2-proxy, Dex and and NGINX ingress-controller, fairly standard.
The applications we expose comprise of both web applications (interactive authentication) and APIs (using programmatic Bearer tokens).

The interactive authentication works fine:
- browse to the exposed URL
- the associated Ingress makes sure I'm redirected to oauth2-proxy, who in turn redirects me to the Dex l

[2021-10-11 18:28] woodie opened #1399 "Unable to access authenticated email address"
[code]
We want to use the authenticated email address in our app.

## Expected Behavior
We expect to see the email populated and accessible in X-Forwarded-Email or X-Email headers.

## Current Behavior
We don't see the authenticated email address in any headers.

## Steps to Reproduce (for bugs)
Here are the relevant configuration (with keys scrubbed):
- https://github.com/woodie/gollum-wiki-oauth

[2021-10-12 08:00] szediktam opened #1400 "oauth2-proxy behind a ingress redirect to root path, not oauth-proxy"
I deploy oauth2-proxy as a sidecar container with my component. And expose it as a path in my vip,(https://xxx.xxx.xxx.xxx/aaa/bbb/oauth2-proxy)
oauth-proxy config:
      containers:
      - args:
        - --https-address=:4180
        - --upstream=http://localhost:8080
        - --provider=oidc
        - --provider-display-name="HHHHHHHH"
        - --oidc-issuer-url=https://xxx.xxx.xxx.xxx/dex

[2021-10-12 15:11] mteodor commented on #1400
it is hard to tell from this config without the whole setup but the flow is like this( judging from your configuration and having oidc flow in mind)

* you access `http://whereveryourproxyis:4180` ,
* `oauth2-proxy` redirects  https://xxx.xxx.xxx.xxx/oauth2/start checks if there is authenticated session and if not
* redirects further to login-url  https://xxx.xxx.xxx.xxx/dex/auth
* then Dex should

[2021-10-12 18:17] wesbrownfavor opened #1401 "Redirect after authentication not working in Chrome and Firefox but works in Safari"
Redirect after authentication not working in Chrome and Firefox but works in Safari.

I have oauth2-proxy deployed in Kubernetes with Istio authenticating with Github.

## Expected Behavior

- Go to https://prometheus.mydomain.tld
- Redirect to login
- Authenticate against Github
- Redirect to Prometheus instance

## Current Behavior

- Go to https://prometheus.mydomain.tld
- Redirect to login
- A

[2021-10-12 18:37] #1399 closed

[2021-10-12 23:41] hakimsabery commented on #612
I am expecting the same behaviour

[2021-10-13 13:13] dineshsbm opened #1402 "Authorizing against Github - Passing access_token in Authorization header"
Recently there was a changed made by Github in Authorizing oAuth Apps that the **Access Token** should be passed in header and not as a query parameter. I went through the documents which were pointed out (see below)

- https://developer.github.com/changes/2020-02-10-deprecating-auth-through-query-param/
- https://docs.github.com/en/developers/apps/building-oauth-apps/authorizing-oauth-apps

I hav

[2021-10-14 04:18] rmkanda opened #1405 "Vulnerablities in the Container Image"
Please refer the scan report of Latest container image
Since the last release was made 6 months ago. Alpine has patched Vulnerabilities in few libraries. Can we rebuild the release 7.1.3 and provide a patch release 7.1.4 (Rebuilding with latest alpine image will solve the problem)

![image](https://user-images.githubusercontent.com/38713281/137251069-16da672c-b017-4a3d-996a-faebcbbb9707.png)

[2021-10-14 07:24] Mariappan opened #1406 "Auth0 expect 'audience' parameter with the authorize request"
## Expected Behavior

Support to send `audience` parameter along with authorize request

## Current Behavior

We are trying to integrate oauth2-proxy with our app, which uses auth0 as an OIDC provider.

There is one minor problem we are facing. Auth0 currently expects a parameter `audience` in the authorize request to send valid JWT access tokens. If not, auth0 sends opaque access tokens which can

[2021-10-14 18:32] #1393 closed, assigned to nobody

[2021-10-15 00:03] #1282 closed

[2021-10-15 02:07] politician opened #1407 "oAuth2-Proxy fails to start when loading logo from URL"
## Expected Behavior

oAuth2-Proxy should start and display my custom logo.

## Current Behavior

When using a URL as a `custom-sign-in-logo`, oAuth2-Proxy fails to start.

[code]

## Context

Here is the relevant part of my helm values file:

[code]

## Your Environment

- Version used: 7.1.3 (via Helm chart 4.2.2)

[2021-10-15 07:45] TheAnachronism commented on #1263
I've tried it with this / prefix but there doesn't seem to be any change in behavior. I still get a 403 after successful login with a user that is part of that group.

[2021-10-15 07:49] salmanisd opened #1408 "session refresh error: auto logout after expiry of id token"
If the same user account in two different browsers, the logins will be successful but after the id token expiry time, the first browser will clear the session and auto log out the user.

## Expected Behavior
The user should stay logged-in in every browser irrespective of id token expiry time

## Current Behavior

User is logged out after id token expires the first time

`Oct 15 07:32:54 oauth2-pro

[2021-10-16 16:58] JoelSpeed commented on #1297
Yes that's the issue I was referring to, as you can see from my comments there, OAuth2 Proxy is behaving as expected in this case, something about the Traefik configuration is wrong. Unfortunately, I'm not a traefik user, so I don't think I'll be able to help you here

[2021-10-16 17:06] JoelSpeed commented on #1395
This will need some investigation to work out exactly why this is happening, as far as I know there's nothing explicitly written in our code to cause this behaviour deliberately. We don't inspect the responses from upstream servers so I'm not sure why this would be happening

[2021-10-16 17:11] JoelSpeed commented on #1395
I just tried to reproduce this with our local test environment and could not reproduce the issue.

1. `make local-env-up`
2. In a browser, access `http://localhost:4180`
3. Perform the login using the admin@example.com user and password as password
4. Access `http://localhost:4180/status/401` to generate a 401, OAuth2 Proxy transparently proxied this without doing anything to the reponse

Perhaps

[2021-10-16 17:16] JoelSpeed commented on #1396
@NickMeves I think this was introduced when you adding nonce checks for ID Tokens, do you recall if there was a particular reason for ignoring the return value of `ValidateSession`?

Since this is only happening on login, how much of a real world issue is this? IIUC we still validate the session correctly on subsequent calls and refreshes

[2021-10-16 17:21] JoelSpeed commented on #1398
I think you're looking in the wrong place. We can see from the logs that OAuth2 Proxy is returning a 202 response for these requests, this means that it has accepted the bearer token and said yes, this user is allowed forward.
The next thing that happens is NGINX proxies the original request to your API, which in turn is saying you're in the wrong place.
The issue is at your API, not OAuth2 Proxy.

[2021-10-16 17:28] JoelSpeed commented on #1400
--proxy-prefix=/aaa/bbb
it jumps to https://xxx.xxx.xxx.xxx/aaa/bbb/oauth2-proxy/oauth2/start. But not oauth-proxy is working at /aaa/bbb/oauth2/start

I think you need to set the proxy prefix to `--proxy-prefix=/aaa/bbb/oauth2-proxy/oauth2` based on what you've said so far, it seems it's working for you, based on the original comment, you just haven't put quite the right value

[2021-10-16 17:37] JoelSpeed commented on #1401
Is there anything in the logs of OAuth2 proxy that might suggest that it received that request?

[2021-10-16 17:45] JoelSpeed commented on #1402
Please upgrade to a newer version of OAuth2 Proxy, this issue is already resolved in newer versions

[2021-10-16 17:59] JoelSpeed commented on #1405
We will have a new release within the next week or so

I am hesitant to push over the existing 7.1.3 tags, but we don't need any code changes to fix the issues reported :thinking:

[2021-10-16 18:03] JoelSpeed commented on #1406
The audience is a static parameter right? If you manually configure the OIDC endpoints rather than using the discovery mechanism, you should be able to add additional query string parameters to the URLs which will then be passed along. People have used this technique before to add additional parameters such as the google hosted domain parameter

[2021-10-16 21:32] GFlo69 opened #1409 "Provider OIDC with keycloak : refresh_token not replace during re code flow ==> Error 500"
During the re init of the second session, the value of the lifetime of the refresh token is never updated

## Expected Behavior

## Current Behavior

My keycloak realm is configured to

- not allow mutilple use of the same refresh_token.
- refresh token's lifespan is 3 min
- access token's lifespan is 1 min

My oatuh2-proxy is configured to
- execute a refresh cookie every minute

I can see the co

[2021-10-17 03:05] michael-freidgeim-webjet commented on #1140
the issue is still relevant

[2021-10-17 10:39] JoelSpeed commented on #1407
This was fixed by #1330 and will be part of the 7.2.0 release

[2021-10-17 10:41] JoelSpeed commented on #1354
Are there any logs in Dex that explain why the refresh failed?

[2021-10-17 12:49] #1407 closed, assigned to nobody

[2021-10-17 19:56] GFlo69 commented on #1409
I test with matser and provider oidc. I have the same result. What is the version of keycloak in your env ?
[code]

When I tring use keycloak-oidc or keycloak provider, the log say "OAuthProxy configured for Google Client ID:"

[2021-10-18 00:03] #1298 closed

[2021-10-18 06:10] dineshsbm commented on #1402
Thank you, @JoelSpeed. Upgrading works like a charm without additional changes :)

[2021-10-18 06:10] #1402 closed, assigned to nobody

[2021-10-18 09:11] #1406 closed, assigned to nobody

[2021-10-18 17:36] JoelSpeed commented on #1354
It looks to me like you haven't quite configured the refreshing properly. You should see `refresh:true` in the OAuth2 Proxy auth log but it's not there. You need to set the `scope` configuration to include `offline_access` to ensure that Dex returns a refresh token.

[2021-10-18 17:53] JoelSpeed commented on #1400
The redirect URL is constructed here which does include the proxy prefix https://github.com/oauth2-proxy/oauth2-proxy/blob/543a71efada7c2ce3fe2451e4625ba7c893be313/oauthproxy.go#L143-L146

Have you explicitly set the `redirect-url` in your configuration?

[2021-10-18 20:58] GFlo69 commented on #1409
### Keycloak Configuration :
access_token ==> 1 min
refresh_token ==> 3 min
Limit 1 use refresh token

### oauth2 proxy Configuration
refresh cookie ==> 1 min
provider ==> oidc (version master and 7)

**Authentificate step : t=0 min (21:00:14)**
[code]

**==> Keycloak generate access token with 1 min lifespan  and a refresh token for 3 min lifespan ==> access token expire at 21:00:14 + 1min ==> 21

[2021-10-19 02:16] szediktam commented on #1400
@JoelSpeed I set `redirect-url` to `at https://xxx.xxx.xxx.xxx/aaa/bbb/oauth2-proxy/oauth2/callback`
Here is my new configuration:
[code]

oauth-proxy ingress configuration:
[code]

With this configuration, when i access  `https://xxx.xxx.xxx.xxx/aaa/bbb/oauth2-proxy/`,
it skip provider login page, and login in with dex.
But after callback, it redirect to `https://xxx.xxx.xxx.xxx/` , not `https://

[2021-10-20 09:41] andreas-p opened #1415 "No error message from failed token exchange"
I was stuck quite a while getting V7.1.3 to run with that dreaded "error loading cookied session" until I found out that proxy_prefix was configured wrong.

When there's an unexpected response from the auth server trying to exchange the token, there should be an error message logged.

[2021-10-20 15:54] #1401 closed

[2021-10-22 11:46] joliebig opened #1417 "Recommendations for running oauth2-proxy with session-storage-type=redis"
## Expected Behavior

I'm running oauth2-proxy (V7.1.3) together with redis (6-alpine) in a Kubernetes environment. My setup involves:
1. oauth2-proxy runs in a pod with redis as sidecar and is used for centralized authentification and central group-based authorization.
2. redis is configured with resource limits (cpu: 100m and memory 200Mi).
3. We are using a company based Cloud-IDP with 30min ac

[2021-10-25 09:53] #1408 closed, assigned to nobody

[2021-10-25 15:31] breedjaram32 opened #1420 "User session should be removed during refresh when the user has been disabled by the IDP"
Hi,
i have testing a new keycloak-oidc provider on v7.2.0. Works fine but I have a problem with refresh session.
I am solving the situation of how to log off a user remotelly if his account is compromised or if he no longer has access.

## Current Behavior

My actual configuration oaut2-proxy
[code]
My actual kubernetes ingress annotation
[code]

## Steps to Reproduce (for bugs)

Login via keycloa

[2021-10-25 22:06] kflansburg opened #1421 "Support for two login flows (GitHub App w/ Authorization)?"
I believe there are situations where you would want two different login flows: one for initial installation, and one for subsequent logins.

* GitHub Apps is able to authorize the user during App installation. If you want to use this, you must specify the installation URL as the login URL and route the user through Oauth2-Proxy's sign up flow, otherwise the CSRF is not set.
* However, for subseque

[2021-10-26 22:45] krenaut62 opened #1422 "Final redirect back to app after code redemption not getting back to browser"
On code exchange flow, when the IDP redirects back to oauth2-proxy callback URL and oauth2-proxy redeems the code and authentication succeeds.  But, final redirect back to the app never makes it to the browser and there is no meaningful error message logged anywhere.  I am sure this is an issue with my config, but I am lost as to how to determine what my error is.  I have tried playing with all th

[2021-10-27 03:03] mikeyGlitz opened #1423 "Use --skip-auth-route allow / but deny any other path"
I'm looking to create a landing page for my web application. I'm using oauth2-proxy as a way to secure my application and make it so that only authorized users can access past the landing page. I want `/` to be allowed, but anything else should get redirected to oauth2-proxy.

## Expected Behavior

I the following configuration in my `oauth2_proxy.cfg` file and I don't have to go through my auth p

[2021-10-27 07:33] avarf opened #1424 "Changing port causes error in loading cookied session"
I have a set up with nginx + oauth2-proxy that redirects to our keycloak for SSO. Everything works as expected but yesterday I needed to run two Nginx+oauth2 on my machine (for development on Microk8s) and because of port conflict I changed the public port of the second Nginx to 9090. When I try to access the backend APIs behind the Nginx, it first redirects me to keycloak and after signing in it

[2021-10-27 08:49] foosinn opened #1425 "Recommened handling of js frontend applications"
Recently i came across multiple js frontend applications that cache the `index` page and use js routers. This leads to loading a working index site from cache, but the js, css or ajax resources are redirected to the oauth login site.

Is there a well known solution to this? Only thing that came to our mind is disabling the cache for the index page.

## Expected Behavior

Redirect to oauth site.

#

[2021-10-28 09:36] rafariossaa opened #1426 "missing setting: google-group when using google"
First of all, I am not very sure if this is a real issue or if I am just missing something.

## Expected Behavior

I am trying to use google configuration, but I got the error: `missing setting: google-group` and by [this](https://github.com/oauth2-proxy/oauth2-proxy/blob/6c379f74dbb9078cbed8d9f8b77ca761fdf72f5a/pkg/validation/providers.go#L67) I think it is optional.

## Steps to Reproduce (for b

[2021-10-28 09:41] #1426 closed, assigned to nobody

[2021-10-28 13:38] jijilonline opened #1427 "Facing issue for the oauth2-proxy with error connection refused from nginix pod"
[error] 6#6: *5352511 auth request unexpected status: 502 while sending to client, client: IP, server: .., request: "GET / HTTP/1.1", host: "hostnamet"
2021/10/28 09:10:23 [error] 6#6: *5352512 connect() failed (111: Connection refused) while connecting to upstream, client: IP, server: .., request: , subrequest: "/oauth2/auth", upstream:

For the K8s Dashboard, we are using dex and uses oauth2 pro

[2021-10-28 15:56] stumueller opened #1428 "Problems connecting to oauth2-proxy pod"
I am trying to run an oauth2-proxy pod on my kubernetes cluster. Should I be able to wget -qO- http://podsipaddress:4180/oauth2 and get a response back?

All I am getting is connection refused. when I try externally from a browser to go to https://url.mydomain.com/oauth2 I get the error: "upstream connect error or disconnect/reset before headers. reset reason: connection failure"

my deployment ya

[2021-10-28 16:49] JackLThornton opened #1429 "Options set in config file are not consistently respected"
When trying to set command line options in a configuration file (referenced with --config=*filepath*), some of those options are accepted and successfully used (e.g. tls_cert_file, tls_key_file and redirect_url) while others are ignored (e.g. https_address, client_id and client_secret).

## Expected Behavior
All of the configuration items that I would pass over the command line (except, of course,

[2021-10-28 17:55] JackLThornton opened #1430 "Can't successfully authenticate to ADFS"
I am trying to use OAuth2 Proxy to authenticate via ADFS as the identity provider. ADFS successfully presents the authentication screen, allows me to enter credentials, whines at me if I get the credentials wrong, and just plain "disappears" if I get the credentials correct (as I would expect). OAuth2 Proxy fails on getting the callback from ADFS.

## Expected Behavior

OAuth2 Proxy should send th

[2021-10-28 18:41] #1422 closed, assigned to nobody

[2021-10-28 22:56] #1421 closed, assigned to nobody

[2021-10-29 01:19] yongzhang opened #1431 "[Question] Does it support blacklist/whitelist specific users for specific domain?"
Hi

I’m using oidc provider, all users are granted access to the oidc connector at provider side, I’m not sure if I can limit user access at domain layer, for example, only allow user1@myemaildomain.com to access https://myservice.mydomain.com?

[2021-10-29 08:48] ThomasKalten opened #1432 "Correction in documentation about openid integration"
A small irritating name exchange:
https://oauth2-proxy.github.io/oauth2-proxy/docs/configuration/oauth_provider/#openid-connect-provider

## Expected Behavior

## Current Behavior

The oidc_issuer_url is based on URL from your Authorization Server's Issuer field in step 2, or simply https://corp.okta.com . The client_id and client_secret are configured in the application settings. Generate a uniqu

[2021-10-31 00:04] #1287 closed

[2021-10-31 00:04] #863 closed

[2021-10-31 00:04] #844 closed

[2021-10-31 05:54] NickMeves commented on #1431
There's options to restrict access based on the group/role or more broadly based on the email domain, but not on the individual user.

[2021-10-31 05:55] NickMeves commented on #1430
I caught a bug looking at the ADFS code but didn't get my PR merged before 7.2: https://github.com/oauth2-proxy/oauth2-proxy/pull/1247

I don't use ADFS, so I can't comment on its behavior in practice. Maybe the original author of the Provider has ideas on what you are experiencing? If I recall this is a brand new provider in 7.2

[2021-10-31 06:06] NickMeves commented on #1424
Unless you harcoded `cookie-domain`:

--cookie-domain | string \| list | Optional cookie domains to force cookies to (e.g. .yourcompany.com). The longest domain matching the request's host will be used (or the shortest cookie domain if there is no match).
-- | -- | --

We use the standard host headers nginx is passing along to set the cookie domain appropriately:

[code]

[2021-10-31 06:11] NickMeves commented on #1427
If OAuth2-Proxy is Crash Looping, I can see why Nginx can't connect to it with auth subrequests 😄

Do you have any OAuth2-Proxy pod logs, that's likely your issue.  Usually a configuration error causes something like this.

[2021-10-31 06:17] NickMeves commented on #1429
🤔 Weird, config options are provider agnostic

We've had alignment issues in the past with a typo in the flag setup, but this looks normal to me:

https://github.com/oauth2-proxy/oauth2-proxy/blob/6c379f74dbb9078cbed8d9f8b77ca761fdf72f5a/pkg/apis/options/legacy_options.go#L469

You get this in 7.1.X using OIDC with your ADFS IdP too? Or just 7.2 when explicitly using the new ADFS Provider?

[2021-10-31 06:20] NickMeves commented on #1429
You should also see you client ID printed in the logs on startup:

https://github.com/oauth2-proxy/oauth2-proxy/blob/6c379f74dbb9078cbed8d9f8b77ca761fdf72f5a/oauthproxy.go#L148

Does it look the same if you use both mechanisms?

[2021-10-31 06:24] NickMeves commented on #1425
I agree -- disabling the cache or setting it lower than the OAuth2-Proxy session duration is probably your best bet.

All the other resources you mentioned won't be a good experience for the user's auth redirect. Your initial landing/index page if your only spot.

[2021-10-31 06:28] NickMeves commented on #1417
You definitely need your session datastore to be persistent -- otherwise I recommend switching back to cookies, and if they are large, using session-cookie-minimal (do we still have that? Or did I remove it after I implemented session lz4 compression 😅 )

As for Redis, I recommend a StatefulSet instead of a Deployment so it can persist and running it in AOF persistence mode (or AOF + RDB): https:/

[2021-10-31 19:24] NickMeves commented on #1396
Looks like a bug to me; good catch!

The intent was to validate the session after Redeem & Refresh. Without this validated, this is only happening on the Refresh process.

OIDC is the most effective user of this checking the Nonce claim in the returned ID token.

Other providers just hit the Profile URL with the Access Token if I recall.

@stippi2 Are you comfortable making a PR with the fix?

[2021-10-31 19:28] NickMeves commented on #1415
I don't think there's anything we can do here.

We redirect you to your IdP and rely on your IdP redirecting you back to the Callback URL. Once you are back with us, we have descriptive & distinct error logs for every way you could potentially fail the Start + Callback sides of that sandwich around your IdP

[2021-11-01 04:57] jijilonline commented on #1427
Thanks Nick. We dont see any logs getting generated for the proxy pods.

Below is what we can find using describe command

Events:
  Type     Reason     Age                   From                  Message
  ----     ------     ----                  ----                  -------
  Warning  Unhealthy  14m (x1169 over 23h)  kubelet, <**node**>  Liveness probe failed: Get https://<PodIP>:4180/ping: di

[2021-11-01 08:00] stippi2 commented on #1396
PR to fix the issue is easy. Not yet sure how easy it will be to also provide test coverage, but I'll see.

[2021-11-01 08:15] andreas-p commented on #1415
I'm talking about the token exchange that oauth2proxy performs after the client comes back to him from successful auth with the IdP. While oauth2proxy was able to access the IdP (concerning firewalling etc), but the content wasn't correct some how until proxy_prefix was fixed.

[2021-11-01 16:03] JinruiDuan commented on #1406
Hi @Mariappan ! I'm having a similar question for setting it up for auth0. Would you mind share your config?

[2021-11-01 16:13] sudoduan commented on #1406
Hi @Mariappan ! I have a similar issue when setting it up for auth0. Do you mind share your config?

[2021-11-01 17:58] haowang-pony opened #1434 "Got 502 when redirect to callback endpoint even after successfully authentication"
I want to implement such architecture: use ingree-nginx and oauth-proxy to implement k8s centralized authentication. But I met 502 when browser call callback endpoint after successfully authentication.

![Screenshot (63)](https://user-images.githubusercontent.com/67166358/139717306-200c6d16-bbf8-4c23-89cb-3444a1adb130.png)

## Expected Behavior

The oauth2-proxy redirect me to original url.

## Cu

[2021-11-01 19:19] JackLThornton commented on #1430
It appears that what ADFS is returning is not an access token, but an authorization code. ADFS is expecting to get a second call to the /token endpoint with the code it returned in order to provide the access token. I tried setting the "--redeem-url" to that endpoint, but ADFS then complains that it isn't getting a valid secret passed in. How do I make OAuth2 Proxy go back to ADFS to exchange the

[2021-11-01 19:21] JackLThornton commented on #1430
And yes, this is a new provider in 7.2; however, I experience the same behavior in 7.1 using the generic "OpenID Connect" provider

[2021-11-02 07:39] lathspell commented on #1160
/remove-lifecycle stale

[2021-11-02 08:23] haowang-pony commented on #1434
added corresponding audience to fix this problem

[2021-11-02 08:24] haowang-pony commented on #1434
fixed this problem by adding corresponding audience

[2021-11-02 08:24] haowang-pony commented on #1434
fixed this problem by adding corresponding audience

[2021-11-02 08:24] #1434 closed

[2021-11-02 09:01] avarf commented on #1424
No, I didn't add any `cookie-domain`.
I tried to add it but I am getting marshaling error:
[code]
I tried different formats, with port, without port, as a string, as a list of strings, etc. But I was getting that error all the time.
[code]

[2021-11-02 11:37] krenaut62 opened #1435 "Final redirect after code redemption is not original page requested"
after code redemption, user is not redirected back to original page requested.  The observed behavior is:

1) unauthenticated user navigates to page: https://hostname/secure/index.html
2) user is redirected to OIDC provider and authenticates
3) user is redirected back to callback URL
4) code is redeemed
5) user is redirected to: https://hostname/

The expected behavior is:

1) unauthenticated user

[2021-11-02 12:29] stippi2 commented on #1396
Not sure if you got a notification, I've opened the [PR 1433](https://github.com/oauth2-proxy/oauth2-proxy/pull/1433) to provide a fix including test coverage.

[2021-11-02 14:11] MarianZoll opened #1436 "Forward on localhost HTTP results in Connection Refused [Potential Question]"
I am trying to configure an oauth2-proxy sidecar in the front of a pre-built community project that does not provide proper authentication/ authorization. In order to set things up on K8s, I started to set things up locally (+ Keycloak Provider already configured) and ran into the following pretty weird behavior. If this is not a bug and I am just getting something wrong, I'd like to add something

[2021-11-02 15:38] MarianZoll commented on #1436
Closing the issue again. I configured it using CUSTOM actions provided by Istio. There are some nice guides available here:

- https://istio.io/latest/blog/2021/better-external-authz/
- https://medium.com/@senthilrch/api-authentication-using-istio-ingress-gateway-oauth2-proxy-and-keycloak-part-2-of-2-dbb3fb9cd0d0

[2021-11-02 15:38] #1436 closed

[2021-11-02 21:14] kernelcoredump commented on #1231
The Azure documentation is correct.  _oauth2-proxy_ uses the endpoint without the _/oauth2_ path segment as the token issuer and to retrieve the openid configuration [https://login.microsoftonline.com/<OUR_TENANT>/v2.0/.well-known/openid-configuration](https://login.microsoftonline.com/<OUR_TENANT>/v2.0/.well-known/openid-configuration).  The returned configuration itself shows that the _/authoriz

[2021-11-02 21:39] kernelcoredump commented on #1231
We have also switched from the `azure` provider to the `OIDCProvider` for connecting to the Microsoft Identity Platform v2.0 endpoints.  Our use case is the simplest, with only web applications being fronted by the _oauth2-proxy_.

The relevant configuration items are:
[code]
and the _client ID_ corresponding to the AAD App registration set up in Azure. For web applications, I think the _client se

[2021-11-03 09:39] louisgls commented on #1409
I believe I have the same issue, if i set refresh_token lifespan to 3 min, i have after 3 min :
[code]
If I try again using the max reuse of refresh token option in keycloak :
[code]
I'm using keycloak-oidc and oauth2-proxy 7.2.0. The same issue occurs with 7.1.3 and oidc default provider.

I'm guessing the oidc provider is reusing the same refresh token because it didn't successfully retrieved th

[2021-11-03 09:39] pavan-pn commented on #773
did you get this working?

[2021-11-03 09:44] torsrex opened #1437 "Skip aud check in token on Authorization header in the request when aud claim is missing"
We would like to skip checking the `aud` claim in a token sent in the Authorization header of a request to the oauth2-proxy using an optional runtime parameter.

## Expected Behavior
When `--skip-jwt-bearer-tokens` and `--skip-aud-check-when-missing` are set, a request containing a token in the Authorization header which is missing the `aud` claim should pass through the oauth2-proxy successfully.

[2021-11-03 09:59] pavan-pn commented on #773
@Electrofenster Okay thanks. @mteodor did you get that working by any chance?

[2021-11-03 10:13] J3m5 commented on #773
@Electrofenster Would the https://github.com/oauth2-proxy/oauth2-proxy/pull/1397 PR meet your needs ?

[2021-11-03 10:23] joliebig commented on #1417
@NickMeves: Thanks for the input. I'll look into that.

[2021-11-03 11:56] pierluigilenoci commented on #888
This is still an open issue.

[2021-11-03 11:56] pierluigilenoci commented on #888
@JoelSpeed could you please re-activate the issue?

[2021-11-04 10:15] karlschriek opened #1438 "Document/sketch OAuth2-Proxy authentication flow"
My colleagues and I are currently trying to form a detailed view of how the OAuth2-Proxy authentication flow works, and in particular:
- Which endpoints are called when, and how this differs between NGINX and Istio
- Which requests/responses are sent when? What goes back to the browser, what gets sent between oauth2-proxy and the IdP? What gets sent between oauth2-proxy and Istio/NGINX? etc.

It w

[2021-11-04 11:19] Mariappan commented on #1406
@sudoduan Yep sure,

[code]

[2021-11-07 19:23] gianlucapisati opened #1440 "Unable to authenticate to Kibana with basic auth"
## Expected Behavior

Loggin in Kibana with Basic auth

## Current Behavior

I obtain a 401 and a subsequent redirect to oauth2_proxy login page.

## Context
This is not a bug for sure, I'm just asking help as I can't configure Oauth2_proxy with Kibana.
This is my configuration:

- oauth2_proxy running on port 4180
- nginx listening on 80/443 with a proxy pass to localhost:4180 (oauth2_proxy)
- oa

[2021-11-08 08:33] cstisa opened #1441 "User headers not sent to upstream with ADFS and Traefik"
## Expected Behavior

After successful authentication on the IdP and then redirected back to the Ingress resource, the user headers (X-Forwarded-User, X-Forwarded-Groups, X-Forwarded-Email and X-Forwarded-Preferred-Username) should be set by OAuth2 Proxy and sent to the upstream servers.

## Current Behavior

Access to upstream servers is allowed by OAuth2 Proxy (we are successfully redirected), b

[2021-11-09 02:14] MNF commented on #1081
re-activate the issue

[2021-11-09 17:41] aplovich commented on #1429
I've noticed this when trying to get oauth2-proxy to read secrets from a file (client_secret and cookie_secret).  I don't see any errors in the logs on startup.  However, when I try to authenticate, the call to get token fails on my IDP due to an incorrect client secret.

If I configure the secrets as command line options, it works correctly.

I'm on v7.1.3.

[2021-11-09 21:08] aplovich commented on #1429
After some investigation, it looks like the Helm chart has default values for various settings that will make their way into EnvVars, which then override settings in any supplied (--config) config files.

config:
  clientID: "XXXXXXX"
  clientSecret: "XXXXXXXX"
  cookieSecret: "XXXXXXXXXXXXXXXX"

Setting this switch to false disabled this behavior, and allowed me to pass my secrets via config file

[2021-11-10 07:39] devon-mar opened #1442 "Multi-arch container image binary is built for the wrong architecture"
The binary in the `v7.2.0` multi-arch container image is compiled for the wrong architecture.
The `v7.2.0-armv6` tag has the correct architecture.

## Expected Behavior
The binary is built for armv6.

[code]

## Current Behavior

The binary in the `armv6` manifest is built for x86_64.
This bug occurs when pulling from the `v7.2.0` tag, but below I pulled using the sha256 just to be sure.
[code]

#

[2021-11-10 08:06] oscarlofwenhamn commented on #686
Very much assuming this is still an issue?

[2021-11-10 08:59] morarucostel commented on #1320
Just reopening the issue, since the fix is in progress.

[2021-11-10 14:05] cstisa commented on #1441
Update : I tested with the GitLab provider and our instance of GitLab, and there's still no header received by the upstream service

[2021-11-10 15:54] Xeonios commented on #29
People in this topic is made my day. Thanks a lot!
@marratj thank you for nginx config explanation too!

[2021-11-10 16:24] cstisa commented on #1441
I finally solved my issue. I've added the following lines to OAuth2 Proxy config :
[code]
And changed the `oauth-auth` Middleware to :
[code]
P.S. : Even if I add X-Forwarded-Email and other X-Forwarded-* headers to `authResponseHeaders`, they are not set by OAuth2 Proxy. It seems that only X-Auth-Request-* headers are being set. It could be nice to add this to the documentation because it is not

[2021-11-11 00:03] #1295 closed

[2021-11-11 00:03] #1334 closed

[2021-11-11 04:20] andycmaj commented on #1124
@susana-garcia any luck solving your problem?

[2021-11-11 04:24] jkandasa opened #1443 "email-domain is not working in LinkedIn provider"
`email-domain` not working in LinkedIn provider.
##### root cause:
wrong validation url, currently it is pointing to https://api.linkedin.com/v2/emailAddress

##### error:
[code]

## Expected Behavior
validation stage should work as expected

## Current Behavior
failed on validation URL

## Possible Solution
Update validation url as https://api.linkedin.com/v2/me

## Steps to Reproduce (for bugs)

[2021-11-11 08:10] susana-garcia commented on #1124
hi @andycmaj, not really. The problem was related to Istio. But we had to get rid of it for other reasons and as soon as it was gone, the issue was gone too. Sorry I can't give a more useful feedback.

[2021-11-11 18:19] foosinn commented on #1425
Thanks, i think this can be closed

[2021-11-11 18:19] #1425 closed

[2021-11-12 17:46] bailsman commented on #1231
Am I correct in understanding that adding for example "given_name" and "family_name" claims to the token does *not* make this information available to oauth2-proxy? (And this information needs to be requested through graph API calls?) I've tried to add "optional claims" on the Azure AD App Registration under "Token Configuration" - and I have been successful in adding groups there, but any other c

[2021-11-12 18:11] JoelSpeed commented on #1297
i think the issue might be that you are redirecting to the `/oauth2/sign_in` page. This currently can't detect the traefik configuration as far as I'm aware. You'll need to use `/oauth2/start` instead which skips the login button and should be able to read the headers from traefik

[2021-11-12 18:17] JoelSpeed commented on #926
Thirded. The alpha API is open to breaking changes and we had always intended to merge the client secret and client secret file options.

We have discussed various options about allowing env vars within the configuration but to this point haven't decided on a way forward. For something like K8s environments the easy thing to do is to use `envsubst` within an initcontainer.

One option we discussed

[2021-11-12 18:35] JoelSpeed commented on #1442
Apologies for this, I did some work on the dockerfile recently and had thought I had tested it, but I guess my testing method gave me a false positive. I see there's a fix already raised, let's merge that once there's a changelog entry

[2021-11-12 18:36] #1396 closed

[2021-11-12 21:42] #1442 closed

[2021-11-12 22:14] JoelSpeed commented on #1443
Based on this issue, does the profile URL not also need updating? As it is pointing at the same email address endpoint?

[2021-11-12 22:16] JoelSpeed commented on #1443
This was recently updated by @wuurd, so I'm surprised it's not working. @wuurd can you weigh in here?

[2021-11-12 22:24] JoelSpeed commented on #1424
The option is able to be specified multiple times, so within the config the key is `cookie_domains = ["..."]`. Try setting it to the domain without the port and see how you get on

[2021-11-12 22:29] JoelSpeed commented on #1440
This is more an nginx question than OAuth2 Proxy, but you need to take the value of `X-Forwarded-User` (set by OAuth2 Proxy) and make that into the value of your variable, how you do that I don't know, I'd suggest checking the nginx docs

[2021-11-12 22:36] JoelSpeed commented on #1438
I've just had a read through the diagram and to be honest, it looks really good! I don't think there's much if anything I would want to change/add.

I think the login flow is accurately captured, and while there are other flows we might want to document (eg refresh flow), I think I'd probably leave this one as is.

I think we should try to embed this diagram within the product docs somewhere

[2021-11-12 22:38] JoelSpeed commented on #1427
Have you tried starting the OAuth2 proxy container on your local machine with your given config? There's almost certainly some issue with the configuration that's causing it to exit straight away.

The only way we will be able to provide guidance is if you can provide the OAuth2 Proxy logs

[2021-11-13 00:04] #1325 closed

[2021-11-13 00:04] #1270 closed

[2021-11-13 16:46] jkandasa commented on #1443
@JoelSpeed Profile URL works ok. It returns email address
https://github.com/oauth2-proxy/oauth2-proxy/blob/7ed4e3c830f428f3a9d6028f11a5532c89a2927a/providers/linkedin.go#L79

##### LinkedIn endpoints
![image](https://user-images.githubusercontent.com/1004403/141651844-db7837dd-5fc1-462b-b501-b1fd08d9fdd2.png)

[2021-11-13 22:02] devon-mar commented on #1442
@JoelSpeed Are you able to push a new image to quay.io?

[2021-11-14 11:49] FlxPeters commented on #1224
Nice to see this is already an issue. We also have this demand. We deploy a proxy as sidecar to most of our services. A single log out using backchannel logout would be a huge improvement.

[2021-11-14 17:06] JoelSpeed commented on #1442
I'm looking at doing a 7.2.1 release in the next week or so as we close out a few small bugs, I'll wait until that's done.

For now, you can use the arch tagged image `v7.2.0-armv6`

[2021-11-14 17:20] JoelSpeed commented on #1443
But if the profile URL is working, and we currently use the profile URL to validate, then it seems we don't need to update the provider right?

I don't understand right now where the error is coming from, perhaps you could explain why the `/emailaddress` path works for the profile URL but not the validate URL?

[2021-11-14 23:12] ianroberts commented on #926
As long as this is documented and/or there's a way to escape from it if a value does need to contain a literal `$`.

[2021-11-14 23:22] ianroberts commented on #1441
The `--pass-*` options are for when oauth2-proxy is acting as a reverse proxy, and define headers that are added to the HTTP _request_ that oauth2-proxy makes to the upstream.  They do nothing when oauth2-proxy is operating in auth-request mode behind Traefik or nginx.

The `--set-*` options are for the auth-request mode, and define headers that are added the the HTTP _response_ that oauth2-proxy

[2021-11-15 02:14] jkandasa commented on #1443
@JoelSpeed I do not understand, what is the issue with `/emailAddress`, in a quick view I see that we are passing some query parameters,
https://github.com/oauth2-proxy/oauth2-proxy/blob/7ed4e3c830f428f3a9d6028f11a5532c89a2927a/providers/linkedin.go#L79-L84

but in `validateToken` we do not pass those.
https://github.com/oauth2-proxy/oauth2-proxy/blob/7ed4e3c830f428f3a9d6028f11a5532c89a2927a/provi

[2021-11-15 07:48] jijilonline commented on #1427
Not familiar on how to set it up on local machine. There is no logs getting generate from the pods

[2021-11-15 15:49] JoelSpeed commented on #1427
If you have docker/docker compose, you could try reproducing the issue by modifying the configuration in our [local testing environment](https://github.com/oauth2-proxy/oauth2-proxy/tree/master/contrib/local-environment), or always just use a `docker run` command passing the appropriate configuration

[2021-11-16 03:24] cclloyd opened #1448 "Invalid Scopes with keycloak provider"
## Expected Behavior

It should redirect to login page then back to specified url after authenticating.

## Current Behavior

I get an error (firefox) "The page isn't redirecting properly", and it suggests I disable cookies.

Logs from the oauth sidecar container

    [2021/11/16 02:53:54] [oauthproxy.go:862] No valid authentication in request. Initiating login.
    10.0.0.1 - 11a1cec8ad469a10f530

[2021-11-16 08:11] avarf commented on #1424
This is what I did as I mentioned in my previous message: `cookie_domain = [".mywws.io"]`

[2021-11-16 11:37] JoelSpeed commented on #1424
Note the `s` in `cookie_domains = ["..."]` which you didn't have in your examples. This option is a list and as such, within the config has a trailing `s` when compared with the flag option

[2021-11-16 13:10] 3e-maciej opened #1449 "How can I authenticate against my own gitlab instance?"
I am trying to configure oauth2_proxy to authenticate against my own gitlab instance.

in my config file I have:

[code]

but it keeps redirecting me to https://gitlab.com (global one) not my own instance. I am using 7.2.0 version of oauth2_proxy in simple proxy scenario.
What is wrong with my config?

[2021-11-16 15:39] nielsn commented on #1398
Hey Joel, thanks for your insight.

The underlying issue here had to do with the `nginx-ingress-controller` and the way it deals with trailing slashes (causing redirects). After resolving this the whole setup worked fine.

Thanks again!

[2021-11-16 15:39] #1398 closed

[2021-11-16 16:10] jkandasa commented on #1449
and if I am not wrong, I do not see the use of the following parameters in gitlab configuration
[code]

[2021-11-17 00:03] #1328 closed

[2021-11-17 00:57] jacobsin commented on #1349
Think it's 307

[2021-11-17 01:00] jacobsin commented on #1349
Related to #1289?

[2021-11-17 03:22] michael-freidgeim-webjet commented on #1324
@JoelSpeed , can you point to some document/code describing “newly added request IDs”?
It will be ok  if in case of error an error log entry will have  request ID for reference and request will be logged separately.

[2021-11-17 07:57] pierluigilenoci commented on #1144
This is still an issue

[2021-11-17 09:13] ianroberts commented on #1435
Are you using oauth2-proxy as a reverse proxy, or as a "sidecar" via the nginx auth-request mechanism or similar?  Can you share your configuration (excluding any sensitive data like client secrets), including on the nginx side if you're using that mode?

[2021-11-17 10:44] JoelSpeed commented on #1324
Take a look at #1087 where this was implemented. IIRC, if a request ID is forwarded in a header, we use that, else we generate a request ID and log that in relevant logs

[2021-11-17 19:23] niksauer commented on #1297
Doesn't work for me unfortunately. Here's my setup:

[code]

[2021-11-18 18:53] JoelSpeed commented on #1423
Will you be proxying traffic directly through the OAuth2 Proxy (using the `upstream`/`upstreams` options), or will you be using something like nginx/istio/traefik with their external auth module equivalents?

If you are using external auth, it is recommended to handle this kind of separation at the proxy level rather than relying on OAuth2 Proxy, which in these scenarios, doesn't normally know wha

[2021-11-18 19:00] JoelSpeed commented on #1420
The issue here is that while the OIDC token is not expired, technically the session is still valid. This is based on the principles of OIDC, in which, a token is granted for some preset period of time. I would expect the only way to ensure users lose access quickly is to grant short tokens and refresh often (eg every 15 minutes).

I'm not sure whether removing sessions on refresh errors should be

[2021-11-18 21:27] ghuser0 commented on #1224
Thanks all, and thank you @wadahiro for the other approach and PoC!  The blocklist is an interesting idea and if it can avoid the Redis Lua it could be easier to maintain.

I think there is a danger in comparing the session's CreatedAt value to the logout token's IssuedAt claim at https://github.com/openstandia/oauth2-proxy/blob/800cd16402c12364fdc36744d0656b25f8d6f762/pkg/middleware/stored_sessio

[2021-11-19 00:56] r-kotagudem opened #1450 "Urgent help needed [AuthFailure] Invalid authentication via OAuth2: CSRF token mismatch, does having 2 oauth2-proxy pods without session stickiness causes this issue?"
@NickMeves @JoelSpeed
[AuthFailure] Invalid authentication via OAuth2: CSRF token mismatch, does having two oauth2-proxy pods without session stickiness  causes this issue?

does oauth2-proxy verify csrf cookie stored-in-memory?

[2021-11-19 11:20] r-kotagudem commented on #611
any solutions/work around for this issue? We are seeing same issue

[2021-11-19 15:49] JoelSpeed commented on #1441
I think @ianroberts described this really well, and I'm glad you managed to work out the issue. We should definitely try and make sure this is clearer within the docs.

[2021-11-19 15:50] JoelSpeed commented on #926
I think both would be expected. I think Dex handles this by using $$ IIRC, which is a well known pattern in linux communities I think, so we could go down that route if we wanted

[2021-11-19 16:01] JoelSpeed commented on #1450
@NickMeves is more of an expert on this than me, but as far as I remember, the CSRF token is stored in the state parameter and a cookie, so there shouldn't be an issue with having multiple pods running

[2021-11-19 16:37] afirth commented on #926
Please noooo... We use the env overrides all the time - by far the most convenient way to patch with kustomize. As suspected, because we want the configs to be almost identical

[2021-11-19 21:06] JoelSpeed commented on #1448
The first issue here is that your redirect url is invalid, you've got `/oauth/callback` when it should be `/oauth2/callback`. Once you fix that, you'll notice that this isn't a redirect error but an issue with the scope which Keycloak is telling you about
[code]
The issue here is that you have quotes in your strings within the yaml. This is a common problem with yaml encoding is that it sees the s

[2021-11-19 21:18] JoelSpeed commented on #1389
Could you elaborate on this for me please, why should access token validation be used for M2M calls over an ID Token?

[2021-11-19 21:24] JoelSpeed commented on #1430
I think the issue in the below line is that you haven't got a redeem URL set, so adding that is the right step.
[code]
When you add this and you don't get a valid secret, that suggests that your client secret that you are passing to OAuth2 Proxy isn't valid for the client ID on ADFS, can you double check/generate a new token to use for this client? Can you post the additional errors you get when y

[2021-11-19 21:27] JoelSpeed commented on #1437
Is it possible to add an `aud` claim to the token? Or possible there is some other token parameter that could be substituted? We are working to add support for multiple providers, and in doing so, will make the extra JWT issuers option just additional validate only providers, in which case, you'd be able to configure the user claim to some field other than the audience, which I think would resolve

[2021-11-19 21:36] #1443 closed

[2021-11-19 21:39] JoelSpeed commented on #1437
Just been looking through some of our other issues, and we seem to already be tracking this with #891, could you check that this is the same feature request and close out this issue. There is already a PR open to implement the request, which is being reviewed

[2021-11-19 21:57] JoelSpeed commented on #1409
I agree, I think that's your problem, I don't think there's anything we can do to change that behaviour though. In this case, i'd expect the session to now fail validation in which case, the session is cleared and the user is asked to re-authenticate, is that not happening for you?

[2021-11-19 22:41] irizzant commented on #1389
For a number of reasons.
ID tokens are meant for authentication, access token are meant for authorization.

In service-to-service communications, e.g when you want to consume an API from a service, you want to **authorize** a service to consume the API, you don't care about profiles, email addresses, or identity concerns.
If your API accepts an ID token as an authorization token, to begin with, yo

[2021-11-20 09:34] cr1st1p commented on #780
I bumped into the same issue as the reporter. Oauth2-proxy v7.2.0

I do not know extremely well the oidc/oauth details but I feel that he is at least partially right, and you dismissed his report way too quick.

You are saying that you do not want to correlate lifetime session of cookie with lifetime session of an access token.
Ok, but still, as the code is, and *exactly* where the original author

[2021-11-20 22:03] MNF commented on #1073
re-activate the issue.

[2021-11-21 00:04] #1351 closed

[2021-11-21 00:04] #1362 closed

[2021-11-21 00:04] #1364 closed

[2021-11-21 00:04] #1162 closed

[2021-11-21 05:18] ghuser0 commented on #1224
Could that be replaced with a monotonic counter in the redis database?  That could give you ordering between session creations and sign outs.  I think you could share a single counter that is incremented for every created session and every created signed out user in the blocklist.

https://redis.io/commands/INCR

[2021-11-21 13:23] r-kotagudem opened #1451 "simultaneous ajax requests causing csrf cookie mismatch/not found in the middle of user activity in application due to expired refresh token"
@JoelSpeed @NickMeves
currently with default cookie-expire for a week, this issue occurs.

1. refresh token is valid for 24 hours
1. user login to application today and tomorrow before 23rd hour the application continue to be loggedin
2. at 24th hour, users clicks a tab in application which triggers multiple ajax requests, causes 403 forbidden error in browser(csrf cookie overwritten due to mullti

[2021-11-21 13:27] r-kotagudem commented on #1450
thanks for clarifying this.

[2021-11-21 13:27] #1450 closed

[2021-11-22 07:21] pierluigilenoci commented on #1073
@JoelSpeed again please.

[2021-11-22 07:55] lanmarti commented on #1297
@JoelSpeed I haven't had the time to investigate this further properly, but unless I'm reading things incorrectly, you've suggested `/oauth2/start` instead of `/oauth2/sign_in` earlier in this thread (https://github.com/oauth2-proxy/oauth2-proxy/issues/1297#issuecomment-933555649) already, which didn't seem to cause any significant changes (https://github.com/oauth2-proxy/oauth2-proxy/issues/1297#

[2021-11-22 08:15] xoxys commented on #1297
I'm also using Traefik and running into the same issue. My Traefik config is pretty basic, using `/oauth2/start` also results in the `Found` link rendered instead of a proper redirect.

[2021-11-22 17:59] nbraun-wolf opened #1452 "getting the access/id token from the cookie"
Hi, I am trying out the proxy. We have used a client-side library before to authenticate against azure AD. The problem I have now is that I want to get the access token or ID token on the frontend to pass the API requests to a backend.

Is  there a way to get this token? It must be part of the cookie, but I am unsure how to extract it.

[2021-11-22 19:45] davidcorrigan714 opened #1453 "Accessing Multiple Resources?"
We're using Azure AD and I've got oauth2-proxy setup in front of an app in k8s. Logging in works great but the access-token that's passed to the backend is only valid for Microsoft Graph, my app needs to access additional resources as well, say Outlook. To get a token for outlook I need to use the refresh token to then get a new access token that's valid for Outlook. From what I can tell there's c

[2021-11-23 12:50] r-kotagudem commented on #1452
@nbraun-wolf
Please check below
https://github.com/oauth2-proxy/oauth2-proxy/issues/1277

If your app can make a request to /oauth2/auth, that should also be able to return things like the tokens as separate headers, which you can then copy to the request to the backend application if you need to send the token specifically

[2021-11-23 14:42] jijilonline commented on #1427
Here is the error

main.go:120: Get https://dex.int.xxxx.net/dex/.well-known/openid-configuration: dial tcp <IP>:443: connect: connection timed out

how to check if the firewall is open or not ?

[2021-11-23 19:11] nbraun-wolf commented on #1452
The proxy is returning 401 on /oauth2/auth and /oauth2/userinfo, for some reason. I have it deployed via helm chart. Am I missing something?

[code]

[2021-11-23 19:45] nbraun-wolf commented on #1452
OK, never mind. I did not pass the cookie along with the request. So of course no info could be returned. But at the moment all it's returning is my email in a header called `gap-auth`.

[2021-11-23 21:26] kmcentush commented on #1452
I'm working through a similar problem right now, and I think that your extra config args need to be separated with underscores instead of dashes. Here's a snippet from my config file (which I think is just a tweaked version of the default)

[code]

[2021-11-24 00:03] #1339 closed

[2021-11-24 00:03] #1341 closed

[2021-11-24 00:03] #1338 closed

[2021-11-24 00:10] kmcentush opened #1455 "Feature Request: Ability to Request Additional OAuth Scopes"
## Expected Behavior

I'm using Google OAuth and would love the ability to provide additional scopes to request of the user. With the OAuth2-Proxy config, I'm able to get the access token of the authenticated user, but I would love to also use this within the application itself with the relevant scopes already agreed to.

The current behavior of the access token would be sufficient if my applicati

[2021-11-24 01:20] kmcentush commented on #1455
Whoops, looks like it is already implemented with the `scope` configuration setting.

For future users that end up here: you can specify `scope = "<space separated scopes"` in your config file, or you can use the command line form `--scope`

[2021-11-24 01:25] #1455 closed

[2021-11-24 11:55] nbraun-wolf commented on #1452
@kmcentush  Using `--set-xauthrequest` has brought the token. Thanks.

I am using the [helm chart](https://github.com/oauth2-proxy/manifests/tree/main/helm/oauth2-proxy), so dashes are correct in this context, as the `extraArg` are the command line flags as shown in the [docs](https://oauth2-proxy.github.io/oauth2-proxy/docs/configuration/overview/#command-line-options).

[2021-11-24 12:04] #1452 closed

[2021-11-24 13:02] Mracobes9 opened #1456 "Google OIDC sign out"
Hi. I try to implement log out function on my website by using /oauth2/sign_out  endpoint, But i compfused by rd parameter. Google oidc haven't end_session_endpoint in its openid metadata (https://accounts.google.com/.well-known/openid-configuration). What i should transfer as a rd parameter ?

[2021-11-24 15:47] torsrex commented on #1437
We solved this on our end by using Istio CUSTOM actions with the `AuthorizationPolicy` resource to only forward the request to the oauth2-proxy if an authorization header is not present on the request, or if it is malformed, thus bypassing the oauth2-proxy for system-to-system calls. Instead, we are validating the JWT signature using Istio's `RequestAuthentication` resource, and performing additio

[2021-11-24 15:47] #1437 closed

[2021-11-24 21:16] jboesh commented on #1431
May I ask why you can't whitelist 1 user? but only an entire domain eg?

does this apply to all oath providers?

[2021-11-25 00:03] #1327 closed

[2021-11-25 10:23] Brzhk commented on #1185
May i suggest allow, as in 'allow-valid-token-bearing-requests' ?

[2021-11-25 12:31] MoatazAbdallh opened #1457 "Using --allowed-roles gives 403"
## Expected Behavior

I have the following configuration:
` "--provider=keycloak-oidc",

              "--client-id=xxxxx",

              "--client-secret=xxxx",

              "--upstream=xxxxx",
              "--oidc-issuer-url=xxxxxx",
              "--redeem-url=xxxxxx",
              "--redirect-url=xxxxxx",
              "--http-address=xxxxx",
              "--auth-logging=true",

[2021-11-26 00:03] #1228 closed

[2021-11-26 00:03] #1114 closed

[2021-11-26 10:35] tareco commented on #926
Is there a rough estimate on when multiple providers support could be available?

[2021-11-26 17:43] JoelSpeed commented on #926
As far as I'm aware, no one is actively working on this issue right now. The work is half done, in that the configuration has been updated to allow multiple providers, but no one has worked on actually implementing the multiple provider work.

This isn't something the maintainers are likely to implement soon, if anyone has time to help, this would be appreciated

[2021-11-26 17:53] JoelSpeed commented on #1427
Unfortunately, that's beyond the scope of the support I can give as a project maintainer, you will need to address your own network issues and make sure that your dex instance is accessible from wherever your container is running

[2021-11-26 18:02] JoelSpeed commented on #1457
Are there any logs or additional details you can add to tell us why this 403 might be being sent back? Do you mean you get 403 after being redirected back from keycloak?

[2021-11-26 18:12] JoelSpeed commented on #1431
There is the authenticated emails file option, I've not used it myself but I think that allows you to limit to specific emails

[2021-11-27 13:29] MoatazAbdallh commented on #1457
Here is some logs extracted from oauth2_proxy server when i am trying to hit the endpoint, and i think this failure is thrown from oauth2_proxy

[AuthFailure] Invalid authorization via session: removing session Session{email:xxxxxuser:xxxxxx PreferredUsername:xxxxx token:true id_token:true created: expires:}

[2021-11-27 14:10] nbraun-wolf opened #1458 "acess token verification fails"
Hi, I am trying to send the token received from /oauth2/auth to a backend and verify it, but it's not working with the [recommended flow](https://docs.microsoft.com/en-us/azure/active-directory/develop/access-tokens#validating-tokens.) from azure.

I am able to do it with token acquired by the [msal](https://docs.microsoft.com/en-us/azure/active-directory/develop/msal-overview) library but not wit

[2021-11-27 18:09] nbraun-wolf commented on #1458
Using version 2 of the AD login provider also didn't help. It brought the same kind of unusable token,

[code]

[2021-11-27 18:56] justjanne opened #1459 "Support for per-route/method role/group authZ"
The louketo-proxy/keycloak-proxy/keycloak-gatekeeper project used to allow specifying multiple resources, with multiple matchers, with multiple requirements that needed to be fulfilled to allow authorization.

To provide an example from the documentation:

[code]

What would be the equivalent configuration for this project, to obtain the same functionality?

In our case, we’d like to require for s

[2021-11-28 00:48] derekkite commented on #1456
https://myaccount.google.com/permissions

The user would revoke permissions for the app. Not sure if that is what is needed.

[2021-11-28 11:02] frittentheke commented on #1057
Please keep this active.

[2021-11-28 11:02] lathspell commented on #1057
don't close this, bot! (this is getting silly, can't you just disable the bot for this issue?)

[2021-11-28 14:55] nbraun-wolf commented on #1459
I am not entirely sure, but I think this is the wrong project for this. I think it's for authentication and not authorization. So, I think you need to pass the token on and let something else enforce those kinds of policies.

[2021-11-28 15:43] JoelSpeed commented on #1459
This isn't really available at this level of complexity right now, we have some proof of concept work that we had been discussing but this work was never completed.

I can't give you an estimate at this time for when we might be able to do this, but, for the most part you can achieve this using our existing project alongside other applications that can check the authz parts. Eg you can use another

[2021-11-28 15:49] JoelSpeed commented on #1457
Can you provide a set of logs around this, there may be other log lines that detail what the errors are. This doesn't really give me much to go on right now

[2021-11-28 15:52] JoelSpeed commented on #1458
The tokens recieved by OAuth2 Proxy are ID Tokens typically, Microsoft has a different page for these and you should be able to validate these separately. If you need the roles, I think you may need to adjust the scope to request the roles to be injected into the ID Token, they may however already be there.

MS Docs: https://docs.microsoft.com/en-us/azure/active-directory/develop/id-tokens

How ar

[2021-11-28 16:41] nbraun-wolf commented on #1458
Hi, thanks for the response. I am asking for the token via endpoint `/oauth2/auth`.

I think the roles are not there, but I am not sure, since base64 decoding failed. How would I change the scope? I guess this must happen somewhere at oauth2-proxy level.

[2021-11-28 18:57] MoatazAbdallh commented on #1457
it seems that there is no --oidc-roles-claim or i don't know what i should use in the Token Claim Name in the User Realm Role Mapper in keycloak, i have made a workaround by using "groups" as Token claim name and used --allowed-group but i don't think this is a good idea

[2021-11-28 19:04] justjanne commented on #1459
Thanks for the information, would it be okay to keep this issue until the feature is implemented? I’d love to have a way to subscribe to discussion/changes on this in the future.

What’d be necessary to implement this? In 2019 I made an internal fork of the aforementioned keycloak-proxy repo to implement this functionality, I might be able to make a PR to add this functionality here as well.

[2021-11-29 13:15] r-kotagudem commented on #1451
@JoelSpeed  could you pls provide your advise on this?

[2021-11-29 17:59] brunomartinspro commented on #1032
Looking at the code to put client credentials in place.. has anyone solved this?

[2021-11-30 00:35] rlex commented on #1398
@nielsn might i ask how you solved it? I'm facing exact same problem.
I'm using
[code]

to pass original URL and reverse_proxy set to true.

[2021-11-30 04:19] r-kotagudem commented on #1451
https://github.com/oauth2-proxy/oauth2-proxy/issues/1287

[2021-11-30 16:42] #1387 closed

[2021-12-01 00:04] #1377 closed

[2021-12-01 03:14] spamokm commented on #834
#re-activate
any updates?

[2021-12-01 08:20] SpecialYang opened #1460 "Support * for the arg --whitelist-domain to allow any domain, any ip and any port."
Currently, the arg `--whitelist-domain` only support domain and domain with any port.
However, in our case, we have lots of domains can be redirected by oauth2 proxy and these domains may changes frequently. In addition, in the test case, we hope to redirect ip to test directly.
So, should we support  * for the arg `--whitelist-domain` to allow any domain, any ip and any port?

[2021-12-01 09:39] nbraun-wolf commented on #1458
@JoelSpeed, is there another way of getting the access token other than /oauth2/auth and reading it from the header `x-auth-request-access-token`'? Based on the name it should be the access token though.

[2021-12-01 22:18] zvazquez opened #1461 "Error redeeming code during OAuth2 callback: token exchange failed: oauth2: cannot fetch token: 401"
## Expected Behavior
Use of Oauth2Proxy to initiate and finalize OpenID Authentication flow to access Web resources within Kubernetes using NGINX Ingress Controller.

## Current Behavior
Authentication flow fails during callback call with error:
[code]

The following is observed in the browser:

![image](https://user-images.githubusercontent.com/54040436/144322800-bf70e524-ad66-472e-9bac-1c4a37747

[2021-12-02 14:56] awoimbee opened #1462 "Multi-tenancy proxy with Keycloak OIDC #2"
Hi,
Before anything, please read #739, it contains all the info needed, but got closed prematurely.
I have exactly the same use-case and issue as the OP of #739.
I too propose to implement the feature myself (but can't promise anything as I'm not proficient in Go).

My dream is to have a dedicated page like "Please enter tenant name:" and a shortcut like `https://internal-oauth2.example.com/oauth2

[2021-12-02 15:58] omBratteng commented on #1372
Alternatively [`distroless`](https://github.com/GoogleContainerTools/distroless) images

[2021-12-02 16:17] priggad commented on #1457
I'm also having the same issue. I'm running the proxy in a container - when the environment variable `OAUTH2_PROXY_ALLOWED_ROLES` is set to "" or is not defined at all then the proxy works as expected. If I add a client role to `OAUTH2_PROXY_ALLOWED_ROLES` in the format "client_id:role_name" as recommended by the documentation I get a 403 and the same log output as specified by @MoatazAbdallh .  I

[2021-12-02 16:39] gfrankel97 opened #1463 "OAuth2 Proxy client_credentials flow with AzureAD"
## Goal: Secure service with OAuth2 Proxy flow using App Registrations from AzureAD

## Expected Behavior
OAuth2 Proxy client_credentials flow should work whether or not the client App Registration has an associated Service Principal.

## Current Behavior
OAuth2 Proxy worked well with machine-to-machine using the [`client_credentials` auth flow](https://docs.microsoft.com/en-us/azure/active-direct

[2021-12-03 05:15] juliohm1978 commented on #1457
Hi.

I'm having a similar issue. Interestingly, though, the Authorization Flow works fine in the browser, but I get that exact error using the Authoriztion header with a Bearer token.

`--skip-jwt-bearer-tokens` and `--extra-jwt-issuers` are configured as expected and they work with the plain oidc provider. But as soon as I switch to keycloak-oidc and add `--allowed-role=...`, this error shows up.

[2021-12-03 07:10] evgenstein commented on #1360
don't close, in oauth2-proxy we trust

[2021-12-03 08:44] priggad commented on #1457
I can confirm that I get the same behavior as @juliohm1978 - authorization flow via browser works as expected, sending a request with an Authorization: Bearer token (retrieved using client credentials flow) results in 403. I've looked at the log output and the issue definitely seems to be the `sessions.SesstionState.Groups` property - it gets populated with groups and roles during the authorizatio

[2021-12-03 13:47] gowrisankar22 opened #1464 "Question: Serviceaccount usage"
oauth2proxy is configured with serviceaccount in https://github.com/oauth2-proxy/manifests/blob/main/helm/oauth2-proxy/templates/deployment.yaml#L41. I'm trying to figure out what it's used for. can someone help ?

[2021-12-04 00:04] #1370 closed

[2021-12-04 16:20] r-kotagudem opened #1467 "callback failed could not verify id_token: failed to verify signature with v7.2.0, however works fine till v7.1.3"
Seeing below error
Error redeeming code during OAuth2 callback: could not verify id_token: failed to verify signature: fetching keys oidc: failed to decode keys: got Content-Type = application/json, but could not unmarshal as JSON: square/go-jose: invalid JWK, x5t header has invalid encoding

[2021-12-05 00:52] braunsonm commented on #1361
Bump

[2021-12-05 07:25] islam56naser commented on #1462
Hi @awoimbee , I'm also facing the same issue and I'm thinking of implementing this myself but I'd like to know what the maintainers think

[2021-12-06 00:04] #1355 closed

[2021-12-06 14:27] JoelSpeed commented on #1467
Could you please provide some more details about your environment to allow us to understand which provider/additional options you are using to allow us to identify where this bug might be residing within the code, thanks!

[2021-12-06 14:28] JoelSpeed commented on #1464
You'd be better asking this question over on the manifests repository, we are not responsible over here for how the code is deployed and the maintainers of the manifests will likely have a better answer for you

[2021-12-07 00:04] #1378 closed

[2021-12-07 00:04] #1368 closed

[2021-12-07 00:04] #1374 closed

[2021-12-07 09:24] morarucostel commented on #1232
Just bringing it back to the attention and asking for help on this.

[2021-12-08 05:18] Frizlab commented on #817
This ain't fixed AFAIK.

[2021-12-08 11:53] dawidswiton opened #1469 "Mistake in a documention"
## Expected Behavior
Documentation suggests that flag:
--allowed-group
should be used as enviroment variable:
OAUTH2_PROXY_ALLOWED_GROUP

But only OAUTH2_PROXY_ALLOWED_GROUPS is taken into account

## Current Behavior
Using OAUTH2_PROXY_ALLOWED_GROUP is **not** checking group restriction.
Using OAUTH2_PROXY_ALLOWED_GROUP**S** is checking group restriction.

## Possible Solution
Correcting document

[2021-12-09 00:03] #1365 closed

[2021-12-09 00:03] #1322 closed

[2021-12-09 14:10] forestm opened #1470 "[Question] Error creating session although the email is existing"
Hi

I was trying to secure our app by oauth2-proxy, and use our own oidc server.

From the oidc server's log, it shows the id_token generated successfully.
the payload in the id_token looks like
`{
  "sub": "hello.world",
  "aud": "app1",
  "kid": "rsa1",
  "iss": "https://mycompany.com/iam",
  "name": "HelloWorld",
  "groups": [
    "group1",
    "group2"
  ],
  "exp": 1639127925,
  "iat": 163904

[2021-12-09 14:31] JoelSpeed commented on #1470
Could you share a sanitzed version of your configuration so that we can see what options might be affecting this?

[2021-12-09 17:34] phllpmcphrsn commented on #822
@POD666 did you wind up rolling with your own solution or did you find another proxy?

[2021-12-09 23:54] phllpmcphrsn commented on #1393
@ricosega were/are you using Istio; if so, what version? Trying to figure out when `includeRequestsHeadersInCheck` was added to see if I need to convert to it (from `includeHeadersInCheck`)

[2021-12-10 00:03] #1366 closed

[2021-12-10 00:03] #1367 closed

[2021-12-10 02:04] forestm commented on #1470
I used these options as args in k8s deployment

- --provider=oidc
- --email-domain=domain.com
- --upstream=file:///dev/null
- --http-address=0.0.0.0:4180
- --auth-logging=true
- --silence-ping-logging
- --ssl-insecure-skip-verify=true
- --oidc-issuer-url=https://iamdomain/iam
- --client-id=oauth2-proxy
- --client-secret=oauth2-secret
- --cookie-secret=1234567891234567
- --cookie-samesite=none
- --

[2021-12-10 04:21] gowrisankar22 commented on #1461
@zvazquez Thanks for reporting much earlier. Today we also ran into the same problem in our setup with nginx ingress `1.1.0`. This working with nginx-ingress < `1.1.0`

[code]

[2021-12-12 00:03] #1390 closed

[2021-12-12 07:08] zizitop13 commented on #1182
@LordEvron Hello! Could you please tell me how you dealt with your problem?

[2021-12-13 14:02] bluebrown commented on #1458
Is there no way to obtain the Access Token with this project? ID Token is not feasible.

[2021-12-14 09:02] forestm commented on #1470
I found the reason:
1 I missed the email in the scope at the first time created the new oidc client
2 oidc server cached the token
3 adding email into scope didnot work, because the oidc server still got the token from cache
4 then I cleared the cache, the issue fixed.

[2021-12-14 09:02] #1470 closed

[2021-12-14 19:04] shawnhwei commented on #731
I've also encountered this on the current latest docker image and cannot find a solution.

[2021-12-14 19:18] JoelSpeed commented on #1458
If it's coming from the `x-auth-request-access-token` then yes, you've got the access token coming back, or at least, you should do

[2021-12-14 19:24] JoelSpeed commented on #1461
The 401 is coming from the identity provider, you will need to work out why your identity provider is returning a 401.

There's no information in the logs right now which can tell us what is going on.

What is the actual identity provider you are using, is it some online hosted IDP or are you using something in house, can you check the access logs to see what the issue is?

[2021-12-14 19:28] JoelSpeed commented on #1469
Please read the section in the documentation about environment variables which explains how flags map to environment variables, it explains the behaviour that you are seeing

https://oauth2-proxy.github.io/oauth2-proxy/docs/configuration/overview#environment-variables

[2021-12-14 19:28] #1469 closed

[2021-12-14 19:34] JoelSpeed commented on #1463
What is the content of the `sub` key when it is present, is it the user email?
The `sub` key, IIRC, is what we use for the user by default. You could change the `oidc-user-claim` as an alternate workaround I think

[2021-12-14 19:36] JoelSpeed commented on #1372
Would a distroless image have the same issue of not having root certificates? I think what we do today is copy them from the builder image, I could see us leaning towards using that as an approach, I don't mind setting up new builds for a scratch or distroless image.

Which of the two is preferred, what are the pros/cons of distroless vs scratch?

[2021-12-14 19:39] omBratteng commented on #1372
iirc the distroless does have certificates installed. I can do a PoC tomorrow and see if distroless works

[2021-12-14 20:57] Johannestegner commented on #46
To get this working, I had to set the `passHostHeader` argument in my error handler middleware to `false` (and use /oauth2/sign_in path) and it worked as expected.
Only took me 3 hours to figure out! ;)

[2021-12-14 21:11] jpc opened #1472 "When the `aud` claim is wrong Bearer token authentication works but it does not interpret the groups field"
I am using Keycloak and I observe strange behavior when using Bearer tokens. The documentation mentions that you need to have `oauth2` in the `aud` claim but I initially missed it when updating the provider from `keycloak` to `keycloak-oidc`.

Without the proper `aud` claim oauth2-proxy still accepts the token as long as a group membership requirement is not specified.

When the `aud` claim does n

[2021-12-15 04:03] shawnhwei opened #1473 "Gitlab token refresh request does not include all required params"
## Expected Behavior

Gitlab access token is able to be refreshed at the /oauth/token endpoint using the stored refresh_token.

## Current Behavior

The token is not refreshed successfully due to 400 response and session is invalidated.

## Possible Solution

I have captured the outgoing request to mygitlab.com/oauth/token and it seems there are required params that are not included.

At my Gitlab

[2021-12-15 04:11] shawnhwei commented on #1473
Also the relevant logs from oauth2-proxy:
[code]

[2021-12-15 04:22] shawnhwei commented on #1473
This maybe the behavior from go oauth2:

https://github.com/golang/oauth2/blob/2e8d9340160224d36fd555eaf8837240a7e239a7/oauth2.go#L265-L282

[2021-12-15 06:21] SpecialYang commented on #1460
@JoelSpeed  Sorry for ping. How do you think this enhancement?

[2021-12-15 10:55] jpc commented on #1472
Ok, when cleaning up after my tests I've noticed I tested the `keycloak-oidc` provider on the master branch (it was not there in v7.1.3 yet). The same problem occurred in v7.1.3 but for the deprecated `keycloak` provider for which the whole code path copying things from access token claim to the session seems to be missing.

[2021-12-16 05:49] #1388 closed

[2021-12-17 08:29] jacky96623 opened #1475 "Request to Enable Inject Request Header from Arbitrary Token Claim"
Hi there, may I ask if Oauth2 Proxy already supports injecting request header from arbitrary claim in token? If not, it would be greatly appreciated if this feature can be implemented.

## Expected Behavior

By using alpha config, I expect that Oauth2 Proxy will try to extract any claim from JWT and pass it to upstream if the claim exists. If the claim does not exist, then the header will not be i

[2021-12-17 10:49] CodeGlitcher opened #1476 "Airgapped environment missing stylesheet."
We are using oauth2-proxy in a airgapped enviroment and the login page is missing its stylesheet.
We upgrade oauth proxy from version v7.1.3 to v.7.2.0
But the new version nolonger has its own stylesheet.
It is now downling this from cdn.jsdelivr.net.
We cannot reach this domain from our server.
It is possible to include the stylesheet in the application itself rather then relaying on a 3rth party

[2021-12-17 12:30] omBratteng commented on #1372
I have done a PoC here https://github.com/oauth2-proxy/oauth2-proxy/pull/1478
Using distroless static-debian11 with non-root user.
It does not have a shell, if you want a shell, you can use the `debug-nonroot` tag to get a busybox shell

Only tested with OIDC against Azure AD

[2021-12-17 12:31] omBratteng commented on #1372
If you use the `debug-nonroot`, you can verify that there is root certificates installed.

[2021-12-17 16:38] yeplaa opened #1480 "Integration of Openshift Provider"
Hello,

Indeed, i use currently https://github.com/openshift/oauth-proxy that is very integrated with Openshift but it has basic features with others providers.

I would like to know if it's planned to integrate Openshift as Provider.

Thanks

[2021-12-18 00:04] #1363 closed

[2021-12-18 12:14] JoelSpeed commented on #1476
We can use golang embedding to embed the file, shouldn't be too difficult, worth a PR I reckon. Do you have time to help implement this?

[2021-12-18 15:29] PSanetra commented on #1285
still relevant

[2021-12-19 00:04] #549 closed

[2021-12-19 12:47] CodeGlitcher commented on #1476
Never have done anything with go, but I have some time next weekend so I will give it a try

[2021-12-20 00:05] jord1e commented on #1319
ugh, reactivate

[2021-12-20 02:49] houz42 commented on #780
Sorry for replying to a closed issue. But can you please explain more about such use cases. And I'm wondering, if such use cases need the cookie live longer, then is it possible that checking and refreshing the upstream token without refreshing the cookied session. And will the fix be accepted if the solution exists?

[2021-12-20 13:58] craigbeat opened #1482 "BitBucket Provider has wrong URL path"
## Expected Behavior

BitBucket provider should call /2.0/workspaces as a drop-in replacement for /2.0/teams which has been deprecated and removed by Atlassian.
https://developer.atlassian.com/cloud/bitbucket/bitbucket-api-teams-deprecation/

## Current Behavior

The wrong (removed) URL is called

## Possible Solution

Update providers/bitbucket.go with new URL endpoint

## Steps to Reproduce (for

[2021-12-20 18:25] r9labs commented on #1457
Confirmed that this is still an issue with v7.2.0 using Client Roles, and Environment Variables.

[2021-12-20 21:14] MNF commented on #1140
the issue is still relevant

[2021-12-21 00:57] bbigras opened #1483 "feature request: support users without email addresses"
## Expected Behavior

I'm using "login with Steam" to auth my users.
Steam doesn't provide the email addresses.
I would like to use oauth2-proxy.

## Current Behavior

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

## Your Environment

- Version used:

[2021-12-21 21:34] pbitante opened #1484 "Redirecting with Keycloak OIDC not working"
## Expected Behavior

I am using oauth2-proxy in front of an R application using Shiny and authenticating with Keycloak OIDC. I would expect by navigating to the app url that I am redirected to Oauth2's page, login with Keycloak, then redirect back to the app I am trying to reach.

## Current Behavior

I am able to get through the process up until being redirected back to my app. After logging in

[2021-12-21 21:49] kfox1111 commented on #1484
Not that it helps solve this issue, but maybe consider shinyproxy (https://www.shinyproxy.io/). It supports oidc directly, and dynamically runs shiny app instances. Has worked around the pesky R scalability problem on our servers too.

[2021-12-21 22:19] pbitante commented on #1484
Thank you for taking the time to look at our issue. We looked at shinyproxy before deciding on using oauth2-proxy for authenticating.

[2021-12-21 23:32] scyto opened #1485 "whitelist error messages in log when issue is actually nginx proxy_buffer_size setting"
--edit--
Seems this was nothing to do with the whitelist despite the white list errors
https://github.com/oauth2-proxy/oauth2-proxy/issues/1485#issuecomment-999169916
---edit---

I am upgrading from v5 to 7.20, v5 works fine.

Seems there is a new whitelist feature (great idea!)

With 7.20 I am getting the following in the oauth docker container log

[code]
Which i think then is causing a 502 to b

[2021-12-21 23:47] scyto commented on #1485
well dagnabit it was ```proxy_buffer_size``` that was the issue, upped the size in nginx and it solved it (i didn't spot the error in the log)

very confusing error messages though, throwing a whitelist error when it isn't a whitelist error?

[2021-12-22 00:04] #1263 closed

[2021-12-22 09:21] kasbst opened #1486 "Azure: Is it possible to use certificate as client credential?"
Is there any chance this will be implemented? We are not allowed to use SPN secret credential due to internal company policies. We can use only SPN certificate credential.

[Previous issue was sclosed](https://github.com/oauth2-proxy/oauth2-proxy/issues/1272)
[PR was closed but not merged](https://github.com/oauth2-proxy/oauth2-proxy/pull/1293)

Thank you.

[2021-12-22 17:51] scyto opened #1487 "Is it possible to auto-bypass the initial oauth proxy screen?"
I am using the Azure provider (it works well with AAD, so not sure what the AAD provider does, but that's for another day).
I would prefer if my users didn't have to click the green login button but instead were redirected straight to the Microsoft login flow.

Is this possible?

[2021-12-22 17:59] scyto commented on #1487
yes scyto it is, read the documentation properly next time

--skip-provider-button = true

[2021-12-22 17:59] #1487 closed

[2021-12-23 00:52] timyong80 commented on #1485
Hi @scyto

May I know where did you set the proxy_buffer_size value? Is it a variable that you added to my_vhost.conf? I'm using bitnami/nginx 1.21.3. Currently, I'm getting a warning error in the pod log and according to the documentation here, it says increasing the proxy_buffer_size in nginx should resolve this.

[2021/12/23 00:50:31] [session_store.go:163] WARNING: Multiple cookies are require

[2021-12-23 01:42] timyong80 opened #1488 "[AuthFailure] Invalid authentication via OAuth2: unable to obtain CSRF cookie"
I was using v5.1.1 previously and everything worked fine. I upgraded to v7.2.0, I get a 403 Forbidden when accessing my application.

## Expected Behavior

Able to authenticate to my application

## Current Behavior

CSRF token error. Unable to authenticate using Azure Idp but received the error in the pod log. Note that some info has been obfuscated.

`[2021/12/23 00:50:28] [AuthFailure] Invalid

[2021-12-23 03:40] timyong80 commented on #1488
Update: Apparently, changing the variable from OAUTH2_PROXY_COOKIE_DOMAIN to OAUTH2_PROXY_COOKIE_DOMAINS resolved the issue. Was looking back at the change log and noticed this update was done in v.6.0.0

[2021-12-23 17:24] #1073 closed

[2021-12-23 17:27] JoelSpeed commented on #1485
Just wanted to add a note that `OAUTH2_PROXY_WHITELIST_DOMAIN` is incorrect, it should have a trailing S, `OAUTH2_PROXY_WHITELIST_DOMAINS`, as it can be specified multiple times via the CLI

[2021-12-23 17:28] JoelSpeed commented on #1486
At the moment we have no intention of implementing this. The maintainers of this project are no longer running this application within our day to day jobs so our appetite to implement new features is relatively minimal at the moment.

If someone is willing to pick the PR back up, we should be able to find some time to review

[2021-12-23 19:46] scyto commented on #1485
@timyong80 in the http section

[code]

[2021-12-24 00:04] #1373 closed

[2021-12-24 00:04] #1392 closed

[2021-12-25 14:25] PrettySolution opened #1491 "Configuring Istio enabled K8S cluster with Cognito user pool"
Hello,
I have set up oauth2-proxy to work with AWS Cognito user pool according to [docs](https://oauth2-proxy.github.io/oauth2-proxy/docs/configuration/oauth_provider#openid-connect-provider).
Everything seems to be working well. When I navigate at [prod.pretty-solution.com](https://prod.pretty-solution.com/api) it redirects me to a login page hosted at amazoncognito.com where I can sign in/up and

[2021-12-26 00:04] #1352 closed

[2021-12-26 16:26] ianroberts commented on #1314
Any movement on this?  I've just rebased my PR, if you would like me to make changes to the config format just say so over there.

[2021-12-26 16:27] ianroberts commented on #1369
There's been no movement so far on #1314 but I am still interested in getting that or something similar integrated if possible.

[2021-12-27 02:49] SpecialYang commented on #1483
try to use `insecure-oidc-allow-unverified-email=true`.

[2021-12-28 12:53] boutobza commented on #334
Same issue v7.2.0

[2021-12-28 15:37] rperpe commented on #1224
I would also like to express need for this feature.

[2021-12-29 00:04] #1400 closed

[2021-12-29 00:05] hevans-dglcom commented on #926
Hello, @JoelSpeed I hacked together a little concept while avoiding the family these last few days.

Could you have a little review and let me know if i should continue with the concept?

[2021-12-29 00:32] theGOTOguy commented on #222
This is still an issue for me.

[2021-12-29 01:11] jin-ahn opened #1496 "OKTA Auth on EKS does not work"
I have a cluster hosted on EKS and trying to use oauth-proxy as a way to authenticate my k8s dashboard
I have a DNS setup so that that eks.example.com points to the my ingress on EKS. ingress is configured so that eks.example.com has an auth url that will route to oauth-proxy and every other path routes to dashboard

## Expected Behavior
Going to eks.example.com will redirect me to example.okta.co

[2021-12-29 15:16] MNF commented on #1148
the issue is still relevant

[2021-12-29 18:45] JoelSpeed commented on #1483
We have an intention to overhaul the authorization mechanisms but haven't had the time to implement the changes just yet. When we do overhaul it, we will make all authorization optional so that emails will no longer be required

[2021-12-29 18:46] ianroberts commented on #1496
That looks to me like oauth2-proxy has done its job authenticating you against okta before letting you see the dashboard, but then the 401 is the _apiserver_ telling the dashboard it hasn't supplied valid authentication to access k8s APIs.

You're using `auth-url` mode, so what happens is

- user hits `https://eks.example.com` without a valid session
- nginx hits oauth2-proxy `/oauth2/auth` URL pa

[2021-12-29 19:06] ianroberts commented on #1491
This isn't really a question about oauth2-proxy, you're asking about how to customize the login page for a particular OIDC provider.  In the case of Cognito they do claim to offer some element of logo and CSS customization of the login page (https://docs.aws.amazon.com/cognito/latest/developerguide/cognito-user-pools-app-ui-customization.html) but if that's not sufficient for your needs then maybe

[2021-12-29 19:09] JoelSpeed commented on #1496
I agree with @ianroberts, just wanted to add though that you should make sure that the audience in the tokens given to OAuth2 Proxy also match the audience EKS is configured with. If these don't match, they won't be accepted by the K8s API. Is your EKS already set up to allow tokens from your IDP?

[2021-12-29 19:24] JoelSpeed commented on #1389
I think using ID Tokens for service to service communication is still valid. An ID token is used to identify something, that could be a person or a thing. The ID Token does not contain any authorization information as you have said.

It is up to some other service to map the user to to the authorization that they have.

This is a different model to what you are proposing, but I believe an entirely

[2021-12-29 19:44] JoelSpeed commented on #1480
We don't have any active plans to integrate new providers at present and I'm not familiar enough with the authentication systems within openshift to suggest how we would integrate. Is there an identity provider running within openshift to integrate with? I would expect that to be keycloak if any?

[2021-12-29 19:48] JoelSpeed commented on #1475
We are working towards allowing this feature, though the maintainers currently have very little time to put towards the project so I can't suggest a possible timeline for this.

The upshot of the work to do here is:
- Add an option to allow additional claims to be extracted from the ID Token
- Using this new option, whenever a session is created within a provider, attempt to extract the required c

[2021-12-29 21:49] jin-ahn commented on #1496
@JoelSpeed `Is your EKS already set up to allow tokens from your IDP?` I do not believe so. Would it possible for you to explain how to do that? I tried adding an OIDC authenticator to EKS (using the same aud) but that did not seem to work.
![image](https://user-images.githubusercontent.com/66384196/147705982-72b06506-7561-46bc-b8f3-178e9b73db4c.png)

[2021-12-30 09:13] yoavo-datricks commented on #1451
Hi. This is kind of a big issue for us causing multiple APIs failures. It looks like the parallel API requests are corrupting the CSRF nonce. Any suggestions on why or how to workaround?

[2021-12-30 19:26] mateuszkozakiewicz opened #1498 "--skip-auth-route doesn't work"
`--skip-auth-route` seems to be ignored or I don't know how to provide it correctly.

## Expected Behavior

When providing a regex like `--skip-auth-route=^\/api\/.*` endpoint `/api/asd` should be reachable without the auth cookie.

## Current Behavior

I'm still being asked to sign in. Tried with the deprecated `--skip-auth-regex` but is still the same.
Logs show:
[code]

## Steps to Reproduce (f

[2021-12-31 10:04] irizzant commented on #1389
You said it yourself, ID tokens are not enough for service to service communication unless you use some other service to perform the authorization part.

First of all this means basically doubling the steps needed for an API call.
I as an API owner have to check that you have been authenticated to understand which authorization policy I have to apply to you and you as an API consumer have to first

[2021-12-31 15:45] jacek-jablonski opened #1499 "Authentication with bearer tokens using GitHub provider"
Hi,
I've set up some API behind oauth2_proxy, everything is working fine. But now I would like to create some browser-only application to use this API behind oauth2_proxy. I've seen the medium article about service-to-service authentication, but it was set up using oidc provider. As far as I know, Github isn't OIDC compatible.

So is it possible to set up a browser-only application with an authent

[2022-01-01 17:00] StephenOTT commented on #1499
Was researching a similar scenario -!: came across this issue that I think discusses a similar scenario? https://github.com/oauth2-proxy/oauth2-proxy/issues/962#issuecomment-750674340

[2022-01-03 00:04] #1369 closed

[2022-01-03 00:06] ianroberts commented on #1314
Oh, I thought commenting on this should have "un-staled" it...

[2022-01-03 23:15] masshysteria1 opened #1501 "multiple upstreams? - oauth2-proxy as a central service for authentication in Kubernetes"
Hey,

We'd like to use oauth2-proxy as a central service in our Kubernetes cluster to protect a few applications. Preferably have one pod of oauth2-proxy instead of one per namespace.
I have seen some threads talking about path-based routing. What is the easiest way of doing this without path-based routing? is that the only way?
We use NGINX-Ingress Controller on top to route the traffic to the re

[2022-01-04 10:28] pierluigilenoci commented on #888
:(

[2022-01-05 00:04] #1428 closed

[2022-01-05 00:04] #1354 closed

[2022-01-05 10:02] jacek-jablonski commented on #1499
@StephenOTT thanks, it seems that related issue explains a lot.

[2022-01-05 18:14] pfragoso opened #1503 "id_token nor the profileURL set an email while using a alpha config"
Currently, I have a working instance of oauth2-proxy that I would like to change to the Alpha config to take advantage of the injectResponseHeaders option.

I don't rely on a cfg file, most of the stuff is configured through cmd arguments or env variables.

## Current Behavior

### normal config
[code]
### alpha config (not working)
[code]

Getting the last id_token nor the profileURL set an email

[2022-01-05 22:52] StephenOTT commented on #1499
If you get it working please let me know!  Have a similar need to have openid login with GitHub idp

[2022-01-06 03:07] ckwalsh commented on #1501
Take a look at https://kubernetes.github.io/ingress-nginx/examples/auth/oauth-external-auth/ . You can do this with the auth-url and auth-signin annotations, and taking advantage of shared cookies.

In my homelab, all my systems are given subdomains under "dev.foo.com", such as "mysite.dev.foo.com", and "project.dev.foo.com". I have configured kubernetes to serve oauth2-proxy under "oauth.dev.foo.

[2022-01-06 16:07] pierluigilenoci opened #1505 "Azure provider with v7.2.1 and ADAL stop working - Access token validation failure. Invalid audience"
After the update from `v7.2.0` to `v7.2.1` the integration with the AAD stops working.
We analyzed the difference between the two versions and we understood our issue is this PR: #1433

The pod produces these loglines:
[code]

We analyzed the code. Here is the code involved:
* https://github.com/oauth2-proxy/oauth2-proxy/blob/master/oauthproxy.go#L757-L762
* https://github.com/oauth2-proxy/oauth2-

[2022-01-06 16:19] pierluigilenoci commented on #1505
@weinong @NickMeves @JoelSpeed @codablock could you please take a look?

FYI: @stippi2 @ludydoo @LouisStAmour @amgtg @antgamdia @avodaqstephan @RichardTheHouse @kernelcoredump @bailsman

[2022-01-06 16:31] rusakov92 opened #1506 "How to test the proxy server locally"
Hello, I'm trying to setup and test this application locally on my Mac with docker but I can't figure out what exactly I do wrong in order to access the server. I'm running this command:
[code]
But when I try to ping the proxy I don't get any response from the server on 127.0.0.1:4180. Any idea what I'm doing wrong?

[2022-01-06 17:33] tareco opened #1507 "Documentation lacks information on how to use custom templates"
## Expected Behavior

Documentation should state how to use the custom templates.

## Current Behavior

There is no information on how to actually use templates to customize the sign in page.

## Steps to Reproduce (for bugs)

No specific steps, information is just missing in the documentation pages.

## Context

I would like to be able to customize the look and feel of the sign in page to better

[2022-01-06 17:34] tareco commented on #1507
In the meanwhile.. I appreciate any help about templates. Thank you!

[2022-01-07 00:04] #835 closed

[2022-01-07 00:04] #864 closed

[2022-01-07 10:04] jacek-jablonski commented on #1499
@StephenOTT as far as I understand above issue it is currently not possible with GitHub, so I will not try anymore.

[2022-01-07 12:39] 59977 commented on #1361
Hi! Is there any progress on this?

We are also looking into this and are willing to help with implementing something along the lines @braunsonm is suggesting.

[2022-01-07 14:49] StephenOTT commented on #1499
@jacek-jablonski  the note reads:

this would seem to suggest hat v7 ~would have had the features needed to make it ~work ?

[2022-01-07 14:55] jacek-jablonski commented on #1499
For me, it means that using OIDC related flags, you may configure another provider and make bearer tokens work. You still need valid ID token from OIDC issuer, GitHub doesn't provide ID Tokens.

[2022-01-07 17:33] yeplaa commented on #1480
@JoelSpeed by default on Openshift it's not keycloak used but historically Oauth provider embedded by Openshift.

Bellow some specificities of openshift/oauth-proxy configuration with oauth provider embedded by Openshift :
- the clientid option is the pod Serviceaccount name
- A client-secret-file option is used and setted with token SA content : /var/run/secrets/kubernetes.io/serviceaccount/token

[2022-01-07 19:23] pksheldon4 opened #1508 "Login.gov provider fails Session Validation starting with v7.2.1"
## Expected Behavior
Expect Session validation to work correctly when using Login.gov as an OIDC Provider

## Current Behavior
Login.gov session validation fails on all requests.  access_token needs to be sent as a Header.

## Possible Solution

Update the LoginGovProvider to include a ValidateSession function to add the Header, similar to how FacebookProvider and DigitalOceanProvider do.

## Step

[2022-01-08 17:46] oauth222 opened #1510 "Redirecting to 404 after successfull authentication"
Im using OAuth2-Proxy + Keycloak to manage access for an application on a local network for a project.
Unfourtunately OAuth2-Proxy is not redirecting me to my upstream but gives me a "404 page not found" from OAuth2-Proxy after successfully authenticating with keycloak.

I would greatly appreciate any help in solving this issue, as getting this working is crucial for my final university project!

[2022-01-09 00:04] #1415 closed

[2022-01-09 00:04] #1160 closed

[2022-01-09 17:51] JoelSpeed commented on #1480
It sounds to me like what you're describing is more just a Kubernetes compatible authentication system. Kubernetes itself kind of acts as an identity provider, by generating service account tokens. You could set up Kubernetes service account tokens as an extra issuer with OAuth2 Proxy just validating the tokens based on the service account signing file, but Kubernetes is not an OIDC identity provi

[2022-01-09 17:53] JoelSpeed commented on #1499
GitHub isn't an OIDC compatible provider and, as you've said, doesn't provide ID Tokens. So at the moment I don't think we have any way for this to be implemented using GitHub as an identity provider

[2022-01-09 17:56] JoelSpeed commented on #1361
I don't think the maintainers have any time to work on this at the moment, so if you have the time to investigate further and put together a PR that would be appreciated

[2022-01-09 18:02] JoelSpeed commented on #1507
I would recommend taking a look at the html files in https://github.com/oauth2-proxy/oauth2-proxy/tree/master/pkg/app/pagewriter, there is one for the error page and one for the sign in page.
You should be able to customise these to fit with the style of your own application.

After that, you need to place them in a directory accessible by the oauth2 proxy application and pass the location as `--c

[2022-01-09 18:04] JoelSpeed commented on #1506
Have you tried binding to all interfaces? I suspect the fact that you're binding to localhost is causing you issues here as you have to bear in mind that when running the application in Docker, the application has a separate network namespace.

Try setting `--http-address=":4180"` to bind to all interfaces

[2022-01-09 18:08] JoelSpeed commented on #1510
This looks to me as if the 404 may actually be coming from your upstream application, have you checked the logs of the application that's running on port 8080?

[2022-01-09 18:13] JoelSpeed commented on #1496
I would recommend trying to AWS docs for how to set this up, it's not my area of expertise.

You will need to make sure that the client-id that EKS is configured to accept is the same as the one OAuth2 Proxy is using. That or you need to make sure there's some sort of cross client trust so that the OAuth2 Proxy tokens contain both audiences (it's own and the EKS audience)

[2022-01-09 18:23] JoelSpeed commented on #1453
This is not something I'm experienced with, but just wanted to add that with our alpha options, there is a way now to get the refresh token out of the session via a header either injected for the upstream request or returned on the auth request depending on your setup

[2022-01-09 18:39] JoelSpeed commented on #1314
I just had a look through the PR. There was a comment recently about making this a provider specific option, I think that makes sense and have commented on the PR as to that effect. Let's try to continue that conversation there.

In general, I think this is a good feature request and we should try and get the PR through once we get the design agreed upon

[2022-01-09 19:22] JoelSpeed commented on #1503
What did you try to add the scope, something like `scope: "openid email profile"`?
Have you tried using the internal conversion of starting the proxy with your old config and adding `--convert-config-to-alpha`? This should dump out a full config that matches the old one

[2022-01-09 19:35] JoelSpeed commented on #1498
You may want to have a play around with the go playground, we use the standard regexp package, potentially it uses a different format for the path.

Alternatively, you could add some logging in https://github.com/oauth2-proxy/oauth2-proxy/blob/dede6fd531659007410c0c316b51a4dcc42d0f6d/oauthproxy.go#L514 to debug what exactly is being passed into the regex, this may help you to understand it

I put

[2022-01-09 19:39] JoelSpeed commented on #1484
Once you've authenticated, it looks like OAuth2 Proxy is returning a 404 right? Can you see any logs inside the the upstream application that suggest whether it has been accessed or not?

I suspect your issue is that `OAUTH2_PROXY_UPSTREAM=http://rocker:12001` should be `OAUTH2_PROXY_UPSTREAMS=http://rocker:12001`. This option can be specified multiple times so gains a trailing S and becomes a com

[2022-01-09 19:53] mateuszkozakiewicz commented on #1498
I solved my issue using traefik configuration, not sure if this parameter does what I need, perhaps it was a misunderstanding on my part, here is a working config that does what I need:
[code]
I was never able to make it work using `--skip-auth-route`

[2022-01-09 20:14] JoelSpeed commented on #1498
If you have a proxy like Traefik in front, that's almost certainly a better place to apply the auth rules like this, will save on requests and should be quicker because of that

Glad you found a solution to your issue

[2022-01-09 20:22] POD666 commented on #822
@phllpmcphrsn we end up with direct communication to an auth backend, so no need for any proxy in our case.

Anyway would be nice if oauth2-proxy adds support for such cases.

[2022-01-09 20:59] jali-clarke commented on #1263
partial necro to confirm that this _does_ work in my situation

[2022-01-09 21:49] #1498 closed

[2022-01-09 21:54] michael-freidgeim-webjet commented on #1081
the issue is still relevant

[2022-01-10 06:52] rusakov92 commented on #1506
Hello, yes that worked, it is added as an example in how to setup [OKTA-localhost](https://oauth2-proxy.github.io/oauth2-proxy/docs/configuration/oauth_provider#okta---localhost) to use --http-address="0.0.0.0:4180". That solved my issue, I can now connect to the container and it looks like the server managed to create the access token as the cookie is now present.

Now I'm facing another issue, i

[2022-01-10 07:11] masshysteria1 commented on #1501
@ckwalsh Thanks a lot!
But what about the oauth2-proxy config file - if several systems need to be redirected to their relevant upstream, what do you configure there?

[2022-01-10 07:46] rekup commented on #1457
This issue also seems to affect `v7.2.1`

[2022-01-10 11:27] yeplaa commented on #1480
@JoelSpeed The Oauth provider embedded by Openshift meets my needs. I would like used oauth2-proxy (because generic and usable with several OIDC) instead openshift/oauth-proxy as sidecar for using this Openshift features. But currently this specific features related to Oauth Openshift aren't available with oauth2-proxy.

[2022-01-10 14:40] pf-rvvup commented on #1503
I've tried with the scopes and same issue.

Running the convert and using the new cfg seems to at least make it work but seems I'm missing some claims.

generate config
[code]

I now get the proper headers for id_token and access_token (yay!) but seems I'm not getting the ones from email.

[2022-01-10 17:53] r4co0n opened #1511 "Generating cookie secrets using Bash throws away entropy"
The currently provided documentation in /docs/configuration/overview.md suggests generating the cookie secret using Bash in a way that apparently limits secret entropy.

Base64 encodes binary data, so let's give it raw `/dev/urandom` data. I propose:
[code]

## Current Behavior

[code]

Here, `tr -dc` limits the possible input for `base64` by dropping non-alphanumeric bytes emitted by `/dev/urando

[2022-01-11 00:04] #1417 closed

[2022-01-11 21:46] masshysteria1 opened #1513 "Cookie doesn't expire after time set?"
Hey,

We have oauth2-proxy v7.2.0 on our K8S cluster. For some reason, even after setting `**cookie_expire = "12h"**, I never get redirected to authenticate again, as if the cookie doesn't expire. Full config:

  configFile: |-
    email_domains = "*"
    upstreams = [ "http://jaeger-query.jaeger.svc.cluster.local" ]
    provider = "azure"
    https_address = "0.0.0.0:4180"
    oidc_issuer_url= "h

[2022-01-12 12:29] omBratteng opened #1515 "Hash appended to URL when no hash is needed"
When I go to https://example.com/ and I'm presented with a login page, and after login, a hash is appended to the URL, making the URL after login: `https://example.com/#`

## Expected Behavior

No `#` is appended to the URL when not needed

## Current Behavior

A `#` is appended after login

## Your Environment

- Version used: 7.2.1

[2022-01-12 16:14] pbitante commented on #1484
Thank you, <a href="https://github.com/joelspeed">@JoelSpeed</a>!

By adding the "S" to my variable, I was able to authenticate and I was redirected to oauth2 with a 502 error. While it isn't the final result I was looking for, it certainly is a step in the right direction. Once again, thank you.

[2022-01-12 19:15] #1484 closed

[2022-01-12 20:06] boutobza commented on #1297
The same issue for me as well even when use `/oauth2/start` in the error middleware
my use case is described here https://stackoverflow.com/questions/70497915/oauth2-proxy-returns-a-white-webpage-with-found-link-instead-of-the-provider-a

Any news about this issue please ?

[2022-01-12 21:48] xoxys commented on #1297
A workaround might be a custom theme file that is using `<meta http-equiv="Refresh" content="1;url=/oauth2/start" />`. Not tested yet, but that's how it works on Keycloak.

[2022-01-13 12:47] pierluigilenoci commented on #1231
My hopes of seeing this work are getting fainter... 😭

[2022-01-13 13:16] pierluigilenoci commented on #1231
/remove stale

[2022-01-13 13:58] m0ppers opened #1516 "oauth2-proxy returns 500 when a broken URL is being requested"
we are using `--skip-provider-button=true` and when external requests contain broken querystrings the proxy would return status code 500 and not a 400 (like I would expect?).

Example: /?q=%vaeritas%&va=b&t=hc&ia=web (%va is not a valid Querystring)

## Expected Behavior

oauth2-proxy should throw a HTTP 400 (as the request is gibberish)

## Current Behavior

a 500 is being thrown.

## Possible So

[2022-01-14 10:21] friedrich-at-adobe commented on #888
please keep this alive!

[2022-01-15 09:41] JoelSpeed commented on #1515
Can you provide more detail about your setup?

What exactly is providing the redirect information for you?

Do you have some other proxy in front?

Are you using the sign in button or skipping that and going straight to the identity provider?

[2022-01-15 09:44] JoelSpeed commented on #1516
Is there anything else being logged that explains why this is an error? GetRedirect shouldn't be calling any external resource so this must be something internal

From what I can see this is still a valid 500 error, though it's due to user configuration I don't think sending a bad request to the user makes sense, that would imply the request they made was bad, which it wasn't

[2022-01-15 09:47] JoelSpeed commented on #1513
Can you use the developer tools within your browser to see how long the cookie is valid for?

Also, I think the cookie expire settings are logged when OAuth2 Proxy starts, could you take a look at the first few log lines to see what it reckons the expire setting is?

[2022-01-15 16:14] omBratteng commented on #1515
It's behind an nginx proxy, which is begind a Azure Application Gateway ingress in k8s.
I'll see if I can extract the setup to a minimal where it still occurs, and share it.

[2022-01-16 00:04] #1429 closed

[2022-01-17 00:04] #1320 closed

[2022-01-17 00:04] #686 closed

[2022-01-17 10:47] pierluigilenoci commented on #1144
This is still an issue

[2022-01-17 15:52] gkasturik opened #1517 "Nginx Ingress controller and oauth2-proxy proxy mode, headers not passsed upstream"
Not seeing auth-response-headers in proxied requests.

Nginx config below
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: web-ingress
  annotations:
    kubernetes.io/ingress.class: nginx
    nginx.ingress.kubernetes.io/ssl-redirect: "false"
    nginx.ingress.kubernetes.io/use-regex: "true"
    nginx.ingress.kubernetes.io/rewrite-target: /$1
    nginx.ingress.kubernetes.io/auth-ur

[2022-01-18 07:33] Aishwarya-Murahari commented on #1517
Updating proxy-buffer-size: 16k in ingress config map worked for me.
data:
 proxy-buffer-size: 16k

[2022-01-18 08:53] ThomasKalten commented on #1432
If someone would give me write access, I could change it ... but giving write access would take longer then changing the this one word directly.

[2022-01-18 09:27] JoelSpeed commented on #1432
Anyone is able to update our docs, you just need to submit a PR for review, no need to have write access for that. If it is just one word that needs changing, this can even be done from GitHubs web UI

[2022-01-18 10:37] ThomasKalten commented on #1432
Done. PR created.

[2022-01-19 18:50] smazurov commented on #962
In case anyone stumbled on this, I wrote up a blog post that covers this use case plus service accounts: [Server to Server Authentication with Google Provider in oauth2-proxy](https://www.mazurov.dev/posts/server-to-server-jwt-with-oauth2-proxy/)

[2022-01-19 21:20] MNF commented on #1109
the issue is still relevant

[2022-01-19 21:25] phllpmcphrsn commented on #987
Hey @Christoph-Raab was there anything you needed to do to oauth2-proxy or AzureAD to rectify the issue (i.e. handle the ajax better)?

[2022-01-19 21:35] Christoph-Raab commented on #987
The problem was that ajax didn't handle the redirect correctly. It was trying to query the reauth page instead of redirecting the user.

Not 100 % sure, but I think we ended up handling session expiration ourselfs and not rely on the exp time in the token and the refresh mechanics of oauth2-proxy. So the user can login using oauth-proxy mechanics but oauth2-proxy is not responsible for refreshing

[2022-01-20 00:03] #1438 closed

[2022-01-20 00:03] #1440 closed

[2022-01-20 12:52] pierluigilenoci commented on #1505
@weinong @NickMeves @JoelSpeed @codablock could you please take a look?

[2022-01-20 14:59] spahrson commented on #1423
We have a similar issue here and try to have something like that:
- path `/admin` should be authenticated and authorized.
- everything else skipped.

This is just impossible with just oauth2proxy. If we skip `/` we skip also `/admin`. The regex engine below oauth2proxy does not allow any (negative) lookarounds thus we cannot create something like skip `^\/?(?!admin)+.*$`.

[2022-01-20 23:59] lollo25 commented on #1211
@lathspell what are the correct values to use? I still don’t see set-cookie header when session is refreshed, therefore Ajax calls work only until the cookie expires.

[2022-01-21 12:24] lathspell commented on #1211
We use this:

  ## Cookies und Session
  cookie-expire: "4h"
  cookie-refresh: "270s"
  cookie-secure: "true"
  cookie-httponly: "true"
  cookie-samesite: "strict"

  ## Refresh access token before expiration with given duration offset; disabled by default
  refresh-token-offset: "30s"

[2022-01-21 13:29] hevans-dglcom commented on #1501
@masshysteria1 nothing - it passes the redirect url through the redirect flow automatically when you include the ?rd=https%3A%2F%2F$host$escaped_request_uri in the auth-signin snippet

[2022-01-21 14:18] ffais opened #1520 "Too many redirects when using istio as upstream"
I've a problem with to many redirects error when using istio as an upstream.

The error occurs only if the request goes through the istio ingress gateway pod, while everything works correctly if the requests go directly to the pod.

## Expected Behavior
Using http://httpbin.global.svc.cluster.local as an upstream the httpbin home page is displayed correctly.

[code]

## Current Behavior
Using http

[2022-01-21 14:28] lollo25 commented on #1384
@JoelSpeed do we have of the release of this feature? In my experience this would be super useful to allow security without comprimise the user experience.

[2022-01-22 13:37] brumhard commented on #1499
Would it be possible to implement `CreateSessionFromToken` for the github provider using the `https://api.github.com/user` endpoint and caching the response for a given token somehow to not run into github API rate limits?

[2022-01-23 00:04] #1424 closed

[2022-01-23 00:04] #1449 closed

[2022-01-23 11:52] thekoma commented on #978
/unstale

[2022-01-24 00:05] #1435 closed

[2022-01-24 00:05] #1349 closed

[2022-01-24 00:05] #1324 closed

[2022-01-24 12:09] ishchatul commented on #612
This is still extremely relevant please

[2022-01-24 14:49] jz222 opened #1521 "How to use the proxy for static files with Docker?"
Hi,

thank you for your work on this project.

This is not necessarily an issue, but I've spent quite some time now figuring out how to use this project. I searched for guides and read the documentation but it's still not entirely clear and I was wondering if you could help me out.

I would like to protect a static website with Google OAuth, so that it is not publicly accessible. I would like to u

[2022-01-24 18:26] ace130-github opened #1522 "XHR request redirected instead of 401"
## Expected Behavior

As per description of the [Behaviour](https://oauth2-proxy.github.io/oauth2-proxy/docs/behaviour) any request with header `Accept: application/json`  should **not** be redirected, but instead answered with 401 by oauth2-proxy.

## Current Behavior

I observe requests with the said header that are still redirected instead of 401'ed. Here's one such example:
![grafik](https://u

[2022-01-25 02:12] r-kotagudem commented on #1451
currently, we made oauth2_proxy cookie as session cookie (so cookie is not carried to next day and fail in middle of activity).
since refresh token is valid for 24 hours

if browser is still open, Trigger  logout  from application before 24 hours is reached
If browser is closed and reopened, it starts a new session valid for another 24 hours.

[2022-01-25 19:49] xyzroller opened #1523 "Can anybody help? Something wrong, but I can't tell what..."
I am banging my head against the wall and hope someone can help. I am trying to use oauth2-proxy to provide login in front of an nginx webserver on the same host as oauth2-proxy and using GitHub as OAuth2 provider. The container with oauth2-proxy and nginx is sitting behind HAProxy doing TLS and forwarding to port 80 on my oauth2-proxy/nginx container.

## Current Behavior

The login flow seems to

[2022-01-25 22:29] mjmonroe opened #1524 "Graphql Websocket Authentication"
## Expected Behavior
We have a Graphql service behind oauth2-proxy v7.2.1. The normal HTTPS Graphql endpoints work as expected. Our Graphql service exposes a Graphql websocket endpoint. According to the oauth2-proxy documentation, after setting _--proxy-websockets_ to true, Graphql websockets should be reachable, assuming we pass the ___oauth2_proxy_ cookies.

When we bypass the oauth2-proxy and g

[2022-01-26 00:04] #1420 closed

[2022-01-26 00:04] #1395 closed

[2022-01-26 07:20] xyzroller commented on #1523
More information...
If I set `show_debug_on_error = true` in oauth2-proxy.cfg, then I see the following under "More Info" on the error page:

[code]
So it looks like I get the error from some 404 response from GitHub.

[2022-01-26 10:29] JoelSpeed commented on #1523
One of your login/validate/redeem URLs is likely causing an issue here. I would suggest to double check those, I think it may be the validate as it doesn't have the API version in it which IIRC is normally a part of GitHubs URL scheme

[2022-01-26 10:59] wzrdtales opened #1525 "Keycloak OIDC broken in newest version"
## Expected Behavior

should work like before. Suddenly appeared when the component respawned and pulled a newer version

## Current Behavior

403

logs

[code]

## Possible Solution

downgrade to v7.1.3 where it still worked or fix the issue introduced since then.

## Your Environment

latest with keycloak OIDC

[2022-01-26 11:32] bluebrown commented on #1458
@JoelSpeed,

But its not the case. Any idea how to solve this?

[2022-01-26 13:40] olopost commented on #360
Hi, this issue come from csp policy applied by browser. For example, the behaviour not exist on chrome browsers.

This come from the enforcement on firefox and safari browser. We need to adapt content-security-policy parameter to adapt to your dns name for exchange with the name of your idp.

Best regards.

[2022-01-26 16:15] pierluigilenoci commented on #1505
@weinong @NickMeves @JoelSpeed @codablock could someone give me a feedback?

[2022-01-26 17:37] xyzroller commented on #1523
That's it...
All I had to do was change `validate_url` to

[code]
and now it works.
Thanks for the tip!

[2022-01-27 00:03] #1448 closed

[2022-01-27 00:03] #1441 closed

[2022-01-27 00:04] #1409 closed

[2022-01-27 00:04] #1430 closed

[2022-01-27 06:06] yongzhang commented on #518
I saw there's an `upstreams` parameter there, can anyone help to clarify what it is and is it required? Thanks.

[2022-01-27 06:29] xyzroller commented on #1523
Just in case anybody finds this while searching for a solution to the same problem, a few other things to note to make the setup work properly:

- `pass_host_header = false` prevented relative links on the protected website from working properly, so it needs to be `pass_host_header = true`

- Using port 80 for the oauth2-proxy listening address and 8080 for upstream nginx on localhost also broke r

[2022-01-27 06:29] xyzroller commented on #1523
Closing again after adding the above comment.

[2022-01-27 06:29] #1523 closed

[2022-01-27 08:15] bbigras commented on #1483
Thanks, but I still got `Error creating session during OAuth2 callback: unable to extract email from userinfo endpoint: type assertion to string failed` with that.

[2022-01-27 08:22] codablock commented on #1505
@pierluigilenoci I can only say that we stopped using oauth2-proxy and Azure. We now use dex as an anti-corruption layer between Azure and oauth2-proxy as it seems to be more stable in regard to Azure. I can not give any advice/feedback on oauth2-proxy + Azure anymore.

[2022-01-27 08:36] avodaqstephan commented on #1505
@pierluigilenoci Sorry for being late to the party. We are using keycloak together with oauth2-proxy. So the actual configuration for Azure is happening in keycloak. We got it running with oauth2-proxy only but we need some additional features which only keycloak was able to provide.
The FAQ on the oauth2-proxy on how to use the proxy with keycloak worked perfectly fine.

[2022-01-27 15:10] cruwe opened #1526 "documented defaults are overwritten when configuring other non-default provider options"
First, thanks for developing `oauth2-proxy` and making your work available to the general public.

https://github.com/oauth2-proxy/oauth2-proxy/blob/4f5efd4074098223aeee244b963dafa9cfd4924b/pkg/apis/options/alpha_options.go#L56

Any defaults documented, such as _e.g._ `emailClaim`, are overwritten when other non-default options have been passed.
I suggest explicitly stating so, PR will follow.

Th

[2022-01-27 15:54] ishchatul commented on #1361
Would be amazing to have this feature

[2022-01-27 18:19] breedjaram32 opened #1528 "Redirect URL with port"
Hi,
our oauth2-proxy (v7.2.1) works fine with Keycloak (latest 16.1.1). We have a one central Oauth2-proxy for more subdomain *.example.com

I have a problem with nestandard using.
We want to use application with custom port. For example URL: app1.example.com:8085

-After open http://example.com:8085/
-redirect to: https://OAUTH2-PROXY-URL/oauth2/start?rd=http://example.com:8085/
-redirect to: htt

[2022-01-27 18:46] hargut commented on #197
The key is, that as documented the `--pass-user-headers` flag only passes the information if it is already available in the auth request.
Whereby the `--set-xauthrequest` creates the header once the information is available.

The documentation is "clear" on that, but its really easy to oversee that detail. I was as well trying for some time until I found this issue...

[2022-01-28 00:04] #1423 closed

[2022-01-28 00:07] frittentheke commented on #1057
+1

[2022-01-28 08:38] pierluigilenoci commented on #1505
@codablock lucky you. 😞

[2022-01-28 11:05] ace130-github commented on #1522
One speculation:
Could this situation arise when the upstream server sends a 401 response?

In our setup the "cookie refresh time" is set to the same value as the access token lifetime (1m), and the access token is being sent upstream as per `--pass-access-token`.

Hypothesis:
* Browser sends XHR Request (Accept: application/json) with oauth2-proxy session cookie
* Proxy finds access token in sess

[2022-01-28 12:38] bradybus opened #1529 "nginx auth_request fails to redirect properly"
## Expected Behavior

Using the example nginx config for auth_request, using (self-hosted) gitlab as the provider, I should be redirected to my website path after authentication.

## Current Behavior

-Starting in a fresh incognito window-

I navigate to my website that is protected by oauth2-proxy and auth_request. I am correctly sent to gitlab to login, and that works properly. But upon signing

[2022-01-28 14:23] mikeyGlitz commented on #1423
I'm using Kubernetes to host the oauth2-proxy service. The service is being proxied through ingress-nginx.

[2022-01-29 02:29] weinong commented on #1505
Sorry. been very busy. I will circle back next week.

[2022-01-30 12:34] jz222 commented on #1521
I figured it out and post my solution to run it locally below, as it might help someone else.

My Dockerfile looks like this:

[code]

The first step builds the React frontend and the second step copies the React build into the oAuth Proxy container.

I added a `.env` file with the following content:

[code]

Change the secret, domain, client ID and client secret to your needs.

Afterwards, you ca

[2022-01-30 12:34] #1521 closed

[2022-01-30 17:32] MoatazAbdallh opened #1530 "Can't use oauth2-proxy windows prebuilt as binary service"
## Expected Behavior

I am trying to run oauth2-proxy as windows service by creating new service using sc.exe through the following command
` sc.exe create Oauth2 Proxy binpath= "\"xxx.oauth2-proxy.exe\" --config= \"xxx.config.cfg\"" `

and when i try to run it gives the following error

`Error: 1053 the service did not respond in a timely fashion service `

## Current Behavior

`Error: 1053 the s

[2022-01-31 08:42] m0ppers commented on #1516
"due to user configuration" implies that something is misconfigured and in that case a 500 would be justified. However I don't see how that is the case here? The configuration is working as expected but when people craft invalid URLs and send it to the proxy a 500 is happening.

[2022-01-31 10:37] Biboba commented on #1154
I think it's because the documentation contains a typo:
"skip_auth_routes" should be used instead of "skip_auth_route":
[doc](https://github.com/oauth2-proxy/oauth2-proxy/blob/4f5efd4074098223aeee244b963dafa9cfd4924b/docs/docs/configuration/overview.md?plain=1#L183) VS [example](https://github.com/oauth2-proxy/oauth2-proxy/blob/6cc7da8993cf81dc0aae475edfd1632fd74d7818/contrib/oauth2-proxy.cfg.exam

[2022-01-31 10:39] Biboba commented on #1498
I think it's because the documentation contains a typo:
"skip_auth_routes" should be used instead of "skip_auth_route":
[doc](https://github.com/oauth2-proxy/oauth2-proxy/blob/4f5efd4074098223aeee244b963dafa9cfd4924b/docs/docs/configuration/overview.md?plain=1#L183) VS [example](https://github.com/oauth2-proxy/oauth2-proxy/blob/6cc7da8993cf81dc0aae475edfd1632fd74d7818/contrib/oauth2-proxy.cfg.exam

[2022-02-01 09:23] senthilrch commented on #958
+ 1 for implementing grpc ext_auth in oauth2-proxy

[2022-02-01 10:19] SeWieland commented on #1522
I do have the exact same issue and it _does_ lead to some nasty bugs.
And no, it happens every time, each request, even if `--force-json-errors is set` or the header is added manually.

I suspect the issue here that I'm using an nginx ingress with annotiations such as:
[code]

As far as I understood, nginx checks against the auth-url if the request is authenticated and if not - sends a 302 to the

[2022-02-01 10:51] nbraun-wolf commented on #1458
I think the issue is that oauth2proxy is indeed providing a real access token. But msal is using the id token in place of an access token. Hence the token from msal contains the roles but the access token from oauth2 proxy does not.

[2022-02-01 11:00] SeWieland commented on #1522
Update:

So yes. removing the ingress annotation `nginx.ingress.kubernetes.io/auth-signin` completely for all "backend" resources works for me quite well with nginx-ingress.

Only the user facing services / frontends need the signin redirection 👍

This split in "behaviour" by ingress routes is fine enough for me.
The AJAX detection by headers is not really needed in this way.

[2022-02-01 17:23] pathmissing commented on #1488
@timyong80 Thank you so much for this information! Was debugging this issue for hours and was unable to find any reference in the docs.

[2022-02-01 18:38] JoelSpeed commented on #1462
This isn't something we've considered and does make the keycloak logic spill outside of the normal bounds of the provider, so I'm a bit hesitant about suggesting we go ahead and implement this. Have you looked at all at the code or how this might be implemented to see how much we need to carry extra information around?

[2022-02-01 18:41] JoelSpeed commented on #1473
Sounds like this might just be a bug in the gitlab provider, have you looked at the provide implementation to see if it is even attempting to send those parameters?

[2022-02-01 18:46] JoelSpeed commented on #1460
I don't think we should do this. This would open it up so that anyone could login and then redirect to any endpoint. This would expose your users to phishing attacks very easily, all an attacked has to do is send them a crafted URL, they open it, login and they could end up on a site that looks like yours, but isn't and then enter sensitive information.

Disabling certain protections within the OA

[2022-02-01 18:48] pathmissing commented on #1297
@xoxys Had a similar idea. One issue is that you lose any information about where to redirect after the login succeeds. If you use oauth2-proxy with multiple subdomains this might not be desired. What worked for me: Use a custom template (as described in #1507) and instead of adding a meta redirect, use javascript to set your current url as redirect target ("rd") and submit the form automatically.

[2022-02-01 18:49] JoelSpeed commented on #1472
Just to clarify on your last comment there, are you saying that this isn't working for either the `keycloak` or `keycloak-oidc` providers?

How was it that you got the error out, was this from the logs? Have you tried `--show-debug-on-error` in this scenario?

[2022-02-01 18:54] JoelSpeed commented on #1506
How is the Okta API expecting to receive credentials? Is it expecting to receive the access token as authentication or the ID Token? You might need to use `--pass-authorization-header` to send the ID Token instead

[2022-02-01 19:07] JoelSpeed commented on #1526
Well that's certainly not intended! Sounds like a bug in how we are implementing the defaulting there. Have you looked into the code at all to see why this is the behaviour?

[2022-02-01 19:10] JoelSpeed commented on #1528
This looks to me more like your cookies aren't being set to the right domains. Is OAuth2 Proxy on a similar subdomain as the rest of your projects?

Are you able to capture any redirects from OAuth2 Proxy to see if the cookie domain is correct?

You might want to try setting the cookie domain to `.example.com`

[2022-02-01 19:15] JoelSpeed commented on #1530
You have to include special logic within Go binaries to enable them to run as windows services, we don't yet support this, but if you want to add it I'll happily review a PR for this

[2022-02-01 19:22] JoelSpeed commented on #1503
If possible, can you inspect the response from a call to `/OAuth2/start`, would be good to see the URL it's creating to see what it's sending to your OIDC provider as URL params (secret bits redacted)

[2022-02-02 00:06] #1431 closed

[2022-02-02 00:06] #1427 closed

[2022-02-02 12:52] anita-steiner commented on #222
For us too

[2022-02-03 10:19] awoimbee commented on #1462
Hi @JoelSpeed,
I personally put this project on hold.
The big issue is that this project seems to have 2 distinct phases, a [configuration phase](https://github.com/oauth2-proxy/oauth2-proxy/blob/4f5efd4074098223aeee244b963dafa9cfd4924b/main.go#L57) then a [runtime phase](https://github.com/oauth2-proxy/oauth2-proxy/blob/4f5efd4074098223aeee244b963dafa9cfd4924b/main.go#L58). Calls to `/.well-known

[2022-02-03 10:23] JoelSpeed commented on #1462
That seems like a good analysis, I think we would need a major re-architecture of the project to be able to support this then.

This isn't something the maintainers of this project have a personal interest in (we are mainly just trying to make the project cleaner right now), so if anyone wants to experiment feel free, but otherwise, given the complexity, perhaps we say we won't do this?

[2022-02-03 19:33] JoelSpeed commented on #1529
The brief logs you have there make me suspect that your profile URL is not configured correctly, the 404 error is coming from Gitlab while OAuth2 Proxy is trying to gather information from it to build the session

[2022-02-03 19:46] bradybus commented on #1529
First off, thank you for looking at this!
Do you have a suggestion of what profile-url should look like? The docs suggest including it for Keycloak, but it is unclear to me what I would need for GitLab. Could it be thrown off because I am not hosting GitLab on its own subdomain (thus requiring a specified profile-url)?
From what I gathered, since I am using OIDC with gitlab, it tries to set profil

[2022-02-03 21:03] JoelSpeed commented on #1529
I'm not a gitlab user so I can't really comment here. I suspect if you are hosting your own gitlab then you need to specify all of the discovery URLs

You are using the Gitlab provider, which doesn't have discovery built in as far as I know, have you tried the standard OIDC provider?

The cookie needs to be accessible by OAuth2 Proxy whenever a request is made, that means normally your OAuth2 Prox

[2022-02-04 00:01] matheusMoreno commented on #1320
Hey, did this issue ever get resolved? I'm facing the exact same problem: I'm updating a Kubernetes Secret with new passwords, but the changes are not being reflected on the container.

[2022-02-04 02:11] phllpmcphrsn commented on #1361
Where in the code does the proxy send the access token request? I'm trying to see where I could possibly place some code for the portion of PKCE Flow where the code verifier is sent to the authz server (i.e. keycloak) with the authorization code

[2022-02-04 09:22] #1508 closed

[2022-02-04 15:47] askreet opened #1532 "Special Okta workarounds welcome in `oauth2-proxy`?"
We're using `oauth2-proxy` with Okta in OIDC mode, based on the existing documentation. Works great.

We had some interest in getting group data as a header which y'all support natively. However, Okta is weird about it:

(From https://developer.okta.com/docs/guides/customize-tokens-groups-claim/main/#add-a-groups-claim-for-the-org-authorization-server).

We could work around this in our app, but i

[2022-02-04 16:24] askreet commented on #1532
After starting to look at the code to understand where this might live, it seems `--profile-url` is exactly for this purpose, though I can't seem to make it work with Okta's `/userinfo` endpoint.

[2022-02-04 16:48] Math-Lang opened #1533 "Able to login with wrong credentials (security flaw)"
## Expected Behavior

- Provider set to keycloak-oidc
- --allowed-group set to "admin"

- User successfully log on using valid credential (ex: admin/admin)
- User log out
- User logs back on using wrong credentials (ex: user/user)
- User faces a 403 unauthorized error code

## Current Behavior

- Provider set to keycloak-oidc
- --allowed-group set to "admin"

- User successfully log on using valid

[2022-02-04 17:09] frittentheke commented on #1360
:-)

[2022-02-04 17:10] JoelSpeed commented on #1533
It is not appropriate to publish details of potential security flaws on public forums such as GitHub issues.
In the future, please review our security policy before posting security issues https://oauth2-proxy.github.io/oauth2-proxy/docs/community/security/

I have created a private issue and invited @Math-Lang to collaborate to continue to identify if this is a genuine issue

[2022-02-04 18:32] #1532 closed

[2022-02-04 18:56] grufocom opened #1534 "Nginx, oauth2_proxy against Nextcloud - always redirects me to 404 -> singin"
I have an nginx server with a running nextcloud instance and a local application listening on http://127.0.0.1:8080/ (which is accessible), i have another domain on the same system which should authenticate against the nextcloud instance. It should use proxy_pass to deliver the content after successful authentication.

But everytime the user authenticates against nextcloud I get redirected and get

[2022-02-04 23:08] alexisgaziello commented on #1124
I had this issue. The problem was that the email of the user was not verified.
<img width="676" alt="Screen Shot 2022-02-04 at 6 07 43 PM" src="https://user-images.githubusercontent.com/29357459/152614993-9c938a01-b9b3-4834-9650-f66079d44826.png">

I think you may also be able to tweak the conf --insecure-oidc-allow-unverified-email

[2022-02-05 00:03] #1456 closed

[2022-02-05 00:03] #1459 closed

[2022-02-05 00:05] scyto opened #1535 "traefik / azure provider / too many redirects (not sure if bug or me stupid)"
I am new to traefik and in learning phase.  I have had oauth2-proxy with nginx running for couple of years.  With azure as the provider.

### Setup:
I am accessing the traefik dashboard on https://traefik.mydomain.com
This works with no auth.
This works with basic auth.
I am trying to add my existing oauth proxy.

## Expected Behavior
Get access to the traefik dashboard page after being authentica

[2022-02-06 01:29] queueburt opened #1536 "Cryptic "unauthorized" log with keycloak-oidc and plain oidc providers"
Basic Keycloak app setup per directions with extra scopes added.  The goal is just a simple test authentication with a user to a test web-app.  Setup was already verified with the Github provider and now trying to test Keycloak.  Have verified the behavor is the same with both `keycloak-oidc` provider and `oidc` provider.  Oauth2 Proxy setup below:

[code]

Getting 403 forbiddens returned with the

[2022-02-06 02:43] ThatDeveloper opened #1537 "IPV6 ::1 not working"
Currently there is --http-address but it is not possible to listen to ipv6 ::1.
Is this something that is considered? A lot of cloud providers move to IPV6, leaving only IPV6 Clusters where it seems that I cannot use this awesome project.

[2022-02-06 10:24] queueburt commented on #1536
Crisis averted, discovered from an older issue that "unauthorized" means that oauth2-proxy is refusing the connection immediately after authentication is successful due to interpreting the email as not matching the `email-domain` field.  The terminology for the error is probably a bit misleading, but I'll happily close this issue.

[2022-02-06 10:24] #1536 closed

[2022-02-06 11:30] shawnhwei commented on #1473
Not sure if its fair to call it a bug, it seems to just be the inherited generic behavior from the oauth2 library. The Azure provider I linked seems to implement a custom token redemption, which is similar to what is required by Gitlab. Alternatively, the upstream oauth2 library could be modified.

If you're OK to just patch the Gitlab provider here, I can open a PR in the coming weeks.

[2022-02-06 20:36] devster31 opened #1538 "X-Forwarded-URI not being used for redirects after authentication"
## Expected Behavior

Requesting a specific URI which requires authentication will be respected and included in the redirection.

## Current Behavior

It seems currently `oauth2-proxy` ignores the `X-Forwarded-URI` header when redirecting after authentication.

## Steps to Reproduce (for bugs)

Current setup with `Traefik` and `docker-compose.yml`:

[code]

1. request `whoami.${DOMAIN}/anything`
2

[2022-02-06 20:39] lefeverd commented on #1452
Thanks for all the info.
Just for future visitors, in my case I only needed the ID Token in the frontend, so I used `--set-authorization-header`, which allows me to retrieve the JWT from the Authorization header.

[2022-02-07 00:13] Frizlab commented on #817
I think this issue is still relevant.

[2022-02-07 08:48] pierluigilenoci commented on #1505
Thank you @weinong. Any news?

[2022-02-07 14:42] slashlinux opened #1539 "Error loading cookied session: cookie "_oauth2_proxy" not present, removing session"
## Expected Behavior

I have an Lemon Ldap( a weak version of Keycloak ) installed by our team on our project and we are trying to integrate sso oauth2 with our monitoring tool as Prometheus, Grafana etc.. these are the upstreams from nginx , whenever a client try to access Prometheus it will hit first the nginx reverse proxy. I did config for nginx and oauth2-proxy but when I'm trying to access t

[2022-02-07 15:25] piyushk commented on #1384
I believe we're getting impacted by this issue as well -- we have parallel backgroundrequests hitting 2 oauth2-proxy replicas with a redis store.

What would be oauth2-proxy's current behavior be if 1 our of 2 parallel requests fail since only a single request can refresh the token (refresh tokens are revoked after first use)? Would the failed request would be redirected to the provider? What happ

[2022-02-07 23:29] phllpmcphrsn commented on #1361
Hey so I've done something like this thus far (using an adapted version of this [code](https://github.com/nirasan/go-oauth-pkce-code-verifier - I just placed it under pkg/util) for the verifier :
[code]
I see where in each provider they implement Redeem which seems to perform the Access Token Request, and I assume this is where we'd need to also send along the (PKCE) code-verifier to the provider.

[2022-02-08 02:25] braunsonm commented on #1361
Just a heads up @phllpmcphrsn that my PR addresses this issue

[2022-02-08 04:20] weinong commented on #1505
I just got my cluster and oauth-proxy re-configured using older version. everything is working so far. I will try the new version soon!

[2022-02-08 08:02] grufocom commented on #1534
removed oauth2_proxy and implemented my own authentication against nextcloud...

[2022-02-08 08:02] #1534 closed

[2022-02-08 12:49] iFrozenPhoenix opened #1542 "Docker release tags without "v" prefix"
Currently the docker images are published with a v prefix which is not semver conform.

Would it be possible to publish the images without the "v" prefix, so that they are semver conform?
This would enable automation tools to parse the version in a standard way so that they can e.g. load the latest image by the version no instead of the latest tag.

[2022-02-08 14:25] martinelli-francesco opened #1543 "[Question] Session cookie support"
I am using auth0 as OIDC and it has been configured to provide "session cookies" (i.e., removed when browser is closed). I have configured oauth2-proxy to use my OIDC but unfortunately it has different cookie handling.
It seems that oauth2-proxy always sets cookie expiration, so I can't have "session cookies" and that's a problem because that security feature drops using oauth2-proxy. Also, there

[2022-02-08 14:43] piyushk commented on #1384
After looking at the logs I think we were able to establish that this issue was indeed leading to hard-to-replicate user experience behavior when the application uses background/polling requests and refresh token revocation is enabled in the provider.

Here's our best estimate of what's happening in case someone finds it useful:

1. 2 parallel background/polling requests hit oauth2-proxy right aft

[2022-02-08 15:12] andytson-inviqa opened #1544 "Bypass auth methods cause a panic on /auth?allowed_groups=... usage"
We are trying to use the auth-only endpoint to specify multiple different group checks on different web entrypoints, whilst allowing fallback to trusted ips

If we visit using the trusted ip, then we get a panic on /go/src/github.com/oauth2-proxy/oauth2-proxy/oauthproxy.go:995

## Expected Behavior

site-a.com should allow either:
* group team-a
* traffic from 1.2.3.4

site-b.com should allow eith

[2022-02-08 15:13] andytson-inviqa commented on #1544
sorry, accidentially submitted before I'd finished

[2022-02-08 16:33] SeWieland commented on #817
For me it helped A LOT to just add "/favicon.ico" to the extraPaths of oauth2-proxy (like robots.txt) ;)
The Chrome browser starts the oauth flow once when requesting the icon (IF NOT CACHED => only on the first login) and a second time during the actual login.

This resolved the CSRF Token problems with any fresh instance of chrome for me.

However, I _still_ receive the error occasionally on the

[2022-02-08 16:52] Frizlab commented on #817
It will depend on how your website works, but if JS is cached locally, it can pre-fetch a bunch of resources which makes the CSRF token check fail (exactly like the browser pre-fetches the favicon.ico).

[2022-02-08 18:52] JoelSpeed commented on #1544
This is definitely a bug, are you able to raise a PR to fix the issue? I think we just need to check for nil in authOnlyAuthorize and skip if that's the case

[2022-02-08 18:58] andytson commented on #1544
I think that using the session != nil check would have odd behaviour if the user has already got a cookie session, then the groups would be checked as well regardless of whether they were allowed via the bypass methods.

[2022-02-08 19:04] andytson commented on #1544
so possibly the `p.IsAllowedRequest(req)` should be re-run in this case, either in AuthOnly or with p passed in to authOnlyAuthorize

[2022-02-08 19:05] JoelSpeed commented on #1544
It does raise a question which has come up before, if the user has a session and is also authorized by the skip auth checks, should their existing session still be checked?

I lean towards yes in this case because if the information is stale or expired and we pass it to an upstream, that could cause issues right? Whereas if we cleared the expired session we wouldn't send the information to the ups

[2022-02-08 19:06] andytson commented on #1544
ok I'll do the session != nil way then, and that can be answered separately if at all.

[2022-02-08 20:28] bradybus commented on #1529
We figured it out. Because we are running gitlab on a sub-directory (as opposed to root on a subdomain), we had to add a redirect from domain.tld/oauth pointint at domain.tld/gitlab/oauth

There are some other things I'm in the middle of, but I'll get around to adding a merge request in the documentation that includes this detail.

[2022-02-09 04:10] weinong commented on #1505
the issue is v7.2.1 introduced a check on [ValidateSession()](https://github.com/oauth2-proxy/oauth2-proxy/blob/2c668a52d4dc6fba0b13b1ec3ed5b9b828552a0c/oauthproxy.go#L758) which, I guess, has mostly been failing for Azure provider when oauth2-proxy is used in AKS AAD scenario where the token audience is AKS AAD server app. The reason to fail is [this code](https://github.com/oauth2-proxy/oauth2-p

[2022-02-09 06:27] #1460 closed

[2022-02-09 10:03] pierluigilenoci commented on #1505
@weinong you should ask @stippi2 (the author of the PR #1433 used to fix #1396)
or maybe @JoelSpeed and @NickMeves.

For me, this issue is related to #1144 and #1231.

[2022-02-09 10:13] stippi2 commented on #1505
Please don't confuse what my PR did. The call to `ValidateSession()` was already in the code. But the return value of that check was ignored, which was clearly not the intention. What my PR exposes is that `ValidateSession()` never worked in the first place for the Azure provider. Please note that the return value of `ValidateSession()` was correctly checked when the session is refreshed. So for t

[2022-02-09 10:25] pierluigilenoci commented on #1505
@stippi2 I totally agree.

The problem is upstream due to the awful (and therefore notorious) implementation of OIDC by Azure.
Ref: #1144 & #1231

[2022-02-09 10:27] pierluigilenoci commented on #1231
The problem is getting bigger #1505 (also #1144 is involved)

[2022-02-09 10:28] pierluigilenoci commented on #1144
The problem is getting bigger #1505 (also #1231 is involved)

[2022-02-09 12:34] ffais commented on #1535
I have similar problem but using istio.

#1520

[2022-02-09 16:49] candlerb opened #1547 "Send `X-Forwarded-Proto: https` to upstream when listening on TLS"
## Expected Behavior

When oauth2-proxy is listening on https but forwarding to a http upstream, I expect `X-Forwarded-Proto: https` to be present in the forwarded request.  This tells the upstream that any absolute links it generates should be https, not http.

## Current Behavior

I can use tcpdump to see the traffic to upstream:

[code]

There's no `X-Forwarded-Proto` present.  I can't find any

[2022-02-09 17:07] candlerb commented on #1547
Aha, it looks like the "alpha" configuration should allow me to do this:

[code]

I'm just having some problems with the auto conversion of the config to this new format: the new config is missing `cookie-secret` and `email-domain(s)`. But I'll work through this.

[2022-02-09 17:26] candlerb commented on #1547
OK, I had to add `--cookie-secret "..."` and `--email-domain "*"` as command-line options, but now it works, yay :-)

Feedback: the alpha config parser isn't very friendly - it doesn't tell you where you made a mistake. Here are a couple of errors I got:

[code]

[code]

Basically "you have an error somewhere.  Do a binary chop if you want to find it" :-)

[2022-02-09 17:26] weinong commented on #1505
The fix can be simple: I don't see any need to validate the access token in a session by calling the Graph API. If @JoelSpeed  and @NickMeves agree, I can work on the PR.

@stippi2 is right. We should be validate the session. It's just unfortunate....

[2022-02-09 18:25] JoelSpeed commented on #1505
The point is that we should be able to check that the access token is valid, maybe not so much on create or refresh but later down the line if we aren't refreshing, for this, there should be some sort of API that we can access to check the access token is still valid no?

[2022-02-09 18:29] JoelSpeed commented on #1547
All we do for the config is a yaml unmarshal, so this is all coming from the underlying libraries, not sure what we can do to improve this right now but thanks for the feedback, will have a think about it :thinking:

[2022-02-09 18:45] candlerb commented on #1547
I've seen better errors from Go YAML decoding, using `gopkg.in/yaml.v2` or `gopkg.in/yaml.v3` directly.  It looks like the [library](https://github.com/ghodss/yaml) you're using does another layer of decoding via JSON, and loses the context.

Anyway, happy to close this now since I have a solution to the original problem. Cheers!

[2022-02-09 18:45] #1547 closed

[2022-02-09 19:03] pfragoso commented on #1503
Working config
[code]

 initially, i was missing some headers due to traefik middleware.

[code]

 This solves the issue. Thanks for the help @JoelSpeed
 Closing this one.

[2022-02-09 19:03] #1503 closed

[2022-02-09 19:06] weinong commented on #1505
Access token was never validated with any API, though. This is not in any OAuth spec.
The only validation is:
* is this token signed by the trusted issuer --> verify the signature using issuer's public key from oidc discovery document
* is this token still valid --> check expiration
* is the audience correct --> in this case, check against `--resource`

[2022-02-09 19:37] alexisgaziello commented on #1224
Hey,

I was also looking for some functionality as described here and in [1368](https://github.com/oauth2-proxy/oauth2-proxy/issues/1368).

I am not an expert in Nginx, and @SeWieland solution wasn't working for me. That config didn't make any change. However, it did help to create the following solution below. My setup uses the OAuth2 proxy in Kubernetes, so I just added the following to my ingre

[2022-02-09 19:46] alexisgaziello commented on #1368
See my answer in https://github.com/oauth2-proxy/oauth2-proxy/issues/1224#issuecomment-1034123738

Solves the q.

[2022-02-09 19:51] alexisgaziello commented on #1224
Actually, there seems to have a small caveat.
Right now, if you sign-out with this process, and original host again, my browser is giving me a cached version of the web-app so it appears that I am still logged in. I will see if I can fix this somehow.

[2022-02-10 00:00] braunsonm opened #1548 "Why is id_token used instead of access token for upstream calls?"
Just a question, I noticed in the oidc provider that the ID token is passed instead of the access token to upstream calls after being authenticated: https://github.com/oauth2-proxy/oauth2-proxy/blob/master/providers/oidc.go#L225

`Authorization: Bearer <ID Token>`
(Notice how ID token is set for ID token and access token in the session, the access token is just dropped)

It was my understanding in

[2022-02-10 01:34] scyto commented on #1535
did you manage to fix it yet or still looking? i do wonder if this means its something more broad?

[2022-02-10 08:47] slashlinux commented on #1539
I found the solution:

**Step1.** Download oauth2-proxy binary - my version is **oauth2-proxy v7.2.1**

**Step2.** Create oauth2-proxy as services in order to run **"start| stop | status".**

[code]
**Running Status oauth2_proxy command**

[code]
**Step3.** Create ouath2-proxy.cfg and add the below lines:

[code]
**Step4.** Add lines below on nginx.conf in order to make the authentication and redi

[2022-02-10 11:53] andytson opened #1549 "skip-auth-preflight doesn't work with auth_request/forwardAuth sub-requests"
## Expected Behavior

When using skip-auth-preflight with oauth2-proxy behind Nginx or Traefik and auth_request/forwardAuth sub-requests are used, OPTIONS requests to the ingress should be allowed

## Current Behavior

It's blocked because the check in oauth2-proxy just checks it's own request (which is a sub-request) method

## Possible Solution

oauth2-proxy should use X-Original-Method/X-Forwar

[2022-02-10 12:49] andytson commented on #1549
I assume this is also an issue by the looks of things for the allowed routes functionality as well, as it seems to refer to the own request as well.

The TrustedIps I've not had this problem with

[2022-02-10 12:55] andytson commented on #1549
I'm wondering about the implementation for the fix.

Though I could just do a check for X-Fowarded-Method and use if there, there's a security reason to do more, as it should only be used when absolutely sure it was a reverse-proxy request, otherwise could be faked.

[2022-02-10 14:07] ffais commented on #1535
I don't find a solution yet!

[2022-02-10 14:08] #1544 closed

[2022-02-10 16:47] mfettig commented on #390
Is this still being considered?

I'm in a very similar situation as @philpep using oauth2-proxy with keycloak and would like to be able to use http basic auth for some HTTP API endpoints

[2022-02-10 18:05] tareco commented on #1515
I noticed this too and it breaks common php-fpm nginx configurations because the file cannot be found:
`https://example.com/test.php#`

[2022-02-10 18:45] andytson commented on #1549
Just to update, Nginx X-Original-Method. It seems dangerous to choose one or the other without knowledge of which is correct, if a client can fake the other header and bypass on other methods

[2022-02-10 22:55] bluebrown commented on #1458
Closing this as it was solved by registering an api and use it as scope in extra args. Otherwise the token claims are modifed after signage which makes verification of the signature impossible.

https://docs.microsoft.com/en-us/azure/active-directory/develop/quickstart-configure-app-expose-web-apis

[2022-02-11 01:27] heiniham commented on #1361
is it still required to send client-secret even after pkce is enabled?

[2022-02-11 01:30] braunsonm commented on #1361
For confidential clients yes.

[2022-02-11 01:59] heiniham commented on #1361
here while deploying oauth2-proxy docker image it is mandated to pass client-id, client-secret and email domains setting so will it differentiate if PKCE is enabled and ignore client-secret?

[2022-02-11 13:44] lgiommi opened #1552 "Issue using the prebuilt docker image of the proxy: connection refused"
## Expected Behavior

Use oauth2-proxy as proxy in front of a service that is running on port 8080. Everything is tested locally. I registered my application with the `https://cms-auth.web.cern.ch/` provider using `http://localhost:4180/oauth2/callback` as Redirect URI. I want to use the prebuilt docker image of oauth2-proxy. I run the proxy with
[code]
where `example_config.cfg` is:
[code]
The lo

[2022-02-12 00:04] #1464 closed

[2022-02-14 08:01] hiseth opened #1553 "[question] How to configure oAuth2-proxy group information?"
## Expected Behavior
How to configure oAuth2-proxy group information?
I am trying to use oAuth2-proxy to manage K8S dashboard. Now I have logged in but I cannot authorize by group. I see groups: [] is empty from dex log.

## Current Behavior
oauth2 > dex > ldap > k8s dashboard

dashboard-and-oauth2-ingress.yaml
[code]

oauth2-proxy-deployment.yaml
[code]

kubectl logs dex-jshfahsdaksdj  output:
[c

[2022-02-14 09:23] #1553 closed

[2022-02-14 09:55] hacst commented on #735
Under the assumption that all options requests should pass unauthenticated the minimal workaround we implemented is to add the following annotation to the nginx Ingress objects in kubernetes:
[code]
It would still be highly preferable to have this issue fixed in oauth2-proxy itself.

[2022-02-14 10:39] JoelSpeed commented on #1520
Do you know if your upstream application is actually receiving any requests? Seems like it is returning a 301 which OAuth2 Proxy is then proxying back to your application. By the looks of it, your upstream application probably thinks it's not receiving the right request. Could it for example, be trying to redirect to HTTPS?

[2022-02-14 10:53] pierluigilenoci commented on #1144
@weinong any update on this?

[2022-02-14 10:54] JoelSpeed commented on #1516
I'm not sure now what I was talking about in my last message. Having re-read the issue, I see what you mean, if the request input is gibberish, we should be returning a 400, I agree

[2022-02-14 10:54] pierluigilenoci commented on #1231
@weinong could you please take a look again at this?

[2022-02-14 10:55] pierluigilenoci commented on #1505
@weinong any news about this?

[2022-02-14 11:55] JoelSpeed commented on #1537
It's not something we've looked into, but if you can update the pkg/http server package to handle this, then it's definitely something we would look to accept

[2022-02-14 12:00] JoelSpeed commented on #1549
In general, we have left the `reverse-proxy` as a more insecure option where we recommend that users filter out headers before making the subrequest (Nginx may already do some of this by default), so I think working on both could be allowed based on the `reverse-proxy` flag, but the alternative is to have configuration for this to allow users to choose which value to use

[2022-02-14 12:14] JoelSpeed commented on #1543
This was requested before, though I can't find the issue where we discussed it. I think at the time there was discussion about adding new cookies and having one that would expire when the browser closed and one that would last longer, with the idea being that they would both need to be present. Your suggestion seems to be cleaner than this and was IIRC what I was trying to push for in that convers

[2022-02-14 12:19] JoelSpeed commented on #1542
We have historically always published releases with a v prefix, which is then interpreted into the version strings in the tags. I don't think we want to change the way we are doing this, but maybe we can update the Makefile to detect a `v` prefix and publish the version twice stripping the `v` prefix.

Eg the [docker-all](https://github.com/oauth2-proxy/oauth2-proxy/blob/c5a98c6d03781476021107772a

[2022-02-14 12:27] JoelSpeed commented on #1499
We typically don't create a session from the tokens as it's more of a machine to machine style communication, the expectation is that if we created a session, that would be tracked via a cookie.

We could in theory store the sessions locally, but then how would this work with HA? Do we need a distributed store for this? Not everyone wants to set one up

I'm not sure this can be done in an efficien

[2022-02-14 12:37] JoelSpeed commented on #1524
I don't think it does look at this no. I think we only support the standard `ws` protocol (and `wss`), so perhaps the 400 is because it can't identify the protocol, the code for this is all in pkg/upstream if you want to try and work it out from the code

[2022-02-14 12:49] JoelSpeed commented on #1384
@piyushk Have you seen my PR #1468, I believe I'm on the same page as you here and have included that already within the implementation, any feedback on that PR would be appreciated

[2022-02-14 12:51] JoelSpeed commented on #1538
Please search the issues for other Traefik users who have correctly configured this. Traefik handles the redirects in a weird way by relying on setting headers and having OAuth2 Proxy handle these, other projects just send a specific header.

I know other users have this working successfully but I'm not a Traefik user so I can't remember the specifics now

[2022-02-14 12:54] JoelSpeed commented on #1548
The code you've linked to is for the case when a user sends an ID Token within the header as a request (this is common in OIDC compliant applications). When a session is created, we actually do store the Access Token and ID Tokens, and, if you use `--pass-access-token` and `set-xauthrequest` you can get the Access Token in a header as well.

The `Authorization: Bearer ...` addition was probably a

[2022-02-14 13:05] framar89 commented on #1543
Unfortunately, I haven't had a chance to try yet.

As for the refresh functionality I think you are right. Session cookies do not expire so the refresh mechanism in this case should be disabled.

[2022-02-14 13:05] martinelli-francesco commented on #1543
Unfortunately, I haven't had a chance to try yet.

As for the refresh I think you are right. Session cookies do not expire so the refresh mechanism in this case should be disabled.

[2022-02-14 13:09] JoelSpeed commented on #1057
This is something I'm planning to look into soon

[2022-02-14 13:12] JoelSpeed commented on #1543
The refresh is often used to ensure you have up to date information and that the login is still allowed. I'm not sure we should disable it entirely but we might want to work out where the current assumptions fall down.

Eg if Google gives me a token valid for an hour, I probably want to refresh at the hour mark rather than just using stale information

[2022-02-14 15:23] braunsonm commented on #1548
Thank you @JoelSpeed

I'm specifically referencing articles such as: https://auth0.com/blog/id-token-access-token-what-is-the-difference/

One of the most common mistakes developers make with an ID token is using it to call an API.

It seems articles tend to talk about how this is insecure. So I'm curious why the ID Token is passed in the `Authorization` header. Or if there's something I'm missing

[2022-02-14 16:08] piyushk commented on #1384
@JoelSpeed Thanks for the pointer. I saw #1385, but missed the continuation in #1468. From my reading of the code, it covers the case above. There's a little bit of work we need to do to allow different keycloak settings in QA vs production. We might not be able to test it pre-merge, but I'll follow up there once we confirm that it resolves the issue. Thanks a lot for your work!

[2022-02-14 16:33] JoelSpeed commented on #1548
This article talks about a lot of different scenarios, and they are right, there are possibilities to compromise your security if an ID token is leaked. However it does also mention that in some first-part scenarios ID Tokens are valid for calling APIs.

The ID Token can be thought of as a passport right? It proves who you are, it's up to the application that accepts the token (or the border contr

[2022-02-14 17:26] #1548 closed

[2022-02-14 22:31] devster31 commented on #1538
I found #1297, still open and possibly a duplicate, but doesn't seem like a solution.

[2022-02-15 00:04] #1232 closed

[2022-02-15 15:47] tareco commented on #926
Hi @hevans-dglcom.
Is there any update regarding when this feature might become available?
Thank you.

[2022-02-15 16:57] tareco opened #1557 "Getting all profile details of a user"
Hi,

Apologies in advance if I am looking the wrong way; I have searched for similar topics but couldn't really find any relevant documentation on this.

## Expected Behavior

Document all the `X-Auth-*` headers relating to the guest profile.

## Current Behavior

I am trying to find documentation how to get the user profile picture and real name, but cannot find it anywhere.

## Possible Solution

[2022-02-15 17:19] JoelSpeed commented on #1557
At the moment we only support a very small subset of the profile claims, eg User, Email and Preferred Username. In the future we hope to be able to extract more of these, eg the Real Name, but before we can do that we need to do some work around our providers, eg #1394

[2022-02-16 02:06] weinong commented on #1505
i'm working on the fix and please be patient with me :D

[2022-02-16 15:18] tareco commented on #1557
Hi @JoelSpeed, if I understood correctly the "Preferred Username" is already supported.
If so, how can I capture it? This is what I am using but it comes out empty:
`auth_request_set $name $upstream_http_x_auth_request_preferred_username;`

[2022-02-16 15:29] tareco commented on #1515
It might had to do with the `location` groups I had in my case.

Currently it is not happening anymore, `rd` is filled with the `/` and after login I get redirect **without** the `#` route.

[code]

[2022-02-16 15:37] nivimorbgp opened #1558 "Users are redirected to the oauth app hostname and not the URL from which they came to sign in"
## Expected Behavior

After sign in, users should be redirected back to the where they came from.

## Current Behavior

Users are able to sign in but are redirected to subdomain of oauth2 app.
oauthproxy.dev.internal.company.io

## Steps to Reproduce (for bugs)

Manifests used
[code]
1. Create an oidc app in OKTA
2. Apply the manifests above using the details from the okta app
2.  Add the followin

[2022-02-16 16:31] JoelSpeed commented on #1558
Try setting this for the signin URL, I think I've used this in the past:
[code]

[2022-02-16 17:34] IvanJosipovic commented on #18
@lyndon160 hey, did you ever find a solution for this?

[2022-02-17 10:46] nivimorbgp commented on #1558
@JoelSpeed thanks but I'm still facing this issue.

I also tried
` nginx.ingress.kubernetes.io/auth-signin: 'https://oauthproxy.mydomain.com/oauth2/start?rd=$escaped_request_uri'`

But I'm still getting redirected to `https://oauthproxy.mydomain.com`

[2022-02-17 10:47] JoelSpeed commented on #1557
I thought what you have there should work, you may want to check your logs to see if the preferred username is being captured during the login cycle, if it isn't, that would explain why the header is empty

[2022-02-17 10:48] JoelSpeed commented on #1558
Have you checked the logs to see if OAuth2 Proxy is rejecting the redirects? It should say if it thinks the redirects are invalid

You'll need to set the whiltelist domain option to ensure that you explicitly allow redirects to your domains

[2022-02-17 10:50] nivimorbgp commented on #1558
@JoelSpeed yes I just found it in the logs, and came back here to post about it when I saw your comment.
Thanks for your help!

[2022-02-17 13:13] coronabytes commented on #817
Also fixed the issue by commenting out
#cookie_samesite="strict"

[2022-02-17 16:21] tareco commented on #1557
Are you referring to these log entries? If you are, I can't find an entry for the name here.. how could I get that from Google?

[code]

[2022-02-17 16:49] JoelSpeed commented on #1557
Normally there is a log line that details what was created in the session, it will start with `Authenticated via OAuth2:` and then have the details of the session

[2022-02-17 16:55] tareco commented on #1557
Ok, sorry for overlooking.. it's there, but empty unfortunately.. what could be wrong? :(
`Authenticated via OAuth2: Session{email:<<<redacted>>> user:<<<redacted>>> PreferredUsername: token:true id_token:true created:2022-02-16 15:25:40.582183863 +0000 UTC m=+79725.032087823 expires:2022-02-16 16:25:39.582183863 +0000 UTC m=+83324.032087823 refresh_token:true groups:[<<<redacted>>>]}`

[2022-02-17 16:57] JoelSpeed commented on #1557
Based on your previous message, you are using the google provider right? Have you tried using the OIDC connector with Google instead? The google provider is old and out of date, and it looks like it doesn't set the preferred username at all

[2022-02-17 17:03] tareco commented on #1557
Yes, I have Google Workspace so I am using the default..

I see in the docs examples of OIDC for Okta and others, but not for Google. Is there a sample config for that?

[2022-02-17 17:05] JoelSpeed commented on #1557
I don't have one handy, but the issuer for google is `https://accounts.google.com/` if that helps at all

[2022-02-17 17:06] tareco commented on #1557
I'll give it a try  - thank you.

[2022-02-18 03:03] markszabo opened #1562 "Using the OIDC provider with Azure AD to get the groups"
I'm using Azure AD as the IdP, and I'd like to have the user's groups passed in the `X-Forwarded-Groups` header. Based on  https://github.com/oauth2-proxy/oauth2-proxy/issues/71 the azure provider currently doesn't support this (and this is consistent with my experience). However switching to the generic `oidc` provider passes the groups as expected.

My question is: is there any downside of using

[2022-02-19 13:42] cruwe commented on #1526
Sorry to be late replying. Please don't take it as lack of interest, but rather lack of time the last two weeks.

I did'nt get at first that this was a bug, although I should have thought about the possibility.

I stumbled on this behaviour when upgrading from 7.1.1 to 7.2.1 and, considering I use alpha-features, thought it fair that things may change in unpredictable ways and that perhaps impleme

[2022-02-19 13:51] PSanetra commented on #1285
still relevant

[2022-02-19 15:26] JoelSpeed commented on #1526
This sounds like what I had in mind before, seems like a good UX to me at least

If you have the time to look into how we can fix this, then that would be great, though i'm not sure how simple it would be :thinking:

I have thought in the past about a `Default()` function that we could call on each structure in the options, once it's been loaded to set the defaults if they haven't already been set

[2022-02-19 16:22] #1314 closed

[2022-02-19 16:30] ianroberts commented on #1369
#1418 has been merged, so this will be possible in the next release if you're prepared to switch to the "alpha" config style.

[2022-02-20 00:06] #1463 closed

[2022-02-20 00:06] #1461 closed

[2022-02-20 07:30] Yaytay commented on #390
Same here, and I'm very happy to discuss my requirements.
I already have a setup doing this via Gravitee using a custom plugin, but that is more complex than I'd like, so if I can just use oauth2-proxy it would make my life that little bit better.

[2022-02-20 07:48] #1558 closed

[2022-02-20 08:27] nivimorbgp opened #1566 "ERR_TOO_MANY_REDIRECTS when configuring K8S ingress with auth and sign in annotations"
## Expected Behavior
User should be redirected to the protected URL after signing in through the idp.

## Current Behavior
Getting `ERR_TOO_MANY_REDIRECTS` in the browser.

## Steps to Reproduce (for bugs)

1. Configure an OIDC app in your idp
2.  Install oauth2-proxy using the helm chart - use the oidc app paramaters
values.yaml for helm
[code]
3.  Set annotations on the desired service ingress
[

[2022-02-20 14:24] JoelSpeed commented on #1566
Sounds to me like the cookie isn't being set on the correct domain, try `cookie_domains = [".${my_domain}"]` so that the cookie is available to all subdomains within your company

[2022-02-20 15:22] nivimorbgp commented on #1566
@JoelSpeed thank so much for you help! It's working now.

Whoever comes across this issue, this is what I did to fix the issue following Joel's advice:
[code]

[2022-02-20 15:22] #1566 closed

[2022-02-21 00:15] braunsonm commented on #1552
Is this service running in a container or on your machine? If it's running on your machine outside of a container you need to use your docker host as the upstream. It sounds like you're telling `oauth2-proxy` to reverse proxy port 8080 inside the container it's running, of which there is no service on port 8080.

You can reference the host machine inside a container with `host.docker.internal`, so

[2022-02-21 10:41] omBratteng commented on #1515
Oh, I've noticed it's not happening here either anymore. I could've sworn it was happing on `7.2.1`

[2022-02-21 15:59] lolllpop opened #1569 "For X-Forwarded-Groups, use roleName instead of role:clientName:roleName"
I use oauth2-proxy in combination with keycloak and the new keycloak-oidc provider. The access control within oauth2-proxy based on client roles does work using the syntax clientName:roleName for allowed-roles. For fine grained access control within upstream itself, however, I forward the roles using the X-Forwarded-Groups.

## Expected Behavior

X-Forwarded-Groups contains the original roleName a

[2022-02-21 18:54] lgiommi commented on #1552
My service is running on my machine, so outside a container. I tried to use `http://host.docker.internal:8080` as upstream but I got a "Connection failed" error when I try to browse `http://localhost:4180/hello` with no answer from the `oauth2-proxy` container. In the meanwhile, I tried the image in an ubuntu environment using the same config file (shown in the first post without the `http_address

[2022-02-21 21:34] JoelSpeed commented on #1552
Have you tried using the [local testing environments](https://github.com/oauth2-proxy/oauth2-proxy/tree/master/contrib/local-environment) at all, I know they work on my Mac at least. Perhaps that will give you some inspiration for running this all in docker for mac?

[2022-02-21 21:38] JoelSpeed commented on #1569
I think this may be possible once we add an extra parameters option for the session state, allowing you to add arbitrary claims to your session. That said, I don't know when exactly we are planning to add that. I've done a bunch of the prerequisite work now so it should be possible soon

[2022-02-21 21:44] #1511 closed

[2022-02-21 23:34] JasperWoo opened #1570 "Redirect loses query params from original url ​"
Action:
1. Click on this link - https://application.com/account/someid/history?page=2
2. Authenticate
3. end up at this location -
Expectation - At step 3, I'd end up at the location specified originally in step 1.

## Expected Behavior
Redirected back to https://application.com/account/someid/history?page=2

## Current Behavior
Redirected to https://application.com/account/someid/history, missing

[2022-02-22 10:19] JoelSpeed commented on #1570
Could you please share more details about your setup, including how you have OAuth2 Proxy as a sidecar? Do you mean that OAuth2 Proxy is proxying straight through to the application once authenticated? Or do you mean you have OAuth2 Proxy as an auth sidecar to some other proxy?

Do you see the OAuth2 Proxy login page or are you skipping that?

[2022-02-22 16:47] lgiommi commented on #1552
I took inspiration from what @JoelSpeed suggested to me but basically, all the information contained in the configs are the same I used. Maybe is a particular way to run the container?

[2022-02-22 16:59] alasdairnicol opened #1571 "Allow passing contents of google-service-account-json as environment variable"
I'm following the instructions at https://oauth2-proxy.github.io/oauth2-proxy/docs/configuration/oauth_provider#restrict-auth-to-specific-google-groups-on-your-domain-optional to restrict auth to google groups.

I am using environment variables for all secrets, e.g. OAUTH2_PROXY_CLIENT_SECRET. However I can't pass the json file as an environment variable. I can set OAUTH2_PROXY_GOOGLE_SERVICE_ACCO

[2022-02-22 17:35] lolllpop commented on #1569
I have seen your work on the extraction of claims, and with alpha-config the forwarding of such claims should already be possible. Very promising!

But even then, I would miss a part in between: the formatting of claims being forwarded. For example, the values of a multi-value claim (e.g. multiple roles) might be required to be joined either using spaces or using commas depending on upstream.

[2022-02-22 18:40] appcoders opened #1573 "Cannot get any upstream Authorization information on Rancher RKE rancher/nginx-ingress-controller"
First everything works regarding oauth2 - but I cannot get any authorization cookies set for consumption on the target service.
oauth2-proxy deployed with helm chart 6.1.2

Config oauth2:
[code]

Ingress target service annotations:
[code]
or
[code]

## Expected Behavior

Getting Authorization Cookie set for consumption by target service.

## Current Behavior

Both lead to the same result - no upst

[2022-02-22 19:43] appcoders commented on #1573
With this snippet I can set a cookie with the Token Information:
[code]

To find out what is set upstream go to
<yourdomain>/oauth2/auth in check in browser network tab.

[2022-02-22 22:42] JasperWoo commented on #1570
Yes. The OAuth2 Proxy is a sidecar, the port of which is where the traffic is routed to in the first place:
[code]
As user logs in, proxy talks to an oidc server than tells us if the user is legitimate, if so, the proxy redirects back to the corresponding application container (with the upstream parameter).
Sidecar configuration:
[code]

[2022-02-23 00:04] #1372 closed

[2022-02-23 07:46] appcoders commented on #1573
Still the question is if the documentation is not correct or if I did something wrong :-)

[2022-02-23 10:22] JoelSpeed commented on #1569
At the moment, for multi value headers, we use comma separation. Which, IIRC, we had a big discussion about at the time and concluded that the HTTP spec specifies comma separated values for headers with multiple values.
If your upstream doesn't support comma separated values, then it isn't HTTP spec compliant was the conclusion we made at the time

[2022-02-23 11:46] ben-wallis commented on #885
I'm having the same issue as @xcabur1 describes above - when using oauth2-proxy with Keycloak and logging in with a user lacking a role configured in `allowed_roles` it results in the user getting stuck as they have a valid Keycloak session which oauth2-proxy accepts (but then returns 403 due to the missing role), with no way for the user to log out or attempt login with different credentials.

[2022-02-23 12:21] ppawiggers commented on #1522
I experience the same issue. I send a `curl` request without cookies to the protected backend (with the `accept` header), but it's still 302 redirect to the sign in page.

I don't want to remove the `auth-signin` annotation on the backend, because that also hosts a Swagger UI for developers to use, and they should be redirected to the sign in page.

[2022-02-23 18:42] UiP9AV6Y opened #1575 "add support for memory-based session storage"
add support for session storage in
the oauth2-proxy process memory
using a map or tree structure.

## Current Behavior

session information can stored
in two ways:

* cookie, which is sent to the client
  and stored in the browser. is subject
  to browser limitations, e.g. storage
  size
* redis, which requires the deployment
  of a dedicated K/V storage solution

## Expected Behavior

we would li

[2022-02-23 18:42] UiP9AV6Y commented on #1575
i can come up with a PR if needed

[2022-02-24 04:22] purejgleason opened #1576 "Getting lint errors when building thanks to go encryption lib changes (deprecated method)"
## Expected Behavior

I can build the project using `make` on my macbook.

## Current Behavior

[code]

## Possible Solution

This is a workaround but it seems to let it compile locally

[code]

## Steps to Reproduce (for bugs)

1.  run `make`

## Context

## Your Environment

Macbook

- Version used:

go version devel go1.18-b37a5391f9 Tue Dec 7 20:14:56 2021 +0000 darwin/amd64

[2022-02-24 09:36] JoelSpeed commented on #1576
This looks to be a new deprecation with Go 1.18. This project only currently supports 1.17 but it is good to catch the deprecations so thanks for posting.

Is there a recommended alternative in the release notes/godoc that suggests how to handle the deprecation?

[2022-02-24 09:37] JoelSpeed commented on #1576
This looks to be a new deprecation with Go 1.18. This project only currently supports 1.17 but it is good to catch the deprecations so thanks for posting.

Is there a recommended alternative in the release notes/godoc that suggests how to handle the deprecation?

[2022-02-24 12:45] TheAnachronism commented on #1263
OK, so I've come back to this issue as now I really have the use case, where I have one instance of oauth2-proxy running which is used by nginx with the auth request module. But I don't want all the websites which nginx handles restricted to a certain group. That's why I'd like to do that over the `allowed_groups` query-string, is possible.
As I understand it, using the environment variable will r

[2022-02-24 12:52] alasdairnicol commented on #1571
I found a better workaround. By setting `entryPoint` for my ECS task, I can create the file from the environment variable before starting the oauth2-proxy binary.

[code]

This means I don't need to build a new container for each oauth2-proxy release. Therefore this feature request is not as important. I'd be happy for it to be closed, unless it would be helpful to other users.

[2022-02-24 14:26] msvechla commented on #834
any updates on this?

[2022-02-25 00:05] #1476 closed

[2022-02-25 11:20] bt909 commented on #1434
Hello @haowang-pony, I have the same problem after updating a working Helm Chart and only with one user, but nevertheless, I don't understand what you mean with your solution.
Can you please explain what solved your problem?

[2022-02-25 16:06] prein commented on #686
If I go to `oauth2/userinfo` I am getting
[code]
which is different from what @insanemal is getting, is seemingly random string in `user` field, and `groups` missing

[2022-02-26 00:05] #1319 closed

[2022-02-26 12:44] JoelSpeed commented on #1570
It looks to me from your config that you aren't using it as an auth sidecar but it is actually proxying to the upstream directly. In which case, this is likely an issue with how we are constructing the URL in the sign in page logic.

If I've understood correctly, the redirect in your case boils down to the output of this function
https://github.com/oauth2-proxy/oauth2-proxy/blob/45ef848b0acece35c4

[2022-02-26 12:47] JoelSpeed commented on #1573
I think you may be missing the cookie domains option, can you provide an example of where your OAuth2 Proxy is hosted in comparison with your application?

If you don't set cookie domains to allow the cookie to be shared among a common domain, then the cookie will only be available for requests directly to the OAuth2 Proxy app

Typically you need to set it to something like `.mydomain.com`

[2022-02-26 12:50] JoelSpeed commented on #1575
Initially, I'm hesitant to say we would want an in-memory store, as this doesn't scale horizontally at all, and, if the application restarts, every user then needs to re-authenticate. Are there alternative stores that would be easier for you to use that might have a wider appplication?

For example, perhaps some cloud provider key/value store or maybe even just a filesystem based session store (I

[2022-02-26 13:24] JoelSpeed commented on #1263
Perhaps #1546 can help you @TheAnachronism

[2022-02-26 20:08] TheAnachronism commented on #1263
Actually, it wasn't this, but rather that it needs a `/` infront of the group because that's how the groups are returned from keycloak.
I have no idea why, but using `/Groupname` works.

[2022-02-27 08:21] appcoders commented on #1573
@JoelSpeed Thanks for reply,  oauth2-proxy and application share the exact same domain.

`nginx.ingress.kubernetes.io/auth-url: https://$host/oauth2/auth`

so application.example.com with application.example.com/oauth2

[2022-02-28 00:06] #1140 closed

[2022-02-28 09:18] JoelSpeed commented on #1148
We are making baby steps towards this feature, it is on the roadmap, but I don't have a timeline for it right now

[2022-02-28 09:19] JoelSpeed commented on #1475
This is related to/dependent on #1148

[2022-03-01 00:06] #1485 closed

[2022-03-01 00:06] #1486 closed

[2022-03-01 11:20] AndrewNiven1 commented on #1438
Thanks for this diagram - my team and I found it extremely helpful in understanding what's going on with our ingresses. Did this ever get merged in a different PR?

[2022-03-02 06:52] Nold360 opened #1581 "Should roles be case-sensitive?"
Since I'm to stupid to join your slack, I'll ask here.

We are auto generating roles from LDAP, which have stupid cases e.g `MyRole`. In oauth-proxy I would like to just allow `myrole` but it wouldn't work because of the comparision.

Question: Could we convert all roles to lower case before comparision, or do i need to find another workaround?

## Expected Behavior

roles are case insensitive.

#

[2022-03-02 17:21] JoelSpeed commented on #1581
If an identity provider is case sensitive for something like this then I expect we need to be congruent to that. So I don't think we would want to modify those at all, and let end user applications handle the case sensitivity

[2022-03-02 18:40] JoelSpeed commented on #1573
It might be worth trying to set the cookie domain and see if that helps anyway, else, I'd suggest checking with your developer tools to see if the set-cookie looks appropriate on the callback response

[2022-03-02 20:29] irizzant commented on #1389
activity

[2022-03-03 00:11] braunsonm commented on #1581
Although LDAP attributes are case-insensitive, not all IdP have case insensitive roles. You should make the specific match as Joel mentioned.
Feel free to chat on Slack for additional help

[2022-03-03 00:11] #1581 closed

[2022-03-03 00:18] braunsonm commented on #1570
Cannot reproduce using the latest builds. With httpbin as my upstream I can hit `http://localhost:4180/redirect-to?url=https%3A%2F%2Fgoogle.com`, authenticate, and be redirected to google proving the query params are passed.

Can you try upgrading from v6?

[2022-03-03 00:19] #1562 closed

[2022-03-03 00:19] #1557 closed

[2022-03-03 00:22] braunsonm commented on #1528
Closing due to lack of activity

[2022-03-03 00:22] #1528 closed

[2022-03-03 00:24] #1510 closed

[2022-03-03 00:29] braunsonm commented on #1522
Unless I'm missing something this seems to be an issue with your architecture or configuration. I don't see any specific reproduction instructions. If you provide a reproduction repo we might be able to look at if this is a bug in OAuth proxy.

Reopen if you do believe this is a bug with oauth proxy

[2022-03-03 15:29] NikitaIvankov1992 opened #1582 "Issue with oauth2-proxy and okta interconnection"
Hello team,
we have very specific problem trying to set up oauth2-proxy to proxy identity requests to our OKTA identity provider.
The problem is that OKTA uses something called `Thin tokens`, [according the docs](https://support.okta.com/help/s/article/Okta-Groups-or-Attribute-Missing-from-Id-Token?language=en_US)

We need our profile claims to make a decision whether to authorize request or not.

[2022-03-04 04:42] ericmeadows commented on #817
I don't like turning off the `cookie_samesite` - isn't it less secure??

[2022-03-04 06:28] NikitaIvankov1992 commented on #1582
Finally got it working :)
I had to add
[code]
so the final alpha config looks like the following

[code]
but the problem is still there - I can't access any custom claims until I "map" it to groupClaim `groupsClaim: NameOfTheCustomClaim`. So my understanding was that after reaching up the `userinfo` endpoint and enriching the session we can use any custom claims and set it as `x-auth-***` headers.

[2022-03-04 12:36] JoelSpeed commented on #1438
It would be good to include these kinds of flow diagrams into the documentation. This was originally written on draw.io, does anyone know, is there a way to export the diagram to some version controllable resource that we can then generate into an image?

[2022-03-04 12:40] JoelSpeed commented on #1582
We intend to allow additional claims to be added to the session, but for now this hasn't been implemented. We've been doing a lot of work towards this and are going to be able to add this soon, there are a number of other issues asking for this feature so it's relatively high priority for us

[2022-03-04 12:47] NikitaIvankov1992 commented on #1582
Thanks a lot, JoelSpeed
Looking forward to this new feature...

[2022-03-04 12:47] #1582 closed

[2022-03-05 09:00] D-side commented on #1505
Hi everyone; I have one additional detail, this issue is not exclusive to Azure, **the same is happening with Nextcloud as well**:

[code]
`{{BLOCKS}}` indicate redacted sensitive details.

From a user's perspective it seems to work okay when it doesn't have a load reverse proxy in front of it, but locks users out with a 403 after a successful login when a reverse proxy is present.

Just like in t

[2022-03-06 04:37] braunsonm commented on #1505
@D-side please make a separate issue as this doesn't seem related to this particular problem.

[2022-03-06 04:49] braunsonm commented on #1438
Yes, on draw.io you can export the XML of the image for editing later which could be added to Git. @JoelSpeed

[2022-03-06 10:57] pierluigilenoci commented on #1505
@weinong any update on the fix?

[2022-03-06 14:03] alekc commented on #1442
@JoelSpeed latest chart version is still referencing 7.2.0 requiring an override, you might want to bump those as well.

[2022-03-07 00:07] #1491 closed

[2022-03-08 12:02] yburke94 opened #1584 "Groups should be added to session state when constructing from a token"
When using `--skip-jwt-bearer-tokens` and `--allowed-groups` arguments, I believe authorization will always fail when authenticating using a token.

## Expected Behavior
If I pass a JWT to the proxy in the Authorization header, I expect the proxy to validate the token against the allowed groups configured (which it does), and then successfully authenticate assuming my token is valid.

## Current B

[2022-03-08 12:11] yburke94 commented on #1584
I think this can be closed actually. I just saw https://github.com/oauth2-proxy/oauth2-proxy/pull/1583 was created.
Thanks

[2022-03-08 12:11] #1584 closed

[2022-03-08 16:48] timja commented on #1538
We may be hitting the same issue.

Been through all the issues I could find and haven't managed to make it work =/

[2022-03-09 05:04] afeedh commented on #1430
@JoelSpeed I had faced a similar issue recently and it seems like after setting the redeem URL it does authenticate and posts the authenticated session details in the log. However I'm seeing a different error (status code: 502) when the `/oauth2/callback` call is made after authenticating. Is this an error from the ADFS?

[2022-03-09 07:07] v01d-bak3r commented on #1430
It kind of works now after increasing the proxy_buffer_size but now seeing a 500 Internal server error after getting redirected back to the original URL. Can still see in the logs that the session has been authenticated.

[2022-03-09 12:03] lanmarti commented on #1297
@ADN182 Glad to hear you got something working. How did you configure your ingress and middlewares? Could you share the manifests?

I've tested your config with the forwardedHeaders flag in combination with the middlewares and IngressRoute in my original post, but the issue is still there for me.

[2022-03-09 14:26] tareco commented on #1557
I am unable to put this to work.
While trying OIDC with Google I got stuck in restricting to users that belong to certain groups only.
Also don't understand why, but I don't get the real user name as well (first / family).
I would really appreciate a working example (or as close as possible).
Thank you.

[2022-03-09 14:52] v01d-bak3r commented on #458
@edemen I'm facing the same error for ADFS. However removing the args :
[code]

[2022-03-09 16:35] timja commented on #1538
We got it working with this:
https://github.com/hmcts/sds-flux-config/pull/1675

Soo much trial and error though 😢

[2022-03-09 17:32] Bewalticus commented on #612
This feature is especially relevant for enterprise integration scenarios where a lot of communication is backend-to-backend and OIDC is used.
The introspection endpoint URL can be retrieved via ```.well-known/openid-configuration``` or ```.well-known/oauth-authorization-server``` metadata information.

[2022-03-09 22:29] d02540315 opened #1586 "github-org and github-team restriction seems not working"
Hi,

I'm trying to restrict access by GitHub Org and Team, it appears I always get authenticated regardless what I put for github-team. I'm trying to put oauth2-proxy before K8s Dashboard and I'm using Enterprise version of GitHub.

I tried to restrict the access by github-repo, I didn't get it working either. All GitHub users get authenticated regardless he/she has access to the github repo or no

[2022-03-09 22:35] d02540315 commented on #1586
What I meant for alway gets authenticated - I always cloud see _oauth2_proxy_csrf cookie gets populated.
![image](https://user-images.githubusercontent.com/5162421/157550187-f39f325b-0c57-473a-8969-5bc0bab347e0.png)

[2022-03-11 02:54] braunsonm commented on #612
Where does this fit in with the OIDC profile URL? Should both be called when using OIDC and discovered/provided by the user or should one be preferred? How would the claims be deconflicted?

Some questions regarding the implementation remain. As Joel said I think this would be an acceptable feature however there is nothing preventing the user from enriching their user by calling this introspection

[2022-03-11 03:05] braunsonm commented on #1586
Without any information about your configuration it would be very difficult to help. Do you think you've found a bug or are just trying to find help with understanding the configuration? You might have some luck asking other Github oauth2-proxy users on Slack too.

[2022-03-11 17:12] d02540315 commented on #1586
Thanks @braunsonm for your response.

 provider: “github”
  set-authorization-header: “true”
  cookie-domain: “.abc-corp.cloud”
  whitelist-domain: “.abc-corp.cloud”
  login-url: “https://abc.dev/login/oauth/authorize”
  redeem-url: “https://abc.dev/login/oauth/access_token”
  validate-url: “https://abc.dev/api/v3”
  redirect-url: “https://k8s-dashboard.abc-corp.cloud/”
  auth-logging: “true”
  st

[2022-03-12 03:49] MNF commented on #1081
the issue is still relevant

[2022-03-12 07:56] priggad commented on #1457
Issue still relevant.

[2022-03-12 13:34] JoelSpeed commented on #1586
Might be worth checking with the helm chart maintainers on the repo itself, there's a different set of folks who maintain that.

Is that config the generated config? I don't see the github configuration in the file

[2022-03-12 13:38] JoelSpeed commented on #1442
The helm chart is maintained by a separate group of folks, I expect they will get it updated in their own time

[2022-03-12 13:39] JoelSpeed commented on #1438
Sweet, that sounds good, we should definitely get this into the docs then

[2022-03-13 10:08] #1361 closed

[2022-03-14 06:22] appcoders commented on #1573
I gave up and use oauth2-proxy as ingress target with its own upstream handling.

[2022-03-14 06:22] #1573 closed

[2022-03-14 14:57] CAR6807 opened #1588 "OIDC Connector Dex - LDAP - Returns empty group if allowed group is not specified / allow all groups / validates group when all groups is specified"
## Expected Behavior

When connecting to an OIDC provider (dex) - which is configured with AD/LDAP connector - I want to authenticate the users and return the JWT with all the groups associated with the user. I then pass this the upstream - Kubernetes Dashboard - which will use group membership to determine the right level of access via the API Server

## Current Behavior

If ALLOW_GROUPS / --allo