[2020-05-22 08:20] strboul commented on #564
Thanks @ploxiln for the responses. But I can't understand how those flags can help filter the requests by User Agent. For testing, I am able to create a fake healthcheck request in local, which is by `curl -I -H "User-Agent: ELB-HealthChecker/2.0" http://localhost`, but I don't know how to have it as a "path". Would you post an example for this case? Besides, the PR from @chkohner seems interestin

[2020-05-22 09:26] yaakov-berkovitch commented on #565
IDP (keycloakd) is running on the same network, same K8s cluster and i have only one istio gateway.
I would prefer to not separate my network, nor adding an additional istio gateway.
Is there any envoy filter trick to apply the redirect only for URI without the prefix "/auth"  ?

[2020-05-22 09:29] ploxiln commented on #564
Those flags help you filter health-check requests by path, instead of by User-Agent. I expected that any load-balancer would allow you to configure the health check path, or would use some reasonable health check path. It seems this may not be true for all load-balancers, but it appears  to be true for ElasticBeanstalk: https://docs.aws.amazon.com/elasticbeanstalk/latest/dg/using-features.healthst

[2020-05-22 10:10] fnkr commented on #532
+1 for structured configuration and YAML (I find TOML hard to read). Also +1 for releasing this as a single breaking-change release.

I think this gives the opportunity to lay groundwork for some frequently requested features such as:

- multiple identify providers (#88)
- rule-based access control (e.g. #204, #451, #466)

It could look like this:

[code]

[2020-05-22 10:19] JoelSpeed commented on #532
@fnkr thanks for linking those relevant issues. This is possibly one of my main drivers for suggesting structured configuration, to remove the weird syntaxes we are overloading in strings

I had a look into TOML to try and understand what our config might look like if we went that route, I have to say, I'm not a fan.

TOML array handling means that you can split an array anywhere within your confi

[2020-05-22 10:22] povils commented on #336
I have the exact use case :)

[2020-05-22 10:50] JoelSpeed commented on #336
I think there is a workaround for this by adding your self signed CA cert to your system roots, but I'd welcome a PR to implement this if anyone has the time

[2020-05-22 19:09] ploxiln commented on #571
Version 5.1.1 does not support multiple possible cookie domains, that feature was added after the 5.1 release branch, and is only available in master currently.

[2020-05-22 19:11] blt commented on #571
That explains it. Thank you.

I’m correct in my understanding that more recent releases use commas as delimiters? The documentation doesn’t say.

On Fri, May 22, 2020, at 12:09 PM, Pierce Lopez wrote:

[2020-05-22 19:17] ploxiln commented on #571
The flag parsing library is also changed in master, and it does separate multi-value options on commas, whereas previously oauth2-proxy would only work with multi-value options by specifying them multiple times, like `--whitelist-domain=.labs.example.com --whitelist-domain=.prod.example.com`

[2020-05-22 23:51] blt commented on #571
Perfect. This is exactly what I needed.

[2020-05-22 23:51] #571 closed

[2020-05-23 03:07] anannaya commented on #566
https://github.com/oauth2-proxy/oauth2-proxy/issues/350#issuecomment-631477988

[2020-05-23 13:46] JoelSpeed commented on #549
I think the solution will be as you've said, to check both expirations and refresh when either of them is expiring.

I think we should also remove the old ID Token if the refresh does not include one, do you agree?

[2020-05-23 20:48] amnay-mo commented on #554
Hi,
I have submitted a PR to fix this bug: https://github.com/oauth2-proxy/oauth2-proxy/pull/573
Cheers!

[2020-05-24 02:21] ploxiln commented on #191
I think this was fixed by https://github.com/oauth2-proxy/oauth2-proxy/pull/444 (allowing you to specify `--prompt=foobar`, and that *replaces* the `approval_prompt=force`)

[2020-05-24 19:19] #520 closed

[2020-05-24 20:09] #545 closed

[2020-05-25 03:23] anannaya commented on #566
@JoelSpeed  Am i missing anything here ? Can you please help.
[code]

[2020-05-25 04:32] anannaya commented on #350
@Just-Insane  Am i missing anything here ? Can you please help.

[Envoy (Epoch 0)] [2020-05-25 03:18:02.740][26][debug][jwt] [external/envoy/source/extensions/filters/http/jwt_authn/authenticator.cc:107] JWT authentication starts (allow_failed=true)
[Envoy (Epoch 0)] [2020-05-25 03:18:02.740][26][debug][jwt] [external/envoy/source/extensions/filters/http/jwt_authn/authenticator.cc:127] Verifying J

[2020-05-25 11:42] JoelSpeed commented on #566
I don't know envoy so i can't really comment too much, but a quick scan of those logs suggests your token may be expired?

[2020-05-25 11:42] JoelSpeed commented on #350
@anannaya Please do not hijack old threads. You posted this information in a new issue, keep the conversation there please.

[2020-05-25 14:12] nicoschuck opened #578 "SPA Hashrouter not working"
I have running an Angular Application in my Kubernetes Cluster which use Hash Router.
When my IP redirects me back after succesfully authentification, the whole Hash Path ist lost.

## Current Behavior

For example I try to enter the following page:
https://example.com/home/#/subrouter1/subroute2
after login on IP I get redirected to:
https://example.com/home/

## Expected Behavior

It should me r

[2020-05-25 16:45] DimitrijeManic opened #579 "Cookie secret must be 16, 24, or 32 bytes to create an AES cipher. Got 30 bytes."
Latest release of the image `quay.io/pusher/oauth2_proxy:latest` is returning the error
[code]

Despite the `OAUTH2_PROXY_COOKIE_SECRET` being set correctly.
reverting back to image v5.1.1 works as expected

## Expected Behavior
OAUTH2_PROXY_COOKIE_SECRET should work as before

## Current Behavior
Fails to start with the error posted above

## Possible Solution

## Steps to Reproduce (for bugs)

1

[2020-05-25 16:49] JoelSpeed commented on #579
We are in the process of preparing a large major release which has a number of breaking changes.

We fixed a bug in the proxy that would allow incorrect lengthed ciphers to be created.
We now also encrypt all sessions now.

Please review the changelog for further details.

Please check your cookie secret length and make sure it is either 16, 24 or 32 bytes.

Please do not use the latest tag. We do

[2020-05-25 16:50] #579 closed

[2020-05-25 16:52] ploxiln commented on #578
see #473

[2020-05-26 06:41] nicoschuck commented on #578
Thank you!

[2020-05-26 06:41] #578 closed

[2020-05-26 17:04] jon88 opened #580 "Prometheus-metrics"
If I am correct then currently no (prometheus) metrics are provided.

Was wondering what is the reason? Is there is any plan to implement them?

I know I would like to see some metrics about how many users are authenticated, how many redirected to 'login' page, for how many authentication fails etc

[2020-05-26 19:49] mallow111 opened #581 "Can you guys add liveness probe check for all providers"
## Expected Behavior

Expected to have liveness probe check for all provider, similar as gcpHealthcheck(https://github.com/oauth2-proxy/oauth2-proxy/blob/236c7fa60ef6c1adaf74e163f129eb337c369bc1/http.go), in this case, user can check if the oauth2 proxy container is healthy or not.
## Current Behavior
only gcpHealthcheck has liveness probe check

## Possible Solution
Add liveness probe code for ge

[2020-05-26 21:45] JoelSpeed commented on #580
We currently don't have any metrics because no one has implemented them before, simple as that.

I'd happily have some metrics implemented and added to the proxy

Perhaps we could use this issue as a place to gather a list of metrics users would like to see?

One thing to make sure of, if we do implement this, is that we don't interfere with upstream servers by adding the metrics on a bad path, I

[2020-05-26 21:48] JoelSpeed commented on #581
We already support a health check endpoint via the ping path option, have you tried this to solve your issue?

The gcp healthcheck you found is for GCP load balancers which have special requirements for health checking the proxy itself, this shouldn't be necessary for most health checks

[2020-05-26 21:53] mallow111 commented on #581
just found it here https://github.com/oauth2-proxy/oauth2-proxy/blob/master/docs/5_endpoints.md,
and tested it out, works great, thanks!

[code]

[2020-05-26 21:53] #581 closed

[2020-05-26 23:00] chkohner commented on #521
Any sort of ETA on this, @jhutchings1?

[2020-05-26 23:05] jhutchings1 commented on #521
The team is working on it, but it's a little gnarly, so I'm not able to share a specific ETA. Thanks for your patience on this one @chkohner !

[2020-05-27 17:40] #554 closed

[2020-05-27 18:25] kfox1111 commented on #580
metrics around upstream connections (latency, failures, etc) and token handshaking failures would be most useful I think.

[2020-05-27 18:48] gargath commented on #580
It might make sense to have a separate http server listen on a separate port just for metrics, like the `nginx-ingress-controller` does.
That would be the cleanest way to keep it out of the critical path for clients.

[2020-05-27 21:24] jon88 commented on #580
I agree with @gargath - haproxy has same logic with different stats port.

I thought that maybe it would be simplest to start with things that are already logged or even with a basic oauth_proxy_info metric. Eq add new configuration variables, starting/ stopping metrics httpListener and initially add the most basic metrics.

When this is completed then adding new metrics should be really straightf

[2020-05-28 08:06] pyama86 opened #584 "Question: Do you have a plan for support Slack oAuth"
Hi there!
oauth2-proxy is very useful and I use it heavily!

I have a question.
Do you have a plan for support Slack oAuth?
can I create PR if don't you have a plan?

I want to hear your opinion.
Because maintenance cost is increased if I add it.

thanks.

[2020-05-28 15:21] josephElhajj opened #585 "Can't pass user data through request headers"
_Disclaimer; quite new to this setup so terminologies may be mixed up_

Currently, I have a k8s setup with an nginx controller processing all incoming requests, an OAuth-proxy2 running to authenticate all those requests. It is connected to an azure AD
My problem is; I can't seem to append the email even though I added all annotations needed.

## Expected Behavior

-email can be appended to the hea

[2020-05-28 16:50] deiga commented on #374
How could this be approached? I'd love to help, but I've never contributed to this project so starting feels quite cumbersome and hard to grasp

[2020-05-28 17:26] chkohner commented on #585
I had a similar sort of issue, and I believe #568 would cover this case, or at least give you access to the info in the token.

[2020-05-28 17:59] josephElhajj commented on #585
yes, I think this would solve part of the problem from the looks of it.
I will edit out the groups part from this thread and focus this one on the current bug happening.
I will then subscribe to the other thread to see if it solves my problem when it is merged (if I have time I will try and test it with azure)

[2020-05-29 01:08] #553 closed

[2020-05-29 01:12] mallow111 opened #586 "when provider is oidc, is that possible to use a config a file rather than provide oidc-issuer-url"
## Expected Behavior
currently when use oidc provider, it seems that we need to provide oidc-issuer-url flag, is that possible to provide a config that contains the content of this url. The reason is that when we use in our production environment, we got some acl issue.

## Current Behavior
when provider is oidc, the only option is to use flag oidc-issuer-url, seems cannot use config file to provi

[2020-05-29 01:25] mallow111 commented on #586
Or should I just use insecure-oidc-skip-issuer-verification=true flag in my deployment.

[2020-05-29 08:58] JoelSpeed commented on #586
You can provide a config file with the `--config` flag. Any flag that can be set via the command line can also be set in the config file. Please read through the configuration docs for details as the names are changed slightly depending on the flag.

Eg `--oidc-issuer-url` would become `oidc_issuer_url` in the config file

[2020-05-29 09:00] JoelSpeed commented on #586
It seems I misunderstood the question slightly, you can try the `--skip-oidc-discovery` flag, but in that case you need to provide `--login-url`, `--redeem-url` and `--oidc-jwks-url` which will allow the proxy to run without using the discovery

[2020-05-29 09:55] fcrespofastly commented on #585
Having a similar issue here. I'm trying to add an oauth2 layer to sonatype-nexus3 via Remote User Token realm:

https://help.sonatype.com/repomanager2/configuration/authentication-via-remote-user-token?_ga=2.40705825.269455672.1590475656-1029581026.1590475656

This just basically needs to receive a header with the username, so I decided to use `--pass-user-headers` expecting that `X-Forwarded-Emai

[2020-05-29 13:25] ayushmpb95 opened #587 "Redirect URI getting trimmed or not accepted at all"
The `redirect_uri` passed from nginx to `oauth2-proxy` server gets washed away even though it is passed via `proxy_set_header X-Auth-Request-Redirect $request_uri;`

## Expected Behavior
It shouldn't care about the request_uri and return it back as it is.
## Current Behavior
Right now oauth2-proxy server redirects back to `/`.
## Possible Solution
Not sure
## Steps to Reproduce (for bugs)
I have a

[2020-05-29 15:42] ScottGuymer opened #588 "acr_values is sent empty with each request"
When configuring an OIDC provider if not specified then "" (empty string) is provided as the `acr_values` for an auth code request. The provider i am configuring against (at least) does not accept empty string and errors when this is provided.

There is no way in the config to tell it not to send this end parameter by default

This is new behaviour we encountered when upgrading from 5.0.0. > 5.1.1

[2020-05-29 19:14] JoelSpeed commented on #588
Sounds like we need to check for an empty string before adding the parameter. I know this was changed recently so must have been in the 5.0 to 5.1 release, marking as a bug

[2020-05-29 19:26] mallow111 commented on #586
@JoelSpeed thanks for the explaination, how to turn on the implicit flow for oidc provider, since I need the authorization server return an access  token directly back to the client.

[2020-05-30 02:46] NickMeves opened #592 "Validate Bearer IDToken with proper provider when ExtraJwtIssuers set"
After https://github.com/oauth2-proxy/oauth2-proxy/pull/499 - we no longer have generic IDToken to session extraction for bearer auth -- but we use the provider now.

This makes sense for the first JWTBearerVerifier in the OIDC provider case, the first Verifier in that list is made from the configured provider details.

But for subsequent JWTBearerVerifiers, it seems inappropriate.  They are poten

[2020-05-30 02:46] NickMeves commented on #592
I'll see if I can find time to whip up a potential PR this weekend.

[2020-05-30 11:07] K7-Lenovo opened #594 "How to setup SSO?"
Can I build a SSO with this project? like [sso](https://github.com/buzzfeed/sso) but support Azure.
That I can login all site in my domain in one time by using a sso site.
where sso-site is the OAuth2 provider for sso-proxy and MS Azure is the OAuth2 provider for sso-site.

[2020-05-30 19:00] K7cl opened #595 "Can not redirect when signout"
## Expected Behavior

 redirect the user to the authentication provider’s sign out page

## Current Behavior

just redirect to site home
<a href="/">Found</a>.

## Steps to Reproduce (for bugs)
in config file:
whitelist_domain = ".microsoftonline.com"

send request:
GET /oauth2/sign_out?rd=https%3A%2F%2Flogin%2Emicrosoftonline%2Ecom%2Fcommon%2Foauth2%2Flogout

## Context

It can clear the cookie b

[2020-05-31 09:31] ScottGuymer commented on #588
Yes this was fine in 5.0 and reverting back to that version solved the problem.

I could have a go at fixing it.

Should be simple enough even for my golang skills.. 🤣

[2020-05-31 14:40] JoelSpeed commented on #588
If you have the time to raise a fix, that would be greatly appreciated 😄

Should just be a case of wrapping this in an if statement, and preferably, adding a test case. https://github.com/oauth2-proxy/oauth2-proxy/blob/f7b28cb1d362f54d13379136c37f0edc1303a1b0/providers/provider_default.go#L97

[2020-05-31 15:04] JoelSpeed commented on #580
+1 To @gargath's suggestion, having it on a separate listener would definitely be cleanest.
One thing I would like to request however, is that we set it to be off by default. We shouldn't just be adding extra listeners to peoples applications so I think it's probably best if we have a `metrics-address` flag or something like that, that defaults to `0` which has a special casing of off, and otherwi

[2020-05-31 15:16] JoelSpeed commented on #584
We don't currently plan to include support for Slack. I have reservations over adding support for it.

Perhaps you can explain a little more about why you'd prefer to use Slack as your identity provider over any other

[2020-05-31 15:19] JoelSpeed commented on #374
I guess the solution would be to add some logging in the GitHub provider if the primary email is not verified?

[2020-05-31 20:24] kumekay commented on #306
We still experience this issue, so it will be nice to keep it open for some time.

[2020-06-01 00:07] #375 closed

[2020-06-01 07:28] pyama86 commented on #584
I think that github.com(or Enterprise) and Google oAuth Provider are often used in companies.

However, if there is a business-to-business transaction, there may be cases where the other company employee wants to access our company server(for example outsourcing)
In that case, github.com and G Suite must add accounts for a fee, but Slack can add up to 5 external users for free.
https://slack.com/i

[2020-06-01 17:04] chkohner commented on #459
Not stale.

[2020-06-01 18:41] JoelSpeed commented on #586
If you want the OIDC ID Token, you can use `set-authorization-header` or `pass-authorization-header` to get the ID Token in a header in responses/proxied requests

[2020-06-01 18:43] JoelSpeed commented on #594
You may want to look at [Dex](https://github.com/dexidp/dex) and use that in conjunction with this project, if I've understood what you're trying to achieve, you would have Dex as your internal IDP, connected to Azure, then OAuth2 Proxy would be a client of Dex and provide the authentication for your other sites

[2020-06-01 18:47] mallow111 commented on #586
@JoelSpeed  let me give a try, thanks!

[2020-06-01 18:47] ScottGuymer commented on #588
Opened #598

A quick change to the code to validate thinking.  Would appreciate feedback on it and anything you see that needs changing

Still need to update docs a little

[2020-06-01 18:49] JoelSpeed commented on #595
We don't currently support single sign out, so the `sign_out` is only meant to clear the cookie of our sessions.

You may be interested in the discussion in #506

I think this is a feature we want to support, and I know there has been some discussion before about it, there was a workaround found at the time, but I'm not sure what it was right now, apologies.

[2020-06-01 18:53] JoelSpeed commented on #584
If your use case is that you want to provide login for your own employees and some external customers, we have authorization controls in place for this kind of thing already.

Eg, you could add a GitHub user as a collaborator to a particular repository, or if logging in via google, you could add their email to the authorized emails file I believe.

Personally, if it were me doing this, I wouldn't

[2020-06-02 00:05] K7-Lenovo commented on #595
Thanks, the redirection does not work is a known issue?

[2020-06-02 00:10] K7-Lenovo commented on #594
Thanks, l‘ll try it.

[2020-06-02 00:10] #594 closed

[2020-06-02 05:33] pyama86 commented on #584
This is true for use in open source projects, but I think that Github Enterprise and G Suite used by companies can't handle this kind of thing.
For example, You have to share Github Enterprise with github.com and you should publish G Suite apps from the internal limitation to the outside.

[2020-06-02 14:57] kevin93w opened #599 "Azure AD: Invalid Account"
## Expected Behavior
After logging in using our Azure AD provider and tenant, I would expect to be redirected back. It should set the cookie and show me the contents of the upstream container.

## Current Behavior
After successfully logging in, I get redirected to the callback URL. It does not set the cookie and returns "403 Permission Denied: Invalid Account".

## Possible Solution
I've been tryi

[2020-06-02 16:26] obikay200 opened #600 "Specify a group claim for use with oidc provider"
## Current Behavior

Currently you can set a custom userid claim using --user-id-claim ( ref 5.1.1)
m using the oauth2_proxy in conjunction with nginx.

i would like to be able to pass group from a custom claim to upstream services.

for example
--group-claim=cognito:groups

and have the results available in X-Auth-Request-User-Groups

[2020-06-02 17:14] JoelSpeed commented on #600
I would like to see this implemented, definitely in favour of having this customisable

[2020-06-02 17:17] #588 closed

[2020-06-02 17:19] JoelSpeed commented on #595
It's known to the maintainers, let's keep this open as an issue to track it, hopefully we can come up with a solution or workaround at some point. I suspect it will end up being quite complex since sign out URLs aren't going to be consistent across providers

[2020-06-02 17:51] JoelSpeed commented on #592
Good catch on this bug @NickMeves, we will need to get this merged before the v6.0.0 release

Thanks for raising the issue with such detail and raising a PR so quickly too, really appreciate doing it this way around 🙂

[2020-06-03 08:48] kevin93w commented on #599
Finally found the issue by debugging the original project locally using the same environment variables. As can be seen above, I had to put additional quotes around my wildcard EMAIL_DOMAINS because else Kubernetes would not accept the wildcard as a variable.

I now pass my wildcard using a argument in stead of a environment variable and that fixed the issue.

I think the logging can use some impro

[2020-06-03 08:48] #599 closed

[2020-06-03 16:08] JoelSpeed commented on #584
From the next release, we have a GitHub user option, all this does is check that the authenticated user has the right GitHub username, this would get around letting having to add them as a collaborator.

I'm not following this bit sorry

I know users have definitely gotten around these limitations in the past, by allowing users outside of G Suite organisations to log in, I will try to find the rel

[2020-06-03 16:10] JoelSpeed commented on #599
I believe if you put the value in the environment as `"*"` (without the square brackets), then this would work also

[2020-06-03 17:50] dchen71 opened #602 "Github enterprise does not enforce SSO"
## Context

I am trying to have a two layered approach to logging into my web application. In one layer, you must have a specific email domain and be part of a specific Github organization as part of my github enterprise account to access the first layer. The second layer, is to enforce my company's SSO policy as part of Github Enterprise to be able to identify as the user. The first part works an

[2020-06-03 18:29] JoelSpeed commented on #602
HI @dchen71, thanks for raising this question, though I'm not sure I particularly understand

This implies you are having a second OAuth2 Proxy? Is that correct?

Can you upload a screenshot/provide more details on this, I'm not aware of being able to skip anything so I'd like to understand exactly where this is happening?

[2020-06-03 18:42] dchen71 commented on #602
There is only 1 oauth2 proxy. My company uses a two factor authentication to verify access to any enterprise github organization and associated repo. The picture below should make this more clear.

![ex](https://user-images.githubusercontent.com/4143686/83675612-2dc44d00-a58e-11ea-995f-a5387f310099.png)

The picture above is expected since I am using organizational filtering scope which checks for

[2020-06-03 19:07] EvgeniGordeev opened #603 "local-environment: nginx option doesn't authenticate"
## Expected Behavior

[code]

## Current Behavior
1. nginx starts before oauth-proxy and thus throws an error:
[code]

2. after second `make nginx-up` authentication flow doesn't work:
* go to http://httpbin.oauth2-proxy.localhost
* redirected to http://oauth2-proxy.oauth2-proxy.localhost/
* after successful login to http://dex.localhost:4190/ the redirect back to http://oauth2-proxy.oauth2-proxy.

[2020-06-03 19:43] JoelSpeed commented on #602
Ok this makes slightly more sense now. I've not seen this before and I can't find any reference in the documentation to it. Normally you have to click authorize, I've never seen a continue button before.

Can you try reviewing the GitHub configuration for you OAuth app, perhaps there is some configuration there that disallows this button

In the mean time, you could look at our `--github-org` flag

[2020-06-03 19:58] dchen71 commented on #602
I emailed github support about it and it doesn't seem like the continue button can be removed from their side. I am wondering if this is an issue with some parameter of oauth2-proxy causing scoping issues or if it's potentially coming from nginx-ingress.

The `github-org` flag actually is necessary to go to this step. Without that scope, any user can sign up/log into the application. So technicall

[2020-06-04 01:53] pyama86 commented on #584
That's amazing! But I think Github Enterprise needs another approach, Because Github Enterprise charges per user.

As you said, you don't necessarily have to add an account to G Suite if you publish your application externally, but that is a trade-off with the complexity of managing an account at your company.

[2020-06-04 08:39] JoelSpeed commented on #475
This is still relevant, I think we should try to implement this

[2020-06-04 16:41] #558 closed

[2020-06-04 18:41] JoelSpeed commented on #603
Hey @EvgeniGordeev, could you just confirm for me, this is when trying to run the `v5.1.1` image as is default or trying to run an image built from master at the commit specified?

modifying /etc/hosts becomes obsolete.

This is awesome! I didn't know this existed, I definitely think this would help us out so non-chrome users don't have to add host entries!

[2020-06-04 18:57] JoelSpeed commented on #603
I've found the issue, we updated the config with one of the breaking changes due in the next release, for `v5.1.1` this option should read `cookie_domain` without the trailing `s`

https://github.com/oauth2-proxy/oauth2-proxy/blob/160bbaf98e603fc4dfa18b19e39eccb05b0ad416/contrib/local-environment/oauth2-proxy-nginx.cfg#L11

[2020-06-04 20:50] JoelSpeed commented on #602
It could well be, I haven't managed to find any documentation about this though

[2020-06-04 20:59] JoelSpeed commented on #584
Based on your examples above, which are business to business transactions, I'm not convinced the extra costs of a user per month or so would be that prohibitive, in the grand scheme of things, the amount of money a company would spend on this kind of outsourcing would dwarf the costs of an extra few GitHub users or temporary GSuite accounts

But I can see now that my other suggestions won't work.

[2020-06-05 00:07] #348 closed

[2020-06-05 02:17] mallow111 commented on #586
@JoelSpeed, in our production enviroment, we somehow got a oidc-issue-url that cannot be reached directly, we need a http proxy before it, for instance, ideally, in our production host, we are supposed to do curl  -v https://our-oidc-issue-url, but in reality, we need to do curl -I -k -x http://public0-proxy1-0-avc:1234 -L https://our-oidc-issue-url in the host, is there any flag in oauth2-proxy t

[2020-06-05 03:04] EvgeniGordeev commented on #479
here is an example for docker-compose when keycloak is used as OIDC provider https://github.com/oauth2-proxy/oauth2-proxy/pull/604.

[2020-06-05 03:06] EvgeniGordeev commented on #603
Hey @JoelSpeed , it tooks some time - keycloak is very much enterprice-ish - but here is another example for keycloak as IDP as well as `.localtest.me` https://github.com/oauth2-proxy/oauth2-proxy/pull/604.

Would be easier with nginx but I found a workaround with `alpine/socat` to make it work in the container as well as outside of it.

[2020-06-05 03:11] EvgeniGordeev commented on #603
@JoelSpeed I am using the default image `v5.1.1.` as it is defined in docker-compose.yaml.

[2020-06-05 04:49] pyama86 commented on #584
When performing authentication using google's G Suite, there is a setting whether to make the oAuth application closed to our company G Suite's user or to make it externally disclosed.
Do you know this?

[2020-06-05 23:39] mallow111 commented on #586
@JoelSpeed  never mind, I figured out how to add http proxy, we can add env in deployment file with http proxy url, I will close this. Also I submitted a PR to implement oidc implicit work flow.

[2020-06-05 23:39] #586 closed

[2020-06-06 00:07] #439 closed

[2020-06-06 12:26] JoelSpeed commented on #366
We still need to fix this as far as I remember

[2020-06-06 12:39] JoelSpeed commented on #603
Because you only have a single host example, you don't actually need to set the cookie domain, so the option is being ignored by the code and it's just setting to whatever the request host is, which happens to work in your example case

[2020-06-06 16:54] sitaramkm commented on #518
@ghostsquad have you managed to get oauth2 proxy to work with Okta. I had success with GitHub but running into issues with the right set of args in the OAuth2 proxy deployment resource. Also, not sure if any additional annotations are needed for the Ingress resource. Can you share what you have configured ? The documentation unfortunately is lacking a bit for Okta and OAuth2 proxy.

On a separate

[2020-06-07 08:46] tobiasr commented on #477
+1

I'm also in a situation where I would like to whitelist some paths from authentication on kubernetes and I had to do some digging to realise why the `skip-auth-regexs` setting didn't work.

In the end I have a solution working with an extra ingress as suggested here.

To me it would have been better if the configuration solution that I verified worked when running the proxy locally (but didn't

[2020-06-07 11:41] JoelSpeed commented on #584
I haven't set up a Google project in a while, previously you would just send a hosted domain parameter. Is this what you're referring too?

[2020-06-07 12:18] pyama86 commented on #584
Would you check below.
https://support.google.com/cloud/answer/6158849?hl=en

I think that G Suite user will use it in most cases.

[2020-06-07 12:26] JoelSpeed commented on #584
This seems to be a new feature since I last configured Google OIDC, seems to have the same effect as the hosted domain parameter, except it is enforced Google side, rather than by the OAuth2 Proxy

[2020-06-07 12:30] pyama86 commented on #584
I understand.
If you're a G Suite administrator for a company, don't you want to avoid registering external users individually when possible?

[2020-06-08 00:07] #135 closed

[2020-06-08 07:20] jonerer opened #607 "How to deal with users bookmarking the OIDC provider?"
Thanks for a great project! We've had great use of it, and the code has been very readable for when we need to dig deeper.

## Expected Behavior

We've set up an oauth2-proxy to a OIDC provider (AWS Cognito). Normally, for an unauthenticated users, the auth flow is like this:
- user goes to our app
- gets redirected to oauth2-proxywhich sets "_csrf"-cookie
- gets redirected to the OIDC provider
-

[2020-06-08 14:26] JoelSpeed commented on #607
I've never heard of anyone doing this before 😅  I can't really think of a workaround apart from telling the users not to bookmark the login page, I suspect you'd have the same issue with other SSO type projects as well.

Has this been hit by many of your users?

[2020-06-08 15:05] sitaramkm commented on #423
@pacoja84 thanks for your comments. I have been troubleshooting Okta + Oauth2 proxy for a few hours and eventually stumbled on your post to look at the nginx ingress controller logs and I see the below error. Quick question - were you able to resolve this by adding the proxy buffer annotations to the ingress controller pod or the ingress controller svc? Wasn't sure which specific resource you adde

[2020-06-08 16:33] kfox1111 commented on #470
I was under the impression based on this graphic:
https://cloud.githubusercontent.com/assets/45028/4970624/7feb7dd8-6886-11e4-93e0-c9904af44ea8.png
that multiple auth providers could be configured at once and the user could choose between them, like Keycloak does. After digging a bit recently, I'm not sure that actually is the case? Is that a planned/existing feature?

If that's not the case, the

[2020-06-08 16:36] pacoja84 commented on #423
Hello,

annotation is on the ingress.

Let me share with you mine:

`apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  annotations:
    kubernetes.io/ingress.class: nginx
    nginx.ingress.kubernetes.io/auth-url: "http://test-ingress-openid-oauth2-proxy.{{ .Values.ingress.namespace }}.svc.{{ .Values.ingress.internalClusterSufix }}:4180/oauth2/auth"
    nginx.ingress.kubernetes.io/auth-signi

[2020-06-08 19:09] lulzmachine commented on #607
Yeah it took quite a bit of debugging. But I _think_ this is what happens. I can reproduce it this way at least.

We don't have a high customer count, so I can't provide any statistical analysis. But it happens often enough that we want to do something about it.

Does adding a "--csrf-failure-redirect-url" make sense to you?

[2020-06-08 19:39] sitaramkm commented on #423
@pacoja84 your information about the Ingress was perfect. Thank you!
I can tell you for sure which one definitely needs the annotations. It's the Ingress pointing to the oauth2-proxy service. I had it just for the other one and it does not work.

[2020-06-09 08:49] Kamilczak020 opened #608 "Introduce example kubernetes deployment & documentation"
Currently, there is no documentation and/or examples on how to deploy oauth2-proxy on kubernetes.
This would be a neat addition, especially for begineer k8s users to have something to base off of.

I'd gladly work on both the example manifests and documentation, provided it's a desired feature.

[2020-06-09 19:21] chkohner commented on #456
Not stale

[2020-06-09 20:23] JoelSpeed commented on #456
@chkohner Do you think this would be solved by the new configuration introduced in #591, once that is exposed to the end user at least?

[2020-06-09 20:29] JoelSpeed commented on #608
@evgenigordeev and I were discussing doing an example of a K8s installation in https://github.com/oauth2-proxy/oauth2-proxy/pull/604#issuecomment-640255333, perhaps you could colloborate on getting proper documentation and an example?

I would love to have to decent documentation and examples of K8s manifests for the project

[2020-06-09 20:42] chkohner commented on #456
It's hard to to tell without really digging into that change, but it seems that you're at least attempting to account for it using the `path` element in that new setup. One thing worth checking is whether you're correctly doing the query arg combining in that rewrite, as it's required in some CDN scenarios (see #460 for examples).

[2020-06-09 21:02] JoelSpeed commented on #607
I wonder if this could somehow be linked with the work being undertaken in #605?

[2020-06-09 21:07] JoelSpeed commented on #470
https://cloud.githubusercontent.com/assets/45028/4970624/7feb7dd8-6886-11e4-93e0-c9904af44ea8.png
that multiple auth providers could be configured at once and the user could choose between them, like Keycloak does. After digging a bit recently, I'm not sure that actually is the case? Is that a planned/existing feature?

This is not currently the case, you can only use a single provider right now.

[2020-06-09 23:20] Kamilczak020 commented on #608
My idea for this would be to:

1. Introduce example manifests required for full setup of the oauth2_proxy
You could have a sneak peek into my current setup here:
https://github.com/Kamilczak020/ansible-roles/tree/master/roles/security/oauth2-proxy

It would just be a no-ansible solution of course, pure manifests, and likely a statefulset instead of a deployment.

2. Introduce documentation explain

[2020-06-09 23:46] kfox1111 commented on #608
There is a helm chart available. I typically use that to get it loaded into our clusters quickly/easily. Would that be a good place to start?

[2020-06-10 07:41] Kamilczak020 commented on #608
I personally dislike helm, and I prefer not to use it - but that's preference.
But when it comes to creating a documentation about a k8s deployment, I think it would be more valuable to resort to plain ol' manifests, which are easily readable and configurable.
The helm chart could be added as an additional section in the documentation, but since it hides implementation - I believe it should not be

[2020-06-10 07:43] riupie opened #609 "How to redirect my Kubernetes Dashboard to Oauth Proxy?"
I want to use Dex as authentication for my Kubernetes Dashboard. This dex integrate with LDAP. It works successfully when I combine it with Gangway to generate my kubeconfig file. But it confused me when it comes to kubernetes dashboard.

By default, if I want to expose my dashboard I will expose it via Ingress controller:

[code]

Then, when I want to use oauth2 so it will authenticate to my Dex,

[2020-06-10 07:59] rabbers commented on #607
The function of #605 is to recognise error conditions from the identity provider and provide an automated redirect to a url (normally back to the identity provider). A CSRF failure redirect would be in response to an application condition within oauth2_proxy.

[2020-06-10 08:11] rabbers commented on #429
I have recently run into this problem. I am using OIDC to authenticate with Azure B2C, but I can see that the default functin in OIDC is to mark some items as "Not Implemented". This is not on optional properties either.

For my scenario I can see that Microsoft documentation suggests that the content of their "id_token" generally offers MORE information than their UserInfo endpoint - I can also s

[2020-06-10 23:37] dchen05 commented on #602
In my nginx ingress `auth-signin`, I have https://auth.int.{{domain}}/oauth2/start?rd=https%3A%2F%2F$host$request_uri

In the continue link as part of the callback response_type and request_uri, I see `skip_sso=true`. Changing that to false fails as expected. Is my redirect with nginx correct or is there another redirect I can do?

[2020-06-10 23:38] dchen71 commented on #602
In my nginx ingress auth-signin, I have https://auth.int.{{domain}}/oauth2/start?rd=https%3A%2F%2F$host$request_uri

In the continue link as part of the callback response_type and request_uri, I see skip_sso=true. Changing that to false fails as expected. Is my redirect with nginx correct or is there another redirect I can do?

[2020-06-11 08:36] jonerer opened #611 "Multitab authentication race condition failure"
When trying to authenticate with oauth2proxy with an OIDC provider on multiple tabs simultaneously, there is a race condition. This happens when you for instance restart a web browser with multiple tabs open on the same oauth2-proxy-based app.

There are two issues: One issue occurs because the "_csrf"-cookie is cleared in the OAuthCallback function in oauthproxy.go. And one occurs because the old

[2020-06-11 12:07] zucaritask commented on #502
This comment helped me get my setup working. I extracted the IDToken from a user initiated session and I can pass it as an Authorization header on `curl` and I get access to the upstream.

But, if I want to automate that process from a non-user-initiated flow ("client_credentials" flow), why can't the Authorization header be an AccessToken instead as the one returned from:
`https://login.microsoft

[2020-06-11 13:17] fllaca opened #612 "New Feature: Support Oauth2 token introspection as per rfc7662#section2.1"
## Expected Behavior

When calling the endpoint with directly an opaque (or not) access token, Oauth2Proxy should be able to validate the token. Using an `/introspect` endpoint it can fetch metadata from the context of the token and fill headers like X-Auth-Request-User. The mechanism is described at https://tools.ietf.org/html/rfc7662#section-2.1.

## Current Behavior
Only the cookie set by oauth

[2020-06-11 13:24] fllaca commented on #315
This is ok if the access token is a JWT token, but when it's an opaque token the `-skip-jwt-bearer-tokens` cannot be used.

[2020-06-12 00:45] chkohner commented on #455
Not stale.

[2020-06-12 07:48] ayushmpb95 commented on #587
@JoelSpeed Any you help here please?

[2020-06-12 08:22] Kamilczak020 commented on #608
@JoelSpeed Is there any specific way in which you'd like this to look?

[2020-06-12 09:30] JoelSpeed commented on #608
Personally, I've never really used helm all that much, so I would not really want to be responsible for maintaining a helm chart. That said, as @kfox1111 says, there is already one available, so we should probably document its availability.

I think I would prefer plain K8s manifests, I agree that they are easily readable and I think that they lower the barrier by not requiring the use of an exter

[2020-06-12 09:34] JoelSpeed commented on #587
@ayushmpb95 Have you configured whitelist domains at all? Are all requests being sent to the same domain?

In the latest version, if there's a problem with the redirect, it should be logging what that issue is, have you noticed any logs that suggest why the redirect isn't being accepted?

FYI, `#` in a URL starts the fragment, this is not sent as part of the request by a browser, so if you go to a

[2020-06-12 09:43] JoelSpeed commented on #611
This is a common problem across many implementations of this kind of project. I agree it's an issue but I don't know how we can tackle this right now.

Perhaps we can have the proxy detect that a valid session has been created in the interim and not error out, if we go that route, we would need to have a good think about the security implications of that

[2020-06-12 09:46] JoelSpeed commented on #602
By this you mean the URL constructed and sent as the redirect from OAuth2 Proxy?

As far as I can see your redirect is correct

[2020-06-12 09:48] JoelSpeed commented on #429
I think I would like to see this kind of thing across all providers. One thought I had was by extending the sessionstate structure to include an additional claims `map[string]interface{}`, we could allow users to request their provider to try to extract extra claims and place them in this map. Then the userinfo endpoint could grab the extra claims from there

[2020-06-12 09:51] JoelSpeed commented on #609
Can you check the OAuth2 Proxy logs to see what URL it sees as being requested? I wonder if NGINX is rewriting the request so that the URI OAuth2 Proxy sees is `/auth` instead of `/oauth2/auth`

[2020-06-12 10:43] ayushmpb95 commented on #587
Exactly this is what is happening. Can't do much here as it is not even passed to the request.
Thanks for your help. Closing this.

[2020-06-12 10:43] #587 closed

[2020-06-12 13:07] rabbers commented on #429
I really needed this for OIDC, so have put a draft PR forward (#610). I've had to add a method to the Provider interface. I came to the same conclusion on map structure, but in mine the provider method returns that structure and OAuthProxy picks it up - this means that there is no change to the SessionState. It's there if you think you can use it.

I'm not sure what expanding the SessionState woul

[2020-06-12 14:01] JoelSpeed commented on #456
I will have to take a look into the query arg thing, this is when you want to provider your upstream with query arguments by default, and then also add some from the user request right?

Eg, all requests to upstream go to `http://<upstream>/bar?arg1=arg`, where arg1 is some internal value for authentication or something?

[2020-06-12 15:02] JoelSpeed commented on #607
Hmm yes I see. I wonder what other projects or sites do when their is a CSRF failure, do we think there is precedence for a redirect if CSRF fails?

[2020-06-12 16:10] riupie commented on #609
My Ingress:

[code]

It seems strange because traffic never hit my proxy:
[code]

[2020-06-12 16:50] dchen71 commented on #602
Yes, the URL constructed for the redirect. It has the organization and email scope along with the skip_sso=true.

[code]

[2020-06-12 16:52] chkohner commented on #456
Yep. For instance, when serving [protected content via Verizon CDN](https://docs.microsoft.com/en-us/azure/cdn/cdn-token-auth), you need an authentication token.

[2020-06-12 17:33] JoelSpeed commented on #602
That URL is contstructed here https://github.com/oauth2-proxy/oauth2-proxy/blob/1683aa59780cd910e49561e7c046fe1782649fc8/providers/provider_default.go#L92-L111

As you can see, it's not setting `skip_sso`, but does include params from the login URL that you've set, can you double check you haven't set it in your login URL?

[2020-06-12 17:51] JoelSpeed opened #614 "GCP HealthCheck option should be deprecated"
## Expected Behavior

We should not duplicate behaviour

## Current Behavior

There is an explicit GCP HealthCheck middleware that is filtering requests when the GCP HealthCheck option is provided.

This checks that the request path is `/readiness_check` or `/liveness_check`, or that the user agent is the Google user agent, and responds with an `ok` response if any of these are true.

I would argu

[2020-06-12 18:23] EvgeniGordeev commented on #609
@riupie here is a working example for kubernetes https://github.com/oauth2-proxy/oauth2-proxy/pull/615.

as for your configuration:
[code]
make sure https://dashboard.example.com/oauth2/start is accessible, if successful it should redirect to dex. Try http://oauth2-proxy.localtest.me/oauth2/start from the example above.

[2020-06-12 18:45] EvgeniGordeev commented on #608
@JoelSpeed here is a helm example https://github.com/oauth2-proxy/oauth2-proxy/pull/615 utilizing the official [oauth2-proxy](https://github.com/helm/charts/tree/master/stable/oauth2-proxy) helm chart. It could've been smaller if httpbin had a helm chart

Although helm is an extra dependency but for the sake of quick bootstrapping an example I don't see how a lengthy K8s manifest is easier as oppo

[2020-06-12 19:51] stefansedich commented on #257
+1 on a feature like this, am playing around with Dex and would love to validate GH team membership in individual oauth2-proxy instances for finer grained access.

[2020-06-12 19:57] stefansedich commented on #600
+1 was just looking at how to do this, would be very handy for my case where I want a single GH App and Dex instance, and manage group level perms at the oauth2-proxy level.

[2020-06-12 21:27] stefansedich commented on #600
@obikay200 @JoelSpeed just opened https://github.com/oauth2-proxy/oauth2-proxy/pull/616 which adds this support, would be interested to hear your thoughts.

[2020-06-12 21:56] NickMeves commented on #482
Something on my mind after I looked at tuning up the redis session store that I might take a stab at reorganizing:

We could potentially split out all common logic dealing with encrypting the data, generated a session ticket for the cookie, and the like -- and make that common for all non-cookie session stores.

Then any new session store interfaces just need to know how to initialize and implemen

[2020-06-12 22:46] kskewes commented on #614
Not using this functionality but it took me on a detour when doing silent ping PR.
Ripping out and providing migration docs seems reasonable.
Could pick up if so.

[2020-06-13 00:22] dchen71 commented on #602
For the loginurl, are you referring to the callback url? The callback url is `https://auth.int.{{domain}}/oauth2/auth`. But none of the urls during any of the processes have `skip_sso` in them so the continue button does actually add it after the scope. I am not the most familiar with the internals of oauth but would I not be able to modify the authorization redirect url to forcibly include skip_s

[2020-06-13 03:31] riupie commented on #609
@EvgeniGordeev I accessed https://dashboard.example.com/oauth2/start and yes it redirect to dex login. I'll look your example.

[2020-06-13 08:47] JoelSpeed commented on #614
I've also been considering reworking the health checking and this may be relevant if we are ripping this out. What if we move the `ping` logic to a middleware (like the GCP HealthCheck) that checks the path or the user agent and returns the ping response, or if not, continues to the next flow. If the ping was implemented there, I think when `--silence-ping-logging` is enabled, we could register th

[2020-06-14 11:37] JoelSpeed commented on #482
@NickMeves I had similar thoughts before, and agree, would definitely make implementing different session stores easier. Seems like a reasonable refactoring project to me

[2020-06-14 12:00] JoelSpeed commented on #608
@EvgeniGordeev I'll take a proper look at the PR hopefully later today, thanks for working on that!

I guess one of my concerns with helm previously was how hard it was to configure things by using values files and having to create really complex templates. It looks like this might be easier in the example you've created (I had a quick scan) to update values as you're just setting up a config file

[2020-06-14 12:39] JoelSpeed commented on #612
This makes sense to me, do you have any idea how it would be integrated yet?

[2020-06-14 14:54] neuralsandwich opened #618 "Access Token and Authorization [Clarification/Confusion]"
I believe `--[set|pass]-authorization-header` and `--pass-access-token` are confusingly named. In regards to OAuth and OpenID, I'd expect to have the authorization header that was sent to my application to be the access token. I may be mistaken but I can't seem to find any material on sending ID tokens via that header.

I know what I am suggesting would break setups going forward so I'd be _really

[2020-06-14 20:07] JoelSpeed commented on #614
@kskewes I had a go at my theory from the above comment in #620, it currently preserves the flag, though we could/should still be deprecating it in the future. Would certainly appreciate a review from you if you have the time

[2020-06-15 08:01] rezagh2 commented on #428
@josephcf what did you set the same-site to ?

[2020-06-15 14:50] riupie commented on #609
I found the issue. It wont redirect to my dex because I use vanilla NGINX Controller which didnt support  `nginx.ingress.kubernetes.io/auth-url` and `nginx.ingress.kubernetes.io/auth-signin` annotation. I didnt aware about that before. But I stucked on another error, maybe I will open it another issue.

[2020-06-15 14:51] #609 closed

[2020-06-15 15:24] riupie opened #621 ""Login session expired" when login to Kubernetes Dashboard"
I combine dex + oauth-proxy + k8s-dashboard. I think there is no issue with my dex because I can authenticate it with another service (Gangway). But when I access my dashboard, after login to Dex it get error "Bad request: Login Session Expired".

Oauth2-proxy error logs:

[code]

Dex logs:
[code]
Deployment:
[code]
Ingress:

[code]

Is there any parameter should be pass to dex from oauth config?

[2020-06-16 00:55] K7cl commented on #595
OK, Thanks. Look forward to updates

[2020-06-16 00:55] #595 closed

[2020-06-16 04:06] rezagh2 opened #622 "Invalid Account - 403 Permission Denied"
Setting up oauth2-proxy 5.1.1 on Minikube and a locally installed Dex. I assume this should be the simplest use case for oauth2-proxy.

For the sake of completeness I should add that there is also an Envoy filter (istio 1.6) that intercepts traffic and forwards to the auth proxy.

## Expected Behavior

Expect the callback to continue to the destination url after successful login.
The logs of Dex s

[2020-06-16 14:13] Llewellin opened #623 "algorithm to decode cookie?"
I've followed along the tutorials, but I really cannot find the answer for this. This might be a very easy question, but I am really confused on how to solve it.
I'm using `google oauth2` + `oauth2-proxy` + `k8s` + `nginx ingress`. I am able to get cookie `_oauth2_proxy` in my service, but i don't know how to decode it. I've set `cookie-secret` already but I don't know what kind of algorithm cooki

[2020-06-17 00:07] #470 closed

[2020-06-17 07:58] JoelSpeed commented on #129
This was implemented, closing

[2020-06-17 07:58] #129 closed

[2020-06-17 16:55] JoelSpeed commented on #623
Hi @Llewellin, You shouldn't be trying to decode the cookie in your application and instead, should be using options like `--set-xauth-request` or `--pass-xauth-request` to have the OAuth2 Proxy project inject headers into the request or response.

We are currently making a lot of changes to the sessions as they are encoded in cookies and would not be considering these breaking changes as we consi

[2020-06-17 17:01] JoelSpeed commented on #622
The error that you are returning is becuase the user's credentials did not pass the validation built in to the OAuth2 Proxy. In this case, it was because the proxy did not believe the user's email or groups matched those that you have allowed.

Could you try setting the `--email-domain="*"` and trying again?

[2020-06-17 17:09] JoelSpeed commented on #618
When this was originally implemented, it had the Kubernetes use case in mind, for example, the Kubernetes Dashboard project expects the ID Token in the authorization header.

Long term, I would like to remove all of the existing set/pass header options and make a more flexible configuration that allows users to define their own header to value mappings, however, before we do that, we really need t

[2020-06-17 22:16] rezagh2 commented on #622
Thanks @JoelSpeed for your reply. Tried that but still fails:
![image](https://user-images.githubusercontent.com/57375907/84955924-80c80380-b13b-11ea-94c1-3374c4f18389.png)

[code]
my latest code is here: https://github.com/rezagh/istio-auth
should i be worried about the cross origin warning?

[2020-06-17 23:24] rezagh2 commented on #622
In fact it worked with i put --email-domain=* instead of --email-domain="*"
Thanks for the tip. This can be closed now.

[2020-06-18 08:18] JoelSpeed commented on #622
That final comment is quite interesting, does that mean `--email-domain=example.com` (without quotes) also works?

[2020-06-18 11:32] br0ziliy opened #625 "Adding "groups" to the scope results in "Invalid or expired code parameter." error from Dex"
## Expected Behavior

We're using Dex to provide us a group-based access control to k8s cluster resources through LDAP groups. OAuth2 proxy does not request groups as part of the scope; our expectation is that with `scope = "openid profile email groups"` in the oauth2-config file, authentication should work in an app that's utilizing oauth2-proxy.

## Current Behavior

What happens instead is that

[2020-06-18 11:50] Llewellin commented on #623
@JoelSpeed
Thank you then I get the idea.

One more question, in the case of `google oauth2`, some data has also returned from `https://www.googleapis.com/oauth2/v2/userinfo?access_token=` endpoints. With the current header setting, I can only get `user id` and `user email` from the headers. How can I get those additional info like `given name`, `family name`, `locale` or `picture` via header sett

[2020-06-18 17:31] JoelSpeed commented on #623
I believe you'd have to add additional scopes but I don't have experience myself so I'm not sure what those are

[2020-06-18 17:36] JoelSpeed commented on #621
Everything looks ok from our side, can you verify that once you've authenticated and visit `https://dashboard.example.com/oauth2/auth` that it returns a blank page and that is has a response header with the authorization header in it? You can verify that with jwt.io

[2020-06-18 18:10] stefansedich commented on #612
This would be handy for us too, I am just thinking about how we can create a way to issue users with long lived "Access tokens" for APIs and this would make that task far easier.

[2020-06-18 22:50] phantomjinx opened #626 "Issue with keycloak provider"
## Expected Behavior
Successful authentication followed by passing of User principal to sibling spring-boot server.

## Current Behavior
* Container setup on minikube:
  - keycloak: standard setup of keycloak configured as part oauth2_proxy documentation;
  - oauth2_proxy: configured to take a secret containing settings as per [this](https://github.com/phantomjinx/syndesis/blob/k8-experimenting/in

[2020-06-18 22:59] rezagh2 commented on #622
yes it worked ! interesting...

[2020-06-19 09:28] JoelSpeed commented on #388
Still needs attention

[2020-06-19 15:17] JoelSpeed commented on #622
That's very weird, it's as if the flag library isn't stripping the quotes, which I would have expected it to do, but maybe it doesn't 🤔

[2020-06-19 15:35] JoelSpeed commented on #622
I had a quick play around and can't work out how the flag parsing library is playing up like this, it suggests to me that the `os.Args` are keeping the quotes in which is very weird. Must be something to do with being in a docker image

[2020-06-19 15:41] JoelSpeed commented on #622
I've worked out the problem, you've got quotes in a yaml string, so `--email-domain="*"` is interpreted by the yaml encoder as `"--email-domain=\"*\""`, meaning those quotes are escaped by the shell and passed into the codebase as `"*"`. While this is annoying, I don't think we should be doing anything to fix it explicitly, apart from reminding people not to do it

[2020-06-21 07:21] riupie commented on #621
[code]
I decode it:

[code]
So there is no problem from the oauth? Is it Ingress problem or from my dex? I have no clue.

[2020-06-21 21:31] shinebayar-g opened #627 "Flag provided but not defined: -github-user?"
I'd like to use github provider with using --github-user flag. Started oauth2_proxy with following flags, but it's not starting?

[code]

## Expected Behavior

Authenticate successfully with my github account

## Current Behavior

It's giving error:

[code]

Also why its showing all options with single dash `-` while [configuration](https://oauth2-proxy.github.io/oauth2-proxy/configuration#command

[2020-06-21 21:36] shinebayar-g commented on #546
I can migrate your travis configuration to github actions if you want

[2020-06-21 21:52] shinebayar-g commented on #627
Looks like `--github-repo` flag is also missing. I'm getting `flag provided but not defined: -github-repo` error.

[2020-06-22 13:49] LongLiveCHIEF commented on #354
@Fez29 by "struggling" did you by chance mean you were getting Access token validation errors back from the graph api with the message `Invalid audience`?

[2020-06-22 13:54] yaakov-berkovitch commented on #127
Hi,

i'm still falling with keycloak as OIDC server. After successful authentication, the redirection to oauth2/callback failed as below:
[code]
Any idea about how to fix it ?

Thanks.

[2020-06-22 19:28] JoelSpeed commented on #621
From the OAuth2 Proxy side all looks good, I'd suggest the problem is likely to be on the Dex side but I'm not sure

[2020-06-22 19:29] JoelSpeed commented on #546
If you have experience with actions, that would be appreciated

[2020-06-22 19:38] JoelSpeed commented on #627
New version is imminent, I think there just a single PR left on the waiting list and I'm waiting for review from another maintainer for that ideally

Apologies that the docs are tracking master instead of the latest release, we do have an issue to fix that but we haven't gotten around to it just yet (See #550)

[2020-06-22 19:42] JoelSpeed commented on #127
@yaakov-berkovitch Please open a new issue about this rather than using an old one. Please also check the logs at the time of the authentication, that is the internal server error page for OAuth2 Proxy so it should have logged that there was an error and that should help narrow down the problem

[2020-06-23 07:58] yaakov-berkovitch opened #628 "Keycloak as provider - Got error http: named cookie not present after authenticated"
Please jump directly to  "Update-3". I managed the issue reported in the title.

Deploy oauth2-proxy on Kubernetes cluster, customized it to work with the Keycloak server running also in the K8s cluster.
Deployed a dummy hello-world service, that user tries to access from browser.
The first part that consists of detecting the user is not authenticated, works fine. I got the keycloak login page. Bu

[2020-06-23 10:34] iamfarsk opened #629 "type error while retrieving "email_verified" claim"
My OIDC provider returns "email_verified" claim as string due to which I am getting type error while retrieving "email_verified" claim during callback. OAuth2-Proxy has a strict type check for boolean value.

Can we allow string datatype for this claim and convert it to boolean?

- Version used: Latest

[2020-06-23 10:45] yaakov-berkovitch commented on #127
you are correct - I opened a new issue related to error "http: named cookie not present". That's the real issue i'm facing now.

[2020-06-24 04:58] shinebayar-g commented on #550
I guess Github pages doesn't support multiple versions/deployments. Does https://github.com/pmarsceill/just-the-docs support versioned deployments?

[2020-06-24 20:54] kfox1111 opened #631 "Extra Headers to Upstream"
## Expected Behavior

There to be a configuration option to inject arbitrary request headers when contacting the upstream after authentication

## Current Behavior

No option exists

[2020-06-24 20:57] kfox1111 commented on #631
https://github.com/oauth2-proxy/oauth2-proxy/blob/master/oauthproxy.go#L980 may be the place to do it?

[2020-06-25 00:35] rezagh2 commented on #622
a note on the documentation would be nice. thanks.

[2020-06-25 00:35] #622 closed

[2020-06-25 04:04] hoantran3108 commented on #428
For anyone stumble across the same issue. I solved it by deleting old pod so that it can pull down the latest image which won't have the SameSite problem.

[2020-06-25 05:24] demurray opened #633 "Guidance request on "failed to verify id token signature" in OIDC setup"
## Expected Behavior

We would like our `oauth2-proxy` that is configured against an in-house Okta as an OIDC provider to properly issue cookies and redirect users. It had been working before and then started to fail when attempting to redeem a code for an oauth token.

oauth2-proxy, the same setup as issue https://github.com/oauth2-proxy/oauth2-proxy/issues/64, is configured as follows:

[code]

[2020-06-25 08:50] max-wittig opened #634 "Exclude go version from asset link"
## Expected Behavior

Other projects just include the version of the dependency itself, so that it easily be bumped

## Current Behavior

Oauth2 proxy includes the go version, which as I user of oauth2-proxy, I don't care about.

## Possible Solution

Exclude go version from release asset

E.g. instead of

[code]

## Context

E.g. when using ansible to deploy, you might have the version of oauth2-

[2020-06-25 18:15] JoelSpeed commented on #629
Hi @iamfarsk, could you confirm what your identity provider is? They are technically providing an out of spec token to you if the `email_verified` claim is a string rather than a boolean. I don't think there is really a workaround for this as if we change the field, the JSON marshaller would have problems unmarshalling  valid tokens which use the field as a boolean, as is in spec

[2020-06-25 18:23] JoelSpeed commented on #550
I don't believe either support versioned deployments at the moment.

I'm leaning towards having a separate repository that would be hosted at `oauth2-proxy.github.io` that contains the latest release docs, and keeping the existing docs hosted for master branch but adding some sort of warning to it that these are release docs

Would only be able to do this if we somehow created some release automat

[2020-06-25 18:38] JoelSpeed commented on #631
I have been thinking about this recently and intend to split the `addHeadersForProxying` code up soon. What I would like to do is create middlewares that can be configured to add headers based on a structured configuration, I'm thinking we will need three middlewares:
1. To strip headers that are given in a request that we should be proxying to an upstream (eg if the user supplies X-Forwarded-Emai

[2020-06-25 18:39] k-wall opened #635 "Specifying alternative provider TLS trust source(s) from command line or config."
For my use-case, the OIDC provider in use may use a server-cert signed by private CA that may not be trusted by the default SystemCertPool.

It is possible to specify the `SSL_CERT_DIR` environment variable, as this currently supports only a single directory, it means you need to use a script to centralise all the required trust (upstream, provider) into a single directory.    This works but is in

[2020-06-25 18:40] k-wall commented on #635
I'd could put together a PR, if a patch along these lines sounds useful..

[2020-06-25 18:42] JoelSpeed commented on #634
I don't really know why we do this tbh, I know it was done before we adopted the repository from Bitly and I guess we just carried it on.

I don't really see an issue in changing it, except from it could be considered a breaking change.

@syscll @gargath I know you both have had opinions on this stuff before, any thoughts?

[2020-06-25 19:19] NickMeves commented on #631
I have been thinking the same thing recently! My mind has drifted to potential OIDC use cases of flagging arbitrary claims (I'm not sure what other providers implementation would look like).  IE a setting of a list of claims to be considered a `user-header` that would be passed based on the 2 potential flags that trigger that as `X-Forwarded-<ClaimName>` or `X-Auth-Request-<ClaimName>` headers.

W

[2020-06-25 19:20] NickMeves commented on #631
In essence then, we can have a couple that are special based on potential integrations with auth or email lookup endpoints of the issuer (likely `subject` -> user and email) then any others (ie preferred_username) we can have set with arbitrary claims list.

[2020-06-25 19:21] JoelSpeed commented on #635
I think I'd prefer to have an option such as `provider_ca_file` that is expected to be a path to the provider's ca bundle file, this would then be used only in requests to the provider, how does that sound? You can also use the `ssl_insecure_skip_verify` option for the moment as an insecure workaround, but would be good to support self signed certs

[2020-06-25 19:23] JoelSpeed commented on #631
+1 to having an arbitrary claims list eventually, I imagine we would have a core set of claims in the session state and then maybe an `extra_claims` map that could store any extra claims that the user has requested to be extracted from the token or userinfo endpoint

[2020-06-25 19:26] JoelSpeed commented on #633
It sounds like potentially you have an issue with the length of your key rotation on your identity provider. When OAuth2 Proxy is verifying the claim, it fetches the JWKS from the identity provider to check the signature, if the key that was used to sign the token has been rotated out already, then the verification will fail. Do you happen to know if you've set the key rotation to a smallish value

[2020-06-25 19:29] NickMeves commented on #631
This related semi-related PR is taking a look at just getting Groups exposed as an additional header:

https://github.com/oauth2-proxy/oauth2-proxy/pull/616

[2020-06-25 19:31] JoelSpeed commented on #631
I just had a quick skim, I'll take a proper look later, maybe we include it for now but go with my other suggestion as a longer term solution? @kfox1111  I'd still appreciate your feedback on the suggestion I made, does that sound good to you?

[2020-06-25 19:40] kfox1111 commented on #631
Yeah, I like the injectHeaders idea. Very flexible and mirrors how k8s's api works for environment variables. Gives the ability to extend the api with lots of different options in the future without breaking the existing api.

[2020-06-25 20:04] JoelSpeed commented on #592
This was resolved by #596

[2020-06-25 20:04] #592 closed

[2020-06-25 20:28] demurray commented on #633
Thanks @JoelSpeed. This does not appear to be the issue: our keys change infrequently, and we were not at the point where we had a token with a signature to check, since the code was not redeemed successfully.

We did identify the problem, which was that our `oidc-issuer-url` was set to `https://nike.okta.com`, such that a code was retrieved from a default server, but attempted to be redeemed from

[2020-06-25 20:28] #633 closed

[2020-06-25 20:31] kfox1111 commented on #631
A way to use environment variable values would be useful as well in the injectHeaders api.

[2020-06-25 20:46] JoelSpeed commented on #631
I was trying to demonstrate that with the final basic auth example, suggesting we allow any field to be envsubst'd before setting up the proxy, do you mean for something more explicit?

[2020-06-25 20:49] kfox1111 commented on #631
Oh, yeah. I missed that the second time I read through it. Sorry. I think that would work.

[2020-06-25 20:53] JoelSpeed commented on #628
Can you please provide your configuration so that we can see which options you have provided before we attempt to work out what's happened here?

[2020-06-25 22:57] linuxgemini opened #637 "GitLab Group(s) option on file based config is space seperated, not comma"
The option `gitlab_group` on the cfg file works as space seperated, not comma seperated as the docs define.

## Expected Behavior

[code]

https://github.com/oauth2-proxy/oauth2-proxy/blob/3686b0b44269ef5d7f63f471702e424c42ba5497/docs/2_auth.md#L158

https://github.com/oauth2-proxy/oauth2-proxy/blob/3686b0b44269ef5d7f63f471702e424c42ba5497/docs/configuration/configuration.md#L60

## Current Behavi

[2020-06-26 02:35] NickMeves commented on #623
@Llewellin This discussion that started today is semi-related: https://github.com/oauth2-proxy/oauth2-proxy/issues/631#issuecomment-649750682

At the moment, there is no way to get other richer claims you might get in an IDToken with the `profile` scope via easy to access headers.  Only User, Email & PreferredUsername claims are extracted and part of the session & forwarded via headers.

BUT -- yo

[2020-06-26 05:56] shinebayar-g commented on #550
Well that sounds kinda .. lame. For now docs could simply mention that when / which release this feature was introduced. Ideally one could setup documentation builder such as [docusaurus](https://v2.docusaurus.io/docs/versioning/) which supports versioning. But they suggest that versioning isn't great idea.

[2020-06-26 07:36] wstarzak commented on #637
Exactly - i have faced this issue yesterday

[2020-06-26 08:05] SuperSandro2000 commented on #46
/unstale

[2020-06-26 10:28] yaakov-berkovitch commented on #628
Thanks - Sure following additional information.

oauth2-proxy k8s deployment yml as follows:
[code]

I have also an istio virtual service that forward all the ingress traffic from port 80 to oauth2-proxy:
[code]

[2020-06-26 10:50] JoelSpeed commented on #637
We are about to do a major release which already carries lots of breaking changes, it would be good to get this into that if we are going to fix it.

I would actually suggest the fix to be to convert the option to match `GoogleGroup` by converting it to a slice of strings, that way the flag parsing package will do the split for us
https://github.com/oauth2-proxy/oauth2-proxy/blob/3686b0b44269ef5d7

[2020-06-26 10:52] linuxgemini commented on #637
I think your suggestion is a lot better, thanks.
I am eagerly waiting for the new release :)

[2020-06-26 10:53] JoelSpeed commented on #637
Does anyone have time to raise a PR for this?

[2020-06-26 12:22] k-wall commented on #635
@JoelSpeed  Thanks for the reply. Yeah - that'd suite my use-case.  For the upstream trust, relying of SSL_CERT_DIR is sufficient, so an argument that supplemented the provider's trust would work.  I'll try putting together a PR.

[2020-06-26 14:47] JoelSpeed commented on #550
Brutal honesty! Totally fair 😅

That sounds reasonable, we should probably do that going forward

I'm totally open to switching how we host the docs if there's a feature we want, I'd like to keep it on github pages though (I would like to move to the root of our github pages) so it needs to be jekyll or able to generate the static site files

Yes I can see that versioning may have issues with upda

[2020-06-26 17:44] iamfarsk commented on #629
@JoelSpeed SecureAuth is my oidc provider. They are providing email_verified claim as string.

[2020-06-26 18:13] JoelSpeed commented on #629
Perhaps you should approach them and see if they would be willing to change to make their implementation within spec? As described above, I don't think we would be able to support both implementations easily and I'd rather try to keep to supporting the specified implementation rather than a near spec implementation

[2020-06-26 21:28] kfox1111 opened #640 "pass_user_bearer_token = false broken"
I use:
    pass_user_bearer_token = false
In the config for some stable/oaut2-proxy instances. When upgrading, its saying its not an option anymore. Just laving it out doesnt' work though as its still having the = true behavior. Was this option renamed?

[2020-06-26 22:29] linuxgemini commented on #637
Closed with #639

[2020-06-26 22:29] #637 closed

[2020-06-27 03:05] NickMeves commented on #640
Are you looking for this option to pass the user's IDToken to the backend in an `Authorization: Bearer <TOKEN>` header?

[code]

[2020-06-27 08:05] ploxiln commented on #640
oauth2-proxy used to not error-out on unrecognized options in the config, that is a recent-ish change, see https://github.com/oauth2-proxy/oauth2-proxy/issues/500 (I think that `pass_user_bearer_token` was never exactly a real option)

[2020-06-27 09:20] JoelSpeed commented on #640
Agreed, I don't think that was ever an option, are you seeing headers passed that you don't want? What headers are they?

[2020-06-27 19:32] linuxgemini opened #642 "Cannot find package "github.com/go-redis/redis/v7" on go get"
The command `go get github.com/oauth2-proxy/oauth2-proxy` fails with a "not found" error.

## Expected Behavior

[code]

## Current Behavior

[code]

## Possible Solution

I didn't come up with one.

## Steps to Reproduce (for bugs)

`go get github.com/oauth2-proxy/oauth2-proxy`

## Context

The v6.0.0 release does not have assets available.

## Your Environment

[code]

[2020-06-27 19:54] kfox1111 commented on #640
I thought I needed it for one deployment. Its possible it never worked, yeah.

I'll test without it and still if it works with the newer version. I'll reopen if I run into issues. Thanks!

[2020-06-27 19:54] #640 closed

[2020-06-27 20:56] JoelSpeed commented on #516
New release has been cut, docker images coming soon, closing this for now

[2020-06-27 20:56] #516 closed

[2020-06-27 20:59] JoelSpeed commented on #642
Release assets have now been added, apologies for the delay. Docker images are coming shortly.

Not sure why there is an issue doing go get, that shouldn't happen 🤔 Need to work that one out

[2020-06-27 21:37] JoelSpeed commented on #642
Go-redis requires module support [1], so try `GO111MODULE=on go get github.com/oauth2-proxy/oauth2-proxy` and you may get it working

[1]: https://github.com/go-redis/redis#installation

[2020-06-27 21:52] linuxgemini commented on #642
Alright that worked, I forgot that env very quickly (like I used it literally yesterday for the gitlab-group PR).

I think this should be mentioned on README.

[2020-06-28 04:38] avtarOPS commented on #621
I am also facing the face issue. Weird thing is that the gangway login is working fine.  But while login into the dashboard I get the 502 gateway after login @riupie did you found any solution on this.

[2020-06-28 19:03] shinebayar-g commented on #550
I guess I'd expect latest release version docs..

[2020-06-29 02:55] shinebayar-g commented on #627
Works like a charm in 6.0.0, ty.

[2020-06-29 02:55] #627 closed

[2020-06-29 03:03] shinebayar-g opened #643 "Inconsistent flag unknown flag: --cookie-domains"
## Expected Behavior

Command line flag works same as env or config line option.

## Current Behavior

I've read the **v6.0.0** release notes.

Looks like `cookie_domain` config line or `OAUTH2_PROXY_COOKIE_DOMAIN` env is changed to `cookie_domains` & `OAUTH2_PROXY_COOKIE_DOMAINS` respectively. But `--cookie-domain=` command line flag isn't updated. It gives `unknown flag: --cookie-domains` error.

[2020-06-29 06:43] shinebayar-g commented on #627
Just noticed that usernames should be case sensitive to make it work. Even though github login works insensitive. What do you think? @JoelSpeed

[2020-06-29 07:16] riupie commented on #621
No, not yet. Just dropped dashboard integration, cant find any clue.

[2020-06-29 07:16] ploxiln commented on #643
Yes, `--cookie-domain` is compatible with how it worked in v5.1.1, but now you can also, specify multiple, e.g. `./oauth2-proxy --cookie-domain=first.com --cookie-domain=second.com ...` (which is why the command-line flag uses the singular form, while the config file now has the plural form, this is similar to a few existing options)

[2020-06-29 07:18] shinebayar-g commented on #643
Ah that makes sense. Never knew I had to use the option like that.

[2020-06-29 07:25] JoelSpeed commented on #627
Would be good to make it case insensitive if it isn't already, fan you raise a new issue for this and hopefully we can get a small patch prepared

[2020-06-29 12:19] GregoireW opened #644 "Header too large"
With oauth2-proxy v6.0.0  I got an error on my upstream "Header is too large: size 8193>8192".

## Expected Behavior

This error is linked to "oauth2-proxy_x" cookies. Those header are only intended for oauth2-proxy and in my opinion should not be transferred to the back-end.

Or at least there should be an option to activate / deactivate this token to be sent to back-end.

## Steps to Reproduce (

[2020-06-29 16:25] NickMeves commented on #644
I'm attempting to address the large cookie session sizes here: https://github.com/oauth2-proxy/oauth2-proxy/pull/632

Do you think a smaller cookie size suffices? Or are you thinking we need a full session cookie strip before the backend? I think that has been asked for as well, I just can't find an existing Issue or PR -- so maybe I imagined it 🤔

[2020-06-29 17:30] GregoireW commented on #644
I checked existing issue, so I hope you imagined the issue asking to strip the session cookies  ( else it means I also have  an issue with my eyes :D )

In my use case, the id_token is quite large. So I guess it is why I had 2 cookies, the second one was around 7500 bytes. Even with LZ4, I will bet one day or the other a payload will break data in 2 cookies.

I think it is best to strip the sessio

[2020-06-29 17:48] NickMeves commented on #644
The second cookie alone was 7500? I would've thought we split into as many as needed to keep the value of the cookie under 3840 bytes. If that isn't getting you to 3, 4, etc cookies I think I need to look at that logic more.

DB based sessions have a unique session key + encryption key in the session cookie portion.  So the data in the DB isn't decryptable with DB access alone (you'd need the user

[2020-06-29 19:01] GregoireW commented on #644
Ok thank you. For the cookie size, i'm not quite sure about the size, I notice the 2nd one was perhaps 500 byte shorter than the first one, I was thinking the 1st cookie was 8kb but I did not check so perhaps it was 3840 and 3300 byte

[2020-06-30 01:17] AMoghrabi commented on #105
Hi @betabandido. Did you end up solving this problem? I get the same error as you:

[code]

[2020-06-30 02:13] rezagh2 opened #646 "502 Bad Gateway after successful login"
I had setup envoy filter -> oauth2 proxy -> Dex before in a local setting successfully [(here)](https://github.com/oauth2-proxy/oauth2-proxy/issues/622) but when moving it to a production environment with all the bell and whistles then the callback url doesn't return to the originating service url.

## Expected Behavior

I expect the call back url to send me to the originating url at httpbin.dex.c

[2020-06-30 12:27] cccs-cat001 opened #647 "Blocked by CORS"
When my app hits the oauth2-proxy for the manifest.json, I get the following error:
[code]
Is there a way to add the origin to the access control list? I don't see a parameter I can set...

## Your Environment

- Version used: I believe I'm using 6.0.0, but it was definitely happening in 5.1.1.
oauth2-proxy is running in a container on a kubernetes cluster. The app that's trying to access it is as

[2020-06-30 18:26] JoelSpeed commented on #647
I don't think we have any CORS support, how are you running the proxy? On it's own or with something like nginx doing a subrequest for the authentication?

[2020-06-30 18:36] JoelSpeed commented on #646
Firstly, please update to the latest version, or at a minimum 5.1.1

Secondly, you may need to look at the whitelist domain option which specifies which redirects are allowed at the end of the authentication flow, `whitelist-domain: ".dev.com.au"` should probably work

Also please verify the the envoy filter is sending the `rd` parameter that specifies where the redirection should go

[2020-06-30 18:46] betabandido commented on #105
@AMoghrabi No, I didn't. A little after reporting this I stopped using Azure to authenticate, so I didn't continue looking for a solution.

[2020-06-30 23:21] rezagh2 commented on #646
Thanks @JoelSpeed for your reply. Upgraded to 6.0.0. whitelist-domain added. Not much progress though.
EnvoyFilter below is crazily populated with headers. What exactly is the `rd` parameter?
[code]
I don't exactly see what the filter sends to oauth2 proxy but the request that lands in the login page looks like this:

[code]
Latest oauth2 container args:
[code]

An interesting observation is that

[2020-07-01 00:10] #26 closed

[2020-07-01 19:57] mlazowik commented on #390
Reopen?

[2020-07-01 20:51] JoelSpeed commented on #390
OAuth2 Proxy already supports accepting basic auth as a form of authentication, it also supports accepting JWTs as a form of authentication from requests, would either of these solve the issue that has been described?

[2020-07-01 21:17] mlazowik commented on #390
The point here is to parse the basic auth coming from the client, and convert it into a [Resource Owner Password Credentials Grant](https://tools.ietf.org/html/rfc6749#section-4.3) query sent to the IdP `token` endpoint. By adding `scope=openid` you can get the `id_token` in response, and from there do exactly the same things you do with the browser auth flow.

[2020-07-02 00:09] #377 closed

[2020-07-02 01:07] NickMeves opened #648 "Does GAP-Signature functionality work? Any existing users?"
Our `signature-key` option provides a way to HMAC sign canonical headers in that case where a protected backend is across the internet from the oauth2-proxy and the user wanted to protect against spoofing `X-Forwarded-*` user headers or `Authorization` headers from requests with unverifiable authenticity (since the oauth-proxy is across the internet and not local)

https://github.com/oauth2-proxy/

[2020-07-02 01:08] NickMeves commented on #648
Those code hasn't really been touched in 5 years.  Here's the original bitly issue: https://github.com/bitly/oauth2_proxy/issues/146

[2020-07-02 05:45] jordancrawfordnz opened #649 "No User-agent is considered a healthcheck User-agent when none specified"
## Expected Behavior
When I make a request without a user agent, I expect this to be treated like a normal request. This is the case with oauth2-proxy 5.1.1.

e.g.: on 5.1.1
[code]

## Current Behavior
When no User-agent header is set, and no ping user agent options are specified (the default option), oauth2-proxy returns the "OK" healthcheck ping response.

e.g.:
[code]

When the `ping-user-agent

[2020-07-02 07:11] ploxiln commented on #648
I think it still works. The "GAP-Auth" header is copied from the _response_ being prepped to the _request_ to the upstream, before the logging removes that header (which happens after the upstream responds):

https://github.com/oauth2-proxy/oauth2-proxy/blob/v6.0.0/oauthproxy.go#L135-L137

[code]

Is it really useful to anyone, I don't know.

[2020-07-02 08:51] sushiMix commented on #646
Hello, could you check the log at your ingress controller (I assume your are using kubernetes with helm).
You should have header too long issue :
It can be solved by tuning http://nginx.org/en/docs/http/ngx_http_proxy_module.html#proxy_buffer_size (an annotation is available for each ingress in kubernetes).
The correct target value is not very clear as depending on the max header size.

[2020-07-02 09:08] sushiMix opened #651 "Keycloak provider does not honor --set-authorization-header option"
When using OIDC provider with --set-authorization-header option the authorization header is returned when calling /oauth2/auth whereas with Keycloak provider it does not (I also set --x-auth-request=true).

## Expected Behavior
--set-authorization-header works with set-authorization-header
the call to /oauth2/auth shall return the Authorization header with bearer token

## Current Behavior
It does

[2020-07-02 12:37] rezagh2 commented on #646
@sushiMix this was gold mate thanks. This took me one step forward. Another issue I observe as explained above is that after success login it lands on the oauth proxy home page https://oauth.dev.com.au and only says "Authenticated" instead of the original url. Any idea on that one? Thanks.

[2020-07-02 15:58] NickMeves commented on #648
Does the logging handler delete it with all the other `GAP` headers though (the second snippet above)? I'll need to check again, I don't think I've seen any GAP headers when I do dummy tests with httpbin.

[2020-07-02 16:29] NickMeves commented on #648
Nevermind -- ignore me 😄   I just needed to set the `signature-key` appropriately.  I see it now.

I guess my question errors more toward the second part then: is this used, and do we want to be more dynamic about why headers we use as canonical headers?

[2020-07-02 16:32] JoelSpeed commented on #648
My 2 cents is that the list of signature headers should include any that we are setting as part of the proxy, so if we implement the more flexible header implementation that has been suggested a few times, we will probably want this list to be dynamic with that

[2020-07-02 16:39] JoelSpeed commented on #646
You're getting the `Authenticated` because you set a static upstream, I imagine what you wanted to happen is that after you login, you are redirected back to the original path? To do this, you need to pass the original path to the initial request to OAuth2 Proxy `(eg `/oauth2/start?rd=http://foo.example/bar`), or set it via `X-Auth-Request-Redirect` as a header when making that call

I'm not famil

[2020-07-02 16:51] AMoghrabi commented on #458
Hello @onixie or @edemen,

I'm trying to configure our kubernetes-dashboard in the same fashion as you are but I'm struggling. I was hoping I could get your help.

Here is what I'm passing into my `oauth2-proxy` service (I'm using the helm chart):

[code]

Upon logging into Azure, I receive a 500. The oauth2 proxy throws the following error:

[code]

Would really appreciate your help as I've been

[2020-07-02 17:55] AMoghrabi opened #652 "500 Error When Using OIDC and Azure AD (After Authentication)"
## Expected Behavior

Hello,

I am hoping I can get some help configuring the oauth2-proxy to use oidc so I can authenticate using to the kubernetes-dashboard and Azure AD single sign-on. I have tried looking for similar issues and related documentation but unfortunately I'm stumped.

I have the following configured on my oauth2-proxy (I'm using the helm chart):

[code]

I also have NGINX annotati

[2020-07-02 22:49] edemen commented on #458
Could this be due to cookie size? Do you have anything like this in the ingress' annotations for the dashboard?
[code]

[2020-07-03 00:22] onixie commented on #458
Hi @AMoghrabi

The buffer size of the ingress nginx is definitely one thing I would like to check. Beside that, could you confirm the token configuration to see if you have the email included in the claim.

![image](https://user-images.githubusercontent.com/817073/86419595-98dc7d00-bd0e-11ea-9b1b-d3e5da2a4a9c.png)

[2020-07-03 02:14] edemen commented on #458
I don't have any claims in token configuration.
Btw I am also not using OIDC for Azure. See my opening post for detailed configuration I was using.

[2020-07-03 02:24] AMoghrabi commented on #458
Thanks to both of you :) I can't remember if I tried setting the buffer size, I'll try that tomorrow. Also I am positive I didn't have claims so I'll give that a go as well. Thank you!

[2020-07-03 03:44] NickMeves opened #653 "Miniredis session tests appear to leak file descriptors"
Now that we've added redis cluster tests in addition to standard and sentinel, we appear to have too many miniredis's trying to get going.  Without upping my `ulimit` past the default OSX setting of 256, I fail about 168 tests in of the 243 specs:

[code]

I even tried to reuse miniredis instances and ran `FlushAll` between specs, but then I eventually still got `socket: too many open files occurr

[2020-07-03 06:00] #584 closed

[2020-07-03 06:01] pyama86 commented on #584
I understood the development policy. Thank you very much.

[2020-07-03 09:13] JoelSpeed commented on #653
I suspect actually this is a problem with the redis sentinel tests. I had some issues with them on my machine as well and in the end had to hack to get them to work. I think there are problems when minisentinel shuts down so we should probably look there first

[2020-07-03 14:10] NickMeves commented on #653
I think its all redis tests because of the way it spins up a server on localhost and has a redis client speak to it.  I ditched all the sentinel & clusters tests and just did the standard tests in a loop 10 times.  Ran into the limit resource around the same point:

[code]

Since I also ran out of file descriptors when I tried reusing the same miniredis across all tests with DB flushes in between,

[2020-07-03 14:12] NickMeves commented on #653
Related to sentinel:  I think this issue might've only really appeared because of the added cluster tests.  That pushed us over the 256 file descriptor edge to make it apparent with default Mac ulimit of 256. I wonder if this issue was always present even with the old test architecture, we just never exhausted our file descriptors?

[2020-07-03 14:30] JoelSpeed commented on #653
I see, I've just pushed a branch with an idea of a fix for this on, do you think you could try it out? Seems to fix the issue based on my experimenting https://github.com/oauth2-proxy/oauth2-proxy/tree/redis-test-client-close

[2020-07-03 14:51] NickMeves commented on #653
Looks like it fixed it for me too.  I even set the ulimit arbitrarily low and it still passed 👍

Nice work!

[code]

[2020-07-03 14:54] JoelSpeed commented on #653
Awesome, PR is open and ready to go from my perspective if you have a minute to review it

[2020-07-03 15:08] JoelSpeed commented on #652
I'm not familiar with the helm chart, but what you will likely need to look at is the `scope` parameter, it should include probably `openid email profile`, but I'm not sure what they default it to. If `email` is present in the scope, then Azure should return a token with the email present. Hopefully that points you in the right direction.

Also, I would like to recommend updating to the latest ver

[2020-07-03 15:09] #635 closed

[2020-07-03 15:43] #653 closed

[2020-07-03 21:55] AMoghrabi commented on #652
Thanks a lot Joel :) I was actually able to get an alternative going. I have oauth-proxy working for our other dashboards without using oidc. Works perfectly.

Thanks again :)

[2020-07-03 21:55] #652 closed

[2020-07-04 01:50] PaulCharlton opened #655 "[BUG] v6.0.0 - EXTRA_JWT_ISSUERS config no longer allows scheme on issuer URL"
My old configuration had:

OAUTH2_PROXY_EXTRA_JWT_ISSUERS: "https://sts.windows.net/{tenant}/=https://management.core.windows.net/"

with v6.0.0 this now fails with

[code]

workaround:
OAUTH2_PROXY_EXTRA_JWT_ISSUERS: "sts.windows.net/{tenant}/=https://management.core.windows.net/"

[2020-07-04 13:34] jowi24 opened #657 "Empty user-agent allows unauthenticated access"
## Expected Behavior

As with version 5.1.1, a simple curl request to a oauth2 protected resource results in status code 401 as no cookie is presented. The oauth proxy log shows:
[code]

## Current Behavior

As with version 6.0. the curl request with no user-agent set (-A "") results in, even with no auth cookie presented.
[code]

## Steps to Reproduce (for bugs)

1.  `curl -A "" https://server/pr

[2020-07-04 13:40] JoelSpeed commented on #657
This is a duplicate of #649 and will be fixed by #650, I'm just waiting for the PR author to fix it up and then I'll get it merged

The empty user agent will only display ok though so for direct access you're ok. If you are using the OAuth2 Proxy as an auth request module, you may be able to add a workaround to the proxy to set a user agent if it is empty

[2020-07-04 13:42] PaulCharlton opened #658 "[FEATURE] support machine users by adding option to disable materialization of email address"
The various identity providers available from Microsoft generally allow for several related categories of non-human users, none of which have an email address property. [Application Registrations, Service Principals, Delegated Applications, Managed Identities for Azure resources, etc]

The current Azure provider, and others, in the Oauth2-proxy attempt to render the email address from the various

[2020-07-04 13:43] jowi24 commented on #657
Thank you! Did not recognize that #649 discusses the same issue. I'll try the suggested workaound 👍

[2020-07-04 13:43] PaulCharlton commented on #658
some upstream servers require an email address, in which case the oauth2-proxy could create a "dummy" email address for machine users based on various properties in the available tokens and id provider endpoints.

[2020-07-04 14:02] #657 closed

[2020-07-04 14:05] PaulCharlton opened #659 "[FEATURE] add config options to determine contents of Oauth2-proxy cookie"
Recent breaking changes to OAuth2-Proxy, especially in the azure provider, have exploded the size of the cookie from approximately 1kb to over 7kb, wreaking havoc with compatibility of both browser clients, front end servers, middleware servers,  and backend server configurations which were fine tuned to buffer http header sets smaller than 8kb.  Likewise having large encrypted cookies completely

[2020-07-04 14:53] PaulCharlton commented on #659
#632 another way to reduce session state ... compress it.

[2020-07-04 15:48] JoelSpeed commented on #390
Ack, that makes sense. Perhaps we should be adding support for this, I'm not really sure how this would integrate with the existing codebase though, would be good to discuss what is needed and where this might hook into before we implement this

[2020-07-04 15:50] JoelSpeed commented on #651
This is a known issue, the keycloak provider doesn't store the ID Token so it can't set it in the header. You could try switching over to the OIDC provider instead as that is known to work with keycloak

You may be interested in #479

[2020-07-04 15:58] JoelSpeed commented on #643
I think this can be closed right?

[2020-07-04 15:59] JoelSpeed commented on #658
Are errors being thrown when trying to look up the emails? I'd rather we just try to look them up and not throw errors, just populate the email as an empty string. The header injectors should not be setting the header if the value in the session is empty.

I'm not a fan of the dummy email approach. We have plans to create a very flexible header injection method that would allow the customisation t

[2020-07-04 16:07] JoelSpeed commented on #655
This is weird, I was just looking at the code, and nothing appears to have changed there in the last release, perhaps a dependency update has caused this but I don't think we've updated the relevant dependencies either

[2020-07-04 16:25] JoelSpeed commented on #659
I wasn't aware of any breaking changes in the Azure provider, though if we are now storing ID Tokens, that may explain the problem

We have been discussing other workarounds by implementing other session stores, is there a server side store implementation that you think would like to see? Please check out #482

I was discussing with @NickMeves on Thursday about having the ability for customising s

[2020-07-04 17:31] PaulCharlton commented on #658
Hey @JoelSpeed I like the header filter/injection in #631.

1. The following code snippet from `azure.go` illustrates a performance issue I would rather have a config setting to control.   The code is always hitting the external ProfileURL endpoint (time sink) even when there's enough evidence in the AccessToken to avoid such inquiry.
2. if I know that my upstream servers do not need email headers

[2020-07-04 17:35] PaulCharlton commented on #658
ps: I am available to create some code solutions, and I also see that there is already a lot of major refactoring in the works and I do not want to end up creating rework for those efforts.

[2020-07-04 17:38] PaulCharlton commented on #655
looks like it was specific to my build environment and updated modules in the oidc namespace.   The error message does not even exist in the Oauth2-proxy code base.   Definitely something to keep an eye on as external modules dependencies are updated.

[2020-07-04 17:38] #655 closed

[2020-07-04 17:42] PaulCharlton commented on #659
ps: I am available to create some code solutions, and I also see that there is already a lot of major refactoring in the works and I do not want to end up creating rework for those efforts.  Let's discuss how to achieve both gracefully.

[2020-07-04 17:51] PaulCharlton commented on #659
the change to the azure provide came in with https://github.com/oauth2-proxy/oauth2-proxy/commit/c8a89eca0800ca64da09ab09f758d78b98bc974f, was part of the `v4.1.0` release, and added both the IdToken and the RefreshToken to the session state cookie.

[2020-07-04 18:09] NickMeves commented on #659
After wrapping up the session encoding & compression work -- I'm curious to take a look at what exactly is going into the session & why.

The cause of the bloat is the Token trifecta (IDToken, Access Token, Refresh Token).  But I bit upon some analysis, we can figure out what flags cause an environment to need that specific token, and intelligently drop certain fields from sessions if they aren't

[2020-07-04 18:28] JoelSpeed commented on #655
Interesting, thanks for the heads up!

[2020-07-04 18:51] NickMeves commented on #658
I think I had a similar thought and played around with the potential of ditching forcing an email out of an IDToken when one wasn't present (currently logic makes `session.Email := claims.Subject` when `claims.Email` isn't present in bearer header auth). Which conflicts with the 1 universal authorization validator we have of `--email-domains`: https://github.com/oauth2-proxy/oauth2-proxy/pull/596

[2020-07-04 18:56] NickMeves commented on #658
In the end, I figured it wasn't a big deal to leave a duplicated subject in the `session.Email` field instead of forcing it to `""` -- both routes would've required `--email-domain=*`.

I think there's other areas that treat the session.Email as canonical too, upon a quick glance, some areas of the logger might be hardcoded to session.Email rather than using `GAP-Auth` which picks between User/Ema

[2020-07-04 18:59] NickMeves commented on #658
Upon closer glance though -- this seems to be an Azure specific issue where potentially you can have machine users hitting most of the Azure provider flow? (rather than my situtation where I bypassed the Oauth flows with existing IDTokens and validated against OIDC well-known JWKS via bassing it via the bearer header)

[2020-07-04 19:12] #643 closed

[2020-07-05 11:10] JoelSpeed commented on #294
@jmickey do you think this was resolved by #619?

[2020-07-05 11:25] ba1dr opened #661 "Caching of auth cookie with nginx?"
I am trying to reduce calls to oauth2-proxy configured to authenticate against Google.
In my nginx config I added:

[code]

But this does not work. Nothing about this in the docs either.
I have `cookie_name = "_oauth2_proxy"` in config.

And when I refresh a page in browser for several subsequent calls (html, ajax, etc) it seems it sends a request to google to each request. I'd like to avoid that.

[2020-07-05 11:47] jankatins commented on #237
.

[2020-07-05 12:46] JoelSpeed commented on #661
I know this kind of solution used to work, but we added no cache headers in #453 which are now sending headers which may break Nginxs caching, perhaps there's a way to tell nginx to ignore those headers?

[2020-07-05 13:04] ba1dr commented on #661
Interesting, but does not seem to work..
I tried to add this:
[code]
Nothing changed. Maybe I miss something. Do you have tests or maybe working example with caching?

And I see many such records in the log file, but they look too fast executed to be passed to Google. Can you confirm they could be taken from proxy's cache (session/redis) though look like real requests?
[code]

Right now I plan to

[2020-07-05 13:13] JoelSpeed commented on #661
I just found this in my gists which I know used to work before we added the cache headers, it looks though your config pretty much matches https://gist.github.com/JoelSpeed/9f4dbf6f79f6498d12ccd6ff0bc096e2

That does however add a response header telling if the cache was hit or not, that may be worth adding to your config to help debugging

[2020-07-05 13:20] ba1dr commented on #661
Yes, I've found that your gist already and actually it was an example where I started with. I came asking only when I lost a hope to resolve it myself.

[2020-07-06 00:10] #472 closed

[2020-07-06 00:10] #333 closed

[2020-07-06 03:45] NingPekin commented on #350
@Eslamanwar  did you manage to make it work? I am having the same issue as you.

[2020-07-06 04:57] jmickey commented on #294
I was thinking about this the other day when I reviewed the PR - yes I think this is sorted now. I will close the issue!

[2020-07-06 04:57] #294 closed

[2020-07-06 08:00] #649 closed

[2020-07-06 10:10] johejo commented on #661
@ba1dr Could you check #661?

[2020-07-06 10:16] johejo commented on #644
related https://github.com/oauth2-proxy/oauth2-proxy/issues/482

[2020-07-06 11:10] metalmatze commented on #580
For an application, we run we already have ingress metrics and that's how we found that initially, our service was returning 5xx. However, it would be nice to get additional metrics from this proxy on its upstream health to be able to better troubleshoot.
A second internal webserver is what most projects these days do.

I'm happy to consult but also happy to add the metrics myself.

[2020-07-06 11:31] JoelSpeed commented on #580
@metalmatze If you're happy to take a first stab at adding a metrics server as a secondary HTTP server on the proxy and some initial metrics, that would be greatly appreciated.

Do we get any metrics for free from the likes of the http package? I'm trying to think what would be useful for people?

The upstream metrics that @kfox1111 has suggested sound good, I'm not sure how we would implement the

[2020-07-06 11:36] diabda2 opened #664 "Not redirecting correctly after login"
I am deploying auth2-proxy with Azure to SSO Kibana users, under kubernetes with helm.
I tried to follow this procedure : https://www.elastic.co/blog/user-impersonation-with-x-pack-integrating-third-party-auth-with-kibana
But I encounter an issue with auth2-proxy.

## Expected Behavior
Users use the url https://example.com/oauth2 to connect to Kibana
 => Will be authenticatied with Azure
Then redi

[2020-07-06 13:33] #661 closed

[2020-07-06 13:45] wassan128 opened #665 "Redundant triming("=") when decode base64 encoded secret"
## Expected Behavior
In [pkg/encryption/utils.go](https://github.com/oauth2-proxy/oauth2-proxy/blob/master/pkg/encryption/utils.go#L18), `TrimRight` has called to ignore "=" when decode secret. I think it is redundant because `base64.RawURLEncoding.DecodeString` omits "=" when decode without do anything by manualy.
https://golang.org/pkg/encoding/base64/#pkg-variables

Worse still, the trim proces

[2020-07-06 13:51] JoelSpeed commented on #665
Looks like a valid deduction to me, CC @NickMeves as you've touched that recently, WDYT?

[2020-07-06 14:57] metalmatze commented on #580
Yes, we can probably wrap the roundtripper [like this](https://github.com/openshift/telemeter/blob/master/pkg/http/client.go#L60:6) which makes it almost a transparent change to the user of that roundtripper.

[2020-07-06 15:56] JoelSpeed commented on #580
That looks like it will be surprisingly easy! +1 for the transport wrapper

[2020-07-06 17:53] JoelSpeed opened #667 "In proxy caching of authentication"
## Expected Behavior

When lots of requests hit the proxy at the same time from the same user, we should only need to validate the credentials once.

Likewise, if a session needs to be refreshed, we should only attempt to refresh it once. If we try multiple times, we are likely to fail and force the user to log out.

## Current Behavior

We validate the session for each request which can lead to m

[2020-07-06 19:24] NickMeves commented on #522
Working on it here: https://github.com/oauth2-proxy/oauth2-proxy/pull/632

[2020-07-06 19:36] ploxiln commented on #665
The extra byte with value `10` is because that is what you put in the base64 encoded value.

You wrote:
[code]

But that base64 encodes a newline char:

[code]

[2020-07-06 19:38] ploxiln commented on #665
(sorry, didn't see the discussion in the related PR)

[2020-07-06 23:28] wassan128 commented on #665
@ploxiln Thanks for your review. It was my misstake to encode with out no `-n` option when `echo`.
As I commented in #666 , I will close this issue and PR.

[2020-07-06 23:28] #665 closed

[2020-07-07 08:57] camper42 commented on #646
same problem after upgrade to v6.0.0 from v5.1.1

[code]

[2020-07-07 09:23] salmanisd opened #670 "Support for ory hydra oauth2"
Hello,

I am using the ory hydra as oauth provider (https://www.ory.sh/hydra/docs/). While its oauth flow works fine with my nodejs apps,I want to integrate it with nginx.

I am guessing oauth2-proxy is not going to work out of the box with it.? Can anyone tell me what I can do to maybe add support for hydra?

[2020-07-07 09:25] JoelSpeed commented on #670
Hydra supports OIDC so you should be able to get started by using the OIDC provider and going from there. We have an example you may want to look at using Dex as an OIDC provider within the `contrib/local-environment` folder

[2020-07-07 09:49] camper42 commented on #646
ingress nginx log
[code]

oauth2-proxy log
[code]

[2020-07-07 09:54] rezagh2 commented on #646
@JoelSpeed I cannot make sense of this. I expect the redirect to be done by oauth proxy as it's part of oauth dance. why should the initial request be aware of this rd?

[2020-07-07 10:06] ba1dr commented on #661
I've built the latest version and tested. It seems it works perfectly now. Thank you a lot!

[2020-07-07 10:58] camper42 commented on #646
thx @sushiMix
I changed `proxy_buffer_size` to `8k(origin 4k)` , and 502 is gone.

with oauth2-proxy:v5.1.1, `proxy_buffer_size: 4k` is fine

[2020-07-07 11:09] slashbeast commented on #260
This issue is still relevant.

[2020-07-07 11:54] salmanisd commented on #670
Hi Joel,

Does this mean I can use the oidc.go provider as the generic option with my hydra server+werther identity provider?

I am a little confused because I see oauth2_proxy(also vouch_proxy) supporting different companies even though they all provide the same oauth standard but for oidc only one is required?

Thanks

[2020-07-07 11:59] JoelSpeed commented on #670
Unfortunately, most of the providers are implementing some specific logic around a particular implementation of OAuth2, which for most of the providers has some very minor tweak.

The providers that duplicate that OIDC flow also have some minor tweaks as the companies aren't implementing the OIDC spec exactly as it is, the spec is open to interpretation after all, so again, we end up with minor di

[2020-07-07 13:46] salmanisd commented on #670
thanks for the info...I will give OIDC a try...

[2020-07-07 13:46] #670 closed

[2020-07-07 19:56] JoelSpeed commented on #646
@rezagh2 When you hit the URL you want to access and envory redirects you, where does it redirect you to? How do you configure this? If you can add an `rd` or a header to that redirection request, then that is what will trigger the redirect at the end of the flow, otherwise it will just route you to the root of the OAuth2 Proxy application

[2020-07-07 20:23] JoelSpeed commented on #628
I'm finding it a little hard to parse what the actual issue here is with the edits and updates. Perhaps you could help clarify the outstanding problems?

This looks like a broken `force_https`, this should be fixed in the latest version, though there may also be a bug in that so I may have to cut a v6.0.1 or v6.1.0 in the near future

This isn't currently supported by the keycloak provider, but yo

[2020-07-07 20:24] NingPekin opened #672 "Unable to redirect back to original site after grant access"
## Expected Behavior

1. Access http://grafana.test:15031/login
2. Redirect to dex
https://dex.example.com:32000/auth?approval_prompt=force&client_id=grafana&redirect_uri=http%3A%2F%2Fgrafana.test%3A15031%2Flogin%2Fgeneric_oauth&response_type=code&scope=openid+email+profile&state=d392ba8c47961deca1f234ce72f871f1%3A%2Flogin
3. Choose one login method, for example email:
https://dex.example.com:3200

[2020-07-07 20:57] avtarOPS commented on #621
Hi @riupie  I found the following error on the nginx proxy :-
---
upstream sent too big header while reading response header from upstream nginx ingress
---
Setting the  nginx.ingress.kubernetes.io/proxy-buffer-size: "8k" in the ingress worked fine. Try this and I hope that works for you too. Not encountering any issue for now

[2020-07-09 00:04] rezagh2 commented on #646
Added a redirect header to the envoy filter. I expect this behaviour should be default on the Envoy filter but that's a different discussion. Thanks for the tip.

[code]

[2020-07-09 00:05] #646 closed

[2020-07-09 00:10] #217 closed

[2020-07-09 00:10] #452 closed

[2020-07-09 09:20] sushiMix commented on #651
I already switched to OIDC Provider but I lost the group claim (which ease the user management).
In fact I need :  #466 to support the group claim token with auth_request and set-authorization-header to fully solve the issue

[2020-07-09 13:38] InfoSec812 commented on #631
I would love the ability to add arbitrary fields from the JWT token as headers as it would solve a lot of issues I am trying to manually work around right now. For example, I am using KeyCloak+OIDC with oauth2-proxy and I would love for the mapped "roles" attribute to be passed as `X-Forwarded-Groups` to my SonarQube and Nexus servers.

[2020-07-09 15:35] NickMeves commented on #631
@InfoSec812 Hopefully I can get to that Claim->Header idea in the next few weeks.

In the near term, this PR is looking to make Groups a canonical header (at least for OIDC): https://github.com/oauth2-proxy/oauth2-proxy/pull/616

[2020-07-10 00:10] #506 closed

[2020-07-10 04:30] wahyd4 commented on #477
I had the same issue here when I was trying to skip auth for some path under a domain. I agree with you guys that it might be better to handle this outside the proxy.

But  I really hope we can update the document about `skip-auth-regex` giving it doesn't work as expected.

[2020-07-10 09:09] JoelSpeed commented on #531
This is still important and we should do it. Based on some conversation https://github.com/oauth2-proxy/oauth2-proxy/pull/552#issuecomment-656206123 in a recent PR, I think `--trusted-redirect` might be a better name, this would align with the trusted IP option that we are adding there

[2020-07-11 00:10] #437 closed

[2020-07-11 13:00] JoelSpeed commented on #659
Long term, @NickMeves and I had discussed making the whole session configurable with a set of basic claims, and then optional extra claims. This work would rely on us making some fairly major changes though, and should probably coincide with the structural config changes. So for now it looks like we should probably enable a quick fix to minimise the sessions, looks like @NickMeves is ahead of me o

[2020-07-11 16:21] c-x-berger opened #676 "Large authorization headers from GitLab raising 502s(?)"
I have `oauth2-proxy` set up as in [External OAUTH Authentication](https://kubernetes.github.io/ingress-nginx/examples/auth/oauth-external-auth/) in the Nginx Ingress Controller documentation. I added `--set-authorization-header` to the proxy options, and am able to sign in with GitLab.

However, if I stay on the dashboard for about two minutes, I will inevitably see an error message pop up: https

[2020-07-11 16:32] JoelSpeed commented on #676
I'm surprised that 128k isn't showing as enough, normally we recommend setting it to 8k!

Can you check the size of your session cookies, what other headers are being set, and the size of the Authorization header? It looks to me like the buffer size maybe isn't being set correctly?

[2020-07-11 16:35] JoelSpeed commented on #664
Which version of the project are you using?

Are your users starting the flow at ` https://example.com/oauth2` as suggested in your description? They should be starting the flow where they want to be authenticated normally. Ie they would access `https://example.com/foo/bar`, you woudl set the auth-signin to `https://example.com/oauth2/start?rd=https://$host$uri` and then it will redirect them to `

[2020-07-11 16:42] c-x-berger commented on #676
Loading `oauth2/auth` shows 3.1 KB sent and 1.4 KB received in headers. Most of that is cookies and `Authorization`, respectively. The other headers are nothing special (cache-control, DNT, etc.) I don't know if there's some circumstance these might grow under though - the error seems to be tied to a token expiring after a minute or so, so it's hard to consistently reproduce.

According to the "St

[2020-07-11 16:56] JoelSpeed commented on #672
The redirect URL parameter should be the redirect path to the `/oauth2/callback` path on the OAuth2 Proxy http server. You currently have this set to grafana so you will need to update it. The expectation is that `/login` redirect to OAuth2 Proxy, then to dex, then after dex it goes back to the OAuth2 Proxy, and then redirects back to grafana

In your filter, you need to set there that if the OAut

[2020-07-11 17:01] JoelSpeed commented on #676
Doesn't sound like it's a cookie or header size from the oauth2 proxy side then, none of that is particularly large or special

What is the duration of your tokens? What do you have cookie refresh set to? Are these values particularly low?

[2020-07-11 17:07] c-x-berger commented on #676
I haven't set `--cookie-expire` or `--cookie-refresh`, and I can verify that the expiration date on the `_oauth2_proxy` cookie is far enough into the future to suggest the defaults are being used correctly.

[2020-07-11 18:56] NickMeves commented on #676
I wonder if `nginx.ingress.kubernetes.io/proxy-buffer-size` annotation deals with the buffer of the proxied request -- while you are overrunning an 8k header limit on the nginx to oauth2-proxy subrequest?

I need to look more at the `nginx.ingress.kubernetes.io/auth-url` annotation, but I wonder if it behaves like nginx `auth_request` directive which is a subrequest from nginx to oauth2-proxy -- w

[2020-07-11 18:57] NickMeves commented on #676
BTW - thanks for the link to https://kubernetes.github.io/ingress-nginx/examples/auth/oauth-external-auth/ -- I didn't realize those were annotations that could set on the nginx proxy 😄

I'm gonna need to try that on a project I'm in the middle of at work on Monday!

[2020-07-11 19:01] c-x-berger commented on #676
I suspect you're right. I managed to get the 502 error by visiting `oauth2/auth` after some waiting... I might try increasing the buffer on the Ingress to `oauth2-proxy` and seeing what happens.

[2020-07-11 20:40] c-x-berger commented on #676
Yeah, nothing doing on that front. Increasing buffer size still spits out 502s.

More debugging later - when the GitLab token refreshes (every two minutes-ish?) the `oauth2` endpoints send just over 4kb of headers, composed of _both_ the `Authorization: Bearer [...]` and a new `set-cookie` header. Knowing that, my guess is that the Nginx auth module has a small buffer - one separate from `proxy-bu

[2020-07-11 21:06] NickMeves commented on #676
If you can't figure out where the header size limit is hitting you, I'm trying to tackle the large session cookies in a few PRs:

https://github.com/oauth2-proxy/oauth2-proxy/pull/673
https://github.com/oauth2-proxy/oauth2-proxy/pull/632

#673 likely won't help your case since minimal session cookies aren't allowed if you want to pass a token.  But #632 might help a bit.

Another option is to swit

[2020-07-11 21:08] NickMeves commented on #676
I don't know where it would be configured -- but I wonder if the issue is on the response header in the nginx -> oauth2-proxy subrequest (which makes upping the oauth2-proxy ingress buffer not helpful)?

[2020-07-11 21:28] c-x-berger commented on #676
Yeah, it has to be in the subrequest.

So I have two options: pass-through mode, or [raise the subrequest buffer size.](https://nginx.org/en/docs/http/ngx_http_core_module.html#subrequest_output_buffer_size) The default size is one page, aka 4096B for my nodes, which is _just under_  the 4.2 KB sending both `Authorization: Bearer [...]` and the cookie takes up.

Bumping `subrequest_output_buffer_s

[2020-07-11 21:28] #676 closed

[2020-07-11 21:31] NickMeves opened #677 "Adjust `--skip-auth-strip-headers` and `--pass-basic-auth` defaults"
Since #624 is targeting a minor release, we're holding off on making the default values secure by default.

## Expected Behavior

Basic auth isn't passed by default & authentication headers are stripped in allowlisted non-auth routes by default (to prevent spoofing)

## Current Behavior

V6 behavior preserved, but is slightly more insecure by default.

## Possible Solution

Undo this commit: https

[2020-07-11 21:48] NickMeves commented on #667
What are your thoughts for handling this in highly available environments? `singleflight` can protect us from a single node potentially spamming a refresh endpoint -- but what options do we have with parallel nodes (I imagine 3x is a likely common replica size to match AWS availability zones).

Do we somehow "prep" for an upcoming cookie-refresh a percentage of time before the expiration and set a

[2020-07-12 10:38] JoelSpeed commented on #544
This still needs addressing

[2020-07-12 13:43] JoelSpeed commented on #667
We can't completely eradicate the problem using this solution, for that we would need to have the sessions locked in the session store (possible for server side), but this will give us some reduction at the least. When we've set up caching in Nginx before, we've also set up sticky sessions, so in theory, if all the requests can be sticky to the same OAuth2 Proxy backend, then that should minimise

[2020-07-12 15:14] NickMeves commented on #667
Agreed -- there's no 100% solution without a central locking store or sticky sessions in an HA environment to avoid contention.

I'm just curious what probabilistic algorithms we might have in our arsenal that could act as a greedy algorithm that might solve it 99% of the time natively in oauth2-proxy alone without requiring sticky sessions (they just scream 2000s LAMP stack to me, I'm not a fan i

[2020-07-12 16:11] NickMeves commented on #667
This is the variant of the logarithmic counting algorithm Redis for instance uses to count up to 32/64 bit numbers in an 8bit space I was thinking of: http://antirez.com/news/109

We'd use it more to save `set-cookie` or Redis `SET` session saves as our valuable resource rather than reducing counter bit increases to save disk space - but motivation would be similar if we ever wanted to embark on t

[2020-07-12 20:03] c-x-berger commented on #676
(It seems like pass-through mode solves the issue of tokens expiring underneath me, for anyone who stumbles upon this thread in the future.)

[2020-07-13 00:10] #528 closed

[2020-07-13 00:10] #517 closed

[2020-07-13 00:10] #527 closed

[2020-07-13 13:22] JoelSpeed commented on #482
I think we should add a deprecation warning for the next minor release. This has unfortunately not seen much traction from the community though, I'd like to provide server side implementations for the session storage but not sure which would actually be valuable.

[2020-07-13 15:59] NickMeves commented on #482
So I'm actually a big fan of the cookie session store (and a little bit the auto-splitting as well). For these reasons:
- Ease of setup / Barrier to entry is super low.  No extra architectural requirements. Especially for deployments where oauth2-proxies are deployed everywhere as sidecar containers to web app pods, the standalone session management is ideal.
- Gives the option for better performa

[2020-07-13 16:56] NickMeves commented on #482
I would think K8s based CRD session store might be the next potential best addition?

Pros:
- Easy setup.  Transparent architecturally to end users in K8s ecosystem without additional deployment/statefulsets as session store dependencies. Great easy alternative when cookie session store breaks down.

Cons:
- Might be slow. Relies on etcd for storage under the hood -- so disk based and raft consens

[2020-07-13 16:56] kfox1111 commented on #482
Deploying/managing Redis is significantly more work then just cookie splitting.

Cookie splitting is also great insurance for when your usually under the limit but every once in a while it may peak over the limit. This prevents random seeming breakages for users. Having support for splitting + issuing prometheus metrics for when it happens would allow admins to deploy without the need of redis, an

[2020-07-13 17:14] kfox1111 commented on #482
Making this a prometheus metric might help too. Maximum header size returned in requests.

[2020-07-13 18:10] JoelSpeed commented on #651
Ahh, I believe #466 isn't likely to be completed any time soon, but we are making progress on the groups issue in #616, would that PR resolve your issue?

[2020-07-14 00:10] #522 closed

[2020-07-14 05:25] NingPekin commented on #672
@JoelSpeed
I am new to this, do you know how can make istio envoy filter work?
Here is my envoyFilter, I am having a hard time to let it add a header `x-auth-request-redirect`, even though I put `headers_to_add`.

[code]

[2020-07-14 05:26] devopsix commented on #501
Still relevant. PR #543 has a pending code owner review.

[2020-07-14 10:30] salmanisd opened #680 "Access control with ID token"
I have been testing oauth2-proxy with nginx and using ory hydra as OIDC provider at the backend and everything is running very smoothly (thanks for that).

I have a question about implementing access control on specific nginx locations.
e.g) my current flow
1) try to access any resource on nginx
2) redirected by oauth2-proxy to my identity provider
3) enter your credentials, a userid token is issu

[2020-07-14 13:27] NingPekin commented on #646
@rezagh2  I am trying to follow your suggestion of adding but not functional.
[code]
can I ask what istio version are you using?

[2020-07-14 21:08] zhengyang1988 opened #681 "sign_out endpont does not clear the splitted cookies on my end even though this bug was fixed in 2019"
I find that the oauth2-proxy sign_out endpoint does not clear the splitted cookies. It only tries to clear the cookie with the key `_oauth2_proxy`

I saw there was a PR trying to solve this: #70 . But I don't know why the bug still exists

## Expected Behavior
When a request with cookies `_oauth2_proxy_0`, `_oauth2_proxy_1` comes to the endpoint `/oauth2/sign_out` , these cookies should all be cle

[2020-07-14 21:30] JoelSpeed commented on #667
In an ideal world, we would implement a form of lock so that if two threads try to update the session at the same time, one of them will fail and reload the newly updated session, eg like Kubernetes does with the resource version and 409 conflicts. Once we implement a K8s storage backend, that will be relatively easy to achieve. For redis, I'm not so sure, I guess we have to implement some sort of

[2020-07-14 22:04] JoelSpeed commented on #672
I'm not personally familiar with envoy, however we recently had an issue that was similar, you may find your answer there https://github.com/oauth2-proxy/oauth2-proxy/issues/646#issuecomment-655819364

[2020-07-14 22:09] JoelSpeed commented on #681
@NickMeves Do you think your recent changes to the cookie naming for large/split cookies might have affected this?

@zhengyang1988 Could you please tell us a little bit more about how you use the project, are you accessing it directly, through another proxy, via something like an auth request mode or external auth in nginx or envoy. This kind of information is very helpful for us when trying to de

[2020-07-14 22:20] JoelSpeed commented on #482
I would certainly be in favour of this, it feels like a natural fit and it would be relatively easy to maintain personally since I write K8s code for my day job 😅 I think we have two options if we go down this route, we either store the sessions in secrets within Kubernetes, which would be good since they're built in, but have the limitation of people maybe having too wide RBAC permissions so acce

[2020-07-14 22:25] JoelSpeed commented on #482
There is also another issue with the cookie splitting, in that NGINX by default will only copy the first `Set-Cookie` header from a subrequest, so to be able to use nginx auth request with the split cookies, you have to install a lua module and use a lua script one of our contributors came up with, easy for those running nginx as an ingress controller, not so easy for those who don't run K8s

[2020-07-14 22:26] NickMeves commented on #681
Hmm - in this particular case, I don't think my recent change would've affected this (and I think since this is v6, it doesn't have my change).

But it does bring to light a corner case I missed: https://github.com/oauth2-proxy/oauth2-proxy/blob/bb5977095faf0a033a5e01c67597641a7c6db38b/pkg/sessions/cookie/session_store.go#L75

That raw regex check won't find the super corner case cookies I handled

[2020-07-14 22:31] NickMeves commented on #482
Is this still the case? I just started experimenting with nginx-ingress annotations yesterday on a dummy httpbin deployment's ingress.

I just had to set the `nginx.ingress.kubernetes.io/auth-signin` and `nginx.ingress.kubernetes.io/auth-url` annotations. I saw my cookie session (and split to boot) in the httpbin response.

I haven't dived into the nginx ingress implementation of oauth auth -- but

[2020-07-14 22:33] NickMeves commented on #482
Yup, just tested again to confirm. httpbin backend got my giant 6KB split cookie without any added Lua 👍

[2020-07-14 22:45] rezagh2 commented on #672
This worked for me on istio 1.6. Pretty sure it will work on 1.5 too.

[code]

[2020-07-14 22:45] JoelSpeed commented on #482
Interesting, it certainly never used to as we had a number of people come to us with this problem, but if it's fixed now, that's great news!

[2020-07-14 22:49] NickMeves commented on #482
I actually don't think we need to be worried about the data being in a secret vs a CRD for instance. If the session Ticket logic I'm trying to refactor is used for every store https://github.com/oauth2-proxy/oauth2-proxy/pull/682 -- then the Ticket.Secret provides us a unique per session AES-GCM secret that is distinct for each session.

All secret would get us then is double AES encryption on tha

[2020-07-14 22:50] kfox1111 commented on #482
Secrets would be a next best option I think, yeah. They do support disk encryption at rest in the apiserver.

+1

No. My users and I usually use oauth2-proxy on bare metal private clusters. So the bar goes from nothing to maintaining a db yourself currently all in one go.

[2020-07-14 22:56] zhengyang1988 commented on #681
Sorry, it's my fault. there is an envoy proxy in the gateway concatenating the cookie splits in the request into to one cookie named `_oauth2_proxy` before sending it to the sign_out endpoint. So the sign_out endpoint only get the `_oauth2_proxy` cookie. Thus it only clears that cookie.

But I really hope there is an bool option in the oauth2-proxy configuration to prevent oauth2-proxy splitting l

[2020-07-14 22:56] #681 closed

[2020-07-14 22:56] JoelSpeed commented on #482
This is where we probably want to talk about caching the responses from these stores, we know when the session is due to be expired or refreshed, so we could cache it for a short period so long as we don't overstay that period, though, that's a separate discussion.

I'm more concerned about the overhead of managing our own CRD vs using a built-in. Whether it's sercet or configmap it doesn't partic

[2020-07-14 22:59] JoelSpeed commented on #681
I don't understand why you would want to be concatenating them again? They're are supposed to only be interacted with via the OAuth2 Proxy itself. If you concatenate them, they will be over the 4kb cookie limit and most browsers would drop them.

If you have large split cookies, I would suggest you move to a server side session store. We only have one implementation of this, Redis, presently, but

[2020-07-14 23:46] kfox1111 commented on #482
Yeah, you could watch the kubernetes objects with a k8s watch and cache them.

Yeah, mostly bare metal k8s. We could explore an operator or something for maintaining the state in a clustered database. But really, the more things to manage, the more things can go wrong, and or need to educate folks on how to maintain. (even if an operator is mostly doing it). Its nice to keep things simple until mo

[2020-07-15 00:10] #534 closed

[2020-07-15 00:28] NickMeves commented on #680
At the moment there's nothing for claim based authorization rules in the OIDC provider.  This PR is taking a look at it (group claim specifically): https://github.com/oauth2-proxy/oauth2-proxy/pull/616

Other providers (Github, Gitlab, Google I think) have very rudimentary support for group based AuthZ -- but for the most part oauth2-proxy specializes in authentication and has delegated authorizat

[2020-07-15 01:08] NickMeves commented on #482
So as a data point for a CRD instead of a traditional resource like a Secret or ConfigMap:

Recently we had some dev test system leaking stale `secret` resources (to the tune of 5000+ over time in one K8s cluster). This only became painfully apparently when we migrated to Helm3 -- since it manages it revisions in Secrets now.

Performing a `helm list` on the namespace with the secret bonanza was l

[2020-07-15 07:37] salmanisd commented on #680
I was thinking something around these lines(please correct me if I'm wrong)

1) authenticate with oauth2-proxy and get the idtoken
2) pass the access token from oauth2-proxy to nginx (using --pass-access-token)
3) in nginx for each app location e.g) localhost/app1 , localhost/app2 , replace oauth2-proxy's auth_request directive with own custom auth_request which takes the access token, sends it to

[2020-07-15 12:06] salmanisd commented on #680
So I did some rough implementation and with some hardcoded values it seems to be working

     location / {
            auth_request /internal-auth/oauth2/auth;

            # Alternatively send the request to `start` to skip the provider button
            error_page 401 = http://oauth2-proxy.oauth2-proxy.localhost/oauth2/start?rd=$scheme://$host$request_uri;

            root /usr/share/nginx/ht

[2020-07-15 12:31] segfault16 commented on #551
@JoelSpeed Thanks for your interest in the issue!

From what I can tell grpc-web adds the headers:

`X-Grpc-Web: 1`
`X-User-Agent: grpc-web-javascript/0.1`

but I didn't find a `X-Requested-With` header.

Maybe an option on oauth2-proxy to specify headers which identify API calls could be a flexible solution?

[2020-07-15 15:09] NickMeves commented on #680
Nice! Good work getting almost there in nginx side.

If you have nginx at your fingertips and you need the Access Token in an `Authorization: Bearer` header, could you use the Lua module to programmatically make that header translation/copy?

[2020-07-15 15:21] NickMeves commented on #482
Another crazy idea I had for a session store last night:

Shared (needs a cluster bus) in-memory session cache using something like [groupcache](https://github.com/golang/groupcache) [https://github.com/golang/groupcache] (likely [mailgun's fork](https://github.com/mailgun/groupcache) that supports key removal & expiration [https://github.com/mailgun/groupcache])

With maybe [memberlist](https://g

[2020-07-15 15:24] NickMeves commented on #667
Was thinking about a potential design of a shared session cache/store that would've required a cluster bus: https://github.com/oauth2-proxy/oauth2-proxy/issues/482#issuecomment-658831910

I think there's potentially viable use cases for preventing refresh stampedes  using a cluster bus concept. We hash a session state and delegate its refresh management to a node in the cluster. Over the cluster b

[2020-07-15 16:27] salmanisd commented on #680
Basically I have to use this implementation of an embedded device where we dont have Nginx Lua installed. Adding nginx lua to the firmware would be additional work + I am not sure how that can solve this issue.

I know that oauth2-proxy can pass access and id tokens (--pass-access-token and --pass-authorization-header options) .
I have also tried using $upstream_http_x_auth_request_access_token li

[2020-07-15 21:47] ridhoq commented on #502
Hello @Fez29 and @Nojinverse! I have been studying this GitHub issue for a week or so, since I believe I'm trying to accomplish the same thing as what you both have working today. I'm using ingress-nginx (0.32.0) with oauth2-proxy (5.1.0) configured with the Azure provider. My ideal end state is that I should be able to pass a bearer token to an endpoint protected by the oauth2-proxy and bypass th

[2020-07-15 23:04] kfox1111 opened #684 "proxy to oauth2_proxy to upstream"
Say you setup a reverse proxy coming in at foo.com/mysite/ and it rewrites all traffic under that path to oauth2-proxy at /
This allows the upstream to not know that it is /mysite rather then just serving off of / simplifying configuration of the upstream.

Oauth2-proxy is not configurable enough in this environment, because it only has one setting ProxyPass, which it uses both for returning urls

[2020-07-16 12:37] salmanisd commented on #680
So I solved one issue.
I got access to the forwarded access token by setting ```set_xauthrequest="true"```  and then accessing it in nginx using ```$upstream_http_x_auth_request_access_token```

Previously I had just ```pass_access_token="true"``` but I couldnt access the token.

Only problem right now is that I can access the token only in location / (it uses auth_request /internal-auth/oauth2/au

[2020-07-16 19:06] JoelSpeed commented on #551
That could be a good fix for now, though if there's a standard set that would allow us to identify requests, this could make it easier for users long term (otherwise everyone will have to configure that flag right?)

Out of interest, was there an `Accept` header? I wonder if there was a value in that that suggests it was a GRPC request 🤔

[2020-07-16 19:14] JoelSpeed commented on #482
Definitely, we can use an informer for the K8s implementation, but it would be good to also have some caching for the redis sessions as well maybe?

I think if we went with `sercets`, which would be my preference, then we would recommend that a separate namespace is used just for the OAuth2 Proxy or its secrets at the very least. We should have 1 session per user at any given time, we will have to

[2020-07-16 19:29] kfox1111 commented on #482
separate namespace for secrets would be nice as an option, but some users don't have access to multiple namespaces, just one.

[2020-07-16 19:44] JoelSpeed commented on #482
Can you give an example of where that might be the case? It would be my assumption that if a user has access just to a single namespace, that they would not be able to install a CRD since that is a cluster scoped resource?

[2020-07-16 19:52] kfox1111 commented on #482
@JoelSpeed that is correct. CRD installation is not issued to users with a rolebinding of 'admin'. Only cluster admins can do that.

additionally, if you install the operator-lifecycle-manager(OLM) on your cluster, the OLM is allowed to install CRD's on behalf of users that subscribe to an Operator (request it be installed) if the CRD is not already installed. So that can be an alternate mechanism

[2020-07-16 20:32] NickMeves commented on #482
Oh yeah - definitely 😄  -- If something like this were ever a session store someone picked, they'd need to be really comfortable with their PodDisruptionBudget setup. Which is why resyncing on startup before `ping` returning healthy would be key otherwise a rolling node restart of a cluster would likely wipe alot of sessions even with a PDB.

I had the crazy idea the other night -- then decided I'

[2020-07-16 20:52] NickMeves commented on #482
I imagine using `oauth2-proxy` as a sidecar container in app pods is a popular deployment strategy (it gives the most security benefits since the app container can be locked to listen on localhost only preventing auth header injection attacks by circumventing the proxy).

Would the separate `secret` namespace work with that deployment design? Since `oauth2-proxy` itself is then firmly in the app n

[2020-07-16 21:01] JoelSpeed commented on #482
I don't see why it couldn't work across namespaces. You can grant permissions for a service account to have access to a different namespace, so there's nothing preventing you from doing that, all we need from oauth proxy perspective is the target namespace, and the credentials

[2020-07-16 22:02] kfox1111 commented on #482
Remember there is a difference between users of a cluster and administrators of a cluster. You only can setup cross namespace permissions if you have permissions to 2 namespaces. Some cluster-admins will not give out multiple namespaces to users. Its not a technical restriction, but a restriction none the less. Another example, some users may get charged by the cluster-admin per namespace. So ther

[2020-07-16 22:08] kfox1111 commented on #482
@NickMeves While we are talking about all the cool things you can do with Kubernetes, (sidecars)
A mutating webhook would be cool too. You could do oauth2-proxy injection as a sidecar automatically based on a pod annotation similar to how istio does.

[2020-07-17 16:09] aizzi opened #686 "Unable to set `username` when using Keycloak provider"
I am setting up the following environment:

User
   |
Nginx
   |
Oauth2 <---> Keycloak
   |
Grafana

This is the `nginx` configuration (following the example [here](https://oauth2-proxy.github.io/oauth2-proxy/configuration)):

[code]
When I access `https://nginx.vas.cz/grafana/`, I get redirected to Keycloak login page, perform the login and then sent to Grafana, but without login.

If I change `p

[2020-07-17 20:42] drewwells commented on #531
whitelist has a negative association with it. `trusted-redirect` would be more clear and remove the inherent bias in the terminology.

[2020-07-19 15:23] JoelSpeed commented on #686
This log line hints at a programming error within the construction of the keycloak provider, looks like this is some sort of internal bug that means we aren't setting some of the fields correctly.

The rest of your configuration looks ok from my initial scan. If you access `/oauth2/auth` what headers do you see returned?

[2020-07-20 07:11] r-kotagudem opened #691 "support for Add -bypass-auth-except-for to protect only paths matched by a regex"
@JoelSpeed

currently we have --skip-auth-regex to specify paths which needs to be skipped. which says protect all except ones configured in
-skip-auth-regex

Required functionality
Bydefault do not apply auth to all paths.
apply authentication to only specific paths(like allowedpaths) which are configured.
this would be useful.please let me know if there is such an option already.

want to acheiv

[2020-07-20 08:35] szombi opened #692 "Gosec question"
Question about gosec and one example report

- Version used: 5.1.0

Hello! We are currently using 5.1.0 oauth2-proxy in our product and based on our security rules we ran gosec on your code. I attached an example security report (most of can be false positive but I don't know your code). My question is do you plan to use gosec during the build or before releases?

Thank you!

[code]

[2020-07-20 10:42] carrot-hub opened #693 "Keycloak provider does not verify group membership"
## Current Behavior
Let's say I have one Keycloak server and I have two groups created (**user** and **admin**).
I have a user X assigned only to group **user**.

I have site A which is secured by oauth2-proxy, configured to only provide access to users that are part of **user** group.
I have site B which is secured by another oauth2-proxy, configured to only provide access to users that are part

[2020-07-20 10:49] JoelSpeed commented on #692
What perfect timing, #690 was just opened to resolve a number of these issues!

I think that would be a great idea once we have it passing, I suspect that may be the case after #690, @NickMeves WDYT?

[2020-07-20 14:39] aizzi commented on #686
Is this what you are asking for?

[code]

[2020-07-20 15:34] carrot-hub opened #694 "Oauth2-proxy fails to callback when realm_access is present in token"
### FYI: Worked in v5.1.1

## Current Behavior
I'm using Keycloak provider. When I add role-list client-scope to the access token, the proxy fails to redirect me after successful authentication to my callback URL ending up in 502 Bad Gateway at https://my.domain.com/oauth2/callback?state=c88d0b8f7a864bf7a07aebae54169650%3Ahttps%3A%2F%2Fmy.domain.com%2Frabbitmq%2Flogin&session_state=57a90ad3-a313-4

[2020-07-20 16:38] NickMeves commented on #692
Well that list looks familiar 😉

My vision is once we either clean up everything or mark it as `#nosec` we force a clean gosec on future PRs as a mergeability branch protection.

[2020-07-20 16:58] szombi commented on #692
This sounds great! Thanks for the info! :)

[2020-07-20 17:05] JoelSpeed commented on #692
Can we add `gosec` to the `golangci-lint` list? It's supported so maybe we just add that onto your PR @NickMeves?

[2020-07-20 17:11] JoelSpeed commented on #686
We would need to see an authenticated request, so if you log in in the browser, then visit that URL, you should see a blank page. If you open your web browser developer tools you should be able to see the headers that are returned

[2020-07-20 18:16] JoelSpeed commented on #691
Could you not achieve this by writing a negative regex using the `--skip-auth-regex` pattern.

@NickMeves This makes me think about the behaviour  of `Deny` within the request authorization that we've been discussing, should it block the request, or request the user to authenticate? Is there a third policy to consider?

[2020-07-20 18:50] NickMeves commented on #691
I think Deny should definitely still be a hard block (no fallback to auth like missing all allow rules) - IE for IP denylist scenarios.

In my last draft I did add this `NoOpPolicy` that at the moment I was just using as an internal fallthrough from an unmatched rule when traversing a whole ruleset:

https://github.com/oauth2-proxy/oauth2-proxy/pull/685/files#diff-69783d8f229cbcc31a890fc3c014ea4eR

[2020-07-20 20:29] avoltz opened #695 "When running oauth2-proxy behind a reverse proxy, redirect url loses query string"
## Expected

I'm running oauth2-proxy behind an TLS termination proxy and when I visit `https://fqdn/app/page?query` I expect to land on `app/page?query`, but login redirects to `https://fqdn/app/page` without query

## Current behavior

I first saw this using --skip-provider-button, but the behavior is similar with and without that flag.

So I delete cookies then refresh:
[code]

oauth2-proxy the

[2020-07-20 22:30] kfox1111 commented on #693
A workaround for now would be to use a different cookie name and cookie secret per instance.

[2020-07-20 23:36] r-kotagudem commented on #691
Thanks for reply
It seems golang re is limited in negative lookaheads and doesn't support expression like below
^((?!path).)*$

Can you suggest an expression negating the path match

[2020-07-21 00:10] #88 closed

[2020-07-21 00:29] idntfy commented on #490
Answering to the bot - the issue is still relevant and the behavior is well-reproducible. Have no time to provide specific answer to Joel.

[2020-07-21 07:31] dev-cr-ka opened #697 "Handle/Ignore Basic Auth"
How can I use oauth2-proxy for OIDC authN of user, but keep Basic Auth for machine authentication?

## Question

I have set up oauth2-proxy with Istio EnvoyFilter. Every unauthenticated request is redirected to my IDP (Azure AD). User can login and is redirected to my app. Thanks for your great app and easy setup!

There is a REST endpoint where another application sends POST requests to the appli

[2020-07-21 07:44] sushiMix commented on #651
Hello, #616 can solve my issue.

[2020-07-21 08:25] xUnholy commented on #109
This thread has been closed for a while but I'm experiencing a 404 on my redirect.

Here is my HelmRelease

[code]

I have my ingress with the following annotations:

[code]

I login to Github as expected, but the redirect just 404's

I've done the recommendations as mentioned above but to no avail, would love any thoughts on what I might be missing?

[2020-07-21 10:59] messiahUA commented on #109
@xUnholy is there a reason you have "rd=$escaped_request_uri"? maybe it should be something else?

[2020-07-21 11:03] xUnholy commented on #109
@messiahUA that was what they showed in the docs `https://kubernetes.github.io/ingress-nginx/examples/auth/oauth-external-auth/`

[2020-07-21 12:16] #680 closed

[2020-07-21 12:54] JoelSpeed commented on #693
@NickMeves and I have been discussing this recently during some refactoring work. We are planning to add some generic request authorization that will be performed on each request  once the session is loaded. That should allow you to set the restrictions you need.

In the mean time, the workaround @kfox1111 will get you started. You may also be interested in #616 which might help with the issue

[2020-07-21 13:00] JoelSpeed commented on #691
^((?!path).)*$

Ahh that is a good point, I'm not sure entirely on the specifics of this tbh with you.

If you have a large number of paths you don't want to protect and then a subset that you do, have you considered using something like nginx as the main proxy and setting OAuth2 Proxy in auth_request mode for the paths you do want to be protected? I imagine that would likely be easier to resolve.

[2020-07-21 13:15] carrot-hub commented on #694
Hi,
I already tried what u suggest but unfortunately with no success.

I agree the behavior is strange, but when I rollback to the 5.1.1 it works like a charm.

[2020-07-21 13:24] JoelSpeed commented on #694
Are you able to build an image from the latest master branch and try the `--session-cookie-minimal` option that was introduced in #673?

[2020-07-21 13:45] carrot-hub commented on #694
This worked, thanks Joel :)

[2020-07-21 13:48] JoelSpeed commented on #694
Great, I should be cutting a new release soon so you can have an official image for the fix. I suspect if you had increased the bugger size more than 8k it may have solved the issue. This problem seems to have come from us making sessions mandatory-ally encrypted and as such, including lots of tokens which bloated the sessions. We are working to reduce this for the next major release.

[2020-07-21 15:13] steffakasid opened #698 "Which OAuth Flows are supported?"
Hi,

I searched regarding any information of supported OAuth Flows? As I want to use the oauth2-proxy together with m2m communication can you tell me if the client-credential flow (https://auth0.com/docs/flows/concepts/client-credentials) is supported?

Regards
Steffen

[2020-07-21 15:13] NickMeves commented on #691
In the future state, I think we would want to keep the `path` portion of the authorization rule simple.  But we could get this functionality by adding the `AuthPolicy` we talked about.

Then people in this scenario would add `AuthPolicy` rules higher in the chain for the few routes they want to auth (I've done this before IE only protecting a backend session API route on an app). Then at the end t

[2020-07-21 15:16] NickMeves commented on #692
Added it in #690 and confirmed it failed when I left a few gosec findings unmitigated to test.

That PR now has all of these findings mitigates or documented as to why we won't mitigate.

[2020-07-21 15:38] #695 closed

[2020-07-21 19:35] JoelSpeed commented on #698
We don't support machine logins, only user logins, however, if you have a third party OIDC issuer who can grant your machine's with tokens, we can verify the tokens using the `--skip-jwt-bearer-token` option, so you can allow m2m to access the resources but you will need to generate their credentials using something else

[2020-07-21 22:24] NingPekin commented on #672
Thank you for your hint! @JoelSpeed  and @rezagh2
I am able to have my `x-auth-request-redirect`
But it is still not redirecting to the original url, I have seen error logs in oauthproxy:
[code]

http://1.1.1.1/ is my org ip and also the ip I give to `x-auth-request-redirect`

[2020-07-22 04:29] rezagh2 commented on #672
Few things for you to test:
- That url in x-auth-request-redirect is the "original upstream" url you have to set
- if 1.1.1.1 is the origin url try removing / from the end
- oauth2 proxy has domain white list you can try if not already populated
- check if envoy has a constant you can use to indicate upstream so that you can set in x-auth-request-redirect to work for all upstreams ?

[2020-07-22 08:26] r-kotagudem commented on #691
We are using envoy proxy as gateway here, tried per route config for ex_authz filter(which call oauth2-proxy), but that doesnt work in the istio 1.6. Will try again.
thanks for your support.

[2020-07-22 08:27] JoelSpeed commented on #564
This issue was solved, we now have a `--ping-user-agent` option

[2020-07-22 08:27] #564 closed

[2020-07-22 13:20] jankatins commented on #565
Still a Problem.

[2020-07-22 21:48] NingPekin commented on #672
Hi @rezagh2
The previous error has gone.
Unfortunately I am still blocked:

I am aiming to access `httpbin.example.com` and it directs me to dex, then after authentication and click GRANT button.
I am redirected back to the dex page.
1. Below shows  `cookie "_oauth2_proxy" not present`, but the cookie is set to
`set-cookie: _oauth2_proxy_csrf=84fddb14bfdc352f07e4d50f390f001c; Path=/; Domain=exampl

[2020-07-22 22:08] NingPekin commented on #672
I suspect this error is related to proxy_buffer_size issue. But I don't know how to manage it with Istio

[2020-07-23 03:45] rezagh2 commented on #672
also try setting cookie-domain.
i have set the buffer on the ingress

[code]

[2020-07-23 04:13] NickMeves commented on #697
Hey there,

I think you have a couple of potential options depending on your security requirements to support human + machine users concurrently.

1.) Use the `--htpasswd-file` option to create single factor accounts. Passwords/Api Keys can be setup in with SHA1 or Bcrypt format. If this option is enabled, it will be added to the session middleware chain and for machine users it will create a sess

[2020-07-23 04:15] NickMeves commented on #697
And a third option I've seen -- if your backend only needs machine users to access a few select routes, you can use `--skip-auth-regex` to skip authentication on those requests and manage the API authentication yourself in your backend application.

[2020-07-23 04:39] NickMeves commented on #629
Untested code incoming 😄

If we switch the Verified field in the claims struct from a `*bool` to an `interface{}` -- would something like this potentially work?

[code]

[2020-07-23 06:11] steffakasid commented on #698
Hi @JoelSpeed,

thanks for your reply.

Regards
Steffen

[2020-07-23 06:11] #698 closed

[2020-07-23 07:36] dev-cr-ka commented on #697
Thanks mate, it's just one route, so I guess I'll go with option 3 👍

[2020-07-23 07:38] #697 closed

[2020-07-23 08:09] JoelSpeed commented on #629
Maybe we should move the claim extraction over to the `simplejson` way of extraction, that way we could try both I guess, I'd rather we try and merge the claim extraction across providers first though, would be good to have 1 codepath for this extraction rather than 3/4/5...

[2020-07-23 14:23] r-kotagudem commented on #691
Hi @NickMeves
Is this functionality to add allowed paths/policy going to be available in next release? We have are stuck with lack of this option for our cluster.

[2020-07-23 14:23] r-kotagudem commented on #691
thanks

[2020-07-23 16:50] NickMeves commented on #629
Good thought -- maybe something in `apis/sessions/session_state.go` -- IE `NewSessionStateFromToken` to centralize all the logic in a meaningful place?

[2020-07-23 21:09] NingPekin commented on #672
@rezagh2 Could you please elaborate why Ingress is used when we use istio?
I got confused there since I thought the logic is that request passes through Istio ingress gateway to envoy-filter, oauth-proxy and dex.

[2020-07-23 21:45] rezagh2 commented on #672
you're right but you do not have to use istio ingress gateway. in this particular use case we have no ingress gateway and still use nginx ingress (might change it later). for that reason envoy filter uses the sidecar instead of gateway.

[2020-07-24 12:33] JoelSpeed commented on #629
I was thinking something in pkg/authentication maybe? Something like `ExtractClaims` which would convert a token and maybe userinfo response (fallback?) Into the session

Might be worth having some discussion over design. I'm thinking maybe we try to get the claim from token, if that fails we fall back to requesting the userinfo and trying to extract it from there, but do so in a way that we cache

[2020-07-24 12:33] #647 closed

[2020-07-24 12:33] cccs-cat001 commented on #647
Wasn't an oauth issue at all.

[2020-07-28 10:49] formatlos commented on #676
@c-x-berger how/where would I set the `subrequest_output_buffer_size`?

[2020-07-28 14:48] aizzi commented on #686
Sorry for the delay in answering. Here are the response headers I get:

HTTP/1.1 404 Not Found
Server: nginx/1.14.0 (Ubuntu)
Date: Tue, 28 Jul 2020 14:45:20 GMT
Content-Type: text/plain; charset=utf-8
Content-Length: 19
Connection: keep-alive
Cache-Control: no-cache, no-store, must-revalidate, max-age=0
Expires: Thu, 01 Jan 1970 00:00:00 UTC
X-Auth-Request-Email: <my correct email>
X-Auth-Request-

[2020-07-29 04:40] jhutchings1 commented on #521
Hey folks, I'm glad the stale bot reminded me here! I'm going to send you a patch which uses the latest guidance which works with pull requests.

[2020-07-29 16:33] AMoghrabi commented on #676
Also wondering about where we set `subrequest_output_buffer_size`, Appreciate the help @c-x-berger

[2020-07-29 21:35] ghostsquad opened #702 "`trusted-ip` should be `trusted-ips`"
`TrustedIPs         []string `flag:"trusted-ip" cfg:"trusted_ips"``

The flag name does not follow the convention in the documentation, such that if it's a list or allows a list, it's "plural". Additionally, the flag name is different from the `cfg` name, which is just confusing.

- Version used: v6.0.0

[2020-07-29 21:43] ghostsquad opened #703 "release notes about cookie-domain invalid?"
The release says the `cookie-domain` is now `cookie-domains` (s) but that seems incorrect.

    Multiple cookie domains may now be configured. The longest domain that matches will be used.
    The config options cookie_domain is now cookie_domains
    The environment variable OAUTH2_PROXY_COOKIE_DOMAIN is now OAUTH2_PROXY_COOKIE_DOMAINS

https://github.com/oauth2-proxy/oauth2-proxy/releases/tag/v6

[2020-07-29 21:43] JoelSpeed commented on #702
The option is in fact correct and fits the convention across the options.

From the docs:

This is meant to mean that if a flag option (eg `--trusted-ip`) can be set multiple times (eg `--trusted-ip=1.2.3.4 --trusted-ip=5.6.7.8`, then when it is in the config file, which is toml based, it should be a list there and have a trailing `s`, (eg `trusted_ips=["1.2.3.4", "5.6.7.8"]`

You can see the patt

[2020-07-29 21:46] ghostsquad opened #704 "unknown flag: --trusted-ip"
## Expected Behavior

documentation describes the flag `--trusted-ip` but that appears not to be a valid flag:
https://oauth2-proxy.github.io/oauth2-proxy/configuration

[code]

also

[code]

- Version used: v6.0.0

[2020-07-29 21:57] JoelSpeed commented on #631
So you're aware, I started working on something that might help with the arbitrary claim mapping in #705. Since we won't get the structured config for a while still, I'd like to get #636 in, release that, and integrate it with #705 so that the extra headers get converted to static valued headers from a "secret" value.

[2020-07-29 22:03] JoelSpeed commented on #704
This is due to the fact that the hosted documentation reflects the state of the master branch. This feature was recently merged and will come in `v6.1.0` which I'm hoping to get out within the next week or so.

We have an issue open to track the fact the hosted docs are not for the current release already, see #550

[2020-07-29 22:06] JoelSpeed commented on #703
This is the same as #702, everything there is actually correct, though confusing. The flag has remained as `--cookie-domain`, the config file options is `cookie_domains` and the environment option is `OAUTH2_PROXY_COOKIE_DOMAINS` .

[2020-07-29 22:07] ghostsquad commented on #704
@JoelSpeed would it be possible to either keep the docs aligned with what _is_ released, or practice continuous delivery, such that master is released every time something is merged to it?

[2020-07-29 23:34] ghostsquad commented on #702
Thanks for the detailed explanation. Hopefully this will serve to help others should they run into the same confusion.

[2020-07-30 17:35] c-x-berger commented on #676
I'd _seriously_ recommend using oauth2-proxy as a proper pass-through instead, but since you guys are asking:

[code]

[2020-07-30 18:25] NickMeves commented on #676
Once we get a v6.1.0 release in the next couple of weeks, this PR that is included should help with a lot of these header size issues: https://github.com/oauth2-proxy/oauth2-proxy/pull/632

[2020-07-30 18:37] maxbrunet commented on #608
Hey there, I have suggested a PR for Jsonnet and Kubernetes manifests/kustomize: #706. Hope this help.

[2020-07-30 19:28] ezraw commented on #455
We'd love to see this addressed. +1 for concatenation.

[2020-08-01 00:11] #566 closed

[2020-08-01 08:29] JoelSpeed commented on #459
If we can drop in a different mux that will fix this without breaking existing routing then I'm happy to accept that change, question is whether we should consider this a breaking change or not for our users

[2020-08-01 20:25] ba1dr opened #707 "Endless redirect to provider login screen"
What I see:
upon opening website I get redirected to `/start` endpoint and then immediately to Google "Sign In" page.
After logging in with google I am redirected to `/callback?state=blabla` page with positive record in the log (I see my email in the oauth2-proxy's log).
But then I immediately get redirected to `/start` and to Google "Sign In" page again and so on.
If I enter my website's address

[2020-08-01 20:45] ba1dr commented on #707
Well, it seems I figured this out.
The line below causes this redirect:
[code]
Removing this line from that location fixes the main issue. But after login I get redirected to `/`. This refers us to #695 - is it fixed right?

[2020-08-02 14:36] JoelSpeed commented on #684
Have you tried setting the `proxyPrefix` to `/mysite/oauth2`? If you did that and could prevent the rewrite in the upstream proxy for OAuth2 Proxy's path, this should provide a workaround I believe

[2020-08-02 14:55] JoelSpeed commented on #686
I think there may be a bug within the Keycloak provider, it should be returning a username but your comment suggests that the username is empty. We need to look at where it is constructing the session and see why the username isn't being populated there.

[2020-08-02 15:00] JoelSpeed commented on #608
@maxbrunet Since @EvgeniGordeev added a helm based example in #615, I'm a little hesitant to have multiple disconnected deployment examples within our repo. Do you think you could expand on why you think it's beneficial for us to have helm, raw K8s, jsonnet and kustomize examples?

[2020-08-02 15:03] JoelSpeed commented on #455
I think we could add a `params` field to the `Upstream` struct within our `options` package that could then be used by the `http` upstream proxy to add params to each request. For now we would need to convert from the legacy upstreams by parsing he `--upstream=/foo?a=b` using `url.Parse` (I think we are already doing this), then taking the parsed params from that

[2020-08-03 10:35] wesleydebruijn commented on #109
@xUnholy I had the same issue while using `$escaped_request_uri`. Using the following auth-signin fixed it for me:
[code]

[2020-08-03 14:36] suhrm1 opened #709 "OIDC: JWT Bearer Passthrough fails to validate Token"
## Expected Behavior

1. client retrieves valid Access Token from _OpenID Provider_
2. client accesses Oauth2-proxy with HTTP request containing `Authorization: Bearer {access token}` header
3. Oauth2-proxy validates Token and proxies request to upstream

## Current Behavior

1. see above
2. see above
3. Oauth2-proxy cannot validate the access token

Log message:

[code]

I have verified the token

[2020-08-04 14:17] robbertvdg opened #711 "oidc authentication is being skipped but oauth2-proxy is still returning 200"
After upgrading oauth2-proxy from 5.1.1 to 6.0.0 we are experiencing issues with the keycloak oidc authentication. In the oauth2-proxy logs we see a 200 returned, however no authentication headers were provided (and no login redirect). Looking at the release notes we had to change our `--redis-sentinel-connection-urls` and the docker image.
## Expected Behavior

Keycloak should be queried when cal

[2020-08-04 14:34] maxbrunet commented on #608
@JoelSpeed The Jsonnet/Kustomize deployments are more than just examples, they can directly be used as libraries to deploy oauth2-proxy with very little to do to get it production ready. There is not a lot of those for oauth2-proxy, the most popular, [stable/oauth2-proxy](https://github.com/helm/charts/tree/master/stable/oauth2-proxy) (not many others of quality), has been deprecated with the rele

[2020-08-04 15:15] ba1dr opened #713 "Anonimous user"
Actually, how can oauth-proxy raise not HTTP401, but some response for "Anonimous user"?

Say, we have a page that could be shown to all users - both authorized and anonimous. Known users will have more personalized content and could have more buttons available while just unknown visitors will see only default settings and "Log In" button which they can click to get access. Backend decides itself

[2020-08-04 18:17] aizzi commented on #686
Should you be interested in the environment I used to reproduce, you can find it detailed [here](https://aizzi.github.io/tutorials/nkpg.html).

[2020-08-05 00:11] #585 closed

[2020-08-05 10:22] SayakMukhopadhyay commented on #608
I personally prefer Helm since Helm has more proliferation. It helps in having a single tool but I can also see how kustomize can help as you would not need to maintain a chart management system. At the end of the day, it would help if a quick way to deploy to k8s is available and helm and kustomize both fit the bill so its upto the devs' preferences.

[2020-08-05 11:20] pnoguera commented on #502
Hi,

we had a similar use case, basically verify an ID-Token provided by Azure ID. Since this token can have both [versions](https://docs.microsoft.com/en-us/azure/active-directory/develop/id-tokens) v1.0 and v2.0 and both have different issuers, we've managed to configure it by setting the `--extra-jwt-issuers` to both issuers separated by a comma without having to explicitly configure the applic

[2020-08-06 02:17] NickMeves commented on #711
How exactly is this hooked into Istio/Envoy? Is this an inline proxy (ingress -> oauth2-proxy -> application pods)? Or are you hooking into this via ingress resource annotations that perform a subrequest like this (excuse the nginx example, I had it sitting around):

[code]

The `static://200` upstream is what piqued my interest when you mentioned always 200 vs using the `/oauth2/auth` endpoint as

[2020-08-06 02:18] NickMeves commented on #711
Also, in your request logs, is there an authenticated username in that field (signaling there's an existing session that it pulled the User from)?

Anything interesting in the auth log entries (if there are any, sounds like this might be skipped?)

[2020-08-06 02:32] NickMeves commented on #709
This error potentially giving more details is shadowed at the moment in v6.0.0 😢 : https://github.com/oauth2-proxy/oauth2-proxy/blob/d9af3ffc5ec0daf4f198100e80175f07de5d2208/oauthproxy.go#L1147

But this usually fails when the OIDC Provider library Verifier.Verify method has issues.  Usual culprit is the issuer/audience in the Bearer IDToken JWT doesn't match the issuer/audience the OIDC Provider

[2020-08-06 02:37] NickMeves commented on #709
Oh `Access Token` 🤔

The OIDC Provider Verifier library is usually looking for the IDToken in the `Verify` method -- maybe that's the issue?

[2020-08-06 02:42] NickMeves commented on #709
FYI - v6.0.0 currently has a bug if the IDToken you submit doesn't have an email address claim (IE machine users) AND you only verify those bearer JWTs via the primary OIDC issuer/client details (not via an `--extra-jwt-issuers`) you will run into issues unless you explicity set `--user-id-claim` to `subject` (it's a weirdly named flag, its really talking about the Email session field...)

This PR

[2020-08-06 05:41] suhrm1 commented on #709
Thank you for the suggestions. I guess it is actually and ID Token, not Access Token. Still new to the whole OIDC business. But the Token payload decodes to what I looks more like an ID Token to my eyes:

[code]
But if I got your meaning in your [first comment](#issuecomment-669647154), `iss` and `aud` claims must be the same as `client_id` and `oidc_issuer_url` configuration parameters? Even if i

[2020-08-06 15:05] robbertvdg commented on #711
It is indeed an inline proxy, we have an istio ingressgateway that uses envoyfilters to manipulate headers. A request is routed to oauth2-proxy to obtain a token and for the check if the user is authenticated. The `static://200` is used for the envoyfilter, removing this did not change the observed behaviour.

For oauth-proxy v5.1.1 we see user information as `<user>@.. 200`. In v6.0.0 it is ` - -

[2020-08-06 16:01] NickMeves commented on #711
What happens when you use the `/oauth2/auth` built-in endpoint for the envoy filter instead of `static://200` as an upstream? And remove the upstream altogether (the `/oauth2/auth` endpoint is the ideal spot for auth checks from subrequests).

And what path are you requesting? No `--skip-auth-regex` or `--trusted-ips` or any setting like that? Only code paths that hit an upstream are `Proxy` (whic

[2020-08-06 16:35] NickMeves commented on #709
Use this field -- you can add as many iss=aud pairs as you'd like:

[code]

[2020-08-07 00:12] #374 closed

[2020-08-07 00:12] #306 closed

[2020-08-07 00:51] NickMeves commented on #713
Hey there,

I don't think this is possible at the moment. We are exploring the potential for rich authorization hierarchical rulesets where this may be possible, but that won't be available until at least our v7 release which is at least 2-3 months out.

This PR has started designing that archtiecture: https://github.com/oauth2-proxy/oauth2-proxy/pull/685

[2020-08-07 00:57] NickMeves commented on #707
`/oauth2/start` can take a `rd` redirect parameter to get you redirected back to the right spot.  I have something similar to the above using this annotation in a Kubernetes nginx ingress:

[code]

In my case, I'm hosting the oauth2 proxy on a separate domain, so I have `$host` in the `rd` parameter (and have `whitelist-domains` option set appropriately for the security precaution of a redirect to

[2020-08-07 06:39] suhrm1 commented on #709
Yes, I got it to work like that. I added the following to my config file:
```extra_jwt_issuers = "https://keycloak.sso.gwdg.de/auth/realms/academiccloud=account"```
i.e. `"{iss}={aud}"` as were provided by the ID Token.

 Thank you very much!

[2020-08-07 06:39] #709 closed

[2020-08-07 08:37] ba1dr commented on #707
Well, ok, but I do not manage `/oauth2/start` URL. Redirect is made by oauth2-proxy itself.
I only put `auth_request /oauth2/auth;` in nginx's config.
oauth2-proxy is in action where it receives a callback after google login. It looks like it does not handle it properly.

[2020-08-07 14:07] carrot-hub opened #716 "Azure provider does not let you to ask for approval"
## Current Behavior
When using Azure provider and having an application which requires admin consent before letting me through, the proxy does not even proceed to state when Azure offers me to ask administrator for approval.

The flow goes like this:
1) Sign in page.
2) Password page.
3) Page asksing me if I want to stay logged in.
4) Callback resulting in 500 internal server error.

## Expected B

[2020-08-07 16:39] NickMeves commented on #707
Try replacing this `error_page 401 = /oauth2/sign_in;` with `error_page 401 = /oauth2/start?rd=$escaped_request_uri`

[2020-08-07 17:23] ba1dr commented on #707
Thanks! That seems to work.

[2020-08-08 00:05] jemega opened #717 "[oauthproxy.go:871] Error loading cookied session"
I have implemented oauth2 proxy provider keycloak + Nginx ingress for an application hosted in AKS.

All the services in k8s are running well if I trying to reach the services through ingress works, but if I try to reach through an Application gateway + oauth2 proxy in the browser don't redirect to the correct URL and return a 500 Error

## Expected Behavior

Reach all the services in k8s throw Ap

[2020-08-08 09:22] JoelSpeed commented on #475
I'd still like to see this fixed at some point

[2020-08-08 09:40] #707 closed

[2020-08-08 09:52] JoelSpeed commented on #716
Is there any documentation from the Azure side on how this works? I imagine you have to add some extra parameter to the login url to enable this consent screen, that's how these things normally work at least

[2020-08-08 09:59] JoelSpeed commented on #713
This request doesn't really fit into the current design of the OAuth2 Proxy. The project is intended to be used to require authentication on a path or not, a middle ground of some users was never really considered.

You may be able to do something now by using the nginx auth_request module and having the auth request error page do nothing, you application would then handle the presence of the head

[2020-08-08 10:03] ba1dr commented on #713
Yes, I tried to do this with nginx too - to check for cookie or token in headers. I just thought if maybe there would be an easier way.
I've confused with nginx settings - config become very ugly with all these clauses.
You may keep this issue as a minor feature request or close if you do not plan to implement this feature. Thanks.

[2020-08-08 10:05] JoelSpeed commented on #711
For some context, Envoy requires a 200 response where `/oauth2/auth` responds with a 201. This is why the static responses were introduced, so that people could do the nginx auth request style flow with envoy filters.

@robbertvdg Is there any way you can simplify the set up a little to try and access the proxy while cutting out envoy? It would be good to narrow down where the issue is, eg, if you

[2020-08-08 10:08] JoelSpeed commented on #713
Does Nginx need to know if the user is authenticated or not? Surely you just want to inject the headers into the request to your upstream service, I would assume that could interpret the empty header as an anonymous user? (I'm making some assumptions here that this is something you reasonably control, and that it's not some off the shelf product 😅 )

[2020-08-08 10:18] ba1dr commented on #713
Well, theoretically there could be 3 possible cases as I see it:

* user clicks "log in" and succesfully obtains token/cookie
* user tries to log in, but fails by some reason (wrong credentials or not allowed user)
* new anonimous user

in case (2) when login not successful it would be useful to have some flag for the backend app to interpret it and show a warning maybe. If anonimous users are all

[2020-08-09 01:05] NickMeves commented on #717
Not positive if this is the issue, but 5.1.1 had a cookie secret padding bug that was fixed with this PR in v6.0.0: https://github.com/oauth2-proxy/oauth2-proxy/pull/556

Try doing `python -c 'import os,base64; print base64.b64encode(os.urandom(24))'`

24 bytes will base64 encode to 32 bytes.  So even if the base64 decoding padding bug rears its head, you end up with either 24 or 32 bytes, both of

[2020-08-10 07:08] carrot-hub commented on #716
Yes, it is described here: https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-oauth2-auth-code-flow

The problem is that if I put `prompt=consent` I need to approve every time I sign in.
I expect the flow to ask me for consent only in case I'm signing-in for the first time and then simply do not ask as the consent has been already granted (I can also see it in Azure AD, that I'm al

[2020-08-10 10:44] #475 closed

[2020-08-12 00:12] #479 closed

[2020-08-12 09:22] arianvp commented on #429
I'd say this is still relevant

[2020-08-12 10:36] rabbers commented on #429
I don't think that there is anything wrong in particular with the provider model because it allows provider implementations to be quite sparse in that they only have to define a handful of functions to repurpose the base provider.

In general though I'd like to put forward another opinion on this, which may be at odds with Joel's initial concern and guidance, but it seems to me that the problem is

[2020-08-12 12:51] gargath commented on #429
While I think @rabbers' suggestion is interesting, I'd advise caution when contemplating dynamically loading functionality at runtime.

This is a security product and allowing third-party code to be loaded at runtime in this way - regardless of whether it is precompiled libraries or scripts - opens up huge challenges.
Users will ultimately have to ensure that this code is not only safe from the so

[2020-08-12 14:32] robbertvdg commented on #711
I deployed an nginx ingress gateway and an additional oauth2-proxy to test whether it's a problem with Istio and Envoy. I managed to authenticate with keycloak and the rest seemed also fine. The `static://200` endpoint was not a problem, it still authenticated.

Do you have any idea what changes from v5.1.1 to v6.0.0 have any effect on this?

[2020-08-12 17:08] rabbers commented on #429
In terms of the code being late-bound rather than compiled in, I don't really think that there is a difference (except that late-bound has to be usable without the caller having full knowledge of the content). Consider that a new user can't just change oauth-proxy, they have to fork it. Forking the project and compiling in one piece for static binding has a similar level of risk for the end user a

[2020-08-12 17:24] jemega commented on #717
About the issue, I don't sure what happened, but with the following creation of cookie secrets works

`docker run -ti --rm python:3-alpine python -c 'import secrets,base64; print(base64.b64encode(base64.b64encode(secrets.token_bytes(16))));'`

[2020-08-12 17:24] #717 closed

[2020-08-12 18:52] gargath commented on #429
I think we have to be very clear about what we are proposing. I don't disagree with what you're saying. When the code gets compiled in makes little difference (although the use of Lua might tempt people to implement dynamic functionality like `haproxy`).
The real challenge I see is with the origin of that code.
If each provider is a separate library of some sort, maintained out-of-tree, then it is

[2020-08-12 18:59] rabbers commented on #429
Well @gargath, I'd only considered the notion of a derived provider working atop the base implementation. Indeed my view is that there could be hundreds of differing providers, but the only interaction would be between the configured provider and the base implementation. So the question has to be, is there any potential for a single oauth2-proxy instance to be installed with multiple active provid

[2020-08-13 00:12] #603 closed

[2020-08-13 00:12] #518 closed

[2020-08-13 00:12] #366 closed

[2020-08-13 16:03] JoelSpeed commented on #479
This should still be fixed at some point

[2020-08-14 08:55] JoelSpeed commented on #614
We will include this in the next major release

[2020-08-15 00:12] #423 closed

[2020-08-15 17:43] JoelSpeed commented on #429
So I think one of the main problems I have with the providers presently is the lack of testing they have. We have no idea if we are breaking the providers when we make changes. I think I would feel better about adding new providers if we had some sort of test suite for the providers that we could configure so that we can mock the providers.

I had considered suggesting a webhook integration for pr

[2020-08-15 17:50] JoelSpeed commented on #716
How do you mean? As in using Azure AD with some other OAuth2 client?

I suspect other clients use a cookie to track whether the user has authenticated before or not.

I wonder if this is an issue with other providers before, perhaps we need to have some sort of configuration for a prompt that can change depending if a consent cookie is present or not

[2020-08-15 18:08] JoelSpeed commented on #608
So with the changes that are being made to Helm and the charts repo being shut down, I agree, we are going to need to host something ourselves. Personally I think Kustomize is the way to go. I'm not a fan of Helm charts as they are limited and the "release" process is frustrating, as suggested by @maxbrunet.

I'm not sure about the jsonnet stuff, to me, jsonnet makes for an overly complicated file

[2020-08-15 18:15] JoelSpeed commented on #711
One detail I'm not 100% clear on from this decsription so far, is whether users are authenticated or not when they are making requests, does this behaviour happen if you start an incognito session and try to access your site?

Nothing springs to mind that might have changed between v5.1.1 and v6.0.0.

[2020-08-15 18:32] NickMeves commented on #608
As far as variety for options in the future - I could potentially help with maintenance of a Helm chart if we want one internal to the project. I've been using Helm myself to deploy this in a few places (my own versions, not the stable one here: https://github.com/helm/charts/tree/master/stable/oauth2-proxy)

Even though it has its warts, I agree with @SayakMukhopadhyay 's point about the market p

[2020-08-17 09:15] robbertvdg commented on #711
In incognito mode is the user not authenticated. Normal behaviour would redirect the user to the keycloak login page, with version v6.0.0 this step is skipped and a 200 OK returned. This leads to a missing token which denies access to our services.

[2020-08-18 13:32] dmahisingh opened #723 "Azure APIM to Oauth2 proxy"
## Context
Requesting for a suggestion -

As all our back end services are secured by oauth2 proxy with AuthProvider as Azure AD. Now we want to expose these services to downstream application via Azure APIM - so how should I authenticate the request coming from Azure APIM to oauth2 proxy?

My Azure APIM may go via oauth2 proxy to invoke application services and Azure APIM may not be able to authe

[2020-08-19 00:12] #607 closed

[2020-08-19 00:12] #611 closed

[2020-08-19 00:12] #456 closed

[2020-08-19 00:12] #600 closed

[2020-08-19 21:36] NickMeves opened #724 "Respect X-Forwarded-Host in OAuthStart's GetRedirectURI call"
oauthproxy.go explicitly uses `req.Host` as the hostname in `p.GetRedirectURI(req.Host)` before creating a LoginURL to redirect to.

In environments behind an API or access gateway, the `Host` header might be changed to the backend internal hostname and the original Host the client sent is set to the `X-Forwarded-Host`

This results in the post authentication final redirect attempting to redirect

[2020-08-20 00:12] #602 closed

[2020-08-20 10:13] donch opened #725 "Trying to secure ingress resources with oauth2-proxy / okta"
Hi,

I'm trying the latest version of oauth2-proxy with okta as an oidc provider to secure ingress resources (using nginx ingress controller v0.21.0 and Kubernetes 1.15)

## Expected Behavior

When i'm visiting an endpoint secured, i should be redirected to Okta, and be redirected to my resource once i'm logged in.

## Current Behavior

After the request from Okta to the URI /oauth2/callback, i'm

[2020-08-20 13:03] newtoworld999 opened #726 "How to retrieve new access token from the IDP"
Hi
We implemented the Oauth2 proxy with ingrss-nginx in AKS. When i give the application url oauth2 proxy is redirecting to the IDP login page and after authentication is done iam just displaying the user info and its working as expected. But IDP has set the access token expiry and once the access token is expired its redirecting again to the login page instead of just refreshing the access token

[2020-08-20 15:11] newtoworld999 opened #727 "How can we pass the url parameters to the backend application using oauth2 proxy"
Hi
we implemented the oauth2 proxy in AKS. APplication is working as expected when user clicks the link along with url there are additional parameters that are passed as url parameters is there any way we can pass the url parameters to the backend AKS app using oauth2 proxy configuration

[2020-08-21 07:06] xUnholy commented on #350
I'm looking into getting this done too, has anyone had much success? I'm using Istio 1.6.5

[2020-08-21 14:43] maxbischoff opened #728 "Support Google Cloud Identity Groups API for authorizing google group members."
## Expected Behavior

oauth2-proxy should support the new [Cloud Identity Groups API](https://gsuiteupdates.googleblog.com/2020/08/new-api-cloud-identity-groups-google.html) to validate groups of users authenticating via Google.

## Current Behavior

Currently only the Admin SDK is supported to validate the groups of a user according to [the documentation](https://oauth2-proxy.github.io/oauth2-pro

[2020-08-22 14:21] mildis opened #730 "dot prepend to domain when cookieDomain is specified"
## Expected Behavior
When setting `cookie_domains = "myapp.example.com"`, cookie domain should be set to `myapp.example.com`

## Current Behavior
* With `cookie_domains` unset
** the following message is displayed in the log
`[cookies.go:48] Warning: request host "myapp.example.com" did not match any of the specific cookie domains of
 ""`
** but the cookie domain as viewed from the browser is `mya

[2020-08-23 19:52] JoelSpeed commented on #546
I would still like to see this done

[2020-08-24 00:13] #618 closed

[2020-08-24 12:38] newtoworld999 commented on #726
this is the one deployed.
quay.io/oauth2-proxy/oauth2-proxy:Latest

[2020-08-24 12:41] newtoworld999 commented on #726
is there any way to session timeout similar to id token expiry time instead of access token expiry time in oauth2 proxy config?

[2020-08-24 16:36] rdecuir opened #731 "Once authorized by Oauth2-Proxy via Gitlab, every 120 seconds I have to sign back."
## Issue
I'm using NGINX as a reverse proxy with Oauth2-Proxy hitting a Gitlab instance for authentication.  Every 120 seconds from when I signed in last, I end up having to sign in again.

Workflow:
1.  Hit the proxy url and am prompted to log in using oauth2-proxy via "Sign in with Gitlab" button.
2.  Once I hit the button and enter my credentials I then am redirected to our splash page with a d

[2020-08-24 16:51] yene opened #732 "Sessions duration a bit too short on Azure"
We are using oauth2-proxy, and I noticed that I get logged out a bit too much.
Is it possible to increase the session duration on Azure?

Thank you for your time.

- Version used: 6.0.0

[2020-08-25 05:11] max-wittig commented on #634
This should not be closed.

[2020-08-25 06:00] r-kotagudem commented on #711
@robbertvdg
This is offtopic
Is {{ oauth2_proxy_port }} in deployment definition variable usage provided by helm?

[2020-08-25 06:55] robbertvdg commented on #711
No we use ansible and jinja

[2020-08-25 09:57] syscll commented on #634
@max-wittig fixed in #733 if you want to take a look.

[2020-08-25 13:35] salmanisd opened #734 "Whitelisting IP instead of domain"
I am running oauth2-proxy behind nginx webserver. The webserver has no domain name and can only be accessed through a local ip (e.g. 192.168.1.111).

Overall everything works fine apart from the unauthenticated redirects.
e.g) when i try to access <deviceip>/location1 in my browser ,I am redirected to the login screen. After loggin in I am redirected to the homepage instead of /location1. (due to

[2020-08-25 14:40] niraizik opened #735 "CORS preflight blocked when using with kubernetes auth-url"
When the browser send the a CORS preflight OPTIONS request it must send it without credentials.
the flag --skip-auth-preflight only work when using oauth2 as a proxy and not with nginx ingress external auth subrequest.

## Expected Behavior
When enabling the flag --skip-auth-preflight a preflight request should return 202 in /auth endpoint

## Current Behavior
preflight request are blocked when us

[2020-08-25 15:27] niraizik commented on #735
possible fix in https://github.com/niraizik/oauth2_proxy/tree/auth_preflight_pass

[2020-08-25 15:43] #634 closed

[2020-08-26 00:13] #626 closed

[2020-08-26 00:13] #388 closed

[2020-08-26 00:56] leopku commented on #199
Hi @sneko ,

I meet same confusion.

Did you have solutions?

[2020-08-26 00:59] r-kotagudem opened #736 "Error redeeming code during OAuth2 callback: token exchange: oauth2: cannot fetch token: 400 Bad Request"
Hi @JoelSpeed
We are seeing below error at  token exchange step.
[2020/08/25 18:05:16] [oauthproxy.go:798] Error redeeming code during OAuth2 callback: token exchange: oauth2: cannot fetch token: 400 Bad Request
Response: {"error":"invalid_request","error_description":"Invalid Domain","secondary_message":"Domain in request is missing"}

We had to pass below header with this request unless which we

[2020-08-26 03:10] SuperSandro2000 commented on #46
bump

[2020-08-26 07:48] silcowitz commented on #642
Sorry for the confusion here, I realize that I most likely did get the latest version using the command
`# GO111MODULE=on go get github.com/oauth2-proxy/oauth2-proxy`

Anyway, it would be great if the output of `oauth2-proxy --version` would provide the real version number or maybe the git rev. used, or at least in the HTML displayed when it's running (here it also says undefined, so it could cast

[2020-08-26 08:04] holyjak commented on #724
I have the same problem. My app is served via AWS CloudFront at myapp.example.com, the backend - protected by oauth - is running on AWS Fargate at api.example.com. The AWS Application Load Balancer sets `x-forwarded-host` to "myapp.example.com" while `host` is the internal "api.example.com".

I currently solve this by hardcoding `OAUTH2_PROXY_REDIRECT_URL="https://myapp.example.com/api/oauth2/call

[2020-08-26 09:14] donch commented on #725
Hi,

Thanks for your help.

Here is the oauth2 configuration we use :
`  configFile: |-
    provider = "oidc"
    redirect_url = "https://XXXXXX.kube.dm.gg/oauth2/callback"
    oidc_issuer_url = "https://dev-XXXXXX.okta.com"
    email_domains = "*"
    client_id = "XXXXX"
    client_secret = "XXXXX"
    pass_access_token = true
    cookie_secret = "XXXXX"
    skip_provider_button = true
    scope

[2020-08-26 09:36] segfault16 commented on #551
In my case the request header says `Accept: application/grpc-web-text`

[2020-08-26 10:53] loicoudot commented on #631
+1
We actually use keycloak-gatekeeper/louketo for now. We use the `addClaims` options to add jwt claims onto the upstream headers wich are used by istio for dynamic routing.

We definitively need this fonctionnality to be able to migrate to Oauth2-proxy.

[2020-08-26 16:00] tsiaGeorge commented on #735
Hi @niraizik. I'm dealing with the same issue. Do you have an estimate on when the relevant branch will be merged? Thank you in advance.

[2020-08-26 16:01] #731 closed

[2020-08-26 20:35] sarojkandel12 opened #738 "v6.0.0 docker release can't set cookies"
While deploying oauth2-proxy via the docker tagged image v6.0.0, I keep getting an error in Chrome console saying the "Set-Cookie header is ignored in response from url… Cookie length should be less than or equal to 4096 characters", and the browser redirects too many times and eventually errors out.

However, I cloned the latest repo and created a docker image (docker.io/sarojkandel/oauth2-proxy:

[2020-08-26 21:23] a8m opened #739 "Suggestions for implementing multi-tenancy proxy with Keycloak"
Hey! Thanks for this really useful project, you did an amazing work here!

I want to use it in one of my projects, but it's currently missing a functionality that blocks me from using it and I would like to hear if you have other suggestions for implementing my use case, or you're open for a feature request (that I'll implement of course).

I want to use this proxy in a multi-tenancy mode. The use

[2020-08-27 08:09] silcowitz opened #740 "go get github.com/oauth2-proxy/oauth2-proxy seem to install outdated version, maybe v3.2.0?"
## Expected Behavior

the go get command should build the latest stable/secure release. (or at least I think so)

## Current Behavior

Running

`GO111MODULE=on go get github.com/oauth2-proxy/oauth2-proxy`

builds an executable in /home/user/go/bin/oauth2-proxy that appears to be an outdated version.

## Possible Solution

I'm not knowledgeable on the go build system, so I don't know.

## Steps to

[2020-08-27 10:46] JoelSpeed commented on #727
Do you mean that the callback has additional parameters? Or do you just need to put some extra args into the request for every request to the upstream server? What sort of information is contained in these values?

[2020-08-27 10:50] JoelSpeed commented on #728
This looks like an interesting new API that they've released. I would definitely be in favour of us moving (if we can in a non-breaking way) to this new API. If we can't, we should look into a nice way to support both. I've configured this google group stuff myself in the past and agree, the current way is a bit of a pain. I think we need to do some more research into this new API.

The only conce

[2020-08-27 11:10] JoelSpeed commented on #740
So this seems to be related to https://github.com/golang/go/issues/35732

v3.2.0 is the latest version of our project that doesn't contain a go.mod file, so that is the last version that go.mod thinks is compatible with the import path `github.com/oauth2-proxy/oauth2-proxy`.

The solution to this is that we would have to rename the module every time we make a major release, so it would become `git

[2020-08-27 11:23] JoelSpeed commented on #730
There's two issues at hand here, firstly that log line shouldn't really be doing that. I think we need to move this line down a couple of lines so that it only logs that message if `len(cookieDomains) >0`
https://github.com/oauth2-proxy/oauth2-proxy/blob/d7abd56981c72ab71baf5429e5eefc7406c9677f/pkg/cookies/cookies.go#L48

Secondly, the fact the dot is being prepended, I can't see where in the code

[2020-08-27 11:32] JoelSpeed commented on #726
Please use a tagged version rather than `latest`, current release is `v6.0.0`. We may publish a breaking change to the `latest` tag at any point which would break your systems.

You can set the `--cookie-refresh` flag to match the time of your access token expiry, that should try to refresh the tokens at that point.

[2020-08-27 11:33] JoelSpeed commented on #731
@rdecuir Did you manage to work out your issue? Just wondering if you could post the solution in case anyone else comes across this at a later date

[2020-08-27 11:35] JoelSpeed commented on #732
Have you tried deploying refreshing of the tokens? You should be able to request a refresh token from Azure which would allow the proxy to refresh your session silently for you

[2020-08-27 11:38] JoelSpeed commented on #711
So to clarify, you used pretty much an identical config, except you used nginx instead, and everything authenticated as expected? And the static response page was working as expected, as we believe envoy needs it to respond?

I'm not an envoy expert, but perhaps they're expecting something else from the response that we changed, but I can't think of anything off the top of my head that would have

[2020-08-27 12:25] rdecuir commented on #731
Issue was using the prebuild binary oauth2-proxy-v6.0.0.linux-arm64.go1.14.2. Once I installed Git/Go and build the oauth2-proxy myself, it worked with my configurations and the sessions now last as long as the cookie is valid for.

I wanted to avoid installing git and go on my minimal VM, so I opted for the prebuild binary originally. Everything seemed to run as expected, up until noticing the ab

[2020-08-27 12:30] mildis commented on #730
@JoelSpeed Thanks for your feedback.
My apologies, I'm confused : it looks like this is an intended behavior as per https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Set-Cookie#Attributes

* If omitted, defaults to the host of the current document URL, not including subdomains.
* […] but if a domain is specified, then subdomains are always included.

[2020-08-27 12:30] #730 closed

[2020-08-27 13:52] JoelSpeed commented on #734
@salmanisd How are you setting the redirect location? Could you provide some more detail about your setup so that we can understand how your particular scenario is working

[2020-08-27 13:57] JoelSpeed commented on #736
Hi @r-kotagudem, I don't think we currently have this kind of ability, though it is something we could look into supporting.
Which provider are you using out of interest? (I assume OIDC)
Who/what is your identity provider?

[2020-08-27 14:00] JoelSpeed commented on #642
@silcowitz The version is injected by the build target in our makefile. If you use `make build` to build the binary, you will see a proper version number with git information if it is an untagged commit.

[2020-08-27 14:34] silcowitz commented on #642
@JoelSpeed Thanks I'll try that

[2020-08-27 14:38] r-kotagudem commented on #736
thanks for the reply.

It is Oracles oauth implementation. Oracle Access Manager 12c OAuth Services

[2020-08-27 14:41] silcowitz commented on #740
I'm not really sure what is the best solution here, but I can say that as somebody who just want to build/install oauth2-proxy and use it with the standard google account setup, I ended up trying to use the outdated version, while thinking I had the latest version.

So definitely, it's probably best to discourage the use of "go get" if it can't be ensured that it will build the latest release vers

[2020-08-27 14:49] JoelSpeed commented on #740
Agreed. Let's keep this issue open as a reminder that we need to update the docs and discourage this

[2020-08-27 15:30] RichiCoder1 commented on #608
As an avid fan of Helm post-v3, I'm biased in that we'd strongly prefer a helm chart as that simplifies deployment and configuration for us over kustomize/manifests. Would be willing to chip in too.

[2020-08-27 17:05] NickMeves commented on #725
Yeah - unfortunately nothing is jumping out at me as a misconfiguration. I'm a little stumped as to why you are seeing a 502 instead of a 302 like the logs say. I'm assuming something else in your stack potentially that I don't have visibility on?

[2020-08-28 08:28] robbertvdg commented on #711
Yes correct, we deployed an additional oauth2-proxy with the same configuration, but swapped out istio and envoy for nginx. I can try to debug it further if I have time.

[2020-08-28 09:34] JoelSpeed commented on #550
Still want to do this, not worked out how to make it work yet though

[2020-08-28 09:40] JoelSpeed commented on #551
I'm leaning towards an option that allows users to identify the request headers, it may be quite difficult to enumerate a standard set

[2020-08-28 09:44] JoelSpeed commented on #735
Could this not lead to a potential security issue?

If I were to `curl -H "X-Original-Method: OPTIONS" http://something.example.com/secure`, as a GET, would that not allow me to access the page even though I technically shouldn't?

Is there any way to handle this in NGINX directly?

[2020-08-28 09:46] JoelSpeed commented on #738
There were some fixes merged into master after the v6.0.0 release that I think will have helped with this. There was a problem with the way we were calculating the cookie size to cut on. Please try the official v6.1.0 release image that was published yesterday and see if this has the same issues

[2020-08-28 09:53] JoelSpeed commented on #725
It could be something to do with the headers coming back from the proxy being larger than the buffers in nginx, you could try setting a larger buffer and see if that helps? `proxy-buffer-size` is the options people normally change I think

[2020-08-28 09:59] JoelSpeed commented on #739
As an immediate workaround, could you not just deploy an instance of the OAuth2 Proxy for each of your tenants?

I'd be keen to find out how common this requirement is, if it's a must for the keycloak users then I definitely think we should find a solution. I think this templating idea is good, but I'd like to have a think for alternatives before we decide on an approach.

Would also be keen to he

[2020-08-28 12:28] PavelDemyanenko opened #743 "Why I can't access Keycloak behind ingress?"
I'm trying to follow up this example https://github.com/oauth2-proxy/oauth2-proxy/tree/master/contrib/local-environment/kubernetes but with Keycloak instead.

I want to deploy Keycloak in k8s cluster with kind and helm charts setup as in example. And having such config in my Values.yaml:

[code]

Where keycloak.localtest.me is in my dns hosts. Accessing nginx I see that keycloack configuration is